Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix
  internal/datacoord/compaction_trigger_v2.go
Due: Go

fix: rerank before requery if reranker didn't use field data (#44943)
  internal/proxy/search_pipeline.go
  internal/proxy/search_pipeline_test.go
Due: Go

enhance: optimize idf oracle sync logic (#44628)
  internal/querynodev2/delegator/idf_oracle.go
Due: Go

enhance: [2.6] update some annotations (#44953)
  internal/querynodev2/delegator/delegator_data.go
Due: Go

Fix bug for gis function to filter geometry
  internal/core/src/exec/expression/GISFunctionFilterExpr.h
  internal/core/src/segcore/FieldIndexing.cpp
Due: Core

test: update rba test cases 2 (#44954)
  tests/python_client/milvus_client/test_milvus_client_database.py
  tests/python_client/milvus_client/test_milvus_client_rbac.py
  tests/python_client/testcases/test_database.py
  tests/python_client/testcases/test_utility.py
Due: none

fix
  internal/datacoord/index_service.go
Due: Go

cp done
  internal/datacoord/index_service.go
Due: Go

fix: use eventual assertion for pending message check in replicate stream test
  internal/cdc/replication/replicatestream/replicate_stream_client_impl_test.go
Due: Go

fix seal
  internal/core/src/exec/expression/GISFunctionFilterExpr.h
Due: Core

test: add struct array testcases (#44940)
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
  tests/python_client/requirements.txt
Due: none

enhance: make ddl for resource group
  internal/querycoordv2/ddl_callbacks.go
  internal/querycoordv2/ddl_callbacks_resource_group.go
  internal/querycoordv2/meta/resource_group.go
  internal/querycoordv2/meta/resource_manager.go
  internal/querycoordv2/server.go
  internal/querycoordv2/services.go
Due: Go

fix: ut
  internal/querycoordv2/ddl_callbacks.go
  internal/querycoordv2/ddl_callbacks_resource_group.go
  internal/querycoordv2/meta/resource_manager.go
  internal/querycoordv2/meta/resource_manager_test.go
  internal/querycoordv2/services.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/proto/querypb/query_coord_grpc.pb.go
Due: Go

fix: ut2
  internal/querycoordv2/ddl_callbacks.go
  internal/querycoordv2/ddl_callbacks_alter_resource_group.go
  internal/querycoordv2/ddl_callbacks_drop_resource_group.go
  internal/querycoordv2/meta/resource_manager.go
  internal/querycoordv2/meta/resource_manager_test.go
  internal/querycoordv2/server_test.go
  internal/querycoordv2/services.go
  internal/querycoordv2/services_test.go
Due: Go

Ensure fulfill promise when CreateArrowFileSystem throw an exception
  internal/core/src/storage/StorageV2FSCache.cpp
Due: Core

[automated] Bump milvus version to v2.5.19 (#44766)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

enhance: Bump milvus & proto version to v2.6.4
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix: fix not equal not include None
  internal/core/src/exec/expression/UnaryExpr.cpp
Due: Core

fix: fix not equal not include None (#44960)
  internal/core/src/exec/expression/UnaryExpr.cpp
Due: Core

fix: [2.6] Fix deactivate balance checker also stops stopping balance (#44836)
  internal/querycoordv2/checkers/balance_checker.go
  internal/querycoordv2/checkers/balance_checker_test.go
Due: Go

fix: Disk encryption config missing (#44820) (#44839)
  internal/util/hookutil/cipher.go
  pkg/util/paramtable/cipher_config.go
Due: Go

enhance: Bump milvus & proto version to v2.6.4 (#44977)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix checker
  internal/core/src/storage/StorageV2FSCache.cpp
Due: Core

format
  internal/core/src/storage/StorageV2FSCache.cpp
Due: Core

enhance: [2.6]enable default json stats (#44811)
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
Due: Go

fix: update bitnami repo (#44955)
  build/ci/jenkins/DeployTest.groovy
  deployments/docker/dev/docker-compose.yml
Due: none

format
  internal/core/src/exec/expression/GISFunctionFilterExpr.h
Due: Core

Issue: #NA
  tests/python_client/milvus_client/test_milvus_client_query.py
Due: none

fix: [skip e2e]use eventual assertion for pending message check in replicate stream test (#44972)
  internal/cdc/replication/replicatestream/replicate_stream_client_impl_test.go
Due: Go

fix ci
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/UtilsMetadataTest.cpp
  internal/core/src/segcore/load_field_data_c.cpp
  internal/core/src/segcore/load_field_data_c_test.cpp
  internal/core/src/segcore/storagev1translator/ChunkTranslatorMetadataTest.cpp
  internal/core/src/storage/DataCodecTest.cpp
  internal/core/src/storage/Event.cpp
  internal/core/src/storage/Event.h
  internal/core/src/storage/EventDeprecatedFieldsTest.cpp
  internal/core/unittest/test_utils/storage_test_utils.h
  internal/storage/binlog_test.go
Due: Core, Go

enhance: Decouple log files from collection/partition/segment IDs
  internal/core/src/common/LoadInfo.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/Utils.cpp
  internal/core/src/segcore/Utils.h
  internal/core/src/segcore/UtilsMetadataTest.cpp
  internal/core/src/segcore/load_field_data_c.cpp
  internal/core/src/segcore/load_field_data_c.h
  internal/core/src/segcore/load_field_data_c_test.cpp
  internal/core/src/segcore/storagev1translator/ChunkTranslator.cpp
  internal/core/src/segcore/storagev1translator/ChunkTranslator.h
  internal/core/src/segcore/storagev1translator/ChunkTranslatorMetadataTest.cpp
  internal/core/src/storage/DataCodec.cpp
  internal/core/src/storage/DataCodec.h
  internal/core/src/storage/DataCodecTest.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/Event.cpp
  internal/core/src/storage/Event.h
  internal/core/src/storage/EventDeprecatedFieldsTest.cpp
  internal/core/src/storage/IndexData.cpp
  internal/core/src/storage/InsertData.cpp
  internal/core/src/storage/MemFileManagerImpl.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/datanode/index/task_index.go
  internal/datanode/index_services.go
  internal/datanode/index_services_test.go
  internal/querynodev2/segments/segment.go
  internal/storage/binlog_writer.go
  internal/storage/data_codec.go
  internal/storage/data_codec_test.go
  internal/storage/event_data.go
  internal/storage/event_writer.go
  internal/storage/index_data_codec.go
  internal/storage/index_data_codec_test.go
  internal/storage/print_binlog.go
  internal/storage/serde_events.go
  internal/util/segcore/requests.go
  internal/util/segcore/requests_test.go
Due: Core, Go

fix: Handle empty FieldsData in reduce/rerank for requery scenario
  internal/proxy/search_reduce_util.go
  internal/proxy/search_reduce_util_test.go
  internal/util/function/rerank/util.go
  internal/util/function/rerank/util_test.go
Due: Go
