Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

enhance: Add expr template values logging to access log
  internal/proxy/accesslog/info/grpc_info.go
  internal/proxy/accesslog/info/grpc_info_test.go
  internal/proxy/accesslog/info/info.go
  internal/proxy/accesslog/info/restful_info.go
  internal/proxy/accesslog/info/restful_info_test.go
Due: Go

Querynode collection meta cache protection
  internal/querynodev2/segments/collection.go
  internal/querynodev2/segments/collection_test.go
  internal/util/segcore/collection.go
  internal/util/segcore/collection_test.go
Due: Go

fix: Use base64 to encode not utf-8 bytes (#45655)
  internal/flushcommon/syncmgr/pack_writer_v2.go
  internal/querynodev2/segments/collection.go
  internal/storage/rw.go
  internal/util/hookutil/cipher.go
  internal/util/hookutil/cipher_test.go
Due: Go

update pymilvus to py1.7.0rc72 and fix async teardown logic
  tests/python_client/requirements.txt
  tests/python_client/testcases/async_milvus_client/test_collection_async.py
  tests/python_client/testcases/async_milvus_client/test_e2e_async.py
  tests/python_client/testcases/async_milvus_client/test_index_async.py
  tests/python_client/testcases/async_milvus_client/test_partition_async.py
Due: none

cp more async tests to 2.6
  tests/python_client/base/async_milvus_client_wrapper.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
  tests/python_client/testcases/async_milvus_client/test_collection_async.py
  tests/python_client/testcases/async_milvus_client/test_e2e_async.py
  tests/python_client/testcases/async_milvus_client/test_index_async.py
  tests/python_client/testcases/async_milvus_client/test_partition_async.py
Due: none

Update hybrid search test
  tests/python_client/milvus_client_v2/test_milvus_client_hybrid_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
Due: none

Update hybrid search test to milvus client style
  tests/python_client/base/client_v2_base.py
  tests/python_client/check/func_check.py
  tests/python_client/check/param_check.py
  tests/python_client/milvus_client_v2/test_milvus_client_hybrid_search_v2.py
Due: none

Remove useless lines of code
  tests/python_client/base/client_base.py
  tests/python_client/testcases/async_milvus_client/test_e2e_async.py
Due: none

cp milvus client hybird search tests to 2.6
  tests/python_client/pytest.ini
  tests/python_client/testcases/async_milvus_client/test_e2e_async.py
Due: none

fix: populate index info after segment loading to prevent redundant load tasks (#45803)
  internal/querynodev2/segments/segment_loader.go
Due: Go

enhance: integrate StorageV2 FFI interface for manifest-based segment loading
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/arrow_fs_c.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.h
  internal/core/src/storage/FileManager.h
  internal/core/src/storage/loon_ffi/util.cpp
  internal/core/src/storage/loon_ffi/util.h
  internal/util/segcore/segment.go
  pkg/proto/segcore.proto
  pkg/proto/segcorepb/segcore.pb.go
Due: Core, Go

Move singleton to ffi directory
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/arrow_fs_c.cpp
  internal/core/src/storage/loon_ffi/property_singleton.h
Due: Core

fix: keep memory state consistent when recovering broadcast task from proto (#45787)
  internal/streamingcoord/server/broadcaster/broadcast_task.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

fix: [cp26]Use base64 to encode not utf-8 bytes (#45656)
  internal/flushcommon/syncmgr/pack_writer_v2.go
  internal/querynodev2/segments/collection.go
  internal/storage/rw.go
  internal/util/hookutil/cipher.go
  internal/util/hookutil/cipher_test.go
Due: Go

fix: keep memory state consistent when recovering broadcast task from proto (#45788)
  internal/streamingcoord/server/broadcaster/broadcast_task.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

support use pinyin filter
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.toml
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/filter.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/mod.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/pinyin_filter.rs
Due: Core

Expr Ranker/Wasm Reranker on QueryNode
  internal/proxy/task_search.go
  internal/querynodev2/handlers.go
  internal/querynodev2/segments/result.go
  internal/util/function/rerank/expr_function.go
  internal/util/function/rerank/function_score.go
  internal/util/function/rerank/function_score_test.go
  internal/util/function/rerank/segment_rerank.go
  internal/util/function/rerank/segment_rerank_test.go
  internal/util/function/rerank/wasm_function.go
  internal/util/function/rerank/wasm_function_test.go
  internal/util/reduce/reduce_info.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
Due: Go

Adds observability for the rerankers -latency and error, optimizes the the expr reranker implementaton by caching the ast. Bugfix in the implementation of the sorting from the new rerankers.
  internal/querynodev2/segments/collection.go
  internal/util/function/rerank/ast_field_analysis.go
  internal/util/function/rerank/ast_field_analysis_test.go
  internal/util/function/rerank/decay_function.go
  internal/util/function/rerank/expr_function.go
  internal/util/function/rerank/expr_function_memory_test.go
  internal/util/function/rerank/expr_function_test.go
  internal/util/function/rerank/function_score.go
  internal/util/function/rerank/model_function.go
  internal/util/function/rerank/registry.go
  internal/util/function/rerank/rrf_function.go
  internal/util/function/rerank/wasm_function.go
  internal/util/function/rerank/wasm_function_memory_test.go
  internal/util/function/rerank/weighted_function.go
  pkg/metrics/proxy_metrics.go
  pkg/metrics/querynode_metrics.go
  pkg/metrics/rerank_metrics.go
Due: Go

Modifies the Docker files to prebuild libiberty on the env docker.
  build/docker/builder/cpu/amazonlinux2023/Dockerfile
  build/docker/builder/cpu/rockylinux8/Dockerfile
  build/docker/builder/cpu/ubuntu20.04/Dockerfile
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/gpu/ubuntu20.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
Due: none

Specifies the LIBIBERTY_RREV so docker can create the specific conan deployed libiberty revision.
  build/docker/builder/cpu/amazonlinux2023/Dockerfile
  build/docker/builder/cpu/rockylinux8/Dockerfile
  build/docker/builder/cpu/ubuntu20.04/Dockerfile
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/gpu/ubuntu20.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
Due: none

Fixes issues with the query node ranker
  client/milvusclient/expr_impl/expr_match.go
  internal/proxy/impl.go
  internal/proxy/search_pipeline.go
  internal/proxy/task_search.go
  internal/querynodev2/handlers.go
  internal/querynodev2/segments/result.go
  internal/querynodev2/services.go
  internal/util/function/rerank/ast_field_analysis.go
  internal/util/function/rerank/expr_function.go
  internal/util/function/rerank/expr_function_test.go
  internal/util/function/rerank/segment_rerank.go
  internal/util/function/rerank/wasm_function.go
Due: Client, Go

go fmt fix
  internal/util/function/rerank/expr_function_memory_test.go
  pkg/metrics/querynode_metrics.go
Due: Go

Fixes the broken Query Node reranking.
  client/milvusclient/expr_impl/expr_match.go
  internal/proxy/task_search.go
  internal/util/function/rerank/expr_function.go
  internal/util/function/rerank/function_score.go
  internal/util/function/rerank/segment_rerank.go
Due: Client, Go

Bug fix: See https://github.com/milvus-io/milvus/issues/45425
  client/milvusclient/expr_impl/expr_match.go
  pkg/util/paramtable/component_param.go
Due: Client, Go

Weighted Ranker -lexical search with min should match
  client/milvusclient/expr_impl/expr_match.go
  internal/util/function/rerank/util.go
Due: Client, Go

Additonal Fixes to the test
  client/milvusclient/expr_impl/expr_match.go
Due: Client

Another test fix
  client/milvusclient/expr_impl/expr_match.go
Due: Client

Adds example on how to use miltiple rerankers.
  client/milvusclient/expr_impl/expr_match.go
Due: Client

Bug fix: -Nil Check
  internal/proxy/search_pipeline.go
  internal/util/function/rerank/function_score.go
Due: Go

Adds support for Query Node execution of Expr Ranker for Hybrid Search.
  client/milvusclient/expr_impl/expr_match.go
  internal/proxy/task_search.go
  internal/querynodev2/segments/result.go
Due: Client, Go

Add reranker WASM test files from v2.6.4-patched-251031
  tests/reranker_wasm/rust_reranker/Cargo.toml
  tests/reranker_wasm/rust_reranker/README.md
  tests/reranker_wasm/rust_reranker/src/lib.rs
  tests/reranker_wasm/rust_reranker_with_fields/Cargo.toml
  tests/reranker_wasm/rust_reranker_with_fields/src/lib.rs
Due: none

Update Go dependencies for wasmtime support
  go.mod
  go.sum
Due: none

Remove debug logging from JsonFlatIndex
  internal/core/src/index/JsonFlatIndex.h
Due: Core

Proto regenerated
  pkg/proto/internalpb/internal.pb.go
Due: none

enhance: [2.6] add ScalarFieldProto& overload to avoid unnecessary copies (#45742)
  internal/core/src/common/Array.h
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

add text_match_count func
  internal/util/function/rerank/expr_function.go
  internal/util/function/rerank/expr_function_test.go
Due: Go

remove excessive logging
  internal/util/function/rerank/expr_function.go
Due: Go

fix go hash
  go.mod
Due: none

Update aysnc test error msg
  tests/python_client/testcases/async_milvus_client/test_index_async.py
Due: none
