Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

feat: impl StructArray -- support diskann index [2.6] (#45234)
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/Meta.h
  internal/core/src/index/VectorDiskIndex.cpp
  internal/core/src/index/VectorDiskIndex.h
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/DiskFileManagerImpl.h
  internal/core/thirdparty/knowhere/CMakeLists.txt
  internal/core/unittest/test_storage_v2_index_raw_data.cpp
Due: Core

fix: support upgrading from 2.5.x -> 2.6.5
  cmd/roles/roles.go
Due: none

fix: Skip create tmp dir for growing R-Tree index (#45256)
  internal/core/src/index/RTreeIndex.cpp
  internal/core/src/index/RTreeIndex.h
  internal/core/src/segcore/FieldIndexing.cpp
Due: Core

fix: support upgrading from 2.6.x -> 2.6.5
  internal/rootcoord/root_coord_test.go
Due: Go

enhance: Wait for replicate stream client to finish (#45259)
  internal/cdc/controller/controller_test.go
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/cdc/replication/replicatestream/mock_replicate_stream_client.go
  internal/cdc/replication/replicatestream/replicate_stream_client.go
  internal/cdc/replication/replicatestream/replicate_stream_client_impl.go
Due: Go

enhance: [2.6] Wait for replicate stream client to finish (#45260)
  internal/cdc/controller/controller_test.go
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/cdc/replication/replicatestream/mock_replicate_stream_client.go
  internal/cdc/replication/replicatestream/replicate_stream_client.go
  internal/cdc/replication/replicatestream/replicate_stream_client_impl.go
Due: Go

fix: avoid potential race conditions when updating the executor (#45230)
  internal/core/src/storage/FileWriter.h
Due: Core

fix: milvus role cannot stop at initializing state
  cmd/roles/roles.go
Due: none

fix: kafka should auto reset the offset from earliest to read (#45237)
  pkg/streaming/walimpls/impls/kafka/builder.go
Due: Go

enhance: [StorageV2] Refactor binlog reader with FFI packed reader integration
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/datanode/compactor/mix_compactor_test.go
  internal/storage/rw.go
  internal/storage/rw_test.go
  internal/storage/serde_events.go
  internal/storagev2/packed/packed_reader_ffi.go
  internal/storagev2/packed/type.go
Due: Core, Go

test: support e2e-amd helm in gcp milvus cluster (#45175)
  tests/_helm/values/e2e/distributed-pulsar
  tests/_helm/values/e2e/standalone
  tests/_helm/values/e2e/standalone-kafka-mmap
  tests/_helm/values/e2e/standalone-one-pod
  tests/_helm/values/nightly/distributed-kafka
  tests/_helm/values/nightly/distributed-pulsar-mmap
  tests/_helm/values/nightly/distributed-woodpecker
  tests/_helm/values/nightly/standalone-authentication-mmap
  tests/_helm/values/nightly/standalone-one-pod
Due: none

fix: support upgrading from 2.6.x -> 2.6.5
  internal/datacoord/index_service_test.go
  internal/mocks/streamingcoord/server/mock_balancer/mock_Balancer.go
  internal/querycoordv2/services_test.go
  internal/rootcoord/root_coord_test.go
  internal/streamingcoord/server/balancer/balancer.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/broadcaster/broadcast/singleton.go
  internal/streamingcoord/server/service/assignment_test.go
  internal/streamingcoord/server/service/broadcast_test.go
  pkg/common/version.go
Due: Go

fix: lost parameter checker of ddl
  internal/rootcoord/ddl_callbacks_alter_collection_name.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_database.go
Due: Go

test: added test case for partial update on duplicate pk (#45130)
  tests/python_client/milvus_client/test_milvus_client_partial_update.py
  tests/python_client/milvus_client/test_milvus_client_upsert.py
Due: none

fix: [2.6] Initialize timestamp range in composite binlog writer
  internal/storage/serde_events.go
Due: Go

enhance: Support JSONL/NDJSON files for bulkinsert (#44602) (#44717)
  internal/util/importutilv2/json/reader.go
  internal/util/importutilv2/json/reader_test.go
  internal/util/importutilv2/reader.go
  internal/util/importutilv2/reader_test.go
  internal/util/importutilv2/util.go
Due: Go

fix:[2.6] avoid potential race conditions when updating the executor (#45232)
  internal/core/src/storage/FileWriter.h
Due: Core

Fix naming lint issue
  internal/storagev2/packed/packed_reader_ffi.go
Due: Go

update knowhere version
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

test: add geometry datatype in import testcases (#45014)
  tests/python_client/common/bulk_insert_data.py
  tests/python_client/common/common_func.py
  tests/python_client/testcases/test_bulk_insert.py
Due: none

enhance: [2.6] set schema version when creating new collection (#45263) (#45269)
  internal/querynodev2/segments/collection.go
Due: Go

fix: [2.5]Skip create tmp dir for growing R-Tree index (#45258)
  internal/core/src/index/RTreeIndex.cpp
  internal/core/src/index/RTreeIndex.h
  internal/core/src/segcore/FieldIndexing.cpp
  internal/core/unittest/test_expr.cpp
Due: Core

fix: [2.6] Skip create tmp dir for growing R-Tree index (#45257)
  internal/core/src/index/RTreeIndex.cpp
  internal/core/src/index/RTreeIndex.h
  internal/core/src/segcore/FieldIndexing.cpp
Due: Core

test: add struct array testcases (#44973)
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
Due: none

fix: support upgrading from 2.6.x to 2.6.5 (#45264)
  internal/datacoord/index_service_test.go
  internal/mocks/streamingcoord/server/mock_balancer/mock_Balancer.go
  internal/querycoordv2/services_test.go
  internal/rootcoord/root_coord_test.go
  internal/streamingcoord/server/balancer/balancer.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/broadcaster/broadcast/singleton.go
  internal/streamingcoord/server/service/assignment_test.go
  internal/streamingcoord/server/service/broadcast_test.go
  pkg/common/version.go
Due: Go

enhance: make knowhere thread pool config refreshable (#45190)
  internal/util/initcore/init_core.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: etcd data persistence by adding --data-dir parameter (#45200)
  deployments/docker/dev/docker-compose-apple-silicon.yml
Due: none

fix: [2.6] Initialize timestamp range in composite binlog writer (#45283)
  internal/storage/serde_events.go
Due: Go

Set the UsedDiskMemoryRatioAisaq to be 1/64
  internal/querynodev2/segments/index_attr_cache_test.go
  internal/querynodev2/segments/segment_loader.go
Due: Go

fix: ddl framework bug patch
  internal/datacoord/index_meta.go
  internal/datacoord/index_meta_test.go
  internal/datacoord/index_service.go
  internal/querycoordv2/job/job_load.go
  internal/streamingcoord/server/broadcaster/ack_callback_scheduler.go
  internal/streamingcoord/server/broadcaster/tombstone_scheduler.go
Due: Go

enhance: [GoSDK] Support struct array field type
  client/column/columns.go
  client/column/struct.go
  client/column/struct_test.go
  client/entity/common.go
  client/entity/field.go
  client/entity/field_test.go
  client/entity/schema.go
  client/entity/schema_test.go
  client/milvusclient/mock_milvus_server_test.go
Due: Client

fix: alter collection failed with MMAP setting for STRUCT (#45173)
  internal/metastore/model/struct_field.go
  internal/querycoordv2/task/utils.go
  internal/rootcoord/alter_collection_task.go
  pkg/common/common.go
Due: Go

enhance: rename jsonstats related user config params (#45254)
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
Due: Go

fix: alter collection failed with MMAP setting for STRUCT [2.6] (#45240)
  internal/metastore/model/struct_field.go
  internal/querycoordv2/task/utils.go
  internal/rootcoord/alter_collection_task.go
  pkg/common/common.go
Due: Go

fix: Compute the correct batch size for the geometry index of the growing segment (#45253)
  internal/core/src/exec/expression/Expr.h
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
