Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

test: fix checker function name and release mistake and add nullable
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/testcases/test_all_collections_after_chaos.py
  tests/python_client/common/common_func.py
Due: none

storage v2 packed binlog reader and writer
  Makefile
  client/go.mod
  internal/datanode/compaction/clustering_compactor_test.go
  internal/datanode/compaction/l0_compactor_test.go
  internal/datanode/compaction/mix_compactor_test.go
  internal/indexnode/task_stats_test.go
  internal/mocks/flushcommon/mock_util/mock_binlogio.go
  internal/storage/rw.go
  internal/storage/rw_test.go
  internal/storage/serde_events_v2.go
  internal/storage/serde_events_v2_test.go
  internal/storagecommon/column_group_splitter.go
  internal/storagecommon/column_group_splitter_test.go
  internal/storagev2/packed/packed_test.go
  internal/storagev2/packed/packed_writer.go
Due: Client, Go

test: add concurrent index creation verification
  tests/restful_client_v2/testcases/test_index_operation.py
Due: none

test: update cases for error message
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/testcases/async_milvus_client/test_partition_async.py
  tests/python_client/testcases/test_collection.py
  tests/python_client/testcases/test_index.py
  tests/python_client/testcases/test_query.py
  tests/python_client/testcases/test_search.py
Due: none

refine ut 2
  pkg/mq/msgdispatcher/client_test.go
  pkg/mq/msgdispatcher/manager.go
  pkg/mq/msgdispatcher/mock_test.go
Due: Go

enhance: remove redundant resource key watch operation, just keep consistency of wal
  internal/distributed/streaming/broadcast.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/streaming_test.go
  internal/distributed/streaming/wal_test.go
  internal/proxy/impl.go
  internal/streamingcoord/client/broadcast/broadcast_impl.go
  internal/streamingcoord/client/broadcast/broadcast_test.go
  internal/streamingcoord/client/broadcast/grpc_watcher.go
  internal/streamingcoord/client/broadcast/grpc_watcher_test.go
  internal/streamingcoord/client/broadcast/watcher.go
  internal/streamingcoord/client/broadcast/watcher_resuming.go
  internal/streamingcoord/client/broadcast/watcher_resuming_test.go
  internal/streamingcoord/client/client.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/broadcast_task.go
  internal/streamingcoord/server/broadcaster/broadcaster.go
  internal/streamingcoord/server/broadcaster/broadcaster_impl.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
  internal/streamingcoord/server/broadcaster/metrics.go
  internal/streamingcoord/server/broadcaster/watcher.go
  internal/streamingcoord/server/service/broadcast.go
  internal/streamingcoord/server/service/broadcast/broadcast_watch_grpc_server_helper.go
  internal/streamingcoord/server/service/broadcast/broadcast_watch_server.go
  internal/streamingcoord/server/service/broadcast/broadcast_watch_test.go
  pkg/metrics/streaming_service_metrics.go
  pkg/mocks/proto/mock_streamingpb/mock_StreamingCoordBroadcastServiceClient.go
  pkg/mocks/proto/mock_streamingpb/mock_StreamingCoordBroadcastService_WatchClient.go
  pkg/mocks/proto/mock_streamingpb/mock_StreamingCoordBroadcastService_WatchServer.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/proto/streamingpb/streaming_grpc.pb.go
Due: Go

fix: main dispatcher not terminate cause messsage stream leak. (#40061)
  pkg/mq/msgdispatcher/client_test.go
  pkg/mq/msgdispatcher/manager.go
Due: Go

test: update text empty percent in go client fts test
  tests/go_client/testcases/full_text_search_test.go
Due: none

fix: Fix collections with duplicate names can be created (#40143)
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/create_collection_task_test.go
  internal/rootcoord/drop_collection_task.go
  internal/rootcoord/drop_collection_task_test.go
  tests/python_client/milvus_client/test_milvus_client_alias.py
  tests/python_client/milvus_client/test_milvus_client_search_interator.py
  tests/python_client/testcases/test_alias.py
  tests/python_client/testcases/test_query.py
Due: Go

enhance: Add configuration file detection functionality to the scripts/standalone_embed script.
  scripts/standalone_embed.bat
  scripts/standalone_embed.sh
Due: none

enhance: Add metrics for proxy queue (#40070)
  internal/proxy/task_scheduler.go
  pkg/metrics/metrics.go
  pkg/metrics/proxy_metrics.go
Due: Go

enhance: Bump milvus &proto version to v2.4.23
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
Due: Client, Go

fix: Set task version for stats task (#40035)
  internal/datacoord/garbage_collector.go
  internal/datacoord/job_manager.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
Due: Go

fix: Skip text index creation when segment is zero after sorting (#39962)
  internal/indexnode/index_test.go
  internal/indexnode/indexnode_test.go
  internal/indexnode/task_stats.go
Due: Go

update test
  pkg/mq/msgdispatcher/client_test.go
  pkg/mq/msgdispatcher/dispatcher.go
  pkg/mq/msgdispatcher/mock_test.go
Due: Go

code format
  pkg/mq/msgdispatcher/client_test.go
Due: Go

fix conflict
  internal/proxy/task_delete.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  pkg/metrics/proxy_metrics.go
Due: Go

fix reader api
  Makefile
  internal/storage/rw.go
  internal/storage/rw_test.go
  internal/storage/serde_events_v2.go
  internal/storage/serde_events_v2_test.go
  internal/storagev2/packed/packed_reader.go
  internal/storagev2/packed/packed_test.go
Due: Go

fix: add missing OS_NAME variable in build script for Linux
  scripts/3rdparty_build.sh
Due: none

write only one chunk
  internal/storage/rw_test.go
  internal/storage/serde_events_v2.go
Due: Go

enhance: clean shard location cache after collection released (#40228)
  internal/querycoordv2/job/job_release.go
  internal/querycoordv2/job/job_test.go
  internal/querycoordv2/services_test.go
Due: Go

enhance: clean shard location cache after collection released (#40088)
  internal/querycoordv2/job/job_release.go
  internal/querycoordv2/job/job_test.go
  internal/querycoordv2/services_test.go
Due: Go

Fix bug where perfix matching fails when wildcards are in prefix
  internal/parser/planparserv2/pattern_match.go
  internal/parser/planparserv2/pattern_match_test.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

fix comment
  internal/parser/planparserv2/pattern_match.go
Due: Go

Update get index params method
  tests/python_client/common/common_func.py
  tests/python_client/common/common_type.py
  tests/python_client/conftest.py
  tests/python_client/load/test_workload.py
  tests/python_client/milvus_client/test_milvus_client_index.py
  tests/python_client/testcases/test_collection.py
  tests/python_client/testcases/test_index.py
  tests/python_client/testcases/test_partition.py
  tests/python_client/testcases/test_search.py
  tests/python_client/utils/util_pymilvus.py
Due: none

test: add phrase match test in go client
  tests/go_client/testcases/helper/data_helper.go
  tests/go_client/testcases/helper/field_helper.go
  tests/go_client/testcases/phrase_match_test.go
Due: none

test: fix checker function name, release mistake and add nullable (#40092)
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/testcases/test_all_collections_after_chaos.py
  tests/python_client/common/common_func.py
Due: none

test: [cherry-pick]add concurrent index creation verification (#40175)
  tests/restful_client_v2/testcases/test_index_operation.py
Due: none

update ut
  pkg/mq/msgdispatcher/mock_test.go
Due: none

Limit the speed of the generating stats task
  internal/datacoord/job_manager.go
  internal/datacoord/task_scheduler.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

sparate trigger stats task with invisible and visible segments
  internal/datacoord/job_manager.go
Due: Go

[skip e2e] Add standalone_embed.sh into requirement
  scripts/standalone_embed.bat
  scripts/standalone_embed.sh
Due: none

split column group by average row size
  internal/storage/rw.go
  internal/storage/rw_test.go
  internal/storage/serde_events_v2.go
  internal/storagecommon/column_group_splitter.go
  internal/storagecommon/column_group_splitter_test.go
Due: Go

enhance: refine variable-length-type memory usage(#38736) (#39578)
  internal/core/src/common/Chunk.cpp
  internal/core/src/common/Chunk.h
  internal/core/src/common/ChunkTarget.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/common/Common.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/mmap/Column.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/core/src/storage/PayloadReader.cpp
  internal/core/unittest/test_chunk.cpp
  internal/core/unittest/test_chunked_segment.cpp
Due: Core

fix: Change CMake variable for switch to knowhere-cuvs (#40105)
  .gitignore
  README.md
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

enhance: remove general capacity and add partition limit
  configs/milvus.yaml
  internal/rootcoord/constrant.go
  internal/rootcoord/constrant_test.go
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/create_collection_task_test.go
  internal/rootcoord/create_partition_task.go
  internal/rootcoord/create_partition_task_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/mocks/meta_table.go
  pkg/util/merr/utils.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/quota_param.go
Due: Go

Update all contributors
  README.md
  README_CN.md
Due: none

add ut
  internal/storage/rw_test.go
  internal/storage/serde_events_v2.go
  internal/storagecommon/column_group_splitter_test.go
Due: Go

enhance: Add metrics for parse expression (#39654)
  internal/proxy/task_delete.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  pkg/metrics/proxy_metrics.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
