Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

enhance: enable cipher for streaming message (#40659)
  pkg/.mockery_pkg.yaml
  pkg/mocks/github.com/milvus-io/milvus-proto/go-api/v2/mock_hook/mock_Cipher.go
  pkg/mocks/github.com/milvus-io/milvus-proto/go-api/v2/mock_hook/mock_Decryptor.go
  pkg/mocks/github.com/milvus-io/milvus-proto/go-api/v2/mock_hook/mock_Encryptor.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/streaming/util/message/broadcast.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/cipher.go
  pkg/streaming/util/message/message_id_test.go
  pkg/streaming/util/message/message_impl.go
  pkg/streaming/util/message/message_test.go
  pkg/streaming/util/message/message_type.go
  pkg/streaming/util/message/properties.go
  pkg/streaming/util/message/specialized_message.go
  pkg/streaming/util/message/txn_test.go
Due: Go

fix: timetick interceptor panics when closing write ahead buffer (#40970)
  internal/streamingnode/server/wal/interceptors/timetick/timetick_sync_operator.go
Due: Go

enhance: Optimize datacoord meta mutex (#40552)
  internal/datacoord/compaction_policy_clustering_test.go
  internal/datacoord/compaction_policy_single_test.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/index_meta.go
  internal/datacoord/index_service_test.go
  internal/datacoord/job_manager_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/server_test.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/datacoord/sync_segments_scheduler_test.go
  internal/datacoord/task_scheduler_test.go
Due: Go

fix: correct WithGroupSize while reducing (#40888)
  internal/querynodev2/handlers.go
Due: Go

fix: Fix delete data loss due to duplicate binlogID (#40960)
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_l0_test.go
  internal/datacoord/compaction_task_mix.go
  internal/datacoord/compaction_task_mix_test.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/compaction_util.go
  internal/datacoord/meta.go
  internal/datacoord/mock_compaction_meta.go
  internal/datacoord/task_stats.go
  internal/datanode/compactor/clustering_compactor.go
  internal/datanode/compactor/clustering_compactor_storage_v2_test.go
  internal/datanode/compactor/clustering_compactor_test.go
  internal/datanode/compactor/l0_compactor.go
  internal/datanode/compactor/l0_compactor_test.go
  internal/datanode/compactor/merge_sort.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/mix_compactor_test.go
  internal/datanode/services.go
  internal/datanode/services_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

enhance: Support detailed manual compaction criterion (#40892)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  internal/datacoord/.mockery.yaml
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/mock_trigger.go
  internal/datacoord/server_test.go
  internal/datacoord/services.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix: [GoSDK] Set nullable according to fieldSchema for RowBased insert (#40928)
  client/column/columns.go
  client/column/generic_base.go
  client/column/generic_base_test.go
  client/column/nullable.go
  client/column/nullable_test.go
  client/row/data.go
Due: Client

test: update text empty percent in go client fts test (#40009)
  tests/go_client/testcases/full_text_search_test.go
Due: none

enhance: add detailed stack for error message (#40883)
  internal/core/src/common/EasyAssert.h
  internal/core/src/exec/Driver.cpp
  internal/querynodev2/delegator/exclude_info.go
Due: Core, Go

test: test mix scenes support batch insertion (#40872)
  tests/python_client/common/common_func.py
  tests/python_client/testcases/test_mix_scenes.py
Due: none

fix:fix exception when do arith expr with using index (#40794)
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  tests/python_client/testcases/test_mix_scenes.py
Due: Core

doc: README.md: has->have (#40152)
  README.md
Due: none

Update README.md
  README.md
Due: none

enhance: make segment prune config refreshable (#40539)
  pkg/util/paramtable/component_param.go
Due: Go

fix: Fix json index not equal filter (#40647)
  internal/core/src/common/JsonCastType.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexFactory.h
  internal/core/src/index/IndexInfo.h
  internal/core/src/index/JsonInvertedIndex.cpp
  internal/core/src/indexbuilder/ScalarIndexCreator.cpp
  internal/core/src/segcore/load_index_c.cpp
  internal/core/unittest/test_expr.cpp
  internal/datacoord/index_service_test.go
  internal/proxy/task_index.go
  internal/proxy/task_index_test.go
  internal/util/indexparamcheck/inverted_checker.go
  internal/util/indexparamcheck/inverted_checker_test.go
  tests/python_client/milvus_client/test_milvus_client_index.py
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/testcases/test_index.py
Due: Core, Go

enhance: Balance the collection with the largest row count first (#40297)
  internal/querycoordv2/checkers/balance_checker.go
  internal/querycoordv2/checkers/balance_checker_test.go
  internal/querycoordv2/meta/mock_target_manager.go
  internal/querycoordv2/meta/target.go
  internal/querycoordv2/meta/target_manager.go
  internal/querycoordv2/meta/target_manager_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: Fix L0 segment retention and improve delete buffer logging (#40884)
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/deletebuffer/delete_buffer.go
  internal/querynodev2/delegator/deletebuffer/delete_buffer_test.go
  internal/querynodev2/delegator/deletebuffer/list_delete_buffer.go
  internal/querynodev2/delegator/deletebuffer/list_delete_buffer_test.go
  internal/querynodev2/delegator/delta_forward_test.go
  internal/querynodev2/services.go
Due: Go

test: add phrase match test in go client (#39782)
  tests/go_client/common/utils.go
  tests/go_client/testcases/helper/data_helper.go
  tests/go_client/testcases/helper/field_helper.go
  tests/go_client/testcases/phrase_match_test.go
Due: none

enhance: Aligning Etcd and MinIO versions in Docker Compose (#40857)
  deployments/docker/cluster-distributed-deployment/roles/deploy-etcd/tasks/main.yml
  tests/python_client/deploy/cluster/docker-compose.yml
  tests/python_client/deploy/standalone/docker-compose.yml
Due: none

enhance: add utf8 check for all varchar field (#40670)
  internal/proxy/util.go
Due: Go

enhance: not build lindera features by default and support make milvus with tantivy features (#40813)
  Makefile
  internal/core/thirdparty/tantivy/CMakeLists.txt
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.toml
  internal/querynodev2/delegator/delegator_data_test.go
  scripts/core_build.sh
Due: Core, Go

test: remove xfail of test_alter_database_properties (#40913)
  tests/restful_client_v2/testcases/test_database_operation.py
Due: none

test: update sdk version and test cases (#40859)
  tests/python_client/milvus_client/test_milvus_client_database.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
  tests/python_client/requirements.txt
Due: none

fix: Update milvus key words (#40869)
  pkg/common/keywords.go
Due: Go

enhance: bulkinsert supports parsing sparse vector form parquet struct (#40927)
  internal/util/importutilv2/parquet/field_reader.go
  internal/util/importutilv2/parquet/file_reader_test.go
  internal/util/importutilv2/parquet/reader_test.go
  internal/util/importutilv2/parquet/util.go
  internal/util/testutil/test_util.go
Due: Go

fix: Fix dispatcher deregister and seek (#40860)
  pkg/mq/msgdispatcher/client_test.go
  pkg/mq/msgdispatcher/dispatcher.go
  pkg/mq/msgdispatcher/dispatcher_test.go
  pkg/mq/msgdispatcher/manager.go
  pkg/mq/msgdispatcher/manager_test.go
  pkg/mq/msgdispatcher/target.go
  tests/go_client/testcases/groupby_search_test.go
  tests/go_client/testcases/hybrid_search_test.go
  tests/go_client/testcases/query_test.go
Due: Go

fix: fix a 404 bug of WebUI when http.enablePprof is false (#40951)
  internal/http/server.go
Due: Go

enhance: add proxy and datanode checker when wal balance startup (#40877)
  internal/mocks/util/streamingutil/service/mock_discoverer/mock_Discoverer.go
  internal/mocks/util/streamingutil/service/mock_resolver/mock_Resolver.go
  internal/streamingcoord/client/client.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/balancer_test.go
  internal/streamingnode/client/manager/manager_client.go
  internal/streamingnode/client/manager/manager_client_impl.go
  internal/streamingnode/client/manager/manager_test.go
  internal/util/streamingutil/service/discoverer/channel_assignment_discoverer.go
  internal/util/streamingutil/service/discoverer/channel_assignment_discoverer_test.go
  internal/util/streamingutil/service/discoverer/discoverer.go
  internal/util/streamingutil/service/discoverer/session_discoverer.go
  internal/util/streamingutil/service/discoverer/session_discoverer_test.go
  internal/util/streamingutil/service/resolver/builder.go
  internal/util/streamingutil/service/resolver/builder_test.go
  internal/util/streamingutil/service/resolver/resolver.go
  internal/util/streamingutil/service/resolver/resolver_with_discoverer.go
  internal/util/streamingutil/service/resolver/resolver_with_discoverer_test.go
  pkg/mq/msgstream/mq_msgstream.go
  pkg/streaming/util/message/message_test.go
  pkg/streaming/util/message/properties.go
Due: Go

fix: getopts cannot find the non-args ulcgbZh (#40984)
  scripts/core_build.sh
Due: none

enhance:change multi or expr to in expr (#40757)
  internal/core/src/common/Consts.h
  internal/core/src/common/Types.h
  internal/core/src/exec/expression/ConjunctExpr.h
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/expr/ITypeExpr.h
  internal/core/unittest/test_exec.cpp
  internal/core/unittest/test_expr.cpp
Due: Core

enhance: simplify size calculation in file writers (#40808)
  internal/datanode/compactor/clustering_compactor_test.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/segment_writer.go
  internal/flushcommon/syncmgr/pack_writer_test.go
  internal/storage/arrow_util.go
  internal/storage/serde.go
  internal/storage/serde_events_v2.go
  internal/storage/serde_test.go
  internal/storage/sort.go
Due: Go

fix: exists should have a higher priority (#40864)
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

fix: mmap properties failed to apply when creating collection(#40511) (#40512)
  internal/distributed/proxy/httpserver/handler_v2.go
Due: Go

fix: auto flush all segment that is not created by streaming service (#40767)
  internal/datacoord/mock_segment_manager.go
  internal/datacoord/segment_manager.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/streamingnode/server/flusher/flusherimpl/flusher_components.go
  internal/streamingnode/server/wal/interceptors/segment/manager/partition_manager.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/streaming/util/message/builder.go
Due: Go

test: using pytest_tagging to replace pytest_tags (#40878)
  tests/python_client/requirements.txt
Due: none

fix:growing mmap data type crashed by nullable input (#40994)
  internal/core/src/common/Utils.h
  internal/core/src/mmap/ChunkData.h
  internal/core/src/mmap/ChunkVector.h
  internal/core/src/segcore/ConcurrentVector.h
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

feat: add json null/exists expression (#41004)
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/JsonInvertedIndex.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_json_index.cpp
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  tests/python_client/milvus_client/test_milvus_client_search.py
Due: Core, Go

enhance: Add UTF-8 string validation for import (#40694)
  internal/util/importutilv2/common/util.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/json/row_parser_test.go
  internal/util/importutilv2/numpy/field_reader.go
  internal/util/importutilv2/numpy/field_reader_test.go
  internal/util/importutilv2/parquet/field_reader.go
  internal/util/importutilv2/parquet/field_reader_test.go
  internal/util/importutilv2/parquet/util.go
  pkg/util/typeutil/string_util.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
