Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

run rust format
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/cc_cedict.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/ipadic.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/ipadic_neologd.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/ko_dic.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/unidic.rs
Due: Core

fix: revert ska::flat_hash_set to std::unordered_set to address an unknown SEGV problem
  internal/core/src/cachinglayer/CacheSlot.h
Due: Core

test:[cp2.5]add collection rename checker in chaos test (#43418)
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/testcases/test_single_request_operation.py
Due: none

enhance: run rust format (#43447)
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/cc_cedict.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/ipadic.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/ipadic_neologd.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/ko_dic.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/unidic.rs
Due: Core

enhance: [StorageV2] refactor group chunk translator
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  internal/core/unittest/test_group_chunk_translator.cpp
Due: Core

Refactor diskann and hnsw index case and update gen data functions
  tests/python_client/check/func_check.py
  tests/python_client/check/param_check.py
  tests/python_client/common/common_func.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_diskann.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2_new.py
  tests/python_client/requirements.txt
  tests/python_client/testcases/indexes/idx_diskann.py
  tests/python_client/testcases/indexes/idx_hnsw.py
  tests/python_client/testcases/indexes/test_diskann.py
  tests/python_client/testcases/indexes/test_hnsw.py
  tests/python_client/testcases/test_insert.py
Due: none

enhance: [StorageV2] Fill ts range default values for `PackedBinlogRecordWriter`
  internal/storage/serde_events_v2.go
Due: Go

test: update nightly cases (#43410)
  tests/python_client/milvus_client_v2/test_milvus_client_alias_v2.py
  tests/python_client/testcases/async_milvus_client/test_collection_async.py
  tests/python_client/testcases/test_utility.py
Due: none

test: update nightly cases[2.5] (#43415)
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/testcases/test_collection.py
  tests/python_client/testcases/test_search.py
  tests/python_client/testcases/test_utility.py
Due: none

update lindera version
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.toml
Due: Core

Add refresh_load to workaround issue #43386
  tests/python_client/base/client_v2_base.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2_new.py
  tests/python_client/testcases/indexes/test_hnsw.py
  tests/python_client/testcases/test_mix_scenes.py
Due: none

fix: jieba tokenizer cause panic when dict word was empty string (#43337)
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/jieba_tokenizer.rs
Due: Core

enhance: Optimize channel node balancing for uneven QN distribution (#42786) (#43423)
  internal/querycoordv2/meta/replica.go
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/meta/replica_test.go
  internal/querycoordv2/observers/replica_observer.go
  tests/integration/balance/channel_exclusive_balance_test.go
Due: Go

fix: Fix fileStats incorrectly set to nil
  internal/datacoord/import_task_import.go
  internal/datacoord/import_task_preimport.go
  internal/datacoord/session/cluster.go
  internal/datanode/importv2/task_import.go
  internal/datanode/importv2/task_l0_import.go
  internal/datanode/importv2/task_l0_preimport.go
  internal/datanode/importv2/task_preimport.go
Due: Go

fix: revert ska::flat_hash_set to std::unordered_set to address an un… (#43428)
  internal/core/src/cachinglayer/CacheSlot.h
Due: Core

enhance: [StorageV2] Return EOF when packedReader closed
  internal/storagev2/packed/packed_reader.go
Due: Go

Improve unstable rename collection test
  tests/python_client/check/func_check.py
  tests/python_client/milvus_client/test_milvus_client_search.py
Due: none

enhance: [StorageV2] refactor group chunk translator (#43406)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  internal/core/unittest/test_group_chunk_translator.cpp
Due: Core

fix test
  internal/proxy/http_req_impl.go
  internal/proxy/proxy_test.go
  internal/proxy/service_provider.go
  pkg/util/metricsinfo/metrics_info.go
  pkg/util/metricsinfo/utils.go
Due: Go

fix int8 dim validation
  internal/proxy/util.go
  internal/proxy/util_test.go
Due: Go

Update all contributors
  README.md
  README_CN.md
Due: none

Remove useless function
  tests/python_client/common/common_func.py
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: none

[StorageV2] file writer write row group split to default size
  internal/core/conanfile.py
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
Due: Core

fix: [StorageV2] unlimited reading memory cause oom
  internal/core/conanfile.py
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/storagev2/packed/constant.go
Due: Core, Go

enhance: Upgrade pymilvus to 2.5.14rc3
  tests/python_client/requirements.txt
Due: none

fix: Handle retry state in import task
  internal/datacoord/import_task_import.go
  internal/datacoord/import_task_preimport.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/taskcommon/state.go
Due: Go

test: modify add field case about skipped cases
  tests/go_client/testcases/hybrid_search_test.go
  tests/python_client/common/bulk_insert_data.py
  tests/python_client/testcases/test_bulk_insert.py
Due: none

test: add jobs=8 in e2e and go-sdk tests
  ci/jenkins/Nightly2.groovy
  ci/jenkins/PR-for-go-sdk.groovy
  ci/jenkins/PR.groovy
Due: none

Fix consistency level default assertion
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/milvus_client/test_milvus_client_search_iterator.py
Due: none

fix: [StorageV2] file writer write row group split to default size (#43471)
  internal/core/conanfile.py
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
Due: Core

update
  internal/datacoord/import_task_preimport.go
Due: Go

test: add more testcase for analyzer
  tests/python_client/milvus_client/test_milvus_client_analyzer.py
Due: none

Only download necessary fields during clustering analyze phase
  internal/datanode/compaction/clustering_compactor.go
  internal/datanode/compaction/clustering_compactor_test.go
Due: Go

fix: refine judgement for batch views(#38736)
  internal/core/src/common/Chunk.cpp
Due: Core

fix: balance may not trigger at balance checker when upgrading
  internal/querycoordv2/balance/multi_target_balance.go
  internal/querycoordv2/balance/rowcount_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer_test.go
  internal/querycoordv2/balance/utils.go
  internal/querycoordv2/checkers/balance_checker.go
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querycoordv2/meta/channel_dist_manager_test.go
  internal/querycoordv2/utils/util.go
  internal/querycoordv2/utils/util_test.go
Due: Go

fix: fail to get string views due to chunk bound empty loop(#41300)
  internal/core/src/exec/expression/Expr.h
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
