Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

feat: support extract
  internal/proxy/search_util.go
  internal/proxy/task.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/util.go
  pkg/common/common.go
Due: Go

feat: support user define timezone in search/query
  internal/proxy/impl.go
  internal/proxy/search_util.go
  internal/proxy/task.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
Due: Go

feat: sync milvus-proto
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/go.sum
Due: Client, Go

feat: support index for timestamptz compare
  internal/core/src/common/FieldMeta.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/indexbuilder/IndexFactory.h
  internal/parser/planparserv2/parser_visitor.go
  internal/proxy/task.go
  internal/util/importutilv2/numpy/util.go
  pkg/util/typeutil/schema.go
Due: Core, Go

feat: support timezone
  internal/proxy/task_insert.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/util.go
Due: Go

feat: support timestamptz arith compare expression
  .gitignore
  client/column/columns.go
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.h
  internal/core/src/expr/ITypeExpr.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProto.h
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/MemFileManagerImpl.cpp
  internal/datacoord/session/mock_node_manager.go
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_base_visitor.go
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/generated/plan_visitor.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2.go
  internal/parser/planparserv2/utils.go
  internal/parser/planparserv2/utils_test.go
  internal/proxy/task_delete.go
  internal/proxy/task_insert.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/util.go
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
Due: Client, Core, Go

fix: ci problems
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/unittest/test_c_api.cpp
  internal/proxy/task_search_test.go
Due: Core, Go

fix: apply lint fix
  client/column/columns.go
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/src/segcore/Collection.cpp
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/datacoord/services.go
  internal/distributed/proxy/httpserver/wrap_request.go
  internal/parser/planparserv2/utils.go
  internal/proxy/impl.go
  internal/proxy/task_query.go
  internal/proxy/util.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/distribution.go
Due: Client, Core, Go

refining for aggregate
  internal/core/src/exec/operator/query-agg/Aggregate.h
Due: Core

using pimpl to decouple azure dependency
  internal/core/conanfile.py
  internal/core/src/storage/azure/AzureChunkManager.cpp
  internal/core/src/storage/azure/AzureChunkManager.h
  internal/core/unittest/test_azure_chunk_manager.cpp
  scripts/core_build.sh
Due: Core

fix controller and debug done
  cmd/milvus/util.go
  internal/cdc/controller/controllerimpl/controller_impl.go
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/cdc/replication/replicatemanager/replicate_manager.go
  internal/cdc/replication/replicatemanager/replicate_manager_test.go
  internal/cdc/replication/replicatestream/replicate_stream_client_impl.go
  internal/proxy/impl.go
  internal/proxy/replicate/replicate_stream_server.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingnode/client/handler/handler_client_impl.go
Due: Go

enhance: Add mutex and range check preventing concurrent del (#44128)
  internal/querynodev2/segments/segment.go
Due: Go

update cpp unittest: move test files to aside of production code
  internal/core/cmake/Utils.cmake
  internal/core/src/common/BitmapTest.cpp
  internal/core/src/common/ProtobufUtilsTest.cpp
  internal/core/src/common/SpanTest.cpp
  internal/core/src/common/UtilsTest.cpp
  internal/core/src/index/BitmapIndexTest.cpp
  internal/core/src/index/UtilsTest.cpp
  internal/core/src/query/SubSearchResultTest.cpp
  internal/core/src/query/UtilsTest.cpp
  internal/core/src/segcore/ReduceStructureTest.cpp
  internal/core/src/segcore/UtilsTest.cpp
  internal/core/src/storage/ThreadPoolsTest.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_utils.cpp
Due: Core

enhance: move c++ unit test file to aside of the production code (#43932)
  internal/core/cmake/Utils.cmake
  internal/core/src/common/BitmapTest.cpp
  internal/core/src/common/ProtobufUtilsTest.cpp
  internal/core/src/common/SpanTest.cpp
  internal/core/src/common/UtilsTest.cpp
  internal/core/src/index/BitmapIndexTest.cpp
  internal/core/src/index/UtilsTest.cpp
  internal/core/src/query/SubSearchResultTest.cpp
  internal/core/src/query/UtilsTest.cpp
  internal/core/src/segcore/ReduceStructureTest.cpp
  internal/core/src/segcore/UtilsTest.cpp
  internal/core/src/storage/ThreadPoolsTest.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_utils.cpp
Due: Core

disable azure related test to work around ASAN failure
  internal/core/unittest/CMakeLists.txt
Due: Core

implementation done
  internal/datanode/importv2/util.go
  internal/storage/payload_writer.go
  internal/storage/utils.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/json/row_parser_test.go
  internal/util/importutilv2/parquet/field_reader.go
  internal/util/importutilv2/parquet/reader.go
  internal/util/importutilv2/parquet/reader_test.go
  internal/util/importutilv2/parquet/util.go
  internal/util/testutil/test_util.go
  pkg/util/parameterutil/get_max_len.go
  pkg/util/typeutil/schema.go
  tests/integration/import/vector_array_test.go
Due: Go

feat: add globalstatstask to build BBHash Primarykey
  configs/milvus.yaml
  internal/datacoord/global_stats_inspector.go
  internal/datacoord/global_stats_task_meta.go
  internal/datacoord/import_checker_test.go
  internal/datacoord/import_inspector_test.go
  internal/datacoord/import_util_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/mock_compaction_meta.go
  internal/datacoord/server.go
  internal/datacoord/session/cluster.go
  internal/datacoord/session/mock_cluster.go
  internal/datacoord/session/mock_node_manager.go
  internal/datacoord/task_global_stats.go
  internal/datacoord/task_global_stats_test.go
  internal/datanode/index/task_global_stats.go
  internal/datanode/index/task_manager.go
  internal/datanode/index/task_stats.go
  internal/datanode/index_services.go
  internal/datanode/services.go
  internal/metastore/catalog.go
  internal/metastore/kv/datacoord/constant.go
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/kv/datacoord/kv_catalog_test.go
  internal/metastore/kv/datacoord/util.go
  internal/metastore/mocks/mock_datacoord_catalog.go
  internal/metastore/mocks/mock_rootcoord_catalog.go
  pkg/metrics/datacoord_metrics.go
  pkg/metrics/datanode_metrics.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
  pkg/taskcommon/properties.go
  pkg/taskcommon/type.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: [2.5] Add mutex and range check preventing concurrent del (#44128) (#44202)
  internal/querynodev2/segments/segment.go
Due: Go

fix ut
  internal/proxy/replicate/replicate_stream_server_test.go
Due: Go

test: Increase PyMilvus version to 2.7.0rc26
  tests/python_client/requirements.txt
Due: none

enhance: add growingBf
  internal/streamingnode/server/primaryindex/primary_key_stats_manager.go
  internal/streamingnode/server/primaryindex/primary_key_stats_manager_test.go
  internal/streamingnode/server/wal/interceptors/shard/builder.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/streaming/util/message/adaptor/message.go
Due: Go

fix lint
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/parquet/field_reader.go
  tests/integration/import/vector_array_test.go
Due: Go

fix test compile
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/unittest/test_ngram_query.cpp
Due: Core

update
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

update
  internal/core/unittest/test_loading.cpp
Due: Core

update
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexFactory.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/Types.h
  internal/core/src/segcore/load_index_c.cpp
  internal/core/src/segcore/storagev1translator/SealedIndexTranslator.cpp
  internal/core/src/segcore/storagev1translator/SealedIndexTranslator.h
  internal/querynodev2/segments/segment.go
  pkg/proto/cgo_msg.proto
  pkg/proto/cgopb/cgo_msg.pb.go
Due: Core, Go

update
  internal/core/src/segcore/storagev1translator/SealedIndexTranslator.cpp
Due: Core

update
  internal/core/src/common/resource_c.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexFactory.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/load_index_c.cpp
  internal/core/src/segcore/storagev1translator/SealedIndexTranslator.cpp
  internal/core/thirdparty/knowhere/CMakeLists.txt
  internal/querynodev2/segments/segment_loader.go
Due: Core, Go

update
  internal/core/src/segcore/load_index_c.cpp
Due: Core

update
  internal/core/unittest/test_utils/DataGen.h
Due: Core

add watch primary index build notify
  internal/coordinator/mix_coord.go
  internal/datacoord/handler.go
  internal/datacoord/mock_test.go
  internal/datacoord/server.go
  internal/datacoord/services.go
  internal/datacoord/task_global_stats.go
  internal/distributed/mixcoord/client/client.go
  internal/distributed/mixcoord/service.go
  internal/distributed/streamingnode/service.go
  internal/streamingnode/server/primaryindex/primary_key_stats_manager.go
  internal/streamingnode/server/resource/resource.go
  internal/streamingnode/server/server.go
  internal/streamingnode/server/wal/interceptors/shard/builder.go
  internal/streamingnode/server/wal/interceptors/shard/primarykeyindex/primary_key_stats_manager.go
  internal/streamingnode/server/wal/interceptors/shard/primarykeyindex/primary_key_stats_manager_test.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/datapb/data_coord_grpc.pb.go
Due: Go

enhance: Reduce compaction task cleanup tolerance time
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
Due: Go

fix: retry old session existence in ProcessActiveStandBy
  internal/util/sessionutil/session_util.go
Due: Go

fix
  internal/util/sessionutil/session_util.go
Due: Go

Issue: #44209
  tests/python_client/milvus_client/expressions/README.md
  tests/python_client/milvus_client/expressions/test_milvus_client_scalar_filtering.py
Due: none

modify some cases
  tests/python_client/milvus_client/test_milvus_client_query.py
  tests/python_client/testcases/test_query.py
Due: none

refined row container and remove initialize bit
  internal/core/src/exec/operator/query-agg/RowContainer.cpp
  internal/core/src/exec/operator/query-agg/RowContainer.h
Due: Core

test: migrate test_query V2 cases for milvus client (#44179)
  tests/python_client/milvus_client/test_milvus_client_query.py
  tests/python_client/testcases/test_query.py
Due: none

removed non-null column judgement
  internal/core/src/exec/operator/query-agg/RowContainer.cpp
  internal/core/src/exec/operator/query-agg/RowContainer.h
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
