Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

add ut
  go.mod
  go.sum
  internal/core/src/common/FieldData.cpp
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/indexbuilder/index_c.cpp
  internal/core/src/segcore/Utils.cpp
  internal/datacoord/meta.go
  internal/datacoord/services.go
  internal/datacoord/task_index.go
  internal/datanode/compaction/mix_compactor.go
  internal/distributed/datacoord/client/client.go
  internal/distributed/datacoord/service.go
  internal/mocks/mock_datacoord.go
  internal/mocks/mock_datacoord_client.go
  internal/mocks/mock_proxy.go
  internal/mocks/mock_rootcoord.go
  internal/mocks/mock_rootcoord_client.go
  internal/proxy/impl.go
  internal/proxy/rootcoord_mock_test.go
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/querycoordv2/task/executor.go
  internal/rootcoord/add_field_task.go
  internal/rootcoord/add_field_task_test.go
  internal/rootcoord/broker.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/mocks/meta_table.go
  internal/rootcoord/step.go
  internal/util/segcore/requests.go
  pkg/go.mod
  pkg/go.sum
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/datapb/data_coord_grpc.pb.go
Due: Core, Go

fix
  go.mod
  go.sum
  internal/core/src/segcore/SegmentInterface.cpp
  internal/distributed/proxy/service.go
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/rootcoord/add_field_task.go
  internal/rootcoord/add_field_task_test.go
  pkg/go.mod
  pkg/go.sum
Due: Core, Go

add cpp ut
  go.mod
  go.sum
  internal/core/src/common/FieldData.cpp
  internal/core/src/common/FieldMeta.cpp
  internal/core/src/common/FieldMeta.h
  internal/core/src/common/Schema.h
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/core/unittest/test_array_bitmap_index.cpp
  internal/core/unittest/test_bitmap_index.cpp
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_hybrid_index.cpp
  internal/core/unittest/test_inverted_index.cpp
  internal/core/unittest/test_query.cpp
  internal/core/unittest/test_sealed.cpp
  internal/datacoord/compaction.go
  internal/datanode/compaction/mix_compactor.go
  internal/distributed/rootcoord/service.go
  internal/indexnode/task_index.go
  internal/proxy/rootcoord_mock_test.go
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/rootcoord/add_field_task_test.go
  internal/storage/serde_events.go
  pkg/go.mod
  pkg/go.sum
Due: Core, Go

upgrade packages to latest version
  internal/allocator/global_id_allocator_test.go
Due: Go

upgrade packages to latest version
  internal/storage/aliyun/aliyun.go
Due: Go

Fix go.mod
  go.mod
Due: none

Resolve conflict
  internal/storage/rw.go
  internal/storage/serde_events.go
  internal/storage/sort.go
  internal/storagev2/packed/packed_test.go
  internal/storagev2/packed/util.go
  internal/streamingnode/client/handler/registry/wal_manager_test.go
Due: Go

Export request timeout interval in config
  internal/datacoord/task_analyze.go
  internal/datacoord/task_index.go
  internal/datacoord/task_scheduler.go
  internal/datacoord/task_stats.go
  pkg/util/paramtable/component_param.go
Due: Go

rename
  internal/datacoord/task_analyze.go
  internal/datacoord/task_index.go
  internal/datacoord/task_stats.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: [2.5] Export request timeout interval in config (#40118)
  internal/datacoord/task_analyze.go
  internal/datacoord/task_index.go
  internal/datacoord/task_scheduler.go
  internal/datacoord/task_stats.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: Export request timeout interval in config (#40119)
  internal/datacoord/task_analyze.go
  internal/datacoord/task_index.go
  internal/datacoord/task_scheduler.go
  internal/datacoord/task_stats.go
  pkg/util/paramtable/component_param.go
Due: Go

Fix dead lock for task scheduler
  internal/datacoord/task_scheduler.go
Due: Go

enhance: Remove hardcoded partition num in restful handler (#40112)
  internal/distributed/proxy/httpserver/handler_v2.go
Due: Go

fix: [2.5] Fix task scheduler dead lock (#40121)
  internal/datacoord/task_scheduler.go
Due: Go

enhance: support create collection with description(#40022) (#40028)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/request_v2.go
Due: Go

fix: cancel sub contexts casade when http request timeout(#40030)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/timeout_middleware.go
  internal/proxy/impl.go
Due: Go

add todo
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_c.rs
Due: Core

avoid vector allocation in add_strings
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_c.rs
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
Due: Core

Add siliconflow text embedding
  internal/util/function/common.go
  internal/util/function/mock_embedding_service.go
  internal/util/function/models/siliconflow/siliconflow_text_embedding.go
  internal/util/function/models/siliconflow/siliconflow_text_embedding_test.go
  internal/util/function/siliconflow_embedding_provider.go
  internal/util/function/siliconflow_embedding_provider_test.go
  internal/util/function/text_embedding_function.go
  internal/util/function/text_embedding_function_test.go
Due: Go

tiny update
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer.rs
Due: Core

enhance: Upgrade pymilvus version 2.4.15rc8 (#40090)
  tests/python_client/requirements.txt
Due: none

revert qc statschecker for json key stats
  internal/querycoordv2/checkers/controller.go
  internal/querycoordv2/checkers/controller_base_test.go
  internal/querycoordv2/checkers/stats_checker.go
  internal/querycoordv2/checkers/stats_checker_test.go
  internal/querycoordv2/ops_service_test.go
  internal/querycoordv2/task/action.go
  internal/querycoordv2/task/executor.go
  internal/querycoordv2/task/utils.go
  internal/querycoordv2/utils/checker.go
  internal/querynodev2/handlers.go
  internal/querynodev2/services.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Go

test: add more restful v2 api testcases
  tests/restful_client_v2/api/milvus.py
  tests/restful_client_v2/testcases/test_collection_operations.py
  tests/restful_client_v2/testcases/test_database_operation.py
  tests/restful_client_v2/testcases/test_index_operation.py
  tests/restful_client_v2/testcases/test_vector_operations.py
  tests/restful_client_v2/utils/utils.py
Due: none

fix: Fix search failure of null expr
  internal/core/src/exec/expression/Expr.h
Due: Core

enhance: pack analyzer code and support lindera tokenizer (#39660)
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.toml
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/analyzer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/build_in_analyzer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/mod.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/stop_words.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/jieba_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/lindera_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/mod.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/util.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_text_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/lib.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/tokenizer_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/util.rs
  internal/core/thirdparty/tantivy/tokenizer.h
Due: Core

Set task version for stats task
  internal/datacoord/garbage_collector.go
  internal/datacoord/job_manager.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
Due: Go

Fix bug where perfix matching fails when wildcards are in prefix
  internal/parser/planparserv2/pattern_match.go
  internal/parser/planparserv2/pattern_match_test.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

fix: [2.5]Revert qc statschecker for json key stats (#40125)
  internal/querycoordv2/checkers/controller.go
  internal/querycoordv2/checkers/controller_base_test.go
  internal/querycoordv2/checkers/stats_checker.go
  internal/querycoordv2/checkers/stats_checker_test.go
  internal/querycoordv2/ops_service_test.go
  internal/querycoordv2/task/action.go
  internal/querycoordv2/task/executor.go
  internal/querycoordv2/task/utils.go
  internal/querycoordv2/utils/checker.go
  internal/querynodev2/handlers.go
  internal/querynodev2/services.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Go

enhance: clean shard location cache after collection released
  internal/querycoordv2/job/job_release.go
  internal/querycoordv2/job/job_test.go
  internal/querycoordv2/services_test.go
Due: Go
