Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: failed to reset time point for force expiry compaction(#41855)
  internal/datacoord/compaction_trigger.go
Due: Go

enhance: support balancing multiple collections in single trigger (#41875)
  internal/querycoordv2/balance/balance.go
  internal/querycoordv2/balance/rowcount_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer_test.go
  internal/querycoordv2/checkers/balance_checker.go
  internal/querycoordv2/checkers/balance_checker_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

test: Update ivf_rabitq error msg and groupby support nullable field (#41997)
  tests/python_client/common/common_func.py
  tests/python_client/common/common_params.py
  tests/python_client/common/common_type.py
  tests/python_client/milvus_client_v2/test_milvus_client_hybrid_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_array.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_diskann.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_group_by.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_invalid.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_iterator_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_json.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_load.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_none_default.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_string.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_text_match.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_sparse_search.py
  tests/python_client/testcases/indexes/idx_ivf_rabitq.py
  tests/python_client/testcases/test_mix_scenes.py
  tests/python_client/utils/api_request.py
Due: none

fix: cost metrics collection logic for replica selection
  .gitignore
  internal/querynodev2/segments/result.go
Due: Go

vector field raw data to mmap by default; added caching layer memory overhead metric; re-enable TextMatch.GrowingLoadData test
  configs/milvus.yaml
  internal/core/src/cachinglayer/CacheSlot.h
  internal/core/src/cachinglayer/lrucache/ListNode.h
  internal/core/src/monitor/prometheus_client.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/unittest/test_exec.cpp
  internal/core/unittest/test_text_match.cpp
  pkg/util/paramtable/component_param.go
Due: Core, Go

Fix Async warmup deadlock; update to cachinglayer metrics
  internal/core/src/cachinglayer/CacheSlot.h
  internal/core/src/cachinglayer/Utils.h
  internal/core/src/cachinglayer/lrucache/DList.cpp
  internal/core/src/monitor/prometheus_client.cpp
  internal/core/src/monitor/prometheus_client.h
  internal/core/src/storage/ThreadPool.h
Due: Core

fix: [AddField] Add protection logic inserting old data into new schema
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowing.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.cpp
Due: Core

fix: Reset compacting when finishing segment stats
  internal/datacoord/task_stats.go
Due: Go

fix: stop retry if collection not found too much when get recovery from coord
  internal/streamingnode/server/flusher/flusherimpl/util.go
  internal/streamingnode/server/flusher/flusherimpl/wal_flusher_test.go
Due: Go

fix the sn oom issue when woodpecker load/read small files
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/streaming/walimpls/impls/wp/builder.go
Due: Go

fix: fixes async warmup deadlock (#41995)
  internal/core/src/cachinglayer/CacheSlot.h
  internal/core/src/cachinglayer/Utils.h
  internal/core/src/cachinglayer/lrucache/DList.cpp
  internal/core/src/monitor/prometheus_client.cpp
  internal/core/src/monitor/prometheus_client.h
  internal/core/src/storage/ThreadPool.h
Due: Core

enhance: add delete rows into delete msg header and more metric
  internal/flushcommon/pipeline/flow_graph_dd_node.go
  internal/mocks/streamingnode/server/wal/interceptors/shard/mock_shards/mock_ShardManager.go
  internal/proxy/task_delete_streaming.go
  internal/streamingcoord/client/broadcast/broadcast_test.go
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl_test.go
  internal/streamingnode/server/wal/adaptor/old_version_message.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_interface.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_segment.go
  internal/streamingnode/server/wal/interceptors/shard/stats/stats_manager.go
  internal/streamingnode/server/wal/metricsutil/segment.go
  pkg/metrics/streaming_service_metrics.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/streaming/util/message/adaptor/ts_msg_newer.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/marshal_log_object.go
  pkg/streaming/util/message/message_impl.go
Due: Go

Readd json stats trigger
  internal/datacoord/stats_inspector.go
  internal/datacoord/task_stats.go
Due: Go

fix cap_ init
  internal/core/src/common/ChunkTarget.h
Due: Core

enhance: Remove unlink and use mmap chunk manager
  internal/core/src/common/ChunkTarget.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/segcore/storagev1translator/ChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  internal/core/src/storage/MmapChunkManager.h
Due: Core

fix unmap
  internal/core/src/common/Chunk.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/unittest/test_chunk.cpp
Due: Core

fix set cast function name
  internal/core/src/indexbuilder/ScalarIndexCreator.cpp
Due: Core

enhance: Support cast function for json index
  internal/core/src/common/Consts.h
  internal/core/src/common/Json.h
  internal/core/src/common/JsonCastFunction.cpp
  internal/core/src/common/JsonCastFunction.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexFactory.h
  internal/core/src/index/IndexInfo.h
  internal/core/src/index/JsonInvertedIndex.cpp
  internal/core/src/index/JsonInvertedIndex.h
  internal/core/src/indexbuilder/ScalarIndexCreator.cpp
  internal/core/unittest/test_json_index.cpp
  internal/proxy/task_index.go
  internal/util/indexparamcheck/inverted_checker.go
  pkg/common/common.go
Due: Core, Go

fix missed function arg
  internal/core/src/index/IndexFactory.cpp
Due: Core

fix: cost metrics collection logic for replica selection (#41965)
  .gitignore
  internal/querynodev2/segments/result.go
Due: Go

feat: Add json flat index
  internal/core/src/common/Json.h
  internal/core/src/common/JsonCastType.cpp
  internal/core/src/common/JsonCastType.h
  internal/core/src/common/JsonUtils.cpp
  internal/core/src/common/JsonUtils.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/InvertedIndexTantivy.h
  internal/core/src/index/JsonFlatIndex.cpp
  internal/core/src/index/JsonFlatIndex.h
  internal/core/src/index/JsonInvertedIndex.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/storage/Util.cpp
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/data_type.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v7/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_json_flat_index.cpp
  internal/datacoord/index_meta.go
  internal/datacoord/index_service.go
  internal/datacoord/index_service_test.go
Due: Core, Go

fix: Fix import slot assignment
  configs/milvus.yaml
  internal/datacoord/import_scheduler.go
  internal/datacoord/import_scheduler_test.go
  internal/datacoord/import_task.go
  internal/datanode/importv2/task_import.go
  internal/datanode/importv2/task_preimport.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: [AddField] Add protection logic inserting old data into new schema (#41978)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowing.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.cpp
Due: Core

feat: vector field raw data to mmap by default (#41975)
  configs/milvus.yaml
  internal/core/src/cachinglayer/CacheSlot.h
  internal/core/src/cachinglayer/lrucache/ListNode.h
  internal/core/src/monitor/prometheus_client.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/unittest/test_exec.cpp
  internal/core/unittest/test_text_match.cpp
  pkg/util/paramtable/component_param.go
Due: Core, Go

fix: [AddField] Expire metacache with rc task timestamp
  internal/rootcoord/add_field_task.go
Due: Go

enhance: threadpool name is not output as expected(#40838) (#41705)
  internal/core/src/storage/ThreadPool.h
  internal/core/src/storage/ThreadPools.cpp
  internal/core/src/storage/ThreadPools.h
Due: Core

fix: failed to reset time point for force expiry compaction(#41855) (#42000)
  internal/datacoord/compaction_trigger.go
Due: Go

test: add test cases for rerank
  tests/python_client/common/common_type.py
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2.py
Due: none

Support dropCollectionFieldProperties interface
  go.mod
  go.sum
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/rootcoord/alter_collection_task.go
  internal/rootcoord/alter_collection_task_test.go
  pkg/go.mod
  pkg/go.sum
Due: Go

test: add multi analyzer test
  tests/python_client/base/client_base.py
  tests/python_client/milvus_client/test_milvus_client_analyzer.py
  tests/python_client/testcases/test_full_text_search.py
  tests/python_client/utils/util_fts.py
Due: none

remove codes for tantivy v5
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_c.rs
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
Due: Core

add ttl cache
  internal/proxy/meta_cache.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/util.go
Due: Go

rename imeta to importMeta
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/compaction_trigger_v2_test.go
  internal/datacoord/import_checker.go
  internal/datacoord/import_checker_test.go
  internal/datacoord/import_inspector.go
  internal/datacoord/import_inspector_test.go
  internal/datacoord/import_meta.go
  internal/datacoord/import_task_import.go
  internal/datacoord/import_task_import_test.go
  internal/datacoord/import_task_preimport.go
  internal/datacoord/import_task_preimport_test.go
  internal/datacoord/import_util.go
  internal/datacoord/import_util_test.go
Due: Go

enhance: return index params for restful api
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/httpserver/handler_v2.go
Due: Go

enhance: Set thread name for segcore thread pool
  internal/core/src/storage/ThreadPool.cpp
Due: Core

fix: Lock before reading flusher cp sampling truncate cp
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
Due: Go

Add get util to separate lock range
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
Due: Go

enhance: Enhance import context
  internal/datacoord/import_checker.go
  internal/datacoord/import_checker_test.go
  internal/datacoord/import_inspector.go
  internal/datacoord/import_inspector_test.go
  internal/datacoord/import_util.go
  internal/datacoord/import_util_test.go
  internal/datacoord/server.go
  internal/datacoord/services.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
