Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

test: cover REST v2 nullable struct arrays
  tests/restful_client_v2/testcases/test_struct_array_nullable.py
Due: none

fix: preserve nullable state for empty struct slices
  client/column/columns.go
  client/column/struct_test.go
Due: Client

fix: support nullable struct arrays in REST v2
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

fix: restore requested struct columns for empty queries
  client/milvusclient/read.go
  client/milvusclient/read_test.go
Due: Client

fix: preserve empty dynamic query results
  client/milvusclient/read.go
  client/milvusclient/read_test.go
Due: Client

test: cover struct array mutation recovery
  tests/go_client/testcases/struct_array_test.go
Due: none

fix: preflight nullable struct null appends
  client/column/struct.go
  client/column/struct_test.go
Due: Client

fix: preserve vector array types when slicing
  client/column/struct_test.go
  client/column/vector_array.go
  client/column/vector_array_test.go
Due: Client

fix: restore empty struct subfield results
  client/milvusclient/read.go
  client/milvusclient/read_test.go
Due: Client

test: cover empty nullable struct queries end to end
  tests/go_client/testcases/struct_array_test.go
Due: none

test: cover empty struct subfield results
  tests/go_client/testcases/struct_array_test.go
Due: none

fix: preserve varchar array type when slicing
  client/column/array.go
  client/column/array_test.go
Due: Client

fix: [2.6] keep JSON field data for path indexes (#51556)
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexFactory.h
  internal/core/src/index/IndexFactoryRawDataTest.cpp
Due: Core

fix: isolate sliced vector array storage
  client/column/vector_array.go
  client/column/vector_array_test.go
Due: Client

fix: reject invalid field data ranges
  client/column/columns.go
  client/column/columns_test.go
  client/column/vector_array_test.go
Due: Client

fix: harden growing index raw data ownership (#51913)
  internal/core/src/segcore/FieldIndexing.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingIndexTest.cpp
Due: Core

fix: restore growing index raw data ownership (#50425)
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingIndexTest.cpp
Due: Core

fix: propagate cipher context to worker tasks (#51827)
  internal/core/src/clustering/analyze_c.cpp
  internal/core/src/clustering/analyze_c.h
  internal/core/src/indexbuilder/index_c.cpp
  internal/core/src/storage/PluginLoader.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_cipher_plugin_context.cpp
  internal/datanode/compactor/mix_compactor_text_index_test.go
  internal/datanode/compactor/text_index.go
  internal/datanode/index/task_analyze.go
  internal/datanode/index/task_stats.go
  internal/datanode/index/task_stats_test.go
  internal/datanode/index_services.go
  internal/datanode/index_services_test.go
  internal/util/analyzecgowrapper/analyze.go
  internal/util/analyzecgowrapper/analyze_test.go
Due: Core, Go

fix: decode batched search fields once
  client/column/columns.go
  client/column/dynamic.go
  client/column/dynamic_test.go
  client/column/generic_base.go
  client/column/generic_base_test.go
  client/column/vector_array.go
  client/milvusclient/read.go
  client/milvusclient/read_test.go
Due: Client

fix: address stats scheduling review comments
  configs/milvus.yaml
  internal/datacoord/stats_inspector.go
  internal/datacoord/stats_inspector_test.go
  internal/datacoord/task/global_scheduler.go
  internal/datacoord/task/global_scheduler_test.go
  internal/datacoord/task/priority_queue.go
  internal/datacoord/task/priority_queue_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: isolate generic column slices
  client/column/generic_base.go
  client/column/generic_base_test.go
Due: Client

fix: harden JSON ranges and array terms in 2.6
  internal/parser/planparserv2/fill_expression_value_test.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/parser/planparserv2/rewriter/array_test.go
  internal/parser/planparserv2/rewriter/entry.go
  internal/parser/planparserv2/rewriter/json_term.go
  internal/parser/planparserv2/rewriter/range.go
  internal/parser/planparserv2/utils.go
  tests/go_client/common/utils.go
Due: Go

fix: keep sync dispatcher cleanup after task panic
  internal/flushcommon/syncmgr/key_lock_dispatcher.go
  internal/flushcommon/syncmgr/key_lock_dispatcher_test.go
Due: Go

fix: recognize struct array vectors in REST inserts
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

fix: preserve empty generic column slices
  client/column/generic_base.go
  client/column/generic_base_test.go
Due: Client

fix: [hotfix-2.6.21] keep proxy metric status label stable, split cause into its own label (#51495)
  deployments/monitor/grafana/milvus-dashboard.json
  docs/dev/error_handling_guide.md
  docs/dev/error_sentinel_convention.md
  internal/datacoord/ddl_callbacks_import_test.go
  internal/datacoord/index_meta.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/request_interceptor.go
  internal/distributed/proxy/request_interceptor_test.go
  internal/proxy/hook_interceptor.go
  internal/proxy/service_provider.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/storage/insert_data.go
  pkg/metrics/metrics.go
  pkg/metrics/proxy_metrics.go
  pkg/util/merr/error_classification_test.go
  pkg/util/merr/errors.go
  pkg/util/requestutil/getter.go
  pkg/util/requestutil/getter_test.go
Due: Go

fix: synchronize delegator function runtime with collection schema
  internal/querycoordv2/observers/target_observer.go
  internal/querycoordv2/observers/target_observer_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delegator_test.go
Due: Go

fix: retry reopened BM25 stats loading
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
Due: Go

refactor: simplify target metadata initialization
  internal/querycoordv2/observers/target_observer.go
Due: Go

fix: retry worker schema updates before pipeline panic
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/pipeline/delete_node.go
  internal/querynodev2/pipeline/delete_node_test.go
Due: Go

fix: initialize nullable vector indexes
  client/column/nullable.go
  client/column/nullable_test.go
Due: Client

fix: preserve nullable geometry rows
  client/column/geometry.go
  client/column/geometry_test.go
  client/milvusclient/read_test.go
Due: Client

fix: preserve all-null vector array dimensions
  client/column/columns.go
  client/column/vector_array_test.go
Due: Client

fix: restore empty dynamic result columns
  client/milvusclient/read.go
  client/milvusclient/read_test.go
Due: Client

fix: share sliced dynamic JSON columns
  client/column/dynamic.go
  client/column/dynamic_test.go
  client/column/json.go
  client/milvusclient/read.go
  client/milvusclient/read_test.go
Due: Client

fix: accept string-form nprobe, clang-format
  internal/core/src/query/SearchBruteForce.cpp
  internal/core/src/query/SearchBruteForceTest.cpp
Due: Core

enhance: unify RecordReader ownership on a borrow contract
  internal/datanode/compactor/bump_schema_version_compactor.go
  internal/datanode/compactor/clustering_compactor_storage_v2_test.go
  internal/datanode/compactor/clustering_compactor_test.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/mix_compactor_test.go
  internal/datanode/compactor/multi_segment_writer_test.go
  internal/datanode/compactor/namespace_compactor_test.go
  internal/datanode/compactor/record_materializer.go
  internal/datanode/compactor/record_materializer_test.go
  internal/datanode/compactor/sort_compaction.go
  internal/datanode/external/function_executor.go
  internal/datanode/external/milvus_table_deltalog.go
  internal/datanode/external/milvus_table_deltalog_test.go
  internal/datanode/external/task_update_test.go
  internal/storage/arrow_util.go
  internal/storage/arrow_util_test.go
  internal/storage/data_codec.go
  internal/storage/payload_test.go
  internal/storage/record_reader.go
  internal/storage/record_reader_test.go
  internal/storage/serde_delta.go
  internal/storage/serde_delta_test.go
  internal/storage/serde_events_test.go
Due: Go

enhance: [3.0] unify RecordReader ownership on a borrow contract (#51884)
  internal/datanode/compactor/bump_schema_version_compactor.go
  internal/datanode/compactor/clustering_compactor_storage_v2_test.go
  internal/datanode/compactor/clustering_compactor_test.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/mix_compactor_test.go
  internal/datanode/compactor/multi_segment_writer_test.go
  internal/datanode/compactor/namespace_compactor_test.go
  internal/datanode/compactor/record_materializer.go
  internal/datanode/compactor/record_materializer_test.go
  internal/datanode/compactor/sort_compaction.go
  internal/datanode/external/function_executor.go
  internal/datanode/external/milvus_table_deltalog.go
  internal/datanode/external/milvus_table_deltalog_test.go
  internal/datanode/external/task_update_test.go
  internal/storage/arrow_util.go
  internal/storage/arrow_util_test.go
  internal/storage/data_codec.go
  internal/storage/payload_test.go
  internal/storage/record_reader.go
  internal/storage/record_reader_test.go
  internal/storage/serde_delta.go
  internal/storage/serde_delta_test.go
  internal/storage/serde_events_test.go
Due: Go

fix: preserve JSON stats task throughput
  configs/milvus.yaml
  internal/datacoord/stats_inspector.go
  internal/datacoord/stats_inspector_test.go
  pkg/util/paramtable/component_param.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
