Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

Bump milvus go client to v2.6.4
  client/common/version.go
Due: Client

fix: [GoSDK] complete struct array support and correctness fixes (#49164)
  client/column/columns.go
  client/column/struct.go
  client/column/struct_test.go
  client/column/vector_array.go
  client/column/vector_array_test.go
  client/entity/field.go
  client/entity/field_test.go
  client/entity/schema.go
  client/entity/schema_test.go
  client/entity/vectors.go
  client/entity/vectors_test.go
  client/milvusclient/collection.go
  client/milvusclient/collection_options.go
  client/milvusclient/read_option_test.go
  client/milvusclient/read_options.go
  client/milvusclient/write_option_test.go
  client/milvusclient/write_options.go
  tests/go_client/testcases/helper/struct_array_element_helper.go
  tests/go_client/testcases/helper/struct_array_helper.go
  tests/go_client/testcases/struct_array_element_query_test.go
  tests/go_client/testcases/struct_array_element_search_test.go
  tests/go_client/testcases/struct_array_test.go
Due: Client

fix: handle nullable compare offset input
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/ExprCompareTest.cpp
Due: Core

fix: Apply external refresh segments at job level
  internal/datacoord/external_collection_refresh_checker.go
  internal/datacoord/external_collection_refresh_checker_test.go
  internal/datacoord/external_collection_refresh_manager.go
  internal/datacoord/external_collection_refresh_manager_test.go
  internal/datacoord/external_collection_refresh_meta.go
  internal/datacoord/external_collection_refresh_meta_test.go
  internal/datacoord/task_refresh_external_collection.go
  internal/datacoord/task_refresh_external_collection_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

enhance: optimize ChannelDistManager collection lookup
  internal/querycoordv2/balance/balance.go
  internal/querycoordv2/balance/channel_level_score_balancer.go
  internal/querycoordv2/balance/rowcount_based_balancer.go
  internal/querycoordv2/balance/stopping_balancer.go
  internal/querycoordv2/balance/utils.go
  internal/querycoordv2/checkers/balance_checker.go
  internal/querycoordv2/checkers/balance_checker_test.go
  internal/querycoordv2/checkers/channel_checker.go
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/job/utils.go
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querycoordv2/meta/channel_dist_manager_test.go
  internal/querycoordv2/observers/replica_observer.go
  internal/querycoordv2/ops_services.go
  internal/querycoordv2/server.go
Due: Go

fix: gate schema drop during proxy upgrade
  internal/mocks/streamingcoord/server/mock_balancer/mock_Balancer.go
  internal/rootcoord/ddl_callbacks.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema_test.go
  internal/rootcoord/root_coord_test.go
  internal/streamingcoord/server/balancer/balancer.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/balancer_test.go
  pkg/proto/messagespb/messages.pb.go
Due: Go

feat: support drop field, drop function field and disable dynamic field
  internal/core/src/common/Schema.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/datacoord/index_service.go
  internal/datacoord/index_service_test.go
  internal/distributed/proxy/service.go
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/segments/segment_loader_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema_test.go
  internal/rootcoord/mock_test.go
  internal/rootcoord/util.go
  internal/rootcoord/util_test.go
  pkg/common/common.go
  pkg/proto/messages.proto
  tests/python_client/milvus_client/test_milvus_client_alter.py
Due: Core, Go

fix: harden schema alter validation
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  internal/proxy/task.go
  internal/proxy/task_test.go
Due: Go

fix: address drop field review feedback and support dropping struct array field
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema_test.go
Due: Go

fix: preserve alter collection field metadata
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/create_collection_task_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_add_field.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/util.go
  internal/rootcoord/util_test.go
  pkg/proto/messages.proto
  tests/python_client/milvus_client/test_milvus_client_alter.py
Due: Go

test: update go sdk property drop assertions
  tests/go_client/testcases/collection_test.go
Due: none

test: clean up unused imports and lint issues in test_milvus_client_alter.py
  tests/python_client/milvus_client/test_milvus_client_alter.py
Due: none

fix: hit meta cache for collection aliases (#49513)
  internal/proxy/meta_cache.go
  internal/proxy/meta_cache_test.go
Due: Go

fix: [cp3.0]Fix IndexChecker panic after dropping loaded index (#49508)
  internal/querycoordv2/checkers/index_checker.go
  internal/querycoordv2/checkers/index_checker_test.go
Due: Go

enhance: Add GetReplicateConfiguration Go client API (#49481)
  client/milvusclient/replicate.go
  client/milvusclient/replicate_test.go
Due: Client

enhance: [cp2.6]Add GetReplicateConfiguration Go client API (#49483)
  client/milvusclient/replicate.go
  client/milvusclient/replicate_test.go
Due: Client

enhance: [cp3.0]Add GetReplicateConfiguration Go client API (#49482)
  client/milvusclient/replicate.go
  client/milvusclient/replicate_test.go
Due: Client

test: clean up legacy ruff lint debt in func_check.py and test_index.py
  tests/python_client/check/func_check.py
  tests/python_client/testcases/test_index.py
Due: none

refactor: [3.0] Trim refresh job external spec diff
  Makefile
  internal/datanode/external/task_update_test.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/proxy/impl.go
Due: Go

enhance: [3.0] return external spec in refresh job info
  client/entity/external_table.go
  client/go.mod
  client/go.sum
  client/milvusclient/external_table.go
  client/milvusclient/external_table_test.go
  go.mod
  go.sum
  internal/datanode/external/task_update_test.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/proxy/impl.go
  internal/proxy/impl_test.go
Due: Client, Go

fix: [3.0] Tidy go client e2e lint dependencies
  Makefile
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: none

enhance: return external spec in refresh job info
  client/entity/external_table.go
  client/go.mod
  client/go.sum
  client/milvusclient/external_table.go
  client/milvusclient/external_table_test.go
  go.mod
  go.sum
  internal/datanode/external/task_update_test.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/proxy/impl.go
  internal/proxy/impl_test.go
Due: Client, Go

refactor: Trim refresh job external spec diff
  Makefile
  internal/datanode/external/task_update_test.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/proxy/impl.go
Due: Go

fix: Tidy go client e2e lint dependencies
  Makefile
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: none

fix: [3.0] bump Woodpecker to v0.1.27 to fix stale gRPC connection issue
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
Due: Go

enhance: Normalize external Arrow with field metadata
  internal/core/src/storage/DataCodecTest.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/core/unittest/test_arrow_canonicalize.cpp
  internal/core/unittest/test_external_take.cpp
Due: Core

fix: bypass knowhere thread control for iterators
  internal/core/src/index/VectorDiskIndex.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/query/SearchBruteForce.cpp
Due: Core

fix: [cp3.0]Bypass knowhere thread control for iterators
  internal/core/src/index/VectorDiskIndex.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/query/SearchBruteForce.cpp
Due: Core

fix: [cp2.6]Bypass knowhere thread control for iterators
  internal/core/src/index/VectorDiskIndex.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/query/SearchBruteForce.cpp
Due: Core

enhance: optimize ReplicaManager per-collection locking and read indexes
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/meta/replica_manager_helper.go
  internal/querycoordv2/meta/replica_manager_test.go
  internal/querycoordv2/observers/replica_observer.go
  internal/querycoordv2/services_test.go
Due: Go

test: fix ReplicaManager test mock expectations
  internal/querycoordv2/meta/replica_manager_test.go
Due: Go

test: improve ReplicaManager coverage
  internal/querycoordv2/meta/replica_manager_test.go
Due: Go

fix: carry index store path version through sessions and copy metadata
  internal/datanode/data_node.go
  internal/datanode/importv2/copy_segment_utils.go
  internal/datanode/importv2/copy_segment_utils_test.go
  internal/querynodev2/server.go
  internal/util/sessionutil/session_util.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

fix: format segment index path test imports
  pkg/util/metautil/segment_index_test.go
Due: Go

fix: clean collection-rooted index files safely in gc
  internal/datacoord/garbage_collector.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/index_meta.go
  internal/datacoord/index_meta_test.go
  internal/datanode/importv2/copy_segment_utils.go
  pkg/util/metautil/segment_index.go
  pkg/util/metautil/segment_index_test.go
Due: Go

chore: clarify index store path version semantics
  internal/metastore/model/segment_index.go
  internal/querynodev2/segments/segment.go
Due: Go

fix: address index store path review nits
  internal/datacoord/index_engine_version_manager.go
  internal/datacoord/index_meta.go
  internal/metastore/model/segment_index.go
Due: Go
