Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: use commit_timestamp in TTL lambda of mask_with_timestamps
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

docs: add commit_timestamp implementation plan
  docs/superpowers/plans/2026-03-21-commit-timestamp.md
Due: none

feat: propagate commit_timestamp from SegmentInfo to SegmentLoadInfo
  internal/querycoordv2/utils/types.go
  internal/querycoordv2/utils/types_test.go
Due: Go

feat: add commit_timestamp field to SegmentInfo and SegmentLoadInfo protos
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: none

feat: thread commit_timestamp into segcore MVCC via C API
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/util/segcore/segment.go
Due: Core, Go

feat: TruncateChannelByTime and GC use segmentEffectiveDmlTs
  internal/datacoord/garbage_collector.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
Due: Go

feat: add segmentEffectiveTs/DmlTs helpers to datacoord
  internal/datacoord/segment_info.go
  internal/datacoord/segment_info_test.go
Due: Go

feat: GenSnapshot and L0 compaction use segmentEffectiveTs
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_l0_test.go
  internal/datacoord/handler.go
  internal/datacoord/handler_test.go
Due: Go

feat: TTL compaction trigger respects commit_timestamp for import segments
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_test.go
Due: Go

feat: add UpdateCommitTimestamp operator to datacoord meta
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
Due: Go

feat: use commit_timestamp for delete buffer pin/list in delegator
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
Due: Go

style: clang-format C++ files in segcore
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/segment_c.cpp
Due: Core

enhance: optimize import process - align with DDL/DCL pattern
  internal/datacoord/ddl_callbacks.go
  internal/datacoord/ddl_callbacks_import.go
  internal/datacoord/ddl_callbacks_import_test.go
  internal/datacoord/import_services_test.go
  internal/datacoord/server.go
  internal/datacoord/server_test.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/distributed/streaming/broadcast.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/streaming_test.go
  internal/distributed/streaming/wal_test.go
  internal/mocks/distributed/mock_streaming/mock_Broadcast.go
  internal/proxy/impl_test.go
  internal/proxy/proxy_test.go
  internal/proxy/task_import.go
  internal/proxy/task_import_test.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/registry/check_message_callback.go
  internal/streamingcoord/server/broadcaster/registry/check_message_callback_test.go
  internal/streamingcoord/server/broadcaster/registry/specialized_callback.go
  internal/streamingcoord/server/broadcaster/registry/test_utility.go
  internal/streamingcoord/server/service/broadcast.go
  internal/streamingcoord/server/service/broadcast_test.go
Due: Go

[automated] Bump milvus version to v2.6.13 (#48431)
  scripts/standalone_embed.bat
  scripts/standalone_embed.sh
Due: none

fix: use NullValue sentinel for SQL NULL semantics in expression filter tests
  tests/python_client/common/common_func.py
  tests/python_client/milvus_client_v2/test_milvus_client_range_search.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2.py
Due: none

test: Add RBAC prefix isolation tests (#48381)
  tests/python_client/milvus_client/test_milvus_client_rbac.py
Due: none

fix: use gin.Context thread-safe methods to prevent concurrent map read/write on Keys (#48393)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/utils.go
  internal/proxy/accesslog/info/restful_info.go
  internal/proxy/accesslog/info/restful_info_test.go
  internal/proxy/accesslog/util.go
Due: Go

fix: [2.6] use gin.Context thread-safe methods to prevent concurrent map read/write on Keys (#48394)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/utils.go
  internal/proxy/accesslog/info/restful_info.go
  internal/proxy/accesslog/info/restful_info_test.go
  internal/proxy/accesslog/util.go
Due: Go

fix: add generic LoadPlugin[T] to serialize plugin.Open() calls
  internal/querynodev2/server.go
  internal/util/hookutil/cipher.go
  internal/util/hookutil/hook.go
  internal/util/hookutil/mutex.go
  internal/util/hookutil/plugin.go
  internal/util/hookutil/plugin_test.go
Due: Go

fix: remove the unused mutex.go
  internal/util/hookutil/mutex.go
Due: Go

feat: integrate manifest-based statistics for V3 storage segments (#48005)
  internal/compaction/common.go
  internal/compaction/load_stats.go
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/datacoord/segment_info.go
  internal/datacoord/segment_info_test.go
  internal/datacoord/segment_operator.go
  internal/datacoord/services.go
  internal/datacoord/task_stats.go
  internal/datanode/compactor/l0_compactor.go
  internal/datanode/compactor/namespace_compactor_test.go
  internal/datanode/compactor/sort_compaction.go
  internal/datanode/index/task_stats.go
  internal/flushcommon/pipeline/data_sync_service.go
  internal/flushcommon/syncmgr/pack_writer_v3.go
  internal/flushcommon/syncmgr/pack_writer_v3_test.go
  internal/flushcommon/writebuffer/write_buffer.go
  internal/querycoordv2/utils/types.go
  internal/querycoordv2/utils/types_test.go
  internal/querynodev2/segments/segment_loader.go
  internal/storage/binlog_record_writer.go
  internal/storage/rw_test.go
  internal/storage/stats.go
  internal/storage/stats_collector.go
  internal/storage/stats_test.go
  internal/storagev2/packed/ffi_filesystem.go
  internal/storagev2/packed/ffi_stats.go
  internal/storagev2/packed/packed_reader.go
  internal/storagev2/packed/packed_writer.go
  internal/storagev2/packed/packed_writer_ffi.go
  internal/storagev2/packed/stat_entry_builders.go
  internal/storagev2/packed/stat_entry_builders_test.go
  internal/storagev2/packed/stats_resolver.go
  internal/storagev2/packed/stats_resolver_test.go
  internal/storagev2/packed/transaction.go
  internal/storagev2/packed/transaction_test.go
Due: Core, Go

test: Increase PyMilvus version to 2.6.11rc5
  tests/python_client/requirements.txt
Due: none

fix: use memory-aware batch splitting in LoadCellBatchAsync to prevent OOM (#48404)
  internal/core/src/segcore/MemoryPlannerTest.cpp
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/segcore/memory_planner.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
Due: Core

test: add infrastructure for scalar filtering tests — boundary values, eval engine, expression generators
  tests/python_client/milvus_client/expressions/test_milvus_client_scalar_filtering.py
Due: none

test: add TestScalarExpressionCorrectness with full operator coverage
  tests/python_client/milvus_client/expressions/test_milvus_client_scalar_filtering.py
Due: none

test: add TestScalarIndexConsistency for cross-index comparison
  tests/python_client/milvus_client/expressions/test_milvus_client_scalar_filtering.py
Due: none

test: add TestCornerCaseExpressions for known bug regression (#48440-#48443)
  tests/python_client/milvus_client/expressions/test_milvus_client_scalar_filtering.py
Due: none

fixed
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

test: add TestJsonExpressions with path, nested, and function coverage
  tests/python_client/milvus_client/expressions/test_milvus_client_scalar_filtering.py
Due: none

enhance: enable OpenSSL FIPS mode for Milvus (#48331)
  Makefile
  build/docker/milvus/amazonlinux2023/Dockerfile
  build/docker/milvus/gpu/ubuntu22.04/Dockerfile
  build/docker/milvus/rockylinux9/Dockerfile
  build/docker/milvus/ubuntu22.04/Dockerfile
  cmd/milvus/boring_disabled.go
  cmd/milvus/boring_enabled.go
  cmd/milvus/run.go
  configs/ssl/openssl-fips.cnf
  internal/core/conanfile.py
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/datanode/index/init_segcore.go
  internal/util/initcore/query_node.go
  scripts/install_milvus.sh
Due: Core, Go

fix: resolve integration mismatches between infrastructure and test classes
  tests/python_client/milvus_client/expressions/test_milvus_client_scalar_filtering.py
Due: none

fix: resolve eval engine issues — SQL_NULL in eval, NOT IN semantics, IS NULL with sentinel, float boundary values
  tests/python_client/milvus_client/expressions/test_milvus_client_scalar_filtering.py
Due: none

fix: eliminate false passes — parser errors fail not skip, bool literal verifies results, index consistency adds ground truth, skip rate tracking
  tests/python_client/milvus_client/expressions/test_milvus_client_scalar_filtering.py
Due: none

fix: correct NOT+NULL 3VL semantics with _TrackedNullValue and _sql_not, enrich compound expression patterns
  tests/python_client/milvus_client/expressions/test_milvus_client_scalar_filtering.py
Due: none

test: assign L0/L1/L2 tags — L0 for bug regression, L1 for core types, L2 for extended coverage
  tests/python_client/milvus_client/expressions/test_milvus_client_scalar_filtering.py
Due: none

fix: enforce group limit only at Proxy level for GROUP BY aggregation (#47326)
  internal/agg/aggregate_reducer.go
  internal/agg/aggregate_reducer_test.go
  internal/agg/aggregate_util.go
  internal/agg/aggregate_util_test.go
  internal/proxy/agg_reducer.go
  internal/proxy/task_query.go
  internal/querynodev2/segments/agg_reducer_test.go
  internal/querynodev2/segments/reducer.go
  tests/go_client/testcases/query_iterator_test.go
  tests/python_client/testcases/test_query_aggregation.py
Due: Go

test: fix 4 flaky tests across Go and Python (#47907)
  internal/proxy/impl_test.go
  internal/streamingcoord/server/balancer/balancer_test.go
  internal/util/grpcclient/client_test.go
  tests/python_client/milvus_client/test_add_field_feature.py
  tests/python_client/milvus_client_v2/test_milvus_client_ttl.py
Due: Go

fix: change IO related rust unwrap to ? (#48333)
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_ngram_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/index_writer_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v7/index_writer_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/util.rs
Due: Core

enhance: make thread pool max threads size configurable
  configs/milvus.yaml
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/storage/ThreadPool.cpp
  internal/core/src/storage/ThreadPool.h
  internal/core/src/storage/ThreadPoolTest.cpp
  internal/datanode/index/init_segcore.go
  internal/querynodev2/server.go
  internal/querynodev2/server_test.go
  internal/util/initcore/init_core.go
  internal/util/initcore/init_core_test.go
  internal/util/initcore/query_node.go
  internal/util/initcore/util.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
