Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

enhance: bound VARCHAR expression reads with reusable scans (#53413)
  internal/core/src/exec/expression/ColumnExpr.cpp
  internal/core/src/exec/expression/ColumnExpr.h
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
  internal/core/src/segcore/SegmentChunkReader.cpp
  internal/core/src/segcore/SegmentChunkReader.h
  internal/core/src/segcore/SegmentChunkReaderTest.cpp
Due: Core

fix: [3.0] register GCP credentials before chunk manager precheck (#53288)
  internal/core/src/storage/ChunkManager.cpp
  internal/core/src/storage/minio/MinioChunkManager.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_gcp_chunk_manager.cpp
Due: Core

enhance: bound JSON shredding predicate view batches (#53414)
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/index/json_stats/JsonKeyStats.h
  internal/core/src/index/json_stats/JsonKeyStatsScanTest.cpp
Due: Core

test: run BM25 Rust regressions from C++ test entrypoints
  Makefile
  internal/util/analyzer/canalyzer/c_bm25_test.go
  scripts/README.md
  scripts/run_cpp_codecov.sh
  scripts/run_cpp_unittest.sh
  scripts/run_cpp_ut.sh
  scripts/run_rust_unittest.sh
Due: Go

feat: evaluate compare expressions with column scans
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/ExprCompareTest.cpp
  internal/core/src/mmap/ChunkedColumnInterfaceTest.cpp
  internal/core/src/mmap/ChunkedColumnPlanner.cpp
  internal/core/src/mmap/ChunkedColumnTakeCursors.cpp
  internal/core/unittest/test_utils/DataGen.h
Due: Core

fix: register tokenizer error boundary for native BM25
  internal/core/src/segcore/TokenizerCTest.cpp
  internal/core/src/segcore/tokenizer_c.cpp
  scripts/segcore_error_boundary_baseline.txt
Due: Core

feat: support Vortex local format readers
  internal/core/src/exec/expression/Expr.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/mmap/ChunkedColumnInterfaceTest.cpp
  internal/core/src/mmap/ChunkedColumnScanCommon.h
  internal/core/src/mmap/ChunkedColumnScanCursors.cpp
  internal/core/src/mmap/SparseVortexFileSystem.cpp
  internal/core/src/mmap/SparseVortexFileSystem.h
  internal/core/src/mmap/VirtualPKChunkedColumn.cpp
  internal/core/src/mmap/VortexColumn.cpp
  internal/core/src/mmap/VortexColumn.h
  internal/core/src/mmap/VortexColumnGroup.cpp
  internal/core/src/mmap/VortexColumnGroup.h
  internal/core/src/mmap/VortexColumnTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/storagev2translator/SystemIndexTranslator.cpp
  internal/core/src/storage/Util.cpp
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_virtual_pk.cpp
Due: Core

test: organize CMEK integration tests by responsibility
  tests/integration/cmek/README.md
  tests/integration/cmek/fixture_keys_test.go
  tests/integration/cmek/inspector/parquet_encryption.go
  tests/integration/cmek/inspector/parquet_encryption_test.go
  tests/integration/cmek/inspector/raw_data_v3.go
  tests/integration/cmek/inspector/raw_data_v3_test.go
  tests/integration/cmek/inspector/storage_v2_binlogs.go
  tests/integration/cmek/inspector/storage_v2_binlogs_test.go
  tests/integration/cmek/inspector/storage_v3_manifest.go
  tests/integration/cmek/inspector/storage_v3_manifest_test.go
  tests/integration/cmek/packed_writer_test.go
  tests/integration/cmek/parquet_reader_test.go
  tests/integration/cmek/parquet_reader_unit_test.go
  tests/integration/cmek/pluginmock/cpp/cipher_plugin.cpp
  tests/integration/cmek/raw_data_campaign_test.go
  tests/integration/cmek/raw_data_metadata_test.go
  tests/integration/cmek/raw_data_suite_test.go
  tests/integration/cmek/raw_data_v2_test.go
  tests/integration/cmek/raw_data_v3_read_test.go
  tests/integration/cmek/raw_data_v3_test.go
Due: none

enhance: defer Storage V3 column group materialization
  configs/milvus.yaml
  internal/core/src/common/ArrayValueTest.cpp
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnGroupTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/core/unittest/test_utils/ManifestTestUtil.h
  internal/util/initcore/init_core.go
  internal/util/initcore/init_core_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Core, Go

fix: fence stale pulsar writer on pchannel takeover
  configs/milvus.yaml
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/balancer_test.go
  internal/streamingnode/client/manager/manager_client.go
  internal/streamingnode/client/manager/manager_client_impl.go
  internal/streamingnode/client/manager/manager_test.go
  internal/streamingnode/server/walmanager/manager_impl.go
  internal/streamingnode/server/walmanager/manager_impl_test.go
  internal/streamingnode/server/walmanager/wal_lifetime.go
  internal/streamingnode/server/walmanager/wal_lifetime_test.go
  pkg/streaming/walimpls/impls/pulsar/builder.go
  pkg/streaming/walimpls/impls/pulsar/opener.go
  pkg/streaming/walimpls/impls/pulsar/producer.go
  pkg/streaming/walimpls/impls/pulsar/producer_access_mode.go
  pkg/streaming/walimpls/impls/pulsar/producer_access_mode_test.go
  pkg/streaming/walimpls/impls/pulsar/producer_test.go
  pkg/streaming/walimpls/impls/pulsar/pulsar_test.go
  pkg/streaming/walimpls/impls/pulsar/wal.go
  pkg/streaming/walimpls/impls/pulsar/wal_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

fix: [3.0] avoid panic on empty count result (#53440) (#53474)
  internal/querynodev2/segments/retrieve.go
  internal/querynodev2/segments/retrieve_test.go
Due: Go

enhance: support expression cache for brute-force search
  configs/milvus.yaml
  docs/design-docs/design_docs/20260602-expression-result-cache.md
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/DiskSlotFile.cpp
  internal/core/src/exec/expression/DiskSlotFile.h
  internal/core/src/exec/expression/EntryPool.cpp
  internal/core/src/exec/expression/EntryPool.h
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/ExprCache.cpp
  internal/core/src/exec/expression/ExprCache.h
  internal/core/src/exec/expression/ExprCacheHelper.h
  internal/core/src/exec/expression/ExprCacheTest.cpp
  internal/core/src/exec/expression/RawExprCacheAdapter.cpp
  internal/core/src/exec/expression/RawExprCacheAdapter.h
  internal/core/src/exec/expression/RawExprCacheAdapterTest.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/expr/ITypeExpr.h
  internal/util/initcore/init_core.go
  internal/util/initcore/util.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

fix: clean up embedded etcd after readiness failures
  pkg/util/etcd/etcd_server.go
  pkg/util/etcd/etcd_server_test.go
  pkg/util/etcd/etcd_util_test.go
Due: Go

enhance: make arrow IO thread pool coefficient 0 a fixed Milvus default (#53347)
  internal/datanode/index/init_segcore.go
  internal/util/initcore/init_core_test.go
  internal/util/initcore/query_node.go
  internal/util/initcore/util.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: use chunk_view for VARCHAR on sealed/chunked segments
  internal/core/src/exec/expression/TupleTermExpr.cpp
Due: Core

fix: regenerate stale plan.pb.go doc comment
  pkg/proto/planpb/plan.pb.go
Due: none

feat: evaluate compare expressions with column scans
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/ExprCompareTest.cpp
  internal/core/src/mmap/ChunkedColumnInterfaceTest.cpp
  internal/core/src/mmap/ChunkedColumnPlanner.cpp
  internal/core/src/mmap/ChunkedColumnTakeCursors.cpp
  internal/core/src/segcore/SegmentChunkReaderTest.cpp
  internal/core/unittest/test_utils/DataGen.h
Due: Core

fix: release Lindera dictionaries with their last consumer
  internal/core/thirdparty/tantivy/tantivy-binding/examples/lindera_memory.md
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/mod.rs
Due: Core

test gc factor
  internal/util/importutilv2/reshardmem/reshardmem.go
Due: Go

enhance: [2.6] bump woodpecker to v0.1.44
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
Due: Go

enhance: bump woodpecker to v0.1.44 and expose the compaction bounds it adds
  configs/milvus.yaml
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
  tests/_helm/values/e2e-amd/distributed-woodpecker-service-boundary
  tests/_helm/values/e2e-arm/distributed-woodpecker-service-boundary
  tests/_helm/values/nightly/distributed-woodpecker-service
Due: Go

enhance: [3.0] bump woodpecker to v0.1.44 and expose the compaction bounds it adds
  configs/milvus.yaml
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
  tests/_helm/values/e2e-amd/distributed-woodpecker-service-boundary
  tests/_helm/values/e2e-arm/distributed-woodpecker-service-boundary
  tests/_helm/values/nightly/distributed-woodpecker-service
Due: Go

fix: [cp2.6] provide explicit embedding list count to knowhere
  internal/core/src/common/VectorArrayStorageV2Test.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/query/SearchBruteForce.cpp
  internal/core/src/query/SearchOnSealed.cpp
  internal/core/thirdparty/knowhere/CMakeLists.txt
  internal/core/unittest/test_indexing.cpp
  internal/core/unittest/test_sealed.cpp
Due: Core

feat: define cluster compaction layout contracts
  configs/milvus.yaml
  internal/datacoord/task_analyze.go
  internal/datacoord/task_analyze_test.go
  internal/util/clustercompaction/artifact.go
  internal/util/clustercompaction/artifact_test.go
  internal/util/clustercompaction/layout_plan.go
  internal/util/clustercompaction/layout_plan_test.go
  internal/util/clustering/clustering.go
  internal/util/clustering/clustering_test.go
  pkg/proto/clustering.proto
  pkg/proto/clusteringpb/clustering.pb.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Go

feat: persist clustering assignment distances
  configs/milvus.yaml
  internal/core/src/clustering/KmeansClustering.cpp
  internal/core/src/clustering/KmeansClustering.h
  internal/core/src/clustering/KmeansClusteringTest.cpp
  internal/core/src/clustering/analyze_c.cpp
  internal/core/thirdparty/knowhere/CMakeLists.txt
  internal/datanode/index/task_analyze.go
  internal/datanode/index/task_test.go
  pkg/proto/clustering.proto
  pkg/proto/clusteringpb/clustering.pb.go
  pkg/util/paramtable/knowhere_param.go
  pkg/util/paramtable/knowhere_param_test.go
Due: Core, Go

feat: delegate clustering compaction planning to knowhere
  configs/milvus.yaml
  internal/compaction/params.go
  internal/compaction/params_test.go
  internal/core/src/clustering/analyze_c.h
  internal/core/src/clustering/compaction_plan_c.cpp
  internal/core/src/clustering/type_c.h
  internal/core/thirdparty/knowhere/CMakeLists.txt
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_clustering_test.go
  internal/datanode/compactor/clustering_compactor.go
  internal/datanode/compactor/clustering_compactor_layout_test.go
  internal/util/analyzecgowrapper/compaction_plan.go
  internal/util/analyzecgowrapper/compaction_plan_test.go
  internal/util/clustercompaction/layout_plan.go
  internal/util/clustercompaction/layout_plan_test.go
  pkg/config/manager.go
  pkg/config/manager_test.go
  pkg/util/paramtable/knowhere_param.go
  pkg/util/paramtable/knowhere_param_test.go
Due: Core, Go

feat: materialize sorted cluster compaction layouts
  configs/milvus.yaml
  internal/datanode/compactor/cluster_layout_sort.go
  internal/datanode/compactor/cluster_layout_sort_test.go
  internal/datanode/compactor/clustering_compactor.go
  internal/datanode/compactor/clustering_compactor_test.go
  internal/datanode/compactor/segment_writer.go
  internal/querynodev2/delegator/segment_pruner.go
  internal/querynodev2/delegator/segment_pruner_test.go
  internal/storage/field_stats.go
  internal/storage/field_stats_test.go
  internal/storage/field_value.go
  internal/storage/field_value_test.go
  internal/util/clustering/clustering.go
  internal/util/clustering/clustering_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: fail index build fast on malformed user JSON instead of retrying forever (#53189)
  internal/core/src/index/json_stats/bson_builder.cpp
  internal/core/src/index/json_stats/utils.h
  internal/core/unittest/test_json_stats/test_bson_builder.cpp
  internal/core/unittest/test_storage.cpp
  internal/datanode/index/scheduler.go
  internal/datanode/index/scheduler_test.go
  internal/datanode/index/task_stats.go
  pkg/util/merr/segcore.go
  pkg/util/merr/segcore_test.go
Due: Core, Go

feat: carry an idempotency key on the WAL message
  pkg/common/common.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/streaming/util/message/builder_test.go
  pkg/streaming/util/message/idempotency.go
  pkg/streaming/util/message/idempotency_test.go
Due: Go

feat: add the pchannel WAL summary store
  internal/streamingnode/server/wal/idempotencyview/record.go
  internal/streamingnode/server/wal/idempotencyview/sections.go
  internal/streamingnode/server/wal/idempotencyview/sections_test.go
  internal/streamingnode/server/wal/walsummary/errors.go
  internal/streamingnode/server/wal/walsummary/gc.go
  internal/streamingnode/server/wal/walsummary/manager.go
  internal/streamingnode/server/wal/walsummary/manager_test.go
  internal/streamingnode/server/wal/walsummary/recover.go
  internal/streamingnode/server/wal/walsummary/recover_test.go
  internal/streamingnode/server/wal/walsummary/store.go
  internal/streamingnode/server/wal/walsummary/store_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

feat: derive and send the insert idempotency key from the proxy
  client/milvusclient/interceptors.go
  client/milvusclient/write.go
  client/milvusclient/write_option_test.go
  client/milvusclient/write_options.go
  client/milvusclient/write_test.go
  internal/distributed/streaming/internal/producer/producer.go
  internal/distributed/streaming/internal/producer/producer_task.go
  internal/distributed/streaming/internal/producer/producer_task_test.go
  internal/distributed/streaming/internal/producer/producer_test.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/test_streaming.go
  internal/distributed/streaming/util.go
  internal/distributed/streaming/wal.go
  internal/distributed/streaming/wal_test.go
  internal/mocks/distributed/mock_streaming/mock_WALAccesser.go
  internal/proxy/channelmgr/msg_pack.go
  internal/proxy/channelmgr/msg_pack_test.go
  internal/proxy/impl.go
  internal/proxy/task.go
  internal/proxy/task_insert.go
  internal/proxy/task_insert_idempotency.go
  internal/proxy/task_insert_idempotency_autoid.go
  internal/proxy/task_insert_idempotency_autoid_test.go
  internal/proxy/task_insert_idempotency_test.go
  internal/proxy/task_insert_streaming.go
  internal/proxy/task_insert_streaming_test.go
  internal/proxy/task_insert_test.go
  internal/proxy/task_upsert_streaming.go
  internal/proxy/task_upsert_test.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  pkg/metrics/streaming_service_metrics.go
Due: Client, Go

feat: dedup idempotent appends in the WAL and recover the window
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor_test.go
  internal/streamingnode/server/wal/adaptor/wal_adaptor_trace_test.go
  internal/streamingnode/server/wal/adaptor/wal_idempotency_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/builder.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/metrics.go
  internal/streamingnode/server/wal/interceptors/idempotency/metrics_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/utils/txn_insert_result_builder.go
  internal/streamingnode/server/wal/interceptors/idempotency/utils/txn_insert_results_buffer.go
  internal/streamingnode/server/wal/interceptors/idempotency/utils/txn_insert_results_buffer_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/window.go
  internal/streamingnode/server/wal/interceptors/idempotency/window_test.go
  internal/streamingnode/server/wal/metricsutil/wal_scan.go
  internal/streamingnode/server/wal/metricsutil/wal_scan_test.go
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  internal/streamingnode/server/wal/recovery/recovery_drop_collection_test.go
  internal/streamingnode/server/wal/recovery/recovery_persisted.go
  internal/streamingnode/server/wal/recovery/recovery_storage.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/recovery_stream.go
  internal/streamingnode/server/wal/utility/context.go
  internal/streamingnode/server/wal/utility/reorder_buffer.go
  internal/streamingnode/server/wal/utility/reorder_buffer_test.go
  internal/streamingnode/server/walmanager/manager_impl.go
  internal/streamingnode/server/walmanager/manager_impl_test.go
Due: Go

fix: keep the milvus-io imports in one gci section
  pkg/streaming/util/message/idempotency.go
Due: Go

doc: design doc for idempotent write
  docs/design-docs/design_docs/20260604-idempotent_write.md
Due: none

fix: drop the unreachable cross-term arbitration, correct the orphan story
  docs/design-docs/design_docs/20260604-idempotent_write.md
  internal/streamingnode/server/wal/walsummary/errors.go
  internal/streamingnode/server/wal/walsummary/store.go
  internal/streamingnode/server/wal/walsummary/store_test.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
