Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

Revert "fix: Fast finish compaction when L0Comp hit zero L1/L2 (#47154) (#47186)"
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_l0_test.go
Due: Go

fix: add authentication to metrics endpoint when authorization enabled
  internal/distributed/proxy/service.go
Due: Go

fix: return empty results for search iterator when all vectors are null (#47201)
  internal/core/src/query/SearchOnGrowing.cpp
  internal/core/src/query/SearchOnIndex.cpp
  internal/core/src/query/SearchOnSealed.cpp
  internal/core/src/segcore/ChunkedSegmentSealedTest.cpp
  internal/core/src/segcore/SegmentGrowingTest.cpp
Due: Core

test: Increase PyMilvus version to 2.6.7rc20
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.7.0rc121
  tests/python_client/requirements.txt
Due: none

enhance: Add walk and get latency in PersistentDataRequestLatency (#45582)
  internal/storage/remote_chunk_manager.go
Due: Go

add additional check based on gemini-code-assist
  internal/storagev2/packed/packed_writer.go
Due: Go

add check for WriteRecordBatch
  internal/storagev2/packed/packed_writer.go
Due: Go

enhance: use PreparedGeometry for geo index refinement
  internal/core/src/common/Geometry.h
  internal/core/src/common/PreparedGeometry.h
  internal/core/src/common/PreparedGeometryTest.cpp
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/unittest/bench/CMakeLists.txt
  internal/core/unittest/bench/bench_prepared_geometry.cpp
Due: Core

feat: [Go SDK] Support search by primary key IDs
  client/milvusclient/read_options.go
  tests/go_client/testcases/search_by_pk_test.go
Due: Client

fix: Address code review feedback
  client/milvusclient/read_options.go
  tests/go_client/testcases/search_by_pk_test.go
Due: Client

enhance: Optimize tsSet from Set to SortedArray for min timestamp lookup
  internal/proxy/task_scheduler.go
  internal/proxy/task_scheduler_test.go
Due: Go

doc: doc for scalar collection and simple join
  docs/design_docs/20251205-metadata_collections.md
Due: none

fix: add authentication to metrics endpoint when authorization enabled (#47277)
  internal/distributed/proxy/service.go
Due: Go

test: Update ChunkedSegmentSealedTest to use caching layer for ChunkedColumn
  internal/core/src/segcore/ChunkedSegmentSealedTest.cpp
Due: Core

fix: add check for WriteRecordBatch (#47137)
  internal/storagev2/packed/packed_writer.go
Due: Go

fix: [2.6] add authentication to metrics endpoint when authorization enabled (#47278)
  internal/distributed/proxy/service.go
Due: Go

update e2e
  tests/python_client/testcases/test_connection.py
Due: none

test: Update ChunkedSegmentSealedTest to use caching layer for ChunkedColumn (#47294)
  internal/core/src/segcore/ChunkedSegmentSealedTest.cpp
Due: Core

enhance: Improve the consistency of file resource sync (#47113)
  Makefile
  internal/coordinator/file_resource_observer.go
  internal/coordinator/file_resource_observer_test.go
  internal/coordinator/mix_coord.go
  internal/datacoord/file_resource_manager.go
  internal/datacoord/file_resource_manager_test.go
  internal/datacoord/metrics_info_test.go
  internal/datacoord/server.go
  internal/datacoord/services.go
  internal/mocks/mock_mixcoord.go
  internal/mocks/streamingcoord/server/mock_balancer/mock_Balancer.go
  internal/querycoordv2/observers/file_resource_observer.go
  internal/querycoordv2/observers/file_resource_observer_test.go
  internal/querycoordv2/server.go
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/create_collection_task_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/mock_file_resource_observer.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  internal/streamingcoord/server/balancer/balance/singleton.go
  internal/streamingcoord/server/balancer/balancer.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/server.go
  internal/streamingcoord/server/service_test.go
  internal/types/types.go
  internal/util/fileresource/manager.go
  internal/util/fileresource/manager_test.go
  pkg/streaming/util/types/streaming_node.go
Due: Go

enhance: optimize mixcoord cpu and mem usage by avoiding redundant ca… (#47177)
  internal/querycoordv2/assign/assign_policy_rowcount.go
  internal/querycoordv2/assign/assign_policy_rowcount_test.go
  internal/querycoordv2/assign/assign_policy_score.go
  internal/querycoordv2/assign/assign_policy_score_test.go
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querycoordv2/meta/channel_dist_manager_test.go
  internal/querycoordv2/meta/segment_dist_manager.go
  internal/querycoordv2/meta/segment_dist_manager_test.go
  internal/querycoordv2/task/scheduler.go
  internal/querycoordv2/task/task_test.go
Due: Go

fix: [hotfix] uninitialized segment/field id (#47251)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/storagev1translator/InterimSealedIndexTranslator.cpp
  internal/core/src/segcore/storagev1translator/InterimSealedIndexTranslator.h
Due: Core

enhance: refactor thread pool usage for better separation of concerns
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/segcore/memory_planner.h
  internal/core/src/segcore/storagev1translator/ChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/storage/Util.h
Due: Core

test: Increase PyMilvus version to 2.7.0rc122
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.6.7rc21
  tests/python_client/requirements.txt
Due: none

fix: align Go SDK timestamptz field type and data format with server
  client/column/columns.go
  client/column/conversion.go
  client/column/nullable.go
  client/column/nullable_test.go
  client/column/scalar.go
  client/column/scalar_test.go
  client/entity/field.go
  client/milvusclient/mock_milvus_server_test.go
Due: Client

fix: three-valued logic for NullExpr, ExistsExpr and logical operators (#46939)
  internal/core/src/common/ThreeValuedLogicOpTest.cpp
  internal/core/src/common/ValueOp.h
  internal/core/src/exec/expression/ConjunctExpr.cpp
  internal/core/src/exec/expression/EvalCtx.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/LogicalUnaryExpr.cpp
  internal/core/src/exec/expression/NullExpr.cpp
  internal/core/unittest/test_string_expr.cpp
Due: Core

Bump go-api as well
  client/go.mod
  client/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client

Fix NPE & Worker holds func
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/storage/ThreadPool.cpp
Due: Core

enhance: save BM25 stats to the disk while loading the segment (#46468) (#47232)
  configs/milvus.yaml
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/idf_oracle.go
  internal/querynodev2/delegator/idf_oracle_test.go
  internal/querynodev2/segments/pool.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: NPE when computing load diff with empty SegmentLoadInfo
  internal/core/src/segcore/SegmentLoadInfo.cpp
Due: Core

gitignore: Add .worktrees/ directory
  .gitignore
Due: none

Use atomic counter instead of RAII
  internal/core/src/segcore/memory_planner.cpp
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
