Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

update
  internal/core/src/segcore/storagev1translator/SealedIndexTranslator.cpp
Due: Core

update
  configs/milvus.yaml
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/src/segcore/storagev1translator/SealedIndexTranslator.h
  internal/core/thirdparty/milvus-common/CMakeLists.txt
  internal/core/unittest/init_gtest.cpp
  internal/proxy/task_delete.go
  internal/util/initcore/init_core.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

update
  internal/proxy/task_delete.go
Due: Go

update
  internal/core/src/segcore/storagev1translator/SealedIndexTranslator.h
Due: Core

cl-perf-opt test
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/query/SearchOnSealed.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/thirdparty/milvus-common/CMakeLists.txt
Due: Core

fix: [StorageV2] force virtual host for oss and cos (#44484)
  configs/milvus.yaml
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  pkg/util/paramtable/service_param.go
Due: Core, Go

update
  configs/milvus.yaml
Due: none

test: update test case
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: none

enhance: Remove unused vector plan node subclasses (#44453)
  docs/design_docs/segcore/visitor.md
  internal/core/src/exec/expression/ExprTest.cpp
  internal/core/src/query/ExecPlanNodeVisitor.cpp
  internal/core/src/query/ExecPlanNodeVisitor.h
  internal/core/src/query/PlanNode.cpp
  internal/core/src/query/PlanNode.h
  internal/core/src/query/PlanNodeVisitor.h
  internal/core/src/query/PlanProto.cpp
Due: Core

enhance: Use std::shared_lock and std::unique_lock for mutexes (#44459)
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/JsonInvertedIndex.cpp
  internal/core/src/index/JsonInvertedIndex.h
  internal/core/src/index/TextMatchIndex.cpp
Due: Core

fix: Make default local storage path effective
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/service_param.go
Due: Go

fix: Cleanup collection metrics after dropped on rootcoord
  internal/rootcoord/drop_collection_task.go
  internal/rootcoord/step.go
  pkg/metrics/rootcoord_metrics.go
Due: Go

address comments
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/ScalarIndexTest.cpp
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/index/StringIndexSortTest.cpp
  internal/core/src/index/StringIndexTest.cpp
Due: Core

feat: encode cluster id in auto id (#44471) (#44500)
  configs/milvus.yaml
  internal/datacoord/import_util.go
  internal/proxy/task_insert.go
  internal/proxy/task_upsert.go
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: replicate bugs patch
  internal/cdc/replication/replicatemanager/replicate_manager.go
  internal/cdc/replication/replicatestream/msg_queue.go
  internal/cdc/replication/replicatestream/msg_queue_test.go
  internal/cdc/replication/replicatestream/replicate_stream_client_impl.go
  internal/metastore/kv/streamingcoord/kv_catalog.go
  internal/streamingcoord/server/service/assignment.go
  pkg/util/replicateutil/config_validator.go
  pkg/util/replicateutil/config_validator_test.go
Due: Go

enhance: tiered index updates (#44433)
  configs/milvus.yaml
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/src/segcore/storagev1translator/SealedIndexTranslator.cpp
  internal/core/src/segcore/storagev1translator/SealedIndexTranslator.h
  internal/core/thirdparty/milvus-common/CMakeLists.txt
  internal/core/unittest/init_gtest.cpp
  internal/util/initcore/init_core.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

feat: support user define timezone in search/query
  internal/proxy/impl.go
  internal/proxy/search_util.go
  internal/proxy/task.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
Due: Go

feat: support datatype::timestamptz(segcore) like datatype_int64
  internal/core/src/common/Types.h
  internal/core/src/segcore/Collection.cpp
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

feat: sync proto to add datatype schema
  client/go.mod
  go.mod
  go.sum
  pkg/go.mod
Due: Client, Go

feat: support datatype_timestamptz like datatype_int64
  internal/datacoord/services.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/wrap_request.go
  internal/proxy/impl.go
  internal/proxy/task_query.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/distribution.go
Due: Go

fix: build error
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.h
  internal/rootcoord/create_collection_task_test.go
Due: Core, Go

feat: sync milvus-proto
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/go.sum
Due: Client, Go

fix: for review
  internal/parser/planparserv2/utils.go
  internal/proxy/task.go
  internal/proxy/task_insert.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/util.go
Due: Go

fix: set collection timezone property in rootcoord
  internal/proxy/task.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/util.go
Due: Go

fix: merge error
  client/go.mod
  go.mod
  go.sum
  internal/proxy/validate_util.go
Due: Client, Go

feat: support extract
  internal/proxy/search_util.go
  internal/proxy/task.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/util.go
  pkg/common/common.go
Due: Go

feat: support timestamptz (insert & retrieve)
  client/column/columns.go
  internal/core/src/common/Types.h
  internal/core/src/segcore/Collection.cpp
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/wrap_request.go
  internal/proxy/impl.go
  internal/proxy/task_query.go
  internal/proxy/validate_util.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/segments/collection.go
  internal/storage/utils.go
Due: Client, Core, Go

feat: sync proto
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
Due: Client, Go

feat: support timestamptz arith compare expression
  .gitignore
  client/column/columns.go
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.h
  internal/core/src/expr/ITypeExpr.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProto.h
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/MemFileManagerImpl.cpp
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/distributed/proxy/httpserver/wrap_request.go
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_base_visitor.go
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/generated/plan_visitor.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2.go
  internal/parser/planparserv2/utils.go
  internal/parser/planparserv2/utils_test.go
  internal/proxy/task_delete.go
  internal/proxy/task_insert.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/util.go
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
Due: Client, Core, Go

fix: test error
  internal/proxy/task_test.go
  tests/go_client/testcases/collection_test.go
  tests/python_client/milvus_client/test_milvus_client_alter.py
Due: Go

feat: support timezone
  internal/proxy/task_insert.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/util.go
Due: Go

feat: support index for timestamptz compare
  internal/core/src/common/FieldMeta.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/indexbuilder/IndexFactory.h
  internal/parser/planparserv2/parser_visitor.go
  internal/proxy/task.go
  internal/util/importutilv2/numpy/util.go
  pkg/util/typeutil/schema.go
Due: Core, Go

test: add unit tests for segcore
  internal/core/unittest/test_utils/DataGen.h
Due: Core

fix: ci problems
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/proxy/task_search_test.go
Due: Core, Go

fix: apply lint fix
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/src/segcore/Collection.cpp
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/datacoord/services.go
  internal/parser/planparserv2/utils.go
  internal/proxy/impl.go
  internal/proxy/task_query.go
  internal/proxy/util.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/distribution.go
Due: Core, Go

feat: support support timezone property for collection/database
  client/go.mod
  go.mod
  go.sum
  internal/proxy/task.go
  internal/proxy/task_database.go
  internal/proxy/util.go
  pkg/common/common.go
Due: Client, Go

enhance: add storage usage for delete and upsert
  internal/proxy/impl.go
  internal/proxy/task_delete.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_test.go
Due: Go

test: Add New Test Cases for Partial Update (#44483)
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/testcases/test_single_request_operation.py
  tests/python_client/common/common_func.py
  tests/python_client/common/common_type.py
  tests/python_client/milvus_client/test_milvus_client_insert.py
Due: none

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
