Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: format MemoryPlannerTest.cpp with clang-format-15
  internal/core/src/segcore/MemoryPlannerTest.cpp
Due: Core

fix: drop master-only regex op from 2.6 backport
  internal/core/src/exec/expression/UnaryExpr.h
Due: Core

test: Increase PyMilvus version to 3.1.0rc62
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 3.0.1rc57
  tests/python_client/requirements.txt
Due: none

fix: apply json comparison validity in 2.6 backport
  internal/core/src/exec/expression/Expr.h
  internal/core/src/index/JsonInvertedIndex.cpp
  internal/core/src/index/JsonInvertedIndex.h
Due: Core

fix: treat unset IdField in zero-hit search results as empty in chain converter
  internal/util/function/chain/converter.go
  internal/util/function/chain/converter_test.go
Due: Go

enhance: cache rootcoord collection counts
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/create_collection_task_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/mock_test.go
  internal/rootcoord/mocks/meta_table.go
Due: Go

fix: [2.6.19] cherry-pick critical fixes from 2.6 (#51093)
  internal/core/src/common/Json.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/ConjunctExpr.cpp
  internal/core/src/exec/expression/ConjunctExprTest.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/ExprJsonAdvancedTest.cpp
  internal/core/src/exec/expression/ExprJsonRangeTest.cpp
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/StringIndexTest.cpp
  internal/core/src/index/TextMatchIndexTest.cpp
  internal/core/src/index/json_stats/JsonKeyStats.cpp
  internal/core/src/index/json_stats/parquet_writer.cpp
  internal/core/src/index/json_stats/parquet_writer.h
  internal/core/src/storage/IndexEntryReader.cpp
  internal/core/src/storage/IndexEntryWriterTest.cpp
  internal/core/unittest/test_json_stats/test_parquet_writer.cpp
  internal/parser/planparserv2/rewriter/range_json_test.go
  internal/parser/planparserv2/rewriter/util.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/impl.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/manager_test.go
Due: Core, Go

fix: skip insert payload fields absent from schema on querynode consumption (#51117) (#51137)
  internal/querynodev2/pipeline/insert_node.go
  internal/querynodev2/segments/retrieve_test.go
  internal/querynodev2/segments/search_test.go
  internal/querynodev2/segments/segment_test.go
  internal/storage/utils.go
  internal/storage/utils_test.go
  pkg/metrics/querynode_metrics.go
Due: Go

fix: Validate REST quick-create enum fields (#51088)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  tests/python_client/milvus_client/test_milvus_client_search_aggregation.py
  tests/restful_client_v2/testcases/test_collection_operations.py
Due: Go

fix: [2.6] sync analyzer runtime options (#50997) (#50998)
  internal/core/src/segcore/tokenizer_c.cpp
  internal/core/src/segcore/tokenizer_c.h
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/mod.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/options/common.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/options/mod.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/options/runtime_option.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/lindera_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/array.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/tokenizer_c.rs
  internal/core/thirdparty/tantivy/tokenizer.h
  internal/datanode/data_node.go
  internal/querynodev2/server.go
  internal/streamingnode/server/server.go
  internal/util/analyzer/analyzer.go
  internal/util/analyzer/canalyzer/c_analyzer_factory.go
  internal/util/analyzer/canalyzer/c_analyzer_test.go
  tests/go_client/testcases/query_test.go
Due: Core, Go

fix compile
  internal/core/src/index/TextMatchIndexTest.cpp
Due: Core

test: fix TextMatchIndex fuzzy test constructor (#51169)
  internal/core/src/index/TextMatchIndexTest.cpp
Due: Core

enhance: hide feature report counter
  pkg/metrics/feature_report_metrics.go
  pkg/metrics/feature_report_metrics_test.go
  pkg/metrics/metrics.go
Due: Go

feat: add feature report metrics
  docs/design-docs/design_docs/20260615-feature_usage_statistics.md
  pkg/metrics/feature_report_metrics.go
  pkg/metrics/feature_report_metrics_test.go
  pkg/metrics/metrics.go
Due: Go

fix: Guard external offset retrieve against stale manifest
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c_test.cpp
Due: Core

fix: Check external fields against loaded manifest
  internal/core/src/query/PlanImpl.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProtoTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/SegmentLoadInfo.h
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
  internal/core/src/segcore/segment_c.cpp
  tests/python_client/milvus_client/test_milvus_client_external_table.py
Due: Core

fix: address datacoord scheduler review comments
  internal/datacoord/task/global_scheduler.go
  internal/datacoord/task/global_scheduler_test.go
Due: Go

enhance: pick least-loaded DataNode in globalScheduler instead of first-fit
  internal/datacoord/task/global_scheduler.go
  internal/datacoord/task/global_scheduler_test.go
Due: Go

enhance: track JSON stats in runtime state
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/unittest/test_sealed.cpp
  internal/querynodev2/segments/segment.go
Due: Core, Go

enhance: bind index meta to add function field DDL (#51104)
  internal/datacoord/index_inspector.go
  internal/datacoord/index_inspector_test.go
  internal/datacoord/index_service.go
  internal/datacoord/index_service_test.go
  internal/datacoord/snapshot_manager.go
  internal/proxy/task.go
  internal/proxy/task_index.go
  internal/proxy/task_test.go
  internal/proxy/util.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema_test.go
  internal/rootcoord/root_coord_test.go
  internal/util/indexparamcheck/index_params_validation.go
  internal/util/indexparamcheck/index_params_validation_test.go
  internal/util/schemautil/alter_schema_add.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  tests/python_client/milvus_client/test_add_function_field_feature.py
  tests/python_client/milvus_client/test_milvus_client_external_table.py
  tests/python_client/milvus_client/test_milvus_client_partition_key.py
  tests/python_client/requirements.txt
Due: Go

enhance: support query order-by in RESTful v2 API and Go SDK (#51170)
  client/milvusclient/read_option_test.go
  client/milvusclient/read_options.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  tests/go_client/testcases/query_test.go
Due: Client, Go

fix: Validate quick-create binary metrics by auto index
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  tests/restful_client_v2/testcases/test_collection_operations.py
Due: Go

enhance: apply L0 deletes during binlog import via l0_delta_paths option
  internal/util/importutilv2/binlog/reader.go
  internal/util/importutilv2/binlog/reader_test.go
  internal/util/importutilv2/option.go
  internal/util/importutilv2/reader.go
Due: Go

fix: drain thread pool futures before unwinding on error paths
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/IndexEntryEncryptedLocalWriter.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
Due: Core

enhance: address deltalog metrics review (level label, sort-once, L0 short-circuit)
  internal/datacoord/metrics_deltalog.go
  internal/datacoord/metrics_deltalog_test.go
  pkg/metrics/datacoord_metrics.go
Due: Go

fix: [cp 2.6] recover pchannels from collection metadata (#51144)
  internal/streamingcoord/server/balancer/channel/pchannel_stats.go
  internal/streamingcoord/server/balancer/channel/pchannel_test.go
  internal/streamingcoord/server/server.go
  internal/util/streamingutil/util/config_channel_provider.go
  internal/util/streamingutil/util/config_channel_provider_test.go
Due: Go

fix: restore conjunct AND early-exit at null-rejecting consumers
  internal/core/src/exec/expression/ConjunctExpr.cpp
  internal/core/src/exec/expression/ConjunctExpr.h
  internal/core/src/exec/expression/ConjunctExprTest.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/exec/operator/IterativeFilterNode.cpp
Due: Core

fix: fail fast on canceled context in wal state wait
  internal/streamingnode/server/walmanager/wal_lifetime_test.go
  internal/streamingnode/server/walmanager/wal_state_pair.go
Due: Go

docs: add cascade search design
  docs/design-docs/design_docs/20260709-cascade-search.md
Due: none

doc: add vector-anchored join design doc
  docs/design-docs/design_docs/20260708-vector-anchored-join.md
Due: none

docs: clarify cascade search limitations
  docs/design-docs/design_docs/20260709-cascade-search.md
Due: none

fix: clean analyzer option update
  internal/util/analyzer/canalyzer/c_analyzer_factory.go
  internal/util/analyzer/canalyzer/c_analyzer_test.go
Due: Go

enhance: use tsoutil helper for segment expiration
  internal/datacoord/segment_manager.go
  internal/datacoord/segment_manager_test.go
Due: Go

test: add REST e2e coverage for regex and array updates
  tests/restful_client_v2/testcases/test_partial_update_array_op.py
  tests/restful_client_v2/testcases/test_regex_filter.py
Due: none

enhance: carry TEXT LOB refs through schema-bump full-rewrite compaction (#50021)
  internal/compaction/lob_compaction.go
  internal/compaction/lob_compaction_test.go
  internal/datanode/compactor/bump_schema_version_compactor.go
  internal/datanode/compactor/bump_schema_version_compactor_test.go
  internal/proxy/function_task.go
  internal/proxy/function_task_test.go
  internal/proxy/task.go
  internal/proxy/task_test.go
Due: Go

enhance: [Catalog] split metastore catalog interfaces (#50946)
  internal/metastore/catalog.go
  internal/metastore/datacoord_catalog.go
  internal/metastore/querycoord_catalog.go
  internal/metastore/rootcoord_catalog.go
  internal/metastore/streamingcoord_catalog.go
  internal/metastore/streamingnode_catalog.go
Due: Go

config: add driver prefetch switch
  configs/milvus.yaml
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/src/common/Consts.h
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/exec/Driver.cpp
  internal/util/initcore/init_core.go
  internal/util/initcore/query_node.go
  internal/util/initcore/util.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

docs: add cascade search plan api alternative
  docs/design-docs/design_docs/20260709-cascade-search.md
Due: none

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
