Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: bound column scan resources to expression windows
  internal/core/src/exec/expression/Expr.h
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/mmap/ChunkedColumnInterfaceTest.cpp
  internal/core/src/mmap/ChunkedColumnScanCommon.h
  internal/core/src/mmap/ChunkedColumnScanCursors.cpp
Due: Core

feat(type): complete Decimal integration in payload reader, schema helpers, and segcore
  client/go.mod
  client/go.sum
  docs/design-docs/design_docs/20260718-decimal_type.md
  go.mod
  go.sum
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_decimal_segcore.cpp
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_test.go
  internal/querynodev2/segments/result_sorter.go
  internal/storage/data_codec_test.go
  internal/storage/payload_reader.go
  internal/storage/payload_test.go
  internal/storage/utils.go
  pkg/go.mod
  pkg/go.sum
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Core, Go

fix: sync delegator snapshot for delete forwarding
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/delegator/distribution_test.go
Due: Go

test: cover variable-width scan skip ranges
  internal/core/src/mmap/ChunkedColumnInterfaceTest.cpp
Due: Core

test: align scan lifecycle assertions with window scope
  internal/core/unittest/test_offsets_eval_correctness.cpp
Due: Core

fix(unittest): fix schemapb DataType enum and clang-format formatting for C++ tests
  internal/core/src/common/FieldMetaTest.cpp
  internal/core/src/segcore/ConcurrentVector.cpp
  internal/core/unittest/test_decimal_segcore.cpp
Due: Core

style(cpp): update license header and formatting in Decimal.h and test_decimal_wire_format.cpp
  internal/core/src/common/Decimal.h
  internal/core/unittest/test_decimal_wire_format.cpp
Due: Core

fix: deduplicate merged array contains values
  internal/parser/planparserv2/rewriter/README.md
  internal/parser/planparserv2/rewriter/array_contains.go
  internal/parser/planparserv2/rewriter/array_contains_integration_test.go
  internal/parser/planparserv2/rewriter/array_contains_test.go
Due: Go

style(cpp): apply clang-format-15 to fix CI cppcheck failure
  internal/core/src/common/FieldMetaTest.cpp
  internal/core/src/segcore/ConcurrentVector.cpp
  internal/core/unittest/test_decimal_segcore.cpp
  internal/proxy/task_upsert_test.go
Due: Core, Go

fix: stop dropping segment fields in clustering mapping
  internal/datanode/compactor/clustering_compactor.go
Due: Go

enhance: refine canMergeSort comment and test fixtures per review
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/mix_compactor_test.go
  internal/datanode/compactor/namespace_compactor_test.go
Due: Go

enhance: strengthen canMergeSort test and comments
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/mix_compactor_test.go
Due: Go

enhance: extract the merge-sort gate into canMergeSort
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/mix_compactor_test.go
Due: Go

enhance: report a (record, row) coordinate in the unsorted-input error
  internal/storage/sort.go
  internal/storage/sort_test.go
Due: Go

test: strengthen MergeSort baselines before the k-way rewrite
  internal/storage/sort_test.go
Due: Go

enhance: rewrite storage.MergeSort as a proper k-way merge
  internal/storage/sort.go
  internal/storage/sort_test.go
Due: Go

test: cover commit_timestamp handling in clustering compaction
  internal/datanode/compactor/clustering_compactor_test.go
Due: Go

enhance: correct the keys-lifetime comment and drop the dead heap tie-break
  internal/storage/sort.go
Due: Go

enhance: disambiguate the two merge-sort failure logs
  internal/datanode/compactor/merge_sort.go
  internal/datanode/compactor/mix_compactor.go
Due: Go

enhance: pin the reader index with a two-reader unsorted-input test
  internal/storage/sort_test.go
Due: Go

enhance: report unsorted merge input as ErrDataIntegrity with its location
  internal/storage/sort.go
  internal/storage/sort_test.go
Due: Go

fix: normalize import row timestamps in clustering compaction
  internal/datanode/compactor/clustering_compactor.go
Due: Go

enhance: gate merge sort on the sorted flag matching the merge key
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/mix_compactor_test.go
  internal/datanode/compactor/namespace_compactor_test.go
Due: Go

enhance: name the segments and merge key when merge sort fails
  internal/datanode/compactor/merge_sort.go
  internal/datanode/compactor/mix_compactor.go
Due: Go

fix: [poc_2.6.17] backport StructArray load & stability fixes (#50141 #49990 #51121 #51474 #50233 #50592)
  internal/core/src/common/Schema.h
  internal/core/src/exec/expression/ColumnExpr.cpp
  internal/core/src/exec/expression/ColumnExpr.h
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProtoTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
  internal/core/src/segcore/SegmentChunkReader.cpp
  internal/core/src/segcore/SegmentChunkReader.h
  internal/datacoord/garbage_collector.go
  internal/datacoord/garbage_collector_test.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/proxy/validate_util.go
  internal/proxy/validate_util_test.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/storage/record_reader.go
  internal/storage/record_reader_test.go
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
Due: Core, Go

fix: [poc_2.6.17] backport StructArray load & stability fixes (#50141 #49990 #51121 #51474 #50233 #50592) (#52176)
  internal/core/src/common/Schema.h
  internal/core/src/exec/expression/ColumnExpr.cpp
  internal/core/src/exec/expression/ColumnExpr.h
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProtoTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
  internal/core/src/segcore/SegmentChunkReader.cpp
  internal/core/src/segcore/SegmentChunkReader.h
  internal/datacoord/garbage_collector.go
  internal/datacoord/garbage_collector_test.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/proxy/validate_util.go
  internal/proxy/validate_util_test.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/storage/record_reader.go
  internal/storage/record_reader_test.go
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
Due: Core, Go

test: add REST ordering, aggregation, and schema evolution coverage
  tests/restful_client_v2/api/milvus.py
  tests/restful_client_v2/testcases/test_drop_field_operations.py
  tests/restful_client_v2/testcases/test_function_field_operations.py
  tests/restful_client_v2/testcases/test_query_aggregation.py
  tests/restful_client_v2/testcases/test_query_order_by.py
  tests/restful_client_v2/testcases/test_search_aggregation.py
  tests/restful_client_v2/testcases/test_search_order_by.py
Due: none

test: pin schemapb.UUIDArray in the fastpb field-set golden set
  pkg/util/fastpb/proto_contract_test.go
Due: Go

feat: drive manual rewrite compaction by reason records
  configs/milvus.yaml
  docs/design-docs/design_docs/20260603-compaction-reason-record-base-slice.md
  internal/datacoord/compaction_inspector.go
  internal/datacoord/compaction_inspector_test.go
  internal/datacoord/compaction_policy_clustering_test.go
  internal/datacoord/compaction_policy_reason.go
  internal/datacoord/compaction_policy_reason_test.go
  internal/datacoord/compaction_reason.go
  internal/datacoord/compaction_reason_test.go
  internal/datacoord/compaction_task.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/copy_segment_checker_test.go
  internal/datacoord/copy_segment_inspector_test.go
  internal/datacoord/copy_segment_meta_test.go
  internal/datacoord/import_checker_test.go
  internal/datacoord/import_inspector_test.go
  internal/datacoord/import_util_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/server_test.go
  internal/datacoord/services.go
  internal/metastore/kv/datacoord/constant.go
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/kv/datacoord/kv_catalog_reason_record_test.go
  internal/metastore/kv/datacoord/util.go
  internal/metastore/mocks/mock_datacoord_catalog.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

feat: align reason selector wiring
  internal/datacoord/compaction_policy_reason.go
  internal/datacoord/compaction_policy_reason_test.go
Due: Go

feat: make compaction reason selector segment-first
  internal/datacoord/compaction_policy_reason.go
  internal/datacoord/compaction_policy_reason_test.go
  internal/datacoord/compaction_reason.go
  internal/datacoord/compaction_reason_test.go
Due: Go

fix: set compaction reason config version to 3.0.0
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

feat: reshape compaction reason records as targets
  configs/milvus.yaml
  docs/design-docs/design_docs/20260603-compaction-reason-record-base-slice.md
  docs/design-docs/design_docs/20260603-target-based-compaction-base-slice.md
  internal/datacoord/compaction_policy_clustering_test.go
  internal/datacoord/compaction_policy_reason.go
  internal/datacoord/compaction_policy_reason_test.go
  internal/datacoord/compaction_reason.go
  internal/datacoord/compaction_reason_test.go
  internal/datacoord/compaction_target.go
  internal/datacoord/compaction_target_reconciler.go
  internal/datacoord/compaction_target_reconciler_test.go
  internal/datacoord/compaction_target_test.go
  internal/datacoord/copy_segment_checker_test.go
  internal/datacoord/copy_segment_inspector_test.go
  internal/datacoord/copy_segment_meta_test.go
  internal/datacoord/import_checker_test.go
  internal/datacoord/import_inspector_test.go
  internal/datacoord/import_util_test.go
  internal/datacoord/server_test.go
  internal/datacoord/services.go
  internal/metastore/kv/datacoord/constant.go
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/kv/datacoord/kv_catalog_compaction_target_test.go
  internal/metastore/kv/datacoord/kv_catalog_reason_record_test.go
  internal/metastore/kv/datacoord/util.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

refactor: dispatch target selection by compaction type
  internal/datacoord/compaction_target.go
  internal/datacoord/compaction_target_reconciler.go
  internal/datacoord/compaction_target_test.go
Due: Go

fix: keep blocked compaction target matches pending
  internal/datacoord/compaction_target_reconciler.go
  internal/datacoord/compaction_target_reconciler_test.go
  internal/datacoord/compaction_target_rule.go
  internal/datacoord/compaction_target_test.go
  internal/datacoord/compaction_util.go
  internal/datacoord/compaction_util_test.go
Due: Go

enhance: preserve manual compaction index filtering
  internal/datacoord/compaction_target_reconciler.go
  internal/datacoord/compaction_target_reconciler_test.go
Due: Go

enhance: exclude external collections from target reconciliation
  internal/datacoord/compaction_target_reconciler.go
  internal/datacoord/compaction_target_reconciler_test.go
Due: Go

enhance: distinguish manual compaction candidate stages
  internal/datacoord/compaction_util.go
  internal/datacoord/compaction_util_test.go
Due: Go

enhance: make compaction reconciliation target-first
  internal/datacoord/compaction_target.go
  internal/datacoord/compaction_target_reconciler.go
  internal/datacoord/compaction_target_reconciler_test.go
  internal/datacoord/compaction_target_test.go
Due: Go

test: cover compaction target ownership boundaries
  internal/datacoord/compaction_target_reconciler_test.go
  internal/datacoord/compaction_trigger_v2_test.go
Due: Go
