Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

update tantivy
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
Due: Core

update tantivy
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.toml
Due: Core

Fix cases
  tests/python_client/milvus_client/test_milvus_client_insert.py
Due: none

Only download necessary fields during clustering analyze phase
  internal/datanode/compaction/clustering_compactor.go
Due: Go

fix ut
  internal/datanode/compaction/clustering_compactor_test.go
Due: Go

fix failure checks
  tests/python_client/testcases/test_connection.py
Due: none

fix: Set status when err is not empty
  internal/proxy/impl.go
Due: Go

fix: [cp25]Set status when err is not empty
  internal/proxy/impl.go
Due: Go

fix get binlog
  internal/datanode/compactor/clustering_compactor.go
Due: Go

Only download necessary fields during clustering analyze phase
  internal/datanode/compactor/clustering_compactor.go
  internal/datanode/compactor/clustering_compactor_test.go
Due: Go

remove unused timestamp
  internal/datanode/compactor/clustering_compactor.go
Due: Go

enhance: wal balance consider the wal status on streamingnode (#43265)
  configs/milvus.yaml
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/balancer_test.go
  internal/streamingcoord/server/balancer/channel/pchannel.go
  internal/streamingcoord/server/balancer/channel/pchannel_view.go
  internal/streamingcoord/server/balancer/policy/vchannelfair/expected_layout.go
  internal/streamingcoord/server/balancer/policy/vchannelfair/pchannel_count_fair_test.go
  internal/streamingcoord/server/balancer/policy/vchannelfair/vchannel_fair_policy.go
  internal/streamingcoord/server/balancer/policy_registry.go
  internal/streamingnode/client/manager/manager_client_impl.go
  internal/streamingnode/server/service/manager.go
  internal/streamingnode/server/walmanager/manager_impl.go
  internal/streamingnode/server/walmanager/manager_impl_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/streaming/util/types/streaming_node.go
  pkg/streaming/util/types/wal_metrics.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  tests/integration/balance/balance_test.go
  tests/integration/balance/channel_exclusive_balance_test.go
  tests/integration/cluster/cluster.go
  tests/integration/partialsearch/partial_result_on_node_down_test.go
  tests/integration/replicas/balance/replica_test.go
  tests/integration/replicas/load/load_test.go
  tests/integration/rollingupgrade/manual_rolling_upgrade_test.go
Due: Go

upgrade to 2.5.13rc3
  tests/python_client/requirements.txt
Due: none

fix: [cp25]Use diskSegmentMaxSize for coll with sparse and dense vectors (#43195)
  internal/datacoord/compaction_policy_clustering_test.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/compaction_trigger_v2_test.go
  internal/datacoord/import_checker.go
  internal/datacoord/import_util.go
  internal/datacoord/import_util_test.go
  internal/datacoord/index_meta.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Go

feat: impose a physical memory limit when loading cells (#43222)
  configs/milvus.yaml
  internal/core/src/cachinglayer/CacheSlot.h
  internal/core/src/cachinglayer/Manager.cpp
  internal/core/src/cachinglayer/Utils.cpp
  internal/core/src/cachinglayer/Utils.h
  internal/core/src/cachinglayer/lrucache/DList.cpp
  internal/core/src/cachinglayer/lrucache/DList.h
  internal/core/src/cachinglayer/lrucache/ListNode.cpp
  internal/core/src/cachinglayer/lrucache/ListNode.h
  internal/core/src/common/Chunk.h
  internal/core/src/log/Log.h
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/unittest/test_cachinglayer/test_cache_slot.cpp
  internal/core/unittest/test_cachinglayer/test_dlist.cpp
  internal/querynodev2/server.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

fix: fence failure and remove list API usage (#43365)
  configs/milvus.yaml
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

fix: change maxTimeTickDelay from 5m into 20m (#43377)
  configs/milvus.yaml
  internal/rootcoord/quota_center.go
  pkg/util/paramtable/quota_param.go
  pkg/util/paramtable/quota_param_test.go
Due: Go

enhance: support all partitions in shard manager for L0 segment (#43385)
  internal/mocks/streamingnode/server/wal/interceptors/shard/mock_shards/mock_ShardManager.go
  internal/streamingnode/server/wal/interceptors/redo/redo_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_collection.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_interface.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_partition.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_segment.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_test.go
  internal/streamingnode/server/wal/interceptors/shard/shards/util.go
  internal/streamingnode/server/wal/interceptors/shard/utils/stats.go
Due: Go

enhance: extend the stats manage at streaming shard manager for L0
  configs/milvus.yaml
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shards/partition_manager.go
  internal/streamingnode/server/wal/interceptors/shard/shards/partition_manager_test.go
  internal/streamingnode/server/wal/interceptors/shard/shards/segment_alloc_worker.go
  internal/streamingnode/server/wal/interceptors/shard/shards/segment_limitation_policy.go
  internal/streamingnode/server/wal/interceptors/shard/shards/segment_manager.go
  internal/streamingnode/server/wal/interceptors/shard/shards/segment_manager_test.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_segment.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_test.go
  internal/streamingnode/server/wal/interceptors/shard/stats/aggregated_metrics.go
  internal/streamingnode/server/wal/interceptors/shard/stats/aggregated_metrics_test.go
  internal/streamingnode/server/wal/interceptors/shard/stats/config.go
  internal/streamingnode/server/wal/interceptors/shard/stats/config_test.go
  internal/streamingnode/server/wal/interceptors/shard/stats/metrics.go
  internal/streamingnode/server/wal/interceptors/shard/stats/stats_manager.go
  internal/streamingnode/server/wal/interceptors/shard/stats/stats_manager_test.go
  internal/streamingnode/server/wal/interceptors/shard/utils/stats.go
  internal/streamingnode/server/wal/interceptors/shard/utils/stats_test.go
  internal/streamingnode/server/wal/recovery/segment_recovery_info.go
  internal/streamingnode/server/wal/recovery/segment_recovery_info_test.go
  pkg/metrics/streaming_service_metrics.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/streaming/util/message/marshal_log_object.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

Add search post pipeline
  internal/proxy/impl.go
  internal/proxy/search_pipeline.go
  internal/proxy/search_pipeline_test.go
  internal/proxy/search_reduce_util.go
  internal/proxy/search_util.go
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
  internal/util/credentials/credentials.go
  internal/util/function/rerank/function_score.go
  internal/util/function/rerank/function_score_test.go
  tests/python_client/milvus_client/test_milvus_client_hybrid_search.py
Due: Go

enhance: [StorageV2] refactor group chunk translator
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  internal/core/unittest/test_group_chunk_translator.cpp
Due: Core

fix: Make MultiSaveAndRemove execute removal first
  internal/kv/etcd/embed_etcd_kv.go
  internal/kv/etcd/etcd_kv.go
  internal/kv/mem/mem_kv.go
  internal/kv/tikv/txn_tikv.go
  internal/metastore/kv/rootcoord/suffix_snapshot.go
  pkg/kv/rocksdb/rocksdb_kv.go
Due: Go

add log
  internal/core/src/segcore/memory_planner.cpp
Due: Core

test: test balance ci
  internal/querycoordv2/meta/replica.go
  internal/querycoordv2/meta/replica_manager.go
Due: Go

test: set woodpecker as e2e standalone messageQueue
  tests/_helm/values/e2e/standalone
Due: none

fix search case
  tests/python_client/milvus_client/test_milvus_client_search.py
Due: none

test: update helm to update test minio version
  ci/jenkins/Nightly2.groovy
  ci/jenkins/PR-Arm.groovy
  ci/jenkins/PR-for-go-sdk.groovy
  ci/jenkins/PR.groovy
  ci/jenkins/PRGPU.groovy
  ci/jenkins/UT-CPP.groovy
Due: none

test: update nightly cases
  tests/python_client/milvus_client_v2/test_milvus_client_alias_v2.py
  tests/python_client/testcases/async_milvus_client/test_collection_async.py
  tests/python_client/testcases/test_utility.py
Due: none

Revert "fix: [2.5] Align null bitmap offset when loading multi-chunk (#43321) (#43342)"
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
Due: Core

test: add collection rename checker in chaos test
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/testcases/test_single_request_operation.py
Due: none

test: update nightly cases[2.5]
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/testcases/test_collection.py
  tests/python_client/testcases/test_search.py
  tests/python_client/testcases/test_utility.py
Due: none

test:[cp2.5]add collection rename checker in chaos test
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/testcases/test_single_request_operation.py
Due: none

Call AlterCollection when only rename collection
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
Due: Go

enhance: Upgrade PyMilvus to 2.5.13rc2 (#43368)
  tests/python_client/requirements.txt
  tests/python_client/testcases/test_connection.py
Due: none

fix: Make MultiSaveAndRemove execute removal first (#43408)
  internal/kv/etcd/embed_etcd_kv.go
  internal/kv/etcd/etcd_kv.go
  internal/kv/mem/mem_kv.go
  internal/kv/tikv/txn_tikv.go
  internal/metastore/kv/rootcoord/suffix_snapshot.go
  pkg/kv/rocksdb/rocksdb_kv.go
Due: Go

fix: update tantivy for fixing dir removing race condition (#43399)
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
Due: Core
