Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: resolve the schema bytes form when a CreateVChannel registers its target
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_collection.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_split_test.go
Due: Go

enhance: one lock for the insert admission, and a louder failure at the fence
  internal/flushcommon/pipeline/flow_graph_dd_node.go
  internal/mocks/streamingnode/server/wal/interceptors/shard/mock_shards/mock_ShardManager.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_split_test.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_collection.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_interface.go
Due: Go

fix: satisfy the linters CI runs, on this PR's own code
  internal/distributed/streaming/splitshard.go
  internal/flushcommon/pipeline/flow_graph_dd_node.go
  internal/streamingnode/server/flusher/flusherimpl/util.go
Due: Go

fix: refuse a vchannel genesis without a schema, and stop leaking its runner key
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_split_test.go
Due: Go

fix: read an empty recovery message id as the earliest the WAL retains
  internal/streamingnode/server/flusher/flusherimpl/util.go
  internal/streamingnode/server/flusher/flusherimpl/util_test.go
Due: Go

build(deps): bump the go_client test module to the same milvus-proto
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: none

fix: keep answering SHARD_FENCED for a retired split source
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_collection.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_split_test.go
Due: Go

doc: record the drain precondition on DropSplitVChannel
  internal/distributed/streaming/splitshard.go
Due: Go

test: keep the unseekable-position case a test rather than a claim
  internal/streamingnode/server/flusher/flusherimpl/util_test.go
Due: Go

fix: never hand back a nil streaming error, and do not trust an unseekable position
  internal/streamingnode/server/flusher/flusherimpl/util.go
  internal/util/streamingutil/status/rpc_error_test.go
  internal/util/streamingutil/status/streaming_error.go
Due: Go

fix: refuse a write whose vchannel this shard manager does not hold
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_split_test.go
Due: Go

enhance: warn when recovery replays from the earliest position, and fix a comment
  internal/streamingnode/server/flusher/flusherimpl/util.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  pkg/streaming/util/message/message_type.go
Due: Go

fix: set a flush timestamp at the split fence so the L0 buffer does not pin the checkpoint
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl.go
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl_test.go
Due: Go

fix: follow upstream's WAL.Available -> Unavailable rename in the split shard manager test
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_split_test.go
Due: Go

fix: make the routing contract refuse what it cannot place
  internal/util/routing/hash_routing.go
  internal/util/routing/hash_routing_test.go
  internal/util/routing/routing_table.go
  internal/util/routing/routing_table_test.go
  internal/util/routing/table.go
  internal/util/routing/table_test.go
  internal/util/routing/table_write_test.go
Due: Go

feat: add the shard routing abstraction for online shard split
  internal/util/routing/hash_routing.go
  internal/util/routing/hash_routing_test.go
  internal/util/routing/routing_table.go
  internal/util/routing/routing_table_test.go
  internal/util/routing/table.go
  internal/util/routing/table_test.go
  internal/util/routing/table_write_test.go
Due: Go

enhance: count residue owners once in Derive, and wrap with merr
  docs/design-docs/design_docs/20260610-shard_split.md
  internal/util/routing/hash_routing.go
Due: Go

fix: refuse a shard_by truncated after the parenthesis instead of panicking
  internal/util/routing/table.go
  internal/util/routing/table_test.go
Due: Go

fix: read no shard info as never-split, and refuse a shard the channel list lacks
  docs/design-docs/design_docs/20260610-shard_split.md
  internal/util/routing/table.go
  internal/util/routing/table_test.go
Due: Go

fix: refuse shard info that disagrees with the vchannel list, and export the never-split assignment
  internal/util/routing/hash_routing.go
  internal/util/routing/table.go
  internal/util/routing/table_test.go
Due: Go

doc: describe the residue routing the split actually implements
  docs/design-docs/design_docs/20260610-shard_split.md
Due: none

build(deps): pin the released milvus-proto carrying the shard routing types
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
Due: Client, Go

fix: classify a stale routing snapshot as retriable, and close six contract gaps
  internal/util/routing/hash_routing.go
  internal/util/routing/hash_routing_test.go
  internal/util/routing/table.go
  internal/util/routing/table_test.go
  internal/util/routing/table_write_test.go
  pkg/util/merr/errors.go
  pkg/util/merr/utils.go
Due: Go

doc: state when hash($namespace_id) is a valid routing key, and what residues cost
  docs/design-docs/design_docs/20260610-shard_split.md
  internal/util/routing/table.go
  internal/util/routing/table_test.go
Due: Go

enhance: gate placement on analyzer file resources
  internal/coordinator/file_resource_observer.go
  internal/coordinator/file_resource_observer_test.go
  internal/querycoordv2/file_resource_gate.go
  internal/querycoordv2/server.go
  internal/querycoordv2/task/executor.go
  internal/querycoordv2/task/executor_file_resource_test.go
  internal/querycoordv2/task/scheduler.go
Due: Go

fix: [2.6] upgrade librdkafka to 2.6.1 for SASL/SCRAM against Kafka 4.x (#52666)
  internal/core/conanfile.py
  pkg/mq/msgstream/mqwrapper/kafka/kafka_consumer_test.go
Due: Core, Go

fix: [3.0] upgrade librdkafka to 2.6.1 for SASL/SCRAM against Kafka 4.x (#53086)
  internal/core/conanfile.py
  pkg/mq/msgstream/mqwrapper/kafka/kafka_consumer_test.go
Due: Core, Go

enhance: reduce mix compaction write amplification
  configs/milvus.yaml
  internal/datacoord/compaction_tier.go
  internal/datacoord/compaction_tier_test.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/knapsack.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: [3.0] Use AutoSpan::SetAttribute in filter eval hot path (#53164) (#53167)
  internal/core/conanfile.py
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/CallExpr.cpp
  internal/core/src/exec/expression/ColumnExpr.cpp
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/ConjunctExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/NullExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/ValueExpr.cpp
  internal/core/src/exec/operator/VectorSearchNode.cpp
  internal/core/src/query/ExecPlanNodeVisitor.cpp
Due: Core

fix: preserve V2 compaction path indexes (#53200)
  internal/datanode/compactor/compactor_common.go
  internal/datanode/compactor/compactor_common_test.go
  internal/datanode/compactor/mix_compactor_storage_v2_test.go
Due: Go

feat: preserve primary keys in full AutoID upsert
  client/milvusclient/write_option_test.go
  client/milvusclient/write_options.go
  configs/milvus.yaml
  docs/design-docs/design_docs/20260601-partial-update-optimistic-lock-design.md
  docs/design-docs/design_docs/20260803-autoid-upsert-primary-key-preservation.md
  internal/proxy/task_query.go
  internal/proxy/task_query_test.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_streaming.go
  internal/proxy/task_upsert_test.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  pkg/util/merr/error_classification_test.go
  pkg/util/merr/errors.go
  pkg/util/merr/errors_test.go
  pkg/util/merr/utils.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  tests/go_client/testcases/nullable_default_value_test.go
  tests/go_client/testcases/upsert_test.go
  tests/integration/hellomilvus/upsert_test.go
  tests/python_client/milvus_client/test_milvus_client_partition.py
  tests/python_client/milvus_client/test_milvus_client_upsert.py
  tests/restful_client_v2/testcases/test_vector_operations.py
Due: Client, Go

test: align AutoID upsert fixtures with query semantics
  configs/milvus.yaml
  internal/proxy/proxy_test.go
  internal/proxy/task_query_test.go
Due: Go

feat: support positional partial updates for array values
  client/column/struct.go
  client/column/struct_test.go
  client/milvusclient/write_options.go
  client/milvusclient/write_options_partial_op_test.go
  client/row/data.go
  docs/design-docs/design_docs/20260901-array-positional-partial-update.md
  internal/distributed/proxy/httpserver/handler_v1.go
  internal/distributed/proxy/httpserver/handler_v1_test.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/distributed/proxy/httpserver/request_v2_test.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  internal/proxy/impl.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_partial_op.go
  internal/proxy/task_upsert_partial_op_test.go
  pkg/metrics/proxy_metrics.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_partial_op_test.go
  tests/go_client/testcases/struct_array_test.go
  tests/go_client/testcases/upsert_array_partial_op_test.go
Due: Client, Go

fix: validate positional update operands consistently
  client/row/data.go
  internal/proxy/task_upsert_partial_op.go
  internal/proxy/task_upsert_partial_op_test.go
  pkg/util/typeutil/field_data.go
  pkg/util/typeutil/field_data_test.go
  rules.go
Due: Client, Go

feat: enforce positional array update contracts
  client/column/struct.go
  client/column/struct_test.go
  client/go.mod
  client/go.sum
  client/milvusclient/read.go
  client/milvusclient/write_option_test.go
  client/milvusclient/write_options.go
  client/milvusclient/write_options_partial_op_test.go
  client/row/data.go
  docs/design-docs/design_docs/20260901-array-positional-partial-update.md
  go.mod
  go.sum
  internal/distributed/proxy/httpserver/handler_v1.go
  internal/distributed/proxy/httpserver/handler_v1_test.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/distributed/proxy/httpserver/request_v2_test.go
  internal/proxy/impl.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_partial_op.go
  internal/proxy/task_upsert_partial_op_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/metrics/proxy_metrics.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_partial_op_test.go
  tests/go_client/go.mod
  tests/go_client/go.sum
  tests/go_client/testcases/struct_array_test.go
  tests/go_client/testcases/upsert_array_partial_op_test.go
Due: Client, Go

fix: decide Take output eligibility per request
  internal/core/src/query/PlanImpl.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/plan_c.cpp
  internal/core/src/segcore/plan_c.h
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/unittest/test_external_take.cpp
  internal/querynodev2/tasks/query_stream_task.go
  internal/querynodev2/tasks/query_task.go
  internal/querynodev2/tasks/search_task.go
  internal/querynodev2/tasks/search_task_go_reduce.go
  internal/querynodev2/tasks/search_task_test.go
  internal/querynodev2/tasks/take_for_output.go
  internal/util/initcore/init_core.go
  internal/util/initcore/init_core_test.go
  internal/util/initcore/query_node.go
  internal/util/segcore/plan.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
