Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: apply write limits to packed async file loads
  docs/design-docs/assets/graphs/async-packed-scalar-index/packed-architecture.svg
  docs/design-docs/assets/graphs/async-packed-scalar-index/packed-sequence.svg
  docs/design-docs/design_docs/20260907-async-packed-scalar-index-loading.md
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/FMIndex.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexLoadUtils.h
  internal/core/src/index/ScalarIndexAsync.cpp
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/index/ScalarIndexTest.cpp
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/storage/AsyncIndexEntryReader.cpp
  internal/core/src/storage/AsyncIndexEntryReader.h
  internal/core/src/storage/AsyncIndexEntryReaderTest.cpp
  internal/core/src/storage/FileWriter.cpp
  internal/core/src/storage/FileWriterTest.cpp
  internal/core/src/storage/IndexLoadPlan.h
  internal/core/src/storage/StagingIndexFile.h
  internal/core/src/storage/WritableMmapFile.h
Due: Core

fix: preserve thread-based estimates for sync loads
  docs/design-docs/design_docs/20260907-async-packed-scalar-index-loading.md
  internal/core/src/index/HybridScalarIndexTest.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/InvertedIndexTest.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslatorTest.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslatorTest.cpp
  internal/core/src/storage/LoadAdmissionControllerTest.cpp
  internal/core/src/storage/LoadOverheadController.cpp
  internal/core/src/storage/LoadOverheadController.h
  internal/core/src/storage/ThreadPools.cpp
  internal/core/src/storage/ThreadPools.h
  internal/core/src/storage/ThreadPoolsTest.cpp
Due: Core

enhance: share packed index catalogs across readers
  docs/design-docs/design_docs/20260907-async-packed-scalar-index-loading.md
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/BitmapIndexArrayTest.cpp
  internal/core/src/index/FMIndex.cpp
  internal/core/src/index/HybridScalarIndex.cpp
  internal/core/src/index/IndexLoadUtils.h
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/JsonHybridScalarIndex.h
  internal/core/src/index/JsonScalarIndexWrapper.h
  internal/core/src/index/RTreeIndex.cpp
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/storage/AsyncIndexEntryReader.cpp
  internal/core/src/storage/AsyncIndexEntryReaderTest.cpp
  internal/core/src/storage/IndexEntryCatalog.cpp
  internal/core/src/storage/IndexEntryCatalog.h
  internal/core/src/storage/IndexEntryReader.cpp
  internal/core/src/storage/IndexEntryReader.h
  internal/core/src/storage/IndexEntryWriterTest.cpp
Due: Core

enhance: advise cache usage for bitmap staging files
  internal/core/src/index/BitmapIndex.cpp
Due: Core

enhance: simplify packed scalar loading
  internal/core/src/index/FMIndex.h
  internal/core/src/index/HybridScalarIndexTest.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexFactory.h
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/segcore/storagev1translator/SealedIndexTranslator.cpp
  internal/core/src/storage/AsyncIndexEntryReader.cpp
  internal/core/src/storage/AsyncIndexEntryReaderTest.cpp
  internal/core/src/storage/IndexEntryCatalog.h
  internal/core/src/storage/RemoteInputStream.cpp
  internal/core/src/storage/RemoteInputStreamTest.cpp
Due: Core

enhance: read packed validity into final bitmaps
  docs/design-docs/design_docs/20260907-async-packed-scalar-index-loading.md
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/BitmapIndexTest.cpp
  internal/core/src/index/FMIndex.cpp
  internal/core/src/index/FMIndexTest.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/index/StringIndexSortTest.cpp
Due: Core

enhance: clarify packed scalar load finalization
  docs/design-docs/assets/graphs/async-packed-scalar-index/packed-architecture.svg
  docs/design-docs/assets/graphs/async-packed-scalar-index/packed-sequence.svg
  docs/design-docs/design_docs/20260907-async-packed-scalar-index-loading.md
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/BitmapIndex.h
  internal/core/src/index/BitmapIndexTest.cpp
  internal/core/src/index/FMIndex.cpp
  internal/core/src/index/FMIndex.h
  internal/core/src/index/FMIndexTest.cpp
  internal/core/src/index/HybridScalarIndex.cpp
  internal/core/src/index/HybridScalarIndex.h
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/InvertedIndexTantivy.h
  internal/core/src/index/InvertedIndexTest.cpp
  internal/core/src/index/JsonHybridScalarIndex.h
  internal/core/src/index/JsonScalarIndexWrapper.h
  internal/core/src/index/NgramInvertedIndex.cpp
  internal/core/src/index/NgramInvertedIndex.h
  internal/core/src/index/RTreeIndex.cpp
  internal/core/src/index/RTreeIndex.h
  internal/core/src/index/RTreeIndexTest.cpp
  internal/core/src/index/ScalarIndex.h
  internal/core/src/index/ScalarIndexAsync.cpp
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/index/ScalarIndexSort.h
  internal/core/src/index/ScalarIndexSortTest.cpp
  internal/core/src/index/ScalarIndexTest.cpp
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/StringIndexMarisa.h
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/index/StringIndexSort.h
  internal/core/src/index/StringIndexSortTest.cpp
  internal/core/src/index/StringIndexTest.cpp
Due: Core

enhance: reuse counter map in vchannelFair pchannel affinity calc
  internal/streamingcoord/server/balancer/policy/vchannelfair/pchannel_affinity.go
  internal/streamingcoord/server/balancer/policy/vchannelfair/pchannel_affinity_test.go
Due: Go

enhance: remove legacy segment get_schema API (#51932)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentGrowingTest.cpp
  internal/core/src/segcore/SegmentInterface.h
Due: Core

enhance: decouple broadcast resource ownership from import messages
  internal/datacoord/ddl_callbacks_import.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/broadcast_task.go
  internal/streamingcoord/server/broadcaster/broadcaster.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
  internal/streamingcoord/server/broadcaster/registry/resource_key_pair.go
Due: Go

fix: key the ParamItem duration cache on the requested unit (#53461)
  pkg/util/paramtable/param_item.go
  pkg/util/paramtable/param_item_test.go
Due: Go

enhance: support expression cache for brute-force search
  configs/milvus.yaml
  docs/design-docs/design_docs/20260602-expression-result-cache.md
  docs/design-docs/design_docs/20260729-json-stats-build-parallelism.md
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/DiskSlotFile.cpp
  internal/core/src/exec/expression/DiskSlotFile.h
  internal/core/src/exec/expression/EntryPool.cpp
  internal/core/src/exec/expression/EntryPool.h
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/ExprCache.cpp
  internal/core/src/exec/expression/ExprCache.h
  internal/core/src/exec/expression/ExprCacheHelper.h
  internal/core/src/exec/expression/ExprCacheTest.cpp
  internal/core/src/exec/expression/RawExprCacheAdapter.cpp
  internal/core/src/exec/expression/RawExprCacheAdapter.h
  internal/core/src/exec/expression/RawExprCacheAdapterTest.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/expr/ITypeExpr.h
  internal/util/initcore/init_core.go
  internal/util/initcore/util.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: make WAL summary and keyed idempotency always available (#40451)
  client/milvusclient/write_options.go
  docs/design-docs/design_docs/20260604-idempotent_write.md
  docs/design-docs/design_docs/wal/summary.md
  docs/design-docs/design_docs/wal/transform_log.md
  internal/proxy/task.go
  internal/proxy/task_insert.go
  internal/proxy/task_insert_idempotency.go
  internal/proxy/task_insert_idempotency_autoid.go
  internal/proxy/task_insert_idempotency_autoid_test.go
  internal/proxy/task_insert_idempotency_test.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor_test.go
  internal/streamingnode/server/wal/adaptor/wal_adaptor_trace_test.go
  internal/streamingnode/server/wal/adaptor/wal_idempotency_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/builder.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/window.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl_test.go
  internal/streamingnode/server/wal/utility/reorder_buffer.go
  internal/streamingnode/server/wal/utility/reorder_buffer_test.go
  internal/streamingnode/server/wal/vchannel/persist_request_test.go
  internal/streamingnode/server/wal/walsummary/async_test.go
  internal/streamingnode/server/wal/walsummary/manager.go
  internal/streamingnode/server/wal/walsummary/manager_test.go
  internal/streamingnode/server/wal/walsummary/transform_test.go
  pkg/common/common.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Client, Go

fix: gate poisoned recovery messages and flush summary backlog (#40451)
  docs/agent_guides/streaming-system/wal/recovery-storage.md
  docs/design-docs/design_docs/20260604-idempotent_write.md
  docs/design-docs/design_docs/wal/broadcast_ack_module.md
  docs/design-docs/design_docs/wal/checkpoint-persistence.md
  docs/design-docs/design_docs/wal/message-workflow.md
  docs/design-docs/design_docs/wal/message_ack.md
  docs/design-docs/design_docs/wal/recovery-tail-controller.md
  docs/design-docs/design_docs/wal/segment_view_module.md
  docs/design-docs/design_docs/wal/summary.md
  docs/design-docs/design_docs/wal/transform_log.md
  docs/design-docs/design_docs/wal/transform_log_view_module.md
  docs/design-docs/design_docs/wal/transformlog/transform_log.md
  docs/design-docs/design_docs/wal/vchannel_view_module.md
  docs/design-docs/design_docs/wal/wal-recovery-architecture.md
  internal/streamingnode/server/wal/messageack/tracker.go
  internal/streamingnode/server/wal/messageack/tracker_test.go
  internal/streamingnode/server/wal/recovery/broadcast_ack_module.go
  internal/streamingnode/server/wal/recovery/broadcast_ack_module_test.go
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl_test.go
  internal/streamingnode/server/wal/vchannel/segment/task.go
  internal/streamingnode/server/wal/walsummary/async.go
  internal/streamingnode/server/wal/walsummary/async_test.go
  internal/streamingnode/server/wal/walsummary/manager.go
  pkg/streaming/util/message/message.go
  pkg/streaming/util/message/ref_counted_message.go
  pkg/streaming/util/message/ref_counted_message_test.go
Due: Go

enhance: clarify latest control state recovery semantics (#40451)
  docs/agent_guides/streaming-system/wal/recovery-storage.md
  docs/design-docs/design_docs/wal/checkpoint-persistence.md
  docs/design-docs/design_docs/wal/wal-recovery-architecture.md
Due: none

fix: unify WAL scanners across recovery barrier (#40451)
  docs/agent_guides/streaming-system/wal/recovery-storage.md
  docs/design-docs/design_docs/wal/wal-recovery-architecture.md
  internal/streamingnode/server/wal/adaptor/opener.go
  internal/streamingnode/server/wal/adaptor/recovery_scanner_test.go
  internal/streamingnode/server/wal/adaptor/recovery_stream.go
  internal/streamingnode/server/wal/adaptor/ro_wal_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor_test.go
  internal/streamingnode/server/wal/adaptor/scanner_switchable.go
  internal/streamingnode/server/wal/recovery/recovery_storage.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl_test.go
  internal/streamingnode/server/wal/recovery/recovery_stream.go
  internal/streamingnode/server/wal/utility/txn_buffer.go
  internal/streamingnode/server/wal/utility/txn_buffer_test.go
Due: Go

enhance: separate L0 materializer and TransformLog designs (#40451)
  docs/agent_guides/streaming-system/wal/recovery-storage.md
  docs/design-docs/design_docs/wal/checkpoint-persistence.md
  docs/design-docs/design_docs/wal/l0_materializer.md
  docs/design-docs/design_docs/wal/message-workflow.md
  docs/design-docs/design_docs/wal/message_ack.md
  docs/design-docs/design_docs/wal/recovery-tail-controller.md
  docs/design-docs/design_docs/wal/streamingnode_vchannel_wal_view.md
  docs/design-docs/design_docs/wal/summary.md
  docs/design-docs/design_docs/wal/transform_log.md
  docs/design-docs/design_docs/wal/transform_log_view_module.md
  docs/design-docs/design_docs/wal/transformlog/transform_log.md
  docs/design-docs/design_docs/wal/vchannel_view_module.md
  docs/design-docs/design_docs/wal/wal-recovery-architecture.md
Due: none

fix: restore idempotency windows during WAL recovery (#40451)
  docs/agent_guides/streaming-system/wal/recovery-storage.md
  docs/design-docs/design_docs/wal/summary.md
  docs/design-docs/design_docs/wal/vchannel_view_module.md
  internal/streamingnode/server/wal/interceptors/idempotency/builder_test.go
  internal/streamingnode/server/wal/recovery/recovery_idempotency_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage.go
  internal/streamingnode/server/wal/recovery/recovery_stream.go
Due: Go

enhance: materialize L0 through shared WALSummary reads (#40451)
  docs/agent_guides/streaming-system/wal/recovery-storage.md
  docs/design-docs/design_docs/wal/l0_materializer.md
  docs/design-docs/design_docs/wal/message-workflow.md
  docs/design-docs/design_docs/wal/summary.md
  docs/design-docs/design_docs/wal/transform_log.md
  docs/design-docs/design_docs/wal/transform_log_view_module.md
  docs/design-docs/design_docs/wal/vchannel_view_module.md
  docs/design-docs/design_docs/wal/wal-recovery-architecture.md
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  internal/streamingnode/server/wal/recovery/recovery_message_ack_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/vchannel/flush_checkpoint_test.go
  internal/streamingnode/server/wal/vchannel/l0materializer/materialize_test.go
  internal/streamingnode/server/wal/vchannel/l0materializer/materializer.go
  internal/streamingnode/server/wal/vchannel/l0materializer/task.go
  internal/streamingnode/server/wal/vchannel/l0materializer/window.go
  internal/streamingnode/server/wal/vchannel/l0materializer/writer_test.go
  internal/streamingnode/server/wal/vchannel/manager.go
  internal/streamingnode/server/wal/vchannel/materialize_bound_test.go
  internal/streamingnode/server/wal/vchannel/module.go
  internal/streamingnode/server/wal/vchannel/persist_request_test.go
  internal/streamingnode/server/wal/vchannel/segment/view.go
  internal/streamingnode/server/wal/vchannel/transformlog/materialize_test.go
  internal/streamingnode/server/wal/vchannel/transformlog/task.go
  internal/streamingnode/server/wal/vchannel/transformlog/transform_log.go
  internal/streamingnode/server/wal/walsummary/gc.go
  internal/streamingnode/server/wal/walsummary/manager.go
  internal/streamingnode/server/wal/walsummary/reader.go
  internal/streamingnode/server/wal/walsummary/reader_test.go
  internal/streamingnode/server/wal/walsummary/recover.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: Go

enhance: split walsummary, transformlog and vchannel view modules from WAL recovery (#40451)
  docs/design-docs/design_docs/20260604-idempotent_write.md
  docs/design-docs/design_docs/wal/summary.md
  docs/design-docs/design_docs/wal/transform_log.md
  docs/design-docs/design_docs/wal/vchannel_view_module.md
  internal/streamingnode/server/wal/utility/checkpoint.go
  internal/streamingnode/server/wal/vchannel/checkpoint_updater.go
  internal/streamingnode/server/wal/vchannel/checkpoint_updater_test.go
  internal/streamingnode/server/wal/vchannel/cleanup_test.go
  internal/streamingnode/server/wal/vchannel/dirty_snapshot.go
  internal/streamingnode/server/wal/vchannel/flush_checkpoint_test.go
  internal/streamingnode/server/wal/vchannel/manager.go
  internal/streamingnode/server/wal/vchannel/materialize_bound_test.go
  internal/streamingnode/server/wal/vchannel/module.go
  internal/streamingnode/server/wal/vchannel/persist_request_test.go
  internal/streamingnode/server/wal/vchannel/transformlog/materialize_test.go
  internal/streamingnode/server/wal/vchannel/transformlog/materializer.go
  internal/streamingnode/server/wal/vchannel/transformlog/task.go
  internal/streamingnode/server/wal/vchannel/transformlog/transform_log.go
  internal/streamingnode/server/wal/vchannel/view.go
  internal/streamingnode/server/wal/walsummary/gc.go
  internal/streamingnode/server/wal/walsummary/manager.go
  internal/streamingnode/server/wal/walsummary/recover.go
  internal/streamingnode/server/wal/walsummary/store.go
  internal/streamingnode/server/wal/walsummary/transform_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/streaming/util/message/adaptor/message_id.go
  pkg/streaming/util/message/messageutil/transform_log.go
  pkg/streaming/util/message/messageutil/transform_log_test.go
  pkg/streaming/util/message/utils.go
  pkg/streaming/walimpls/impls/walimplstest/wal.go
  pkg/streaming/walimpls/impls/walimplstest/wal_test.go
Due: Go

enhance: define backlog-driven L0 materialization policy (#40451)
  docs/design-docs/design_docs/wal/l0_materializer.md
  docs/design-docs/design_docs/wal/message-workflow.md
  docs/design-docs/design_docs/wal/summary.md
  docs/design-docs/design_docs/wal/vchannel_view_module.md
  docs/design-docs/design_docs/wal/wal-recovery-architecture.md
Due: none

enhance: simplify TransformLog entry classification (#40451)
  docs/design-docs/design_docs/wal/summary.md
  docs/design-docs/design_docs/wal/transform_log.md
  internal/streamingnode/server/wal/vchannel/transformlog/materialize_test.go
  internal/streamingnode/server/wal/vchannel/transformlog/transform_log.go
  internal/streamingnode/server/wal/walsummary/manager.go
  internal/streamingnode/server/wal/walsummary/transform_test.go
  pkg/streaming/util/message/messageutil/transform_log.go
  pkg/streaming/util/message/messageutil/transform_log_test.go
Due: Go

fix: persist the control replay frontier in WAL checkpoints (#40451)
  docs/agent_guides/streaming-system/wal/recovery-storage.md
  docs/design-docs/design_docs/wal/checkpoint-persistence.md
  docs/design-docs/design_docs/wal/wal-recovery-architecture.md
  internal/metastore/kv/streamingnode/kv_catalog_test.go
  internal/streamingnode/server/wal/adaptor/opener_test.go
  internal/streamingnode/server/wal/recovery/recovery_control_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/utility/checkpoint.go
  internal/streamingnode/server/wal/utility/checkpoint_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: Go

enhance: refactor standalone WAL summary persistence and recovery (#40451)
  docs/design-docs/design_docs/20260604-idempotent_write.md
  docs/design-docs/design_docs/wal/summary.md
  docs/design-docs/design_docs/wal/transform_log.md
  docs/design-docs/design_docs/wal/vchannel_view_module.md
  internal/streamingnode/server/wal/adaptor/wal_idempotency_test.go
  internal/streamingnode/server/wal/idempotencyview/record.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor_test.go
  internal/streamingnode/server/wal/recovery/fence_test.go
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  internal/streamingnode/server/wal/recovery/recovery_persisted.go
  internal/streamingnode/server/wal/recovery/recovery_storage.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/recovery_stream.go
  internal/streamingnode/server/wal/vchannel/persist_request_test.go
  internal/streamingnode/server/wal/walsummary/async.go
  internal/streamingnode/server/wal/walsummary/async_test.go
  internal/streamingnode/server/wal/walsummary/errors.go
  internal/streamingnode/server/wal/walsummary/gc.go
  internal/streamingnode/server/wal/walsummary/manager.go
  internal/streamingnode/server/wal/walsummary/manager_test.go
  internal/streamingnode/server/wal/walsummary/recover.go
  internal/streamingnode/server/wal/walsummary/recover_test.go
  internal/streamingnode/server/wal/walsummary/s3_test.go
  internal/streamingnode/server/wal/walsummary/store.go
  internal/streamingnode/server/wal/walsummary/store_test.go
  internal/streamingnode/server/wal/walsummary/transform_test.go
  internal/streamingnode/server/wal/walsummary/workflow_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: Go

enhance: use closed ranges for summary coverage (#40451)
  docs/design-docs/design_docs/wal/summary.md
  internal/streamingnode/server/wal/walsummary/manager.go
  internal/streamingnode/server/wal/walsummary/manager_test.go
  internal/streamingnode/server/wal/walsummary/reader.go
  internal/streamingnode/server/wal/walsummary/recover.go
  internal/streamingnode/server/wal/walsummary/s3_test.go
  internal/streamingnode/server/wal/walsummary/store.go
  internal/streamingnode/server/wal/walsummary/store_test.go
  internal/streamingnode/server/wal/walsummary/transform_test.go
  internal/streamingnode/server/wal/walsummary/workflow_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: Go

enhance: remove draft WAL proto compatibility (#40451)
  docs/design-docs/design_docs/wal/l0_materializer.md
  docs/design-docs/design_docs/wal/summary.md
  internal/streamingnode/server/wal/walsummary/gc.go
  internal/streamingnode/server/wal/walsummary/transform_stats_test.go
  internal/streamingnode/server/wal/walsummary/transform_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: Go

fix: retain explicit flush handles until L0 completion (#40451)
  docs/agent_guides/streaming-system/wal/recovery-storage.md
  docs/design-docs/design_docs/wal/broadcast_ack_module.md
  docs/design-docs/design_docs/wal/checkpoint-persistence.md
  docs/design-docs/design_docs/wal/l0_materializer.md
  docs/design-docs/design_docs/wal/message-workflow.md
  docs/design-docs/design_docs/wal/message_ack.md
  docs/design-docs/design_docs/wal/summary.md
  docs/design-docs/design_docs/wal/vchannel_view_module.md
  docs/design-docs/design_docs/wal/wal-recovery-architecture.md
  internal/streamingnode/server/wal/recovery/recovery_message_ack_test.go
  internal/streamingnode/server/wal/vchannel/l0_admission_test.go
  internal/streamingnode/server/wal/vchannel/l0materializer/materialize_test.go
  internal/streamingnode/server/wal/vchannel/l0materializer/window.go
  internal/streamingnode/server/wal/vchannel/module.go
  internal/streamingnode/server/wal/vchannel/view.go
  internal/streamingnode/server/wal/walsummary/transform_stats_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: Go

enhance: batch L0 materialization with summary backlog (#40451)
  docs/agent_guides/streaming-system/wal/recovery-storage.md
  docs/design-docs/design_docs/wal/l0_materializer.md
  docs/design-docs/design_docs/wal/message-workflow.md
  docs/design-docs/design_docs/wal/summary.md
  docs/design-docs/design_docs/wal/vchannel_view_module.md
  docs/design-docs/design_docs/wal/wal-recovery-architecture.md
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/vchannel/flush_checkpoint_test.go
  internal/streamingnode/server/wal/vchannel/l0_admission_test.go
  internal/streamingnode/server/wal/vchannel/l0materializer/materialize_test.go
  internal/streamingnode/server/wal/vchannel/l0materializer/task.go
  internal/streamingnode/server/wal/vchannel/l0materializer/window.go
  internal/streamingnode/server/wal/vchannel/manager.go
  internal/streamingnode/server/wal/vchannel/materialize_bound_test.go
  internal/streamingnode/server/wal/vchannel/module.go
  internal/streamingnode/server/wal/vchannel/view.go
  internal/streamingnode/server/wal/walsummary/async.go
  internal/streamingnode/server/wal/walsummary/gc.go
  internal/streamingnode/server/wal/walsummary/manager.go
  internal/streamingnode/server/wal/walsummary/reader.go
  internal/streamingnode/server/wal/walsummary/recover.go
  internal/streamingnode/server/wal/walsummary/store.go
  internal/streamingnode/server/wal/walsummary/transform_stats.go
  internal/streamingnode/server/wal/walsummary/transform_stats_test.go
  internal/streamingnode/server/wal/walsummary/transform_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: Go

enhance: clarify exclusive summary coverage boundaries (#40451)
  docs/design-docs/design_docs/wal/summary.md
  internal/streamingnode/server/wal/walsummary/async_test.go
  internal/streamingnode/server/wal/walsummary/manager.go
  internal/streamingnode/server/wal/walsummary/manager_test.go
  internal/streamingnode/server/wal/walsummary/reader.go
  internal/streamingnode/server/wal/walsummary/recover.go
  internal/streamingnode/server/wal/walsummary/s3_test.go
  internal/streamingnode/server/wal/walsummary/store.go
  internal/streamingnode/server/wal/walsummary/store_test.go
  internal/streamingnode/server/wal/walsummary/transform_test.go
  internal/streamingnode/server/wal/walsummary/workflow_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: Go

enhance: remove unused recovery storage version proto (#40451)
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: none

enhance: simplify WAL recovery dispatch and bookkeeping (#40451)
  internal/streamingnode/server/wal/adaptor/recovery_stream.go
  internal/streamingnode/server/wal/idempotencyview/record.go
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  internal/streamingnode/server/wal/recovery/recovery_persisted.go
  internal/streamingnode/server/wal/recovery/task_scheduler.go
  internal/streamingnode/server/wal/vchannel/manager.go
  internal/streamingnode/server/wal/vchannel/module.go
  internal/streamingnode/server/wal/vchannel/segment/commit_l1_limiter.go
  internal/streamingnode/server/wal/walsummary/reader.go
  internal/streamingnode/server/wal/walsummary/store.go
Due: Go

enhance: simplify summary coverage and transform indexes (#40451)
  docs/design-docs/design_docs/wal/checkpoint-persistence.md
  docs/design-docs/design_docs/wal/l0_materializer.md
  docs/design-docs/design_docs/wal/message-workflow.md
  docs/design-docs/design_docs/wal/message_ack.md
  docs/design-docs/design_docs/wal/summary.md
  docs/design-docs/design_docs/wal/transform_log.md
  docs/design-docs/design_docs/wal/wal-recovery-architecture.md
  internal/streamingnode/server/wal/messageack/tracker.go
  internal/streamingnode/server/wal/messageack/tracker_test.go
  internal/streamingnode/server/wal/recovery/recovery_idempotency_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl_test.go
  internal/streamingnode/server/wal/vchannel/l0materializer/materialize_test.go
  internal/streamingnode/server/wal/vchannel/l0materializer/task.go
  internal/streamingnode/server/wal/vchannel/l0materializer/window.go
  internal/streamingnode/server/wal/vchannel/materialize_bound_test.go
  internal/streamingnode/server/wal/vchannel/persist_request_test.go
  internal/streamingnode/server/wal/walsummary/async.go
  internal/streamingnode/server/wal/walsummary/async_test.go
  internal/streamingnode/server/wal/walsummary/gc.go
  internal/streamingnode/server/wal/walsummary/manager.go
  internal/streamingnode/server/wal/walsummary/manager_test.go
  internal/streamingnode/server/wal/walsummary/reader.go
  internal/streamingnode/server/wal/walsummary/reader_test.go
  internal/streamingnode/server/wal/walsummary/recover.go
  internal/streamingnode/server/wal/walsummary/s3_test.go
  internal/streamingnode/server/wal/walsummary/store.go
  internal/streamingnode/server/wal/walsummary/store_test.go
  internal/streamingnode/server/wal/walsummary/transform_stats.go
  internal/streamingnode/server/wal/walsummary/transform_stats_test.go
  internal/streamingnode/server/wal/walsummary/transform_test.go
  internal/streamingnode/server/wal/walsummary/workflow_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: Go

fix: complete import through broadcast callbacks (#40451)
  docs/agent_guides/streaming-system/coordination/broadcaster.md
  docs/agent_guides/streaming-system/message/message-semantic-collection.md
  docs/design-docs/design_docs/wal/broadcast_ack_module.md
  internal/datacoord/ddl_callbacks_import.go
  internal/datacoord/ddl_callbacks_import_test.go
  internal/datacoord/import_checker.go
  internal/datacoord/import_checker_test.go
  internal/datacoord/import_commit_callback_test.go
  internal/datacoord/import_job.go
  internal/datacoord/import_services_test.go
  internal/datacoord/meta.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/streamingnode/server/wal/interceptors/timetick/mvcc/mvcc_manager_test.go
Due: Go

fix: unblock WAL lifecycle flushes and back off recovery retries (#40451)
  docs/design-docs/design_docs/wal/l0_materializer.md
  docs/design-docs/design_docs/wal/vchannel_view_module.md
  internal/streamingnode/server/wal/recovery/task_scheduler.go
  internal/streamingnode/server/wal/recovery/task_scheduler_test.go
  internal/streamingnode/server/wal/vchannel/drop_partition_test.go
  internal/streamingnode/server/wal/vchannel/l0materializer/materialize_test.go
  internal/streamingnode/server/wal/vchannel/l0materializer/materializer.go
  internal/streamingnode/server/wal/vchannel/l0materializer/window.go
  internal/streamingnode/server/wal/vchannel/l0materializer/writer_test.go
  internal/streamingnode/server/wal/vchannel/module.go
Due: Go

fix: wait for consuming-side completion in FlushAll (#40451)
  docs/agent_guides/streaming-system/message/message-semantic-cluster.md
  docs/design-docs/design_docs/wal/broadcast_ack_module.md
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/streamingnode/server/wal/recovery/recovery_message_ack_test.go
  pkg/streaming/util/message/builder.go
Due: Go

fix: preserve L0 timestamp-only start positions (#40451)
  internal/datacoord/meta.go
  internal/datacoord/segment_operator_test.go
  internal/datacoord/services_test.go
Due: Go

test: handle omitted vector array dimensions in 2.6 CMEK oracle
  tests/integration/cmek/raw_data_v2_helpers_test.go
  tests/integration/cmek/raw_data_v2_test.go
Due: none

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
