Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

feat: Add RESTful api for rolling upgrade support
  internal/coordinator/mix_coord.go
  internal/coordinator/restful_mgr_routes.go
  internal/coordinator/snmanager/streaming_node_manager.go
  internal/datacoord/garbage_collector.go
  internal/datacoord/mock_test.go
  internal/datacoord/services.go
  internal/distributed/streaming/balancer.go
  internal/distributed/streaming/balancer_test.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/test_streaming.go
  internal/http/router.go
  internal/querycoordv2/meta/resource_manager.go
  internal/querycoordv2/ops_services.go
  internal/querycoordv2/session/node_manager.go
  internal/querynodev2/segments/mock_segment.go
  internal/streamingcoord/client/client.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/service/discover/discover_grpc_server_helper.go
  internal/streamingcoord/server/service/discover/discover_server_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/proto/streamingpb/streaming_grpc.pb.go
  scripts/start_cluster.sh
Due: Go

fix: Check child fields len instead of nil
  internal/flushcommon/syncmgr/task.go
  internal/storagecommon/column_group_splitter.go
Due: Go

fix azure chunk manager test
  internal/core/src/storage/azure/AzureChunkManagerTest.cpp
Due: Core

Fix write log order
  internal/storage/serde_events_v2.go
Due: Go

fix: pooling datanode upload without rootpath in L0 compaction (#44374)
  internal/datanode/compactor/compactor_common.go
  internal/datanode/compactor/l0_compactor.go
  internal/datanode/compactor/l0_compactor_test.go
Due: Go

fix ut
  internal/proxy/util_test.go
  pkg/common/common_test.go
Due: Go

Support gis operator st_dwithin
  internal/core/src/common/Geometry.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/expr/ITypeExpr.h
  internal/core/src/query/PlanProto.cpp
  internal/core/unittest/test_expr.cpp
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_base_visitor.go
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/generated/plan_visitor.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/parser/planparserv2/utils.go
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
  tests/go_client/testcases/geometry_test.go
Due: Core, Go

Check geometry wkt valid for filter
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/exec/expression/GISFunctionFilterExpr.h
  internal/core/src/index/RTreeIndexWrapper.cpp
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/utils.go
Due: Core, Go

fix format
  internal/core/src/storage/azure/AzureChunkManagerTest.cpp
Due: Core

Fix current split not copied
  internal/flushcommon/metacache/segment.go
Due: Go

feat: Add RESTful api for rolling upgrade support (#44381)
  internal/coordinator/mix_coord.go
  internal/coordinator/restful_mgr_routes.go
  internal/coordinator/snmanager/streaming_node_manager.go
  internal/datacoord/garbage_collector.go
  internal/datacoord/mock_test.go
  internal/datacoord/services.go
  internal/distributed/streaming/balancer.go
  internal/distributed/streaming/balancer_test.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/test_streaming.go
  internal/http/router.go
  internal/querycoordv2/meta/resource_manager.go
  internal/querycoordv2/ops_services.go
  internal/querycoordv2/session/node_manager.go
  internal/querynodev2/segments/mock_segment.go
  internal/streamingcoord/client/client.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/service/discover/discover_grpc_server_helper.go
  internal/streamingcoord/server/service/discover/discover_server_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/proto/streamingpb/streaming_grpc.pb.go
  scripts/start_cluster.sh
Due: Go

delete cache when segment released
  internal/core/src/common/GeometryCache.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/segment_c.cpp
  internal/parser/planparserv2/parser_visitor.go
Due: Core, Go

implementation done
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/ScalarIndexTest.cpp
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/StringIndexMarisa.h
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/index/StringIndexSort.h
  internal/core/src/index/StringIndexTest.cpp
  internal/core/unittest/CMakeLists.txt
  internal/util/indexparamcheck/stl_sort_checker.go
Due: Core, Go

enhance: segment not flush at coord after schema change
  internal/flushcommon/pipeline/flow_graph_dd_node.go
Due: Go

fix POINT EMPTY
  go.mod
  go.sum
  internal/proxy/validate_util.go
Due: Go

enhance: [StorageV2] Use compressed size as log file size (#44402)
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/src/segcore/packed_writer_c.h
  internal/flushcommon/syncmgr/pack_writer_v2.go
  internal/storage/serde_events_v2.go
  internal/storagev2/packed/util.go
Due: Core, Go

fix
  internal/core/src/common/GeometryCache.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/segment_c.cpp
  internal/parser/planparserv2/utils.go
Due: Core, Go

enhance: Support gis filter operator st_dwithin (#44392)
  internal/core/src/common/Geometry.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/expr/ITypeExpr.h
  internal/core/src/query/PlanProto.cpp
  internal/core/unittest/test_expr.cpp
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_base_visitor.go
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/generated/plan_visitor.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/parser/planparserv2/utils.go
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
  tests/go_client/testcases/geometry_test.go
Due: Core, Go

enhance: compaction task metric bug (#44280)
  internal/datacoord/compaction.go
Due: Go

fix: turn on azure by default (#44377)
  internal/core/src/CMakeLists.txt
  internal/core/src/storage/CMakeLists.txt
  internal/core/src/storage/azure/AzureBlobChunkManagerTest.cpp
  internal/core/src/storage/azure/AzureChunkManagerTest.cpp
  internal/core/unittest/CMakeLists.txt
Due: Core

fix tests
  tests/go_client/testcases/add_field_test.go
  tests/go_client/testcases/index_test.go
Due: none

enhance: segment not flush at coord after schema change (#44412)
  internal/flushcommon/pipeline/flow_graph_dd_node.go
Due: Go

fix compile
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/index/StringIndexSort.h
  internal/core/unittest/CMakeLists.txt
Due: Core

test: Increase PyMilvus version to 2.7.0rc30
  tests/python_client/requirements.txt
Due: none

fix test
  internal/core/src/index/StringIndexTest.cpp
  internal/datanode/compactor/namespace_compactor_test.go
  internal/util/indexparamcheck/stl_sort_checker.go
Due: Core, Go

fix lint
  internal/datacoord/import_util.go
  pkg/common/common.go
Due: Go

fix: Check child fields len instead of nil (#44405)
  internal/flushcommon/metacache/segment.go
  internal/flushcommon/syncmgr/task.go
  internal/storagecommon/column_group_splitter.go
Due: Go

fix: Fix geometry bugs and add cache for create Geometry (#44376)
  go.mod
  go.sum
  internal/core/src/common/GeometryCache.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/exec/expression/GISFunctionFilterExpr.h
  internal/core/src/index/RTreeIndexWrapper.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/segment_c.cpp
  internal/proxy/validate_util.go
Due: Core, Go

enhance: base images use https to install apt package
  build/docker/milvus/gpu/ubuntu22.04/Dockerfile
  build/docker/milvus/ubuntu20.04/Dockerfile
  build/docker/milvus/ubuntu22.04/Dockerfile
Due: none

feat: encode cluster id in auto id (#44324)
  configs/milvus.yaml
  internal/datacoord/import_util.go
  internal/proxy/task_insert.go
  internal/proxy/task_upsert.go
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

Handle the failure of the EstimateLoadResource function call
  internal/core/src/index/IndexFactory.cpp
Due: Core

fix:fix unescaped bug for json stats
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/json_stats/JsonKeyStats.cpp
  internal/core/src/index/json_stats/utils.h
  internal/core/unittest/test_json_stats/test_traverse_json_for_build_stats.cpp
Due: Core

Revert "feat: encode cluster id in auto id (#44324)"
  configs/milvus.yaml
  internal/datacoord/import_util.go
  internal/proxy/task_insert.go
  internal/proxy/task_upsert.go
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

enhance: Revert "feat: encode cluster id in auto id (#44324)" (#44426)
  configs/milvus.yaml
  internal/datacoord/import_util.go
  internal/proxy/task_insert.go
  internal/proxy/task_upsert.go
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

enhance: Bump milvus & proto version to v2.6.2
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix: use alter but not put
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/mocks/streamingcoord/server/mock_balancer/mock_Balancer.go
  internal/streamingcoord/server/balancer/balancer.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/balancer/channel/replicate_config.go
  internal/streamingcoord/server/broadcaster/registry/specialized_callback.go
  internal/streamingcoord/server/service/assignment.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/streaming/util/message/adaptor/message.go
  pkg/streaming/util/message/adaptor/message_type.go
  pkg/streaming/util/message/adaptor/ts_msg_newer.go
  pkg/streaming/util/message/codegen/reflect_info.json
  pkg/streaming/util/message/marshal_log_object.go
  pkg/streaming/util/message/reflect_info.go
  pkg/streaming/util/message/specialized_message.go
Due: Go

enhance: add all ddl message into messages
  Makefile
  internal/datacoord/server.go
  internal/streamingcoord/server/broadcaster/registry/ack_message_callback_test.go
  internal/streamingcoord/server/broadcaster/registry/check_message_callback_test.go
  internal/streamingcoord/server/broadcaster/registry/specialized_callback.go
  pkg/mocks/streaming/util/mock_message/mock_BroadcastMutableMessage.go
  pkg/mocks/streaming/util/mock_message/mock_ImmutableMessage.go
  pkg/mocks/streaming/util/mock_message/mock_ImmutableTxnMessage.go
  pkg/proto/etcd_meta.proto
  pkg/proto/etcdpb/etcd_meta.pb.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/streaming/util/message/adaptor/message.go
  pkg/streaming/util/message/adaptor/message_type.go
  pkg/streaming/util/message/adaptor/ts_msg_newer.go
  pkg/streaming/util/message/broadcast.go
  pkg/streaming/util/message/ce/cache_expiration_builder.go
  pkg/streaming/util/message/ce/cache_expiration_builder_test.go
  pkg/streaming/util/message/ce/proxy_legacy_cache_builder.go
  pkg/streaming/util/message/codegen/main.go
  pkg/streaming/util/message/codegen/reflect_info.json
  pkg/streaming/util/message/marshal_log_object.go
  pkg/streaming/util/message/message.go
  pkg/streaming/util/message/message_impl.go
  pkg/streaming/util/message/message_test.go
  pkg/streaming/util/message/reflect_info.go
  pkg/streaming/util/message/resource_key.go
  pkg/streaming/util/message/resource_key_test.go
  pkg/streaming/util/message/specialized_message.go
Due: Go

fix: Fix load config parsing using wrong parameters for dynamic replica
  internal/rootcoord/alter_collection_task.go
  tests/integration/replicas/load/load_test.go
Due: Go

feat: Implement auto replica functionality for query coordination
  internal/proxy/task.go
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/job/job_test.go
  internal/querycoordv2/job/job_update.go
  internal/querycoordv2/meta/coordinator_broker.go
  internal/querycoordv2/meta/coordinator_broker_test.go
  internal/querycoordv2/meta/mock_broker.go
  internal/querycoordv2/server.go
  internal/querycoordv2/server_test.go
  internal/querycoordv2/services.go
  internal/querycoordv2/services_test.go
  internal/querycoordv2/utils/meta.go
  internal/querycoordv2/utils/meta_test.go
  internal/rootcoord/alter_collection_task.go
  pkg/common/common.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  tests/integration/replicas/auto_replica/auto_replica_test.go
  tests/integration/replicas/load/load_test.go
Due: Go

Refine geometry cache with offsets
  internal/core/src/common/GeometryCache.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
