Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix external refresh tests
  internal/datacoord/task_refresh_external_collection_test.go
Due: Go

fix restore job test
  internal/datacoord/snapshot_manager_test.go
Due: Go

fix: resolve datacoord compaction CI failures
  internal/datacoord/compaction_policy_single_test.go
  internal/datacoord/compaction_task_clustering.go
Due: Go

fix datacoord tikv cas
  internal/datacoord/optimistic_txn_persist.go
  internal/datacoord/optimistic_txn_persist_test.go
  internal/datacoord/segment_info_cache.go
  internal/datacoord/segment_operator.go
Due: Go

fix datacoord ci
  internal/datacoord/compaction_policy_storage_version_test.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/copy_segment_inspector_test.go
  internal/datacoord/copy_segment_task_test.go
  internal/datacoord/garbage_collector.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/index_service_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/segment_info_cache.go
  internal/datacoord/segment_info_cache_test.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/datacoord/snapshot_manager_test.go
  internal/datacoord/task_index_test.go
  internal/datacoord/task_refresh_external_collection_test.go
Due: Go

fix datacoord static check
  internal/datacoord/meta.go
  internal/datacoord/optimistic_txn_persist.go
  internal/datacoord/segment_operator.go
  internal/datacoord/segment_txn_wrapper.go
Due: Go

fix: keep datacoord segments on txn persist
  internal/datacoord/compaction_trigger_v2_test.go
  internal/datacoord/copy_segment_checker_test.go
  internal/datacoord/copy_segment_inspector_test.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/optimistic_txn_persist.go
  internal/datacoord/segment_info.go
  internal/datacoord/segment_info_cache.go
  internal/datacoord/segment_info_cache_test.go
  internal/datacoord/segment_txn_wrapper.go
  internal/datacoord/segment_txn_wrapper_test.go
  internal/datacoord/write_through_cache.go
Due: Go

fix datacoord ci
  internal/datacoord/garbage_collector.go
  internal/datacoord/index_inspector.go
  internal/datacoord/index_inspector_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/metastore/model/index.go
  internal/metastore/model/index_test.go
Due: Go

fix refresh task test
  internal/datacoord/task_refresh_external_collection_test.go
Due: Go

fix: adapt datacoord after rebase
  internal/datacoord/compaction_policy_bump_schema_version_test.go
  internal/datacoord/compaction_policy_forcemerge_test.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_l0_test.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/compaction_trigger_v2_test.go
  internal/datacoord/external_collection_refresh_manager_test.go
  internal/datacoord/garbage_collector.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/import_task_import_test.go
  internal/datacoord/index_inspector_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/segment_operator.go
  internal/datacoord/segment_txn_wrapper_test.go
  internal/datacoord/services.go
  internal/datacoord/stats_inspector_test.go
  internal/datacoord/task_refresh_external_collection_test.go
Due: Go

fix datacoord ci
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/meta.go
  internal/datacoord/segment_info.go
  internal/datacoord/segment_operator.go
  internal/datacoord/services_test.go
Due: Go

fix datacoord ut
  internal/datacoord/compaction_policy_forcemerge_test.go
  internal/datacoord/copy_segment_task.go
  internal/datacoord/copy_segment_task_test.go
  internal/datacoord/external_collection_refresh_manager_test.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/import_task_import.go
  internal/datacoord/import_task_import_test.go
  internal/datacoord/segment_operator.go
Due: Go

fix datacoord meta retry
  internal/datacoord/copy_segment_task_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/optimistic_txn_persist.go
  internal/datacoord/optimistic_txn_persist_test.go
  internal/datacoord/segment_info_cache.go
  internal/datacoord/segment_info_cache_test.go
  internal/datacoord/segment_operator.go
  internal/datacoord/segment_txn_wrapper.go
  internal/datacoord/write_through_cache.go
Due: Go

doc: add CDC 2PC import user guide (#51029)
  docs/design-docs/design_docs/cdc/user_docs/01-cdc-replication-overview.md
  docs/design-docs/design_docs/cdc/user_docs/02-cdc-replication-quick-start.md
  docs/design-docs/design_docs/cdc/user_docs/05-cdc-2pc-import.md
Due: none

fix: document replica override takeover semantics (#50804)
  pkg/util/paramtable/component_param.go
Due: Go

fix: align load config compliance with replica override (#50804)
  internal/coordinator/restful_replica.go
  internal/coordinator/restful_replica_test.go
  internal/querycoordv2/load_config_watcher.go
  internal/querycoordv2/server.go
  internal/querycoordv2/server_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: stage segcore reopen publication (#50580)
  internal/core/src/common/ArrayOffsets.cpp
  internal/core/src/common/ArrayOffsets.h
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/query/ExecPlanNodeVisitor.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/DeletedRecord.h
  internal/core/src/segcore/DeletedRecordTest.cpp
  internal/core/unittest/test_mvcc_fast_path.cpp
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_utils/GenExprProto.h
Due: Core

fix: address load config force override edge cases (#50804)
  internal/coordinator/restful_replica.go
  internal/coordinator/restful_replica_test.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_collection.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_partitions.go
  internal/querycoordv2/ddl_callbacks_load_info_test.go
  internal/querycoordv2/load_config_watcher.go
  internal/querycoordv2/server_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: avoid copying querycoord config in load override (#50804)
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_collection.go
Due: Go

perf: speed up sealed varchar primary key fill
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
Due: Core

test: Increase PyMilvus version to 3.0.1rc52
  tests/python_client/requirements.txt
Due: none

fix: skip null bitmap work for all-valid filters
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/exec/operator/FilterBitsNode.h
  internal/core/src/exec/operator/FilterBitsNodeTest.cpp
Due: Core

fix: validate sqn resource group capacity
  internal/querycoordv2/utils/meta.go
  internal/querycoordv2/utils/meta_test.go
  scripts/stop.sh
  tests/python_client/testcases/test_pymilvus_basic_flow.py
Due: Go

fix: [2.6] preserve segment insert log paths for text index (#50959)
  internal/datanode/util/util.go
  internal/datanode/util/util_test.go
Due: Go

doc: Add design doc for segment reopen atomic read update cow
  docs/design-docs/design_docs/20260627-segment-reopen-atomic-read-update-cow.md
Due: none

test: fix struct array nullable field error expectation
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
Due: none

feat: support quantified element match on scalar arrays
  docs/design-docs/design_docs/20260620-scalar-array-element-match-design.md
  docs/design-docs/design_docs/20260620-scalar-array-element-match-design.zh.md
  internal/core/src/common/Schema.cpp
  internal/core/src/common/Schema.h
  internal/core/src/exec/expression/MatchExpr.cpp
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/core/src/exec/operator/ElementFilterBitsNode.cpp
  internal/core/src/exec/operator/IterativeElementFilterNode.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedTest.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_base_visitor.go
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/generated/plan_visitor.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  tests/integration/target/scalar_array_match_test.go
  tests/python_client/testcases/test_scalar_array_match.py
Due: Core, Go

refactor: replace MatchExpr.struct_name with MatchColumnInfo locator
  internal/core/src/query/PlanProto.cpp
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
Due: Core, Go

enhance: build array scalar indexes as nested; fix nullable compact-buffer reads in nested index builds
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/BitmapIndex.h
  internal/core/src/index/BitmapIndexArrayTest.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/ScalarIndexSort.h
  internal/core/src/index/StringIndexSort.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/unittest/test_element_filter.cpp
  tests/integration/target/scalar_array_match_test.go
Due: Core

fix(planparser): make 'threshold' a soft keyword
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

test: JSON-array MATCH_* across array/struct/json x null
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/parser/planparserv2/match_json_infer_test.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Core, Go

feat(segcore): element-level Range/Term/Arith evaluation for JSON array MATCH_* predicates
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/core/src/query/PlanProto.cpp
Due: Core

feat(planparser): desugar array_contains* on struct-array sub-fields to MATCH_ANY
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

fix(planparser): fill template placeholders in MATCH_* predicates; support them on JSON
  internal/parser/planparserv2/fill_expression_value.go
  internal/parser/planparserv2/match_json_infer.go
  internal/parser/planparserv2/match_json_infer_test.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

fix(segcore): preserve int64 precision in JSON element-level numeric comparisons
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
Due: Core

feat: parse MATCH_* over JSON array targets (JSONIdentifier + $ element)
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/match_json_infer.go
  internal/parser/planparserv2/parser_visitor.go
Due: Go
