Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

enhance: refine wal consume trace spans (#47404)
  internal/distributed/streaming/internal/producer/producer.go
  internal/distributed/streaming/internal/producer/producer_task.go
  internal/proxy/replicate/replicate_stream_server.go
  internal/streamingnode/client/handler/consumer/consumer_impl.go
  internal/streamingnode/client/handler/consumer/consumer_test.go
  internal/streamingnode/server/wal/adaptor/scanner_switchable.go
  internal/streamingnode/server/wal/adaptor/wal_adaptor.go
  internal/streamingnode/server/wal/adaptor/wal_adaptor_trace_test.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/trace.go
  pkg/streaming/util/message/trace_test.go
Due: Go

enhance: simplify wal dist append local check (#47404)
  internal/distributed/streaming/internal/producer/metrics.go
  internal/distributed/streaming/internal/producer/producer.go
Due: Go

enhance: pick least-loaded DataNode in globalScheduler instead of first-fit (#50912)
  internal/datacoord/task/global_scheduler.go
  internal/datacoord/task/global_scheduler_test.go
Due: Go

fix: keep load config replica promotion atomic (#51289)
  internal/querycoordv2/load_config_visibility.go
  internal/querycoordv2/server_test.go
Due: Go

fix: skip dropped-field column groups when loading StorageV3 segments (#51275)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/unittest/test_storage.cpp
Due: Core

enhance: move JSON indexes into sealed segment runtime state
  internal/core/src/exec/expression/LikeConjunctExprTest.cpp
  internal/core/src/index/NgramInvertedIndexTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/SegmentLoadInfo.h
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/src/segcore/segment_c_test.cpp
  internal/core/unittest/test_sealed.cpp
  internal/querycoordv2/task/utils.go
  internal/querycoordv2/task/utils_test.go
  internal/querynodev2/cluster/mock_worker.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/handlers.go
  internal/querynodev2/segments/load_index_info.go
  internal/querynodev2/segments/mock_loader.go
  internal/querynodev2/segments/mock_segment_manager.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/segments/segment_loader_test.go
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Core, Go

Explictly reject load scope index
  docs/design-docs/design_docs/20260627-segment-reopen-atomic-read-update-cow.md
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
Due: Go

enhance: [3.0] migrate sealed text indexes into runtime state (#51280) (#51314)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/unittest/test_sealed.cpp
Due: Core

test: Increase PyMilvus version to 2.6.17rc8
  tests/python_client/requirements.txt
Due: none

[automated] Bump milvus version to v2.6.20 (#51265)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

Address comment
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/unittest/test_sealed.cpp
Due: Core

fix: link milvus_conan_deps to gcp-native-storage (#51326)
  internal/core/src/storage/gcp-native-storage/CMakeLists.txt
Due: Core

fix: reject function rerank when using search iterator
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
Due: Go

test: Increase PyMilvus version to 3.0.1rc58
  tests/python_client/requirements.txt
Due: none

enhance: skip schema work for non-insert batches
  internal/flushcommon/pipeline/flow_graph_write_node.go
  internal/flushcommon/pipeline/flow_graph_write_node_test.go
Due: Go

test: cover add-field default values on growing segments
  tests/python_client/milvus_client/test_add_field_feature.py
  tests/python_client/milvus_client/test_drop_field_feature.py
Due: none

doc: pin down the growing-segment write concurrency model and sealed drop rationale
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/index/RTreeIndex.cpp
  internal/core/src/index/RTreeIndexTest.cpp
  internal/core/src/index/RTreeIndexWrapper.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

enhance: load json stats shredding with chunk reader
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/core/src/index/json_stats/JsonKeyStats.cpp
Due: Core

enhance: project lazy json stats columns individually
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/core/src/index/json_stats/JsonKeyStats.cpp
  internal/core/src/index/json_stats/JsonKeyStats.h
Due: Core

test: cover json stats multi-file shredding load
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
Due: Core

enhance: avoid duplicate json stats metadata read
  internal/core/src/index/json_stats/JsonKeyStats.cpp
Due: Core

fix: map json stats parquet columns to field ids
  internal/core/src/index/json_stats/JsonKeyStats.cpp
Due: Core

fix: preserve json stats cache attribution
  internal/core/src/index/json_stats/JsonKeyStats.cpp
Due: Core

test: fix hybrid index teardown flake
  internal/core/src/index/HybridScalarIndexTest.cpp
Due: Core

enhance: reuse json stats lazy reader cache
  internal/core/src/index/json_stats/JsonKeyStats.cpp
Due: Core

Fix unittest logic
  internal/core/unittest/test_sealed.cpp
Due: Core

enhance: [3.0] add switch for query driver prefetch (#51081) (#51305)
  configs/milvus.yaml
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/src/common/Consts.h
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/exec/Driver.cpp
  internal/util/initcore/init_core.go
  internal/util/initcore/query_node.go
  internal/util/initcore/util.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

fix: fill db_name/db_id in cached DescribeCollection queried by id
  internal/proxy/meta_cache.go
  internal/proxy/service_provider.go
  internal/proxy/service_provider_test.go
Due: Go

fix: exclude DropCollection from proxy function call metrics
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/request_interceptor.go
  internal/distributed/proxy/request_interceptor_test.go
  internal/proxy/hook_interceptor.go
  internal/proxy/hook_interceptor_test.go
  pkg/metrics/proxy_metrics.go
  pkg/metrics/proxy_metrics_test.go
Due: Go

fix: refresh expired next target for unavailable delegator (#51307)
  internal/querycoordv2/observers/target_observer.go
  internal/querycoordv2/observers/target_observer_test.go
Due: Go

fix: refresh expired next target for unavailable delegator (#51308)
  internal/querycoordv2/observers/target_observer.go
  internal/querycoordv2/observers/target_observer_test.go
Due: Go

fix: fill collection name for id-only describe
  internal/proxy/service_provider.go
  internal/proxy/service_provider_test.go
  internal/proxy/task.go
  internal/proxy/task_test.go
Due: Go

fix: cover boost score in L0 rerank latency metric
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
  internal/querynodev2/tasks/l0_function_chain.go
  internal/querynodev2/tasks/l0_function_chain_test.go
  pkg/metrics/metrics.go
  pkg/metrics/querynode_metrics.go
Due: Go

fix: preserve fastpb protobuf merge semantics
  pkg/util/fastpb/fielddata.go
  pkg/util/fastpb/message_merge_test.go
  pkg/util/fastpb/searchresult.go
Due: Go

Add test for ImportFile.
  internal/datanode/importv2/scheduler_test.go
Due: Go

Optimization for reducing import time significantly:
  internal/datanode/importv2/task_import.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
