Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

test: synchronize QueryView readiness test callbacks (#40451)
  internal/querynodev2/qnview/queryview_segment_readiness_manager_test.go
  internal/querynodev2/qnview/segment_scheduler_task_test.go
Due: Go

fix: terminate Transform waits and reject empty query tasks (#52588)
  docs/design-docs/design_docs/qviews/qnview/querynode_queryview_resource_preparation.md
  docs/design-docs/design_docs/qviews/query/query_execution.md
  internal/querynodev2/qvresource/qv_transform_lifecycle_test.go
  internal/querynodev2/qvresource/qv_transform_segment.go
  internal/querynodev2/viewquery/executor.go
  internal/querynodev2/viewquery/executor_empty_test.go
Due: Go

fix: keep QueryNode segment poison state local (#52588)
  docs/design-docs/design_docs/qviews/qnview/querynode_queryview_resource_preparation.md
  docs/design-docs/design_docs/qviews/query/query_execution.md
  docs/design-docs/design_docs/qviews/query_view_state_machine.md
  docs/design-docs/design_docs/qviews/syncer.md
  internal/querynodev2/qnview/queryview_segment_readiness_manager.go
  internal/querynodev2/qnview/segment_manager.go
  internal/querynodev2/qnview/segment_poison.go
  internal/querynodev2/qnview/segment_poison_test.go
  internal/querynodev2/qnview/segment_resource_types.go
  internal/querynodev2/qnview/shard_view.go
  internal/querynodev2/qnview/state_machine.go
  internal/querynodev2/transformlogbuffer/poison_integration_test.go
  internal/views/coord/coordview/legacy_poison_report_test.go
  internal/views/coord/coordview/segment_poison_test.go
  internal/views/coord/coordview/shard_view_manager.go
  internal/views/coord/coordview/shard_view_manager_test.go
  internal/views/coord/coordview/state_machine.go
  internal/views/coord/coordview/state_machine_test.go
  pkg/proto/view.proto
  pkg/proto/viewpb/view.pb.go
Due: Go

fix: release remote TransformLog readers on consumer rejection (#52588)
  docs/design-docs/design_docs/wal/transform_log.md
  internal/distributed/streaming/internal/transformlog/rejection_cleanup_test.go
  internal/distributed/streaming/internal/transformlog/streaming.go
  internal/streamingnode/client/handler/transformlog/streaming.go
  internal/streamingnode/client/handler/transformlog/subscription.go
Due: Go

fix: complete canceled QueryView catchup without replay capacity (#52588)
  docs/design-docs/design_docs/qviews/qnview/querynode_queryview_resource_preparation.md
  internal/querynodev2/transformlogbuffer/buffer.go
  internal/querynodev2/transformlogbuffer/catchup_cancellation_test.go
Due: Go

fix: synchronize TransformLog catch-up progress (#40451)
  internal/querynodev2/transformlogbuffer/buffer.go
  internal/querynodev2/transformlogbuffer/buffer_progress_test.go
  internal/querynodev2/transformlogbuffer/buffer_test.go
Due: Go

enhance: dynamically size TransformLog catchup by CPU ratio (#52588)
  configs/milvus.yaml
  docs/design-docs/design_docs/qviews/qnview/querynode_queryview_resource_preparation.md
  internal/distributed/streaming/internal/transformlog/demand_test.go
  internal/distributed/streaming/internal/transformlog/reconnect_test.go
  internal/distributed/streaming/internal/transformlog/stream_test.go
  internal/querynodev2/qvresource/qv_segment_manager.go
  internal/querynodev2/transformlogbuffer/buffer.go
  internal/querynodev2/transformlogbuffer/buffer_progress_test.go
  internal/querynodev2/transformlogbuffer/buffer_retention_test.go
  internal/querynodev2/transformlogbuffer/buffer_test.go
  internal/querynodev2/transformlogbuffer/catchup_cancellation_test.go
  internal/querynodev2/transformlogbuffer/config.go
  internal/querynodev2/transformlogbuffer/config_test.go
  internal/querynodev2/transformlogbuffer/poison_integration_test.go
  internal/querynodev2/transformlogbuffer/subscription_lifetime_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: separate TransformLog subscription and PChannel lifetimes (#52588)
  docs/design-docs/design_docs/qviews/qnview/querynode_queryview_resource_preparation.md
  docs/design-docs/design_docs/wal/transform_log.md
  internal/distributed/streaming/internal/transformlog/contract_test.go
  internal/distributed/streaming/internal/transformlog/lifecycle_test.go
  internal/distributed/streaming/internal/transformlog/reconnect_test.go
  internal/distributed/streaming/internal/transformlog/streaming.go
  internal/distributed/streaming/internal/transformlog/subscription.go
  internal/distributed/streaming/internal/transformlog/subscription_error_test.go
  internal/streamingnode/client/handler/transformlog/streaming.go
  internal/streamingnode/server/service/handler/transformlog/subscribe_server.go
Due: Go

fix: reset TransformLog backoff after subscription recovery (#52588)
  docs/design-docs/design_docs/wal/transform_log.md
  internal/distributed/streaming/internal/transformlog/backoff_test.go
  internal/distributed/streaming/internal/transformlog/streaming.go
Due: Go

test: wait for late QueryView subscription cleanup (#52588)
  internal/querynodev2/qnview/shared_segment_lifetime_test.go
Due: Go

test: wait for QueryView physical resource cleanup (#52588)
  internal/querynodev2/qnview/queryview_segment_manager_test.go
  internal/querynodev2/qnview/shared_segment_lifetime_test.go
Due: Go

enhance: add the primary key index core storage library
  docs/design-docs/design_docs/20260917-primary-key-index-core-library.md
  go.mod
  go.sum
  internal/.mockery.yaml
  internal/mocks/pkindex/core/mock_engine/mock_Lifecycle.go
  internal/mocks/pkindex/core/mock_engine/mock_RW.go
  internal/pkindex/core/codec/key.go
  internal/pkindex/core/codec/key_test.go
  internal/pkindex/core/codec/value.go
  internal/pkindex/core/codec/value_test.go
  internal/pkindex/core/engine/api.go
  internal/pkindex/core/engine/engine.go
  internal/pkindex/core/engine/engine_test.go
  internal/pkindex/core/engine/helpers_test.go
  internal/pkindex/core/engine/lifecycle.go
  internal/pkindex/core/engine/lifecycle_test.go
  internal/pkindex/core/engine/rw.go
  internal/pkindex/core/engine/rw_test.go
  internal/pkindex/core/engine/staging.go
  internal/pkindex/core/engine/staging_test.go
  internal/pkindex/core/sst/options.go
  internal/pkindex/core/sst/options_test.go
  internal/pkindex/core/sst/reader.go
  internal/pkindex/core/sst/reader_test.go
  internal/pkindex/core/sst/sst.go
  internal/pkindex/core/sst/sst_test.go
  internal/pkindex/core/sst/writer.go
  internal/pkindex/core/sst/writer_test.go
  internal/pkindex/pkerr/pkerr.go
  internal/pkindex/pkerr/pkerr_test.go
Due: Go

enhance: support metric-specific sparse autoindex config
  internal/proxy/task_index.go
  internal/proxy/task_index_test.go
  internal/util/indexparamcheck/index_params_validation.go
  internal/util/indexparamcheck/index_params_validation_test.go
  internal/util/indexparamcheck/utils.go
  pkg/util/paramtable/autoindex_param.go
  pkg/util/paramtable/autoindex_param_test.go
Due: Go

enhance: bound REST JSON work by row
  internal/distributed/proxy/httpserver/budget_rows.go
  internal/distributed/proxy/httpserver/budget_rows_test.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/json_render.go
  internal/distributed/proxy/httpserver/requestbudget/bind_bulk.go
  internal/distributed/proxy/httpserver/requestbudget/bind_bulk_test.go
  internal/distributed/proxy/httpserver/requestbudget/decode_bulk.go
  internal/distributed/proxy/httpserver/requestbudget/decode_bulk_test.go
  internal/distributed/proxy/httpserver/requestbudget/encode_rows.go
  internal/distributed/proxy/httpserver/requestbudget/encode_rows_test.go
  internal/distributed/proxy/httpserver/utils.go
Due: Go

test: verify concurrent REST JSON workers exit on cancel
  internal/distributed/proxy/httpserver/requestbudget/decode_bulk_test.go
Due: Go

fix: [SegIdx 03] update legacy artifact file I/O
  internal/core/src/storage/LegacyIndexFileIO.cpp
  internal/core/src/storage/LegacyIndexFileIO.h
  internal/core/src/storage/artifact/FileSource.cpp
Due: Core

enhance: [SegIdx 04] segment index ownership and cache
  internal/core/src/index/LoadResource.cpp
  internal/core/src/index/LoadResource.h
  internal/core/src/index/ResourceUsageUtils.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SealedIndexingRecord.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/Types.h
  internal/core/src/segcore/indexing/IndexInventory.cpp
  internal/core/src/segcore/indexing/IndexInventory.h
  internal/core/src/segcore/indexing/README.md
  internal/querynodev2/segments/index_attr_cache.go
  internal/querynodev2/segments/segment.go
Due: Core, Go

fix: [SegIdx 04] align scalar admission and persisted JSON inventory
  internal/core/src/index/LoadResource.cpp
  internal/core/src/index/LoadResource.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

enhance: [SegIdx 06] sorted index
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/index/ScalarIndexSort.h
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/index/StringIndexSort.h
  internal/core/src/index/scalar/sort/IndexStructure.h
  internal/core/src/index/scalar/sort/SortedIndexArtifact.cpp
  internal/core/src/index/scalar/sort/SortedIndexArtifact.h
  internal/core/src/index/scalar/sort/SortedIndexBuilder.cpp
  internal/core/src/index/scalar/sort/SortedIndexBuilder.h
  internal/core/src/index/scalar/sort/SortedIndexFormat.h
  internal/core/src/index/scalar/sort/SortedIndexLoader.cpp
  internal/core/src/index/scalar/sort/SortedIndexLoader.h
  internal/core/src/index/scalar/sort/SortedIndexReader.cpp
  internal/core/src/index/scalar/sort/SortedIndexReader.h
Due: Core

enhance: [SegIdx 07] inverted index
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/InvertedIndexTantivy.h
  internal/core/src/index/InvertedIndexUtil.h
  internal/core/src/index/scalar/PackedDirectoryLoad.h
  internal/core/src/index/scalar/inverted/InvertedIndexArtifact.cpp
  internal/core/src/index/scalar/inverted/InvertedIndexArtifact.h
  internal/core/src/index/scalar/inverted/InvertedIndexBuilder.cpp
  internal/core/src/index/scalar/inverted/InvertedIndexBuilder.h
  internal/core/src/index/scalar/inverted/InvertedIndexLoader.cpp
  internal/core/src/index/scalar/inverted/InvertedIndexLoader.h
  internal/core/src/index/scalar/inverted/InvertedIndexReader.cpp
  internal/core/src/index/scalar/inverted/InvertedIndexReader.h
  internal/core/src/storage/artifact/FileSink.cpp
Due: Core

enhance: [SegIdx 05] bitmap index
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/BitmapIndex.h
  internal/core/src/index/scalar/bitmap/BitmapIndexArtifact.cpp
  internal/core/src/index/scalar/bitmap/BitmapIndexArtifact.h
  internal/core/src/index/scalar/bitmap/BitmapIndexBuilder.cpp
  internal/core/src/index/scalar/bitmap/BitmapIndexBuilder.h
  internal/core/src/index/scalar/bitmap/BitmapIndexLoader.cpp
  internal/core/src/index/scalar/bitmap/BitmapIndexLoader.h
  internal/core/src/index/scalar/bitmap/BitmapIndexReader.cpp
  internal/core/src/index/scalar/bitmap/BitmapIndexReader.h
Due: Core

fix: [SegIdx 07] accept empty legacy inverted null offsets
  internal/core/src/index/scalar/inverted/InvertedIndexLoader.cpp
Due: Core

enhance: [SegIdx 08] hybrid index
  internal/core/src/index/HybridScalarIndex.cpp
  internal/core/src/index/HybridScalarIndex.h
  internal/core/src/index/scalar/hybrid/HybridIndexArtifact.cpp
  internal/core/src/index/scalar/hybrid/HybridIndexArtifact.h
  internal/core/src/index/scalar/hybrid/HybridIndexBuilder.cpp
  internal/core/src/index/scalar/hybrid/HybridIndexBuilder.h
Due: Core

fix: [SegIdx 10] reserve resident BSON reader metadata
  internal/core/src/segcore/storagev1translator/BsonInvertedIndexTranslator.cpp
Due: Core

enhance: [SegIdx 10] JSON stats and BSON indexes
  internal/core/src/segcore/json_stats/JsonKeyStats.cpp
  internal/core/src/segcore/json_stats/JsonKeyStats.h
  internal/core/src/segcore/json_stats/bson_builder.cpp
  internal/core/src/segcore/json_stats/bson_builder.h
  internal/core/src/segcore/json_stats/bson_inverted.cpp
  internal/core/src/segcore/json_stats/bson_inverted.h
  internal/core/src/segcore/json_stats/parquet_writer.cpp
  internal/core/src/segcore/json_stats/parquet_writer.h
  internal/core/src/segcore/json_stats/utils.cpp
  internal/core/src/segcore/json_stats/utils.h
  internal/core/src/segcore/storagev1translator/BsonInvertedIndexTranslator.cpp
  internal/core/src/segcore/storagev1translator/BsonInvertedIndexTranslator.h
Due: Core

enhance: [SegIdx 11] text match index
  internal/core/src/index/TextMatchIndex.cpp
  internal/core/src/index/TextMatchIndex.h
  internal/core/src/index/scalar/text/TextIndexArtifact.cpp
  internal/core/src/index/scalar/text/TextIndexArtifact.h
  internal/core/src/index/scalar/text/TextIndexBuilder.cpp
  internal/core/src/index/scalar/text/TextIndexBuilder.h
  internal/core/src/index/scalar/text/TextIndexLoader.cpp
  internal/core/src/index/scalar/text/TextIndexLoader.h
  internal/core/src/index/scalar/text/TextIndexReader.cpp
  internal/core/src/index/scalar/text/TextIndexReader.h
Due: Core

enhance: [SegIdx 09] JSON path and flat indexes
  internal/core/src/index/JsonFlatIndex.cpp
  internal/core/src/index/JsonFlatIndex.h
  internal/core/src/index/JsonHybridScalarIndex.h
  internal/core/src/index/JsonScalarIndexWrapper.h
  internal/core/src/index/scalar/json/JsonFlatIndexArtifact.cpp
  internal/core/src/index/scalar/json/JsonFlatIndexArtifact.h
  internal/core/src/index/scalar/json/JsonFlatIndexBuilder.cpp
  internal/core/src/index/scalar/json/JsonFlatIndexBuilder.h
  internal/core/src/index/scalar/json/JsonFlatIndexLoader.cpp
  internal/core/src/index/scalar/json/JsonFlatIndexLoader.h
  internal/core/src/index/scalar/json/JsonFlatIndexParams.h
  internal/core/src/index/scalar/json/JsonFlatIndexReader.cpp
  internal/core/src/index/scalar/json/JsonFlatIndexReader.h
  internal/core/src/index/scalar/json/JsonPathIndexReader.cpp
  internal/core/src/index/scalar/json/JsonPathIndexReader.h
  internal/core/src/index/scalar/json/JsonProjectedIndexArtifact.cpp
  internal/core/src/index/scalar/json/JsonProjectedIndexArtifact.h
  internal/core/src/index/scalar/json/JsonProjectedIndexLoad.cpp
  internal/core/src/index/scalar/json/JsonProjectedIndexLoad.h
  internal/core/src/index/scalar/json/JsonValueProjection.cpp
  internal/core/src/index/scalar/json/JsonValueProjection.h
Due: Core

fix: [SegIdx 13] honor the staging parent for heap Marisa loads
  internal/core/src/index/scalar/marisa/MarisaIndexLoader.cpp
Due: Core

enhance: [SegIdx 14] spatial and RTree indexes
  internal/core/src/index/RTreeIndex.cpp
  internal/core/src/index/RTreeIndex.h
  internal/core/src/index/RTreeIndexSerialization.h
  internal/core/src/index/RTreeIndexWrapper.cpp
  internal/core/src/index/RTreeIndexWrapper.h
  internal/core/src/index/scalar/spatial/RTreeEngine.cpp
  internal/core/src/index/scalar/spatial/RTreeEngine.h
  internal/core/src/index/scalar/spatial/RTreeIndexArtifact.cpp
  internal/core/src/index/scalar/spatial/RTreeIndexArtifact.h
  internal/core/src/index/scalar/spatial/RTreeIndexBuilder.cpp
  internal/core/src/index/scalar/spatial/RTreeIndexBuilder.h
  internal/core/src/index/scalar/spatial/RTreeIndexLoader.cpp
  internal/core/src/index/scalar/spatial/RTreeIndexLoader.h
  internal/core/src/index/scalar/spatial/RTreeIndexParams.h
  internal/core/src/index/scalar/spatial/RTreeIndexReader.cpp
  internal/core/src/index/scalar/spatial/RTreeIndexReader.h
  internal/core/src/index/scalar/spatial/RTreeSerialization.h
Due: Core

enhance: [SegIdx 12] ngram index
  internal/core/src/index/NgramInvertedIndex.cpp
  internal/core/src/index/NgramInvertedIndex.h
  internal/core/src/index/scalar/ngram/JsonProjectedString.h
  internal/core/src/index/scalar/ngram/NgramIndexArtifact.cpp
  internal/core/src/index/scalar/ngram/NgramIndexArtifact.h
  internal/core/src/index/scalar/ngram/NgramIndexBuilder.cpp
  internal/core/src/index/scalar/ngram/NgramIndexBuilder.h
  internal/core/src/index/scalar/ngram/NgramIndexLoader.cpp
  internal/core/src/index/scalar/ngram/NgramIndexLoader.h
  internal/core/src/index/scalar/ngram/NgramIndexParams.h
  internal/core/src/index/scalar/ngram/NgramIndexReader.cpp
  internal/core/src/index/scalar/ngram/NgramIndexReader.h
  internal/core/src/index/scalar/ngram/NgramRegex.h
Due: Core

enhance: [SegIdx 13] Marisa and FM indexes
  internal/core/src/index/FMIndex.cpp
  internal/core/src/index/FMIndex.h
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/StringIndexMarisa.h
  internal/core/src/index/scalar/fmindex/FmIndexArtifact.cpp
  internal/core/src/index/scalar/fmindex/FmIndexArtifact.h
  internal/core/src/index/scalar/fmindex/FmIndexBuilder.cpp
  internal/core/src/index/scalar/fmindex/FmIndexBuilder.h
  internal/core/src/index/scalar/fmindex/FmIndexLoader.cpp
  internal/core/src/index/scalar/fmindex/FmIndexLoader.h
  internal/core/src/index/scalar/fmindex/FmIndexReader.cpp
  internal/core/src/index/scalar/fmindex/FmIndexReader.h
  internal/core/src/index/scalar/marisa/MarisaIndexArtifact.cpp
  internal/core/src/index/scalar/marisa/MarisaIndexArtifact.h
  internal/core/src/index/scalar/marisa/MarisaIndexBuilder.cpp
  internal/core/src/index/scalar/marisa/MarisaIndexBuilder.h
  internal/core/src/index/scalar/marisa/MarisaIndexLoader.cpp
  internal/core/src/index/scalar/marisa/MarisaIndexLoader.h
  internal/core/src/index/scalar/marisa/MarisaIndexParams.h
  internal/core/src/index/scalar/marisa/MarisaIndexReader.cpp
  internal/core/src/index/scalar/marisa/MarisaIndexReader.h
Due: Core

fix: [SegIdx 11] accept empty legacy text null offsets
  internal/core/src/index/scalar/text/TextIndexLoader.cpp
Due: Core

fix: [SegIdx 16] retain logical vector dimensions and load configuration
  internal/core/src/index/vector/VectorMemBuilder.cpp
  internal/core/src/index/vector/VectorMemLoader.cpp
Due: Core

enhance: [SegIdx 15] vector common layer
  internal/core/src/common/CheckedInputArithmetic.h
  internal/core/src/common/QueryInfo.h
  internal/core/src/common/QueryResult.h
  internal/core/src/common/RangeSearchHelper.cpp
  internal/core/src/index/VectorIndex.h
  internal/core/src/index/VectorIndexValidDataUtils.h
  internal/core/src/index/vector/KnowhereEngine.cpp
  internal/core/src/index/vector/KnowhereEngine.h
  internal/core/src/index/vector/README.md
  internal/core/src/index/vector/RangeSearchParams.cpp
  internal/core/src/index/vector/RangeSearchParams.h
  internal/core/src/index/vector/VectorBuilderUtils.h
  internal/core/src/index/vector/VectorDiskAnnUtils.h
  internal/core/src/index/vector/VectorFamilies.cpp
  internal/core/src/index/vector/VectorIndexReader.cpp
  internal/core/src/index/vector/VectorIndexReader.h
  internal/core/src/index/vector/VectorIndexValidDataUtils.h
  internal/core/src/index/vector/VectorLoadParamUtils.h
  internal/core/src/index/vector/VectorLoadResource.cpp
  internal/core/src/index/vector/VectorLoadResource.h
  internal/core/src/index/vector/VectorLoadUtils.h
  internal/core/src/index/vector/VectorParamUtils.h
  internal/core/src/index/vector/VectorReaderUtils.h
  internal/core/src/index/vector/VectorReaderValidation.cpp
  internal/core/src/index/vector/VectorReaderValidation.h
  internal/core/src/index/vector/VectorTypeUtils.h
Due: Core

fix: [SegIdx 17] guard vector staging files and descriptors
  internal/core/src/index/vector/VectorDiskBuilder.cpp
Due: Core

enhance: [SegIdx 16] sealed in-memory vector indexes
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/index/VectorMemIndex.h
  internal/core/src/index/vector/VectorMemArtifact.cpp
  internal/core/src/index/vector/VectorMemArtifact.h
  internal/core/src/index/vector/VectorMemBuilder.cpp
  internal/core/src/index/vector/VectorMemBuilder.h
  internal/core/src/index/vector/VectorMemLoader.cpp
  internal/core/src/index/vector/VectorMemLoader.h
Due: Core

enhance: [SegIdx 17] sealed disk vector indexes
  internal/core/src/index/VectorDiskIndex.cpp
  internal/core/src/index/VectorDiskIndex.h
  internal/core/src/index/vector/VectorDiskArtifact.cpp
  internal/core/src/index/vector/VectorDiskArtifact.h
  internal/core/src/index/vector/VectorDiskArtifactFile.h
  internal/core/src/index/vector/VectorDiskBuildFileManager.cpp
  internal/core/src/index/vector/VectorDiskBuildFileManager.h
  internal/core/src/index/vector/VectorDiskBuilder.cpp
  internal/core/src/index/vector/VectorDiskBuilder.h
  internal/core/src/index/vector/VectorDiskLoader.cpp
  internal/core/src/index/vector/VectorDiskLoader.h
Due: Core

fix: [SegIdx 15] map logical IDs for empty embedding lists
  internal/core/src/index/vector/VectorLoadResource.cpp
  internal/core/src/index/vector/VectorReaderUtils.h
Due: Core

enhance: [SegIdx 20] other growing indexes
  internal/core/src/index/growing/RTreeGrowingSpatialIndex.cpp
  internal/core/src/index/growing/RTreeGrowingSpatialIndex.h
  internal/core/src/index/growing/TantivyGrowingTextIndex.cpp
  internal/core/src/index/growing/TantivyGrowingTextIndex.h
Due: Core

fix: [SegIdx 18] distinguish raw vector capability from available data
  internal/core/src/segcore/SegmentGrowingImpl.h
Due: Core
