Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: [3.0] Preserve geometry defaults in rebuilds (#52204) (#52350)
  internal/storage/arrow_util.go
  internal/storage/arrow_util_test.go
  internal/storage/sort.go
  internal/storage/sort_test.go
  internal/util/importutilv2/parquet/field_reader.go
  internal/util/importutilv2/parquet/field_reader_test.go
Due: Go

feat: let a form withhold administrative RPCs by caller provenance
  internal/distributed/proxy/internal_domain.go
  internal/distributed/proxy/internal_domain_test.go
  internal/proxy/extension_seam.go
  internal/proxy/extension_seam_test.go
  internal/proxy/impl.go
  pkg/extension/internal_domain_ctx.go
  pkg/extension/internal_domain_ctx_test.go
  pkg/extension/proxy_extension.go
Due: Go

enhance: [hotfix-2.6.22] cache scalar-index IsNotNull() across batches on the ByOffsets paths (#52577)
  internal/core/src/exec/expression/Expr.h
Due: Core

test: add REST ordering, aggregation, and schema evolution coverage (#52170)
  tests/python_client/milvus_client/test_milvus_client_search_aggregation.py
  tests/restful_client_v2/api/milvus.py
  tests/restful_client_v2/testcases/test_drop_field_operations.py
  tests/restful_client_v2/testcases/test_function_field_operations.py
  tests/restful_client_v2/testcases/test_query_aggregation.py
  tests/restful_client_v2/testcases/test_query_order_by.py
  tests/restful_client_v2/testcases/test_search_aggregation.py
  tests/restful_client_v2/testcases/test_search_order_by.py
Due: none

update
  internal/core/src/segcore/ChunkedSegmentSealedBinlogIndexTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/FieldIndexing.cpp
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/src/segcore/storagev1translator/InterimSealedIndexTranslator.cpp
  internal/core/src/segcore/storagev1translator/InterimSealedIndexTranslator.h
  internal/core/unittest/test_utils/SegcoreConfigUtils.h
  internal/util/initcore/init_core.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

update
  internal/core/src/segcore/ChunkedSegmentSealedBinlogIndexTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/FieldIndexing.cpp
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/SegmentGrowingIndexTest.cpp
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/src/segcore/storagev1translator/InterimSealedIndexTranslator.cpp
  internal/core/src/segcore/storagev1translator/InterimSealedIndexTranslator.h
  internal/core/unittest/test_utils/SegcoreConfigUtils.h
  internal/util/initcore/init_core.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

test: add e2e for query order by with vector output (#52574)
  tests/python_client/milvus_client/test_milvus_client_query_order.py
Due: none

test: [cp 3.0] support URI and token in Go SDK tests (#52581)
  tests/go_client/README.md
  tests/go_client/testcases/database_test.go
  tests/go_client/testcases/helper/helper.go
  tests/go_client/testcases/helper/test_setup.go
  tests/go_client/testcases/helper/test_setup_test.go
  tests/go_client/testcases/main_test.go
Due: none

enhance: replace field binlog array reads with stats in metrics and quota paths
  internal/datacoord/meta.go
  internal/proxy/impl.go
  internal/storage/statistics.go
  internal/storage/statistics_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

fix: [RBAC] avoid repeated backup grantee scans (#52198)
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
Due: Go

enhance: log actual consistency in slow logs (#52556)
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/proxy/accesslog/info/grpc_info.go
  internal/proxy/accesslog/info/restful_info.go
  internal/proxy/accesslog/util.go
  internal/proxy/accesslog/util_test.go
  internal/proxy/impl.go
Due: Go

fix: wire the shard-leader invalidation fan-out and start the engine on activation
  internal/coordinator/mix_coord.go
  internal/coordinator/mix_coord_load_percentage_test.go
  internal/coordinator/mix_coord_shard_leader_cache_test.go
  internal/coordinator/mix_coord_shard_leader_readiness_test.go
  internal/distributed/mixcoord/extension_seam.go
  internal/distributed/mixcoord/extension_seam_test.go
Due: Go

fix: gate incremental RG expansion behind the placement capability, repair ReplicaNumber on timeout
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/job/job_load_test.go
  internal/querycoordv2/observers/collection_observer.go
  internal/querycoordv2/observers/collection_observer_rg_test.go
Due: Go

fix: make the delegator fallback a declaration, not an empty-set accident
  internal/coordinator/snmanager/streaming_node_manager.go
  internal/coordinator/snmanager/streaming_node_no_query_test.go
  internal/querycoordv2/assign/no_query_service_fallback_test.go
  internal/querycoordv2/assign/streaming_query_node_channel_helper.go
  internal/querycoordv2/checkers/channel_checker.go
  internal/querycoordv2/checkers/leader_checker.go
  internal/querycoordv2/checkers/no_query_service_fallback_test.go
Due: Go

fix: index scoped shard-leader entries so invalidation stays O(1)
  internal/proxy/shardclient/extension_seam_test.go
  internal/proxy/shardclient/manager.go
Due: Go

fix: take the file-resource gate off rootcoord's ddLock and floor unimplemented nodes
  internal/coordinator/file_resource_observer.go
  internal/coordinator/file_resource_observer_test.go
  internal/querycoordv2/server.go
  internal/querycoordv2/task/executor.go
  internal/querycoordv2/task/scheduler.go
Due: Go

fix: five medium review findings across bootstrap, import, and querycoord
  internal/proxy/extension_seam_test.go
  internal/proxy/impl.go
  internal/querycoordv2/assign/assign_policy_components.go
  internal/querycoordv2/checkers/channel_checker.go
  internal/querycoordv2/resource_group_load_percentage_test.go
  internal/querycoordv2/utils/resource_group_load_percentage.go
  internal/rootcoord/extension_seam.go
  internal/rootcoord/extension_seam_test.go
  internal/rootcoord/root_coord.go
Due: Go

fix: three more medium findings, and make the zero-cost seam claim true
  internal/coordinator/extension_seam.go
  internal/coordinator/extension_seam_test.go
  internal/coordinator/mix_coord.go
  internal/proxy/extension_seam.go
  internal/proxy/extension_seam_test.go
  internal/proxy/task_database.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_partitions.go
  pkg/extension/extension.go
  pkg/extension/resource_group.go
  pkg/extension/resource_group_test.go
Due: Go

feat: add segment-scoped manifest commit (#52582)
  docs/design-docs/design_docs/20260817-datacoord-segment-manifest-commit.md
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_l0_test.go
  internal/datacoord/copy_segment_task.go
  internal/datacoord/ddl_callbacks_batch_update_manifest.go
  internal/datacoord/import_task_import.go
  internal/datacoord/meta.go
  internal/datacoord/segment_manifest_commit.go
  internal/datacoord/segment_manifest_commit_test.go
  internal/datacoord/services.go
  internal/datacoord/task_refresh_external_collection.go
  internal/datacoord/task_stats.go
Due: Go

fix: close out the remaining medium and low review findings
  internal/coordinator/mix_coord.go
  internal/datacoord/index_service.go
  internal/distributed/mixcoord/extension_seam.go
  internal/distributed/mixcoord/extension_seam_test.go
  internal/proxy/extension_seam.go
  internal/proxy/impl.go
  internal/proxy/request_annotation_seam_test.go
  internal/proxy/shardclient/README.md
  internal/proxy/shardclient/manager.go
  internal/querycoordv2/file_resource_gate.go
  internal/querycoordv2/observers/collection_observer.go
  internal/querycoordv2/services.go
  internal/querycoordv2/shard_leader_readiness.go
  internal/querycoordv2/shard_leader_scope_test.go
  internal/querycoordv2/utils/shard_leader_readiness.go
  internal/util/sessionutil/session_util.go
  pkg/extension/coordinator_engine.go
  pkg/extension/extension.go
  pkg/extension/extension_test.go
  pkg/extension/proxy_extension.go
  pkg/extension/shard_leader_readiness.go
Due: Go

fix: avoid repeated RBAC backup grantee scans
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
Due: Go

fix: lazily load RBAC backup grantees
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
Due: Go

fix: make the telemetry UI report what actually happened
  client/milvusclient/telemetry.go
  client/milvusclient/telemetry_test.go
  configs/user.yaml
  internal/coordinator/mix_coord.go
  internal/distributed/mixcoord/client/client.go
  internal/distributed/mixcoord/service.go
  internal/http/webui/telemetry.html
  internal/mocks/mock_mixcoord.go
  internal/mocks/mock_mixcoord_client.go
  internal/mocks/mock_rootcoord.go
  internal/mocks/mock_rootcoord_client.go
  internal/proxy/impl.go
  internal/proxy/rootcoord_mock_test.go
  internal/proxy/telemetry_http_handler.go
  internal/proxy/telemetry_http_handler_test.go
  internal/rootcoord/root_coord.go
  pkg/proto/root_coord.proto
  pkg/proto/rootcoordpb/root_coord.pb.go
  pkg/proto/rootcoordpb/root_coord_grpc.pb.go
Due: Client, Go

fix: complete recoverable runtime retry handling (#51659)
  internal/flushcommon/syncmgr/pack_writer_test.go
  internal/flushcommon/syncmgr/pack_writer_v3.go
  internal/flushcommon/syncmgr/pack_writer_v3_helpers_test.go
  internal/flushcommon/syncmgr/task_test.go
  internal/flushcommon/writebuffer/l0_write_buffer_test.go
  internal/flushcommon/writebuffer/write_buffer.go
  internal/util/proxyutil/proxy_watcher.go
  internal/util/proxyutil/proxy_watcher_test.go
  internal/util/sessionutil/session_util.go
  internal/util/sessionutil/session_util_test.go
  pkg/util/etcd/etcd_util.go
  pkg/util/etcd/etcd_util_test.go
Due: Go

fix: sample telemetry operations evenly instead of in runs
  client/milvusclient/telemetry.go
  client/milvusclient/telemetry_test.go
Due: Client

fix: make the refresh index gate work on runtime tasks, apply before judging
  internal/datacoord/external_collection_refresh_checker.go
  internal/datacoord/external_collection_refresh_checker_test.go
Due: Go

Revert "feat: add segment-scoped manifest commit (#52582)"
  docs/design-docs/design_docs/20260817-datacoord-segment-manifest-commit.md
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_l0_test.go
  internal/datacoord/copy_segment_task.go
  internal/datacoord/ddl_callbacks_batch_update_manifest.go
  internal/datacoord/import_task_import.go
  internal/datacoord/meta.go
  internal/datacoord/segment_manifest_commit.go
  internal/datacoord/segment_manifest_commit_test.go
  internal/datacoord/services.go
  internal/datacoord/task_refresh_external_collection.go
  internal/datacoord/task_stats.go
Due: Go

Revert "feat: add segment-scoped manifest commit" (#52617)
  docs/design-docs/design_docs/20260817-datacoord-segment-manifest-commit.md
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_l0_test.go
  internal/datacoord/copy_segment_task.go
  internal/datacoord/ddl_callbacks_batch_update_manifest.go
  internal/datacoord/import_task_import.go
  internal/datacoord/meta.go
  internal/datacoord/segment_manifest_commit.go
  internal/datacoord/segment_manifest_commit_test.go
  internal/datacoord/services.go
  internal/datacoord/task_refresh_external_collection.go
  internal/datacoord/task_stats.go
Due: Go

fix: [cp3.0] report a stats increment from schema bump materialization (#52006) (#52391)
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/stats_delta.go
  internal/datacoord/stats_delta_test.go
  internal/datanode/compactor/bump_schema_version_compactor.go
  internal/datanode/compactor/bump_schema_version_compactor_test.go
  internal/datanode/compactor/stats.go
  internal/datanode/compactor/stats_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

feat: add scalar local format data scan foundation
  configs/milvus.yaml
  docs/design-docs/design_docs/20260305-local_format.md
  internal/core/src/CMakeLists.txt
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/exec/expression/GISFunctionFilterExpr.h
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/src/index/SkipIndex.h
  internal/core/src/mmap/CMakeLists.txt
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/mmap/ChunkedColumnInterfaceTest.cpp
  internal/core/src/mmap/ChunkedColumnPlanner.cpp
  internal/core/src/mmap/ChunkedColumnScanCommon.h
  internal/core/src/mmap/ChunkedColumnScanCursors.cpp
  internal/core/src/mmap/ChunkedColumnTakeCursors.cpp
  internal/core/src/mmap/VirtualPKChunkedColumn.cpp
  internal/core/src/mmap/VirtualPKChunkedColumn.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/unittest/test_offsets_eval_correctness.cpp
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_timestamptz_arith_compare.cpp
  internal/core/unittest/test_virtual_pk.cpp
  internal/util/initcore/init_core.go
  internal/util/initcore/query_node.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

feat: evaluate compare expressions with column scans
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/ExprCompareTest.cpp
  internal/core/unittest/test_utils/DataGen.h
Due: Core

feat: support Vortex local format readers
  docs/design-docs/design_docs/20260305-local_format.md
  internal/core/src/exec/expression/Expr.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/mmap/ChunkedColumnInterfaceTest.cpp
  internal/core/src/mmap/ChunkedColumnScanCommon.h
  internal/core/src/mmap/ChunkedColumnScanCursors.cpp
  internal/core/src/mmap/SparseVortexFileSystem.cpp
  internal/core/src/mmap/SparseVortexFileSystem.h
  internal/core/src/mmap/VortexColumn.cpp
  internal/core/src/mmap/VortexColumn.h
  internal/core/src/mmap/VortexColumnGroup.cpp
  internal/core/src/mmap/VortexColumnGroup.h
  internal/core/src/mmap/VortexColumnTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/storagev2translator/SystemIndexTranslator.cpp
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_utils/DataGen.h
Due: Core

feat: push down Vortex varchar filters
  configs/milvus.yaml
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/src/common/Consts.h
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/mmap/VortexColumn.cpp
  internal/core/src/mmap/VortexColumnTest.cpp
  internal/util/initcore/init_core.go
  internal/util/initcore/query_node.go
  internal/util/initcore/util.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

feat: support mmap for Vortex local format
  docs/design-docs/design_docs/20260305-local_format.md
  internal/core/src/mmap/SparseVortexFileSystem.cpp
  internal/core/src/mmap/SparseVortexFileSystem.h
  internal/core/src/mmap/VortexColumnGroup.cpp
  internal/core/src/mmap/VortexColumnGroup.h
  internal/core/src/mmap/VortexColumnTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
Due: Core

fix: second-round findings across the internal domain, engine lifecycle, and seam hygiene
  internal/coordinator/file_resource_observer.go
  internal/coordinator/file_resource_observer_test.go
  internal/coordinator/mix_coord.go
  internal/coordinator/mix_coord_load_percentage_test.go
  internal/coordinator/mix_coord_shard_leader_readiness_test.go
  internal/coordinator/snmanager/streaming_node_manager.go
  internal/datacoord/extension_seam_test.go
  internal/distributed/mixcoord/extension_seam.go
  internal/distributed/proxy/internal_domain.go
  internal/distributed/proxy/internal_domain_test.go
  internal/distributed/proxy/service.go
  internal/proxy/extension_seam.go
  internal/proxy/extension_seam_test.go
  internal/proxy/impl.go
  internal/proxy/task_database.go
  internal/querycoordv2/assign/no_query_service_fallback_test.go
  internal/querycoordv2/assign/streaming_query_node_channel_helper.go
  internal/querycoordv2/checkers/no_query_service_fallback_test.go
  pkg/extension/proxy_extension.go
  pkg/util/paramtable/base_table.go
Due: Go

enhance: add more search debug log
  internal/proxy/task_search.go
  pkg/util/paramtable/component_param.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
