Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

enhance: Always retry writing binlogs
  internal/datanode/importv2/util.go
  internal/flushcommon/writebuffer/write_buffer.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/retry/retry.go
Due: Go

fix: inverted index null offset file not compacted (#46775)
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/JsonInvertedIndex.cpp
Due: Core

fix: quota center should ignore the delegator is on recovering
  internal/querynodev2/metrics_info.go
Due: Go

fix: Align the options of WKT/WKB conversions to ensure consistent behavior (#46828)
  internal/proxy/validate_util.go
  internal/storage/print_binlog.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/json/row_parser_test.go
  internal/util/importutilv2/parquet/reader_test.go
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/util/testutils/gen_data.go
  tests/python_client/milvus_client/test_milvus_client_geometry.py
Due: Go

fix: Fix concurrent map access panic in CopySegmentTask (#46829)
  internal/datanode/importv2/task_copy_segment.go
  internal/datanode/importv2/task_copy_segment_test.go
Due: Go

enhance: optimize simdjson/JSON processing to reduce allocations
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/index/JsonFlatIndex.cpp
Due: Core

enhance: minor optimizations
  internal/core/src/segcore/ReduceUtils.cpp
  internal/core/src/storage/RemoteInputStream.cpp
Due: Core

enhance: add vector reserve and std::move to reduce reallocations
  internal/core/src/common/ArrayOffsets.cpp
  internal/core/src/common/FieldData.cpp
  internal/core/src/common/Schema.cpp
  internal/core/src/common/Slice.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/operator/RescoresNode.cpp
  internal/core/src/index/IndexStats.cpp
  internal/core/src/index/json_stats/bson_inverted.cpp
  internal/core/src/index/json_stats/parquet_writer.cpp
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/SubSearchResult.cpp
  internal/core/src/segcore/segment_c.cpp
Due: Core

enhance: use const reference parameters to avoid unnecessary copies
  internal/core/src/common/IndexMeta.cpp
  internal/core/src/exec/expression/function/FunctionFactory.cpp
  internal/core/src/exec/expression/function/FunctionFactory.h
  internal/core/src/index/json_stats/utils.cpp
  internal/core/src/index/json_stats/utils.h
Due: Core

test: use minio_bucket parameter in bulk insert TEI tests
  tests/python_client/testcases/test_bulk_insert.py
Due: none

enhance: filter the empty timetick from consuming side (#46730)
  internal/.mockery.yaml
  internal/mocks/util/mock_pipeline/mock_LastestMVCCTimeTickGetter.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/delegator/mock_delegator.go
  internal/querynodev2/pipeline/pipeline.go
  internal/querynodev2/pipeline/pipeline_test.go
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl.go
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl_test.go
  internal/streamingnode/server/flusher/flusherimpl/wal_flusher.go
  internal/streamingnode/server/wal/interceptors/timetick/mvcc/mvcc_manager.go
  internal/streamingnode/server/wal/interceptors/timetick/mvcc/mvcc_manager_test.go
  internal/util/pipeline/consuming_slowdown.go
  internal/util/pipeline/consuming_slowdown_test.go
  internal/util/pipeline/stream_pipeline.go
  internal/util/pipeline/stream_pipeline_test.go
  pkg/metrics/streaming_service_metrics.go
  pkg/util/funcutil/random.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  tests/go_client/common/utils.go
  tests/go_client/testcases/helper/helper.go
  tests/go_client/testcases/helper/test_setup.go
Due: Go

fix: Fix flaky test_job_import_binlog_file_type by waiting for index building
  tests/restful_client_v2/testcases/test_jobs_operation.py
Due: none

fix: ut
  internal/querynodev2/delegator/mock_delegator.go
  internal/querynodev2/services_test.go
Due: Go

enhance: add user control config for mmap
  configs/milvus.yaml
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/util/indexparamcheck/index_type.go
  internal/util/indexparamcheck/index_type_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: [2.5] inverted index null offset file not compacted (#46775) (#46868)
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/JsonInvertedIndex.cpp
Due: Core

enhance: Bump milvus & proto to v2.5.25
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

enhance: avoid intermediate vector copy for VARCHAR/TEXT Arrow data
  internal/core/src/common/FieldData.cpp
  internal/core/src/common/FieldDataInterface.h
Due: Core

fix: use stack allocation for valid_data in DataCodecTest
  internal/core/src/storage/DataCodecTest.cpp
Due: Core

test:add field case about float scalar datatype supports floating-point
  tests/python_client/base/client_v2_base.py
  tests/python_client/milvus_client/test_add_field_feature.py
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/milvus_client/test_milvus_client_search.py
Due: none

fix comment
  internal/core/thirdparty/tantivy/tantivy-binding/benches/analyzer_bench.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/jieba_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/lindera_tokenizer.rs
Due: Core

Align the options of WKT/WKB conversions to ensure consistent behavior
  internal/proxy/validate_util.go
  internal/storage/print_binlog.go
  internal/util/importutilv2/parquet/reader_test.go
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/util/testutils/gen_data.go
  tests/python_client/milvus_client/test_milvus_client_geometry.py
Due: Go

enhance:Limit the number of concurrent vector index builds per worker (#46773)
  internal/datanode/index/pool.go
  internal/datanode/index/pool_test.go
  internal/datanode/index/scheduler.go
  internal/datanode/index/scheduler_test.go
  internal/datanode/index/task.go
  internal/datanode/index/task_analyze.go
  internal/datanode/index/task_index.go
  internal/datanode/index/task_stats.go
  internal/datanode/index/util.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

test: Add geometry operations test suite for RESTful API (#46174)
  tests/restful_client_v2/requirements.txt
  tests/restful_client_v2/testcases/test_geometry_operations.py
  tests/restful_client_v2/utils/utils.py
Due: none

test: add unique error message collection in chaos checker (#46262)
  tests/python_client/chaos/chaos_commons.py
  tests/python_client/chaos/checker.py
Due: none

test: add highlighter in checker (#46289)
  tests/python_client/chaos/checker.py
Due: none

enhance: Always retry writing binlogs (#46850)
  internal/datanode/importv2/util.go
  internal/flushcommon/writebuffer/write_buffer.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/retry/retry.go
Due: Go

test: replace parquet with jsonl for EventRecords and RequestRecords in checker (#46671)
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/requirements.txt
  tests/python_client/chaos/testcases/test_get_collections.py
  tests/python_client/utils/util_common.py
Due: none

enhance: [2.6] Always retry writing binlogs (#46854)
  internal/datanode/importv2/util.go
  internal/flushcommon/writebuffer/write_buffer.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/retry/retry.go
Due: Go

fix: Improve snapshot restore and RefIndex loading reliability
  internal/datacoord/ddl_callbacks_snapshot.go
  internal/datacoord/ddl_callbacks_snapshot_test.go
  internal/datacoord/garbage_collector.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/server.go
  internal/datacoord/services.go
  internal/datacoord/snapshot_manager.go
  internal/datacoord/snapshot_manager_test.go
  internal/datacoord/snapshot_meta.go
  internal/datacoord/snapshot_meta_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/util/paramtable/component_param.go
  tests/go_client/testcases/snapshot_test.go
Due: Go

enhance: batch processing for ngram [2.6] (#46703)
  internal/core/src/exec/expression/Expr.h
  internal/core/src/index/NgramInvertedIndex.cpp
  internal/core/src/index/NgramInvertedIndex.h
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
