Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix tests; address comment
  internal/core/src/common/Consts.h
  internal/core/src/common/Schema.cpp
  internal/core/src/common/Types.h
  internal/core/src/indexbuilder/index_c.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/MemFileManagerImpl.cpp
  internal/core/src/storage/PayloadReader.cpp
  internal/core/src/storage/PayloadWriter.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/core/unittest/test_disk_file_manager_test.cpp
  internal/core/unittest/test_growing.cpp
  internal/core/unittest/test_vector_array_storage_v2.cpp
  internal/datacoord/task_index.go
  internal/datanode/index/task_index.go
  internal/storage/payload_writer.go
  pkg/proto/index_cgo_msg.proto
  pkg/proto/index_coord.proto
  pkg/proto/indexcgopb/index_cgo_msg.pb.go
  pkg/proto/indexpb/index_coord.pb.go
Due: Core, Go

fix: Prevent panic in upsert due to missing nullable fields [Proxy] (#44070)
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_test.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Go

modify test_query cases
  tests/python_client/milvus_client/test_milvus_client_query.py
  tests/python_client/test_milvus_client_query.py
Due: none

enhance: [cmek]Merge cipher.yml with hook.yml (#44118)
  internal/util/hookutil/cipher.go
  pkg/util/paramtable/cipher_config.go
  pkg/util/paramtable/runtime.go
Due: Go

modify test_query cases
  tests/python_client/test_milvus_client_query.py
  tests/python_client/testcases/test_query.py
Due: none

feat: support datatype_timestamptz like datatype_int64
  internal/datacoord/services.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/wrap_request.go
  internal/proxy/impl.go
  internal/proxy/task_query.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/distribution.go
Due: Go

feat: support support timezone property for collection/database
  client/go.mod
  go.mod
  go.sum
  internal/proxy/task.go
  internal/proxy/task_database.go
  internal/proxy/util.go
  pkg/common/common.go
Due: Client, Go

feat: support timezone
  internal/proxy/task_insert.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/util.go
Due: Go

feat: sync proto
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
Due: Client, Go

test: add unit tests for segcore
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_utils/DataGen.h
Due: Core

feat: support user define timezone in search/query
  internal/proxy/impl.go
  internal/proxy/search_util.go
  internal/proxy/task.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
Due: Go

feat: sync milvus-proto
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/go.sum
Due: Client, Go

feat: support index for timestamptz compare
  internal/core/src/common/FieldMeta.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/indexbuilder/IndexFactory.h
  internal/parser/planparserv2/parser_visitor.go
  internal/proxy/task.go
  internal/util/importutilv2/numpy/util.go
  pkg/util/typeutil/schema.go
Due: Core, Go

feat: support timestamptz arith compare expression
  .gitignore
  client/column/columns.go
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.h
  internal/core/src/expr/ITypeExpr.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProto.h
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/MemFileManagerImpl.cpp
  internal/datacoord/session/mock_node_manager.go
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_base_visitor.go
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/generated/plan_visitor.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2.go
  internal/parser/planparserv2/utils.go
  internal/parser/planparserv2/utils_test.go
  internal/proxy/task_delete.go
  internal/proxy/task_insert.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/util.go
  pkg/common/common.go
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
Due: Client, Core, Go

feat: sync proto to add datatype schema
  client/go.mod
  go.mod
  go.sum
  pkg/go.mod
Due: Client, Go

feat: support timestamptz (insert & retrieve)
  client/column/columns.go
  internal/core/src/common/Types.h
  internal/core/src/segcore/Collection.cpp
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/wrap_request.go
  internal/proxy/impl.go
  internal/proxy/task_query.go
  internal/proxy/validate_util.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/segments/collection.go
  internal/storage/utils.go
Due: Client, Core, Go

fix: merge error
  client/go.mod
  go.mod
  go.sum
  internal/proxy/validate_util.go
Due: Client, Go

fix: apply lint fix
  client/column/columns.go
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/src/segcore/Collection.cpp
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/datacoord/services.go
  internal/distributed/proxy/httpserver/wrap_request.go
  internal/parser/planparserv2/utils.go
  internal/proxy/impl.go
  internal/proxy/task_query.go
  internal/proxy/util.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/distribution.go
Due: Client, Core, Go

feat: support datatype::timestamptz(segcore) like datatype_int64
  internal/core/src/common/Types.h
  internal/core/src/segcore/Collection.cpp
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

fix: ci problems
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/unittest/test_c_api.cpp
  internal/proxy/task_search_test.go
Due: Core, Go

[automated] Bump milvus version to v2.6.1 (#44139)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

enhance: add configuration to allow custom characters in names (#42417)
  configs/milvus.yaml
  internal/proxy/util.go
  internal/proxy/util_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix ngram; add tests
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/NullExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/unittest/test_ngram_query.cpp
  internal/core/unittest/test_utils/GenExprProto.h
Due: Core

test: migrate test_query V2 cases for milvus client (#44117)
  tests/python_client/milvus_client/test_milvus_client_query.py
  tests/python_client/testcases/test_query.py
Due: none

[automated] Bump milvus version to v2.6.1 (#44141)
  scripts/standalone_embed.bat
  scripts/standalone_embed.sh
Due: none

format
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/NullExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/unittest/test_ngram_query.cpp
  internal/core/unittest/test_utils/GenExprProto.h
Due: Core

format
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
Due: Core

enhance: make immutable message as the param of ack operation for cdc (#43900)
  internal/datacoord/server.go
  internal/datacoord/server_test.go
  internal/distributed/streaming/broadcast.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/test_streaming.go
  internal/distributed/streaming/wal_test.go
  internal/mocks/distributed/mock_streaming/mock_Broadcast.go
  internal/mocks/streamingcoord/mock_client/mock_BroadcastService.go
  internal/proxy/proxy_test.go
  internal/streamingcoord/client/broadcast/broadcast_impl.go
  internal/streamingcoord/client/broadcast/broadcast_test.go
  internal/streamingcoord/client/client.go
  internal/streamingcoord/client/client_test.go
  internal/streamingcoord/server/balancer/balancer_test.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/broadcast_task.go
  internal/streamingcoord/server/broadcaster/broadcaster.go
  internal/streamingcoord/server/broadcaster/broadcaster_impl.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
  internal/streamingcoord/server/broadcaster/registry/ack_message_callback.go
  internal/streamingcoord/server/broadcaster/registry/ack_message_callback_test.go
  internal/streamingcoord/server/broadcaster/registry/check_message_callback.go
  internal/streamingcoord/server/broadcaster/registry/check_message_callback_test.go
  internal/streamingcoord/server/broadcaster/registry/specialized_callback.go
  internal/streamingcoord/server/service/broadcast.go
  internal/streamingnode/client/handler/consumer/consumer_test.go
  internal/streamingnode/client/manager/manager_test.go
  internal/streamingnode/server/service/handler/consumer/consume_server.go
  internal/streamingnode/server/service/handler/consumer/consume_server_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/util/streamingutil/service/discoverer/session_discoverer_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/streaming/util/types/responses.go
Due: Go

fix:expand lock range for dump_snapshot
  internal/core/src/segcore/DeletedRecord.h
Due: Core

optimize access log format when print kv params
  internal/proxy/accesslog/info/util.go
Due: Go

enhance: support cchannel for streaming service
  internal/coordinator/snmanager/streaming_node_manager.go
  internal/coordinator/snmanager/streaming_node_manager_test.go
  internal/coordinator/snmanager/test_utility.go
  internal/datacoord/compaction_task_mix_test.go
  internal/distributed/streaming/append.go
  internal/distributed/streaming/msgstream_adaptor.go
  internal/distributed/streaming/wal.go
  internal/metastore/catalog.go
  internal/metastore/kv/streamingcoord/constant.go
  internal/metastore/kv/streamingcoord/kv_catalog.go
  internal/metastore/kv/streamingcoord/kv_catalog_test.go
  internal/mocks/mock_metastore/mock_StreamingCoordCataLog.go
  internal/mocks/streamingcoord/server/mock_balancer/mock_Balancer.go
  internal/querycoordv2/balance/streaming_query_node_channel_helper_test.go
  internal/querycoordv2/observers/replica_observer_test.go
  internal/rootcoord/garbage_collector_test.go
  internal/streamingcoord/client/assignment/discoverer.go
  internal/streamingcoord/server/balancer/balancer.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/balancer_test.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/balancer/channel/manager_test.go
  internal/streamingcoord/server/service/discover/discover_grpc_server_helper.go
  internal/streamingcoord/server/service/discover/discover_server_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/util/streamingutil/service/discoverer/session_discoverer_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/streaming/util/message/utils.go
  pkg/streaming/util/types/streaming_node.go
Due: Go

fix test
  internal/core/src/storage/Util.cpp
Due: Core

Add geo tests
  tests/python_client/base/client_v2_base.py
  tests/python_client/common/common_func.py
  tests/python_client/common/common_type.py
  tests/python_client/milvus_client/test_milvus_client_geometry.py
  tests/python_client/requirements.txt
Due: none

enhance: Add mutex and range check preventing concurrent del (#44128)
  internal/querynodev2/segments/segment.go
Due: Go

fix:expand lock range for dump_snapshot (#44130)
  internal/core/src/segcore/DeletedRecord.h
Due: Core

add internal core latency metric for rescore node
  internal/core/src/exec/operator/RescoresNode.cpp
  internal/core/src/monitor/Monitor.cpp
  internal/core/src/monitor/Monitor.h
Due: Core

enhance: use v0.15.1 official pulsar client and add logging for pulsar client
  configs/milvus.yaml
  go.mod
  go.sum
  internal/.mockery.yaml
  internal/distributed/proxy/service.go
  internal/mocks/google.golang.org/grpc/mock_balancer/mock_SubConn.go
  internal/util/streamingutil/service/balancer/balancer_test.go
  internal/util/streamingutil/service/balancer/picker/server_id_picker_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/mq/msgstream/mq_factory.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_consumer.go
  pkg/streaming/walimpls/impls/pulsar/builder.go
  pkg/streaming/walimpls/impls/pulsar/pulsarlog/logger.go
  pkg/util/paramtable/service_param.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
