Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

Merge from upstream. Signed-off-by: Lior Friedman <lior.friedman@il.kioxia.com> Signed-off-by: Gili Buzaglo <Gili.Buzaglo@il.kioxia.com> Signed-off-by: Hiroshi Murayama <hiroshi4.murayama@kioxia.com>
  internal/core/src/clustering/types.h
Due: Core

Format cpp code. Signed-off-by: Lior Friedman <lior.friedman@il.kioxia.com> Signed-off-by: Gili Buzaglo <Gili.Buzaglo@il.kioxia.com> Signed-off-by: Hiroshi Murayama <hiroshi4.murayama@kioxia.com>
  internal/core/src/clustering/KmeansClusteringTest.cpp
Due: Core

Add a client connection pool and rotate connections periodically
  client/milvusclient/client.go
  client/milvusclient/client_config.go
  client/milvusclient/client_config_test.go
  client/milvusclient/client_pool_test.go
  client/milvusclient/connection_pool.go
  client/milvusclient/database.go
  client/milvusclient/interceptors.go
  client/milvusclient/interceptors_test.go
  client/milvusclient/replicate.go
  client/milvusclient/snapshot_test.go
  client/milvusclient/telemetry.go
Due: Client

enhance: place a form's shard delegators on its regular query nodes
  internal/querycoordv2/assign/streaming_query_node_channel_helper.go
  internal/querycoordv2/balance/channel_level_score_balancer.go
  internal/querycoordv2/balance/helper.go
  internal/querycoordv2/balance/helper_form_test.go
  internal/querycoordv2/checkers/channel_checker.go
  internal/querycoordv2/checkers/channel_checker_form_test.go
  internal/querycoordv2/checkers/leader_checker.go
  internal/querycoordv2/ops_services.go
  internal/querycoordv2/utils/delegator_placement_form_test.go
  internal/querycoordv2/utils/meta.go
  internal/util/streamingutil/env.go
  internal/util/streamingutil/env_test.go
Due: Go

fix: reset indexes on backfill replace
  internal/datacoord/segment_manifest_commit.go
  internal/datacoord/services_commit_backfill.go
  internal/datacoord/services_test.go
Due: Go

enhance: enforce resource group load config compliance (#53183)
  internal/coordinator/restful_replica.go
  internal/coordinator/restful_replica_test.go
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/job/job_update.go
  internal/querycoordv2/job/load_target_test.go
  internal/querycoordv2/load_config_compliance.go
  internal/querycoordv2/load_config_compliance_test.go
  internal/querycoordv2/load_config_multiplicity_test.go
  internal/querycoordv2/load_config_watcher.go
  internal/querycoordv2/meta/collection_manager.go
  internal/querycoordv2/meta/meta.go
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/meta/replica_target_test.go
  internal/querycoordv2/server.go
  internal/querycoordv2/services.go
  internal/querycoordv2/utils/meta.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/wal_compliance.go
  internal/streamingcoord/server/balancer/wal_compliance_test.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Go

fix: revert broad load config compliance refactor (#53183)
  internal/coordinator/restful_replica.go
  internal/coordinator/restful_replica_test.go
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/job/job_update.go
  internal/querycoordv2/job/load_target_test.go
  internal/querycoordv2/load_config_compliance.go
  internal/querycoordv2/load_config_compliance_test.go
  internal/querycoordv2/load_config_multiplicity_test.go
  internal/querycoordv2/load_config_watcher.go
  internal/querycoordv2/meta/collection_manager.go
  internal/querycoordv2/meta/meta.go
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/meta/replica_target_test.go
  internal/querycoordv2/server.go
  internal/querycoordv2/services.go
  internal/querycoordv2/utils/meta.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/wal_compliance.go
  internal/streamingcoord/server/balancer/wal_compliance_test.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Go

fix: report only involved resource groups and attribute violations precisely (#53183)
  internal/coordinator/restful_replica.go
  internal/querycoordv2/meta/resource_manager.go
  internal/querycoordv2/server.go
Due: Go

enhance: switch per-resource-group compliance to kubectl-style output param
  internal/coordinator/restful_replica.go
  internal/coordinator/restful_replica_test.go
Due: Go

enhance: add per-resource-group reporting option to load config compliance
  internal/coordinator/restful_replica.go
  internal/coordinator/restful_replica_test.go
Due: Go

fix: use promoted ResourceManager method for node->RG lookup (#53183)
  internal/querycoordv2/server.go
Due: Go

enhance: document load config compliance readiness contract (#53183)
  internal/coordinator/restful_replica.go
Due: Go

enhance: keep only first reason in per-resource-group compliance report
  internal/coordinator/restful_replica.go
  internal/coordinator/restful_replica_test.go
Due: Go

fix: attribute per-resource-group compliance violations correctly and unify check (#53183)
  internal/coordinator/restful_replica.go
  internal/coordinator/restful_replica_test.go
Due: Go

fix: scope load config compliance checks to management endpoint (#53183)
  internal/coordinator/restful_replica.go
  internal/coordinator/restful_replica_test.go
Due: Go

fix: add per-replica serviceability and per-resource-group leak helpers (#53183)
  internal/querycoordv2/server.go
Due: Go

test: cover per-RG leak attribution, non-fail-fast serviceability and report scope (#53183)
  internal/coordinator/restful_replica_test.go
  internal/querycoordv2/meta/resource_manager_test.go
  internal/querycoordv2/server_test.go
Due: Go

fix: attribute streaming query node residuals to resource groups (#53183)
  internal/coordinator/restful_replica.go
  internal/coordinator/restful_replica_test.go
  internal/querycoordv2/server.go
  internal/querycoordv2/server_test.go
Due: Go

test: cover unknown WAL owner in load config compliance (#53183)
  internal/coordinator/restful_replica_test.go
Due: Go

enhance: clarify load config compliance state contract (#53183)
  internal/coordinator/restful_replica.go
Due: Go

enhance: remove the streaming-node admission and placement
  docs/design-docs/design_docs/20260831-in_tree_extension_mechanism.md
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_sqnode_test.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_collection.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_partitions.go
  internal/querycoordv2/load_admission_test.go
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/meta/sqnode_pool.go
  internal/querycoordv2/meta/sqnode_pool_test.go
  internal/querycoordv2/observers/collection_observer.go
  internal/querycoordv2/observers/collection_observer_rg_test.go
  internal/querycoordv2/utils/delegator_capacity.go
  internal/querycoordv2/utils/delegator_capacity_test.go
  internal/querycoordv2/utils/delegator_placement_form_test.go
  internal/querycoordv2/utils/meta.go
  internal/querycoordv2/utils/streaming_node_admission_test.go
  pkg/extension/extension.go
Due: Go

enhance: upgrade gci to v0.13.4
  Makefile
Due: none

[automated] Bump milvus version to v3.0.1 (#53141)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
  scripts/standalone_embed.bat
  scripts/standalone_embed.sh
Due: none

fix: preserve empty nullable arrays during parquet bulk import (#53535)
  internal/util/importutilv2/parquet/list_like.go
  internal/util/importutilv2/parquet/list_like_test.go
Due: Go

test: batch import formats and reduce integration wait overhead
  tests/integration/import/2pc_import_test.go
  tests/integration/import/dynamic_field_test.go
  tests/integration/import/import_test.go
  tests/integration/import/multi_file_types_test.go
  tests/integration/import/suite_test.go
  tests/integration/import/util_test.go
  tests/integration/suite.go
  tests/integration/suite_release_test.go
  tests/integration/util_index.go
  tests/integration/util_insert.go
  tests/integration/util_query.go
Due: none

fix: preserve invalid binlog import errors
  internal/datacoord/import_services_test.go
  internal/datacoord/import_util.go
  internal/datacoord/import_util_test.go
  tests/integration/import/binlog_test.go
Due: Go

test: compare BloomMatch recall using the same query vector
  tests/integration/bloommatch/bloom_match_test.go
Due: none

build(deps): update storage after packed reader cursor fix
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
Due: Core

test: Conform restore mock signature to gofumpt
  internal/datacoord/snapshot_manager_test.go
Due: Go

fix: Serialize snapshot restores targeting the same collection
  internal/datacoord/ddl_callbacks.go
  internal/datacoord/snapshot_manager.go
  internal/datacoord/snapshot_manager_test.go
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: Go

test: Supply target metadata in snapshot restore service test
  internal/datacoord/services_test.go
Due: Go

fix: count only L1 rows for replica placement (#53565)
  internal/querycoordv2/meta/collection_group_rows.go
  internal/querycoordv2/meta/collection_group_test.go
Due: Go

test: [2.6] extend Storage V2 CMEK coverage (#53168)
  tests/integration/cmek/inspector/raw_data_v2.go
  tests/integration/cmek/inspector/raw_data_v2_test.go
  tests/integration/cmek/inspector/vector_index.go
  tests/integration/cmek/inspector/vector_index_test.go
  tests/integration/cmek/raw_data_v2_helpers_test.go
  tests/integration/cmek/raw_data_v2_test.go
  tests/integration/cmek/vector_index_test.go
Due: none

test: Check restore admission errors for existing targets
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

build(deps): [3.0] bump milvus-storage for key and cursor fixes
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
Due: Core

doc: clarify load admission defaults by mode
  docs/design-docs/design_docs/20260907-async-packed-scalar-index-loading.md
Due: none

enhance: batch bitmap frozen writes in 16 MiB chunks
  docs/design-docs/design_docs/20260907-async-packed-scalar-index-loading.md
  internal/core/src/index/BitmapIndex.h
Due: Core

enhance: unify load overhead concurrency limits
  docs/design-docs/design_docs/20260907-async-packed-scalar-index-loading.md
  internal/core/src/index/HybridScalarIndexTest.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/InvertedIndexTest.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslatorTest.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslatorTest.cpp
  internal/core/src/segcore/storagev2translator/StorageV2Config.cpp
  internal/core/src/segcore/storagev2translator/StorageV2Config.h
  internal/core/src/storage/LoadAdmissionController.cpp
  internal/core/src/storage/LoadAdmissionControllerTest.cpp
  internal/core/src/storage/LoadOverheadController.cpp
  internal/core/src/storage/LoadOverheadController.h
  internal/core/src/storage/ThreadPools.cpp
  internal/core/src/storage/ThreadPoolsTest.cpp
Due: Core

enhance: unify packed hybrid type resolver naming
  internal/core/src/index/HybridScalarIndex.cpp
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
