Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

enhance: fast-fail for proxy-to-QueryNode gRPC retry and delegator stall detection
  internal/proxy/task.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_test.go
  internal/util/grpcclient/client.go
  internal/util/grpcclient/client_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/param_item.go
  pkg/util/retry/options.go
  pkg/util/retry/options_test.go
Due: Go

fix: preserve temp text index state across sealed segment Reopen (#49192)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentLoadInfo.h
  internal/core/unittest/test_sealed.cpp
Due: Core

test: add snapshot RBAC test cases using v2 privilege API
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: xfail v2 privilege group test linked to #47855
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: adapt snapshot tests to collection-scoped API and pin protection
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: add snapshot lifecycle, alias, and cross-db test cases
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

fix: resolve ruff lint warnings in snapshot test
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: add TestMilvusClientSnapshotPin for pin/unpin lifecycle coverage
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: fix snapshot test flakiness and use db_name param for cross-db restore
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: show detailed server version in test setup log
  tests/python_client/base/client_v2_base.py
Due: none

test: add assertion for drop_and_restore_race to detect server-side infinite retry bug
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: add xfail tests for ClusterReadOnly/ReadWrite privilege groups (#47855)
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: add RBAC coverage for pin/unpin privileges and restore revoke
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

fix: fix snapshot RBAC teardown and restore_snapshot return type
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: add pin_snapshot_data/unpin_snapshot_data base wrappers
  tests/python_client/base/client_v2_base.py
Due: none

test: cover compaction_protection_seconds and explicit source_db_name on snapshot APIs
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: fix ruff lint errors flagged by Python Lint CI
  tests/python_client/base/client_v2_base.py
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: cover cross-collection naming, db_name filter, and alias-target conflict
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: apply ruff format to PR-touched test files
  tests/python_client/base/client_v2_base.py
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

enhance: [cp2.6]allow simultaneous pchannel increase and cluster/topology changes
  pkg/util/replicateutil/config_validator.go
  pkg/util/replicateutil/config_validator_test.go
Due: Go

enhance: [3.0] [ExternalTable Part8 Prep] remove dead External* RPC plumbing and obsolete design doc (#49197)
  docs/external_table_load_query_design.md
  internal/coordinator/mix_coord.go
  internal/datacoord/index_service.go
  internal/datacoord/mock_test.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/distributed/mixcoord/client/client.go
  internal/distributed/mixcoord/client/client_test.go
  internal/distributed/mixcoord/service.go
  internal/distributed/mixcoord/service_test.go
  internal/metastore/catalog.go
  internal/metastore/kv/datacoord/constant.go
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/kv/datacoord/util.go
  internal/metastore/mocks/mock_datacoord_catalog.go
  internal/mocks/mock_datacoord.go
  internal/mocks/mock_datacoord_client.go
  internal/mocks/mock_mixcoord.go
  internal/mocks/mock_mixcoord_client.go
  internal/proxy/rootcoord_mock_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/datapb/data_coord_grpc.pb.go
  pkg/proto/index_coord.proto
  pkg/proto/indexpb/index_coord.pb.go
Due: Go

test: add tests/Makefile for ruff lint targets matching CI
  tests/Makefile
Due: none

enhance: [3.0] [ExternalTable Part8 - 1/4] cross-bucket, schemaless reader, force nullable (#49198)
  internal/core/conanfile.py
  internal/core/src/common/Schema.cpp
  internal/core/src/common/Schema.h
  internal/core/src/indexbuilder/index_c.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentLoadInfo.h
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/core/src/storage/loon_ffi/util.cpp
  internal/core/src/storage/loon_ffi/util.h
  internal/core/unittest/test_external_take.cpp
  internal/datacoord/task_index.go
  internal/datanode/index/task_index.go
  internal/querynodev2/segments/segment_loader.go
  internal/storagev2/packed/ffi_common.go
  internal/util/segcore/segment.go
  pkg/proto/index_cgo_msg.proto
  pkg/proto/indexcgopb/index_cgo_msg.pb.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/proto/segcore.proto
  pkg/proto/segcorepb/segcore.pb.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
  pkg/util/externalspec/external_spec.go
  pkg/util/externalspec/external_spec_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
  tests/go_client/testcases/external_table_benchmark_test.go
Due: Core, Go

test: detect Makefile BASE_REF from PR base repo, no guessing
  tests/Makefile
Due: none

doc: document tests/Makefile lint targets in tests/README
  tests/README.md
  tests/README_CN.md
Due: none

fix: use pointer to paramtable.CommonCfg to satisfy govet copylocks
  internal/util/initcore/util.go
Due: Go

fix: [2.5] fix TestSelectSealedSegment_ForceSelectAllFlag — set earliestGrowingSegmentPos > realL0DmlTs
  internal/datacoord/compaction_task_l0_test.go
Due: Go

test: stabilize evict buffer concurrency regression assertions
  internal/flushcommon/writebuffer/write_buffer_test.go
Due: Go

fix: release writebuffer lock before awaiting sync futures
  internal/flushcommon/writebuffer/write_buffer.go
Due: Go

test: add evict buffer lock-starvation regression test
  internal/flushcommon/writebuffer/write_buffer_test.go
Due: Go

feat: support multi-field composite group_by for vector search (#48970)
  go.mod
  go.sum
  internal/core/src/common/QueryInfo.h
  internal/core/src/common/QueryResult.h
  internal/core/src/common/Types.h
  internal/core/src/exec/operator/SearchGroupByNode.cpp
  internal/core/src/exec/operator/Utils.h
  internal/core/src/exec/operator/search-groupby/SearchGroupByOperator.cpp
  internal/core/src/exec/operator/search-groupby/SearchGroupByOperator.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/segcore/ChunkedSegmentSealedTest.cpp
  internal/core/src/segcore/ReduceStructure.h
  internal/core/src/segcore/ReduceUtils.cpp
  internal/core/src/segcore/ReduceUtils.h
  internal/core/src/segcore/reduce/GroupReduce.cpp
  internal/core/src/segcore/reduce/GroupReduce.h
  internal/core/src/segcore/reduce/Reduce.cpp
  internal/core/src/segcore/reduce_c.cpp
  internal/core/src/segcore/reduce_c_test.cpp
  internal/core/unittest/test_element_filter.cpp
  internal/core/unittest/test_group_by_json.cpp
  internal/core/unittest/test_search_group_by.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/core/unittest/test_utils/c_api_test_utils.h
  internal/core/unittest/test_utils/storage_test_utils.h
  pkg/go.mod
  pkg/go.sum
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
Due: Core, Go

test: Increase PyMilvus version to 2.7.0rc199
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.6.13rc4
  tests/python_client/requirements.txt
Due: none

fix: propagate segment DataVersion to QueryCoord in GetRecoveryInfoV2 (#49189)
  internal/datacoord/services.go
  internal/datacoord/services_test.go
Due: Go

enhance: remove SuffixSnapshot mechanism from RootCoord metadata storage (#47960)
  Makefile
  cmd/tools/migration/mmap/tool/main.go
  configs/milvus.yaml
  internal/kv/mock_snapshot_kv.go
  internal/kv/mock_snapshot_kv_test.go
  internal/kv/mocks/snapshot_kv.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/metastore/kv/rootcoord/legacy_snapshot_gc.go
  internal/metastore/kv/rootcoord/legacy_snapshot_gc_test.go
  internal/metastore/kv/rootcoord/rootcoord_constant.go
  internal/metastore/kv/rootcoord/suffix_snapshot.go
  internal/metastore/kv/rootcoord/suffix_snapshot_test.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  pkg/kv/kv.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

fix: format struct_array_v2.go comment to pass gofmt
  internal/distributed/proxy/httpserver/struct_array_v2.go
Due: Go

enhance: accept struct sub-vector indexParams in RESTful v2 collection_create
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
