Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

test: cover more timesamptz e2e (#46575)
  tests/python_client/milvus_client/test_milvus_client_timestamptz.py
Due: none

test: add more test case on partial update (#46628)
  tests/python_client/milvus_client/test_milvus_client_partial_update.py
Due: none

Issue: #46504
  tests/python_client/milvus_client/test_milvus_client_highlighter.py
Due: none

enhance: add glog sink to transfer cgo log into zap (#46721)
  configs/glog.conf
  internal/core/CMakeLists.txt
  internal/core/src/common/logging_c.cpp
  internal/core/src/common/logging_c.h
  internal/core/src/config/ConfigKnowhere.cpp
  internal/datanode/index/init_segcore.go
  internal/proxy/cgo_util.go
  internal/querynodev2/server.go
  internal/storagev2/packed/ffi_common.go
  internal/util/analyzecgowrapper/analyze.go
  internal/util/analyzer/canalyzer/c_analyzer.go
  internal/util/cgo/futures.go
  internal/util/cgo/logging/logging.go
  internal/util/cgo/logging/logging_test.go
  internal/util/cgoconverter/bytes_converter.go
  internal/util/indexcgowrapper/index.go
  internal/util/indexparamcheck/vector_index_checker.go
  internal/util/initcore/init_core.go
  internal/util/metrics/c_registry.go
  internal/util/segcore/segcore_init.go
  internal/util/textmatch/phrase_match.go
  internal/util/vecindexmgr/vector_index_mgr.go
  pkg/log/zap_async_buffered_write_core.go
  pkg/metrics/logging_metrics.go
Due: Core, Go

Combine the TTL filter expression via logical AND
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/operator/FilterBitsNode.cpp
Due: Core

enhance: add glog sink to transfer cgo log into zap (#46721)
  configs/glog.conf
  internal/core/CMakeLists.txt
  internal/core/src/common/logging_c.cpp
  internal/core/src/common/logging_c.h
  internal/core/src/config/ConfigKnowhere.cpp
  internal/datanode/index/init_segcore.go
  internal/proxy/cgo_util.go
  internal/querynodev2/server.go
  internal/storagev2/packed/ffi_common.go
  internal/util/analyzecgowrapper/analyze.go
  internal/util/analyzer/canalyzer/c_analyzer.go
  internal/util/cgo/futures.go
  internal/util/cgo/logging/logging.go
  internal/util/cgo/logging/logging_test.go
  internal/util/cgoconverter/bytes_converter.go
  internal/util/indexcgowrapper/index.go
  internal/util/indexparamcheck/vector_index_checker.go
  internal/util/initcore/init_core.go
  internal/util/metrics/c_registry.go
  internal/util/segcore/segcore_init.go
  internal/util/vecindexmgr/vector_index_mgr.go
  pkg/log/zap_async_buffered_write_core.go
  pkg/metrics/logging_metrics.go
Due: Core, Go

enhance: tidy code in import plugin context (#46374)
  internal/datacoord/compaction_util.go
  internal/datacoord/import_util.go
  internal/util/hookutil/cipher.go
Due: Go

fix: remove redundant log (#46733)
  internal/core/src/plan/PlanNode.h
  internal/datacoord/index_service.go
  internal/datacoord/meta.go
  internal/datacoord/services.go
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querycoordv2/meta/target_manager.go
  internal/querynodev2/delegator/exclude_info.go
  internal/querynodev2/segments/collection.go
  internal/querynodev2/segments/validate.go
  internal/rootcoord/broker.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/root_coord.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/metricsutil/append.go
  internal/streamingnode/server/wal/metricsutil/wal_write.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  pkg/streaming/util/message/marshal_log_object.go
  pkg/streaming/util/message/message_type.go
  pkg/streaming/util/message/specialized_message.go
Due: Core, Go

test: add more e2e case to cover [timestamptz] [highlighter] & [partial update] (#46739)
  tests/python_client/milvus_client/test_milvus_client_highlighter.py
  tests/python_client/milvus_client/test_milvus_client_partial_update.py
  tests/python_client/milvus_client/test_milvus_client_timestamptz.py
Due: none

test: Add HNSW_PRQ test cases and fix HNSW_PQ (#46680)
  tests/python_client/testcases/indexes/idx_hnsw_prq.py
  tests/python_client/testcases/indexes/test_hnsw_prq.py
Due: none

test: update sdk version and test cases (#46700)
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_invalid.py
Due: none

enhance: improve search by PK with duplicate check and auto anns_field inference
  internal/proxy/impl.go
Due: Go

fix: [2.6] validate collection TTL property to prevent compaction stuck (#46717) (#46736)
  internal/datacoord/compaction_policy_clustering.go
  internal/datacoord/compaction_policy_forcemerge.go
  internal/datacoord/compaction_policy_single.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/import_util.go
  internal/datacoord/util.go
  internal/datacoord/util_test.go
  internal/proxy/task.go
  internal/proxy/util.go
  pkg/common/common.go
  pkg/common/common_test.go
Due: Go

test: test case json_contains_any is not stable
  tests/python_client/milvus_client/test_milvus_client_query.py
Due: none

fix: text log loading failure during cluster upgrade (#46697)
  internal/datacoord/garbage_collector.go
  internal/datacoord/meta.go
  internal/datanode/compactor/sort_compaction.go
  internal/datanode/index/task_stats.go
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/kv/datacoord/util.go
  internal/querynodev2/segments/segment.go
  pkg/util/metautil/binlog.go
  pkg/util/metautil/binlog_test.go
Due: Go

Add tests for search by ids
  tests/python_client/base/client_v2_base.py
  tests/python_client/base/collection_wrapper.py
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
  tests/python_client/milvus_client_v2/test_milvus_client_hybrid_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_range_search.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_by_pk.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_group_by.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_iterator_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_text_match.py
  tests/python_client/testcases/test_full_text_search.py
Due: none

fix: lost tenant/namespace support for pulsar since 2.6
  pkg/streaming/walimpls/impls/pulsar/backlog_clear_helper.go
  pkg/streaming/walimpls/impls/pulsar/builder.go
  pkg/streaming/walimpls/impls/pulsar/opener.go
  pkg/streaming/walimpls/impls/pulsar/pulsar_test.go
  pkg/streaming/walimpls/impls/pulsar/wal.go
Due: Go

enhance: Add MAP_POPULATE flag for mmap to reduce page faults
  internal/core/src/common/ChunkTarget.cpp
  internal/core/src/common/ChunkTarget.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/common/type_c.h
  internal/core/src/index/json_stats/JsonKeyStats.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/storagev1translator/ChunkTranslator.cpp
  internal/core/src/segcore/storagev1translator/ChunkTranslator.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.h
  internal/core/src/storage/Types.h
  internal/core/src/storage/storage_c.cpp
  internal/util/initcore/init_core.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

fix: lost error handling when adding always retry
  internal/flushcommon/syncmgr/pack_writer_v2.go
Due: Go

test: Add tests for search by ids (#46756)
  tests/python_client/base/client_v2_base.py
  tests/python_client/base/collection_wrapper.py
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
  tests/python_client/milvus_client_v2/test_milvus_client_hybrid_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_range_search.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_by_pk.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_group_by.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_iterator_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_text_match.py
  tests/python_client/testcases/test_full_text_search.py
Due: none

enhance: improve search by PK with duplicate check and auto anns_field inference (#46744)
  internal/proxy/impl.go
Due: Go

enhance: improve search by PK with duplicate check and auto anns_field inference (#46745)
  internal/proxy/impl.go
Due: Go

fix: correct typo CredentialSeperator to CredentialSeparator (#46631)
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  internal/distributed/proxy/service.go
  internal/proxy/accesslog/info/util.go
  internal/proxy/accesslog/info/util_test.go
  internal/proxy/authentication_interceptor.go
  internal/proxy/trace_log_interceptor_test.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  pkg/util/constant.go
  pkg/util/contextutil/context_util.go
  pkg/util/contextutil/context_util_test.go
Due: Go

Skip HNSW_PRQ test cases
  tests/python_client/testcases/indexes/idx_hnsw_prq.py
  tests/python_client/testcases/indexes/test_hnsw_prq.py
Due: none

Fix macos not have MAP_POPULATE
  internal/core/src/common/ChunkTarget.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslatorTest.cpp
Due: Core

enhance: Tidy build index logs (#46531)
  internal/datanode/index/task_index.go
Due: Go

enhance: [cp26]Tidy build index logs (#46531)
  internal/datanode/index/task_index.go
Due: Go

Update milvus readme with new badges
  README.md
  README_CN.md
Due: none

Skip HNSW_PRQ test cases
  tests/python_client/testcases/indexes/test_hnsw_prq.py
Due: none

fix: Fix textlog load fail 2.5 (#46704)
  internal/datacoord/garbage_collector.go
  internal/datacoord/meta.go
  internal/indexnode/task_stats.go
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/kv/datacoord/util.go
  internal/querynodev2/segments/segment.go
  pkg/util/metautil/binlog.go
  pkg/util/metautil/binlog_test.go
Due: Go

Fix comment
  internal/core/src/common/ChunkTarget.h
Due: Core

fix: Credential and Role number are both 0 in metrics
  internal/rootcoord/meta_table.go
Due: Go

fix: Register all sealed segments’ BM25 stats in IDFOracle (#46726)
  internal/querynodev2/delegator/delegator_data.go
Due: Go

Fix function edit interface bug
  internal/proxy/function_task.go
Due: Go

fix: add load config watcher to avoid load config modification lost
  internal/querycoordv2/load_config_watcher.go
  internal/querycoordv2/server.go
  internal/querycoordv2/server_test.go
  internal/querycoordv2/utils/meta.go
Due: Go

optimize jieba and lindera analyzer clone
  internal/core/thirdparty/tantivy/tantivy-binding/benches/analyzer_bench.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/jieba_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/lang_ident_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/lindera_tokenizer.rs
Due: Core

test: Skip HNSW_PRQ test cases (#46771)
  tests/python_client/testcases/indexes/test_hnsw_prq.py
Due: none
