Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

enhance: log wal append batch flush (#50121)
  internal/distributed/streaming/append_batch.go
  internal/distributed/streaming/util.go
Due: Go

enhance: tune wal append batch defaults (#50121)
  internal/distributed/streaming/append_batch.go
  internal/distributed/streaming/wal_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

test: cover wal append batch cancellation (#50121)
  internal/distributed/streaming/append_batch.go
  internal/distributed/streaming/append_batch_test.go
Due: Go

test: use project errors package for append batch (#50121)
  internal/distributed/streaming/append_batch_test.go
Due: Go

enhance: add wal append micro batch (#50121)
  internal/distributed/streaming/append_batch.go
  internal/distributed/streaming/append_batch_test.go
  internal/distributed/streaming/replicate_service.go
  internal/distributed/streaming/replicate_service_test.go
  internal/distributed/streaming/util.go
  internal/distributed/streaming/wal.go
  internal/distributed/streaming/wal_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: align wal append batch decision (#50121)
  internal/distributed/streaming/replicate_service.go
  internal/distributed/streaming/replicate_service_test.go
  internal/distributed/streaming/util.go
  internal/distributed/streaming/wal_test.go
Due: Go

enhance: foundational merr framework and retry mechanisms
  examples/telemetry_e2e_test/go.mod
  examples/telemetry_e2e_test/go.sum
  internal/proxy/util.go
  internal/querycoordv2/meta/resource_manager.go
  internal/streamingnode/server/flusher/flusherimpl/flusher_components.go
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl.go
  internal/streamingnode/server/flusher/flusherimpl/util.go
  pkg/util/merr/errors.go
  pkg/util/merr/errors_test.go
  pkg/util/merr/utils.go
  pkg/util/retry/retry.go
Due: Go

fix: continue retry on body decode error in lindera dict download
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/fetch.rs
Due: Core

test: align sparse_inverted_index_algo err_code with merr semantics
  tests/python_client/testcases/test_index.py
Due: none

test: use epsilon tolerance for distance ordering check
  tests/python_client/check/func_check.py
Due: none

fix: don't override caller's shouldRetry=true with InputError default in retry.Handle
  pkg/util/retry/retry.go
  pkg/util/retry/retry_test.go
Due: Go

test: use random free ports in Test_NewHTTPServer_TLS_* to avoid 8080 collision
  internal/distributed/proxy/service_test.go
Due: Go

test: default AZURE_STORAGE_CONNECTION_STRING for azurite-backed unittests
  scripts/run_go_unittest.sh
Due: none

test: use random free ports in TestEtcd to avoid 2380 collision
  pkg/util/etcd/etcd_util_test.go
Due: Go

err-std querynodev2 Batch B/C/D (64 sites across 15 files)
  internal/querynodev2/cluster/manager.go
  internal/querynodev2/delegator/delegator_twostage.go
  internal/querynodev2/delegator/idf_oracle.go
  internal/querynodev2/delegator/util.go
  internal/querynodev2/handlers.go
  internal/querynodev2/pipeline/embedding_node.go
  internal/querynodev2/pipeline/insert_node.go
  internal/querynodev2/segments/growing_flush_manager.go
  internal/querynodev2/segments/ignore_non_pk_ops.go
  internal/querynodev2/segments/index_attr_cache.go
  internal/querynodev2/segments/query_pipeline.go
  internal/querynodev2/segments/search_reduce.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/state/load_state_lock.go
  internal/querynodev2/segments/utils.go
  internal/querynodev2/server.go
  internal/querynodev2/tasks/search_task.go
Due: Go

WIP: err-std querynodev2 Batch A + new sentinels
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/segments/segment_loader.go
  pkg/util/merr/errors.go
  pkg/util/merr/utils.go
Due: Go

Standardize error handling: datanode write path (5c)
  internal/agg/aggregate.go
  internal/agg/aggregate_reducer.go
  internal/agg/aggregate_util.go
  internal/agg/operators.go
  internal/agg/type_check.go
  internal/cdc/cluster/milvus_client.go
  internal/cdc/meta/replicate_meta.go
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/cdc/replication/replicatestream/msg_queue.go
  internal/datanode/compactor/backfill_compactor.go
  internal/datanode/compactor/clustering_compactor.go
  internal/datanode/compactor/l0_compactor.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/segment_writer.go
  internal/datanode/compactor/sort_compaction.go
  internal/datanode/data_node.go
  internal/datanode/external/manager.go
  internal/datanode/external/task_update.go
  internal/datanode/importv2/copy_segment_utils.go
  internal/datanode/importv2/task_copy_segment.go
  internal/datanode/importv2/task_preimport.go
  internal/datanode/importv2/util.go
  internal/datanode/index/scheduler.go
  internal/datanode/index/task_stats.go
  internal/datanode/index_services.go
  internal/datanode/services.go
  internal/flushcommon/pipeline/flow_graph_embedding_node.go
  internal/flushcommon/pipeline/flow_graph_time_tick_node.go
  internal/flushcommon/syncmgr/pack_writer.go
  internal/flushcommon/syncmgr/pack_writer_v3.go
  internal/flushcommon/syncmgr/sync_manager.go
  internal/flushcommon/writebuffer/insert_buffer.go
Due: Go

Standardize error handling: function module (5b1)
  internal/util/function/bm25_function.go
  internal/util/function/embedding/ali_embedding_provider.go
  internal/util/function/embedding/bedrock_embedding_provider.go
  internal/util/function/embedding/cohere_embedding_provider.go
  internal/util/function/embedding/function_base.go
  internal/util/function/embedding/function_executor.go
  internal/util/function/embedding/gemini_embedding_provider.go
  internal/util/function/embedding/openai_embedding_provider.go
  internal/util/function/embedding/siliconflow_embedding_provider.go
  internal/util/function/embedding/tei_embedding_provider.go
  internal/util/function/embedding/text_embedding_function.go
  internal/util/function/embedding/vertexai_embedding_provider.go
  internal/util/function/embedding/voyageai_embedding_provider.go
  internal/util/function/embedding/yc_embedding_provider.go
  internal/util/function/function.go
  internal/util/function/highlight/semantic_highlight.go
  internal/util/function/minhash_function.go
  internal/util/function/models/ali/ali_dashscope_client.go
  internal/util/function/models/cohere/cohere_client.go
  internal/util/function/models/common.go
  internal/util/function/models/gemini/gemini_client.go
  internal/util/function/models/openai/openai_client.go
  internal/util/function/models/siliconflow/siliconflow_client.go
  internal/util/function/models/vertexai/vertexai_client.go
  internal/util/function/models/vllm/vllm_client.go
  internal/util/function/models/voyageai/voyageai_client.go
  internal/util/function/models/zilliz/zilliz_client.go
  internal/util/function/multi_analyzer_bm25_function.go
  internal/util/function/rerank/ali_rerank_provider.go
  internal/util/function/rerank/cohere_rerank_provider.go
  internal/util/function/rerank/model_function.go
  internal/util/function/rerank/siliconflow_rerank_provider.go
  internal/util/function/rerank/tei_rerank_provider.go
  internal/util/function/rerank/vllm_rerank_provider.go
  internal/util/function/rerank/voyageai_rerank_provider.go
Due: Go

fix: [cp2.6]clear import segments NumOfRows when import task retries (#50070)
  internal/datacoord/import_task_import.go
  internal/datacoord/import_task_import_test.go
  internal/datacoord/meta.go
Due: Go

Standardize error handling: parser module (5d)
  internal/parser/planparserv2/convert_field_data_to_generic_value.go
  internal/parser/planparserv2/error_listener.go
  internal/parser/planparserv2/fill_expression_value.go
  internal/parser/planparserv2/operators.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2.go
  internal/parser/planparserv2/utils.go
  pkg/util/merr/errors.go
  pkg/util/merr/utils.go
Due: Go

enhance: Optimize dropped segment index GC (#49728)
  internal/datacoord/garbage_collector.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/index_meta.go
  internal/datacoord/index_meta_test.go
Due: Go

fix: [2.6] correct fullMethod for OperatePrivilegeV2 REST endpoints (#48537)
  internal/distributed/proxy/httpserver/handler_v2.go
Due: Go

test: [2.6] add regression for OperatePrivilegeV2 REST fullMethod
  internal/distributed/proxy/httpserver/handler_v2_hookpath_test.go
Due: Go

Standardize error handling: distributed module (5e1)
  internal/distributed/datanode/client/client.go
  internal/distributed/mixcoord/client/client.go
  internal/distributed/proxy/client/client.go
  internal/distributed/proxy/httpserver/handler.go
  internal/distributed/proxy/httpserver/handler_v1_test.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/timeout_middleware.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  internal/distributed/proxy/httpserver/wrap_request.go
  internal/distributed/proxy/httpserver/wrapper.go
  internal/distributed/proxy/listener_manager.go
  internal/distributed/proxy/service.go
  internal/distributed/querynode/client/client.go
  internal/distributed/streaming/balancer.go
  internal/distributed/streamingnode/service.go
  internal/distributed/utils/util.go
Due: Go

fix: use 2.6 dml message type check (#50121)
  internal/distributed/streaming/util.go
Due: Go

enhance: [2.6] update knowhere version (#49705)
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

enhance: add named C++ thread active metrics (#50064)
  deployments/monitor/grafana/milvus-dashboard.json
  internal/core/src/storage/FileWriter.h
  internal/util/metrics/thread.go
  internal/util/metrics/thread_test.go
  pkg/metrics/info_metrics.go
  pkg/metrics/metrics.go
Due: Core, Go

Fix mocking
  internal/datacoord/mock_test.go
  tests/integration/cluster/process/client.go
Due: none

Fix cod
  internal/distributed/mixcoord/client/client.go
Due: Go

enhance: [2.6] update knowhere version
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

fix: align target size compaction selection (#50114)
  internal/datacoord/compaction_policy_forcemerge.go
  internal/datacoord/compaction_policy_forcemerge_test.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_util.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
