Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: [2.6] segcore collection schema update not concurrent safe. (#45618)
  internal/core/src/common/Schema.h
  internal/core/src/segcore/Collection.cpp
  internal/core/src/segcore/Collection.h
Due: Core

enhance: [2.5] optimize bm25 stats load. (#45780)
  internal/querynodev2/delegator/idf_oracle.go
  internal/querynodev2/delegator/idf_oracle_test.go
  internal/storage/stats.go
Due: Go

test: add more testcases for geo and struct (#45414)
  tests/python_client/base/client_v2_base.py
  tests/python_client/milvus_client/test_milvus_client_geometry.py
Due: none

cp
  internal/core/src/common/Types.h
  internal/core/src/exec/Driver.cpp
  internal/core/src/exec/Task.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/CallExpr.cpp
  internal/core/src/exec/expression/ColumnExpr.cpp
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/ConjunctExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/LogicalBinaryExpr.cpp
  internal/core/src/exec/expression/LogicalUnaryExpr.cpp
  internal/core/src/exec/expression/NullExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/ValueExpr.cpp
  internal/core/src/exec/operator/CountNode.cpp
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/exec/operator/GroupByNode.cpp
  internal/core/src/exec/operator/IterativeFilterNode.cpp
  internal/core/src/exec/operator/MvccNode.cpp
  internal/core/src/exec/operator/RandomSampleNode.cpp
  internal/core/src/exec/operator/RescoresNode.cpp
  internal/core/src/exec/operator/VectorSearchNode.cpp
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/JsonFlatIndex.h
  internal/core/src/index/NgramInvertedIndex.cpp
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/TextMatchIndex.cpp
  internal/core/src/query/ExecPlanNodeVisitor.cpp
  internal/core/src/segcore/SegmentInterface.cpp
Due: Core

test: Increase PyMilvus version to 2.7.0rc72 for master branch and fix async teardown logic (#45809)
  tests/python_client/requirements.txt
  tests/python_client/testcases/async_milvus_client/test_collection_async.py
  tests/python_client/testcases/async_milvus_client/test_e2e_async.py
  tests/python_client/testcases/async_milvus_client/test_index_async.py
  tests/python_client/testcases/async_milvus_client/test_partition_async.py
Due: none

enhance: Skip redundant failure marking for completed import jobs (#45767)
  internal/datacoord/import_checker.go
Due: Go

test: Increase PyMilvus version to 2.7.0rc73
  tests/python_client/requirements.txt
Due: none

feat: support file params in analyzer and set jieba dict file (#45206)
  .gitignore
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/mod.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/options/mod.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/options/runtime_option.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/options/util.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/jieba_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/lindera_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_c.rs
Due: Core

fix: Move Init and Remove EZ logic out of metatable
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/ddl_callbacks_create_database.go
  internal/rootcoord/ddl_callbacks_drop_database.go
  internal/rootcoord/meta_table.go
Due: Go

fix: [cp26]Move Init and Remove EZ logic out of metatable
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/ddl_callbacks_create_database.go
  internal/rootcoord/ddl_callbacks_drop_database.go
  internal/rootcoord/meta_table.go
Due: Go

test: add dynamicfield.enabled property alter in chaos checker
  tests/python_client/chaos/checker.py
  tests/python_client/pytest.ini
Due: none

enhance: [2.6] improve WAL retention strategy
  configs/milvus.yaml
  go.mod
  go.sum
  internal/streamingnode/server/wal/recovery/config.go
  internal/streamingnode/server/wal/recovery/config_test.go
  internal/streamingnode/server/wal/recovery/metrics.go
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/wal_truncator.go
  internal/streamingnode/server/wal/recovery/wal_truncator_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/metrics/streaming_service_metrics.go
  pkg/streaming/walimpls/impls/pulsar/opener.go
  pkg/streaming/walimpls/impls/pulsar/wal.go
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

fix compile
  internal/rootcoord/ddl_callbacks_drop_database.go
  internal/rootcoord/meta_table.go
Due: Go

fix: Replace json.doc() calls with json.dom_doc() in JsonContainsExpr (#45573)
  internal/core/src/exec/expression/JsonContainsExpr.cpp
Due: Core

fix:fix undefined behavior for dump snapshot (#45611)
  internal/core/src/segcore/DeletedRecord.h
Due: Core

enhance: add vector reserve to improve memory allocation in segcore (#45757)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/TimestampIndex.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
Due: Core

test: [cp2.6] Update hybrid search tests to milvus client style (#45810)
  tests/python_client/base/async_milvus_client_wrapper.py
  tests/python_client/base/client_base.py
  tests/python_client/base/client_v2_base.py
  tests/python_client/check/func_check.py
  tests/python_client/check/param_check.py
  tests/python_client/milvus_client_v2/test_milvus_client_hybrid_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
  tests/python_client/pytest.ini
  tests/python_client/testcases/async_milvus_client/test_collection_async.py
  tests/python_client/testcases/async_milvus_client/test_e2e_async.py
  tests/python_client/testcases/async_milvus_client/test_index_async.py
  tests/python_client/testcases/async_milvus_client/test_partition_async.py
Due: none

add reserve for std vector usage
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/TimestampIndex.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
Due: Core

add support for WP quorum buffer service mode storage backend
  configs/milvus.yaml
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/streaming/walimpls/impls/wp/wp_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

fix: listImport and getImportProgress should follow import access
  go.mod
  go.sum
  internal/distributed/proxy/httpserver/handler_v2.go
Due: Go

pk binary range in sealed segment to use binary search
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowing.h
  internal/core/src/segcore/SegmentInterface.h
Due: Core

use batch bitset set
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
Due: Core

test: add geometry datatype in checker (#44794)
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/testcases/test_concurrent_operation.py
  tests/python_client/chaos/testcases/test_single_request_operation.py
  tests/python_client/check/func_check.py
  tests/python_client/check/param_check.py
  tests/python_client/common/common_func.py
Due: none

Fix race condition in Zilliz client tests
  internal/util/function/models/zilliz/zilliz_client_test.go
Due: Go

test: Increase PyMilvus version to 2.6.4rc13 for master branch
  tests/python_client/requirements.txt
Due: none

Reduce qc check node in replica interval fot test
  internal/querycoordv2/observers/replica_observer.go
  tests/_helm/values/nightly/distributed-kafka
  tests/_helm/values/nightly/distributed-pulsar-mmap
  tests/_helm/values/nightly/distributed-woodpecker
Due: Go

fix: Fix a bug that bulkimport cannot handle empty struct list (#45693)
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/parquet/struct_field_reader.go
Due: Go

enhance: integrate StorageV2 FFI interface for manifest-based segment loading (#45798)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/arrow_fs_c.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.h
  internal/core/src/storage/FileManager.h
  internal/core/src/storage/loon_ffi/property_singleton.h
  internal/core/src/storage/loon_ffi/util.cpp
  internal/core/src/storage/loon_ffi/util.h
  internal/util/segcore/segment.go
  pkg/proto/segcore.proto
  pkg/proto/segcorepb/segcore.pb.go
Due: Core, Go

test: update pymilvus to 2.6.4rc13 for milvus2.6 and fix async teardown
  tests/python_client/requirements.txt
  tests/python_client/testcases/async_milvus_client/test_collection_async.py
  tests/python_client/testcases/async_milvus_client/test_e2e_async.py
  tests/python_client/testcases/async_milvus_client/test_index_async.py
  tests/python_client/testcases/async_milvus_client/test_partition_async.py
Due: none

enhance: support manifest-based index building with Loon FFI reader
  internal/core/src/common/Consts.h
  internal/core/src/indexbuilder/index_c.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/MemFileManagerImpl.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  pkg/proto/index_cgo_msg.proto
  pkg/proto/indexcgopb/index_cgo_msg.pb.go
Due: Core

fix:fix undefined behavior for dump snapshot
  internal/core/src/segcore/DeletedRecord.h
Due: Core

fix: [2.6] Fix a bug that bulkimport cannot handle empty struct list (#45692)
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/parquet/struct_field_reader.go
Due: Go

Add Docker Image CI workflow
  .github/workflows/docker-image.yml
Due: none

Create SECURITY.md for security policy
  SECURITY.md
Due: none

fix: [2.5] Correcting the incorrect AllSearchCount value in the result of hybrid_search. (#45843)
  internal/proxy/search_reduce_util.go
Due: Go

fix: prevent panic in standby mixcoord during shutdown (#45730)
  internal/coordinator/mix_coord.go
  internal/util/sessionutil/mock_session.go
  internal/util/sessionutil/session.go
  internal/util/sessionutil/session_util.go
  internal/util/sessionutil/session_util_test.go
Due: Go

fix format
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/segcore/InsertRecord.h
Due: Core

fix: [2.6] Remove debug logging from JsonFlatIndex (#45818)
  internal/core/src/index/JsonFlatIndex.h
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
