Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

Refine task meta with key lock
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/index_meta.go
  internal/datacoord/index_meta_test.go
  internal/datacoord/index_service_test.go
  internal/datacoord/job_manager_test.go
  internal/datacoord/metrics_info_test.go
  internal/datacoord/stats_task_meta.go
  internal/datacoord/stats_task_meta_test.go
  internal/datacoord/task_analyze.go
  internal/datacoord/task_index.go
  internal/datacoord/task_scheduler.go
  internal/datacoord/task_scheduler_test.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
  internal/datacoord/types.go
  internal/datanode/index/scheduler.go
  pkg/metrics/datacoord_metrics.go
  pkg/metrics/metrics.go
  pkg/metrics/proxy_metrics.go
  pkg/metrics/querycoord_metrics.go
Due: Go

fix checker
  internal/proxy/impl_test.go
Due: Go

fix: cherry pick json prs (#40621)
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/segcore/SegmentSealed.h
  internal/datacoord/index_service.go
  internal/datacoord/index_service_test.go
  internal/datacoord/task_scheduler_test.go
  internal/util/indexparamcheck/inverted_checker.go
  internal/util/indexparamcheck/inverted_checker_test.go
Due: Core, Go

enhance: json cast type as string
  internal/core/src/common/JsonCastType.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexFactory.h
  internal/core/src/index/IndexInfo.h
  internal/core/src/indexbuilder/ScalarIndexCreator.cpp
  internal/core/src/segcore/load_index_c.cpp
  internal/core/unittest/test_expr.cpp
  internal/proxy/task_index.go
  internal/util/indexparamcheck/inverted_checker.go
Due: Core, Go

fix: fix json not equal filter and null offset
  internal/core/src/common/JsonCastType.h
  internal/core/src/index/JsonInvertedIndex.cpp
  internal/core/unittest/test_expr.cpp
Due: Core

enhance: Improve import error msgs (#40567)
  internal/util/importutilv2/common/util.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/json/reader.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/json/row_parser_test.go
  internal/util/importutilv2/numpy/field_reader.go
  internal/util/importutilv2/parquet/field_reader.go
Due: Go

enhance: add metrics for random sample (#40634)
  internal/core/src/exec/operator/RandomSampleNode.cpp
  internal/core/src/monitor/prometheus_client.cpp
  internal/core/src/monitor/prometheus_client.h
Due: Core

fix ut
  internal/datacoord/compaction_policy_clustering_test.go
  internal/datacoord/compaction_policy_l0_test.go
  internal/datacoord/compaction_policy_single_test.go
  internal/datacoord/compaction_test.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/compaction_trigger_v2_test.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/index_meta_test.go
  internal/datacoord/index_service_test.go
  internal/datacoord/job_manager_test.go
  internal/datacoord/meta_test.go
  internal/datacoord/metrics_info_test.go
  internal/datacoord/mock_test.go
  internal/datacoord/segment_allocation_policy_test.go
  internal/datacoord/segment_info.go
  internal/datacoord/segment_manager_test.go
  internal/datacoord/server_test.go
  internal/datacoord/services_test.go
  internal/datacoord/sync_segments_scheduler_test.go
  internal/datacoord/task_scheduler_test.go
  internal/datacoord/task_stats_test.go
Due: Go

fix format
  internal/util/indexparamcheck/inverted_checker.go
Due: Go

feat: add DDLDB rate type and related quota configurations
  configs/milvus.yaml
  internal/proxy/rate_limit_interceptor.go
  internal/proxy/rate_limit_interceptor_test.go
  internal/proxy/simple_rate_limiter.go
  internal/proxy/simple_rate_limiter_test.go
  internal/proxy/util.go
  internal/rootcoord/quota_center.go
  internal/rootcoord/quota_center_test.go
  internal/util/quota/quota_constant.go
  internal/util/quota/quota_constant_test.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/util/paramtable/quota_param.go
  pkg/util/paramtable/quota_param_test.go
Due: Go

feat: [2.4] add DDLDB rate type and related quota configurations
  configs/milvus.yaml
  internal/proxy/rate_limit_interceptor.go
  internal/proxy/rate_limit_interceptor_test.go
  internal/proxy/simple_rate_limiter.go
  internal/proxy/simple_rate_limiter_test.go
  internal/proxy/util.go
  internal/rootcoord/quota_center.go
  internal/rootcoord/quota_center_test.go
  internal/util/quota/quota_constant.go
  internal/util/quota/quota_constant_test.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/util/paramtable/quota_param.go
  pkg/util/paramtable/quota_param_test.go
Due: Go

feat: [2.5] Support get segment binlogs info with new interface GetSegmentsInfo (#40466)
  internal/distributed/proxy/client/client.go
  internal/distributed/proxy/client/client_test.go
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/distributed/proxy/service.go
  internal/mocks/mock_proxy.go
  internal/mocks/mock_proxy_client.go
  internal/mocks/mock_rootcoord.go
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  internal/proxy/proxy_test.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/proto/proxy.proto
  pkg/proto/proxypb/proxy.pb.go
  pkg/proto/proxypb/proxy_grpc.pb.go
Due: Go

enhance: reorder sub expr for conjunct expr
  configs/milvus.yaml
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/src/common/Consts.h
  internal/core/src/common/Types.h
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/exec/expression/AlwaysTrueExpr.cpp
  internal/core/src/exec/expression/AlwaysTrueExpr.h
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/CallExpr.h
  internal/core/src/exec/expression/ColumnExpr.h
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/ConjunctExpr.cpp
  internal/core/src/exec/expression/ConjunctExpr.h
  internal/core/src/exec/expression/EvalCtx.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.h
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/LogicalBinaryExpr.h
  internal/core/src/exec/expression/LogicalUnaryExpr.h
  internal/core/src/exec/expression/NullExpr.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/exec/expression/ValueExpr.h
  internal/core/src/monitor/prometheus_client.cpp
  internal/core/src/monitor/prometheus_client.h
  internal/core/unittest/test_exec.cpp
  internal/core/unittest/test_expr.cpp
  internal/querynodev2/server.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: [2.5] Add channel seal policy based on blocking l0 (#40505) (#40535)
  configs/milvus.yaml
  internal/datacoord/segment_allocation_policy.go
  internal/datacoord/segment_allocation_policy_test.go
  internal/datacoord/segment_manager.go
  pkg/util/paramtable/component_param.go
Due: Go

feat: [2.5] add DDLDB rate type and related quota configurations
  configs/milvus.yaml
  internal/proxy/rate_limit_interceptor.go
  internal/proxy/rate_limit_interceptor_test.go
  internal/proxy/simple_rate_limiter.go
  internal/proxy/simple_rate_limiter_test.go
  internal/proxy/util.go
  internal/rootcoord/quota_center.go
  internal/rootcoord/quota_center_test.go
  internal/util/quota/quota_constant.go
  internal/util/quota/quota_constant_test.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/util/paramtable/quota_param.go
  pkg/util/paramtable/quota_param_test.go
Due: Go

fix ut
  pkg/mq/msgdispatcher/mock_test.go
Due: none

fix ut
  internal/datacoord/index_service_test.go
  internal/proxy/task_index_test.go
Due: Go

enhance: add walimpls access mode options (#40591)
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/streaming/util/types/pchannel_info.go
  pkg/streaming/walimpls/helper/wal_helper.go
  pkg/streaming/walimpls/helper/wal_helper_test.go
  pkg/streaming/walimpls/impls/kafka/opener.go
  pkg/streaming/walimpls/impls/kafka/wal.go
  pkg/streaming/walimpls/impls/pulsar/opener.go
  pkg/streaming/walimpls/impls/pulsar/wal.go
  pkg/streaming/walimpls/impls/rmq/opener.go
  pkg/streaming/walimpls/impls/rmq/wal.go
  pkg/streaming/walimpls/impls/walimplstest/opener.go
  pkg/streaming/walimpls/impls/walimplstest/wal.go
  pkg/streaming/walimpls/opener.go
  pkg/streaming/walimpls/test_framework.go
  pkg/streaming/walimpls/wal.go
Due: Go

enhance: add GetService method to retrieve MilvusServiceClient
  client/milvusclient/client.go
Due: Client

Support slot for index task and stats task
  configs/milvus.yaml
  internal/datacoord/index_service.go
  internal/datacoord/job_manager.go
  internal/datacoord/session/indexnode_manager.go
  internal/datacoord/session/indexnode_manager_test.go
  internal/datacoord/session/mock_worker_manager.go
  internal/datacoord/task_analyze.go
  internal/datacoord/task_index.go
  internal/datacoord/task_scheduler.go
  internal/datacoord/task_scheduler_test.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
  internal/datacoord/types.go
  internal/datacoord/util.go
  internal/indexnode/indexnode.go
  internal/indexnode/indexnode_service.go
  internal/indexnode/indexnode_test.go
  internal/indexnode/task.go
  internal/indexnode/task_analyze.go
  internal/indexnode/task_index.go
  internal/indexnode/task_scheduler.go
  internal/indexnode/task_scheduler_test.go
  internal/indexnode/task_stats.go
  internal/indexnode/util.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
  pkg/util/merr/errors.go
  pkg/util/merr/utils.go
  pkg/util/paramtable/component_param.go
Due: Go

fix ut
  internal/util/indexparamcheck/inverted_checker_test.go
  tests/python_client/testcases/test_index.py
Due: Go

fix: reset default auto index type for scalar
  internal/proxy/task_index_test.go
  pkg/util/paramtable/autoindex_param.go
Due: Go

enhance: reorder sub expr for conjunct expr (#40186)
  configs/milvus.yaml
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/src/common/Consts.h
  internal/core/src/common/Types.h
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/exec/expression/AlwaysTrueExpr.cpp
  internal/core/src/exec/expression/AlwaysTrueExpr.h
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/CallExpr.h
  internal/core/src/exec/expression/ColumnExpr.h
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/ConjunctExpr.cpp
  internal/core/src/exec/expression/ConjunctExpr.h
  internal/core/src/exec/expression/EvalCtx.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.h
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/LogicalBinaryExpr.h
  internal/core/src/exec/expression/LogicalUnaryExpr.h
  internal/core/src/exec/expression/NullExpr.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/exec/expression/ValueExpr.h
  internal/core/src/monitor/prometheus_client.cpp
  internal/core/src/monitor/prometheus_client.h
  internal/core/unittest/test_exec.cpp
  internal/core/unittest/test_expr.cpp
  internal/querynodev2/server.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: enable cipher for streaming message
  internal/datanode/index/init_segcore.go
  internal/datanode/index/task_manager.go
  internal/datanode/index/task_test.go
  internal/datanode/index/util.go
  internal/mocks/streamingcoord/client/mock_broadcast/mock_Watcher.go
  internal/mocks/streamingcoord/server/mock_broadcaster/mock_Watcher.go
  pkg/.mockery_pkg.yaml
  pkg/mocks/github.com/milvus-io/milvus-proto/go-api/v2/mock_hook/mock_Cipher.go
  pkg/mocks/github.com/milvus-io/milvus-proto/go-api/v2/mock_hook/mock_Decryptor.go
  pkg/mocks/github.com/milvus-io/milvus-proto/go-api/v2/mock_hook/mock_Encryptor.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/streaming/util/message/broadcast.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/cipher.go
  pkg/streaming/util/message/message_id_test.go
  pkg/streaming/util/message/message_impl.go
  pkg/streaming/util/message/message_test.go
  pkg/streaming/util/message/message_type.go
  pkg/streaming/util/message/properties.go
  pkg/streaming/util/message/specialized_message.go
  pkg/streaming/util/message/txn_test.go
Due: Go

enhance: add wal access mode options
  internal/streamingcoord/server/balancer/channel/pchannel.go
  internal/streamingnode/server/wal/adaptor/opener.go
  internal/streamingnode/server/wal/adaptor/ro_wal_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_switchable.go
  internal/streamingnode/server/wal/adaptor/wal_adaptor.go
  internal/streamingnode/server/wal/adaptor/wal_adaptor_test.go
  internal/streamingnode/server/wal/adaptor/wal_test.go
  internal/streamingnode/server/wal/wal.go
  internal/streamingnode/server/walmanager/manager_impl.go
  pkg/streaming/util/types/pchannel_info.go
  pkg/streaming/util/types/pchannel_info_test.go
  pkg/streaming/util/types/responses_test.go
  pkg/streaming/util/types/streaming_node_test.go
Due: Go

fix ut
  internal/util/indexparamcheck/inverted_checker_test.go
Due: Go

feat: [2.4] add DDLDB rate type and related quota configurations (#40654)
  configs/milvus.yaml
  internal/proxy/rate_limit_interceptor.go
  internal/proxy/rate_limit_interceptor_test.go
  internal/proxy/simple_rate_limiter.go
  internal/proxy/simple_rate_limiter_test.go
  internal/proxy/util.go
  internal/rootcoord/quota_center.go
  internal/rootcoord/quota_center_test.go
  internal/util/quota/quota_constant.go
  internal/util/quota/quota_constant_test.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/util/paramtable/quota_param.go
  pkg/util/paramtable/quota_param_test.go
Due: Go

feat: [2.5] add DDLDB rate type and related quota configurations (#40653)
  configs/milvus.yaml
  internal/proxy/rate_limit_interceptor.go
  internal/proxy/rate_limit_interceptor_test.go
  internal/proxy/simple_rate_limiter.go
  internal/proxy/simple_rate_limiter_test.go
  internal/proxy/util.go
  internal/rootcoord/quota_center.go
  internal/rootcoord/quota_center_test.go
  internal/util/quota/quota_constant.go
  internal/util/quota/quota_constant_test.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/util/paramtable/quota_param.go
  pkg/util/paramtable/quota_param_test.go
Due: Go

feat: add DDLDB rate type and related quota configurations (#40651)
  configs/milvus.yaml
  internal/proxy/rate_limit_interceptor.go
  internal/proxy/rate_limit_interceptor_test.go
  internal/proxy/simple_rate_limiter.go
  internal/proxy/simple_rate_limiter_test.go
  internal/proxy/util.go
  internal/rootcoord/quota_center.go
  internal/rootcoord/quota_center_test.go
  internal/util/quota/quota_constant.go
  internal/util/quota/quota_constant_test.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/util/paramtable/quota_param.go
  pkg/util/paramtable/quota_param_test.go
Due: Go

Support get segment binlogs info
  internal/distributed/proxy/client/client.go
  internal/distributed/proxy/client/client_test.go
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/distributed/proxy/service.go
  internal/mocks/mock_proxy.go
  internal/mocks/mock_proxy_client.go
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  internal/proxy/proxy_test.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/proto/proxy.proto
  pkg/proto/proxypb/proxy.pb.go
  pkg/proto/proxypb/proxy_grpc.pb.go
Due: Go

enhance: Refine task meta with key lock (#40613)
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/index_meta.go
  internal/datacoord/index_meta_test.go
  internal/datacoord/index_service_test.go
  internal/datacoord/job_manager_test.go
  internal/datacoord/metrics_info_test.go
  internal/datacoord/stats_task_meta.go
  internal/datacoord/stats_task_meta_test.go
  internal/datacoord/task_analyze.go
  internal/datacoord/task_index.go
  internal/datacoord/task_scheduler.go
  internal/datacoord/task_scheduler_test.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
  internal/datacoord/types.go
  internal/datanode/index/scheduler.go
  pkg/metrics/datacoord_metrics.go
  pkg/metrics/metrics.go
  pkg/metrics/proxy_metrics.go
  pkg/metrics/querycoord_metrics.go
Due: Go

enhance: refine chunk access logic and add some comment on data
  internal/core/src/common/Chunk.h
  internal/core/src/common/ChunkWriter.h
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/unittest/test_cached_search_iterator.cpp
  internal/core/unittest/test_chunk.cpp
  internal/core/unittest/test_chunked_segment.cpp
Due: Core

enhance: get doc ids by batch (#40608)
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.toml
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/lindera_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/docid_collector.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_text_c.rs
Due: Core

fix: Null expr does not work for json field (#40456)
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/storage/ChunkCache.cpp
Due: Core

fix: Fix null offset loading in inverted index
  internal/core/src/index/InvertedIndexTantivy.cpp
Due: Core

fix
  internal/core/src/index/InvertedIndexTantivy.cpp
Due: Core

add changes in rw
  internal/storage/rw.go
  internal/storage/rw_test.go
  internal/storage/serde_events.go
Due: Go

feat: compaction to support add field
  internal/datanode/compactor/merge_sort.go
  internal/datanode/compactor/mix_compactor_test.go
  internal/datanode/compactor/segment_record_reader.go
  internal/datanode/compactor/segment_writer.go
  internal/storage/serde_events.go
  internal/storage/serde_events_test.go
Due: Go
