Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: stabilize growing segment read snapshots
  configs/milvus.yaml
  internal/core/src/common/GrowingOffsetMapping.cpp
  internal/core/src/common/GrowingOffsetMapping.h
  internal/core/src/common/GrowingOffsetMappingTest.cpp
  internal/core/src/common/OffsetMapping.cpp
  internal/core/src/common/OffsetMapping.h
  internal/core/src/common/OffsetMappingTest.cpp
  internal/core/src/common/QueryInfo.h
  internal/core/src/common/SealedOffsetMapping.cpp
  internal/core/src/common/SealedOffsetMapping.h
  internal/core/src/common/SealedOffsetMappingTest.cpp
  internal/core/src/exec/operator/MvccNode.cpp
  internal/core/src/exec/operator/VectorSearchNode.cpp
  internal/core/src/index/VectorIndex.h
  internal/core/src/mmap/ChunkVector.h
  internal/core/src/mmap/ChunkVectorTest.cpp
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/query/CachedSearchIterator.cpp
  internal/core/src/query/CachedSearchIterator.h
  internal/core/src/query/CachedSearchIteratorTest.cpp
  internal/core/src/query/SearchOnGrowing.cpp
  internal/core/src/query/SearchOnGrowing.h
  internal/core/src/query/SearchOnIndex.cpp
  internal/core/src/query/SearchOnSealedIndexBitsetLifetimeTest.cpp
  internal/core/src/segcore/ConcurrentVector.h
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentGrowingTest.cpp
  internal/core/src/segcore/UtilsTest.cpp
  internal/core/src/segcore/flush_growing_segment_test.cpp
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/unittest/test_element_filter.cpp
  internal/core/unittest/test_growing_concurrent_reopen.cpp
  internal/core/unittest/test_mvcc_fast_path.cpp
  internal/util/initcore/query_node.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: upgrade Woodpecker to v0.1.36 and expose direct read config (#51896)
  configs/milvus.yaml
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/streaming/walimpls/impls/wp/builder_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
  tests/_helm/values/e2e-amd/distributed-woodpecker-service-boundary
  tests/_helm/values/nightly/distributed-woodpecker-service
Due: Go

update wp v0.1.37
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  tests/_helm/values/e2e-amd/distributed-woodpecker-service-boundary
  tests/_helm/values/e2e-arm/distributed-woodpecker-service-boundary
  tests/_helm/values/nightly/distributed-woodpecker-service
Due: Go

fix: bump Woodpecker to v0.1.37
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  tests/_helm/values/e2e-amd/distributed-woodpecker-service-boundary
  tests/_helm/values/nightly/distributed-woodpecker-service
Due: Go

fix: allow altering integration_id and model_deployment_id for TextEmbedding function (#51924) (#52080)
  internal/util/function/validator/alter_whitelist.go
  internal/util/function/validator/alter_whitelist_test.go
Due: Go

fix: handle historical WAL reader recovery edge cases
  internal/streamingnode/server/wal/adaptor/opener.go
  internal/streamingnode/server/wal/adaptor/opener_test.go
  internal/streamingnode/server/wal/adaptor/ro_wal_adaptor.go
  internal/streamingnode/server/wal/adaptor/ro_wal_adaptor_test.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor_test.go
  internal/streamingnode/server/wal/adaptor/scanner_switchable.go
  internal/streamingnode/server/wal/adaptor/scanner_switchable_test.go
  pkg/streaming/walimpls/impls/wp/opener.go
  pkg/streaming/walimpls/impls/wp/opener_test.go
  pkg/streaming/walimpls/registry/registry.go
  pkg/streaming/walimpls/registry/wal_test.go
Due: Go

fix: decouple data scan cursor state from expression batches
  docs/design-docs/design_docs/20260305-local_format.md
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/exec/expression/GISFunctionFilterExpr.h
  internal/core/src/mmap/ChunkedColumnInterfaceTest.cpp
  internal/core/src/mmap/ChunkedColumnScanCommon.h
  internal/core/src/mmap/ChunkedColumnScanCursors.cpp
  internal/core/unittest/test_offsets_eval_correctness.cpp
  internal/core/unittest/test_virtual_pk.cpp
Due: Core

enhance: pipeline group hash probes
  internal/core/src/exec/HashTable.cpp
  internal/core/src/exec/HashTable.h
  internal/core/unittest/test_query_group_by.cpp
Due: Core

refactor schema processing
  internal/core/src/common/ArrayValueTest.cpp
  internal/core/src/common/FieldMeta.cpp
  internal/core/src/common/FieldMeta.h
  internal/core/src/common/FieldMetaTest.cpp
  internal/core/src/segcore/segment_c.cpp
  internal/flushcommon/syncmgr/pack_writer_test.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/proxy/struct_element_count_test.go
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/proxy/task_upsert_partial_op_test.go
  internal/proxy/task_upsert_test.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/proxy/validate_util_test.go
  internal/rootcoord/create_collection_task_test.go
  internal/rootcoord/util.go
  internal/rootcoord/util_test.go
  internal/util/indexparamcheck/index_params_validation_test.go
  internal/util/schemautil/schema_evolution.go
  internal/util/schemautil/schema_evolution_test.go
  pkg/util/funcutil/func_test.go
  pkg/util/typeutil/field_schema.go
  pkg/util/typeutil/field_schema_test.go
  pkg/util/typeutil/schema_test.go
Due: Core, Go

enhance: parallelize json stats build
  configs/milvus.yaml
  internal/core/src/futures/Executor.cpp
  internal/core/src/futures/Executor.h
  internal/core/src/futures/FutureTest.cpp
  internal/core/src/futures/future_c.cpp
  internal/core/src/futures/future_c.h
  internal/core/src/index/json_stats/JsonKeyStats.cpp
  internal/core/src/index/json_stats/JsonKeyStats.h
  internal/core/src/index/json_stats/bson_inverted.cpp
  internal/core/src/index/json_stats/bson_inverted.h
  internal/core/src/index/json_stats/parquet_writer.cpp
  internal/core/src/index/json_stats/parquet_writer.h
  internal/core/src/storage/EntryStreamUtils.h
  internal/core/unittest/test_json_stats/test_json_key_stats.cpp
  internal/core/unittest/test_json_stats/test_traverse_json_for_build_stats.cpp
  internal/datanode/index/init_segcore.go
  internal/util/initcore/json_stats_executor.go
  internal/util/initcore/json_stats_executor_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Core, Go

fix: [3.0] allow altering integration_id and model_deployment_id for TextEmbedding function (#51924) (#52081)
  internal/util/function/validator/alter_whitelist.go
  internal/util/function/validator/alter_whitelist_test.go
Due: Go

fix: expose scan validity as bool rows
  docs/design-docs/design_docs/20260305-local_format.md
  internal/core/src/exec/expression/Expr.h
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/mmap/ChunkedColumnInterfaceTest.cpp
  internal/core/src/mmap/ChunkedColumnScanCommon.h
  internal/core/src/mmap/ChunkedColumnScanCursors.cpp
Due: Core

fix: support TLS-only MixCoord client connections
  configs/milvus.yaml
  internal/distributed/mixcoord/client/client.go
  internal/distributed/mixcoord/client/client_test.go
  internal/streamingcoord/client/client.go
  internal/streamingcoord/client/client_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/grpc_param_test.go
Due: Go

enhance: [3.0] upgrade Woodpecker to v0.1.37 and expose direct read config (#52019)
  configs/milvus.yaml
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/streaming/walimpls/impls/wp/builder_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
  tests/_helm/values/e2e-amd/distributed-woodpecker-service-boundary
  tests/_helm/values/e2e-arm/distributed-woodpecker-service-boundary
  tests/_helm/values/nightly/distributed-woodpecker-service
Due: Go

fix: stabilize growing segment read snapshots (#51960)
  configs/milvus.yaml
  internal/core/src/common/GrowingOffsetMapping.cpp
  internal/core/src/common/GrowingOffsetMapping.h
  internal/core/src/common/GrowingOffsetMappingTest.cpp
  internal/core/src/common/OffsetMapping.cpp
  internal/core/src/common/OffsetMapping.h
  internal/core/src/common/OffsetMappingTest.cpp
  internal/core/src/common/QueryInfo.h
  internal/core/src/common/SealedOffsetMapping.cpp
  internal/core/src/common/SealedOffsetMapping.h
  internal/core/src/common/SealedOffsetMappingTest.cpp
  internal/core/src/exec/operator/MvccNode.cpp
  internal/core/src/exec/operator/VectorSearchNode.cpp
  internal/core/src/index/VectorIndex.h
  internal/core/src/mmap/ChunkVector.h
  internal/core/src/mmap/ChunkVectorTest.cpp
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/query/CachedSearchIterator.cpp
  internal/core/src/query/CachedSearchIterator.h
  internal/core/src/query/CachedSearchIteratorTest.cpp
  internal/core/src/query/SearchOnGrowing.cpp
  internal/core/src/query/SearchOnGrowing.h
  internal/core/src/query/SearchOnIndex.cpp
  internal/core/src/query/SearchOnSealedIndexBitsetLifetimeTest.cpp
  internal/core/src/segcore/ConcurrentVector.h
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentGrowingTest.cpp
  internal/core/src/segcore/UtilsTest.cpp
  internal/core/src/segcore/flush_growing_segment_test.cpp
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/unittest/test_element_filter.cpp
  internal/core/unittest/test_growing_concurrent_reopen.cpp
  internal/core/unittest/test_mvcc_fast_path.cpp
  internal/util/initcore/query_node.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

fix: use assigned score instead of priority as toleration baseline in ScoreBasedBalancer
  internal/querycoordv2/assign/assign_policy_components.go
  internal/querycoordv2/assign/assign_policy_components_test.go
Due: Go

enhance: batch QueryCoord metadata updates (#51321)
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/meta/replica_manager_test.go
  internal/querycoordv2/observers/replica_observer.go
  internal/querycoordv2/observers/replica_observer_test.go
  internal/querycoordv2/utils/meta.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

test: isolate external storage cleanup (#51973)
  internal/querynodev2/segments/search_test.go
  internal/util/sessionutil/session_util_test.go
Due: Go

fix: treat max_connections 0 as unset instead of propagating it
  internal/core/src/storage/loon_ffi/util.cpp
  internal/core/unittest/test_external_take.cpp
Due: Core

enhance: parallelize external-collection index-build raw data reads
  internal/core/src/indexbuilder/index_c.cpp
  internal/core/src/segcore/flush_growing_segment_test.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/core/src/storage/loon_ffi/property_singleton.h
  internal/core/src/storage/loon_ffi/util.cpp
  internal/core/src/storage/storage_c.cpp
  internal/core/src/storage/storage_c.h
  internal/core/unittest/test_storage.cpp
  internal/core/unittest/test_storage_v2_index_raw_data.cpp
  internal/datanode/index/init_segcore.go
  internal/util/initcore/init_core.go
  internal/util/initcore/util.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Core, Go

fix: propagate storage max connections through loon FFI
  internal/storagev2/filesystem_metrics.go
  internal/storagev2/packed/exttable_test.go
  internal/storagev2/packed/ffi_common.go
Due: Go

enhance: describe the manifest read window budget in input arrow bytes
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
Due: Core

fix: keep the batch byte estimate in bytes for arrow view types
  internal/core/src/storage/RecordBatchSize.h
  internal/core/unittest/test_storage.cpp
Due: Core

enhance: document readerThreadPoolSize as process-global, not DataNode-only
  pkg/util/paramtable/component_param.go
Due: Go

enhance: address index read review comments
  internal/compaction/params.go
  internal/compaction/params_test.go
  internal/core/src/storage/RecordBatchSize.h
  internal/core/src/storage/Util.cpp
  internal/core/unittest/test_storage.cpp
  internal/datacoord/garbage_collector_lob.go
  internal/datacoord/util.go
  internal/datacoord/util_test.go
  internal/datanode/index/task_analyze.go
  internal/datanode/index/task_index.go
  internal/datanode/index/task_test.go
  internal/storagev2/packed/packed_writer_ffi.go
  internal/storagev2/packed/packed_writer_ffi_test.go
Due: Core, Go

fix: propagate max_connections into the external-collection fs scope
  internal/core/src/storage/loon_ffi/util.cpp
  internal/core/unittest/test_external_take.cpp
Due: Core

enhance: address review comments on the index-build read path
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/util/initcore/init_core.go
  internal/util/initcore/init_core_test.go
  internal/util/initcore/util.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

fix: serialize loon reader config reconfiguration
  internal/util/initcore/init_core.go
  internal/util/initcore/init_core_test.go
  internal/util/initcore/util.go
Due: Go

fix: shrink the manifest decode window for accumulating callers
  internal/core/src/segcore/flush_growing_segment_test.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
Due: Core

fix: carry max_connections through the local-storage config branch
  internal/compaction/params.go
  internal/compaction/params_test.go
  internal/datacoord/util.go
  internal/datacoord/util_test.go
  internal/querynodev2/segments/segment_loader.go
  internal/rootcoord/create_collection_task.go
  internal/storagev2/filesystem_metrics.go
  internal/storagev2/packed/packed_writer_ffi.go
Due: Go

fix: omit fs.max_connections when unset instead of emitting "0"
  internal/querynodev2/segments/segment_loader.go
  internal/rootcoord/create_collection_task.go
  internal/storagev2/filesystem_metrics.go
  internal/storagev2/filesystem_metrics_test.go
  internal/storagev2/packed/exttable_test.go
  internal/storagev2/packed/ffi_common.go
Due: Go

fix: drain pending decode tasks on every exit from the manifest read loop
  internal/core/src/storage/Util.cpp
  internal/core/unittest/test_storage.cpp
Due: Core

enhance: drop the inert max_connections entry from kExtfsFields
  internal/core/src/storage/loon_ffi/util.cpp
Due: Core

fix: reject out-of-range narrow integers in REST
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

test: cover REST narrow integer overflow responses
  internal/distributed/proxy/httpserver/handler_v1_test.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

enhance: fix client telemetry and tracing gaps found auditing the Go SDK against the server
  client/milvusclient/interceptors.go
  client/milvusclient/interceptors_test.go
  client/milvusclient/telemetry.go
  client/milvusclient/telemetry_integration_test.go
  client/milvusclient/telemetry_test.go
  docs/design-docs/design_docs/20260131-client_side_telemetry.md
  internal/http/router.go
  internal/http/webui/telemetry.html
  internal/proxy/impl.go
  internal/proxy/telemetry_command_reply.go
  internal/proxy/telemetry_command_reply_test.go
  internal/proxy/telemetry_http_handler.go
  internal/proxy/telemetry_models.go
  internal/proxy/telemetry_models_test.go
  internal/rootcoord/telemetry/command_store.go
  internal/rootcoord/telemetry/command_store_test.go
  internal/rootcoord/telemetry/manager.go
  internal/rootcoord/telemetry/manager_test.go
  pkg/tracer/client_request_id_propagator.go
  pkg/tracer/sampler.go
  pkg/tracer/sampler_test.go
  pkg/tracer/stats_handler.go
  pkg/tracer/tracer.go
Due: Client, Go

fix: validate struct array integer values
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go
