Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: [2.6] propagate unknown for missing nested values (#51135)
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/ExprArithOpTest.cpp
  internal/core/src/exec/expression/ExprArrayTest.cpp
  internal/core/src/exec/expression/ExprJsonIndexTest.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/JsonFlatIndex.h
  internal/core/src/index/JsonFlatIndexTest.cpp
  internal/core/src/index/JsonInvertedIndex.cpp
  internal/core/src/index/JsonInvertedIndex.h
  internal/core/src/index/ScalarIndex.cpp
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_c.rs
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
  internal/parser/planparserv2/rewriter/range.go
  internal/parser/planparserv2/rewriter/range_json_test.go
  internal/parser/planparserv2/rewriter/range_test.go
  internal/parser/planparserv2/rewriter/term_in.go
  internal/parser/planparserv2/rewriter/term_in_test.go
  internal/parser/planparserv2/rewriter/util.go
  tests/go_client/testcases/query_test.go
Due: Core, Go

enhance: bind index meta to add function field DDL (#51105)
  internal/datacoord/index_inspector.go
  internal/datacoord/index_inspector_test.go
  internal/datacoord/index_service.go
  internal/datacoord/index_service_test.go
  internal/datacoord/snapshot_manager.go
  internal/proxy/task.go
  internal/proxy/task_index.go
  internal/proxy/task_test.go
  internal/proxy/util.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema_test.go
  internal/rootcoord/root_coord_test.go
  internal/util/indexparamcheck/index_params_validation.go
  internal/util/indexparamcheck/index_params_validation_test.go
  internal/util/schemautil/alter_schema_add.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  tests/python_client/milvus_client/test_add_function_field_feature.py
  tests/python_client/milvus_client/test_milvus_client_external_table.py
  tests/python_client/milvus_client/test_milvus_client_partition_key.py
  tests/python_client/requirements.txt
Due: Go

enhance: support external JSON stats for external tables (#51008)
  docs/design-docs/design_docs/20260105-external_table.md
  docs/design-docs/design_docs/20260521-external-table-function-output.md
  internal/datacoord/stats_inspector.go
  internal/datacoord/stats_inspector_test.go
  internal/datacoord/task_refresh_external_collection.go
  internal/datacoord/task_refresh_external_collection_test.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
  internal/datanode/index/task_manager.go
  internal/datanode/index/task_manager_test.go
  internal/datanode/index/task_stats.go
  internal/querycoordv2/utils/types.go
  internal/querycoordv2/utils/types_test.go
  internal/storagev2/packed/stats_resolver.go
  internal/storagev2/packed/stats_resolver_test.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
  tests/go_client/testcases/external_table_json_shredding_e2e_test.go
Due: Go

enhance: pick least-loaded DataNode in globalScheduler instead of first-fit
  internal/datacoord/task/global_scheduler.go
  internal/datacoord/task/global_scheduler_test.go
Due: Go

fix: address datacoord scheduler review comments
  internal/datacoord/task/global_scheduler.go
  internal/datacoord/task/global_scheduler_test.go
Due: Go

enhance: track JSON stats in runtime state (#51172)
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/unittest/test_sealed.cpp
  internal/querynodev2/segments/segment.go
Due: Core, Go

test: Add JSON filtering e2e coverage (#51171)
  tests/python_client/milvus_client/expressions/test_milvus_client_json_filtering.py
Due: none

test: Add JSON filtering e2e coverage
  tests/python_client/milvus_client/expressions/test_milvus_client_json_filtering.py
Due: none

enhance: support query order-by in RESTful v2 API and Go SDK (#51170) (#51173)
  client/milvusclient/read_option_test.go
  client/milvusclient/read_options.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  tests/go_client/testcases/query_test.go
Due: Client, Go

fix: Load StorageV3 child deletes during compaction fallback
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/querycoordv2/utils/types.go
  internal/querycoordv2/utils/types_test.go
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/segments/segment_loader_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Go

enhance: support external JSON stats for external tables
  docs/design-docs/design_docs/20260105-external_table.md
  docs/design-docs/design_docs/20260521-external-table-function-output.md
  internal/datacoord/stats_inspector.go
  internal/datacoord/stats_inspector_test.go
  internal/datacoord/task_refresh_external_collection.go
  internal/datacoord/task_refresh_external_collection_test.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
  internal/datanode/index/task_manager.go
  internal/datanode/index/task_manager_test.go
  internal/datanode/index/task_stats.go
  internal/querycoordv2/utils/types.go
  internal/querycoordv2/utils/types_test.go
  internal/storagev2/packed/stats_resolver.go
  internal/storagev2/packed/stats_resolver_test.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
  tests/go_client/testcases/external_table_json_shredding_e2e_test.go
Due: Go

feat: Remap external refresh segments on row limit change
  internal/datacoord/external_collection_refresh_manager.go
  internal/datacoord/external_collection_refresh_manager_test.go
  internal/datacoord/external_collection_refresh_meta.go
  internal/datacoord/task_refresh_external_collection.go
  internal/datacoord/task_refresh_external_collection_test.go
  internal/datanode/external/task_update.go
  internal/datanode/external/task_update_test.go
  internal/metastore/datacoord_catalog.go
  internal/metastore/kv/datacoord/constant.go
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/kv/datacoord/kv_catalog_test.go
  internal/metastore/kv/datacoord/util.go
  internal/metastore/mocks/mock_datacoord_catalog.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

support element nullable in go
  go.mod
  internal/proxy/service_provider.go
  internal/proxy/struct_element_count_test.go
  internal/proxy/task.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_partial_op.go
  internal/proxy/util.go
  internal/proxy/validate_util.go
  internal/proxy/validate_util_test.go
  internal/storage/arrow_util.go
  internal/storage/arrow_util_test.go
  internal/storage/data_codec.go
  internal/storage/data_codec_test.go
  internal/storage/data_sorter.go
  internal/storage/insert_data.go
  internal/storage/insert_data_test.go
  internal/storage/record_to_insert.go
  internal/storage/rw_test.go
  internal/storage/serde.go
  internal/storage/serde_events.go
  internal/storage/serde_test.go
  internal/storage/utils.go
  internal/storage/utils_test.go
  pkg/go.mod
  pkg/util/funcutil/func.go
  pkg/util/typeutil/schema.go
Due: Go

test: add REST regex and array partial update coverage
  tests/restful_client_v2/base/testbase.py
  tests/restful_client_v2/conftest.py
  tests/restful_client_v2/testcases/test_partial_update_array_op.py
  tests/restful_client_v2/testcases/test_regex_filter.py
Due: none

fix: Check external fields against loaded manifest (#50773)
  internal/core/src/query/PlanImpl.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProtoTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/SegmentLoadInfo.h
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c_test.cpp
  tests/python_client/milvus_client/test_milvus_client_external_table.py
Due: Core

test: [cp3.0]Add JSON filtering e2e coverage (#51212)
  tests/python_client/milvus_client/expressions/test_milvus_client_json_filtering.py
Due: none

fix: pre-create volume directory with correct ownership in standalone_embed.sh
  scripts/standalone_embed.sh
Due: none

Added arch support to install_deps
  scripts/install_deps.sh
Due: none

feat: support xgboost function chain expr
  docs/design-docs/design_docs/20260708-xgboost-function-chain.md
  internal/core/CMakeLists.txt
  internal/core/src/common/arrow_c_data_c.h
  internal/core/src/rescores/xgboost_model_c.cpp
  internal/core/src/rescores/xgboost_model_c.h
  internal/core/src/rescores/xgboost_model_c_test.cpp
  internal/util/fileresource/manager.go
  internal/util/fileresource/manager_test.go
  internal/util/fileresource/util.go
  internal/util/function/chain/expr/testdata/xgboost/binary_logistic_2f.ubj
  internal/util/function/chain/expr/testdata/xgboost/binary_logistic_2f_expected.json
  internal/util/function/chain/expr/xgboost_cache.go
  internal/util/function/chain/expr/xgboost_cache_test.go
  internal/util/function/chain/expr/xgboost_expr.go
  internal/util/function/chain/expr/xgboost_expr_test.go
  internal/util/function/chain/expr/xgboost_model_cgo.go
  internal/util/function/chain/expr/xgboost_model_stub.go
  internal/util/function/chain/expr/xgboost_real_parity_local_test.go
  internal/util/segcore/boost_score.go
  internal/util/segcore/search_result_arrow.go
  tests/python_client/requirements.txt
  tests/python_client/testcases/test_function_chain.py
Due: Core, Go

enhance: move sealed vector index state into runtime resource
  internal/core/src/query/SearchOnSealed.cpp
  internal/core/src/query/SearchOnSealed.h
  internal/core/src/query/SearchOnSealedIndexBitsetLifetimeTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/IndexConfigGenerator.cpp
  internal/core/src/segcore/IndexConfigGenerator.h
Due: Core

feat: apply L0 deletes during binlog import for correct timestamps (#51177)
  docs/design-docs/20260710-l0-deletes-binlog-import.md
  internal/util/importutilv2/binlog/reader.go
  internal/util/importutilv2/binlog/reader_l0_deletes_test.go
  internal/util/importutilv2/option.go
  internal/util/importutilv2/reader.go
Due: Go

fix: resolve Docker volume mount permission errors in standalone deployment
  build/docker/milvus/ubuntu20.04/Dockerfile
  build/docker/milvus/ubuntu22.04/Dockerfile
Due: none

feat: Add QueryCoord autoscale load resource precheck
  docs/design-docs/querycoord_autoscale_precheck.md
  internal/querycoordv2/autoscale_precheck.go
  internal/querycoordv2/autoscale_precheck_test.go
Due: Go

feat: support XGBoost FunctionChain expression for L1/L2 rerank
  internal/util/function/chain/expr/XGBOOST.md
  internal/util/function/chain/expr/xgboost_expr.go
  internal/util/function/chain/expr/xgboost_expr_test.go
Due: Go

fix: JSON flat index preserves UNKNOWN for scalar predicates on array values
  internal/core/src/exec/expression/Expr.h
  internal/core/src/index/JsonFlatIndexTest.cpp
Due: Core

doc: add vector-anchored join design doc (#51186)
  docs/design-docs/design_docs/20260708-vector-anchored-join.md
Due: none

fix: Guard external offset retrieve against stale manifest
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c_test.cpp
Due: Core

fix: Check external fields against loaded manifest
  internal/core/src/query/PlanImpl.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProtoTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/SegmentLoadInfo.h
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
  internal/core/src/segcore/segment_c.cpp
  tests/python_client/milvus_client/test_milvus_client_external_table.py
Due: Core

doc: add mutable columns design (merge-on-read partial updates)
  docs/design-docs/design_docs/20260709-mutable-columns.md
Due: none

fix: use proper context in logging calls
  AUTOSCALE_PRECHECK_IMPLEMENTATION.md
  internal/util/importutilv2/binlog/reader.go
  internal/util/importutilv2/binlog/reader_l0_deletes_test.go
Due: Go

feat: apply L0 deletes during binlog import for correct timestamps
  docs/design-docs/20260710-l0-deletes-binlog-import.md
  internal/util/importutilv2/binlog/reader.go
  internal/util/importutilv2/binlog/reader_l0_deletes_test.go
  internal/util/importutilv2/option.go
  internal/util/importutilv2/reader.go
Due: Go

doc: add design doc for XGBoost FunctionChain expression
  docs/design-docs/20260710-xgboost-functionchain.md
Due: none

fix: restore conjunct AND early-exit at null-rejecting consumers (#51182)
  internal/core/src/exec/expression/ConjunctExpr.cpp
  internal/core/src/exec/expression/ConjunctExpr.h
  internal/core/src/exec/expression/ConjunctExprTest.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/exec/operator/IterativeFilterNode.cpp
Due: Core

enhance: [2.6] update knowhere version (#51209)
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

fix: [2.6] make DumpMessages return transaction data messages (#51102)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  internal/proxy/dump_messages_test.go
  internal/proxy/impl.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
