Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix groupID
  internal/querynodev2/segments/segment_loader.go
Due: Go

fix: mac14 compile (#46907)
  Makefile
  internal/core/CMakeLists.txt
Due: Core

test: migrate binary and integer overflow insert cases
  tests/python_client/milvus_client/test_milvus_client_insert.py
  tests/python_client/testcases/test_insert.py
Due: none

test: fix binary insert cases
  tests/python_client/milvus_client/test_milvus_client_insert.py
Due: none

remove unused test
  internal/core/src/exec/expression/LikeConjunctExprTest.cpp
Due: Core

feat: impl StructArray -- support creating index for scalar fields (#46599)
  internal/core/src/common/ArrayOffsets.cpp
  internal/core/src/common/ArrayOffsets.h
  internal/core/src/common/Utils.h
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/exec/expression/MatchExpr.cpp
  internal/core/src/exec/expression/MatchExpr.h
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexFactory.h
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/InvertedIndexTantivy.h
  internal/core/src/index/ScalarIndex.h
Due: Core

test: fix highlight e2e verification issue
  tests/python_client/milvus_client/test_milvus_client_highlighter.py
  tests/python_client/requirements.txt
Due: none

fix partial upsert with nullable vector fields
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_test.go
  internal/proxy/validate_util.go
  internal/proxy/validate_util_test.go
  tests/go_client/testcases/nullable_default_value_test.go
Due: Go

allow alter_collection_field() to change field description
  internal/proxy/task.go
  internal/rootcoord/ddl_callbacks_alter_collection_field.go
  pkg/common/common.go
Due: Go

impl nested stl sort index
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/operator/ElementFilterBitsNode.cpp
  internal/core/src/exec/operator/ElementFilterBitsNode.h
  internal/core/src/index/Index.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexFactory.h
  internal/core/src/index/ScalarIndex.h
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/index/ScalarIndexSort.h
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/index/StringIndexSort.h
  internal/core/unittest/test_element_filter.cpp
Due: Core

enhance: [2.6] avoid redundant node score calculation in querycoord balance
  internal/querycoordv2/balance/score_based_balancer.go
Due: Go

Issue: #47034
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: none

update ut
  internal/distributed/proxy/httpserver/handler_v2_test.go
Due: Go

fix test
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/ScalarIndex.h
Due: Core

enhance: avoid redundant node score calculation in querycoord balance
  internal/querycoordv2/balance/score_based_balancer.go
Due: Go

update logic
  internal/querycoordv2/balance/score_based_balancer.go
Due: Go

test: update some cases (#46977)
  tests/python_client/milvus_client_v2/test_milvus_client_search_invalid.py
  tests/python_client/milvus_client_v2/test_milvus_client_ttl.py
Due: none

enhance: Bump milvus & proto version to v2.6.9
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

merge SlowQuerySpanInSeconds and SlowLogSpanInSeconds into one config
  internal/proxy/impl.go
  pkg/util/paramtable/component_param.go
Due: Go

feat: Add RBAC support for /expr endpoint
  go.mod
  internal/http/rbac.go
  internal/http/rbac_test.go
  internal/http/server.go
  internal/http/server_test.go
  internal/proxy/meta_cache.go
  pkg/util/constant.go
Due: Go

enhance: simply code for subscripting json data(#46826) (#47002)
  internal/core/src/mmap/ChunkVector.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

do not report failed request as slow quer
  internal/proxy/impl.go
Due: Go

feat: Add cherry-pick and search workflows to mgit tool
  tools/mgit.py
Due: none

feat: Add cherry-pick workflow for backporting PRs to release branches (#47042)
  tools/mgit.py
Due: none

fix: [2.6] mac14 compile (#46907) (#47048)
  Makefile
  internal/core/CMakeLists.txt
Due: Core

fix: Avoid double counting index memory in segment loading estimation (#47045)
  internal/querynodev2/segments/segment_loader.go
Due: Go

fix: [2.6]Avoid double counting index memory in segment loading estimation (#47046)
  internal/querynodev2/segments/segment_loader.go
Due: Go

update milvus.yaml
  configs/milvus.yaml
Due: none

enhance: optimize plan parser grammar and improve object pooling
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/benchmark_optimization_test.go
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/plan_base_visitor.go
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/generated/plan_visitor.go
  internal/parser/planparserv2/optimization_comparison_test.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/parser/planparserv2/pool.go
  internal/parser/planparserv2/pool_test.go
  internal/parser/planparserv2/utils.go
Due: Go

fix: Add forceDrop option to DropRole client API
  client/milvusclient/rbac_options.go
Due: Client

enhance: Bump milvus & proto version to v2.6.9 (#47064)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

feat: impl StructArray -- add more tests for non-float embedding lists (#46686)
  internal/core/src/common/ChunkWriterTest.cpp
  internal/core/src/query/Plan.cpp
  internal/core/src/segcore/Utils.cpp
  internal/core/unittest/test_element_filter.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/storage/payload_writer_test.go
  internal/storage/serde.go
  internal/storage/serde_test.go
  internal/util/importutilv2/parquet/reader_test.go
  internal/util/importutilv2/parquet/struct_field_reader.go
  internal/util/importutilv2/parquet/util.go
  internal/util/testutil/test_util.go
  pkg/util/testutils/gen_data.go
  tests/integration/getvector/array_struct_test.go
  tests/integration/import/vector_array_test.go
  tests/integration/util_query.go
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
Due: Core, Go

test: Increase PyMilvus version to 2.6.7rc12
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.7.0rc111
  tests/python_client/requirements.txt
Due: none

test: fix highlight e2e verification issue (#47052)
  tests/python_client/milvus_client/test_milvus_client_highlighter.py
  tests/python_client/requirements.txt
Due: none
