Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix
  internal/proxy/task.go
Due: Go

fix function mode not work
  internal/parser/planparserv2/plan_parser_v2.go
  internal/parser/planparserv2/utils.go
Due: Go

add support for controlling function output field insertion
  internal/datanode/importv2/scheduler_test.go
  internal/datanode/importv2/util.go
  internal/proxy/task_insert.go
  internal/proxy/task_search.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_test.go
  internal/proxy/util.go
  internal/util/function/embedding/function_executor.go
  internal/util/function/embedding/function_executor_test.go
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Go

fix: set mmap_file_raii_ to nullptr when mmap is disabled
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/unittest/test_loading.cpp
Due: Core

fix ut
  internal/proxy/task_test.go
Due: Go

fix: ut
  internal/coordinator/snmanager/streaming_node_manager_test.go
  internal/rootcoord/garbage_collector_test.go
Due: Go

fix: [StorageV2] Make DiskFileManager use fs from context
  internal/core/src/storage/DiskFileManagerImpl.cpp
Due: Core

Update json key index as well
  internal/core/src/index/json_stats/JsonKeyStats.cpp
Due: Core

enhance:support cachelayer for json stats
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/index/json_stats/JsonKeyStats.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/storagev2translator/JsonStatsTranslator.cpp
  internal/core/src/segcore/storagev2translator/JsonStatsTranslator.h
  internal/querynodev2/segments/segment.go
  pkg/proto/index_cgo_msg.proto
  pkg/proto/indexcgopb/index_cgo_msg.pb.go
Due: Core, Go

enhance: add namespace for query and search request
  internal/core/src/common/Consts.h
  internal/core/src/query/PlanProto.cpp
  internal/proxy/search_pipeline.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_test.go
  internal/proxy/util.go
  pkg/common/common.go
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
Due: Core, Go

fix
  internal/proxy/task_search_namespace_test.go
Due: Go

fix
  internal/proxy/search_pipeline_test.go
Due: Go

add test
  internal/proxy/task_query_namespace_test.go
  internal/proxy/task_search_namespace_test.go
Due: Go

fix
  internal/proxy/task_query.go
  internal/proxy/task_search_namespace_test.go
  internal/proxy/util.go
Due: Go

enhance: [2.5] Add granular flush targets support for FlushAll operation
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  internal/datacoord/broker/coordinator_broker.go
  internal/datacoord/broker/coordinator_broker_test.go
  internal/datacoord/broker/mock_broker.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/distributed/datacoord/client/client.go
  internal/distributed/datacoord/client/client_test.go
  internal/distributed/datacoord/service.go
  internal/mocks/mock_datacoord.go
  internal/mocks/mock_datacoord_client.go
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  internal/proxy/task.go
  internal/proxy/task_flush.go
  internal/proxy/task_flush_all.go
  internal/proxy/task_flush_all_streaming.go
  internal/proxy/task_flush_all_streaming_test.go
  internal/proxy/task_flush_all_test.go
  internal/proxy/task_flush_streaming.go
  pkg/go.mod
  pkg/go.sum
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/datapb/data_coord_grpc.pb.go
  scripts/run_go_codecov.sh
  scripts/run_go_unittest.sh
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix ut
  internal/proxy/task_query_namespace_test.go
  pkg/common/common.go
Due: Go

fix ut
  internal/cdc/replication/replicatemanager/replicate_manager_test.go
  internal/cdc/replication/replicatestream/replicate_stream_client_impl.go
Due: Go

first commit for ddn image
  internal/core/src/segcore/packed_writer_c.cpp
  internal/storage/factory.go
  pkg/objectstorage/options.go
  pkg/objectstorage/util.go
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/util/paramtable/service_param.go
Due: Core, Go

fix: Fix compaction task blocking due to executor loop exit
  internal/datanode/compaction/executor.go
Due: Go

fix: upsert error for timestamptz
  internal/datacoord/compaction_trigger_v2.go
  internal/proxy/task_insert.go
  internal/proxy/task_upsert.go
  internal/proxy/util.go
Due: Go

fix: set report_value default value when extrainfo is not nil for compatibility (#44529)
  internal/proxy/util.go
Due: Go

Add fallback logic
  internal/core/src/index/json_stats/JsonKeyStats.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
Due: Core

fix: [2.5] Cleanup collection metrics after dropped on rootcoord (#44511) (#44525)
  internal/rootcoord/drop_collection_task.go
  internal/rootcoord/step.go
  pkg/metrics/rootcoord_metrics.go
Due: Go

fix review comment
  internal/datacoord/services.go
  internal/proxy/task_flush_all_streaming.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: [StorageV2] Make DiskFileManager use fs from context (#44535)
  internal/core/src/index/json_stats/JsonKeyStats.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
Due: Core

fix: upsert error for timestamptz (#44548)
  internal/datacoord/compaction_trigger_v2.go
  internal/proxy/task_insert.go
  internal/proxy/task_upsert.go
  internal/proxy/util.go
Due: Go

fix ut
  internal/util/importutilv2/json/row_parser.go
Due: Go

enhance: change dockerfile user to milvus
  build/docker/milvus/ubuntu22.04/Dockerfile
Due: none

test: update test case (#44503)
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: none

hash to double mantissa mask shoud use 1<<52-1
  internal/core/src/rescores/Scorer.cpp
  internal/core/src/rescores/Utils.h
Due: Core

test: Increase PyMilvus version to 2.7.0rc37
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.5.17rc1
  tests/python_client/requirements.txt
Due: none

fix: set mmap_file_raii_ to nullptr when mmap is disabled (#44516)
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/unittest/test_loading.cpp
Due: Core

fix: Fix replicator cannot stop and enhance replicate config validator (#44531)
  internal/cdc/replication/replicatemanager/replicate_manager.go
  internal/cdc/replication/replicatemanager/replicate_manager_test.go
  internal/cdc/replication/replicatestream/msg_queue.go
  internal/cdc/replication/replicatestream/msg_queue_test.go
  internal/cdc/replication/replicatestream/replicate_stream_client_impl.go
  internal/metastore/kv/streamingcoord/kv_catalog.go
  internal/streamingcoord/server/service/assignment.go
  pkg/util/replicateutil/config_validator.go
  pkg/util/replicateutil/config_validator_test.go
Due: Go

support preload sealed segment bm25 stats and optimize bm25 stats serialize
  internal/querynodev2/delegator/idf_oracle.go
  internal/storage/stats.go
Due: Go

update ut
  internal/querynodev2/delegator/idf_oracle.go
  internal/querynodev2/delegator/idf_oracle_test.go
Due: Go

fix: refund loaded resource usage in Insert/DeleteRecord destructor
  internal/core/src/segcore/DeletedRecord.h
  internal/core/src/segcore/InsertRecord.h
Due: Core

fix format
  internal/core/src/index/SkipIndex.h
Due: Core

feat: load skip index using parquet statistics
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/src/common/Consts.h
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/index/SkipIndex.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  internal/querynodev2/server.go
  internal/util/initcore/util.go
Due: Core, Go
