Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: add err_msg to check_items for MinHash invalid parameter tests
  tests/python_client/milvus_client/test_milvus_client_minhash.py
Due: none

enhance: Optimize Python test logging from 60MB to 3-5MB per run (#47253)
  tests/python_client/check/param_check.py
  tests/python_client/common/common_func.py
  tests/python_client/config/log_config.py
  tests/python_client/conftest.py
  tests/python_client/milvus_client/test_add_field_feature.py
  tests/python_client/plugin/__init__.py
  tests/python_client/plugin/log_filter.py
  tests/python_client/pytest.ini
  tests/python_client/utils/api_request.py
  tests/python_client/utils/util_log.py
Due: none

enhance: distinguish xfail and xpass in test report plugin
  tests/python_client/plugin/log_filter.py
Due: none

update
  internal/util/function/chain/chain.go
  internal/util/function/chain/chain_test.go
  internal/util/function/chain/operator.go
  internal/util/function/chain/rerank_builder.go
  internal/util/function/chain/rerank_builder_test.go
Due: Go

enhance: remove deprecated lazy load code
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/mocks/util/mock_segcore/mock_CSegment.go
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/querynodev2/handlers.go
  internal/querynodev2/segments/mock_segment.go
  internal/querynodev2/segments/retrieve.go
  internal/querynodev2/segments/search.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_do.go
  internal/querynodev2/segments/segment_interface.go
  internal/querynodev2/segments/segment_loader.go
  internal/util/segcore/requests.go
  internal/util/segcore/segment.go
  internal/util/segcore/segment_interface.go
  pkg/common/common.go
Due: Core, Go

Fix comment
  internal/querynodev2/segments/segment_loader.go
Due: Go

enhance: use differentiate load priorities by scenario (#47410)
  internal/querycoordv2/checkers/balance_checker.go
  internal/querycoordv2/checkers/balance_checker_test.go
  internal/querycoordv2/checkers/index_checker.go
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/handlers.go
  internal/querycoordv2/services.go
  internal/querycoordv2/utils/test.go
Due: Go

fix: ignore warmup type param for index build idempotence
  internal/datacoord/index_meta.go
  internal/datacoord/index_meta_test.go
Due: Go

enhence: [hotfix] semantic highlight supports dynamic field (#47560)
  internal/proxy/highlighter.go
  internal/proxy/highlighter_test.go
  internal/proxy/search_pipeline.go
  internal/proxy/search_pipeline_test.go
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
  internal/util/function/highlight/semantic_highlight.go
  internal/util/function/highlight/semantic_highlight_test.go
Due: Go

enhance: [2.6] upgrade Go to 1.24.12 and gpgv for CVE fixes
  .env
  .github/workflows/mac.yaml
  build/docker/builder/cpu/amazonlinux2023/Dockerfile
  build/docker/builder/cpu/rockylinux8/Dockerfile
  build/docker/builder/cpu/ubuntu20.04/Dockerfile
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/gpu/ubuntu20.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
  build/docker/milvus/ubuntu20.04/Dockerfile
  build/docker/milvus/ubuntu22.04/Dockerfile
  client/README.md
  client/go.mod
  go.mod
  pkg/go.mod
  tests/go_client/Dockerfile
  tests/go_client/go.mod
Due: Client, Go

test: update builder image version to 20260205-982c238 (#47586)
  .env
Due: none

enhance: use differentiate load priorities by scenario
  internal/querycoordv2/checkers/balance_checker.go
  internal/querycoordv2/checkers/balance_checker_test.go
  internal/querycoordv2/checkers/index_checker.go
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/handlers.go
  internal/querycoordv2/services.go
  internal/querycoordv2/utils/test.go
Due: Go

enhance: [2.6] make DefaultValueChunk multi-cells to save memory usage (#47166)
  internal/core/src/common/ChunkTest.cpp
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/common/VectorArrayChunkTest.cpp
  internal/core/src/mmap/ChunkedColumnGroupTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/storagev1translator/ChunkTranslator.cpp
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.cpp
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.h
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslatorTest.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
Due: Core

enhance: Upgrade Go to 1.24.12 and update dependencies
  .env
  build/docker/builder/cpu/amazonlinux2023/Dockerfile
  build/docker/builder/cpu/rockylinux8/Dockerfile
  build/docker/builder/cpu/ubuntu20.04/Dockerfile
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/gpu/ubuntu20.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
  build/docker/milvus/gpu/ubuntu22.04/Dockerfile
  build/docker/milvus/ubuntu22.04/Dockerfile
  client/go.mod
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  tests/go_client/Dockerfile
  tests/go_client/go.mod
Due: Client, Go

fix: add WarmupKey to checkParams filter for CreateIndex idempotency
  internal/datacoord/index_meta.go
  internal/datacoord/index_meta_test.go
  tests/python_client/milvus_client/test_milvus_client_alter.py
Due: Go

chore: Update outdated GitHub Actions versions
  .github/workflows/all-contributors.yaml
  .github/workflows/bump-version-only-for-standalone-embed-milvus.yaml
  .github/workflows/bump-version.yaml
  .github/workflows/check-issue.yaml
  .github/workflows/code-checker.yaml
  .github/workflows/daily-release.yml
  .github/workflows/deploy-test.yaml
  .github/workflows/io-latency-chaos-test.yaml
  .github/workflows/jenkins-checker.yaml
  .github/workflows/license-checker.yaml
  .github/workflows/mac.yaml
  .github/workflows/main.yaml
  .github/workflows/mem-stress-chaos-test.yaml
  .github/workflows/network-latency-chaos-test.yaml
  .github/workflows/network-partition-chaos-test.yaml
  .github/workflows/pod-failure-chaos-test.yaml
  .github/workflows/pod-kill-chaos-test-kafka-version.yaml
  .github/workflows/pod-kill-chaos-test.yaml
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-gpu-builder.yaml
  .github/workflows/publish-krte-images.yaml
  .github/workflows/publish-test-images.yaml
  .github/workflows/rerun-failure-checks.yaml
  .github/workflows/simd-compatibility-test.yaml
  .github/workflows/update-knowhere-commit.yaml
  .github/workflows/weekly-release.yml
Due: none

refactor: align import with DDL/DCL pattern and remove cross-RPC broadcast
  internal/datacoord/import_callbacks.go
  internal/datacoord/import_callbacks_test.go
  internal/datacoord/import_refactoring_test.go
  internal/datacoord/server.go
  internal/datacoord/server_test.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/distributed/streaming/broadcast.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/streaming_test.go
  internal/distributed/streaming/wal_test.go
  internal/mocks/distributed/mock_streaming/mock_Broadcast.go
  internal/proxy/impl_test.go
  internal/proxy/proxy_test.go
  internal/proxy/task_import.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/registry/check_message_callback.go
  internal/streamingcoord/server/broadcaster/registry/check_message_callback_test.go
  internal/streamingcoord/server/broadcaster/registry/specialized_callback.go
  internal/streamingcoord/server/broadcaster/registry/test_utility.go
  internal/streamingcoord/server/service/broadcast.go
Due: Go

fix: review
  internal/datacoord/import_callbacks.go
  internal/datacoord/services.go
Due: Go

fix: ut
  internal/datacoord/import_callbacks_test.go
  internal/datacoord/import_services_test.go
  internal/proxy/task_import_test.go
Due: Go

enhance: add backward compatibility for import during rolling upgrades
  internal/datacoord/import_callbacks.go
  internal/datacoord/import_callbacks_test.go
  internal/datacoord/import_services_test.go
  internal/datacoord/services.go
  internal/streamingcoord/server/service/broadcast.go
  internal/streamingcoord/server/service/broadcast_test.go
Due: Go

enhance: implement streaming node resource group isolation for replica assignment
  internal/coordinator/restful_mgr_routes.go
  internal/coordinator/restful_mgr_routes_test.go
  internal/coordinator/restful_replica.go
  internal/coordinator/restful_replica_test.go
  internal/coordinator/snmanager/streaming_node_manager.go
  internal/coordinator/snmanager/streaming_node_manager_test.go
  internal/coordinator/snmanager/test_utility.go
  internal/distributed/streaming/balancer.go
  internal/distributed/streaming/balancer_test.go
  internal/http/router.go
  internal/mocks/streamingcoord/server/mock_balancer/mock_Balancer.go
  internal/mocks/streamingnode/client/mock_manager/mock_ManagerClient.go
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/meta/replica_manager_helper.go
  internal/querycoordv2/meta/replica_manager_test.go
  internal/querycoordv2/meta/resource_group.go
  internal/querycoordv2/observers/replica_observer.go
  internal/querycoordv2/observers/replica_observer_test.go
  internal/querycoordv2/server.go
  internal/querycoordv2/utils/meta.go
  internal/streamingcoord/server/balancer/balancer.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/balancer_test.go
  internal/streamingcoord/server/service/discover/discover_grpc_server_helper.go
  internal/streamingcoord/server/service/discover/discover_server_test.go
  internal/streamingnode/client/manager/manager_client.go
  internal/streamingnode/client/manager/manager_client_impl.go
  internal/streamingnode/client/manager/manager_test.go
  internal/util/sessionutil/session_util.go
  internal/util/testutil/reset_env.go
  pkg/common/common.go
  pkg/config/manager.go
  pkg/config/manager_test.go
  pkg/streaming/util/types/streaming_node.go
  pkg/util/paramtable/component_param.go
Due: Go

test: add comprehensive unit tests for HandleReplicaLoadConfigCompliance
  internal/coordinator/restful_replica_test.go
Due: Go

fix: comment
  internal/coordinator/snmanager/streaming_node_manager.go
Due: Go

fast stop when resource limited
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/job/resource_limit_hook.go
  internal/querycoordv2/resource_limit_flag.go
  internal/querycoordv2/server.go
  internal/querycoordv2/task/resource_limit_hook.go
  internal/querycoordv2/task/scheduler.go
  internal/querynodev2/server.go
Due: Go

fast stop when resource limited
  internal/querycoordv2/resource_limit_flag.go
Due: Go

fix: gitignore
  .gitignore
Due: none

enhance: add warmup pocily for default value chunk
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslatorTest.cpp
Due: Core

fix: populate LevelZeroSegmentIds in GetDataVChanPositions (#47579)
  internal/datacoord/handler.go
  internal/datacoord/handler_test.go
Due: Go

fix: query aggregation null bit issue(#47350)
  internal/agg/aggregate.go
  internal/agg/aggregate_reducer.go
  internal/agg/aggregate_util.go
  internal/agg/operators.go
  internal/core/src/query/ExecPlanNodeVisitor.cpp
  internal/core/unittest/test_query_group_by.cpp
  internal/proxy/aggregate_operators_test.go
Due: Core, Go

enhance: distinguish xfail and xpass in test report plugin (#47588)
  tests/python_client/plugin/log_filter.py
Due: none

add checking existence for existPKToIndex
  internal/proxy/task_upsert.go
Due: Go

enhance: [CP2.6] Optimize Python test logging and distinguish xfail/xpass (#47589)
  tests/python_client/check/param_check.py
  tests/python_client/common/common_func.py
  tests/python_client/config/log_config.py
  tests/python_client/conftest.py
  tests/python_client/milvus_client/test_add_field_feature.py
  tests/python_client/plugin/__init__.py
  tests/python_client/plugin/log_filter.py
  tests/python_client/pytest.ini
  tests/python_client/utils/api_request.py
  tests/python_client/utils/util_log.py
Due: none

change queryPreExecute merge logic from row-based to column-based
  internal/proxy/search_pipeline.go
  internal/proxy/search_pipeline_test.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_test.go
  internal/util/function/rerank/util.go
  internal/util/function/rerank/util_test.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Go

feat(salvage): implement data salvage feature for force failover
  go.mod
  internal/distributed/proxy/service.go
  internal/distributed/streaming/replicate_service.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/test_streaming.go
  internal/metastore/catalog.go
  internal/metastore/kv/streamingnode/constant.go
  internal/metastore/kv/streamingnode/kv_catalog.go
  internal/proxy/dump_messages_test.go
  internal/proxy/impl.go
  internal/streamingnode/client/handler/handler_client.go
  internal/streamingnode/client/handler/handler_client_impl.go
  internal/streamingnode/server/wal/adaptor/opener.go
  internal/streamingnode/server/wal/adaptor/ro_wal_adaptor.go
  internal/streamingnode/server/wal/adaptor/wal_adaptor.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/impl.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/manager.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/manager_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/wal.go
  pkg/go.mod
  tests/integration/replication/data_salvage_test.go
Due: Go

fix: lint
  internal/coordinator/snmanager/streaming_node_manager.go
Due: Go

enhance: optimize LIKE pattern matching with LikePatternMatcher and RE2
  internal/core/src/common/RegexQuery.cpp
  internal/core/src/common/RegexQuery.h
  internal/core/src/common/RegexQueryTest.cpp
  internal/core/src/common/RegexQueryUtilTest.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/BitmapIndex.h
  internal/core/src/index/HybridScalarIndex.h
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/InvertedIndexTantivy.h
  internal/core/src/index/InvertedIndexTest.cpp
  internal/core/src/index/JsonFlatIndex.h
  internal/core/src/index/JsonFlatIndexTest.cpp
  internal/core/src/index/NgramInvertedIndex.cpp
  internal/core/src/index/NgramInvertedIndexTest.cpp
  internal/core/src/index/ScalarIndex.h
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/storage/PayloadReader.h
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  scripts/check_cpp_fmt.sh
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
