Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: [AddField] Add check whether new field is partition key (#41627)
  internal/proxy/task.go
  internal/proxy/task_test.go
Due: Go

enhance: add MustAsMutable... function, cooldown notifier, hardware listener
  pkg/log/fields.go
  pkg/log/with_logger.go
  pkg/log/with_logger_test.go
  pkg/streaming/util/message/specialized_message.go
  pkg/streaming/util/message/specialized_message_test.go
  pkg/util/hardware/listener.go
  pkg/util/hardware/listener_test.go
  pkg/util/syncutil/cooldown_notifier.go
  pkg/util/syncutil/cooldown_notifier_test.go
Due: Go

update task retry
  internal/datacoord/analyze_inspector.go
  internal/datacoord/index_inspector.go
  internal/datacoord/stats_inspector.go
  internal/datacoord/task_analyze.go
  internal/datacoord/task_analyze_test.go
  internal/datacoord/task_index.go
  internal/datacoord/task_index_test.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
Due: Go

enhance: [AddField] Remove restriction that cannot add field dynamic enabled
  internal/proxy/task.go
  internal/proxy/task_test.go
Due: Go

fix ut
  internal/datanode/services.go
  internal/datanode/services_test.go
Due: Go

enhance: add lock interceptor and recoverable txn manager
  internal/streamingnode/server/wal/interceptors/lock/builder.go
  internal/streamingnode/server/wal/interceptors/lock/lock_interceptor.go
  internal/streamingnode/server/wal/interceptors/segment/manager/pchannel_manager_test.go
  internal/streamingnode/server/wal/interceptors/timetick/builder.go
  internal/streamingnode/server/wal/interceptors/timetick/timetick_interceptor.go
  internal/streamingnode/server/wal/interceptors/txn/session.go
  internal/streamingnode/server/wal/interceptors/txn/session_test.go
  internal/streamingnode/server/wal/interceptors/txn/txn_manager.go
  internal/streamingnode/server/wal/utility/txn_buffer.go
  internal/streamingnode/server/wal/utility/txn_buffer_test.go
Due: Go

fix error when lack_binlog_rows = 0
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/HybridScalarIndex.cpp
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/index/StringIndexMarisa.cpp
Due: Core

fix: error when lack_binlog_rows = 0 (#41644)
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/HybridScalarIndex.cpp
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/index/StringIndexMarisa.cpp
Due: Core

add force rebuild index configuration
  internal/core/thirdparty/knowhere/CMakeLists.txt
  internal/datanode/index/util.go
Due: Core, Go

enhance: add timeout for message reception in mqMsgStream (#41602)
  pkg/mq/msgstream/mq_msgstream.go
Due: Go

enhance: use dispatcher at delegator when enable streaming (#41266)
  internal/distributed/streaming/msgstream_adaptor.go
  internal/distributed/streaming/msgstream_adaptor_test.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/wal.go
  internal/distributed/streaming/wal_test.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/server.go
  internal/streamingnode/server/flusher/flusherimpl/data_service_wrapper.go
  internal/util/pipeline/stream_pipeline.go
  pkg/mq/msgstream/msgstream_util.go
  pkg/streaming/util/message/adaptor/handler.go
  tests/go_client/testcases/collection_test.go
  tests/python_client/testcases/test_partition_key_isolation.py
  tests/python_client/testcases/test_phrase_match.py
Due: Go

enhance: add MustAsMutable... function, cooldown notifier, hardware listener (#41637)
  pkg/log/fields.go
  pkg/log/with_logger.go
  pkg/log/with_logger_test.go
  pkg/streaming/util/message/specialized_message.go
  pkg/streaming/util/message/specialized_message_test.go
  pkg/util/hardware/listener.go
  pkg/util/hardware/listener_test.go
  pkg/util/syncutil/cooldown_notifier.go
  pkg/util/syncutil/cooldown_notifier_test.go
Due: Go

enhance: [2.5] add timeout for message reception in mqMsgStream (#41603)
  pkg/mq/msgstream/mq_msgstream.go
Due: Go

feat: Add json index support for json contains expr (#41478)
  internal/core/src/common/JsonCastType.cpp
  internal/core/src/common/JsonCastType.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/Utils.h
  internal/core/src/index/Index.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexInfo.h
  internal/core/src/index/JsonInvertedIndex.cpp
  internal/core/src/index/JsonInvertedIndex.h
  internal/core/src/indexbuilder/ScalarIndexCreator.cpp
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/load_index_c.cpp
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_json_index.cpp
Due: Core

test: add csv import testcase and adjust import testcase tag (#41638)
  tests/python_client/testcases/test_bulk_insert.py
  tests/scripts/ci_e2e_4am.sh
Due: none

test: add multi analyzer test
  tests/python_client/base/client_base.py
  tests/python_client/milvus_client/test_milvus_client_analyzer.py
  tests/python_client/requirements.txt
  tests/python_client/testcases/test_full_text_search.py
  tests/python_client/utils/util_fts.py
Due: none

test: add multi analyzer test
  tests/python_client/base/client_base.py
  tests/python_client/milvus_client/test_milvus_client_analyzer.py
  tests/python_client/testcases/test_full_text_search.py
  tests/python_client/utils/util_fts.py
Due: none

return error if task not found
  internal/datacoord/task_analyze.go
  internal/datacoord/task_index.go
  internal/datacoord/task_stats.go
  internal/datanode/index_services.go
  internal/datanode/services_test.go
Due: Go

e2e test pass
  internal/core/src/index/NgramInvertedIndex.cpp
  internal/core/src/index/NgramInvertedIndex.h
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_ngram_writer.rs
  internal/core/unittest/test_ngram_query.cpp
Due: Core

Alter collection description
  internal/rootcoord/alter_collection_task.go
  internal/rootcoord/alter_collection_task_test.go
  pkg/common/common.go
Due: Go

Refact search basic tests and remove harcode of id
  tests/python_client/check/func_check.py
  tests/python_client/check/param_check.py
  tests/python_client/common/common_func.py
  tests/python_client/common/common_type.py
  tests/python_client/milvus_client_v2/test_milvus_client_hybrid_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_invalid.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_none_default.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2_new.py
  tests/python_client/requirements.txt
  tests/python_client/testcases/test_collection.py
  tests/python_client/testcases/test_query.py
  tests/python_client/testcases/test_query_iterator.py
Due: none

updated milvus.yaml
  configs/milvus.yaml
Due: none

Set default values to false
  configs/milvus.yaml
  pkg/util/paramtable/http_param.go
Due: Go

Made changes acc to Review Comments for Security Fixes for RESTful APIs
  internal/distributed/proxy/httpserver/utils.go
  pkg/util/paramtable/http_param.go
Due: Go

Made Changes according to Review Comments
  configs/milvus.yaml
  internal/distributed/proxy/httpserver/utils.go
  pkg/util/paramtable/http_param.go
Due: Go

Security Fixes for RESTful APIs
  internal/distributed/proxy/httpserver/utils.go
Due: Go

feat: add string ts type in describecollection (#41612)
  go.sum
  internal/proxy/task.go
  internal/rootcoord/root_coord.go
  pkg/go.sum
Due: Go

fix lint
  internal/core/src/common/JsonCastType.cpp
Due: Core

fix ut
  internal/core/unittest/test_json_index.cpp
Due: Core

Update hardcode of pk name
  tests/python_client/check/func_check.py
  tests/python_client/milvus_client/test_milvus_client_alias.py
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/milvus_client/test_milvus_client_database.py
  tests/python_client/milvus_client/test_milvus_client_delete.py
  tests/python_client/milvus_client/test_milvus_client_hybrid_search.py
  tests/python_client/milvus_client/test_milvus_client_index.py
  tests/python_client/milvus_client/test_milvus_client_insert.py
  tests/python_client/milvus_client/test_milvus_client_partition.py
  tests/python_client/milvus_client/test_milvus_client_query.py
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/milvus_client/test_milvus_client_search_iterator.py
  tests/python_client/milvus_client_v2/test_milvus_client_e2e.py
  tests/python_client/milvus_client_v2/test_milvus_client_hybrid_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_range_search.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_diskann.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_json.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_none_default.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_string.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_sparse_search.py
  tests/python_client/testcases/test_query_iterator.py
Due: none

fix: wrong error handling when call importv2
  internal/datacoord/services.go
Due: Go

Fix original_entities format issue
  tests/python_client/check/func_check.py
  tests/python_client/milvus_client/test_milvus_client_database.py
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/milvus_client_v2/test_milvus_client_e2e.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2_new.py
Due: none

Update orm test pk name hard code issue
  tests/python_client/check/func_check.py
  tests/python_client/milvus_client_v2/test_milvus_client_alias_v2.py
  tests/python_client/testcases/async_milvus_client/test_collection_async.py
  tests/python_client/testcases/async_milvus_client/test_e2e_async.py
  tests/python_client/testcases/async_milvus_client/test_index_async.py
  tests/python_client/testcases/async_milvus_client/test_partition_async.py
  tests/python_client/testcases/test_delete.py
  tests/python_client/testcases/test_high_level_api.py
  tests/python_client/testcases/test_mix_scenes.py
  tests/python_client/testcases/test_partition_key_isolation.py
  tests/python_client/testcases/test_query.py
Due: none

Fix more hardcode pk name in tests
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/milvus_client/test_milvus_client_insert.py
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2_new.py
  tests/python_client/testcases/async_milvus_client/test_e2e_async.py
  tests/python_client/testcases/test_compaction.py
  tests/python_client/testcases/test_database.py
  tests/python_client/testcases/test_delete.py
  tests/python_client/testcases/test_insert.py
  tests/python_client/testcases/test_mix_scenes.py
  tests/python_client/testcases/test_partition.py
  tests/python_client/testcases/test_partition_key_isolation.py
  tests/python_client/testcases/test_utility.py
Due: none

add more test
  internal/datacoord/import_inspector_test.go
  internal/datacoord/import_task_import_test.go
  internal/datacoord/import_task_preimport_test.go
Due: Go

enhance: [AddField] Remove restriction that cannot add field dynamic field enabled (#41642)
  internal/proxy/task.go
  internal/proxy/task_test.go
Due: Go
