Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

storage v2 serializer for sync
  internal/flushcommon/syncmgr/storage_v2_serializer.go
  internal/flushcommon/syncmgr/storage_v2_serializer_test.go
Due: Go

fix: [2.4] Add sub task pool for multi-stage tasks (#40093)
  internal/proxy/task.go
  internal/proxy/task_query.go
  internal/proxy/task_scheduler.go
Due: Go

enhance:decrease dump snapshot limit from 10w to 1w
  internal/core/src/segcore/DeletedRecord.h
  internal/core/unittest/test_delete_record.cpp
Due: Core

enhance: decrease delete record dump snapshot limit
  internal/core/src/segcore/DeletedRecord.h
  internal/core/unittest/test_delete_record.cpp
Due: Core

Refine index task scheduler policy
  internal/datacoord/index_meta.go
  internal/datacoord/job_manager.go
  internal/datacoord/job_manager_test.go
  internal/datacoord/server.go
  internal/datacoord/session/indexnode_manager.go
  internal/datacoord/session/mock_worker_manager.go
  internal/datacoord/stats_task_meta.go
  internal/datacoord/task_index.go
  internal/datacoord/task_queue.go
  internal/datacoord/task_scheduler.go
  internal/datacoord/task_scheduler_test.go
  internal/datacoord/task_stats.go
  internal/indexnode/indexnode_service.go
  internal/indexnode/task_stats.go
Due: Go

enhance: [2.4] Add get vector latency metric and refine request limit error message (#40086)
  internal/core/src/monitor/prometheus_client.cpp
  internal/core/src/monitor/prometheus_client.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/proxy/task_scheduler.go
  internal/querycoordv2/task/scheduler.go
  internal/querynodev2/tasks/user_task_polling_policy.go
  pkg/util/merr/errors.go
  pkg/util/merr/errors_test.go
  pkg/util/merr/utils.go
Due: Core, Go

fix ut
  internal/datacoord/job_manager.go
  internal/datacoord/job_manager_test.go
  internal/datacoord/session/mock_worker_manager.go
  internal/datacoord/task_scheduler.go
  internal/datacoord/task_scheduler_test.go
Due: Go

Change CMake variable for switch to knowhere-cuvs
  .gitignore
  README.md
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

[automated] Update Knowhere Commit (#40103)
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

upgrade packages to latest version
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  internal/storage/aliyun/aliyun.go
  internal/storage/tencent/tencent.go
  pkg/go.mod
  pkg/go.sum
Due: Client, Go

fix: Fix concurrent map (#39775)
  pkg/util/typeutil/map.go
  pkg/util/typeutil/map_test.go
Due: Go

fix: [cp24]A segment may never transfer from sealed to flushing (#39998)
  internal/datacoord/meta.go
  internal/datacoord/segment_allocation_policy.go
  internal/datacoord/segment_allocation_policy_test.go
Due: Go

fix: add BeginTimestamp and EndTimestamp to insert and upsert messages
  internal/proxy/task_insert.go
  internal/proxy/task_upsert.go
Due: Go

enhance: support compact if lack of binlog (#40000)
  internal/datanode/compaction/mix_compactor_test.go
  internal/datanode/compaction/segment_writer.go
  internal/storage/arrow_util.go
  internal/storage/binlog_iterator_test.go
  internal/storage/payload_writer.go
  internal/storage/serde.go
  internal/storage/serde_events.go
  internal/storage/serde_events_test.go
  internal/storage/serde_events_v2.go
  internal/storage/sort.go
  internal/storage/utils.go
Due: Go

enhance: API integration with storage v2 in mix-compactions
  internal/datacoord/compaction_task_mix.go
  internal/datacoord/meta.go
  internal/datanode/compaction/merge_sort.go
  internal/datanode/compaction/mix_compactor.go
  internal/datanode/compaction/segment_writer.go
  internal/datanode/compaction/segment_writer_test.go
  internal/indexnode/task_stats.go
  internal/indexnode/task_stats_test.go
  internal/storage/rw.go
  internal/storage/serde.go
  internal/storage/serde_events.go
  internal/storage/serde_events_v2.go
  internal/storage/sort.go
  internal/storage/sort_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

fix style check
  internal/storage/rw.go
Due: Go

stop stats rotate fixing ut failure
  internal/storage/rw.go
  internal/storage/serde_events.go
Due: Go

fixing ut failure by setting the correct root path
  internal/datanode/compaction/segment_writer.go
  internal/indexnode/task_stats.go
  internal/metastore/kv/binlog/binlog.go
  internal/storage/rw.go
  internal/storage/serde_events.go
Due: Go

fixing ut failure by configuring the right storage config
  internal/indexnode/task_stats_test.go
Due: Go

enhance: Refine index task scheduler policy (#40104)
  internal/datacoord/index_meta.go
  internal/datacoord/job_manager.go
  internal/datacoord/job_manager_test.go
  internal/datacoord/server.go
  internal/datacoord/session/indexnode_manager.go
  internal/datacoord/session/mock_worker_manager.go
  internal/datacoord/stats_task_meta.go
  internal/datacoord/task_index.go
  internal/datacoord/task_queue.go
  internal/datacoord/task_scheduler.go
  internal/datacoord/task_scheduler_test.go
  internal/datacoord/task_stats.go
  internal/indexnode/indexnode_service.go
  internal/indexnode/task_stats.go
Due: Go

enhance:decrease dump snapshot limit from 10w to 1w (#40102)
  internal/core/src/segcore/DeletedRecord.h
  internal/core/unittest/test_delete_record.cpp
Due: Core

enhance: [2.5] Sync proxy.maxTaskNum default value to 1024 (#40073)
  pkg/util/paramtable/component_param.go
Due: Go

fix: cancel sub contexts casade when http request timeout(#40030) (#40060)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/timeout_middleware.go
  internal/proxy/impl.go
Due: Go

Replace the position of EnabledJSONKeyStats
  configs/milvus.yaml
  internal/datacoord/job_manager.go
  internal/indexnode/indexnode.go
  internal/querycoordv2/checkers/stats_checker.go
  internal/querynodev2/server.go
  pkg/util/paramtable/component_param.go
Due: Go

fix go test
  internal/datacoord/job_manager_test.go
  internal/querycoordv2/checkers/stats_checker_test.go
Due: Go

fixing ut failure by ignoring some tests
  internal/datanode/compaction/mix_compactor_test.go
Due: Go

fix: add BeginTimestamp and EndTimestamp to insert and upsert messages (#40110)
  internal/proxy/task_insert.go
  internal/proxy/task_upsert.go
Due: Go

enhance: API integration with storage v2 in mix-compactions (#40008)
  internal/datacoord/compaction_task_mix.go
  internal/datacoord/meta.go
  internal/datanode/compaction/merge_sort.go
  internal/datanode/compaction/mix_compactor.go
  internal/datanode/compaction/mix_compactor_test.go
  internal/datanode/compaction/segment_writer.go
  internal/datanode/compaction/segment_writer_test.go
  internal/indexnode/task_stats.go
  internal/indexnode/task_stats_test.go
  internal/metastore/kv/binlog/binlog.go
  internal/storage/rw.go
  internal/storage/serde.go
  internal/storage/serde_events.go
  internal/storage/serde_events_v2.go
  internal/storage/sort.go
  internal/storage/sort_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

fix: [2.5]Replace the position of EnabledJSONKeyStats (#40108)
  configs/milvus.yaml
  internal/datacoord/job_manager.go
  internal/datacoord/job_manager_test.go
  internal/indexnode/indexnode.go
  internal/querycoordv2/checkers/stats_checker.go
  internal/querycoordv2/checkers/stats_checker_test.go
  internal/querynodev2/server.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: json key index gc
  configs/milvus.yaml
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/src/common/Consts.h
  internal/core/src/common/FieldMeta.cpp
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/index/JsonKeyInvertedIndex.cpp
  internal/core/src/index/JsonKeyInvertedIndex.h
  internal/core/src/indexbuilder/index_c.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/datacoord/garbage_collector.go
  internal/datacoord/job_manager.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
  internal/indexnode/indexnode.go
  internal/indexnode/indexnode_test.go
  internal/indexnode/task_stats.go
  internal/querycoordv2/checkers/controller.go
  internal/querycoordv2/checkers/controller_base_test.go
  internal/querycoordv2/checkers/index_checker.go
  internal/querycoordv2/checkers/index_checker_test.go
  internal/querycoordv2/checkers/stats_checker.go
  internal/querycoordv2/checkers/stats_checker_test.go
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/meta/collection_manager.go
  internal/querycoordv2/ops_service_test.go
  internal/querycoordv2/utils/checker.go
  internal/querynodev2/server.go
  pkg/common/common.go
  pkg/proto/index_cgo_msg.proto
  pkg/proto/indexcgopb/index_cgo_msg.pb.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: Avoid stringtoslicebytes copy for BatchPKExists (#40096)
  internal/storage/pk_statistics.go
Due: Go

enhance: support create collection with description(#40022)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/request_v2.go
Due: Go

upgrade packages to latest version
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  internal/indexnode/etcd_mock.go
  internal/querynodev2/segments/segment_l0.go
  pkg/go.mod
  pkg/go.sum
Due: Client, Go

fix: Add sub task pool for multi-stage tasks (#40079)
  internal/proxy/task.go
  internal/proxy/task_query.go
  internal/proxy/task_scheduler.go
Due: Go

enhance: Remove hardcoded partition num in restful handler
  internal/distributed/proxy/httpserver/handler_v2.go
Due: Go

enhance: Sync proxy.maxTaskNum value to 10000 in yaml
  configs/milvus.yaml
Due: none

Set default value to 1024 instead
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
Due: Go

enhance: [2.5] Remove hardcoded partition num in restful handler (#40113)
  internal/distributed/proxy/httpserver/handler_v2.go
Due: Go

json key stats filter element array with differenttype
  internal/core/src/exec/expression/UnaryExpr.cpp
Due: Core
