Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

enhance: [2.6] user specified warmup for restful api (#47825)
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
Due: Go

fix: fix gofumpt formatting in compaction trigger test and mock files
  internal/datacoord/compaction_trigger_v2_test.go
  internal/datacoord/mock_trigger_manager.go
Due: Go

feat: Support force promote for primary-secondary failover
  client/milvusclient/replicate.go
  client/milvusclient/replicate_builder.go
  client/milvusclient/replicate_example_test.go
  failover-implementation-plan.md
  internal/distributed/streaming/replicate_service.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/streaming_test.go
  internal/distributed/streaming/test_streaming.go
  internal/mocks/distributed/mock_streaming/mock_ReplicateService.go
  internal/mocks/streamingcoord/mock_client/mock_AssignmentService.go
  internal/mocks/streamingcoord/server/mock_broadcaster/mock_Broadcaster.go
  internal/proxy/impl.go
  internal/streamingcoord/client/assignment/assignment_impl.go
  internal/streamingcoord/client/client.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/broadcaster.go
  internal/streamingcoord/server/service/assignment.go
  internal/streamingcoord/server/service/assignment_test.go
  internal/streamingnode/server/wal/interceptors/replicate/builder.go
  internal/streamingnode/server/wal/interceptors/replicate/replicate_interceptor.go
  internal/streamingnode/server/wal/interceptors/replicate/replicate_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/txn/session_test.go
  internal/streamingnode/server/wal/interceptors/txn/txn_manager.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/util/replicateutil/util.go
  tests/integration/replication/force_promote_test.go
Due: Client, Go

fix: Fix ut and code-check for force promote PR
  failover-implementation-plan.md
Due: none

test: Add unit tests to improve coverage for force promote PR
  client/milvusclient/replicate_builder_test.go
  internal/distributed/streaming/replicate_service_test.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/balancer/channel/manager_test.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
  internal/streamingcoord/server/service/assignment_test.go
  internal/streamingnode/server/wal/interceptors/txn/session_test.go
  pkg/util/replicateutil/util_test.go
Due: Client, Go

fix: Fix force promote unit tests and integration tests
  internal/mocks/streamingcoord/server/mock_broadcaster/mock_Broadcaster.go
  internal/streamingcoord/server/balancer/channel/manager_test.go
  internal/streamingcoord/server/broadcaster/broadcaster.go
  internal/streamingcoord/server/service/assignment.go
  internal/streamingcoord/server/service/assignment_test.go
  tests/integration/replication/force_promote_test.go
Due: Go

fix: Improve force promote based on code review feedback
  internal/cdc/replication/replicatestream/replicate_stream_client_impl.go
  internal/cdc/util/util.go
  internal/distributed/streaming/replicate_service.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/broadcaster/broadcast/singleton.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/broadcast_task.go
  internal/streamingcoord/server/broadcaster/broadcaster.go
  internal/streamingcoord/server/service/assignment.go
  internal/streamingcoord/server/service/assignment_test.go
  internal/streamingnode/server/wal/interceptors/replicate/replicate_interceptor.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/utility/txn_buffer.go
  internal/streamingnode/server/wal/utility/txn_buffer_test.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  tests/integration/replication/force_promote_test.go
Due: Go

fix: Fix non-deterministic vchannel ordering in TestSortByControlChannelTimeTick
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

fix: Improve force promote based on code review feedback
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/service/assignment.go
  internal/streamingcoord/server/service/assignment_test.go
Due: Go

fix: Address code review feedback - move fix logic, fix lock leak, cleanup
  internal/mocks/streamingcoord/server/mock_broadcaster/mock_Broadcaster.go
  internal/streamingcoord/server/broadcaster/ack_callback_scheduler.go
  internal/streamingcoord/server/broadcaster/broadcast/singleton.go
  internal/streamingcoord/server/broadcaster/broadcast/singleton_test.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/broadcast_task.go
  internal/streamingcoord/server/broadcaster/broadcaster.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
  internal/streamingcoord/server/service/assignment.go
  internal/streamingcoord/server/service/assignment_test.go
  internal/streamingnode/server/wal/utility/txn_buffer.go
  internal/streamingnode/server/wal/utility/txn_buffer_test.go
Due: Go

test: Add unit tests to improve broadcaster code coverage
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

fix: Remove non-deterministic vchannel ordering assertion in TestPendingBroadcastMessages
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

refactor: Remove unused GetPendingBroadcastMessages from Broadcaster interface
  internal/mocks/streamingcoord/server/mock_broadcaster/mock_Broadcaster.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/broadcaster.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

test: Add unit tests for FixIncompleteBroadcastsForForcePromote
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

fix: Fix data race in singleton_test.go by using snmanager.ResetStreamingNodeManager
  internal/streamingcoord/server/broadcaster/broadcast/singleton_test.go
Due: Go

test: Add unit tests for WithSecondaryClusterResourceKey and broadcast singleton
  internal/streamingcoord/server/broadcaster/broadcast/singleton_test.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

fix: add missing imports after rebase conflict resolution
  internal/streamingcoord/server/service/assignment.go
Due: Go

enhance: [2.6] add configurable skip list for replicate message types (#47910)
  internal/distributed/streaming/replicate_service.go
  internal/distributed/streaming/replicate_service_test.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: allow pchannel count increase in ReplicateConfiguration
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/distributed/streaming/replicate_service.go
  internal/distributed/streaming/replicate_service_test.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/balancer/channel/manager_test.go
  internal/streamingcoord/server/service/assignment.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/util/replicateutil/config_validator.go
  pkg/util/replicateutil/config_validator_test.go
Due: Go

test: add unit tests for pchannel-increasing error paths to improve coverage
  internal/distributed/streaming/replicate_service_test.go
  pkg/util/replicateutil/config_validator_test.go
Due: Go

fix: replace standard errors import with cockroachdb/errors
  internal/distributed/streaming/replicate_service_test.go
Due: Go

fix: fix TestProxy_ImportV2 mock expectations to match new call order
  internal/proxy/impl_test.go
Due: Go

enhance: [2.6] allow pchannel count increase in ReplicateConfiguration (#47917)
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/distributed/streaming/replicate_service.go
  internal/distributed/streaming/replicate_service_test.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/balancer/channel/manager_test.go
  internal/streamingcoord/server/service/assignment.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/util/replicateutil/config_validator.go
  pkg/util/replicateutil/config_validator_test.go
Due: Go

test: Add null vector checkers to chaos test pipeline
  tests/python_client/chaos/testcases/test_concurrent_operation.py
Due: none

enhance: allow secondary cluster to use local replica config for replicated AlterLoadConfig
  internal/distributed/streaming/replicate_service.go
  internal/distributed/streaming/replicate_service_test.go
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/job/job_load_test.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
Due: Go

enhance: add config param to control UseLocalReplicaConfig for replicated AlterLoadConfig
  internal/distributed/streaming/replicate_service.go
  internal/distributed/streaming/replicate_service_test.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: throttle all index builds via shared pool in standalone mode
  internal/datanode/index/pool.go
  internal/datanode/index/pool_test.go
  internal/datanode/index/scheduler.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix code checker
  pkg/util/paramtable/component_param.go
Due: Go

enhance: reduce standalone knowhere build index thread pool ratio from 0.75 to 0.5
  configs/milvus.yaml
  pkg/util/paramtable/base_table.go
Due: Go

fix: add missing messagespb import in replicate_service_test.go
  internal/distributed/streaming/replicate_service_test.go
Due: Go

enhance: unify copy segment logic with manifest path support (#47751)
  internal/datacoord/copy_segment_task.go
  internal/datanode/importv2/copy_segment_utils.go
  internal/datanode/importv2/copy_segment_utils_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

remove useless codes
  internal/proxy/task.go
  internal/querycoordv2/job/job_sync.go
  internal/querycoordv2/job/utils.go
  internal/querycoordv2/observers/target_observer.go
Due: Go

fix
  configs/milvus.yaml
  scripts/start_cluster.sh
Due: none

remove debug codes
  internal/rootcoord/ddl_callbacks_create_partition.go
Due: Go

fix
  configs/milvus.yaml
Due: none

fix
  internal/datacoord/mock_test.go
  internal/proxy/meta_cache.go
Due: Go

revert mq.type
  configs/milvus.yaml
Due: none

fix
  internal/rootcoord/mock_test.go
Due: none

fix
  internal/datacoord/mock_test.go
  internal/proxy/rootcoord_mock_test.go
  internal/rootcoord/create_collection_task_test.go
  internal/rootcoord/ddl_callbacks_alias_test.go
  internal/rootcoord/ddl_callbacks_collection_function_test.go
  internal/rootcoord/describe_collection_task_test.go
  internal/rootcoord/drop_collection_task_test.go
  internal/rootcoord/task_test.go
  internal/util/mock/grpc_rootcoord_client.go
Due: Go
