Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: correct duplicated "to" in check/ready error message
  internal/http/server.go
  internal/http/server_test.go
Due: Go

doc: fix stale line numbers in highlighter appendJSONParam comment
  client/milvusclient/highlighter.go
Due: Client

feat: [RLS3] backport row-level security policy evaluation
  configs/milvus.yaml
  internal/kv/mem/mem_kv.go
  internal/kv/mem/mem_kv_test.go
  internal/kv/tikv/txn_tikv.go
  internal/kv/tikv/txn_tikv_test.go
  internal/metastore/catalog.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/metastore/model/collection.go
  internal/metastore/model/collection_test.go
  internal/metastore/model/rls.go
  internal/parser/planparserv2/plan_parser_v2.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/parser/planparserv2/utils.go
  internal/proxy/rls/manager.go
  internal/proxy/rls/manager_test.go
  internal/proxy/rls/predicate.go
  internal/proxy/rls/snapshot.go
  internal/proxy/rls/snapshot_test.go
  internal/proxy/rls/util.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/root_coord_test.go
  internal/util/rlsutil/expression.go
  internal/util/rlsutil/types.go
  internal/util/rlsutil/validation_test.go
  pkg/util/merr/utils.go
  pkg/util/merr/utils_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Go

fix: use snapshot restore broker timeout for restore-rollback DropCollection
  configs/milvus.yaml
  internal/datacoord/broker/coordinator_broker.go
  internal/datacoord/broker/coordinator_broker_test.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: [3.0] bump woodpecker to v0.1.45 and expose the compaction bounds it adds (#53470)
  configs/milvus.yaml
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/streaming/walimpls/impls/wp/builder_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
  tests/_helm/values/e2e-amd/distributed-woodpecker-service-boundary
  tests/_helm/values/e2e-arm/distributed-woodpecker-service-boundary
  tests/_helm/values/nightly/distributed-woodpecker-service
Due: Go

enhance: reuse BM25 wire sizes in serialization
  internal/storage/stats.go
Due: Go

test: lock the code and error class of zilliz failed-status errors
  internal/util/function/models/zilliz/zilliz_client_test.go
Due: Go

fix: keep unclassified model-service errors retriable and pin transport retries
  internal/util/function/models/common.go
  internal/util/function/models/common_test.go
Due: Go

fix: forward VoyageAI rerank truncation param to the request
  internal/util/function/embedding/voyageai_embedding_provider_test.go
  internal/util/function/rerank/model_function_test.go
  internal/util/function/rerank/voyageai_rerank_provider.go
Due: Go

doc: feature usage reporting — follow the rebase onto master
  docs/design-docs/design_docs/20260902-feature-usage-reporting.md
Due: none

fix: count only groups that ran, and log the prune at dequeue too
  internal/querynodev2/tasks/search_task.go
  internal/querynodev2/tasks/search_task_cancel_test.go
  internal/util/searchutil/scheduler/concurrent_safe_scheduler.go
  internal/util/searchutil/scheduler/concurrent_safe_scheduler_test.go
  internal/util/searchutil/scheduler/tasks.go
Due: Go

feat: [RLS5] backport row policy and principal tag APIs
  client/milvusclient/rls.go
  client/milvusclient/rls_options.go
  client/milvusclient/rls_test.go
  internal/coordinator/mix_coord.go
  internal/datacoord/mock_test.go
  internal/distributed/mixcoord/client/client.go
  internal/distributed/mixcoord/service.go
  internal/distributed/proxy/service.go
  internal/distributed/proxy/service_test.go
  internal/mocks/mock_mixcoord.go
  internal/mocks/mock_mixcoord_client.go
  internal/mocks/mock_proxy.go
  internal/mocks/mock_rootcoord.go
  internal/mocks/mock_rootcoord_client.go
  internal/proxy/database_interceptor.go
  internal/proxy/database_interceptor_test.go
  internal/proxy/impl.go
  internal/proxy/impl_rls_management_test.go
  internal/proxy/meta_cache.go
  internal/proxy/privilege_interceptor.go
  internal/proxy/rootcoord_mock_test.go
  internal/proxy/util.go
  internal/rootcoord/rls_api.go
  internal/rootcoord/rls_api_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  internal/util/mock/grpc_rootcoord_client.go
  internal/util/rlsutil/types.go
  internal/util/rlsutil/validation.go
  internal/util/rlsutil/validation_test.go
  pkg/proto/root_coord.proto
  pkg/proto/rootcoordpb/root_coord.pb.go
  pkg/proto/rootcoordpb/root_coord_grpc.pb.go
  pkg/util/constant.go
  pkg/util/constant_test.go
  pkg/util/funcutil/policy_test.go
Due: Client, Go

feat: [3.0][RLS3] evaluate row-level security policies
  configs/milvus.yaml
  docs/agent_guides/streaming-system/message/message-semantic-collection.md
  docs/design-docs/design_docs/20250610-rls_design.md
  internal/kv/mem/mem_kv.go
  internal/kv/mem/mem_kv_test.go
  internal/kv/tikv/txn_tikv.go
  internal/kv/tikv/txn_tikv_test.go
  internal/metastore/catalog.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/metastore/model/collection.go
  internal/metastore/model/collection_test.go
  internal/metastore/model/rls.go
  internal/proxy/rls/manager.go
  internal/proxy/rls/manager_test.go
  internal/proxy/rls/predicate.go
  internal/proxy/rls/snapshot.go
  internal/proxy/rls/snapshot_test.go
  internal/proxy/rls/util.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/root_coord_test.go
  internal/util/rlsutil/expression.go
  internal/util/rlsutil/types.go
  internal/util/rlsutil/validation_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Go

feat: [3.0][RLS5] expose row policy and principal tag APIs
  client/milvusclient/rls.go
  client/milvusclient/rls_options.go
  client/milvusclient/rls_test.go
  docs/design-docs/design_docs/20250610-rls_design.md
  internal/coordinator/mix_coord.go
  internal/datacoord/mock_test.go
  internal/distributed/mixcoord/client/client.go
  internal/distributed/mixcoord/service.go
  internal/distributed/proxy/service.go
  internal/distributed/proxy/service_test.go
  internal/mocks/mock_mixcoord.go
  internal/mocks/mock_mixcoord_client.go
  internal/mocks/mock_rootcoord.go
  internal/mocks/mock_rootcoord_client.go
  internal/proxy/database_interceptor.go
  internal/proxy/database_interceptor_test.go
  internal/proxy/impl.go
  internal/proxy/impl_rls_management_test.go
  internal/proxy/privilege_interceptor.go
  internal/proxy/rootcoord_mock_test.go
  internal/rootcoord/rls_api.go
  internal/rootcoord/rls_api_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  internal/util/mock/grpc_rootcoord_client.go
  internal/util/rlsutil/types.go
  internal/util/rlsutil/validation.go
  internal/util/rlsutil/validation_test.go
  pkg/proto/root_coord.proto
  pkg/proto/rootcoordpb/root_coord.pb.go
  pkg/proto/rootcoordpb/root_coord_grpc.pb.go
  pkg/util/constant.go
  pkg/util/constant_test.go
  pkg/util/funcutil/policy_test.go
Due: Client, Go

fix: resolve WebUI assets on deep links
  internal/http/server.go
  internal/http/server_test.go
Due: Go

upgrade simdjson from v3.12.2 to v5.0.1
  internal/core/thirdparty/simdjson/CMakeLists.txt
Due: Core

fix an ASAN on ARM machine
  internal/core/src/common/RegexQuery.cpp
  internal/core/src/common/RegexQueryUtilTest.cpp
Due: Core

feat: support RLS array tags and NOT expressions
  configs/milvus.yaml
  docs/design-docs/design_docs/20250610-rls_design.md
  internal/rootcoord/ddl_callbacks_rls_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/util/rlsutil/compiler_test.go
  internal/util/rlsutil/expression.go
  internal/util/rlsutil/runtime.go
  internal/util/rlsutil/types.go
  internal/util/rlsutil/validation.go
  internal/util/rlsutil/validation_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: address review feedback on access log config security patch
  internal/coordinator/restful_mgr_routes_test.go
  internal/proxy/accesslog/writer.go
  internal/proxy/accesslog/writer_test.go
Due: Go

doc: feature usage reporting — growing/sealed and the reusable channel
  docs/design-docs/design_docs/20260902-feature-usage-reporting.md
Due: none

doc: report unsettled cancel ids as undetermined
  docs/design-docs/design_docs/20260916-running-request-list-and-cancel.md
Due: none

test: [2.6] fix RLS test compilation
  client/milvusclient/mock_milvus_server_test.go
  internal/distributed/proxy/httpserver/handler_v1_test.go
Due: Go

test: [3.0] fix RLS test compilation
  client/milvusclient/mock_milvus_server_test.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/mocks/mock_proxy.go
  internal/proxy/task_upsert_test.go
  internal/rootcoord/create_collection_task_test.go
  internal/rootcoord/meta_table_test.go
Due: Go

test: [2.6] adapt RLS rootcoord tests
  internal/rootcoord/root_coord_test.go
Due: Go

fix: authorize collection metadata RPCs (#53722)
  internal/distributed/proxy/httpserver/handler.go
  internal/distributed/proxy/httpserver/metadata_privilege_test.go
  internal/proxy/impl.go
  internal/proxy/metadata_privilege.go
  internal/proxy/metadata_privilege_test.go
  internal/proxy/privilege_interceptor.go
  pkg/util/funcutil/rbac_annotation_coverage_test.go
Due: Go

fix: [2.6] remove the segment assignment meta of orphaned growing segments at recovery
  internal/streamingnode/server/wal/recovery/recovery_orphan_segment_test.go
  internal/streamingnode/server/wal/recovery/recovery_stream.go
  internal/streamingnode/server/wal/recovery/segment_recovery_info.go
Due: Go

fix: keep import sizing outside collection lock
  internal/datacoord/ddl_callbacks_import.go
  internal/datacoord/ddl_callbacks_import_test.go
Due: Go

test: format RLS backport tests
  internal/proxy/dql/search_pipeline_test.go
  internal/proxy/dql/search_util_test.go
Due: Go

test: fix RLS 3.0 fixtures
  internal/datacoord/import_services_test.go
  internal/rootcoord/meta_table_test.go
Due: Go

fix: don't panic in CloseEtcdClient on context.Canceled
  internal/util/dependency/kv/kv_client_handler.go
  internal/util/dependency/kv/kv_client_handler_test.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
