Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

chore: regenerate mock_proxy.go to include DeleteRLSPrincipalTags
  internal/mocks/mock_proxy.go
Due: none

fix: apply the 64-bit JSON number limit to a scalar JSON field too
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

fix: [cp3.0]read only the needed leaf columns for struct array sub-fields
  internal/util/importutilv2/parquet/leaf_pruning_test.go
  internal/util/importutilv2/parquet/struct_field_reader.go
Due: Go

fix: keep nested dynamic-field values as written
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

fix: read quoted REST integers as base 10 for every width
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

fix: store the literal a REST caller wrote in a VARCHAR field
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

enhance: add proxy.http.compatibilityMode as a REST compatibility switch
  configs/milvus.yaml
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  pkg/util/paramtable/http_param.go
Due: Go

enhance: gate the VARCHAR literal change behind proxy.http.compatibilityMode
  configs/milvus.yaml
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  pkg/util/paramtable/http_param.go
Due: Go

enhance: gate the JSON and dynamic field changes behind proxy.http.compatibilityMode
  configs/milvus.yaml
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  pkg/util/paramtable/http_param.go
Due: Go

enhance: gate the integer changes behind proxy.http.compatibilityMode
  configs/milvus.yaml
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  pkg/util/paramtable/http_param.go
Due: Go

fix: preserve described generic index type (#52153)
  client/index/index.go
  client/index/index_test.go
  client/milvusclient/index_test.go
Due: Client

fix: return error when RollbackImport ACK arrives before replicated import job exists
  internal/datacoord/ddl_callbacks_import.go
Due: Go

fix: repair the datacoord typecheck broken by a rebase-time semantic conflict
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datanode/compactor/bump_schema_version_compactor.go
Due: Go

fix: repair the datacoord typecheck broken by a rebase-time semantic conflict (#52272)
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datanode/compactor/bump_schema_version_compactor.go
Due: Go

enhance: route columnar segment-read arrow failures through ArrowStatusToErrorCode
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/storage/StatusToErrorCode.h
  internal/core/unittest/test_storage_error_code.cpp
Due: Core

enhance: preserve knowhere classification when iterator creation fails
  internal/core/src/query/CachedSearchIterator.cpp
Due: Core

enhance: map the new LOON IO/data/not-found codes to retriable segcore codes
  internal/core/src/storage/loon_ffi/util.cpp
Due: Core

enhance: extend the shared FailureCStatus catch to index and analyze C-APIs
  internal/core/src/clustering/analyze_c.cpp
  internal/core/src/indexbuilder/index_c.cpp
Due: Core

enhance: consume producer-owned storage classification and harden segcore mappers
  internal/core/src/common/Utils.h
  internal/core/src/storage/Util.h
  internal/core/unittest/test_storage_error_code.cpp
  pkg/util/merr/segcore.go
Due: Core, Go

enhance: type the storage loon FFI error and cover storage error codes
  internal/core/src/storage/loon_ffi/util.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_storage_error_code.cpp
Due: Core

enhance: route index build/add paths through the hardened knowhere mapper
  internal/core/src/common/Utils.h
  internal/core/src/index/VectorDiskIndex.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/unittest/test_knowhere_status_mapping.cpp
Due: Core

enhance: route segcore extern C boundaries through a shared FailureCStatus catch
  internal/core/src/common/CGoCatch.h
  internal/core/src/segcore/load_index_c.cpp
  internal/core/src/segcore/plan_c.cpp
  internal/core/src/segcore/vector_index_c.cpp
Due: Core

enhance: drop loon FFI error classification, defer to follow-up after milvus-storage#568
  internal/core/src/storage/DataCodec.cpp
  internal/core/src/storage/Event.cpp
  internal/core/src/storage/loon_ffi/util.cpp
Due: Core

enhance: generate segcore codes and enforce classification exhaustively (T6)
  .golangci.yml
  Makefile
  pkg/util/merr/internal/segcoregen/main.go
  pkg/util/merr/segcore.go
  pkg/util/merr/segcore_codes_gen.go
  pkg/util/merr/segcore_test.go
  scripts/generate_segcore_codes.sh
Due: Go

enhance: preserve typed error codes on the storage direct-link read path
  internal/core/src/storage/BinlogReader.cpp
  internal/core/src/storage/BinlogReader.h
  internal/core/src/storage/DataCodec.cpp
  internal/core/src/storage/Event.cpp
  internal/core/src/storage/IndexEntryEncryptedLocalWriter.cpp
  internal/core/src/storage/PayloadReader.cpp
  internal/core/src/storage/Util.h
Due: Core

enhance: classify knowhere transient errors as retriable in segcore mapping
  internal/core/src/common/Utils.h
  internal/core/unittest/test_knowhere_status_mapping.cpp
Due: Core

test: AwsErrorNotFound now maps to the fine-grained ObjectNotExist(2017)
  internal/core/unittest/test_storage_error_code.cpp
Due: Core

enhance: classify marisa and simdjson errors instead of collapsing to 2001 (§3 B-tier)
  internal/core/src/common/Json.h
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/json_stats/utils.h
Due: Core

enhance: export cgo metrics on DataNode so UnmappedSegcoreCodeTotal is scrapeable there
  pkg/metrics/datanode_metrics.go
Due: Go

style: clang-format test_storage_error_code.cpp
  internal/core/unittest/test_storage_error_code.cpp
Due: Core

enhance: classify knowhere capability/data statuses as Unsupported/DataFormatBroken
  internal/core/src/common/Utils.h
  internal/core/unittest/test_knowhere_status_mapping.cpp
Due: Core

enhance: preserve typed segcore error codes from the knowhere and Driver paths
  internal/core/src/clustering/KmeansClustering.cpp
  internal/core/src/common/Utils.h
  internal/core/src/index/VectorDiskIndex.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/query/SearchBruteForce.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_exec.cpp
  internal/core/unittest/test_knowhere_status_mapping.cpp
Due: Core

enhance: observe unmapped segcore codes with a metric and rate-limited warn (T5)
  internal/util/cgo/segcore_observer.go
  pkg/metrics/cgo_metrics.go
  pkg/util/merr/segcore.go
  pkg/util/merr/segcore_test.go
Due: Go

enhance: document ArrowStatusToErrorCode's permanent-corruption assumption
  internal/core/src/storage/Util.h
Due: Core

enhance: route storage arrow-status failures through the single classifier (T4)
  internal/core/src/storage/FileManager.h
  internal/core/src/storage/PayloadReader.cpp
  internal/core/src/storage/PayloadWriter.cpp
  internal/core/src/storage/RemoteInputStream.cpp
  internal/core/src/storage/RemoteOutputStream.cpp
  internal/core/src/storage/StatusToErrorCode.h
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
Due: Core

enhance: classify tantivy rust errors instead of collapsing them to 2001
  internal/core/thirdparty/tantivy/phrase_match.h
  internal/core/thirdparty/tantivy/tantivy-error.h
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
  internal/core/thirdparty/tantivy/tokenizer.h
Due: Core

enhance: catch parquet exceptions at call sites; fix a throw-by-string
  internal/core/src/segcore/Utils.cpp
  internal/core/src/storage/PayloadReader.cpp
  internal/core/src/storage/PayloadWriter.cpp
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
Due: Core

fix: stop destroying typed error codes in V1SealedIndexTranslator
  internal/core/src/segcore/storagev1translator/V1SealedIndexTranslator.cpp
Due: Core

fix: classify malformed parquet metadata integers as DataFormatBroken
  internal/core/src/storage/PayloadReader.cpp
Due: Core

fix: close cgo-boundary exception escapes and slicing rethrows
  internal/core/src/common/binary_set_c.cpp
  internal/core/src/common/init_c.cpp
  internal/core/src/exec/expression/function/init_c.cpp
  internal/core/src/indexbuilder/init_c.cpp
  internal/core/src/monitor/monitor_c.cpp
  internal/core/src/segcore/arrow_fs_c.cpp
  internal/core/src/segcore/collection_c.cpp
  internal/core/src/segcore/external_utils_c.cpp
  internal/core/src/segcore/load_field_data_c.cpp
  internal/core/src/segcore/load_index_c.cpp
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/segcore/packed_reader_c.cpp
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/src/segcore/phrase_match_c.cpp
  internal/core/src/segcore/plan_c.cpp
  internal/core/src/segcore/search_result_export_c.cpp
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/tokenizer_c.cpp
  internal/core/src/storage/loon_ffi/ffi_reader_c.cpp
  internal/core/src/storage/loon_ffi/ffi_writer_c.cpp
  internal/core/src/storage/loon_ffi/milvus_table_c.cpp
  internal/core/src/storage/minio/MinioChunkManager.cpp
  internal/core/src/storage/storage_c.cpp
Due: Core
