Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: make async packed scalar index loading build on macOS
  internal/core/src/common/File.h
  internal/core/src/common/Utils.h
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/IndexFactory.cpp
Due: Core

test: add V2 projection data-integrity case (#53307)
  tests/python_client/milvus_client/compaction_integrity_helper_tests.py
  tests/python_client/milvus_client/test_milvus_client_data_integrity.py
  tests/python_client/requirements.txt
Due: none

test: [3.0] add V2 projection data-integrity case (#53307)
  tests/python_client/milvus_client/compaction_integrity_helpers.py
  tests/python_client/milvus_client/test_milvus_client_data_integrity.py
  tests/python_client/requirements.txt
Due: none

fix: normalize the default port when comparing Azure snapshot endpoints
  internal/snapshotio/storage/path.go
  internal/snapshotio/storage/resolver.go
  internal/snapshotio/storage/resolver_test.go
  internal/snapshotio/storage/validator.go
  internal/snapshotio/storage/validator_test.go
Due: Go

test: Enable gRPC compression in CI E2E Helm values (#53464)
  tests/_helm/values/e2e-amd/distributed-pulsar
  tests/_helm/values/e2e-amd/distributed-woodpecker-service-boundary
  tests/_helm/values/e2e-amd/standalone
  tests/_helm/values/e2e-amd/standalone-kafka-mmap
  tests/_helm/values/e2e-amd/standalone-wp-embed
  tests/_helm/values/e2e-arm/distributed-pulsar
  tests/_helm/values/e2e-arm/distributed-woodpecker-service-boundary
  tests/_helm/values/e2e-arm/standalone
  tests/_helm/values/e2e-arm/standalone-kafka-mmap
  tests/_helm/values/e2e-arm/standalone-wp-embed
  tests/_helm/values/e2e/distributed-pulsar
  tests/_helm/values/e2e/standalone
  tests/_helm/values/e2e/standalone-kafka-mmap
  tests/_helm/values/nightly/distributed-kafka
  tests/_helm/values/nightly/distributed-pulsar-mmap
  tests/_helm/values/nightly/distributed-woodpecker
  tests/_helm/values/nightly/distributed-woodpecker-service
  tests/_helm/values/nightly/standalone-authentication-mmap
Due: none

test: Enable s2 gRPC compression in CI E2E Helm values (#53686)
  tests/_helm/values/e2e-amd/distributed-pulsar
  tests/_helm/values/e2e-amd/distributed-woodpecker-service-boundary
  tests/_helm/values/e2e-amd/standalone
  tests/_helm/values/e2e-amd/standalone-kafka-mmap
  tests/_helm/values/e2e-amd/standalone-wp-embed
  tests/_helm/values/e2e-arm/distributed-pulsar
  tests/_helm/values/e2e-arm/distributed-woodpecker-service-boundary
  tests/_helm/values/e2e-arm/standalone
  tests/_helm/values/e2e-arm/standalone-kafka-mmap
  tests/_helm/values/e2e-arm/standalone-wp-embed
  tests/_helm/values/e2e/distributed-pulsar
  tests/_helm/values/e2e/standalone
  tests/_helm/values/e2e/standalone-kafka-mmap
  tests/_helm/values/nightly/distributed-kafka
  tests/_helm/values/nightly/distributed-pulsar-mmap
  tests/_helm/values/nightly/distributed-woodpecker
  tests/_helm/values/nightly/distributed-woodpecker-service
  tests/_helm/values/nightly/standalone-authentication-mmap
Due: none

enhance: share lazy column metadata and borrow cache slots
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnGroupTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
Due: Core

feat: support czech language for stemmer filter
  docs/design-docs/design_docs/20260622-czech-stemmer.md
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/stemmer_filter.rs
  tests/python_client/testcases/test_query.py
Due: Core

test: [3.0] opt BloomMatch into JSON HYBRID index version
  tests/integration/bloommatch/bloom_match_test.go
Due: none

enhance: route validity reads through pinned snapshot
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/MatchExpr.cpp
  internal/core/src/exec/expression/MatchExpr.h
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/core/src/segcore/SegmentChunkReader.h
  internal/core/unittest/test_offsets_eval_correctness.cpp
  internal/core/unittest/test_utils/storage_test_utils.h
Due: Core

test: update snapshot restore alias conflict expectation (#53682)
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: [3.0] backport upsert and snapshot error expectation fixes (#53683)
  tests/python_client/milvus_client/test_milvus_client_partition.py
  tests/python_client/milvus_client/test_milvus_client_snapshot.py
Due: none

test: [2.6] Enable gRPC compression in CI E2E Helm values (#53467)
  tests/_helm/values/e2e-amd/distributed-pulsar
  tests/_helm/values/e2e-amd/standalone
  tests/_helm/values/e2e-amd/standalone-kafka-mmap
  tests/_helm/values/e2e-amd/standalone-one-pod
  tests/_helm/values/e2e-arm/distributed-pulsar
  tests/_helm/values/e2e-arm/standalone
  tests/_helm/values/e2e-arm/standalone-kafka-mmap
  tests/_helm/values/e2e-arm/standalone-one-pod
  tests/_helm/values/e2e/distributed-pulsar
  tests/_helm/values/e2e/standalone
  tests/_helm/values/e2e/standalone-kafka-mmap
  tests/_helm/values/e2e/standalone-one-pod
  tests/_helm/values/nightly/distributed-kafka
  tests/_helm/values/nightly/distributed-pulsar-mmap
  tests/_helm/values/nightly/distributed-woodpecker
  tests/_helm/values/nightly/standalone-authentication-mmap
  tests/_helm/values/nightly/standalone-one-pod
Due: none

enhance: optimize Tantivy bitset writes
  internal/core/src/index/Utils.h
  internal/core/src/index/UtilsTest.cpp
Due: Core

enhance: [cp2.6] optimize Tantivy bitset writes
  internal/core/src/index/Utils.h
  internal/core/src/index/UtilsTest.cpp
Due: Core

test: add V2 projection data-integrity case (#53307) (#53631)
  tests/python_client/milvus_client/compaction_integrity_helper_tests.py
  tests/python_client/milvus_client/test_milvus_client_data_integrity.py
  tests/python_client/requirements.txt
Due: none

test: [3.0] add V2 projection data-integrity case (#53307) (#53576)
  tests/python_client/milvus_client/compaction_integrity_helpers.py
  tests/python_client/milvus_client/test_milvus_client_data_integrity.py
  tests/python_client/requirements.txt
Due: none

enhance: [cp2.6] apply Knowhere search defaults at query time (#53466)
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/segments/collection.go
  internal/querynodev2/segments/collection_test.go
  internal/util/searchutil/optimizers/query_hook.go
  internal/util/searchutil/optimizers/query_hook_test.go
  pkg/util/paramtable/knowhere_param.go
  pkg/util/paramtable/knowhere_param_test.go
Due: Go

enhance: Defer JSON stats initialization until first use
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/storagev2translator/JsonStatsTranslator.cpp
  internal/core/src/segcore/storagev2translator/JsonStatsTranslator.h
  internal/core/unittest/test_json_stats/test_json_key_stats.cpp
Due: Core

test: make pinned validity tests observable
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/core/src/segcore/SegmentChunkReaderTest.cpp
Due: Core

fix: make async packed scalar index loading build on macOS (#53691)
  internal/core/src/common/File.h
  internal/core/src/common/Utils.h
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/IndexFactory.cpp
Due: Core

fix: stop retrying model-service errors that send() classified as permanent
  internal/util/function/models/common.go
  internal/util/function/models/common_test.go
  internal/util/function/models/openai/openai_client_test.go
Due: Go

fix: release leftover loaded collections that no longer exist in RootCoord
  internal/querycoordv2/ddl_callbacks_drop_load_info.go
  internal/querycoordv2/leftover_collection.go
  internal/querycoordv2/leftover_collection_test.go
  internal/querycoordv2/load_config_visibility.go
  internal/querycoordv2/meta/collection_manager.go
  internal/querycoordv2/meta/collection_manager_test.go
  internal/querycoordv2/server.go
Due: Go

fix: give snapshot restore's CreateCollection/CreatePartition their own broker timeout
  configs/milvus.yaml
  internal/datacoord/broker/coordinator_broker.go
  internal/datacoord/broker/coordinator_broker_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: [3.0] stop overlapping readers starving the geometry cache writer (#53609)
  docs/design-docs/design_docs/20260727-gis-filter-coarse-refine-split-fusion.md
  internal/core/src/common/Geometry.h
  internal/core/src/common/GeometryCache.h
  internal/core/src/common/GeometryCacheTest.cpp
  internal/core/src/exec/expression/GISConjunctExpr.cpp
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

fix: [2.6] stop overlapping readers starving the geometry cache writer (#53610)
  docs/design_docs/gis_filter_coarse_refine_split_fusion.md
  internal/core/src/common/Geometry.h
  internal/core/src/common/GeometryCache.h
  internal/core/src/common/GeometryCacheTest.cpp
  internal/core/src/exec/expression/GISConjunctExpr.cpp
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

fix: authorize collection metadata RPCs
  internal/distributed/proxy/httpserver/handler.go
  internal/distributed/proxy/httpserver/metadata_privilege_test.go
  internal/proxy/impl.go
  internal/proxy/metadata_privilege.go
  internal/proxy/metadata_privilege_test.go
  internal/proxy/privilege_interceptor.go
  pkg/util/funcutil/rbac_annotation_coverage_test.go
Due: Go

fix: enforce collection visibility for cached and ID-based descriptions
  internal/distributed/proxy/httpserver/describe_collection_visibility_test.go
  internal/distributed/proxy/httpserver/handler.go
  internal/proxy/describe_collection_http_visibility_test.go
  internal/proxy/describe_collection_visibility_test.go
  internal/proxy/http_req_impl.go
  internal/proxy/impl.go
  internal/proxy/service_provider.go
  internal/proxy/task.go
  internal/rootcoord/describe_collection_task.go
  internal/rootcoord/describe_collection_task_test.go
  internal/rootcoord/describe_collection_visibility_test.go
Due: Go

test: initialize metadata authorization tests with real Proxy fields
  internal/proxy/metadata_privilege_test.go
Due: Go

refactor: declare a form apart from the installed hook
  internal/datacoord/index_engine_version_manager_test.go
  internal/querycoordv2/balance/helper_form_test.go
  internal/querycoordv2/checkers/channel_checker_form_test.go
  internal/querycoordv2/job/job_load_test.go
  internal/querycoordv2/job/load_config_test.go
  internal/querycoordv2/load_placement_test.go
  internal/querycoordv2/utils/delegator_placement_form_test.go
  internal/util/hookutil/compiled_hook_test.go
  internal/util/hookutil/hook.go
  internal/util/streamingutil/env_test.go
  pkg/extension/extension.go
  pkg/extension/extension_test.go
  pkg/extension/reset_testonly.go
Due: Go

fix: let an added replica in an already-loaded group expand like any other
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/job/job_load_test.go
Due: Go

doc: state the two QueryNode paths a form's delegator placement trades
  docs/design-docs/design_docs/20260831-in_tree_extension_mechanism.md
Due: none

fix: Register JSON stats translator in error boundary baseline
  scripts/segcore_error_boundary_baseline.txt
Due: none

fix: remove the dead code the scoped load task's timeout left behind
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/meta/replica_manager_test.go
  internal/querycoordv2/utils/resource_group_load_percentage.go
Due: Go

fix: pass scan context to lazy column initialization
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnGroupTest.cpp
Due: Core

fix: restore the leftovers this PR did not mean to touch
  .gitignore
  internal/rootcoord/root_coord.go
  pkg/util/paramtable/component_param.go
Due: Go

doc: bring the design doc to the head, and fix a detached doc comment
  docs/design-docs/design_docs/20260831-in_tree_extension_mechanism.md
  internal/querycoordv2/load_placement.go
Due: Go

test: [3.0] build the JSON path HYBRID bloom_match round on engine version 4
  tests/integration/bloommatch/bloom_match_test.go
Due: none

test: [3.0] reduce integration import and shared wait overhead (#53679)
  internal/datacoord/import_services_test.go
  internal/datacoord/import_util.go
  internal/datacoord/import_util_test.go
  tests/integration/bloommatch/bloom_match_test.go
  tests/integration/import/2pc_import_test.go
  tests/integration/import/binlog_test.go
  tests/integration/import/commit_timestamp_test.go
  tests/integration/import/dynamic_field_test.go
  tests/integration/import/idempotency_test.go
  tests/integration/import/import_test.go
  tests/integration/import/multi_file_types_test.go
  tests/integration/import/suite_test.go
  tests/integration/import/util_test.go
  tests/integration/querynode/querynode_test.go
  tests/integration/replicas/load/load_test.go
  tests/integration/suite.go
  tests/integration/suite_release_test.go
  tests/integration/util_index.go
  tests/integration/util_insert.go
  tests/integration/util_query.go
Due: Go
