Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

address comments; fix flaky test
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_json_flat_index.cpp
  internal/datacoord/index_service.go
  internal/proxy/proxy_test.go
  internal/proxy/task_index_test.go
  internal/proxy/task_search_test.go
  internal/util/indexparamcheck/constraints.go
  pkg/util/metric/metric_type.go
Due: Core, Go

enhance: [GoSDK] Support function reranker (#43845)
  client/milvusclient/read_option_test.go
  client/milvusclient/read_options.go
Due: Client

fix: httpserver crash for division to zero(#43639) (#43799)
  internal/proxy/search_pipeline.go
Due: Go

support use score function on segment search and use filter
  internal/core/src/exec/Driver.cpp
  internal/core/src/exec/operator/RescoresNode.cpp
  internal/core/src/exec/operator/RescoresNode.h
  internal/core/src/exec/operator/Utils.h
  internal/core/src/plan/PlanNode.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProto.h
  internal/core/src/rescores/Scorer.h
  internal/parser/planparserv2/plan_parser_v2.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/proxy/task_search.go
  internal/util/function/rerank/function_score.go
  internal/util/function/rerank/function_score_test.go
  internal/util/function/rerank/weighted_function.go
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
  pkg/util/funcutil/func.go
Due: Core, Go

migrate cases
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/testcases/test_collection.py
Due: none

Add KeyRetriever for parquet read properties
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/segcore/memory_planner.h
  internal/core/src/segcore/packed_reader_c.cpp
  internal/core/src/segcore/packed_reader_c.h
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/src/segcore/packed_writer_c.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/KeyRetriever.cpp
  internal/core/src/storage/KeyRetriever.h
  internal/core/src/storage/MemFileManagerImpl.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/core/src/storage/plugin/PluginInterface.h
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/datacoord/compaction_task_mix.go
  internal/flushcommon/syncmgr/pack_writer_v2.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_loader.go
  internal/storage/rw.go
  internal/storage/serde_events_v2.go
  internal/storagev2/packed/packed_reader.go
  internal/storagev2/packed/packed_test.go
  internal/storagev2/packed/packed_writer.go
  internal/util/hookutil/cipher.go
  internal/util/segcore/segment.go
Due: Core, Go

feat: support use cipher hook when create message
  internal/proxy/proxy.go
  internal/proxy/task_delete_streaming.go
  internal/proxy/task_insert.go
  internal/proxy/task_insert_streaming.go
  internal/proxy/task_upsert_streaming.go
  internal/streamingnode/server/server.go
  internal/util/hookutil/cipher.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/message.go
  pkg/streaming/util/message/message_impl.go
Due: Go

fix: Fix golang coding style
  internal/core/src/indexbuilder/index_c.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  internal/core/src/storage/DataCodec.cpp
  internal/core/src/storage/DataCodec.h
  internal/core/src/storage/PluginLoader.h
  internal/core/src/storage/storage_c.cpp
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_c_stream_reduce.cpp
  internal/core/unittest/test_packed_c.cpp
  internal/datacoord/task_analyze_test.go
  internal/datanode/compactor/clustering_compactor_storage_v2_test.go
  internal/datanode/compactor/clustering_compactor_test.go
  internal/datanode/compactor/mix_compactor_storage_v2_test.go
  internal/datanode/compactor/mix_compactor_test.go
  internal/datanode/compactor/sort_compaction.go
  internal/datanode/index/task_test.go
  internal/datanode/index_services_test.go
  internal/proxy/task_upsert_streaming.go
  internal/rootcoord/create_db_task.go
  internal/storage/rw.go
  internal/storage/serde_events_test.go
  internal/util/hookutil/cipher.go
  internal/util/segcore/segment.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/message.go
  pkg/streaming/util/message/message_impl.go
  scripts/start_cluster.sh
Due: Core, Go

enhance: [2.5] Refine error message for restful default value check (#43842) (#43860)
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/utils.go
Due: Go

enhance: [StorageV2] zero copy for packed writer record batch
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/src/segcore/packed_writer_c.h
  internal/core/unittest/test_packed_c.cpp
  internal/storagev2/packed/packed_writer.go
  tests/integration/getvector/array_struct_test.go
Due: Core, Go

enhance: Add downgrade tsafe switch param item
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_test.go
  pkg/util/paramtable/component_param.go
Due: Go

test:add text embedding function testcases in go client
  tests/go_client/testcases/helper/data_helper.go
  tests/go_client/testcases/helper/field_helper.go
  tests/go_client/testcases/helper/function_helper.go
  tests/go_client/testcases/helper/schema_helper.go
  tests/go_client/testcases/helper/test_setup.go
  tests/go_client/testcases/text_embedding_test.go
Due: none

format
  tests/go_client/testcases/helper/data_helper.go
  tests/go_client/testcases/helper/field_helper.go
  tests/go_client/testcases/helper/function_helper.go
  tests/go_client/testcases/text_embedding_test.go
Due: none

modify cases
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: none

fix: typo in autoindex param panic message
  pkg/util/paramtable/autoindex_param.go
Due: Go

test: remove skip for fixed case
  tests/restful_client_v2/testcases/test_vector_operations.py
Due: none

fix test case error mesage
  tests/python_client/milvus_client/test_milvus_client_alias.py
Due: none

fix: Invalidate proxy cache for create alias op
  internal/proxy/impl.go
  internal/rootcoord/create_alias_task.go
  internal/rootcoord/create_alias_task_test.go
Due: Go

format
  tests/go_client/testcases/text_embedding_test.go
Due: none

feat: support search by on json field and dynamic field(#43124)
  internal/core/src/common/QueryInfo.h
  internal/core/src/exec/operator/groupby/SearchGroupByOperator.cpp
  internal/core/src/exec/operator/groupby/SearchGroupByOperator.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/segcore/ReduceUtils.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_group_by.cpp
  internal/core/unittest/test_group_by_json.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/core/unittest/test_utils/storage_test_utils.h
  internal/datacoord/index_service.go
  internal/proxy/search_util.go
  internal/proxy/task.go
  internal/util/typeutil/json_util.go
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
  tests/go_client/testcases/groupby_search_test.go
  tests/python_client/milvus_client_v2/test_milvus_client_search_group_by.py
Due: Core, Go

fix test
  pkg/util/metric/metric_type.go
Due: Go

fix: Metrics with collectionName but no databaseName label are causing name conflicts and confusion (#43277)
  internal/proxy/proxy_test.go
Due: Go

fix: Metrics with collectionName but no databaseName label are causing name conflicts and confusion (#43277) (#43808)
  go.sum
  internal/proxy/impl.go
  internal/rootcoord/quota_center.go
  pkg/metrics/grpc_stats_handler.go
  pkg/metrics/proxy_metrics.go
  pkg/metrics/restful_middleware.go
  pkg/metrics/rootcoord_metrics.go
  pkg/util/paramtable/component_param.go
Due: Go

test: add create collection V2 cases for milvus client (#43841)
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/testcases/test_collection.py
Due: none

enhance: add write rate limit for disk file writer
  configs/milvus.yaml
  internal/core/src/common/type_c.h
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/storage/FileWriter.cpp
  internal/core/src/storage/FileWriter.h
  internal/core/src/storage/storage_c.cpp
  internal/core/src/storage/storage_c.h
  internal/core/unittest/test_file_writer.cpp
  internal/querynodev2/server.go
  internal/util/initcore/init_core.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

some update
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/storage/FileWriter.h
  internal/core/unittest/test_file_writer.cpp
Due: Core

clang-format run
  internal/core/run_clang_format.sh
  internal/core/src/bitset/detail/proxy.h
  internal/core/src/common/Chunk.h
  internal/core/src/common/ChunkWriter.h
  internal/core/src/common/Utils.h
  internal/core/src/common/init_c.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/operator/groupby/SearchGroupByOperator.h
  internal/core/src/futures/Ready.h
  internal/core/src/index/JsonKeyStatsInvertedIndex.h
  internal/core/src/index/SkipIndex.h
  internal/core/src/index/VectorDiskIndex.h
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/unittest/test_index_c_api.cpp
  internal/core/unittest/test_scalar_index_creator.cpp
  internal/core/unittest/test_utils/DataGen.h
Due: Core

enhance: [StorageV2] zero copy for packed writer record batch (#43779)
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/src/segcore/packed_writer_c.h
  internal/core/unittest/test_packed_c.cpp
  internal/storagev2/packed/packed_writer.go
  tests/integration/getvector/array_struct_test.go
Due: Core, Go

fix test
  internal/proxy/task_index_test.go
Due: Go

[StorageV2] bump storage version
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
Due: Core

test: update nightly cases
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: none

test:add text embedding function testcases in go client (#43875)
  tests/go_client/testcases/helper/data_helper.go
  tests/go_client/testcases/helper/field_helper.go
  tests/go_client/testcases/helper/function_helper.go
  tests/go_client/testcases/helper/schema_helper.go
  tests/go_client/testcases/helper/test_setup.go
  tests/go_client/testcases/text_embedding_test.go
Due: none

enhance: Add downgrade tsafe switch param item (#43874)
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_test.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: support util template generation for messages
  Makefile
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl_test.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/vchannel_recovery_info_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/mocks/streaming/util/mock_message/mock_BroadcastMutableMessage.go
  pkg/mocks/streaming/util/mock_message/mock_ImmutableMessage.go
  pkg/mocks/streaming/util/mock_message/mock_ImmutableTxnMessage.go
  pkg/mocks/streaming/util/mock_message/mock_MutableMessage.go
  pkg/streaming/util/message/adaptor/ts_msg_newer.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/codegen/codegen_test.go
  pkg/streaming/util/message/codegen/main.go
  pkg/streaming/util/message/codegen/reflect_info.json
  pkg/streaming/util/message/marshal_log_object.go
  pkg/streaming/util/message/message.go
  pkg/streaming/util/message/message_impl.go
  pkg/streaming/util/message/message_test.go
  pkg/streaming/util/message/message_type.go
  pkg/streaming/util/message/reflect_info.go
  pkg/streaming/util/message/specialized_message.go
  pkg/streaming/util/message/utils.go
Due: Go

Fixed bug for the % was treadted as wildcard with an escape character
  internal/parser/planparserv2/pattern_match.go
  internal/parser/planparserv2/pattern_match_test.go
Due: Go
