Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

test: bump standalone_embed.bat (#43769)
  .github/workflows/bump-version-only-for-standalone-embed-milvus.yaml
Due: none

enhance: [skip e2e] Enhance standalone_embed add DEPLOY_MODE=STANDALONE
  scripts/standalone_embed.bat
  scripts/standalone_embed.sh
Due: none

fix: Delay holmes initialization preventing initialization too soon
  cmd/roles/roles.go
Due: none

[automated] Bump milvus version to v2.6.0 (#43770)
  scripts/standalone_embed.bat
Due: none

enhance: [GoSDK] Add param static check for search iterator
  client/milvusclient/iterator.go
  client/milvusclient/iterator_option.go
  client/milvusclient/iterator_test.go
Due: Client

migrate some cases
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/testcases/test_collection.py
Due: none

enhance: [skip e2e] Enhance standalone_embed add DEPLOY_MODE=STANDALONE (#43772)
  scripts/standalone_embed.bat
  scripts/standalone_embed.sh
Due: none

report field name when text match or pharse match at field not enable match
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

enhance: add internal writer without session lock
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/streaming/walimpls/impls/wp/opener.go
Due: Go

fix: Delay holmes initialization preventing initialization too soon (#43773)
  cmd/roles/roles.go
Due: none

enhance: Improve delegator serviceable check logic in PinReadableSegments (#43768)
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/delegator/distribution_test.go
Due: Go

enhance: [GoSDK] Add param static check for search iterator (#43774)
  client/milvusclient/iterator.go
  client/milvusclient/iterator_option.go
  client/milvusclient/iterator_test.go
Due: Client

address comment and format
  internal/core/src/common/Chunk.h
  internal/core/src/common/VectorTrait.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/indexbuilder/VecIndexCreator.cpp
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/query/SearchBruteForce.cpp
  internal/core/src/query/SearchOnSealed.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/Types.h
  internal/core/src/segcore/load_index_c.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/proxy/proxy_test.go
Due: Core, Go

enhance: Utilize `search_batch_pks` for `search_ids` of PkTerm (#43751)
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/DeletedRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/unittest/test_delete_record.cpp
  internal/core/unittest/test_utils.cpp
Due: Core

test: new search iterator go client cases
  tests/go_client/base/milvus_client.go
  tests/go_client/common/consts.go
  tests/go_client/common/response_checker.go
  tests/go_client/common/utils.go
  tests/go_client/testcases/helper/read_helper.go
  tests/go_client/testcases/search_iterator_test.go
Due: none

Add KeyRetriever for parquet read properties
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/segcore/memory_planner.h
  internal/core/src/segcore/packed_reader_c.cpp
  internal/core/src/segcore/packed_reader_c.h
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/src/segcore/packed_writer_c.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/KeyRetriever.cpp
  internal/core/src/storage/KeyRetriever.h
  internal/core/src/storage/MemFileManagerImpl.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/core/src/storage/plugin/PluginInterface.h
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/datacoord/compaction_task_mix.go
  internal/flushcommon/syncmgr/pack_writer_v2.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_loader.go
  internal/storage/rw.go
  internal/storage/serde_events_v2.go
  internal/storagev2/packed/packed_reader.go
  internal/storagev2/packed/packed_test.go
  internal/storagev2/packed/packed_writer.go
  internal/util/hookutil/cipher.go
  internal/util/segcore/segment.go
Due: Core, Go

fix: Fix golang coding style
  internal/core/src/indexbuilder/index_c.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  internal/core/src/storage/DataCodec.cpp
  internal/core/src/storage/DataCodec.h
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_c_stream_reduce.cpp
  internal/core/unittest/test_packed_c.cpp
  internal/datacoord/task_analyze_test.go
  internal/datanode/index/task_test.go
  internal/proxy/task_upsert_streaming.go
  internal/rootcoord/create_db_task.go
  internal/storage/serde_events_test.go
  internal/util/hookutil/cipher.go
  internal/util/segcore/segment.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/message.go
  pkg/streaming/util/message/message_impl.go
  scripts/start_cluster.sh
Due: Core, Go

feat: support use cipher hook when create message
  internal/proxy/proxy.go
  internal/proxy/task_delete_streaming.go
  internal/proxy/task_insert.go
  internal/proxy/task_insert_streaming.go
  internal/proxy/task_upsert_streaming.go
  internal/streamingnode/server/server.go
  internal/util/hookutil/cipher.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/message.go
  pkg/streaming/util/message/message_impl.go
Due: Go

enhance: make segcore params effective without restarting milvus
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/src/common/Slice.cpp
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/exec/QueryContext.h
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/ThreadPools.cpp
  internal/core/unittest/test_exec.cpp
  internal/core/unittest/test_expr.cpp
  internal/datanode/index/init_segcore.go
  internal/querynodev2/server.go
  pkg/util/paramtable/autoindex_param_test.go
  pkg/util/paramtable/base_table.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/param_item.go
  pkg/util/paramtable/param_item_callback_test.go
  pkg/util/paramtable/util.go
Due: Core, Go

enhance:convert multi not equal to not in
  internal/core/src/exec/expression/Expr.cpp
  internal/core/unittest/test_exec.cpp
Due: Core

enhance: [skip e2e] update nightly helm chart version to 5.0.0
  ci/jenkins/Nightly2.groovy
  ci/jenkins/PR-Arm.groovy
  ci/jenkins/PR-for-go-sdk.groovy
  ci/jenkins/PR.groovy
  ci/jenkins/PRGPU.groovy
Due: none

enhance: update nightly helm chart version to 5.0.0[2.6]
  ci/jenkins/Nightly2.groovy
  ci/jenkins/PR-Arm.groovy
  ci/jenkins/PR-for-go-sdk.groovy
  ci/jenkins/PR.groovy
  ci/jenkins/PRGPU.groovy
Due: none

add file resource api
  go.mod
  go.sum
  internal/allocator/global_id_allocator.go
  internal/coordinator/mix_coord.go
  internal/datacoord/import_checker_test.go
  internal/datacoord/import_inspector_test.go
  internal/datacoord/import_util_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/mock_test.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/distributed/mixcoord/client/client.go
  internal/distributed/mixcoord/service.go
  internal/distributed/proxy/service.go
  internal/metastore/catalog.go
  internal/metastore/kv/datacoord/constant.go
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/mocks/mock_datacoord_catalog.go
  internal/metastore/mocks/mock_rootcoord_catalog.go
  internal/metastore/model/resource.go
  internal/mocks/mock_datacoord.go
  internal/mocks/mock_datacoord_client.go
  internal/mocks/mock_mixcoord.go
  internal/mocks/mock_mixcoord_client.go
  internal/mocks/mock_proxy.go
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  internal/proxy/rootcoord_mock_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/datapb/data_coord_grpc.pb.go
Due: Go

test: new search iterator go client cases (#43771)
  tests/go_client/base/milvus_client.go
  tests/go_client/common/consts.go
  tests/go_client/common/response_checker.go
  tests/go_client/common/utils.go
  tests/go_client/testcases/helper/read_helper.go
  tests/go_client/testcases/search_iterator_test.go
Due: none

enhance: update nightly helm chart version to 5.0.0 (#43787)
  ci/jenkins/Nightly2.groovy
  ci/jenkins/PR-Arm.groovy
  ci/jenkins/PR-for-go-sdk.groovy
  ci/jenkins/PR.groovy
  ci/jenkins/PRGPU.groovy
Due: none

feat:add BatchDescribeCollection interface
  client/go.mod
  client/go.sum
  client/milvusclient/mock_milvus_server_test.go
  go.mod
  go.sum
  internal/distributed/proxy/service.go
  internal/distributed/proxy/service_test.go
  internal/mocks/mock_proxy.go
  internal/proxy/database_interceptor.go
  internal/proxy/database_interceptor_test.go
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  internal/proxy/task.go
  internal/rootcoord/show_collection_task.go
  internal/rootcoord/show_collection_task_test.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

add distance query function
  internal/core/src/expr/ITypeExpr.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProto.h
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_base_visitor.go
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/generated/plan_visitor.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2.go
  internal/parser/planparserv2/utils.go
  internal/proxy/default_limit_reducer.go
  internal/proxy/task_query.go
  internal/proxy/util.go
  internal/querynodev2/segments/distance_executor.go
  internal/querynodev2/segments/distance_metrics.go
  internal/querynodev2/segments/result.go
  internal/querynodev2/segments/retrieve.go
  internal/querynodev2/segments/utils.go
  internal/querynodev2/tasks/query_task.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
  tests/python_client/common/common_type.py
  tests/python_client/testcases/test_distance_query_optimized.py
Due: Core, Go

add distance query function
  internal/querynodev2/segments/result.go
Due: Go

upstream sync
  tests/python_client/common/common_type.py
Due: none

fix: add explicit
  internal/core/src/query/PlanProto.cpp
Due: Core

[2.5][cherry-pick] enhance: milvus support minhash vector and mhjaccard metric
  client/entity/common.go
  internal/core/src/common/Types.h
  internal/core/src/common/Utils.h
  internal/proxy/util.go
  internal/util/indexparamcheck/constraints.go
  pkg/util/metric/metric_type.go
  pkg/util/metric/similarity_corelation.go
Due: Client, Core, Go

enhance: Avoid create local parent dir if fs remote
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
Due: Core

upadte
  internal/core/src/common/Types.h
  internal/util/indexparamcheck/constraints.go
Due: Core, Go

temp storage
  .bw_history
  internal/.mockery.yaml
  pkg/.mockery_pkg.yaml
  pkg/mocks/google.golang.org/grpc/mock_balancer/mock_SubConn.go
  pkg/mocks/google.golang.org/grpc/mock_resolver/mock_ClientConn.go
  pkg/mocks/google.golang.org/mock_grpc/mock_ClientStream.go
  pkg/streaming/util/service/balancer/picker/server_id_picker_test.go
  pkg/streaming/util/service/resolver/builder_test.go
  pkg/streaming/util/service/resolver/resolver_with_discoverer_test.go
  pkg/streaming/util/service/resolver/watch_based_grpc_resolver_test.go
  pkg/streaming/util/status/client_stream_wrapper_test.go
  pkg/util/sessionutil/session_util_test.go
Due: Go

enhance: [StorageV2] Avoid create local parent dir if fs remote (#43790)
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
Due: Core

enhance: make segcore params effective without restarting milvus (#43231)
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/src/common/Slice.cpp
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/exec/QueryContext.h
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/ThreadPools.cpp
  internal/core/unittest/test_exec.cpp
  internal/core/unittest/test_expr.cpp
  internal/datanode/index/init_segcore.go
  internal/querynodev2/server.go
  pkg/util/paramtable/autoindex_param_test.go
  pkg/util/paramtable/base_table.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/param_item.go
  pkg/util/paramtable/param_item_callback_test.go
  pkg/util/paramtable/util.go
Due: Core, Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
