Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: fix isJson -> isJSON rename miss and remove unused fmt import
  internal/datacoord/index_service.go
  internal/datacoord/segment_info.go
Due: Go

fix: fix remaining QF1001 lint violations missed in cherry-pick
  internal/flushcommon/writebuffer/write_buffer.go
  internal/querynodev2/segments/segment_loader.go
  pkg/config/manager_test.go
Due: Go

fix: bump Go to 1.25.9 and otel/sdk to 1.43.0 for CVE-2026-32280, CVE-2026-32282, CVE-2026-39883
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
Due: Go

fix: simplify embedded CollectionSchema field access (QF1001)
  internal/proxy/service_provider.go
Due: Go

fix: fix remaining lint violations missed in cherry-pick to 2.6
  internal/proxy/proxy_rpc_test.go
  internal/proxy/proxy_test.go
  internal/rootcoord/mock_test.go
  internal/storage/payload_writer.go
  internal/util/function/rerank/decay_function.go
  internal/util/function/rerank/decay_function_test.go
  internal/util/function/rerank/function_score.go
  internal/util/function/rerank/function_score_test.go
  internal/util/function/rerank/model_function.go
  internal/util/function/rerank/model_function_test.go
  internal/util/function/rerank/rerank_base.go
  internal/util/function/rerank/rrf_function.go
  internal/util/function/rerank/rrf_function_test.go
  internal/util/function/rerank/util.go
  internal/util/function/rerank/util_test.go
  internal/util/function/rerank/weighted_function.go
  internal/util/function/rerank/weighted_function_test.go
  tests/go_client/testcases/reranker_function_test.go
Due: Go

fix: remove unused queryNode.ioPoolSize parameter
  internal/querynodev2/segments/segment_loader.go
  pkg/util/paramtable/component_param.go
Due: Go

build: upgrade mockey to v1.4.5 and sonic to v1.15.0 for Go 1.26 compatibility
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
Due: Go

build: upgrade Go toolchain from 1.25 to 1.26.2
  .github/workflows/mac.yaml
  build/docker/builder/cpu/amazonlinux2023/Dockerfile
  build/docker/builder/cpu/rockylinux9/Dockerfile
  build/docker/builder/cpu/ubuntu20.04/Dockerfile
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/cpu/ubuntu24.04/Dockerfile
  build/docker/builder/gpu/ubuntu20.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
  client/go.mod
  examples/telemetry_demo/go.mod
  examples/telemetry_e2e_test/go.mod
  go.mod
  pkg/go.mod
  tests/go_client/Dockerfile
  tests/go_client/go.mod
Due: Client, Go

fix: clean Go build cache before UT to handle toolchain version switch
  scripts/run_go_codecov.sh
Due: none

fix: address code review issues in executor memory budget
  internal/querycoordv2/assign/assign_policy.go
  internal/querycoordv2/checkers/balance_checker.go
  internal/querycoordv2/checkers/balance_checker_test.go
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/dist/dist_controller_test.go
  internal/querycoordv2/dist/dist_handler.go
  internal/querycoordv2/dist/dist_handler_test.go
  internal/querycoordv2/task/executor.go
  internal/querycoordv2/task/executor_test.go
  internal/querycoordv2/task/mock_scheduler.go
  internal/querycoordv2/task/scheduler.go
  pkg/proto/querypb/query_coord.pb.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: correct Sub() log message from "already exists" to "not found"
  internal/querycoordv2/task/scheduler.go
Due: Go

Address comment
  internal/core/src/segcore/SegmentLoadInfo.cpp
Due: Core

test: update test_range_search_only_range_filter to verify reject behavior
  tests/python_client/milvus_client_v2/test_milvus_client_range_search.py
Due: none

fix: fix remaining lint violations missed in cherry-pick to 3.0
  internal/metastore/kv/rootcoord/suffix_snapshot.go
  internal/proxy/search_pipeline.go
  internal/streamingnode/client/handler/handler_client_impl.go
  internal/util/function/rerank/decay_function.go
  internal/util/function/rerank/decay_function_test.go
  internal/util/function/rerank/function_score.go
  internal/util/function/rerank/function_score_test.go
  internal/util/function/rerank/model_function.go
  internal/util/function/rerank/model_function_test.go
  internal/util/function/rerank/rerank_base.go
  internal/util/function/rerank/rrf_function.go
  internal/util/function/rerank/rrf_function_test.go
  internal/util/function/rerank/util.go
  internal/util/function/rerank/util_test.go
  internal/util/function/rerank/weighted_function.go
  internal/util/function/rerank/weighted_function_test.go
  tests/go_client/testcases/reranker_function_test.go
Due: Go

fix: fix remaining lint violations missed in cherry-pick to 2.6
  internal/proxy/search_pipeline.go
  internal/util/function/rerank/decay_function.go
  internal/util/function/rerank/decay_function_test.go
  internal/util/function/rerank/model_function_test.go
  internal/util/function/rerank/util.go
  internal/util/function/rerank/util_test.go
  tests/go_client/testcases/reranker_function_test.go
Due: Go

enhance: [v2bacfill] replace stale columns when load-diff groups swap files
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/SegmentLoadInfo.h
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
Due: Core

enhance: [v2backfill] replace stale columns when load-diff groups swap files (#49142)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/SegmentLoadInfo.h
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
Due: Core

test: Increase PyMilvus version to 2.7.0rc197
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.6.13rc2
  tests/python_client/requirements.txt
Due: none

fix: remove extra blank lines flagged by gofmt
  internal/proxy/search_pipeline.go
  internal/rootcoord/root_coord.go
Due: Go

fix: remove extra blank lines flagged by gofmt
  internal/querycoordv2/checkers/segment_checker_test.go
  pkg/util/typeutil/schema.go
Due: Go

Address comment
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
Due: Core

enhance: optimize BM25 stats memory accounting
  configs/milvus.yaml
  internal/querynodev2/delegator/idf_oracle.go
  internal/storage/stats.go
  internal/storage/stats_test.go
  pkg/util/paramtable/component_param.go
Due: Go

Address commit 2
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
Due: Core

fix: replace math.Pow with multiplication for QF1005
  internal/util/function/rerank/decay_function.go
Due: Go

fix: prevent nil pointer panic in go_client teardown when Milvus is unreachable (#49112)
  tests/go_client/base/milvus_client.go
  tests/go_client/testcases/helper/test_setup.go
Due: none

fix: update builder Dockerfiles to Go 1.25.9
  build/docker/builder/cpu/amazonlinux2023/Dockerfile
  build/docker/builder/cpu/rockylinux9/Dockerfile
  build/docker/builder/cpu/ubuntu20.04/Dockerfile
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/cpu/ubuntu24.04/Dockerfile
  build/docker/builder/gpu/ubuntu20.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
Due: none

fix: update builder Dockerfiles to Go 1.25.9
  build/docker/builder/cpu/amazonlinux2023/Dockerfile
  build/docker/builder/cpu/ubuntu20.04/Dockerfile
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/gpu/ubuntu20.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
Due: none

fix: remove 3.0-only TestReopenOnStaleDataVersion from 2.6 cherry-pick
  internal/querycoordv2/checkers/segment_checker_test.go
Due: Go

fix: resolve QF1008, QF1001, ST1005 lint violations from Jenkins logs
  internal/metastore/kv/rootcoord/suffix_snapshot.go
  internal/querynodev2/segments/segment_filter.go
  internal/util/function/rerank/function_score.go
Due: Go

fix: remove trailing period from error string (ST1005)
  internal/util/function/rerank/function_score.go
Due: Go

enhance: replace stale columns when load-diff groups keep shape but swap files (#49066)
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/SegmentLoadInfo.h
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
Due: Core

fix: resolve remaining lint violations (gocritic, staticcheck QF) and test assertion
  internal/datacoord/compaction_policy_single.go
  internal/datanode/compactor/clustering_compactor.go
  internal/datanode/importv2/task.go
  internal/datanode/importv2/util_test.go
  internal/distributed/streaming/txn.go
  internal/proxy/task_query.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/querynodev2/segments/result.go
  internal/rootcoord/create_collection_task.go
  internal/streamingnode/server/flusher/flusherimpl/wal_flusher.go
Due: Go

enhance: [3.0] replace stale columns when load-diff groups keep shape but swap files (#49066) (#49149)
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/SegmentLoadInfo.h
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
Due: Core
