Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

test: extend HNSW SQ index build timeout
  tests/python_client/testcases/indexes/test_hnsw_sq.py
Due: none

test: clean up HNSW SQ test lint
  tests/python_client/testcases/indexes/test_hnsw_sq.py
Due: none

test: preserve HNSW SQ test formatting
  tests/python_client/testcases/indexes/test_hnsw_sq.py
Due: none

test: extend struct array index build timeout
  tests/python_client/milvus_client/test_milvus_client_struct_array_nullable.py
Due: none

fix: preserve object storage cancellation errors
  internal/storage/azure_object_storage.go
  internal/storage/minio_object_storage.go
  internal/storage/minio_object_storage_test.go
  internal/storage/remote_chunk_manager.go
  internal/storage/remote_chunk_manager_test.go
Due: Go

test: fix flaky concurrent-close function-runner test under -race (#51731)
  internal/querynodev2/delegator/delegator_test.go
  internal/util/function/manager_test.go
Due: Go

test: [3.0] pin CI scalar index version to 4 so JSON path index tests can run
  tests/_helm/values/e2e-amd/distributed-pulsar
  tests/_helm/values/e2e-amd/distributed-woodpecker-service-boundary
  tests/_helm/values/e2e-amd/standalone
  tests/_helm/values/e2e-amd/standalone-kafka-mmap
  tests/_helm/values/e2e-arm/distributed-pulsar
  tests/_helm/values/e2e-arm/distributed-woodpecker-service-boundary
  tests/_helm/values/e2e-arm/standalone
  tests/_helm/values/e2e-arm/standalone-kafka-mmap
  tests/_helm/values/e2e/distributed-pulsar
  tests/_helm/values/e2e/standalone
  tests/_helm/values/e2e/standalone-kafka-mmap
  tests/_helm/values/nightly/distributed-kafka
  tests/_helm/values/nightly/distributed-pulsar-mmap
  tests/_helm/values/nightly/distributed-woodpecker
  tests/_helm/values/nightly/distributed-woodpecker-service
  tests/_helm/values/nightly/standalone-authentication-mmap
Due: none

test: gate scalar v4 e2e cases by resolved version
  internal/datacoord/metrics_info.go
  internal/datacoord/server_test.go
  pkg/util/metricsinfo/metrics_info.go
  pkg/util/metricsinfo/metrics_info_test.go
  tests/python_client/common/index_version.py
  tests/python_client/common/milvus_sys.py
  tests/python_client/common/test_index_version.py
  tests/python_client/conftest.py
  tests/python_client/milvus_client/expressions/test_milvus_client_json_filtering.py
  tests/python_client/milvus_client/test_milvus_client_compact.py
  tests/python_client/milvus_client/test_milvus_client_delete.py
  tests/python_client/milvus_client/test_milvus_client_hybrid_search.py
  tests/python_client/milvus_client/test_milvus_client_index.py
  tests/python_client/milvus_client/test_milvus_client_json_path_index.py
  tests/python_client/milvus_client/test_milvus_client_query.py
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/milvus_client/test_milvus_client_search_iterator.py
Due: Go

test: fix Python import order
  tests/python_client/common/milvus_sys.py
  tests/python_client/conftest.py
Due: none

test: format Python metrics helper
  tests/python_client/common/milvus_sys.py
Due: none

fix: [3.0] honor resolved index versions (#51798)
  internal/datacoord/compaction_task_bump_schema_version.go
  internal/datacoord/compaction_task_bump_schema_version_test.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/metrics_info.go
  internal/datacoord/server_test.go
  pkg/common/common.go
  pkg/util/metricsinfo/metrics_info.go
  pkg/util/metricsinfo/metrics_info_test.go
  tests/python_client/common/index_version.py
  tests/python_client/common/milvus_sys.py
  tests/python_client/common/test_index_version.py
  tests/python_client/conftest.py
  tests/python_client/milvus_client/expressions/test_milvus_client_json_filtering.py
  tests/python_client/milvus_client/test_milvus_client_compact.py
  tests/python_client/milvus_client/test_milvus_client_delete.py
  tests/python_client/milvus_client/test_milvus_client_hybrid_search.py
  tests/python_client/milvus_client/test_milvus_client_index.py
  tests/python_client/milvus_client/test_milvus_client_json_path_index.py
  tests/python_client/milvus_client/test_milvus_client_query.py
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/milvus_client/test_milvus_client_search_iterator.py
Due: Go

chore: regenerate mock_proxy.go to include CreateNamespace
  internal/mocks/mock_proxy.go
Due: none

fix: retry missing import job on commit ack (#51722)
  internal/datacoord/ddl_callbacks_import.go
  internal/datacoord/ddl_callbacks_import_test.go
Due: Go

fix: avoid duplicate bump text stats prefix
  internal/datanode/compactor/bump_schema_version_compactor.go
  internal/datanode/compactor/bump_schema_version_compactor_test.go
Due: Go

fix: [cp3.0]Return early after parameter validation fails in RESTful v2 function DDL handlers (#51698)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
Due: Go

fix: decode field stats centroids explicitly instead of relying on decoder merge
  internal/storage/field_stats.go
  internal/storage/field_stats_test.go
Due: Go

fix: [cp2.6]Return early after parameter validation fails in RESTful v2 function DDL handlers (#51699)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
Due: Go

fix: [cp3.0]roll back file resource refs on download failure (#51702)
  internal/util/fileresource/manager.go
  internal/util/fileresource/manager_test.go
Due: Go

fix: gate collection-rooted index layout behind an explicit opt-in (#51802)
  configs/milvus.yaml
  internal/datacoord/index_engine_version_manager.go
  internal/datacoord/index_engine_version_manager_test.go
  internal/datacoord/server_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: revert "base==current CAS for the sort-stats and external-refresh manifest adoptions"
  internal/datacoord/external_collection_refresh_checker.go
  internal/datacoord/external_collection_refresh_checker_test.go
  internal/datacoord/external_collection_refresh_inspector.go
  internal/datacoord/external_collection_refresh_inspector_test.go
  internal/datacoord/external_collection_refresh_manager.go
  internal/datacoord/external_collection_refresh_manager_test.go
  internal/datacoord/external_collection_refresh_meta.go
  internal/datacoord/external_collection_refresh_meta_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/session/cluster.go
  internal/datacoord/session/mock_cluster.go
  internal/datacoord/task_refresh_external_collection.go
  internal/datacoord/task_refresh_external_collection_test.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
  internal/datanode/external/manager.go
  internal/datanode/external/manager_test.go
  internal/datanode/external/milvus_table_refresh.go
  internal/datanode/external/milvus_table_refresh_test.go
  internal/datanode/external/task_update.go
  internal/datanode/index/task_stats.go
  internal/datanode/services.go
  internal/datanode/services_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

fix: revert "base==current CAS for the sort-stats and external-refresh manifest adoptions" (#51872)
  internal/datacoord/external_collection_refresh_checker.go
  internal/datacoord/external_collection_refresh_checker_test.go
  internal/datacoord/external_collection_refresh_inspector.go
  internal/datacoord/external_collection_refresh_inspector_test.go
  internal/datacoord/external_collection_refresh_manager.go
  internal/datacoord/external_collection_refresh_manager_test.go
  internal/datacoord/external_collection_refresh_meta.go
  internal/datacoord/external_collection_refresh_meta_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/session/cluster.go
  internal/datacoord/session/mock_cluster.go
  internal/datacoord/task_refresh_external_collection.go
  internal/datacoord/task_refresh_external_collection_test.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
  internal/datanode/external/manager.go
  internal/datanode/external/manager_test.go
  internal/datanode/external/milvus_table_refresh.go
  internal/datanode/external/milvus_table_refresh_test.go
  internal/datanode/external/task_update.go
  internal/datanode/index/task_stats.go
  internal/datanode/services.go
  internal/datanode/services_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

fix: gate the IO metric on what was measured, not on current config
  internal/core/src/query/ExecPlanNodeVisitor.cpp
Due: Core

test: skip index regression tests (storage v2 correctness + skip effect)
  internal/core/src/index/skipindex_stats/SkipIndexStatsTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
Due: Core

fix: correct silent-drop bugs in parquet-stats skip index
  internal/core/src/index/skipindex_stats/SkipIndexStats.cpp
  internal/core/src/index/skipindex_stats/SkipIndexStats.h
  internal/core/src/index/skipindex_stats/SkipIndexStatsTest.cpp
Due: Core

enhance: make the skip-metrics seam storage-neutral and stop re-reading footers
  internal/core/src/index/SkipIndex.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
Due: Core

enhance: skip index avoids materializing pruned chunks (IO saving)
  internal/core/src/exec/expression/Expr.h
Due: Core

enhance: fix storage-v2 stats skip index alignment and use-after-free
  configs/milvus.yaml
  internal/core/src/index/SkipIndex.cpp
  internal/core/src/index/SkipIndex.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  pkg/util/paramtable/component_param.go
Due: Core, Go

fix: make the new skip-index metrics trustworthy
  internal/core/src/exec/expression/Expr.h
  internal/core/src/index/SkipIndex.h
  internal/core/src/query/ExecPlanNodeVisitor.cpp
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
Due: Core

enhance: expose skip-index effectiveness and per-query storage traffic
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/monitor/Monitor.cpp
  internal/core/src/monitor/Monitor.h
  internal/core/src/query/ExecPlanNodeVisitor.cpp
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
Due: Core

fix: stop pruning integer Mul/Div arithmetic predicates
  internal/core/src/index/SkipIndex.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
Due: Core

enhance: keep v2 skip metrics evictable via a lazy footer stats source
  internal/core/src/index/SkipIndex.cpp
  internal/core/src/index/SkipIndex.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslatorTest.cpp
Due: Core

enhance: re-enable sealed VARCHAR IN pruning (scan + prefetch)
  internal/core/src/exec/expression/TermExpr.cpp
Due: Core

fix: prune the in-scan prefetch too, so skipping saves IO by default
  internal/core/src/exec/expression/Expr.h
Due: Core

enhance: export filesystem metrics on scrape instead of on task completion
  cmd/roles/roles.go
  internal/datanode/compactor/executor.go
  internal/datanode/index/scheduler.go
  internal/flushcommon/syncmgr/task.go
  internal/querynodev2/services.go
  internal/storagev2/filesystem_metrics.go
  internal/storagev2/filesystem_metrics_test.go
  pkg/metrics/persistent_store_metrics.go
  pkg/metrics/persistent_store_metrics_test.go
Due: Go

fix: make adminAuthEnabled actually settable and keep 503 distinct from 401
  internal/http/auth_test.go
  internal/http/rbac.go
  internal/http/server.go
  internal/util/adminauth/verifier.go
  internal/util/adminauth/verifier_test.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: stop rebuilding the default storage config on every scrape
  internal/storagev2/filesystem_metrics.go
  internal/storagev2/filesystem_metrics_test.go
Due: Go

fix: stop handing Go dangling pointers from GetAnalyzeResultMeta
  internal/core/src/clustering/KmeansClustering.h
  internal/core/src/clustering/analyze_c.cpp
  internal/core/src/clustering/analyze_c.h
  internal/util/analyzecgowrapper/analyze.go
Due: Core, Go

fix: [3.0] run external collection refresh in one task
  internal/datacoord/external_collection_refresh_manager.go
  internal/datacoord/external_collection_refresh_manager_test.go
  internal/datacoord/task_refresh_external_collection.go
  internal/datacoord/task_refresh_external_collection_test.go
Due: Go

fix: [3.0] bound external refresh segment ID allocation
  internal/datacoord/task_refresh_external_collection.go
  internal/datacoord/task_refresh_external_collection_test.go
  pkg/util/paramtable/component_param.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
