Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: [cp2.5.13] OR binary expr is prunable only when both children are prunable (#48355)
  internal/util/exprutil/expr_checker.go
  internal/util/exprutil/expr_checker_test.go
Due: Go

feat: add TruncateCollection to Go SDK client
  client/milvusclient/collection.go
  client/milvusclient/collection_options.go
  client/milvusclient/collection_test.go
Due: Client

fix format
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_ngram_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/index_writer_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v7/index_writer_text.rs
Due: Core

enhance: [2.6] optimize unfiltered search on sealed segments
  internal/core/CMakeLists.txt
  internal/core/src/exec/QueryContext.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/exec/operator/FilterBitsNode.h
  internal/core/src/exec/operator/MvccNode.cpp
  internal/core/src/exec/operator/VectorSearchNode.cpp
  internal/core/src/query/ExecPlanNodeVisitor.cpp
  internal/core/src/query/ExecPlanNodeVisitor.h
  internal/proxy/search_pipeline.go
  internal/proxy/shardclient/lb_policy.go
  internal/proxy/task_scheduler.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/handlers.go
  internal/querynodev2/segments/search.go
  internal/querynodev2/segments/search_reduce.go
  internal/querynodev2/services.go
  pkg/util/timerecord/time_recorder.go
Due: Core, Go

fix: repair error codes and trivially-true assertion in range search/alias tests
  tests/python_client/milvus_client_v2/test_milvus_client_alias_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_range_search.py
Due: none

enhance: [cp26] unify KV path/key convention with GetPath and typed prefix/key builders (#48133)
  internal/kv/etcd/embed_etcd_kv.go
  internal/kv/etcd/etcd_kv.go
  internal/kv/etcd/etcd_kv_test.go
  internal/kv/etcd/util.go
  internal/kv/tikv/txn_tikv.go
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/kv/datacoord/kv_catalog_test.go
  internal/metastore/kv/datacoord/util.go
  internal/metastore/kv/querycoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/metastore/kv/rootcoord/rootcoord_constant.go
  internal/metastore/kv/rootcoord/suffix_snapshot.go
  internal/metastore/kv/rootcoord/suffix_snapshot_test.go
  internal/metastore/kv/streamingnode/kv_catalog.go
  internal/metastore/kv/streamingnode/kv_catalog_test.go
  pkg/util/funcutil/func.go
  pkg/util/funcutil/func_test.go
  pkg/util/kvutil.go
Due: Go

enhance: add all-replicas-ready checkpoint metric for query coord (#48305)
  internal/querycoordv2/meta/target_manager.go
  internal/querycoordv2/observers/target_observer.go
  internal/querycoordv2/observers/target_observer_test.go
  pkg/metrics/querycoord_metrics.go
Due: Go

fix: update build env image tag to 20260318-9434793
  .env
Due: none

test: Increase PyMilvus version to 2.6.11rc3
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.7.0rc159
  tests/python_client/requirements.txt
Due: none

enhance: skip remote and env config sources in yaml generation (#48358)
  cmd/tools/config/generate.go
Due: none

feat: add TruncateCollection to Go SDK client (#48361)
  client/milvusclient/collection.go
  client/milvusclient/collection_options.go
  client/milvusclient/collection_test.go
Due: Client

fix: split QueryCoord executor into channel/non-channel pools to prev… (#48309)
  configs/milvus.yaml
  internal/querycoordv2/task/executor.go
  internal/querycoordv2/task/executor_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: use request.cls to set shared_data as class attribute in fixture
  tests/python_client/milvus_client_v2/test_milvus_client_range_search.py
Due: none

fix: remove false-pass bypass in check_search_results for empty hits
  tests/python_client/check/func_check.py
Due: none

enhance: add debug logs for collection load path
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/observers/collection_observer.go
Due: Go

fix: upgrade golangci-lint to v2.11.3 for Go 1.25 compatibility
  .golangci.yml
  Makefile
  client/.golangci.yml
  tests/go_client/.golangci.yml
Due: Client

fix: [RBAC] address review comments for entity-based grant migration
  configs/milvus.yaml
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/proxy/impl.go
  internal/proxy/privilege_interceptor.go
  internal/rootcoord/meta_table.go
  pkg/util/funcutil/policy.go
  pkg/util/paramtable/component_param.go
Due: Go

test: Fix hybrid_search critical bugs and verification gaps (#48342)
  tests/python_client/milvus_client_v2/test_milvus_client_hybrid_search_v2.py
Due: none

fix: use correct primary key field name in pagination test
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
Due: none

fix: reset inner index ptr before remove_all in JsonKeyStats destructor
  internal/core/src/index/json_stats/JsonKeyStats.cpp
Due: Core

enhance: make GetVersion return docker-image-tag style version string (#47822)
  Makefile
  cmd/milvus/milvus.go
  cmd/milvus/run.go
Due: none

fix: use per-command safe.directory for git in Makefile (#47916)
  Makefile
Due: none

enhance: use effective version in banner and metrics BuildInfo label (#47953)
  cmd/milvus/run.go
Due: none

enhance: low-risk balance system improvements and bug fixes
  internal/querycoordv2/assign/assign_policy.go
  internal/querycoordv2/assign/assign_policy_score.go
  internal/querycoordv2/assign/node_item.go
  internal/querycoordv2/assign/node_item_test.go
  internal/querycoordv2/assign/priority_queue_test.go
  internal/querycoordv2/balance/balance.go
  internal/querycoordv2/balance/channel_level_score_balancer.go
  internal/querycoordv2/balance/channel_level_score_balancer_test.go
  internal/querycoordv2/balance/helper.go
  internal/querycoordv2/balance/multi_target_balance.go
  internal/querycoordv2/balance/rowcount_based_balancer.go
  internal/querycoordv2/balance/rowcount_based_balancer_test.go
  internal/querycoordv2/balance/score_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer_test.go
  internal/querycoordv2/balance/stopping_balancer.go
  internal/querycoordv2/task/scheduler.go
Due: Go

enhance: Add channel-based node blacklist for LB policy retry (#46091)
  internal/proxy/shardclient/channel_blacklist.go
  internal/proxy/shardclient/channel_blacklist_test.go
  internal/proxy/shardclient/lb_policy.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

enhance: Improve balance system with type-safe interface, shared helper, and dead code cleanup
  internal/querycoordv2/assign/assign_policy.go
  internal/querycoordv2/assign/assign_policy_score.go
  internal/querycoordv2/assign/node_item.go
  internal/querycoordv2/assign/node_item_test.go
  internal/querycoordv2/assign/priority_queue_test.go
  internal/querycoordv2/balance/balance.go
  internal/querycoordv2/balance/channel_level_score_balancer.go
  internal/querycoordv2/balance/channel_level_score_balancer_test.go
  internal/querycoordv2/balance/helper.go
  internal/querycoordv2/balance/multi_target_balance.go
  internal/querycoordv2/balance/rowcount_based_balancer.go
  internal/querycoordv2/balance/rowcount_based_balancer_test.go
  internal/querycoordv2/balance/score_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer_test.go
  internal/querycoordv2/balance/stopping_balancer.go
  internal/querycoordv2/task/scheduler.go
Due: Go

fix nested index loading error
  internal/core/src/indexbuilder/ScalarIndexCreator.cpp
  internal/core/src/segcore/Utils.cpp
  internal/core/unittest/test_element_filter.cpp
Due: Core

fix: force minio credential refresh to prevent stale token caching (#48377)
  pkg/objectstorage/huawei/huawei.go
Due: Go

fix: [2.6] split QueryCoord executor into channel/non-channel pools to prevent deadlock (#48351)
  configs/milvus.yaml
  internal/querycoordv2/task/executor.go
  internal/querycoordv2/task/executor_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: use varchar PK filter in test_search_with_scalar_field
  tests/python_client/milvus_client_v2/test_milvus_client_search_diskann.py
Due: none

test: add RBAC prefix isolation tests for PR #48053
  tests/python_client/milvus_client/test_milvus_client_rbac.py
Due: none

enhance: Bump milvus & proto to v2.6.13
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix: fix defer in loop causing resource leak in fileresource, importv2, and idf_oracle (#48353)
  internal/datanode/importv2/util.go
  internal/querynodev2/delegator/idf_oracle.go
  internal/util/fileresource/manager.go
Due: Go

fix: reset inner index ptr before remove_all in JsonKeyStats destructor (#48369)
  internal/core/src/index/json_stats/JsonKeyStats.cpp
Due: Core

fix: [2.6] resolve concurrent map write race in timeoutMiddleware (#48317) (#48356)
  internal/distributed/proxy/httpserver/timeout_middleware.go
Due: Go

fix: add missing @pytest.mark.tags(CaseLabel.L2) to three parametrized L2 tests
  tests/python_client/milvus_client_v2/test_milvus_client_search_load.py
Due: none

fix: use sliding window for old version message lastConfirmedMessageID to prevent long catchup
  internal/streamingnode/server/wal/adaptor/scanner_switchable.go
  internal/streamingnode/server/wal/adaptor/scanner_switchable_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go
