Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

feat: support JSON value replacement through partial upsert paths
  client/milvusclient/write_options.go
  client/milvusclient/write_options_partial_op_test.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  internal/proxy/fieldvalidator/validate_util.go
  internal/proxy/fieldvalidator/validate_util_test.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_json_path.go
  internal/proxy/task_upsert_partial_op.go
  internal/proxy/task_upsert_partial_op_test.go
  tests/go_client/testcases/upsert_array_partial_op_test.go
Due: Client, Go

feat: support positional replacement for array and struct values
  client/column/struct.go
  client/column/struct_test.go
  client/milvusclient/read.go
  client/milvusclient/write_option_test.go
  client/milvusclient/write_options.go
  client/milvusclient/write_options_partial_op_test.go
  client/row/data.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/distributed/proxy/httpserver/request_v2_test.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  internal/proxy/impl.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_partial_op.go
  internal/proxy/task_upsert_partial_op_test.go
  internal/proxy/task_upsert_test.go
  internal/proxy/util.go
  pkg/metrics/metrics_test.go
  pkg/metrics/proxy_metrics.go
  pkg/util/typeutil/field_data_test.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_partial_op_test.go
  tests/go_client/testcases/struct_array_test.go
  tests/go_client/testcases/upsert_array_partial_op_test.go
Due: Client, Go

doc: define array struct and JSON path replacement boundaries
  docs/design-docs/design_docs/20260901-array-positional-partial-update.md
Due: none

test: cover partial upsert operand and row validation
  client/column/struct_test.go
  client/milvusclient/write_options_partial_op_test.go
  client/row/data_test.go
  internal/distributed/proxy/httpserver/utils_test.go
  internal/proxy/task_upsert_partial_op_test.go
  pkg/util/typeutil/schema_partial_op_test.go
Due: Client, Go

enhance: remove growing-source flush from the write buffer and sync manager
  internal/flushcommon/metacache/actions.go
  internal/flushcommon/metacache/flush_source.go
  internal/flushcommon/metacache/segment.go
  internal/flushcommon/pipeline/data_sync_service.go
  internal/flushcommon/syncmgr/growing_source.go
  internal/flushcommon/syncmgr/growing_source_test.go
  internal/flushcommon/syncmgr/meta_writer.go
  internal/flushcommon/syncmgr/meta_writer_test.go
  internal/flushcommon/syncmgr/mock_meta_writer.go
  internal/flushcommon/syncmgr/sync_manager.go
  internal/flushcommon/util/util.go
  internal/flushcommon/writebuffer/l0_write_buffer.go
  internal/flushcommon/writebuffer/l0_write_buffer_test.go
  internal/flushcommon/writebuffer/manager.go
  internal/flushcommon/writebuffer/mock_manager.go
  internal/flushcommon/writebuffer/mock_write_buffer.go
  internal/flushcommon/writebuffer/options.go
  internal/flushcommon/writebuffer/write_buffer.go
  internal/flushcommon/writebuffer/write_buffer_test.go
Due: Go

fix: isolate strict group completion search parameters and debug logging
  configs/milvus.yaml
  internal/core/src/common/Consts.h
  internal/core/src/common/QueryInfo.h
  internal/core/src/exec/operator/search-groupby/StrictGroupFilteredSearch.cpp
  internal/core/src/exec/operator/search-groupby/StrictGroupFilteredSearchTest.cpp
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProtoTest.cpp
  internal/core/src/query/SearchOnSealedIndexBitsetLifetimeTest.cpp
  internal/core/src/query/Utils.h
  internal/util/searchutil/optimizers/query_hook.go
  internal/util/searchutil/optimizers/query_hook_test.go
  pkg/common/common.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Core, Go

fix: clean up strict group sampling remnants and weight diagnostics
  internal/core/src/exec/operator/search-groupby/StrictGroupFilteredSearch.cpp
  internal/core/src/query/SearchOnSealed.cpp
  internal/util/searchutil/optimizers/query_hook.go
  internal/util/searchutil/optimizers/query_hook_test.go
Due: Core, Go

fix: weight strict group discovery budget and preserve CI compatibility
  configs/milvus.yaml
  internal/core/src/common/Consts.h
  internal/core/src/common/QueryInfo.h
  internal/core/src/exec/operator/Utils.h
  internal/core/src/exec/operator/search-groupby/StrictGroupFilteredSearch.cpp
  internal/core/src/exec/operator/search-groupby/StrictGroupFilteredSearchTest.cpp
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProtoTest.cpp
  internal/core/src/query/Utils.h
  internal/util/searchutil/optimizers/query_hook.go
  internal/util/searchutil/optimizers/query_hook_test.go
  pkg/common/common.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Core, Go

test: adapt independent search regressions to master indexing entries
  internal/core/src/query/SearchOnSealedIndexBitsetLifetimeTest.cpp
Due: Core

fix: complete strict groups with per-group filtered search
  configs/milvus.yaml
  internal/core/src/common/Consts.h
  internal/core/src/common/QueryInfo.h
  internal/core/src/common/QueryResult.h
  internal/core/src/exec/operator/Utils.h
  internal/core/src/exec/operator/VectorSearchNode.cpp
  internal/core/src/exec/operator/search-groupby/GroupMembership.cpp
  internal/core/src/exec/operator/search-groupby/GroupMembership.h
  internal/core/src/exec/operator/search-groupby/StrictGroupFilteredSearch.cpp
  internal/core/src/exec/operator/search-groupby/StrictGroupFilteredSearchTest.cpp
  internal/core/src/monitor/Monitor.cpp
  internal/core/src/monitor/Monitor.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProtoTest.cpp
  internal/core/src/query/SearchOnGrowing.cpp
  internal/core/src/query/SearchOnSealed.cpp
  internal/core/src/query/SearchOnSealedIndexBitsetLifetimeTest.cpp
  internal/core/src/query/Utils.h
  internal/core/src/segcore/IndexConfigGenerator.cpp
  internal/util/searchutil/optimizers/query_hook.go
  internal/util/searchutil/optimizers/query_hook_test.go
  pkg/common/common.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Core, Go

test: isolate strict group log assertions from background logs
  internal/util/searchutil/optimizers/query_hook_test.go
Due: Go

feat: [3.0] preserve primary keys in full AutoID upsert (#53511)
  client/milvusclient/write_option_test.go
  client/milvusclient/write_options.go
  docs/design-docs/design_docs/20260601-partial-update-optimistic-lock-design.md
  docs/design-docs/design_docs/20260803-autoid-upsert-primary-key-preservation.md
  internal/proxy/proxy_test.go
  internal/proxy/task_query_test.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_streaming.go
  internal/proxy/task_upsert_test.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  tests/go_client/testcases/nullable_default_value_test.go
  tests/go_client/testcases/upsert_test.go
  tests/integration/hellomilvus/upsert_test.go
  tests/python_client/milvus_client/test_milvus_client_partition.py
  tests/python_client/milvus_client/test_milvus_client_upsert.py
  tests/restful_client_v2/testcases/test_vector_operations.py
Due: Client, Go

enhance: remove the growing-source flush gate and its C API
  .gitignore
  configs/milvus.yaml
  docs/design-docs/design_docs/20260407-text_lob_storage.md
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/SegmentGrowingIndexTest.cpp
  internal/core/src/segcore/flush_growing_segment_test.cpp
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/unittest/test_utils/SegcoreConfigUtils.h
  internal/util/initcore/query_node.go
  pkg/metrics/datanode_metrics.go
  pkg/metrics/querynode_metrics.go
  pkg/util/paramtable/component_param.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
  tests/integration/cmek/raw_data_v2_test.go
  tests/integration/cmek/vector_index_test.go
Due: Core, Go

enhance: add a single-settlement sync reservation to metacache
  internal/flushcommon/metacache/reservation.go
  internal/flushcommon/metacache/reservation_test.go
Due: Go

enhance: make segment row accounting delta-only through the reservation
  internal/flushcommon/metacache/actions.go
  internal/flushcommon/syncmgr/options.go
  internal/flushcommon/syncmgr/serializer.go
  internal/flushcommon/syncmgr/task.go
  internal/flushcommon/writebuffer/insert_buffer.go
  internal/flushcommon/writebuffer/insert_buffer_test.go
  internal/flushcommon/writebuffer/l0_write_buffer.go
  internal/flushcommon/writebuffer/write_buffer.go
Due: Go

enhance: release checkpoint pins from one settlement point
  internal/flushcommon/writebuffer/write_buffer.go
  internal/flushcommon/writebuffer/write_buffer_test.go
Due: Go

fix: validate collection metadata under resource lock (#52154)
  internal/datacoord/ddl_callbacks.go
  internal/datacoord/ddl_callbacks_import.go
  internal/datacoord/ddl_callbacks_import_test.go
  internal/datacoord/import_services_test.go
Due: Go

fix: retry channel-not-found instead of reporting flush success
  docs/design-docs/design_docs/20260918-remove-growing-source-flush.md
  internal/flushcommon/syncmgr/meta_writer.go
  internal/flushcommon/syncmgr/meta_writer_test.go
  internal/flushcommon/syncmgr/task.go
  internal/flushcommon/syncmgr/task_test.go
Due: Go

enhance: satisfy gofumpt and copylocks after the reservation change
  internal/flushcommon/metacache/segment.go
  internal/flushcommon/syncmgr/sync_manager_test.go
  internal/streamingnode/server/wal/interceptors/shard/stats/stats_manager_test.go
Due: Go

fix: enforce import schema version consistency (#52154)
  internal/datacoord/ddl_callbacks_import.go
Due: Go

doc: restore broadcaster idempotency comment
  internal/streamingcoord/server/broadcaster/broadcaster_with_rk.go
Due: Go

enhance: make StorageV2 multipart upload size configurable
  configs/milvus.yaml
  internal/datanode/compactor/bump_schema_version_compactor.go
  internal/datanode/compactor/clustering_compactor.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/segment_writer.go
  internal/datanode/compactor/segment_writer_test.go
  internal/datanode/compactor/sort_compaction.go
  internal/datanode/index/task_stats.go
  internal/flushcommon/syncmgr/pack_writer_v3.go
  internal/flushcommon/syncmgr/task.go
  internal/storage/record_writer.go
  internal/storagev2/packed/ffi_common.go
  internal/storagev2/packed/segment_writer_ffi.go
  pkg/util/paramtable/component_param.go
Due: Go

test: reduce integration import and shared wait overhead (#53525)
  internal/datacoord/import_services_test.go
  internal/datacoord/import_util.go
  internal/datacoord/import_util_test.go
  tests/integration/bloommatch/bloom_match_test.go
  tests/integration/import/2pc_import_test.go
  tests/integration/import/binlog_test.go
  tests/integration/import/commit_timestamp_test.go
  tests/integration/import/dynamic_field_test.go
  tests/integration/import/idempotency_test.go
  tests/integration/import/import_test.go
  tests/integration/import/multi_file_types_test.go
  tests/integration/import/suite_test.go
  tests/integration/import/util_test.go
  tests/integration/querynode/querynode_test.go
  tests/integration/replicas/load/load_test.go
  tests/integration/suite.go
  tests/integration/suite_release_test.go
  tests/integration/util_index.go
  tests/integration/util_insert.go
  tests/integration/util_query.go
Due: Go

fix: format growing flush configuration comments
  internal/core/src/segcore/segment_c.h
Due: Core

fix: align manifest index validation with metadata
  internal/datacoord/copy_segment_task.go
  internal/datacoord/segment_info.go
  internal/datacoord/segment_info_test.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/sort_compaction.go
  internal/querycoordv2/utils/types_test.go
Due: Go

fix: preserve skip-index behavior with manifest index publication
  internal/datacoord/copy_segment_task.go
  internal/datacoord/copy_segment_task_test.go
  internal/datanode/importv2/copy_segment_utils.go
  internal/datanode/importv2/copy_segment_utils_test.go
  internal/snapshotio/snapshot_test.go
  internal/snapshotio/storage/snapshot_data_test.go
  internal/snapshotio/storage/snapshot_tool.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

test: align snapshot restore mocks with skip index
  internal/datacoord/snapshot_manager_test.go
Due: Go

fix: gate manifest indexes on segment metadata
  client/milvusclient/snapshot_options.go
  docs/design-docs/design_docs/20251114-snapshot_design.md
  internal/datacoord/copy_segment_task.go
  internal/datacoord/copy_segment_task_test.go
  internal/datacoord/segment_operator.go
  internal/datacoord/snapshot_manager.go
  internal/datacoord/snapshot_manager_test.go
  internal/datanode/importv2/copy_segment_utils.go
  internal/datanode/importv2/copy_segment_utils_test.go
  internal/querycoordv2/utils/types.go
  internal/querycoordv2/utils/types_test.go
  internal/querynodev2/handlers.go
  internal/querynodev2/handlers_test.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_test.go
  internal/snapshotio/storage/snapshot_data_test.go
  internal/snapshotio/storage/snapshot_tool.go
  internal/storagev2/packed/stats_resolver.go
  internal/storagev2/packed/stats_resolver_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
Due: Client, Go

test: align restore admission fixtures with skip-index arguments
  internal/datacoord/snapshot_manager_test.go
Due: Go

enhance: support skipping indexes in snapshot operations
  client/milvusclient/snapshot_options.go
  client/milvusclient/snapshot_test.go
  internal/datacoord/copy_segment_job.go
  internal/datacoord/copy_segment_job_test.go
  internal/datacoord/copy_segment_task.go
  internal/datacoord/copy_segment_task_test.go
  internal/datacoord/ddl_callbacks_snapshot.go
  internal/datacoord/ddl_callbacks_snapshot_test.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/datacoord/snapshot_manager.go
  internal/datacoord/snapshot_manager_test.go
  internal/datacoord/snapshot_meta.go
  internal/datanode/importv2/copy_segment_utils_test.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/distributed/proxy/httpserver/snapshot_handler_v2.go
  internal/proxy/snapshot_impl.go
  internal/proxy/snapshot_impl_test.go
  internal/proxy/task_snapshot.go
  internal/proxy/task_snapshot_test.go
  internal/querycoordv2/utils/types.go
  internal/querycoordv2/utils/types_test.go
  internal/querynodev2/handlers.go
  internal/querynodev2/handlers_test.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_test.go
  internal/snapshotio/storage/snapshot_data_test.go
  internal/snapshotio/storage/snapshot_tool.go
  internal/storagev2/packed/stats_resolver.go
  internal/storagev2/packed/stats_resolver_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
Due: Client, Go

test: stabilize skip-index snapshot fixtures
  internal/datacoord/copy_segment_task_test.go
  internal/proxy/task_snapshot_test.go
Due: Go

fix: preserve complete local paths in snapshot copy tests
  internal/datanode/importv2/copy_segment_utils.go
  internal/datanode/importv2/copy_segment_utils_test.go
Due: Go

fix: fail closed and keep etcd config snapshots monotonic for the wp opener
  pkg/config/etcd_source.go
  pkg/config/etcd_source_test.go
  pkg/config/manager_refresh_test.go
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/streaming/walimpls/impls/wp/builder_test.go
Due: Go

fix: [3.0] fail closed and keep etcd config snapshots monotonic for the wp opener
  pkg/config/etcd_source.go
  pkg/config/etcd_source_test.go
  pkg/streaming/walimpls/impls/wp/builder.go
Due: Go

fix: batch clustering compaction output with RecordBuilder
  internal/datanode/compactor/clustering_compactor.go
  internal/datanode/compactor/clustering_record_builder_test.go
Due: Go

test: fix missing primary key expectation for AutoID partition upsert
  tests/python_client/milvus_client/test_milvus_client_partition.py
Due: none

fix: [3.0] stop overlapping readers starving the geometry cache writer
  docs/design-docs/design_docs/20260727-gis-filter-coarse-refine-split-fusion.md
  internal/core/src/common/Geometry.h
  internal/core/src/common/GeometryCache.h
  internal/core/src/common/GeometryCacheTest.cpp
  internal/core/src/exec/expression/GISConjunctExpr.cpp
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

fix: [2.6] stop overlapping readers starving the geometry cache writer
  docs/design_docs/gis_filter_coarse_refine_split_fusion.md
  internal/core/src/common/Geometry.h
  internal/core/src/common/GeometryCache.h
  internal/core/src/common/GeometryCacheTest.cpp
  internal/core/src/exec/expression/GISConjunctExpr.cpp
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

fix: synchronize manual flush through collection broadcast (#53595)
  docs/agent_guides/streaming-system/coordination/broadcaster.md
  docs/design-docs/design_docs/wal/broadcast_ack_module.md
  internal/datacoord/manual_flush_test.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/proxy/task_flush_streaming.go
  internal/proxy/task_flush_streaming_test.go
  tests/go_client/testcases/manual_flush_test.go
Due: Go
