Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

feat: build the split broadcast on the client and read its result
  internal/distributed/streaming/splitshard.go
  internal/distributed/streaming/splitshard_test.go
Due: Go

doc: describe the split broadcast in the streaming-system guides
  docs/agent_guides/streaming-system/coordination/broadcaster.md
  docs/agent_guides/streaming-system/message/message-semantic-collection.md
  docs/agent_guides/streaming-system/wal/shard-management.md
  docs/agent_guides/streaming-system/wal/timetick_and_txn.md
Due: none

enhance:[3.0] bump storage to 2838cdf
  internal/core/src/storage/loon_ffi/external_spec_c.h
  internal/core/src/storage/loon_ffi/util.cpp
  internal/core/src/storage/loon_ffi/util.h
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/core/unittest/test_external_take.cpp
  internal/storagev2/packed/ffi_common.go
Due: Core, Go

fix: admit a form's replicas against the streaming-node pools the assignment will use
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_collection.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_partitions.go
  internal/querycoordv2/load_admission_test.go
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/meta/sqnode_pool.go
  internal/querycoordv2/meta/sqnode_pool_test.go
  internal/querycoordv2/utils/delegator_capacity.go
  internal/querycoordv2/utils/delegator_capacity_test.go
  internal/querycoordv2/utils/meta.go
  internal/querycoordv2/utils/streaming_node_admission_test.go
Due: Go

feat: add the shard routing abstraction for online shard split
  internal/util/routing/hash_routing.go
  internal/util/routing/hash_routing_test.go
  internal/util/routing/routing_table.go
  internal/util/routing/routing_table_test.go
  internal/util/routing/table.go
  internal/util/routing/table_test.go
  internal/util/routing/table_write_test.go
Due: Go

fix: make the routing contract refuse what it cannot place
  internal/util/routing/hash_routing.go
  internal/util/routing/hash_routing_test.go
  internal/util/routing/routing_table.go
  internal/util/routing/routing_table_test.go
  internal/util/routing/table.go
  internal/util/routing/table_test.go
  internal/util/routing/table_write_test.go
Due: Go

doc: describe the residue routing the split actually implements
  docs/design-docs/design_docs/20260610-shard_split.md
Due: none

fix: classify a stale routing snapshot as retriable, and close six contract gaps
  internal/util/routing/hash_routing.go
  internal/util/routing/hash_routing_test.go
  internal/util/routing/table.go
  internal/util/routing/table_test.go
  internal/util/routing/table_write_test.go
  pkg/util/merr/errors.go
  pkg/util/merr/utils.go
Due: Go

fix: refuse shard info that disagrees with the vchannel list, and export the never-split assignment
  internal/util/routing/hash_routing.go
  internal/util/routing/table.go
  internal/util/routing/table_test.go
Due: Go

fix: read no shard info as never-split, and refuse a shard the channel list lacks
  docs/design-docs/design_docs/20260610-shard_split.md
  internal/util/routing/table.go
  internal/util/routing/table_test.go
Due: Go

doc: state when hash($namespace_id) is a valid routing key, and what residues cost
  docs/design-docs/design_docs/20260610-shard_split.md
  internal/util/routing/table.go
  internal/util/routing/table_test.go
Due: Go

fix: refuse a shard_by truncated after the parenthesis instead of panicking
  internal/util/routing/table.go
  internal/util/routing/table_test.go
Due: Go

enhance: count residue owners once in Derive, and wrap with merr
  docs/design-docs/design_docs/20260610-shard_split.md
  internal/util/routing/hash_routing.go
Due: Go

feat: let a collection carry its shard topology, and rootcoord commit changes to it
  configs/milvus.yaml
  internal/coordinator/mix_coord.go
  internal/distributed/mixcoord/client/client.go
  internal/distributed/mixcoord/service.go
  internal/metastore/model/collection.go
  internal/metastore/model/collection_routing_test.go
  internal/mocks/mock_mixcoord.go
  internal/mocks/mock_mixcoord_client.go
  internal/mocks/mock_rootcoord.go
  internal/mocks/mock_rootcoord_client.go
  internal/rootcoord/alter_collection_shard_num.go
  internal/rootcoord/alter_collection_shard_num_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_commit_shard_split_routing.go
  internal/rootcoord/ddl_callbacks_commit_shard_split_routing_test.go
  internal/rootcoord/ddl_callbacks_create_partition.go
  internal/rootcoord/ddl_callbacks_drop_partition.go
  internal/rootcoord/ddl_callbacks_partition_broadcast_test.go
  internal/rootcoord/describe_collection_task.go
  internal/rootcoord/root_coord.go
  internal/util/mock/grpc_rootcoord_client.go
  pkg/common/common.go
  pkg/proto/etcd_meta.proto
  pkg/proto/etcdpb/etcd_meta.pb.go
  pkg/proto/root_coord.proto
  pkg/proto/rootcoordpb/root_coord.pb.go
  pkg/proto/rootcoordpb/root_coord_grpc.pb.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: keep the incremental meta counters in step with a changed topology
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
Due: Go

fix: check the shard-split properties on create, and let a satisfied shardNum pass
  internal/rootcoord/alter_collection_shard_num.go
  internal/rootcoord/alter_collection_shard_num_test.go
  internal/rootcoord/create_collection_task.go
Due: Go

enhance: tidy up the shard-topology helpers and their comments
  internal/metastore/model/collection.go
  internal/metastore/model/collection_routing_test.go
  internal/rootcoord/alter_collection_shard_num.go
  pkg/common/common.go
  pkg/util/paramtable/component_param.go
Due: Go

test: teach the hand-written coordinator mocks about CommitShardSplitRouting
  internal/datacoord/mock_test.go
  internal/proxy/rootcoord_mock_test.go
Due: Go

fix: raise the shard-split-mode parse error through merr
  pkg/common/common.go
  pkg/common/common_test.go
Due: Go

fix: persist the routing modulus and shard_by a split commits
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
Due: Go

fix: make the routing commit refuse a stale or backwards topology
  internal/rootcoord/ddl_callbacks_commit_shard_split_routing.go
  internal/rootcoord/ddl_callbacks_commit_shard_split_routing_test.go
Due: Go

fix: refuse a namespace routing key for a collection placed by primary key
  internal/rootcoord/ddl_callbacks_commit_shard_split_routing.go
  internal/rootcoord/ddl_callbacks_commit_shard_split_routing_test.go
Due: Go

fix: apply one Take decision to each merged search group
  internal/querynodev2/tasks/query_stream_task.go
  internal/querynodev2/tasks/query_task.go
  internal/querynodev2/tasks/search_task.go
  internal/querynodev2/tasks/search_task_go_reduce.go
  internal/querynodev2/tasks/search_task_go_reduce_test.go
Due: Go

fix: decide Take output eligibility per request
  internal/core/src/query/PlanImpl.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/plan_c.cpp
  internal/core/src/segcore/plan_c.h
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/unittest/test_external_take.cpp
  internal/querynodev2/tasks/query_stream_task.go
  internal/querynodev2/tasks/query_task.go
  internal/querynodev2/tasks/search_task.go
  internal/querynodev2/tasks/search_task_go_reduce.go
  internal/querynodev2/tasks/search_task_test.go
  internal/querynodev2/tasks/take_for_output.go
  internal/util/initcore/init_core.go
  internal/util/initcore/init_core_test.go
  internal/util/initcore/query_node.go
  internal/util/segcore/plan.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

fix: read external text directly in output fallback
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/unittest/test_external_take.cpp
Due: Core

test: isolate DiskANN embedding-list upload paths across shards
  internal/core/unittest/test_indexing.cpp
Due: Core

fix: avoid translator counter collisions in unity builds
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
Due: Core

fix: spell the collection-meta and routing-commit comments in the US locale the misspell linter enforces
  internal/metastore/model/collection_routing_test.go
  internal/rootcoord/alter_collection_shard_num.go
  internal/rootcoord/alter_collection_shard_num_test.go
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/ddl_callbacks_commit_shard_split_routing.go
  pkg/common/common.go
Due: Go

fix: gate manifest indexes on segment metadata
  client/milvusclient/snapshot_options.go
  docs/design-docs/design_docs/20251114-snapshot_design.md
  internal/datacoord/copy_segment_task.go
  internal/datacoord/copy_segment_task_test.go
  internal/datacoord/handler.go
  internal/datacoord/handler_test.go
  internal/datacoord/segment_operator.go
  internal/datacoord/snapshot_manager.go
  internal/datacoord/snapshot_manager_test.go
  internal/datanode/importv2/copy_segment_utils.go
  internal/datanode/importv2/copy_segment_utils_test.go
  internal/querycoordv2/utils/types.go
  internal/querycoordv2/utils/types_test.go
  internal/querynodev2/handlers.go
  internal/querynodev2/handlers_test.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_test.go
  internal/snapshotio/snapshot.go
  internal/snapshotio/snapshot_test.go
  internal/snapshotio/storage/snapshot_data_test.go
  internal/snapshotio/storage/snapshot_tool.go
  internal/storagev2/packed/stats_resolver.go
  internal/storagev2/packed/stats_resolver_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
Due: Client, Go

fix: align manifest index validation with metadata
  internal/datacoord/copy_segment_task.go
  internal/datacoord/segment_info.go
  internal/datacoord/segment_info_test.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/sort_compaction.go
  internal/querycoordv2/utils/types_test.go
Due: Go

test: align snapshot restore mocks with skip index
  internal/datacoord/snapshot_manager_test.go
Due: Go

enhance: keep skip-index snapshots on format v4
  internal/snapshotio/snapshot.go
  internal/snapshotio/snapshot_test.go
  internal/snapshotio/storage/snapshot_data_test.go
  internal/snapshotio/storage/snapshot_tool.go
Due: Go

test: stabilize skip-index snapshot fixtures
  internal/datacoord/copy_segment_task_test.go
  internal/proxy/task_snapshot_test.go
Due: Go

feat: broadcast the split to every vchannel of the collection, and let bystanders pass it through
  internal/distributed/streaming/splitshard.go
  internal/distributed/streaming/splitshard_test.go
  internal/streamingnode/server/flusher/flusherimpl/wal_flusher.go
  internal/streamingnode/server/flusher/flusherimpl/wal_flusher_test.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_split_test.go
  internal/streamingnode/server/wal/recovery/recovery_split_shard_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  pkg/streaming/util/message/split_shard_role.go
  pkg/streaming/util/message/split_shard_role_test.go
Due: Go

enhance: Nominate sparknack as maintainer (#53324)
  MAINTAINERS
  OWNERS_ALIASES
Due: none

enhance: [3.0] Nominate sparknack as maintainer (#53325)
  MAINTAINERS
  OWNERS_ALIASES
Due: none

enhance: [2.6] Nominate sparknack as maintainer (#53326)
  MAINTAINERS
  OWNERS_ALIASES
Due: none

doc: name the writers and readers of the shard client's resource group
  internal/proxy/shardclient/shard_client.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
