Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: [hotfix] Support JSON default value in compaction (#45332)
  internal/storage/arrow_util.go
  internal/storage/arrow_util_test.go
Due: Go

fix: Move FinishLoad before text index creation to ensure raw data availability
  internal/querynodev2/segments/segment_loader.go
Due: Go

fix: [2.6] Fix load segment failed due to get disk usage error (#45300)
  internal/core/src/storage/LocalChunkManager.cpp
Due: Core

enhance: unify the aligned buffer for both buffered and direct I/O (#45323)
  configs/milvus.yaml
  internal/core/src/monitor/Monitor.cpp
  internal/core/src/monitor/Monitor.h
  internal/core/src/storage/FileWriter.cpp
  internal/core/src/storage/FileWriter.h
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: [2.5] unify the aligned buffer for both buffered and direct I/O (#45324)
  configs/milvus.yaml
  internal/core/src/monitor/prometheus_client.cpp
  internal/core/src/monitor/prometheus_client.h
  internal/core/src/storage/FileWriter.cpp
  internal/core/src/storage/FileWriter.h
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: [2.6] unify the aligned buffer for both buffered and direct I/O (#45325)
  configs/milvus.yaml
  internal/core/src/monitor/Monitor.cpp
  internal/core/src/monitor/Monitor.h
  internal/core/src/storage/FileWriter.cpp
  internal/core/src/storage/FileWriter.h
  pkg/util/paramtable/component_param.go
Due: Core, Go

Skip building text index for newly added columns
  internal/datanode/index/task_stats.go
Due: Go

fix: not use json_shredding for json path is null (#45310)
  internal/core/src/exec/expression/Expr.h
Due: Core

fix: not use json_shredding for json path is null (#45311)
  internal/core/src/exec/expression/Expr.h
Due: Core

update test
  internal/proxy/util_test.go
  internal/querynodev2/pipeline/embedding_node_test.go
Due: Go

fix: Accidentally ignored sealed segments in L0 Compaction
  internal/datacoord/compaction_task.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_mix.go
Due: Go

fix: [2.6]Accidentally ignored sealed segments in L0 Compaction
  internal/datacoord/compaction_task.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_mix.go
Due: Go

fix ut
  internal/datacoord/compaction_task_l0.go
Due: Go

enhance: Add RBAC support for UpdateReplicateConfiguration
  configs/milvus.yaml
  pkg/util/constant.go
Due: Go

update client milvus-proto
  client/go.mod
  client/go.sum
Due: Client

enhance: disable jsonshredding for default config
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
Due: Go

Move R-Tree index tests into the implemention package
  internal/core/src/index/RTreeIndexTest.cpp
  internal/core/src/index/RTreeIndexWrapperTest.cpp
  internal/core/unittest/CMakeLists.txt
Due: Core

fix: Fix data race in replicate stream client
  internal/cdc/replication/replicatestream/replicate_stream_client_impl.go
Due: Go

fix: Move FinishLoad before text index creation to ensure raw data availability (#45334)
  internal/querynodev2/segments/segment_loader.go
Due: Go

fix: store database event if the key is invalid
  internal/rootcoord/meta_table.go
Due: Go

fix: [hotfix] Move FinishLoad before text index creation to ensure raw data availability (#45336)
  internal/querynodev2/segments/segment_loader.go
Due: Go

fix: Accurate size estimation for sliced arrow arrays in compaction (#45294)
  internal/storage/serde.go
  internal/storage/serde_events_v2.go
  internal/storage/serde_test.go
Due: Go

fix: [2.5]Accidentally ignored sealed segments in L0 Compaction #45341
  internal/datacoord/compaction_task_l0.go
Due: Go

fix: [2.6hf]Accidentally ignored sealed segments in L0 Compaction
  internal/datacoord/compaction_task.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_mix.go
Due: Go

fix: [cp26]Accurate size estimation for sliced arrow arrays in compaction (#45294)
  internal/storage/serde.go
  internal/storage/serde_events_v2.go
  internal/storage/serde_test.go
Due: Go

test: Add more async tests (#45327)
  tests/python_client/base/async_milvus_client_wrapper.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
  tests/python_client/testcases/async_milvus_client/test_collection_async.py
  tests/python_client/testcases/async_milvus_client/test_e2e_async.py
  tests/python_client/testcases/async_milvus_client/test_index_async.py
  tests/python_client/testcases/async_milvus_client/test_partition_async.py
Due: none

test: Increase PyMilvus version to 2.6.4rc2 for 2.6 branch (#45272)
  tests/python_client/requirements.txt
Due: none

fix: Accidentally ignored sealed segments in L0 Compaction (#45340)
  internal/datacoord/compaction_task.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_mix.go
Due: Go

test: Increase PyMilvus version to 2.5.17rc3 for 2.5 branch (#45213)
  tests/python_client/common/common_func.py
  tests/python_client/requirements.txt
Due: none

fix: [2.6] Move FinishLoad before text index creation to ensure raw data availability (#45335)
  internal/querynodev2/segments/segment_loader.go
Due: Go

fix: [2.6hf]Accidentally ignored sealed segments in L0 Compaction (#45351)
  internal/datacoord/compaction_task.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_mix.go
Due: Go

enhance: Bump go version to 1.24.10
  .github/workflows/mac.yaml
  build/docker/builder/cpu/amazonlinux2023/Dockerfile
  build/docker/builder/cpu/rockylinux8/Dockerfile
  build/docker/builder/cpu/ubuntu20.04/Dockerfile
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/gpu/ubuntu20.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
  client/README.md
  client/go.mod
  go.mod
  pkg/go.mod
  tests/go_client/Dockerfile
  tests/go_client/go.mod
Due: Client, Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
