Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

enhance: some minor code cleanup, prepare for scalar benchmark (#45008)
  Makefile
  cmd/tools/exprparser/main.go
  internal/core/src/common/FieldDataInterface.h
  internal/core/src/common/FieldMeta.cpp
  internal/core/src/common/FieldMeta.h
  internal/core/src/common/Schema.cpp
  internal/core/src/common/Schema.h
  internal/core/src/common/Types.h
  internal/core/src/plan/PlanNode.h
  internal/core/src/query/PlanProto.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/bench/CMakeLists.txt
  internal/core/unittest/bench/bench_search_pk.cpp
  internal/core/unittest/test_utils/storage_test_utils.h
Due: Core

fix test
  pkg/util/typeutil/schema.go
Due: Go

update
  internal/core/src/storage/MinioChunkManager.cpp
  internal/core/src/storage/MinioChunkManager.h
Due: Core

add version for file resource meta
  internal/datacoord/import_checker_test.go
  internal/datacoord/import_inspector_test.go
  internal/datacoord/import_util_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/metastore/catalog.go
  internal/metastore/kv/datacoord/kv_catalog.go
Due: Go

add file resource manager
  internal/util/fileresource/manager.go
  internal/util/fileresource/util.go
Due: Go

add sync file resource interface for queryndoe and datanode
  internal/datacoord/file_resource_manager.go
  internal/datanode/data_node.go
  internal/datanode/services.go
  internal/distributed/datanode/client/client.go
  internal/distributed/datanode/service.go
  internal/distributed/querynode/client/client.go
  internal/distributed/querynode/service.go
  internal/metastore/kv/datacoord/constant.go
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/model/resource.go
  internal/querynodev2/server.go
  internal/querynodev2/services.go
  internal/streamingnode/server/server.go
  internal/util/fileresource/manager.go
  internal/util/pathutil/path_util.go
  internal/util/wrappers/qn_wrapper.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/datapb/data_coord_grpc.pb.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/proto/querypb/query_coord_grpc.pb.go
  pkg/util/paramtable/component_param.go
Due: Go

update mockery
  internal/metastore/mocks/mock_datacoord_catalog.go
  internal/mocks/mock_datanode.go
  internal/mocks/mock_datanode_client.go
  internal/mocks/mock_querynode.go
  internal/mocks/mock_querynode_client.go
  internal/querycoordv2/mocks/mock_querynode.go
  internal/util/mock/grpc_datanode_client.go
  internal/util/mock/grpc_querynode_client.go
Due: Go

fix bug and add querynode sync
  internal/coordinator/mix_coord.go
  internal/datacoord/mock_test.go
  internal/datacoord/server.go
  internal/datacoord/services.go
  internal/datanode/services.go
  internal/metastore/kv/datacoord/constant.go
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/mocks/mock_mixcoord.go
  internal/querycoordv2/observers/file_resource_observer.go
  internal/querycoordv2/server.go
  internal/querycoordv2/session/cluster.go
  internal/querycoordv2/session/mock_cluster.go
  internal/types/types.go
  internal/util/fileresource/manager.go
  internal/util/fileresource/util.go
  pkg/util/paramtable/component_param.go
Due: Go

update test
  internal/datacoord/file_resource_manager.go
  internal/datacoord/file_resource_manager_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/server.go
Due: Go

add test
  internal/datacoord/file_resource_manager_test.go
  internal/querycoordv2/observers/file_resource_observer_test.go
  internal/util/fileresource/manager.go
  internal/util/fileresource/manager_test.go
Due: Go

feat: support run analyzer(#44803) (#45032)
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/request_v2.go
Due: Go

fix: etcd request context contamination by RBAC auth info (#44964)
  go.mod
  go.sum
  internal/kv/etcd/embed_etcd_kv.go
  internal/kv/etcd/etcd_kv.go
  internal/kv/etcd/etcd_kv_test.go
  internal/kv/etcd/util.go
  internal/kv/etcd/util_test.go
  pkg/go.mod
  pkg/go.sum
Due: Go

fix: append operation can be only canceled by the wal itself but not the rpc
  internal/streamingnode/server/wal/adaptor/ro_wal_adaptor.go
  internal/streamingnode/server/wal/adaptor/wal_adaptor.go
Due: Go

fix: Enhanced SkipIndex string matching test
  internal/core/unittest/test_sealed.cpp
Due: Core

test: update cases for error message update
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
  tests/python_client/milvus_client_v2/test_milvus_client_range_search.py
Due: none

fix: Added GetMetrics back to IndexNodeServer to ensure compatibility (#45073)
  internal/distributed/datanode/client/client.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
  pkg/proto/workerpb/worker_grpc.pb.go
  tests/integration/cluster/process/client.go
Due: Go

fix: [2.6] Added GetMetrics back to IndexNodeServer to ensure compatibility (#45074)
  internal/distributed/datanode/client/client.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
  pkg/proto/workerpb/worker_grpc.pb.go
  tests/integration/cluster/process/client.go
Due: Go

fix: fix parquet import bug in STRUCT [2.6] (#45071)
  internal/proxy/proxy_test.go
  internal/proxy/util.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/json/row_parser_test.go
  internal/util/importutilv2/parquet/field_reader.go
  internal/util/importutilv2/parquet/reader_test.go
  internal/util/importutilv2/parquet/struct_field_reader.go
  internal/util/importutilv2/parquet/util.go
  internal/util/testutil/test_util.go
  pkg/util/typeutil/schema.go
  tests/integration/datanode/struct_array_test.go
  tests/integration/getvector/array_struct_test.go
  tests/integration/import/binlog_test.go
  tests/integration/import/vector_array_test.go
Due: Go

feat: Auto add namespace field data if namespace is enabled (#44933)
  internal/datacoord/compaction_policy_clustering.go
  internal/datacoord/compaction_policy_single.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datanode/services.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

enhance: support collection with WAL-based DDL framework
  internal/coordinator/snmanager/streaming_node_manager.go
  internal/datacoord/index_meta.go
  internal/datacoord/index_service.go
  internal/datacoord/server.go
  internal/distributed/streaming/streaming_test.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/rootcoord/broker.go
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/create_partition_task.go
  internal/rootcoord/create_partition_task_test.go
  internal/rootcoord/ddl_callbacks.go
  internal/rootcoord/ddl_callbacks_create_collection.go
  internal/rootcoord/ddl_callbacks_create_partition.go
  internal/rootcoord/ddl_callbacks_drop_collection.go
  internal/rootcoord/ddl_callbacks_drop_partition.go
  internal/rootcoord/drop_collection_task.go
  internal/rootcoord/drop_partition_task.go
  internal/rootcoord/drop_partition_task_test.go
  internal/rootcoord/garbage_collector.go
  internal/rootcoord/garbage_collector_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/mocks/garbage_collector.go
  internal/rootcoord/mocks/meta_table.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/step.go
  internal/streamingcoord/server/balancer/balancer.go
  internal/streamingcoord/server/balancer/balancer_impl.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/service/broadcast.go
  internal/streamingnode/server/flusher/flusherimpl/flusher_components.go
  internal/streamingnode/server/wal/recovery/vchannel_recovery_info.go
  pkg/streaming/util/message/messageutil/header.go
Due: Go

fix: ut6
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/ddl_callbacks_collection_test.go
  internal/rootcoord/ddl_callbacks_drop_collection.go
  internal/rootcoord/ddl_callbacks_drop_partition.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/tombstone/scheduler_test.go
  internal/streamingnode/server/flusher/flusherimpl/flusher_components.go
  internal/streamingnode/server/wal/recovery/vchannel_recovery_info.go
  pkg/streaming/util/message/messageutil/body.go
  pkg/streaming/util/message/messageutil/body_test.go
  pkg/streaming/util/message/messageutil/header_test.go
Due: Go

fix: ut13
  internal/rootcoord/ddl_callbacks_create_collection.go
Due: Go

fix: ut7
  internal/datacoord/server.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  pkg/streaming/util/message/messageutil/body_test.go
Due: Go

fix: ut4
  internal/datacoord/ddl_callbacks_alter_index.go
  internal/datacoord/index_meta_test.go
  internal/datacoord/index_service_test.go
  internal/datacoord/server_test.go
  internal/datacoord/services_test.go
  internal/rootcoord/ddl_callbacks_collection_test.go
  internal/rootcoord/ddl_callbacks_drop_collection.go
  internal/rootcoord/root_coord_test.go
  scripts/run_go_unittest.sh
Due: Go

fix: ut10
  internal/querycoordv2/services_test.go
  internal/rootcoord/ddl_callbacks_create_collection.go
  internal/streamingcoord/server/service/assignment_test.go
  internal/streamingcoord/server/service/broadcast_test.go
Due: Go

fix: ut12
  internal/rootcoord/create_collection_task_test.go
  internal/rootcoord/ddl_callbacks_create_collection.go
Due: Go

fix: ut8
  internal/rootcoord/ddl_callbacks_create_collection.go
  pkg/mq/msgdispatcher/dispatcher.go
Due: Go

fix: ut9
  internal/querycoordv2/services_test.go
  internal/rootcoord/ddl_callbacks_create_collection.go
  internal/rootcoord/root_coord_test.go
  internal/streamingcoord/server/broadcaster/broadcast/test_utility.go
  internal/streamingcoord/server/service/broadcast_test.go
Due: Go

fix: ut11
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/create_collection_task_test.go
  pkg/mq/msgdispatcher/dispatcher.go
Due: Go

fix: ut3
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  internal/rootcoord/tombstone/scheduler.go
  internal/rootcoord/tombstone/scheduler_test.go
  internal/rootcoord/tombstone/tombstone.go
Due: Go

fix: ut2
  internal/rootcoord/constrant_test.go
  internal/rootcoord/create_collection_task_test.go
  internal/rootcoord/drop_collection_task.go
  internal/rootcoord/drop_collection_task_test.go
  internal/rootcoord/root_coord_test.go
Due: Go

fix: ut5
  pkg/proto/etcd_meta.proto
  pkg/proto/etcdpb/etcd_meta.pb.go
Due: none

enhance: change dockerfile user to milvus
  build/docker/milvus/amazonlinux2023/Dockerfile
  build/docker/milvus/gpu/ubuntu22.04/Dockerfile
  build/docker/milvus/rockylinux8/Dockerfile
  build/docker/milvus/ubuntu20.04/Dockerfile
  build/docker/milvus/ubuntu22.04/Dockerfile
Due: none

fix: add trace info for go unittest
  tests/go_client/common/response_checker.go
  tests/go_client/testcases/helper/helper.go
Due: none

fix: increase the broadcast concurrency
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  tests/go_client/testcases/helper/helper.go
Due: Go

Applied Min Match and Expr/Wasm based reranker patch
  Makefile
  client/milvusclient/read_example_test.go
  client/milvusclient/read_test.go
  go.mod
  go.sum
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/TextMatchIndex.cpp
  internal/core/src/index/TextMatchIndex.h
  internal/core/src/index/TextMatchIndexTest.cpp
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text_c.rs
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_base_visitor.go
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/generated/plan_visitor.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/util/function/rerank/expr_function.go
  internal/util/function/rerank/expr_function_test.go
  internal/util/function/rerank/function_score.go
  internal/util/function/rerank/function_score_test.go
  internal/util/function/rerank/wasm_function.go
  internal/util/function/rerank/wasm_function_test.go
  tests/go_client/testcases/full_text_search_test.go
  tests/reranker_wasm/rust_reranker/Cargo.toml
  tests/reranker_wasm/rust_reranker/README.md
  tests/reranker_wasm/rust_reranker/src/lib.rs
  tests/reranker_wasm/rust_reranker_with_fields/Cargo.toml
  tests/reranker_wasm/rust_reranker_with_fields/src/lib.rs
Due: Client, Core, Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
