Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix log size & memory size of restore
  internal/datanode/importv2/copy_segment_utils.go
  internal/datanode/importv2/copy_segment_utils_test.go
  internal/storage/record_writer.go
Due: Go

fix: Fix GetCredentialInfo not caching RPC response
  internal/proxy/privilege/cache.go
  internal/proxy/privilege/cache_test.go
Due: Go

support search_by_pk for BM25
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  tests/python_client/testcases/test_full_text_search.py
Due: Go

test: Fix issue when searching with empty sparse vector (#46940)
  tests/python_client/milvus_client_v2/test_milvus_client_search_by_pk.py
Due: none

enhance: Add grpc metadata header for client request time (#44059)
  client/milvusclient/interceptors.go
  internal/proxy/accesslog/info/grpc_info.go
  internal/proxy/accesslog/info/grpc_info_test.go
  internal/proxy/accesslog/info/info.go
  internal/proxy/accesslog/info/restful_info.go
  pkg/common/common.go
  pkg/util/logutil/grpc_interceptor.go
Due: Client, Go

skip index creation for nullable vector fields with insufficient valid rows
  internal/datacoord/task_index.go
  internal/flushcommon/syncmgr/pack_writer_v2.go
  internal/storage/binlog_record_writer.go
  internal/util/segmentutil/utils.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  tests/go_client/testcases/nullable_default_value_test.go
Due: Go

enhance: bump milvus-storage and use subtree fs to remove bucket name concatenation (#46866)
  internal/core/src/common/VectorArrayStorageV2Test.cpp
  internal/core/src/index/json_stats/JsonKeyStats.cpp
  internal/core/src/segcore/ColumnGroupsCTest.cpp
  internal/core/src/segcore/PackedReaderWriterTest.cpp
  internal/core/src/segcore/column_groups_c.cpp
  internal/core/src/segcore/column_groups_c.h
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/src/segcore/packed_writer_c.h
  internal/core/src/storage/DiskFileManagerTest.cpp
  internal/core/src/storage/FileManager.h
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/datanode/importv2/copy_segment_utils.go
  internal/datanode/importv2/copy_segment_utils_test.go
  internal/datanode/util/util.go
  internal/querynodev2/segments/segment_loader.go
  internal/storage/binlog_record_writer.go
  internal/storage/record_writer.go
  internal/storage/rw.go
  internal/storagev2/packed/packed_reader_ffi.go
  internal/storagev2/packed/packed_reader_ffi_test.go
  internal/storagev2/packed/packed_writer.go
  internal/storagev2/packed/packed_writer_ffi_test.go
Due: Core, Go

test: add empty struct array test coverage for bulk writer
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
Due: none

chore: bump pymilvus to 2.7.0rc102
  tests/python_client/requirements.txt
Due: none

chore: bump pymilvus to 2.6.7rc4
  tests/python_client/requirements.txt
Due: none

fix inverted index null offset file not compacted
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/JsonInvertedIndex.cpp
Due: Core

fix: ScoreBasedBalancer priority queue not refreshed after score updates
  internal/querycoordv2/balance/priority_queue.go
  internal/querycoordv2/balance/score_based_balancer.go
Due: Go

disable on non proxy nodes
  internal/http/server.go
  internal/http/server_test.go
Due: Go

done
  internal/core/thirdparty/tantivy/tantivy-binding/src/util.rs
Due: Core

feat: Support ark/doubao embedding function
  go.mod
  go.sum
  internal/util/function/embedding/ark_embedding_provider.go
  internal/util/function/embedding/ark_embedding_provider_test.go
  internal/util/function/embedding/mock_embedding_service.go
  internal/util/function/embedding/text_embedding_function.go
  internal/util/function/embedding/text_embedding_function_test.go
  internal/util/function/models/ark/ark_client.go
  internal/util/function/models/ark/ark_client_test.go
  internal/util/function/models/common.go
Due: Go

fix: Ensure all futures complete on exception to prevent use-after-free crash
  internal/core/src/segcore/Utils.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/MemFileManagerImpl.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
Due: Core

feat: implement MOL data type insert support in storage layer
  internal/storage/data_codec.go
  internal/storage/data_sorter.go
  internal/storage/insert_data.go
  internal/storage/payload.go
  internal/storage/payload_reader.go
  internal/storage/payload_writer.go
  internal/storage/print_binlog.go
  internal/storage/serde.go
  internal/storage/utils.go
Due: Go

feat: add MOL field validation in proxy layer
  internal/proxy/validate_util.go
Due: Go

feat: add storage version label to DataCoordNumSegments metric
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/task_update_external_collection.go
  pkg/metrics/datacoord_metrics.go
  pkg/metrics/datacoord_metrics_test.go
  pkg/metrics/metrics.go
Due: Go

Fix and add insert tests for auto_id
  tests/python_client/milvus_client/test_milvus_client_insert.py
Due: none

test: add empty struct array test coverage for bulk writer (#46926)
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
  tests/python_client/requirements.txt
Due: none

test: [cp2.6] Fix flaky test_job_import_binlog_file_type by waiting for index building (#46884)
  tests/restful_client_v2/testcases/test_jobs_operation.py
Due: none

test: [cp2.6] replace parquet with jsonl for EventRecords and RequestRecords in checker (#46882)
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/requirements.txt
  tests/python_client/chaos/testcases/test_get_collections.py
  tests/python_client/utils/util_common.py
Due: none

test: [cp2.6] Add geometry operations test suite for RESTful API (#46878)
  tests/restful_client_v2/requirements.txt
  tests/restful_client_v2/testcases/test_geometry_operations.py
  tests/restful_client_v2/utils/utils.py
Due: none

test: [cp2.6] add unique error message collection in chaos checker (#46879)
  tests/python_client/chaos/chaos_commons.py
  tests/python_client/chaos/checker.py
Due: none

test: [cp2.6] add highlighter in checker (#46880)
  tests/python_client/chaos/checker.py
Due: none

use adapter analyzer for tantivy index writer v5
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/analyzer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/build_in_analyzer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/filter.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/mod.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/stop_words.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/tokenizers/jieba_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/tokenizers/lindera_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/tokenizers/mod.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/tokenizers/tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/util.rs
Due: Core

test: [cp 2.6] Add HNSW_SQ test cases (#46812)
  tests/python_client/testcases/indexes/idx_hnsw_sq.py
  tests/python_client/testcases/indexes/test_hnsw_sq.py
Due: none

test: add client insert testcases for binary vector and none datatype and remove corresponding ORM tests
  tests/python_client/milvus_client/test_milvus_client_insert.py
  tests/python_client/testcases/test_insert.py
Due: none

test: Fix and add insert tests for auto_id (#46956)
  tests/python_client/milvus_client/test_milvus_client_insert.py
Due: none

test: add empty struct array test coverage for bulk writer (#46927)
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
  tests/python_client/requirements.txt
Due: none

enhance: support search_by_pk for BM25 (#46937)
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  tests/python_client/testcases/test_full_text_search.py
Due: Go

fix: [2.6] inverted index null offset file not compacted (#46950)
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/JsonInvertedIndex.cpp
Due: Core

enhance: save BM25 stats to the disk while loading the segment (#46468)
  configs/milvus.yaml
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/idf_oracle.go
  internal/querynodev2/delegator/idf_oracle_test.go
  internal/querynodev2/segments/pool.go
  pkg/util/paramtable/component_param.go
Due: Go

test: Increase PyMilvus version to 2.6.7rc5
  tests/python_client/requirements.txt
Due: none

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
