Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

Support Search By PK
  client/go.mod
  client/go.sum
  client/milvusclient/read_options.go
  go.mod
  go.sum
  internal/distributed/proxy/httpserver/handler.go
  internal/distributed/proxy/httpserver/handler_v1.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/proxy/impl.go
  internal/proxy/proxy_test.go
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
  internal/proxy/task_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/util/funcutil/placeholdergroup.go
  pkg/util/funcutil/placeholdergroup_test.go
  tests/go_client/go.mod
  tests/go_client/go.sum
  tests/integration/hellomilvus/sparse_test.go
  tests/integration/util_query.go
Due: Client, Go

fix comment
  configs/milvus.yaml
Due: none

fix:add json stats version because previous change #46130
  internal/core/src/common/Consts.h
  internal/datanode/index/task_stats.go
  internal/querynodev2/segments/segment.go
  pkg/common/common.go
Due: Core, Go

fix: set enable.auto.commit false to prevent from creating kafka consumer group (#46510)
  pkg/streaming/walimpls/impls/kafka/builder.go
Due: Go

Skip Finished tasks when recovery with backward compatibility
  internal/datacoord/compaction_inspector.go
  internal/datacoord/compaction_task_meta.go
  internal/datacoord/compaction_util.go
Due: Go

fix
  internal/datanode/index/task_stats.go
Due: Go

enhance: Tidy build index logs
  internal/datanode/index/task_index.go
Due: Go

fix ut
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/metastore/kv/streamingnode/kv_catalog_test.go
Due: Go

feat: [cp26]Add force merge (#46044)
  configs/milvus.yaml
  internal/datacoord/.mockery.yaml
  internal/datacoord/compaction_policy_forcemerge.go
  internal/datacoord/compaction_policy_forcemerge_test.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/compaction_trigger_v2_test.go
  internal/datacoord/compaction_view_forcemerge.go
  internal/datacoord/compaction_view_forcemerge_test.go
  internal/datacoord/import_util.go
  internal/datacoord/mock_collection_topology_querier.go
  internal/datacoord/mock_trigger_manager.go
  internal/datacoord/server.go
  internal/datacoord/server_test.go
  internal/datacoord/services.go
  internal/querynodev2/segments/segment_test.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: support pk isolation optional field data loading from manifest for index build (#46480)
  internal/core/src/storage/MemFileManagerImpl.cpp
Due: Core

enhance: [cp26]Set latestDeletePos from L0 segments to bound L1 selection (#46436)
  configs/milvus.yaml
  internal/datacoord/compaction_inspector.go
  internal/datacoord/compaction_inspector_test.go
  internal/datacoord/compaction_l0_view.go
  internal/datacoord/compaction_l0_view_test.go
  internal/datacoord/compaction_policy_l0.go
  internal/datacoord/compaction_policy_l0_test.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/compaction_trigger_v2_test.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: map multi row groups into one cache cell (#46249)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/storagev2translator/GroupCTMeta.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslatorTest.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.h
Due: Core

fix: [2.6] prevent field data drop for multi-field column groups and reload on index drop (#46425)
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/segcore/ChunkedSegmentSealedBinlogIndexTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
  internal/core/src/segcore/ChunkedSegmentSealedTest.cpp
Due: Core

doc: fix quickstart section for Milvus Lite (#46474)
  README.md
Due: none

enhance: [2.6] fix IsMmapSupported for stl sort (#46473)
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/BitmapIndex.h
  internal/core/src/index/HybridScalarIndex.cpp
  internal/core/src/index/HybridScalarIndex.h
  internal/core/src/index/Index.h
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/InvertedIndexTantivy.h
  internal/core/src/index/RTreeIndex.cpp
  internal/core/src/index/RTreeIndex.h
  internal/core/src/index/RTreeIndexWrapper.cpp
  internal/core/src/index/RTreeIndexWrapper.h
  internal/core/src/index/ScalarIndex.h
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/index/ScalarIndexSort.h
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/StringIndexMarisa.h
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/index/StringIndexSort.h
  internal/core/src/index/Utils.h
Due: Core

STL_SORT to support LIKE operator
  internal/core/src/common/RegexQuery.cpp
  internal/core/src/common/RegexQuery.h
  internal/core/src/common/RegexQueryUtilTest.cpp
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/index/StringIndexSort.h
  internal/core/src/index/StringIndexSortTest.cpp
Due: Core

enhance: Unify segment Load and Reopen through diff-based loading
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/SegmentLoadInfo.h
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
Due: Core

Remove commented code
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

fix: [hotfix] remove all raw data dropping for now
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

enhance: add concurrency pool for analyzer (#46185)
  configs/milvus.yaml
  internal/util/function/bm25_function.go
  internal/util/function/bm25_function_test.go
  internal/util/function/multi_analyzer_bm25_function.go
  internal/util/function/multi_analyzer_bm25_function_test.go
  pkg/util/paramtable/function_param.go
Due: Go

enhance: milvus support minhash dido
  client/entity/function.go
  internal/core/src/CMakeLists.txt
  internal/core/src/minhash/CMakeLists.txt
  internal/core/src/minhash/MinHashComputer.cpp
  internal/core/src/minhash/MinHashComputer.h
  internal/core/src/minhash/fusion_compute/arm/fusion_compute_neon.h
  internal/core/src/minhash/fusion_compute/arm/fusion_compute_sve.h
  internal/core/src/minhash/fusion_compute/fusion_compute_native.h
  internal/core/src/minhash/fusion_compute/x86/fusion_compute_avx2.h
  internal/core/src/minhash/fusion_compute/x86/fusion_compute_avx512.h
  internal/core/src/query/SearchBruteForce.cpp
  internal/core/src/query/SearchOnGrowing.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/minhash_c.cpp
  internal/core/src/segcore/minhash_c.h
  internal/core/thirdparty/tantivy/tokenizer.h
  internal/datanode/importv2/util.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/flushcommon/pipeline/flow_graph_embedding_node.go
  internal/flushcommon/pipeline/flow_graph_embedding_node_test.go
  internal/proxy/search_reduce_util.go
  internal/proxy/task_search.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/pipeline/embedding_node.go
  internal/querynodev2/pipeline/embedding_node_test.go
  internal/storage/utils.go
  internal/util/analyzer/canalyzer/c_analyzer.go
  internal/util/analyzer/interfaces/interfaces.go
  internal/util/function/embedding/function_executor.go
  internal/util/function/embedding/function_util.go
  internal/util/function/function.go
  internal/util/function/minhash_function.go
  internal/util/function/mock_function.go
  pkg/util/funcutil/placeholdergroup.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Client, Core, Go

fix
  internal/datanode/compactor/sort_compaction.go
Due: Go

enhance: update tantivy (#46521)
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
Due: Core

enhance: [2.6] update tantivy (#46522)
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
Due: Core

fix: Skip Finished tasks when recovery with compatibility (#46515)
  internal/datacoord/compaction_inspector.go
  internal/datacoord/compaction_task_meta.go
  internal/datacoord/compaction_util.go
Due: Go

fix: some fixes for ngram index [2.6] (#46519)
  internal/core/src/index/NgramInvertedIndex.cpp
  internal/core/src/index/NgramInvertedIndex.h
  internal/core/src/index/ScalarIndex.h
Due: Core

fix: Skip Finished tasks when recovery with backward compatibility (#46530)
  internal/datacoord/compaction_inspector.go
  internal/datacoord/compaction_task_meta.go
  internal/datacoord/compaction_util.go
Due: Go

enhance: [hotfix] prevent field data drop for multi-field column groups and reload on index drop
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/segcore/ChunkedSegmentSealedBinlogIndexTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
  internal/core/src/segcore/ChunkedSegmentSealedTest.cpp
Due: Core

enhance: Execute text indexes for multiple fields concurrently (#46279)
  internal/datanode/compactor/sort_compaction.go
  internal/datanode/data_node.go
  internal/datanode/index/task_stats.go
  internal/datanode/index_services.go
  internal/datanode/services.go
Due: Go

update metric
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/metricsutil/wal_scan.go
  pkg/metrics/streaming_service_metrics.go
Due: Go

don't export delay param
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
Due: Go

delay consumption inner scanner adaptor
  internal/distributed/streaming/internal/consumer/consumer_impl.go
  internal/distributed/streaming/internal/consumer/consumer_test.go
  internal/streamingnode/client/handler/consumer/consumer_impl.go
  internal/streamingnode/client/handler/handler_client.go
  internal/streamingnode/client/handler/handler_client_impl.go
  internal/streamingnode/server/service/handler/consumer/consume_server.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor_test.go
  internal/streamingnode/server/wal/scanner.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: Go

modify startupDelay to pauseConsumption, add pause duration metrics
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/distributed/streaming/internal/consumer/consumer.go
  internal/distributed/streaming/internal/consumer/consumer_impl.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/wal.go
  internal/streamingnode/client/handler/consumer/consumer_impl.go
  internal/streamingnode/client/handler/handler_client.go
  internal/streamingnode/client/handler/handler_client_impl.go
  internal/streamingnode/server/service/handler/consumer/consume_server.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor_test.go
  internal/streamingnode/server/wal/metricsutil/wal_scan.go
  internal/streamingnode/server/wal/scanner.go
  pkg/metrics/streaming_service_metrics.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

enhance: Support delaying scanner startup
  configs/milvus.yaml
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/cdc/replication/replicatestream/replicate_stream_client_impl_test.go
  internal/datacoord/services.go
  internal/distributed/streaming/internal/consumer/consumer.go
  internal/distributed/streaming/internal/consumer/consumer_impl.go
  internal/distributed/streaming/internal/consumer/consumer_test.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/wal.go
  internal/proxy/impl.go
  pkg/config/manager.go
  pkg/log/fields.go
  pkg/streaming/util/message/builder.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix ut
  pkg/util/paramtable/component_param_test.go
Due: Go
