Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix ut
  internal/querycoordv2/meta/collection_manager_test.go
  internal/querycoordv2/meta/mock_broker.go
  internal/querycoordv2/meta/mock_target_manager.go
  internal/querycoordv2/meta/target_manager.go
  internal/querycoordv2/meta/target_manager_test.go
  internal/querycoordv2/mocks/mock_querynode.go
Due: Go

enhance: Enable score based balance channel policy
  configs/milvus.yaml
  internal/querycoordv2/balance/balance.go
  internal/querycoordv2/balance/balance_test.go
  internal/querycoordv2/balance/channel_level_score_balancer.go
  internal/querycoordv2/balance/mock_balancer.go
  internal/querycoordv2/balance/rowcount_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer_test.go
  internal/querycoordv2/checkers/channel_checker.go
  internal/querycoordv2/checkers/channel_checker_test.go
  internal/querycoordv2/checkers/controller_test.go
  internal/querycoordv2/handlers.go
  internal/querycoordv2/utils/meta.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix conflicts
  internal/querycoordv2/balance/mock_balancer.go
  internal/querycoordv2/balance/score_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer_test.go
  internal/querycoordv2/checkers/controller_test.go
  internal/querycoordv2/meta/mock_broker.go
  internal/querycoordv2/mocks/mock_querynode.go
Due: Go

Enhance the matching for elements within the UnaryRangeArray
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
Due: Core

unaryexpr cpp format
  internal/core/src/exec/expression/UnaryExpr.h
Due: Core

test: add count checker in testcases
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/testcases/test_single_request_operation.py
Due: none

fix: Remove constraint on release segment task
  internal/querycoordv2/task/executor.go
Due: Go

fix delete ut
  internal/proxy/task_delete_test.go
Due: Go

enhance: refactor delete mvcc function
  internal/core/src/common/Utils.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/DeletedRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/core/src/segcore/Utils.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_delete_record.cpp
  internal/core/unittest/test_growing.cpp
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_utils.cpp
Due: Core

fix delete goclient test
  tests/go_client/testcases/delete_test.go
Due: none

fix access log retention new log not the old and skip rotate empty log
  internal/proxy/accesslog/global_test.go
  internal/proxy/accesslog/writer.go
  internal/proxy/accesslog/writer_test.go
Due: Go

fix: Datanode stop progress stuck at writer buffer memory check (#38274) (#38287)
  internal/datanode/writebuffer/manager.go
  internal/datanode/writebuffer/manager_test.go
  internal/querynodev2/pipeline/filter_node.go
Due: Go

Fix error messages in GC Resume
  internal/datacoord/services.go
  internal/proxy/management.go
Due: Go

enhance: Add secondary index for querynode segment manager
  internal/querynodev2/segments/manager.go
  internal/querynodev2/segments/segment_filter.go
  pkg/util/metautil/channel.go
Due: Go

fix: [10kcp] Replace outer lock with concurrent map (#38286)
  internal/datanode/writebuffer/manager.go
  internal/datanode/writebuffer/manager_test.go
  internal/datanode/writebuffer/write_buffer.go
Due: Go

enhance: [10kcp] Speed up meta recovery (#38298)
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/kv/querycoord/kv_catalog.go
  internal/metastore/kv/rootcoord/suffix_snapshot.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

fix: [10kcp] Query coord stop progress is too slow (#38300)
  internal/querycoordv2/balance/channel_level_score_balancer_test.go
  internal/querycoordv2/balance/rowcount_based_balancer_test.go
  internal/querycoordv2/balance/score_based_balancer_test.go
  internal/querycoordv2/checkers/balance_checker_test.go
  internal/querycoordv2/checkers/channel_checker_test.go
  internal/querycoordv2/checkers/controller_base_test.go
  internal/querycoordv2/checkers/controller_test.go
  internal/querycoordv2/checkers/leader_checker_test.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/dist/dist_controller_test.go
  internal/querycoordv2/job/job_test.go
  internal/querycoordv2/meta/collection_manager_test.go
  internal/querycoordv2/meta/mock_broker.go
  internal/querycoordv2/meta/mock_target_manager.go
  internal/querycoordv2/meta/target_manager.go
  internal/querycoordv2/meta/target_manager_test.go
  internal/querycoordv2/mocks/mock_querynode.go
  internal/querycoordv2/observers/collection_observer_test.go
  internal/querycoordv2/observers/target_observer_test.go
  internal/querycoordv2/ops_service_test.go
  internal/querycoordv2/server.go
  internal/querycoordv2/server_test.go
  internal/querycoordv2/services_test.go
  internal/querycoordv2/task/task_test.go
Due: Go

enhance: [10kcp] Enable score based balance channel policy (#38301)
  configs/milvus.yaml
  internal/querycoordv2/balance/balance.go
  internal/querycoordv2/balance/balance_test.go
  internal/querycoordv2/balance/channel_level_score_balancer.go
  internal/querycoordv2/balance/mock_balancer.go
  internal/querycoordv2/balance/rowcount_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer_test.go
  internal/querycoordv2/checkers/channel_checker.go
  internal/querycoordv2/checkers/channel_checker_test.go
  internal/querycoordv2/checkers/controller_test.go
  internal/querycoordv2/handlers.go
  internal/querycoordv2/utils/meta.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

enhance: update pymilvus version (#38225)
  tests/python_client/requirements.txt
  tests/python_client/testcases/test_insert.py
Due: none

enhance: update pymilvus version(2.4) (#38227)
  tests/python_client/requirements.txt
Due: none

enhance: [10kcp] Add secondary index for querynode segment manager (#38312)
  internal/querynodev2/segments/manager.go
  internal/querynodev2/segments/segment_filter.go
  pkg/util/metautil/channel.go
Due: Go

Add openai embedding client
  internal/models/openai_embedding.go
  internal/models/openai_embedding_test.go
Due: Go

Add embedding runner
  internal/models/openai_embedding.go
  internal/models/openai_embedding_test.go
  internal/util/function/function.go
  internal/util/function/function_base.go
  internal/util/function/openai_embedding_function.go
  internal/util/function/openai_embedding_function_test.go
Due: Go

Add function executor
  internal/util/function/function_base.go
  internal/util/function/function_executor.go
  internal/util/function/function_executor_test.go
  internal/util/function/openai_embedding_function.go
  internal/util/function/openai_embedding_function_test.go
Due: Go

Add search embedding test
  internal/models/openai_embedding.go
  internal/models/openai_embedding_test.go
  internal/proxy/task_insert_test.go
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
  internal/util/function/function.go
  internal/util/function/function_base.go
  internal/util/function/function_executor.go
  internal/util/function/function_executor_test.go
  internal/util/function/function_util.go
  internal/util/function/openai_embedding_function.go
  internal/util/function/openai_embedding_function_test.go
  pkg/util/funcutil/placeholdergroup.go
Due: Go

Search supports embedding function
  internal/proxy/task_insert.go
  internal/proxy/task_search.go
  internal/proxy/task_upsert.go
  internal/util/function/function_executor.go
  internal/util/function/function_util.go
  internal/util/function/openai_embedding_function.go
  pkg/util/funcutil/placeholdergroup.go
Due: Go

Insert & Upsert support functions
  internal/proxy/task_insert.go
  internal/proxy/task_insert_test.go
  internal/proxy/task_upsert.go
  internal/util/function/function_executor.go
  internal/util/function/function_executor_test.go
  internal/util/function/openai_embedding_function.go
  internal/util/function/openai_embedding_function_test.go
Due: Go

Use TextEmbedding function
  internal/datanode/importv2/scheduler_test.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/models/openai_embedding.go
  internal/proxy/task_insert_test.go
  internal/proxy/task_search_test.go
  internal/proxy/task_upsert_test.go
  internal/proxy/util.go
  internal/storage/utils.go
  internal/util/function/function_executor.go
  internal/util/function/function_executor_test.go
  internal/util/function/function_util.go
  internal/util/function/text_embedding_function.go
Due: Go

Support bulkinsert
  internal/datanode/importv2/scheduler_test.go
  internal/datanode/importv2/util.go
  internal/flushcommon/pipeline/flow_graph_embedding_node.go
  internal/proxy/task_insert_test.go
  internal/proxy/task_search_test.go
  internal/querynodev2/pipeline/embedding_node.go
  internal/util/function/function.go
  internal/util/function/function_executor.go
  internal/util/function/function_executor_test.go
  internal/util/function/mock_embedding_service.go
  internal/util/function/openai_embedding_function.go
Due: Go

update
  internal/util/function/function_executor.go
Due: Go

Add bedrock, azure, ali text embedding
  internal/datanode/importv2/scheduler_test.go
  internal/models/ali/ali_dashscope_text_embedding.go
  internal/models/ali/ali_dashscope_text_embedding_test.go
  internal/models/openai/openai_embedding.go
  internal/models/openai/openai_embedding_test.go
  internal/models/utils/embedding_util.go
  internal/proxy/task_insert_test.go
  internal/proxy/task_search_test.go
  internal/proxy/task_upsert_test.go
  internal/util/function/ali_embedding_provider.go
  internal/util/function/alitext_embedding_provider_test.go
  internal/util/function/bedrock_embedding_provider.go
  internal/util/function/bedrock_text_embedding_provider_test.go
  internal/util/function/common.go
  internal/util/function/function_executor_test.go
  internal/util/function/mock_embedding_service.go
  internal/util/function/openai_embedding_function.go
  internal/util/function/openai_embedding_provider.go
  internal/util/function/openai_text_embedding_provider_test.go
  internal/util/function/text_embedding_function.go
  internal/util/function/text_embedding_function_test.go
Due: Go

enhance: add detail, replica count for resource group
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/meta/resource_manager.go
  pkg/metrics/metrics.go
  pkg/metrics/querycoord_metrics.go
  pkg/metrics/querynode_metrics.go
Due: Go

fix: Fix empty import task result
  internal/datacoord/import_util.go
  internal/datanode/importv2/task_manager.go
  internal/datanode/importv2/task_manager_test.go
Due: Go

Update go mod
  go.mod
  go.sum
Due: none

fix: Fix standby mixcoord start failed
  internal/datacoord/server.go
  internal/querycoordv2/server.go
  internal/rootcoord/root_coord.go
Due: Go

fix: stream connection leak in case of error
  pkg/mq/msgdispatcher/dispatcher.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
