Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

test: include chaos checker error samples in assertions
  tests/python_client/chaos/checker.py
Due: none

fix(rbac): return credential info literal directly
  internal/metastore/model/credential.go
Due: Go

enhance: [2.6] make function runner analyzer concurrency configurable (#50112) (#50115)
  configs/milvus.yaml
  internal/util/analyzer/interfaces/interfaces.go
  internal/util/analyzer/interfaces/mock_analyzer.go
  internal/util/function/bm25_function.go
  internal/util/function/bm25_function_test.go
  internal/util/function/multi_analyzer_bm25_function.go
  pkg/util/paramtable/function_param.go
  pkg/util/paramtable/function_param_test.go
Due: Go

test: update pymilvus test dependency
  tests/python_client/requirements.txt
Due: none

fix: distinguish compaction segment ID exhaustion
  internal/datanode/compactor/multi_segment_writer_test.go
  internal/datanode/compactor/segment_writer.go
Due: Go

test: fix namespace mode prepare mock
  internal/rootcoord/create_collection_task_test.go
Due: Go

test: adjust struct array nullable expectations
  tests/python_client/milvus_client/test_milvus_client_struct_array_nullable.py
Due: none

fix: guard growing segment field maps against concurrent rehash (#50377)
  internal/core/src/segcore/InsertRecord.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_growing_concurrent_reopen.cpp
Due: Core

fix: address review comments
  internal/core/src/segcore/InsertRecord.h
  internal/core/unittest/test_growing_concurrent_reopen.cpp
Due: Core

test: fix struct array nullable ruff formatting
  tests/python_client/milvus_client/test_milvus_client_struct_array_nullable.py
Due: none

enhance: validate TEXT add field and optimize LOB text indexing
  internal/core/src/index/TextMatchIndexTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/TextColumnCache.h
  internal/proxy/impl_test.go
  internal/proxy/task.go
  internal/proxy/task_index.go
  internal/proxy/task_index_test.go
  internal/proxy/task_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_add_field.go
  internal/rootcoord/ddl_callbacks_alter_collection_add_field_test.go
Due: Core, Go

enhance: cache scalar-index IsNotNull() across batches on the ByOffsets paths
  internal/core/src/exec/expression/Expr.h
Due: Core

enhance: vectorize ApplyValidData and share it as ApplyValidMask
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/Expr.h
Due: Core

chore(rbac): use upstream milvus-proto and drop fork replace
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

test: Align StructArray nullable None expectations
  tests/python_client/milvus_client/test_milvus_client_regex_filter.py
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
Due: none

optimize cursor batch
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/mmap/ChunkedColumnScanCommon.h
  internal/core/src/mmap/ChunkedColumnScanCursors.cpp
  internal/core/src/mmap/VortexColumn.cpp
  internal/core/src/mmap/VortexColumnTest.cpp
Due: Core

enhance: decouple BM25 stats loading from post-load limit
  internal/querynodev2/delegator/delegator_data.go
Due: Go

enhance: support remote-only BM25 stats loading
  configs/milvus.yaml
  internal/querynodev2/delegator/idf_oracle.go
  internal/querynodev2/delegator/idf_oracle_test.go
  pkg/util/paramtable/component_param.go
Due: Go

refactor: migrate new log usages to mlog (#35917)
  internal/datacoord/meta.go
  internal/proxy/meta_cache.go
  internal/querycoordv2/ddl_callbacks_alter_load_info.go
  internal/util/initcore/util.go
Due: Go

fix: cleanup mlog API usage (#35917)
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/streaming/forward.go
  internal/querycoordv2/meta/collection_manager.go
  internal/rootcoord/root_coord.go
  internal/streamingcoord/client/client.go
  internal/streamingnode/client/handler/handler_client.go
  internal/streamingnode/client/manager/manager_client.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_test.go
  internal/util/grpcclient/client.go
  pkg/mlog/context_helpers.go
  pkg/mlog/context_test.go
  pkg/mlog/logger.go
  pkg/mlog/logger_test.go
Due: Go

refactor: migrate remaining log usages to mlog (#35917)
  internal/coordinator/mix_coord.go
  internal/datacoord/compaction_policy_bump_schema_version.go
  internal/datacoord/compaction_policy_clustering.go
  internal/datacoord/compaction_task_bump_schema_version.go
  internal/datacoord/compaction_task_meta.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/garbage_collector.go
  internal/datacoord/import_checker.go
  internal/datacoord/index_inspector.go
  internal/datacoord/meta.go
  internal/datanode/compactor/bump_schema_version_compactor.go
  internal/datanode/compactor/bump_schema_version_compactor_test.go
  internal/datanode/compactor/clustering_compactor.go
  internal/datanode/compactor/compactor_common.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/sort_compaction.go
  internal/proxy/impl.go
  internal/querycoordv2/ops_services.go
  internal/querynodev2/handlers.go
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/services.go
  internal/rootcoord/root_coord.go
  internal/util/proxyutil/proxy_client_manager.go
Due: Go

refactor: address mlog review comments (#35917)
  .golangci.yml
  internal/proxy/privilege/model.go
  internal/proxy/replicate/replicate_stream_server.go
  internal/proxy/task_insert.go
  internal/proxy/task_upsert.go
  internal/proxy/util.go
  internal/proxy/util_test.go
Due: Go

fix: format logging test imports (#50094)
  internal/util/cgo/logging/logging_test.go
Due: Go

refactor: forbid zap imports outside mlog (#35917)
  .golangci.yml
Due: none

test: add trace API coverage scripts (#50094)
  internal/proxy/proxy.go
  internal/proxy/util.go
  tests/scripts/trace_api_coverage/README.md
  tests/scripts/trace_api_coverage/common.py
  tests/scripts/trace_api_coverage/grpc_api_coverage.py
  tests/scripts/trace_api_coverage/restful_api_coverage.py
  tests/scripts/trace_api_coverage/run_trace_api_coverage.py
Due: Go

enhance: refine mlog migration APIs (#50094)
  .golangci.yml
  cmd/roles/roles.go
  internal/datacoord/task_refresh_external_collection.go
  internal/datanode/compactor/segment_writer_bench_test.go
  internal/datanode/external/task_update.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/proxy/proxy.go
  internal/querynodev2/segments/cgo_util.go
  internal/storagev2/packed/manifest_ffi.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_test.go
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  internal/util/cgo/logging/logging.go
  internal/util/cgo/logging/logging_test.go
  pkg/mlog/config.go
  pkg/mlog/contextual_logger.go
  pkg/mlog/field.go
  pkg/mlog/grpc.go
  pkg/mlog/init.go
  pkg/mlog/level.go
  pkg/mlog/logger.go
  pkg/mlog/option.go
  pkg/mocks/streaming/util/mock_message/mock_BroadcastMutableMessage.go
  pkg/mocks/streaming/util/mock_message/mock_ImmutableMessage.go
  pkg/mocks/streaming/util/mock_message/mock_ImmutableTxnMessage.go
  pkg/mocks/streaming/util/mock_message/mock_MutableMessage.go
  pkg/streaming/util/message/marshal_log_object.go
  pkg/streaming/util/message/message.go
  pkg/streaming/util/message/message_type.go
  pkg/streaming/walimpls/impls/pulsar/pulsarlog/logger.go
  pkg/util/logutil/logutil.go
  pkg/util/logutil/logutil_test.go
  pkg/util/replicateutil/util.go
  pkg/util/timerecord/time_recorder.go
Due: Go

fix: migrate rebased log usages to mlog (#35917)
  internal/datacoord/task_refresh_external_collection.go
  internal/datanode/external/task_update.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/storagev2/packed/manifest_ffi.go
  pkg/mlog/contextual_logger.go
Due: Go

refactor: replace zap levels with mlog (#35917)
  cmd/tools/config/generate_test.go
  internal/http/server_test.go
  internal/proxy/shardclient/manager.go
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querynodev2/delegator/exclude_info.go
  internal/streamingcoord/server/balancer/policy/vchannelfair/vchannel_fair_policy.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/salvage_checkpoint_test.go
  internal/streamingnode/server/wal/utility/txn_buffer.go
  pkg/streaming/walimpls/impls/pulsar/pulsarlog/logger.go
  pkg/util/logutil/logutil.go
  tests/go_client/testcases/helper/test_setup.go
Due: Go

refactor: use camel case mlog well-known fields (#50094)
  pkg/mlog/README.md
  pkg/mlog/README_AGENT.md
  pkg/mlog/field.go
  pkg/mlog/field_enum.go
  pkg/mlog/field_test.go
  pkg/mlog/interceptor.go
  pkg/mlog/interceptor_test.go
  tests/go_client/common/response_checker.go
Due: Go

fix: migrate rebased log usages to mlog (#50094)
  internal/datacoord/index_service.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/idf_oracle.go
  internal/querynodev2/pipeline/delete_node.go
  internal/querynodev2/segments/index_meta.go
  internal/querynodev2/segments/segment_loader.go
  internal/rootcoord/util.go
Due: Go

fix: correct logutil ToMB test input type (#50094)
  pkg/util/logutil/logutil_test.go
Due: Go

fix: remove empty mlog WithOptions callers (#50094)
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_test.go
  pkg/mlog/logger.go
  pkg/util/timerecord/time_recorder.go
Due: Go

fix: remove trace API coverage scripts (#50094)
  tests/scripts/trace_api_coverage/README.md
  tests/scripts/trace_api_coverage/common.py
  tests/scripts/trace_api_coverage/grpc_api_coverage.py
  tests/scripts/trace_api_coverage/restful_api_coverage.py
  tests/scripts/trace_api_coverage/run_trace_api_coverage.py
Due: none

enhance: clarify mlog context selection guide (#50094)
  docs/agent_guides/observability/logging.md
Due: none

fix: migrate rebased log usages to mlog (#50094)
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/util/function/bm25_function.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: migrate latest rebased log usages to mlog (#50094)
  internal/datacoord/compaction_policy_forcemerge.go
  internal/datacoord/garbage_collector.go
  internal/datacoord/stats_inspector.go
  internal/datanode/index/task_stats.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/flushcommon/syncmgr/task.go
  internal/proxy/task_insert.go
  internal/proxy/task_upsert.go
Due: Go

enhance: update mlog logging docs (#50094)
  CLAUDE.md
  docs/agent_guides/observability/logging.md
  pkg/mlog/README.md
Due: Go
