Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: preserve JSON dynamic type semantics
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/JsonFlatIndexTest.cpp
  internal/core/src/index/JsonInvertedIndexTest.cpp
  internal/parser/planparserv2/rewriter/range_json_test.go
  internal/parser/planparserv2/rewriter/util.go
Due: Core, Go

test: Increase PyMilvus version to 3.0.1rc65
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 3.1.0rc69
  tests/python_client/requirements.txt
Due: none

test: update function runner entry helpers
  internal/util/function/manager_test.go
Due: Go

enhance: [3.0] use inverted index for LIKE match (#51648)
  internal/core/src/common/RegexQueryTest.cpp
  internal/core/src/index/InvertedIndexTantivy.h
  internal/core/src/index/InvertedIndexTest.cpp
Due: Core

Fix lint
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

enhance: migrate sealed segment misc state to runtime snapshots (#51531)
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/SkipIndex.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/unittest/test_commit_timestamp.cpp
  internal/core/unittest/test_exec.cpp
  internal/core/unittest/test_sealed.cpp
Due: Core

Fix unittest
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
Due: Core

enhance: add request-level read leases for sealed segment reopen
  docs/design-docs/design_docs/20260720-segment-reopen-request-read-lease-drain-design.md
  internal/core/src/common/QueryResult.h
  internal/core/src/query/SearchOnSealed.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentReadLease.h
  internal/core/src/segcore/search_result_export_c.cpp
  internal/core/src/segcore/search_result_export_c_test.cpp
  internal/core/src/segcore/segment_c.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_commit_timestamp.cpp
  internal/core/unittest/test_segment_read_lease.cpp
  internal/querynodev2/tasks/search_task.go
Due: Core, Go

fix: initialize WAL function runners from legacy schema
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_collection.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_test.go
  internal/util/function/manager.go
  internal/util/function/manager_test.go
Due: Go

fix: reject invalid import commit timestamp
  internal/datacoord/commit_timestamp_test.go
  internal/datacoord/meta.go
  internal/datacoord/services_test.go
Due: Go

enhance: address wp config review comments
  configs/milvus.yaml
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/streaming/walimpls/impls/wp/builder_test.go
  pkg/util/paramtable/service_param.go
Due: Go

fix: reject create collection without schema
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_test.go
Due: Go

fix: validate legacy schema before WAL append
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_test.go
Due: Go

fix: avoid nil worker dereference in delegator ReleaseSegments
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
Due: Go

enhance: pin batching escape hatch and fix maxBatchBytes doc wording
  configs/milvus.yaml
  pkg/streaming/walimpls/impls/wp/builder_test.go
  pkg/util/paramtable/service_param.go
Due: Go

fix: simplify function runner manager lifecycle
  internal/querynodev2/delegator/delegator.go
  internal/util/function/manager.go
  internal/util/function/manager_test.go
Due: Go

fix: tighten struct-array import validation
  internal/datanode/importv2/util.go
  internal/datanode/importv2/util_test.go
Due: Go

fix: disable growing source flush by default
  configs/milvus.yaml
  internal/flushcommon/writebuffer/write_buffer_test.go
  internal/storage/binlog_record_writer.go
  internal/storage/binlog_record_writer_v3_test.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Go

fix: validate struct-array sub-field consistency at import
  internal/datanode/importv2/task_import.go
  internal/datanode/importv2/task_preimport.go
  internal/datanode/importv2/util.go
  internal/datanode/importv2/util_test.go
Due: Go

test: initialize function runners in delegator schema tests
  internal/querynodev2/delegator/delegator_test.go
Due: Go

update wp to v0.1.35
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
Due: Go

fix: [cp3.0] correct multi-query top-k insertion in iterative filter (#51632)
  internal/core/src/exec/operator/IterativeFilterNode.cpp
  internal/core/src/exec/operator/Utils.h
  internal/core/unittest/test_iterative_filter.cpp
Due: Core

fix: bitset read() range check capped multi-bit reads at 8 bits
  internal/core/src/bitset/BitsetTest.cpp
  internal/core/src/bitset/bitset.h
  internal/core/src/bitset/detail/element_vectorized.h
Due: Core

fix: bitset read() range check capped multi-bit reads at 8 bits (#51387)
  internal/core/src/bitset/BitsetTest.cpp
  internal/core/src/bitset/bitset.h
  internal/core/src/bitset/detail/element_vectorized.h
Due: Core

test: add XGBoost FunctionChain coverage (#51545)
  tests/python_client/milvus_client/test_milvus_client_function_chain.py
  tests/python_client/requirements.txt
Due: none

fix: honor NULL semantics in timestamptz arithmetic compare (#51608)
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_timestamptz_arith_compare.cpp
Due: Core

fix: [cp3.0] NULL group-by on an index-only nullable scalar field (#51634)
  internal/core/src/exec/operator/search-groupby/SearchGroupByOperator.h
  internal/core/unittest/test_search_group_by.cpp
Due: Core

fix: honor NULL semantics in timestamptz arithmetic compare
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_timestamptz_arith_compare.cpp
Due: Core

fix: [cp3.0] prevent BulkIsValid fall-through for non-nullable columns (#51633)
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnGroupTest.cpp
Due: Core

Address comment
  docs/design-docs/design_docs/20260720-segment-reopen-request-read-lease-drain-design.md
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentReadLease.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/unittest/test_segment_read_lease.cpp
  internal/querynodev2/segments/search.go
  internal/querynodev2/segments/search_test.go
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
  internal/util/segcore/cgo_util.go
  internal/util/segcore/cgo_util_test.go
  internal/util/segcore/segment.go
Due: Core, Go

fix: honor gc pause timeout
  internal/datacoord/garbage_collector.go
  internal/datacoord/garbage_collector_test.go
  internal/datacoord/services_test.go
Due: Go

fix: preserve FileResource compatibility
  internal/distributed/proxy/httpserver/file_resource_handler_v2.go
  internal/distributed/proxy/httpserver/file_resource_handler_v2_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  tests/go_client/testcases/file_resource_test.go
  tests/restful_client_v2/testcases/test_file_resource_operations.py
Due: Go

fix: [hotfix-2.6.20] keep proxy metric status label stable, split cause into its own label (#51495) (#51496)
  deployments/monitor/grafana/milvus-dashboard.json
  docs/dev/error_handling_guide.md
  docs/dev/error_sentinel_convention.md
  internal/datacoord/ddl_callbacks_import_test.go
  internal/datacoord/index_meta.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/request_interceptor.go
  internal/distributed/proxy/request_interceptor_test.go
  internal/proxy/hook_interceptor.go
  internal/proxy/service_provider.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/storage/insert_data.go
  pkg/metrics/metrics.go
  pkg/metrics/proxy_metrics.go
  pkg/util/merr/error_classification_test.go
  pkg/util/merr/errors.go
  pkg/util/requestutil/getter.go
  pkg/util/requestutil/getter_test.go
Due: Go
