Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: fail to mmap emb_list_meta in embedding list (#45126)
  internal/core/src/index/VectorMemIndex.cpp
Due: Core

update for proto change
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  internal/metastore/model/struct_field.go
  internal/querycoordv2/task/utils.go
  internal/rootcoord/alter_collection_task.go
  pkg/common/common.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix: add null check for packed_writer_ in JsonStatsParquetWriter::Close() (#45158)
  internal/core/src/index/json_stats/parquet_writer.cpp
Due: Core

fix: ut8
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querycoordv2/meta/segment_dist_manager.go
  internal/querycoordv2/server_test.go
Due: Go

fix: ut4
  internal/querycoordv2/ddl_callbacks_alter_load_info.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_collection.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_partitions.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_release_partitions.go
  internal/querycoordv2/ddl_callbacks_drop_load_info.go
  internal/querycoordv2/ddl_callbacks_load_info_test.go
  internal/querycoordv2/job/load_config.go
  internal/querycoordv2/services_test.go
Due: Go

fix: ut
  internal/rootcoord/root_coord_test.go
Due: Go

fix: ut9
  internal/querycoordv2/job/load_config.go
  internal/streamingnode/client/handler/producer/producer_impl.go
  internal/util/streamingutil/status/streaming_error.go
Due: Go

enhance: support load/release with WAL-based DDL framework
  internal/querycoordv2/ddl_callbacks.go
  internal/querycoordv2/ddl_callbacks_alter_load_info.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_collection.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_partitions.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_release_partitions.go
  internal/querycoordv2/ddl_callbacks_drop_load_info.go
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/job/job_release.go
  internal/querycoordv2/job/job_sync.go
  internal/querycoordv2/job/job_test.go
  internal/querycoordv2/job/utils.go
  internal/querycoordv2/meta/replica.go
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/services.go
  internal/querycoordv2/utils/meta.go
  internal/rootcoord/ddl_callbacks_drop_collection.go
  pkg/streaming/util/message/marshal_log_object.go
Due: Go

fix: ut6
  internal/querycoordv2/ddl_callbacks_load_info_test.go
  internal/querycoordv2/job/job_test.go
Due: Go

fix: ut7
  internal/querycoordv2/ddl_callbacks_alter_load_info_release_partitions.go
  internal/querycoordv2/ddl_callbacks_load_info_test.go
  internal/querycoordv2/job/job_test.go
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querycoordv2/meta/segment_dist_manager.go
  internal/querycoordv2/services.go
  internal/querycoordv2/services_test.go
Due: Go

fix: ut3
  internal/querycoordv2/ddl_callbacks.go
  internal/querycoordv2/ddl_callbacks_alter_load_info.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_collection.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_partitions.go
  internal/querycoordv2/ddl_callbacks_alter_load_info_release_partitions.go
  internal/querycoordv2/ddl_callbacks_drop_load_info.go
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/job/job_release.go
  internal/querycoordv2/job/load_config.go
  internal/querycoordv2/services.go
  internal/querycoordv2/services_test.go
  internal/querycoordv2/utils/meta.go
Due: Go

fix: ut2
  internal/querycoordv2/ddl_callbacks_drop_load_info.go
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/job/load_config.go
Due: Go

fix: ut5
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_collection.go
  internal/querycoordv2/ddl_callbacks_load_info_test.go
  internal/querycoordv2/job/job_test.go
  internal/querycoordv2/services_test.go
Due: Go

Fixes errors caused by repeated compilation in GPU mode
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

fix: ut10
  internal/querycoordv2/ddl_callbacks_alter_load_info_load_collection.go
  internal/querycoordv2/ddl_callbacks_load_info_test.go
  internal/querycoordv2/job/load_config.go
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/meta/replica_manager_test.go
Due: Go

fix: ut1
  internal/datanode/msghandlerimpl/msg_handler_impl.go
  internal/datanode/msghandlerimpl/msg_handler_impl_test.go
  internal/mocks/flushcommon/mock_util/mock_MsgHandler.go
  internal/rootcoord/mock_test.go
  internal/rootcoord/mocks/meta_table.go
  internal/rootcoord/redo.go
  internal/rootcoord/redo_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/step.go
  internal/rootcoord/step_executor.go
  internal/rootcoord/step_executor_test.go
  internal/rootcoord/step_test.go
  internal/rootcoord/task_test.go
  internal/rootcoord/undo.go
  internal/rootcoord/undo_test.go
Due: Go

enhance: support alter/rename collection with WAL-based DDL framework
  internal/datanode/msghandlerimpl/msg_handler_impl.go
  internal/distributed/streaming/msgstream_adaptor.go
  internal/flushcommon/pipeline/flow_graph_dd_node.go
  internal/flushcommon/util/msg_handler.go
  internal/metastore/model/collection.go
  internal/querynodev2/pipeline/filter_node.go
  internal/querynodev2/pipeline/message.go
  internal/rootcoord/add_field_task.go
  internal/rootcoord/add_field_task_test.go
  internal/rootcoord/alter_collection_task.go
  internal/rootcoord/alter_collection_task_test.go
  internal/rootcoord/alter_dynamic_schema_task.go
  internal/rootcoord/ddl_callbacks.go
  internal/rootcoord/ddl_callbacks_add_collection_field.go
  internal/rootcoord/ddl_callbacks_alter_collection.go
  internal/rootcoord/ddl_callbacks_alter_collection_field.go
  internal/rootcoord/ddl_callbacks_rename_collection.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/mocks/meta_table.go
  internal/rootcoord/rename_collection_task.go
  internal/rootcoord/rename_collection_task_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/step.go
  internal/rootcoord/step_executor.go
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/vchannel_recovery_info.go
  pkg/common/key_value_pairs.go
Due: Go

fix: ut2
  go.mod
  go.sum
  internal/datanode/services.go
  internal/metastore/model/collection.go
  internal/rootcoord/alter_collection_task.go
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/ddl_callbacks_add_collection_field.go
  internal/rootcoord/ddl_callbacks_alter_collection_field.go
  internal/rootcoord/ddl_callbacks_alter_collection_name.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_database.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/root_coord.go
Due: Go

fix: [2.6] add null check for packed_writer_ in JsonStatsParquetWriter::Close() (#45158) (#45176)
  internal/core/src/index/json_stats/parquet_writer.cpp
Due: Core

[automated] Bump milvus version to v2.5.20 (#45179)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

fix ci
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: none

test: Increase PyMilvus version to 2.7.0rc52
  tests/python_client/requirements.txt
Due: none

test: add json dumps for json string data
  tests/python_client/common/common_func.py
  tests/python_client/requirements.txt
Due: none

fix: [2.5] Fix import null geometry data (#45163)
  internal/storage/insert_data.go
Due: Go

fix: [2.6] Fix import null geometry data (#45162)
  internal/storage/insert_data.go
Due: Go

Fix sort stats task failed when segment is compacting
  internal/datacoord/task_scheduler_test.go
  internal/datacoord/task_stats.go
Due: Go

fix done
  internal/datacoord/index_service.go
  internal/datacoord/index_service_test.go
  pkg/util/typeutil/schema.go
Due: Go

enhance: Make GeometryCache an optional configuration
  configs/milvus.yaml
  internal/core/src/common/GeometryCache.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/util/initcore/init_core.go
  internal/util/initcore/query_node.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

change groovy to 5.0.6
  ci/jenkins/PR.groovy
Due: none

enhance: Make GeometryCache an optional configuration
  configs/milvus.yaml
  internal/core/src/common/GeometryCache.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/querynodev2/server.go
  internal/util/initcore/init_core.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: Add log to debug index task
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/indexbuilder/VecIndexCreator.cpp
  internal/core/src/indexbuilder/index_c.cpp
Due: Core

remove resource type from file resource config
  go.mod
  go.sum
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/datanode/services.go
  internal/metastore/model/resource.go
  internal/mocks/mock_proxy.go
  internal/proxy/impl_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

Fix etcd data persistence by adding --data-dir parameter
  deployments/docker/dev/docker-compose-apple-silicon.yml
  internal/datanode/services.go
Due: Go
