Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

enhance: cachinglayer: reserve resource for inevictable cachecell (#43602)
  internal/core/src/cachinglayer/CacheSlot.h
  internal/core/src/cachinglayer/Manager.h
  internal/core/src/cachinglayer/lrucache/DList.cpp
  internal/core/src/cachinglayer/lrucache/DList.h
  internal/core/src/cachinglayer/lrucache/ListNode.cpp
  internal/core/src/cachinglayer/lrucache/ListNode.h
  internal/core/unittest/test_cachinglayer/mock_list_node.h
  internal/core/unittest/test_cachinglayer/test_cache_slot.cpp
Due: Core

enhance:convert multi not equal to not in (#43690)
  internal/core/src/exec/expression/Expr.cpp
  internal/core/unittest/test_exec.cpp
Due: Core

feat: [GoSDK] Support search iterator v2 (#43612)
  client/milvusclient/iterator.go
  client/milvusclient/iterator_option.go
  client/milvusclient/iterator_test.go
Due: Client

enhance: [GoSDK] Support limit for search iterator (#43732)
  client/milvusclient/iterator.go
  client/milvusclient/iterator_option.go
  client/milvusclient/iterator_test.go
  client/milvusclient/results.go
Due: Client

enhance: [GoSDK] Add param static check for search iterator (#43774)
  client/milvusclient/iterator.go
  client/milvusclient/iterator_option.go
  client/milvusclient/iterator_test.go
Due: Client

test: new search iterator go client cases (#43771)
  tests/go_client/base/milvus_client.go
  tests/go_client/common/consts.go
  tests/go_client/common/response_checker.go
  tests/go_client/common/utils.go
  tests/go_client/testcases/helper/read_helper.go
  tests/go_client/testcases/search_iterator_test.go
Due: none

enhance: Cherry pick commits for v2.5.6 and bump version
  client/common/version.go
Due: Client

fix: Fix L0 segment loading delegator selection in QueryCoord
  internal/querycoordv2/task/executor.go
  internal/querycoordv2/task/executor_test.go
Due: Go

feat: support phrase match query for 2.5 (#43716)
  internal/core/src/common/EasyAssert.h
  internal/core/src/common/Types.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/expr/ITypeExpr.h
  internal/core/src/index/TextMatchIndex.cpp
  internal/core/src/index/TextMatchIndex.h
  internal/core/src/query/PlanProto.cpp
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/remove_punct_filter.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/lindera_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_text_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/lib.rs
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
  internal/core/unittest/test_text_match.cpp
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_base_visitor.go
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/generated/plan_visitor.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/parser/planparserv2/show_visitor.go
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
Due: Core, Go

enhance: add disk file writer with Direct IO support (#43692)
  configs/milvus.yaml
  internal/core/src/common/ChunkTarget.cpp
  internal/core/src/common/ChunkTarget.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/common/File.h
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/BitmapIndex.h
  internal/core/src/index/HybridScalarIndex.h
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/monitor/prometheus_client.cpp
  internal/core/src/monitor/prometheus_client.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/core/src/segcore/Utils.cpp
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/storage/ChunkCache.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/DiskFileManagerImpl.h
  internal/core/src/storage/FileWriter.cpp
  internal/core/src/storage/FileWriter.h
  internal/core/src/storage/storage_c.cpp
  internal/core/src/storage/storage_c.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_chunk.cpp
  internal/core/unittest/test_chunked_segment.cpp
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_file_writer.cpp
  internal/core/unittest/test_sealed.cpp
  internal/querynodev2/server.go
  internal/util/initcore/init_core.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: [StorageV2] zero copy for packed writer record batch
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/src/segcore/packed_writer_c.h
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/core/unittest/test_packed_c.cpp
  internal/storagev2/packed/packed_writer.go
  internal/storagev2/packed/type.go
  tests/integration/getvector/array_struct_test.go
Due: Core, Go

fix: add explicit
  internal/core/src/query/PlanProto.cpp
Due: Core

enhance: add file resource api (#43766)
  go.mod
  go.sum
  internal/allocator/global_id_allocator.go
  internal/coordinator/mix_coord.go
  internal/datacoord/import_checker_test.go
  internal/datacoord/import_inspector_test.go
  internal/datacoord/import_util_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/mock_test.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/distributed/mixcoord/client/client.go
  internal/distributed/mixcoord/service.go
  internal/distributed/proxy/service.go
  internal/metastore/catalog.go
  internal/metastore/kv/datacoord/constant.go
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/mocks/mock_datacoord_catalog.go
  internal/metastore/mocks/mock_rootcoord_catalog.go
  internal/metastore/model/resource.go
  internal/mocks/mock_datacoord.go
  internal/mocks/mock_datacoord_client.go
  internal/mocks/mock_mixcoord.go
  internal/mocks/mock_mixcoord_client.go
  internal/mocks/mock_proxy.go
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  internal/proxy/rootcoord_mock_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/datapb/data_coord_grpc.pb.go
Due: Go

fix: httpserver crash for division to zero(#43639)
  internal/proxy/search_pipeline.go
Due: Go

On branch master Your branch is up to date with 'origin/master'.
  tests/python_client/milvus_client/test_milvus_client_alias.py
  tests/python_client/testcases/test_alias.py
Due: none

migrate some cases
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/testcases/test_collection.py
Due: none

enhance: update nightly helm chart version to 5.0.0[2.6] (#43789)
  ci/jenkins/Nightly2.groovy
  ci/jenkins/PR-Arm.groovy
  ci/jenkins/PR-for-go-sdk.groovy
  ci/jenkins/PR.groovy
  ci/jenkins/PRGPU.groovy
Due: none

enhance: Support partial field updates with upsert API
  client/go.mod
  client/go.sum
  client/milvusclient/write_options.go
  go.mod
  go.sum
  internal/distributed/proxy/httpserver/handler_v1.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/request.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  internal/mocks/mock_proxy.go
  internal/proxy/impl.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_test.go
  internal/proxy/util.go
  pkg/go.mod
  pkg/go.sum
  pkg/util/typeutil/ids_checker.go
  pkg/util/typeutil/ids_checker_test.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
  tests/go_client/common/response_checker.go
  tests/go_client/go.mod
  tests/go_client/go.sum
  tests/go_client/testcases/helper/data_helper.go
  tests/go_client/testcases/update_test.go
  tests/go_client/testcases/upsert_test.go
  tests/integration/util_collection.go
  tests/restful_client_v2/testcases/test_partial_update.py
Due: Client, Go

update milvus-proto
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client

Fix task state is InProgress but payload is nil
  internal/datacoord/import_task_preimport.go
  internal/datacoord/session/cluster.go
Due: Go

Modify some code according to the review
  client/column/geometry.go
  internal/core/src/common/FieldData.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/distributed/proxy/httpserver/utils.go
  internal/proxy/task_index.go
Due: Client, Core, Go

test: migrate test case from test_alias to test_milvus_client_alias (#43802)
  tests/python_client/milvus_client/test_milvus_client_alias.py
  tests/python_client/testcases/test_alias.py
Due: none

enhance: Fix parquet import OOM (#43756)
  internal/util/importutilv2/parquet/reader.go
Due: Go

enhance: [2.5] Fix parquet import OOM (#43757)
  internal/util/importutilv2/parquet/reader.go
Due: Go

clean up
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/src/segcore/packed_writer_c.h
  internal/core/unittest/test_packed_c.cpp
  internal/storagev2/packed/packed_writer.go
  internal/storagev2/packed/type.go
Due: Core, Go

update
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/thirdparty/milvus-common/CMakeLists.txt
Due: Core

fix: Metrics with collectionName but no databaseName label are causing name conflicts and confusion (#43277)
  go.sum
  internal/proxy/impl.go
  internal/proxy/proxy_test.go
  internal/rootcoord/quota_center.go
  pkg/metrics/grpc_stats_handler.go
  pkg/metrics/proxy_metrics.go
  pkg/metrics/restful_middleware.go
  pkg/metrics/rootcoord_metrics.go
  pkg/util/paramtable/component_param.go
Due: Go

update
  internal/core/thirdparty/milvus-common/CMakeLists.txt
Due: Core

fix
  internal/datacoord/import_task_preimport.go
Due: Go

test: add create collection V2 cases for milvus client (#43805)
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/testcases/test_collection.py
Due: none

enhance: [2.5][GoSDK] Cherry pick commits for v2.5.6 and bump version (#43792)
  client/common/version.go
  client/milvusclient/iterator.go
  client/milvusclient/iterator_option.go
  client/milvusclient/iterator_test.go
  client/milvusclient/results.go
  tests/go_client/base/milvus_client.go
  tests/go_client/common/consts.go
  tests/go_client/common/response_checker.go
  tests/go_client/common/utils.go
  tests/go_client/testcases/helper/read_helper.go
  tests/go_client/testcases/search_iterator_test.go
Due: Client

feat:add BatchDescribeCollection interface
  client/go.mod
  client/go.sum
  client/milvusclient/mock_milvus_server_test.go
  go.mod
  go.sum
  internal/distributed/proxy/service.go
  internal/distributed/proxy/service_test.go
  internal/mocks/mock_proxy.go
  internal/proxy/database_interceptor.go
  internal/proxy/database_interceptor_test.go
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  internal/proxy/task.go
  internal/rootcoord/show_collection_task.go
  internal/rootcoord/show_collection_task_test.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

Modify some code according to the review
  client/column/geometry.go
  internal/core/src/common/FieldData.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/unittest/test_chunk.cpp
  internal/distributed/proxy/httpserver/utils.go
  internal/proxy/task_index.go
Due: Client, Core, Go

fix: add segment lock in LoadTextIndex and LoadJSONKeyIndex
  internal/querynodev2/segments/segment.go
Due: Go

fix: Use `proto.Equal` to compare default value of field
  internal/metastore/model/field.go
Due: Go
