Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: [3.0] validate collection schema mutations in rootcoord (#51494)
  internal/rootcoord/ddl_callbacks_alter_collection_add_field.go
  internal/rootcoord/ddl_callbacks_alter_collection_add_field_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_add_struct_field.go
  internal/rootcoord/ddl_callbacks_alter_collection_field.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema_test.go
  internal/rootcoord/ddl_callbacks_schema_validation.go
  internal/rootcoord/ddl_callbacks_schema_validation_test.go
  internal/util/schemautil/schema_evolution.go
  internal/util/schemautil/schema_evolution_test.go
Due: Go

fix: revert closed growing source channel cleanup (#51418)
  internal/flushcommon/syncmgr/growing_source.go
  internal/flushcommon/syncmgr/growing_source_test.go
  internal/flushcommon/writebuffer/write_buffer.go
  internal/flushcommon/writebuffer/write_buffer_test.go
Due: Go

test: [2.6] use container kill for CDC force-promote failover (#51499)
  tests/python_client/cdc/conftest.py
  tests/python_client/cdc/testcases/test_force_promote.py
Due: none

test: [3.0] use container kill for CDC failover scenarios (#51500)
  tests/python_client/cdc/conftest.py
  tests/python_client/cdc/testcases/test_force_promote.py
  tests/python_client/cdc/testcases/test_switchover.py
Due: none

test: Add REST query order by coverage
  tests/restful_client_v2/testcases/test_query_order_by.py
Due: none

fix: forward the pre-alter alias target id in the AlterAlias expiration
  internal/rootcoord/ddl_callbacks_alter_alias.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
Due: Go

enhance: rebuild the proxy meta cache around an id-primary store
  docs/design-docs/design_docs/20260716-proxy-metacache-id-inverted-index.md
  internal/proxy/alias_rbac_test.go
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  internal/proxy/meta_cache.go
  internal/proxy/meta_cache_test.go
  internal/proxy/mock_cache.go
  internal/proxy/task_database.go
  internal/proxy/version_cache.go
Due: Go

fix: cover boost score in L0 rerank latency metric (#51347)
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
  internal/querynodev2/tasks/l0_function_chain.go
  internal/querynodev2/tasks/l0_function_chain_test.go
  pkg/metrics/metrics.go
  pkg/metrics/querynode_metrics.go
Due: Go

fix: gate growing-source flush on StorageV3 (#51427)
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentGrowingIndexTest.cpp
  internal/core/unittest/test_utils/SegcoreConfigUtils.h
  internal/datacoord/meta.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/flushcommon/syncmgr/growing_source.go
  internal/flushcommon/syncmgr/growing_source_test.go
  internal/flushcommon/syncmgr/meta_writer.go
  internal/flushcommon/syncmgr/meta_writer_test.go
  internal/flushcommon/writebuffer/l0_write_buffer.go
  internal/flushcommon/writebuffer/l0_write_buffer_test.go
  internal/flushcommon/writebuffer/manager.go
  internal/flushcommon/writebuffer/manager_test.go
  internal/flushcommon/writebuffer/mock_manager.go
  internal/flushcommon/writebuffer/mock_write_buffer.go
  internal/flushcommon/writebuffer/write_buffer.go
  internal/flushcommon/writebuffer/write_buffer_test.go
  internal/querynodev2/delegator/delegator.go
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl.go
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl_test.go
  internal/streamingnode/server/service/handler_test.go
  internal/streamingnode/server/service/release_manual_flush_preparer.go
  internal/streamingnode/server/wal/interceptors/shard/shards/partition_manager.go
  internal/streamingnode/server/wal/interceptors/shard/shards/segment_alloc_worker.go
  internal/streamingnode/server/wal/interceptors/shard/shards/segment_workers_test.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_segment.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_test.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Core, Go

fix: use correct MinIO root path in text LOB layout test
  tests/python_client/milvus_client/test_milvus_client_text_lob.py
Due: none

fix: format ManagedSubtree header
  internal/core/src/local/ManagedSubtree.h
Due: Core

fix: keep the primary key raw column resident when its index has raw data
  internal/core/src/segcore/SegmentLoadInfo.cpp
Due: Core

fix: CAS the schema-bump in-place manifest commit to stop dropping a concurrent index (#51376) (#51377)
  internal/datacoord/compaction_policy_bump_schema_version.go
  internal/datacoord/compaction_policy_bump_schema_version_test.go
  internal/datacoord/compaction_task_bump_schema_version_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datanode/compactor/bump_schema_version_compactor.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

enhance: Reduce QueryNode distribution report payload
  configs/milvus.yaml
  internal/querycoordv2/dist/dist_handler.go
  internal/querycoordv2/dist/dist_handler_test.go
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querycoordv2/meta/channel_dist_manager_test.go
  internal/querycoordv2/meta/segment_dist_manager.go
  internal/querycoordv2/meta/segment_dist_manager_test.go
  internal/querynodev2/data_distribution_report.go
  internal/querynodev2/data_distribution_report_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/delegator/distribution_test.go
  internal/querynodev2/segments/manager.go
  internal/querynodev2/segments/manager_test.go
  internal/querynodev2/segments/mock_segment_manager.go
  internal/querynodev2/server.go
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: reduce querynode metrics allocations
  internal/querynodev2/metrics_info.go
  internal/querynodev2/segments/manager.go
  internal/querynodev2/segments/manager_test.go
Due: Go

fix: harden search against inconsistent requery under concurrent DML/DQL
  configs/milvus.yaml
  examples/telemetry_e2e_test/go.mod
  examples/telemetry_e2e_test/go.sum
  internal/core/src/index/VectorDiskIndex.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/unittest/test_indexing.cpp
  internal/proxy/impl.go
  internal/proxy/proxy_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Core, Go

fix: stop canceled TiKV prefix-delete scan
  internal/kv/tikv/txn_tikv.go
  internal/kv/tikv/txn_tikv_hardening_test.go
Due: Go

fix: stop runtime overlay from shadowing etcd-persisted mq.type after WAL switch
  cmd/roles/roles.go
  internal/util/dependency/factory.go
  internal/util/dependency/factory_test.go
  internal/util/streamingutil/util/wal_selector.go
  internal/util/streamingutil/util/wal_selector_test.go
  pkg/config/manager.go
  pkg/config/manager_test.go
Due: Go

enhance: use raw scan for inverted LIKE match (#51477)
  internal/core/src/common/RegexQueryTest.cpp
  internal/core/src/index/InvertedIndexTantivy.h
  internal/core/src/index/InvertedIndexTest.cpp
Due: Core

enhance: simplify rooted local file handles
  docs/design-docs/design_docs/20260712-local-filesystem.md
  internal/core/src/local/CMakeLists.txt
  internal/core/src/local/FileHandle.cpp
  internal/core/src/local/FileHandle.h
  internal/core/src/local/FileSystem.cpp
  internal/core/src/local/FileSystem.h
  internal/core/src/local/FileSystemTest.cpp
  internal/core/src/local/io/File.cpp
  internal/core/src/local/io/File.h
Due: Core

enhance: allow adopting native file handles
  internal/core/src/local/FileHandle.cpp
  internal/core/src/local/FileHandle.h
  internal/core/src/local/FileSystem.cpp
  internal/core/src/local/FileSystemTest.cpp
Due: Core

enhance: [3.0] pick least-loaded DataNode in globalScheduler instead of first-fit (#51330)
  internal/datacoord/task/global_scheduler.go
  internal/datacoord/task/global_scheduler_test.go
Due: Go

fix: keep proxy metric status label stable, split cause into its own label (#51495)
  deployments/monitor/grafana/milvus-dashboard.json
  docs/dev/error_handling_guide.md
  docs/dev/error_sentinel_convention.md
  internal/datacoord/ddl_callbacks_import_test.go
  internal/datacoord/index_meta.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/request_interceptor.go
  internal/distributed/proxy/request_interceptor_test.go
  internal/proxy/hook_interceptor.go
  internal/proxy/service_provider.go
  internal/proxy/snapshot_impl.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/storage/insert_data.go
  internal/util/queryutil/helpers.go
  pkg/metrics/metrics.go
  pkg/metrics/proxy_metrics.go
  pkg/util/merr/error_classification_test.go
  pkg/util/merr/errors.go
  pkg/util/requestutil/getter.go
  pkg/util/requestutil/getter_test.go
Due: Go

fix: avoid structured binding capture in OpenMP lambdas
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

fix: prevent schema updates from racing insert payload conversion (#51483)
  internal/querynodev2/pipeline/insert_node.go
  internal/querynodev2/pipeline/insert_node_test.go
  internal/querynodev2/segments/collection.go
  internal/querynodev2/segments/collection_test.go
  internal/querynodev2/segments/schema_transition_testonly.go
Due: Go

enhance: improve query node search reduce performance
  internal/core/src/segcore/plan_c.cpp
  internal/core/src/segcore/plan_c.h
  internal/core/src/segcore/search_result_export_c.cpp
  internal/core/src/segcore/search_result_export_c_test.cpp
  internal/querynodev2/tasks/heap_merge_reduce.go
  internal/querynodev2/tasks/heap_merge_reduce_test.go
  internal/querynodev2/tasks/merge_entry.go
  internal/querynodev2/tasks/search_task_go_reduce.go
  internal/querynodev2/tasks/search_task_go_reduce_test.go
  internal/util/segcore/plan.go
Due: Core, Go

fix: prevent schema updates from racing insert payload conversion
  internal/querynodev2/pipeline/insert_node.go
  internal/querynodev2/pipeline/insert_node_test.go
  internal/querynodev2/segments/collection.go
  internal/querynodev2/segments/collection_test.go
  internal/querynodev2/segments/schema_transition_testonly.go
Due: Go

enhance: [cp 3.0]: improve query node search reduce performance
  internal/core/src/segcore/plan_c.cpp
  internal/core/src/segcore/plan_c.h
  internal/core/src/segcore/search_result_export_c.cpp
  internal/core/src/segcore/search_result_export_c_test.cpp
  internal/querynodev2/tasks/heap_merge_reduce.go
  internal/querynodev2/tasks/heap_merge_reduce_test.go
  internal/querynodev2/tasks/merge_entry.go
  internal/querynodev2/tasks/search_task_go_reduce.go
  internal/querynodev2/tasks/search_task_go_reduce_test.go
  internal/util/segcore/plan.go
Due: Core, Go

fix: bound force-merge task input with one target size
  internal/datacoord/compaction_view_forcemerge.go
  internal/datacoord/compaction_view_forcemerge_test.go
  pkg/util/paramtable/component_param.go
Due: Go

test: add XGBoost FunctionChain coverage
  tests/python_client/milvus_client/test_milvus_client_function_chain.py
Due: none

enhance: record and expose DataNode task cost_time / cost_cpu_num via QueryTask (#51443)
  internal/datanode/index/scheduler.go
  internal/datanode/index/scheduler_test.go
  internal/datanode/index/task_index.go
  internal/datanode/index/task_manager.go
  internal/datanode/index/task_manager_test.go
  internal/datanode/services.go
  internal/datanode/services_test.go
  internal/datanode/taskcost/cost.go
  internal/datanode/taskcost/cost_test.go
  pkg/taskcommon/properties.go
  pkg/taskcommon/properties_test.go
Due: Go

fix: correct nullable vector array row IDs in sealed bf search (#51508)
  internal/core/src/query/SearchOnSealed.cpp
  internal/core/src/segcore/ChunkedSegmentSealedTest.cpp
Due: Core

fix: revert target sync readiness change (#51332)
  internal/querycoordv2/job/job_release_test.go
  internal/querycoordv2/observers/target_observer.go
  internal/querycoordv2/observers/target_observer_test.go
Due: Go

fix: [cp3.0] stop flusher setup when collection observation fails (#51498)
  internal/streamingnode/server/flusher/flusherimpl/flusher_components.go
  internal/streamingnode/server/flusher/flusherimpl/wal_flusher.go
  internal/streamingnode/server/flusher/flusherimpl/wal_flusher_test.go
Due: Go

fix: recreate deleted local filesystem root
  internal/core/src/local/FileSystem.cpp
  internal/core/src/local/FileSystemTest.cpp
Due: Core

fix three value bug
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/MatchExpr.cpp
  internal/core/src/exec/expression/MatchExpr.h
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/core/src/index/BitmapIndex.h
  internal/core/src/index/BitmapIndexArrayTest.cpp
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentGrowingTest.cpp
Due: Core
