Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

feat: support orderby(#41675)
  internal/proxy/search_pipeline.go
  internal/proxy/search_pipeline_test.go
  internal/proxy/search_util.go
  internal/proxy/task.go
  internal/proxy/task_search.go
  internal/proxy/task_search_namespace_test.go
  internal/proxy/task_search_test.go
Due: Go

fix: fix bloom filter leak when worker node crashes
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delta_forward.go
  internal/querynodev2/delegator/delta_forward_test.go
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/delegator/distribution_test.go
  internal/querynodev2/pkoracle/candidate.go
Due: Go

fix: fix DefaultValueChunk bugs for variable-length types and vectors
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.cpp
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.h
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslatorTest.cpp
Due: Core

fix: remove segment_loader's reserve for warmup field/index
  internal/querynodev2/segments/segment_loader.go
Due: Go

[automated] Bump milvus version to v2.6.10 (#47442)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

fix: fix rocksdb build in Ubuntu 24.04
  scripts/3rdparty_build.sh
Due: none

fix: normalize mixed int/float values in TermExpr for JSON fields
  internal/parser/planparserv2/fill_expression_value_test.go
  internal/parser/planparserv2/parser_visitor.go
Due: Go

update more ut to use plan parser, split ExprTest.cpp into several test files
  internal/core/src/exec/expression/ExprArithMiscTest.cpp
  internal/core/src/exec/expression/ExprArithOpTest.cpp
  internal/core/src/exec/expression/ExprArrayTest.cpp
  internal/core/src/exec/expression/ExprCompareTest.cpp
  internal/core/src/exec/expression/ExprGISMiscTest.cpp
  internal/core/src/exec/expression/ExprJsonAdvancedTest.cpp
  internal/core/src/exec/expression/ExprJsonContainsTest.cpp
  internal/core/src/exec/expression/ExprJsonIndexTest.cpp
  internal/core/src/exec/expression/ExprJsonRangeTest.cpp
  internal/core/src/exec/expression/ExprRangeTest.cpp
  internal/core/src/exec/expression/ExprTermTest.cpp
  internal/core/src/exec/expression/ExprTest.cpp
  internal/core/src/exec/expression/ExprTestBase.h
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/core/src/exec/operator/RescoresNodeTest.cpp
  internal/core/src/mmap/ChunkVectorTest.cpp
  internal/core/src/segcore/ReduceCTest.cpp
  internal/core/src/segcore/SegmentGrowingTest.cpp
  internal/core/src/segcore/load_index_c_test.cpp
  internal/core/src/segcore/reduce_c_test.cpp
  internal/core/src/segcore/segment_c_test.cpp
  internal/core/unittest/test_element_filter.cpp
  internal/core/unittest/test_utils/DataGen.h
Due: Core

fix: fix rocksdb build in Ubuntu 24.04 (#47455)
  scripts/3rdparty_build.sh
Due: none

enhance: Add sparse filter in search
  internal/querynodev2/segments/retrieve.go
  internal/querynodev2/segments/retrieve_test.go
  internal/querynodev2/segments/search.go
  internal/querynodev2/segments/search_test.go
  internal/querynodev2/segments/segment_filter.go
  internal/querynodev2/segments/statistics.go
  internal/querynodev2/segments/validate.go
  internal/querynodev2/tasks/query_stream_task.go
  internal/querynodev2/tasks/query_task.go
  internal/querynodev2/tasks/search_task.go
Due: Go

enhance: add design doc validation for feature PRs in mgit
  tools/mgit.py
Due: none

enhance: add design doc validation for feature PRs in mgit (#47458)
  tools/mgit.py
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

Add Claude Code GitHub Workflow (#47459)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

enhance: optimize LIKE pattern matching with SmartPatternMatcher
  internal/core/src/common/RegexQuery.cpp
  internal/core/src/common/RegexQuery.h
  internal/core/src/common/RegexQueryTest.cpp
  internal/core/src/common/RegexQueryUtilTest.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/ExprTest.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/exec/expression/UnaryExprTest.cpp
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/BitmapIndex.h
  internal/core/src/index/HybridScalarIndex.h
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/InvertedIndexTantivy.h
  internal/core/src/index/InvertedIndexTest.cpp
  internal/core/src/index/JsonFlatIndex.h
  internal/core/src/index/JsonFlatIndexTest.cpp
  internal/core/src/index/NgramInvertedIndex.cpp
  internal/core/src/index/ScalarIndex.h
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/storage/PayloadReader.h
  internal/core/unittest/bench/CMakeLists.txt
  internal/core/unittest/bench/bench_regex_query.cpp
Due: Core

fix: Fix macOS 15+ build compatibility for Apple Silicon
  DEVELOPMENT.md
  Makefile
  build-test/README.md
  build-test/docker-compose.yml
  build-test/docker/Dockerfile.amazonlinux2023
  build-test/docker/Dockerfile.rocky8
  build-test/docker/Dockerfile.rocky9
  build-test/docker/Dockerfile.ubuntu2004
  build-test/docker/Dockerfile.ubuntu2204
  build-test/docker/Dockerfile.ubuntu2404
  build-test/results/amazonlinux2023.log.build
  build-test/results/build-profile-macos.md
  build-test/results/macos15-arm64.exit
  build-test/results/rocky8.log.build
  build-test/results/rocky9.log.build
  build-test/results/ubuntu2004.log.build
  build-test/results/ubuntu2204.log.build
  build-test/results/ubuntu2404.log.build
  build-test/scripts/run-all-tests.sh
  build-test/scripts/test-macos.sh
  build-test/scripts/test-single-docker.sh
  internal/core/cmake/ThirdPartyPackages.cmake
  internal/core/conanfile.py
  internal/core/src/minhash/CMakeLists.txt
  internal/core/src/minhash/MinHashHook.cpp
  internal/core/src/storage/CMakeLists.txt
  internal/core/thirdparty/knowhere/CMakeLists.txt
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  scripts/3rdparty_build.sh
  scripts/core_build.sh
  scripts/install_deps.sh
  scripts/setenv.sh
Due: Core

enhance: SemanticHighligh supports dynamic field
  internal/proxy/highlighter.go
  internal/proxy/search_pipeline_test.go
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
  internal/util/function/highlight/semantic_highlight.go
  internal/util/function/highlight/semantic_highlight_test.go
Due: Go

fix: Fix macOS 15+ build compatibility for Apple Silicon
  DEVELOPMENT.md
  Makefile
  build-test/README.md
  build-test/docker-compose.yml
  build-test/docker/Dockerfile.amazonlinux2023
  build-test/docker/Dockerfile.rocky8
  build-test/docker/Dockerfile.rocky9
  build-test/docker/Dockerfile.ubuntu2004
  build-test/docker/Dockerfile.ubuntu2204
  build-test/docker/Dockerfile.ubuntu2404
  build-test/results/amazonlinux2023.log.build
  build-test/results/build-profile-macos.md
  build-test/results/macos15-arm64.exit
  build-test/results/rocky8.log.build
  build-test/results/rocky9.log.build
  build-test/results/ubuntu2004.log.build
  build-test/results/ubuntu2204.log.build
  build-test/results/ubuntu2404.log.build
  build-test/scripts/run-all-tests.sh
  build-test/scripts/test-macos.sh
  build-test/scripts/test-single-docker.sh
  internal/core/CMakeLists.txt
  internal/core/cmake/BuildUtils.cmake
  internal/core/cmake/DefineOptions.cmake
  internal/core/cmake/ThirdPartyPackages.cmake
  internal/core/conanfile.py
  internal/core/src/CMakeLists.txt
  internal/core/src/index/Meta.h
  internal/core/src/minhash/CMakeLists.txt
  internal/core/src/minhash/MinHashHook.cpp
  internal/core/src/storage/CMakeLists.txt
  internal/core/thirdparty/knowhere/CMakeLists.txt
  internal/core/thirdparty/milvus-common/CMakeLists.txt
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/core/thirdparty/tantivy/CMakeLists.txt
  scripts/3rdparty_build.sh
  scripts/core_build.sh
  scripts/install_deps.sh
  scripts/setenv.sh
Due: Core

feat: add JOIN clause parser for post-search enrichment (Simple Joins MEP)
  internal/proxy/join_parser.go
  internal/proxy/join_parser_test.go
  internal/proxy/task_search.go
Due: Go

enhance: Add sparse filter in search (#47444)
  internal/querynodev2/segments/retrieve.go
  internal/querynodev2/segments/retrieve_test.go
  internal/querynodev2/segments/search.go
  internal/querynodev2/segments/search_test.go
  internal/querynodev2/segments/segment_filter.go
  internal/querynodev2/segments/statistics.go
  internal/querynodev2/segments/validate.go
  internal/querynodev2/tasks/query_stream_task.go
  internal/querynodev2/tasks/query_task.go
  internal/querynodev2/tasks/search_task.go
Due: Go

enhance: update more ut to use plan parser, split ExprTest.cpp into several test files (#47429)
  internal/core/src/exec/expression/ExprArithMiscTest.cpp
  internal/core/src/exec/expression/ExprArithOpTest.cpp
  internal/core/src/exec/expression/ExprArrayTest.cpp
  internal/core/src/exec/expression/ExprCompareTest.cpp
  internal/core/src/exec/expression/ExprGISMiscTest.cpp
  internal/core/src/exec/expression/ExprJsonAdvancedTest.cpp
  internal/core/src/exec/expression/ExprJsonContainsTest.cpp
  internal/core/src/exec/expression/ExprJsonIndexTest.cpp
  internal/core/src/exec/expression/ExprJsonRangeTest.cpp
  internal/core/src/exec/expression/ExprRangeTest.cpp
  internal/core/src/exec/expression/ExprTermTest.cpp
  internal/core/src/exec/expression/ExprTest.cpp
  internal/core/src/exec/expression/ExprTestBase.h
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/core/src/exec/operator/RescoresNodeTest.cpp
  internal/core/src/mmap/ChunkVectorTest.cpp
  internal/core/src/segcore/ReduceCTest.cpp
  internal/core/src/segcore/SegmentGrowingTest.cpp
  internal/core/src/segcore/load_index_c_test.cpp
  internal/core/src/segcore/reduce_c_test.cpp
  internal/core/src/segcore/segment_c_test.cpp
  internal/core/unittest/test_element_filter.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/parser/planparserv2/fill_expression_value_test.go
  internal/parser/planparserv2/parser_visitor.go
Due: Core, Go

fix: less empty time tick filtering interval
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

enhance:[2.6] Add sparse filter in search (#47447)
  internal/querynodev2/segments/retrieve.go
  internal/querynodev2/segments/retrieve_test.go
  internal/querynodev2/segments/search.go
  internal/querynodev2/segments/search_test.go
  internal/querynodev2/segments/segment_filter.go
  internal/querynodev2/segments/statistics.go
  internal/querynodev2/segments/validate.go
  internal/querynodev2/tasks/query_stream_task.go
  internal/querynodev2/tasks/query_task.go
  internal/querynodev2/tasks/search_task.go
Due: Go

enhance: [2.6] optimize mixcoord cpu and mem usage by avoiding redundant calculation in balance checker (#47190)
  internal/querycoordv2/assign/assign_policy_rowcount.go
  internal/querycoordv2/assign/assign_policy_rowcount_test.go
  internal/querycoordv2/assign/assign_policy_score.go
  internal/querycoordv2/assign/assign_policy_score_test.go
  internal/querycoordv2/checkers/balance_checker.go
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querycoordv2/meta/channel_dist_manager_test.go
  internal/querycoordv2/meta/segment_dist_manager.go
  internal/querycoordv2/meta/segment_dist_manager_test.go
  internal/querycoordv2/task/scheduler.go
  internal/querycoordv2/task/task_test.go
Due: Go

enhance: [2.6] Add LoadWithStrategyAsync for true I/O pipelining in StorageV2 (#47427)
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/segcore/memory_planner.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/storage/Util.h
Due: Core

fix: Fill log & memory size in TextIndexStats meta (#47435)
  internal/datanode/compactor/sort_compaction.go
  internal/datanode/index/task_stats.go
Due: Go

enhance: add latest delete snapshot optimization
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/src/common/Consts.h
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/segcore/DeletedRecord.h
  internal/core/src/segcore/DeletedRecordTest.cpp
  internal/core/unittest/test_sealed.cpp
  internal/util/initcore/init_core.go
  internal/util/initcore/query_node.go
  internal/util/initcore/util.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

fix: add early return in ProcessDelete when delegator is stopped
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
Due: Go

enhance: update more ut to use plan parser, split ExprTest.cpp into several test files (#47429)
  internal/core/src/exec/expression/ExprArithMiscTest.cpp
  internal/core/src/exec/expression/ExprArithOpTest.cpp
  internal/core/src/exec/expression/ExprArrayTest.cpp
  internal/core/src/exec/expression/ExprCompareTest.cpp
  internal/core/src/exec/expression/ExprGISMiscTest.cpp
  internal/core/src/exec/expression/ExprJsonAdvancedTest.cpp
  internal/core/src/exec/expression/ExprJsonContainsTest.cpp
  internal/core/src/exec/expression/ExprJsonIndexTest.cpp
  internal/core/src/exec/expression/ExprJsonRangeTest.cpp
  internal/core/src/exec/expression/ExprRangeTest.cpp
  internal/core/src/exec/expression/ExprTermTest.cpp
  internal/core/src/exec/expression/ExprTest.cpp
  internal/core/src/exec/expression/ExprTestBase.h
  internal/core/src/exec/operator/RescoresNodeTest.cpp
  internal/core/src/mmap/ChunkVectorTest.cpp
  internal/core/src/segcore/ReduceCTest.cpp
  internal/core/src/segcore/SegmentGrowingTest.cpp
  internal/core/src/segcore/load_index_c_test.cpp
  internal/core/src/segcore/reduce_c_test.cpp
  internal/core/src/segcore/segment_c_test.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/parser/planparserv2/fill_expression_value_test.go
  internal/parser/planparserv2/parser_visitor.go
Due: Core, Go

fix: build fresh message on each WAL append retry to avoid panic
  internal/streamingnode/server/wal/interceptors/shard/shards/segment_alloc_worker.go
  internal/streamingnode/server/wal/interceptors/shard/shards/segment_flush_worker.go
  internal/streamingnode/server/wal/interceptors/shard/shards/segment_workers_test.go
Due: Go

enhance: [hotfix] Add LoadWithStrategyAsync for true I/O pipelining in StorageV2 (#47427) (#47474)
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/segcore/memory_planner.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/storage/Util.h
Due: Core
