Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

add support for WP quorum buffer service mode storage backend
  configs/milvus.yaml
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/streaming/walimpls/impls/wp/wp_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

fix: [2.6] Set task init when worker doesn't have task (#45676)
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_clustering_test.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_l0_test.go
  internal/datacoord/compaction_task_mix.go
Due: Go

enhance: prefetch vector chunks for sealed non-indexed segments (#45665)
  internal/core/src/query/SearchOnSealed.cpp
Due: Core

enhance: [2.6]prefetch vector chunks for sealed non-indexed segments (#45666)
  internal/core/src/query/SearchOnSealed.cpp
Due: Core

fix: panic when streaming coord shutdown but query coord still work
  internal/coordinator/snmanager/streaming_node_manager.go
Due: Go

fix: inconsistent proxy cache when multiple DDL is executing with DML
  internal/proxy/meta_cache.go
Due: Go

enhance: optimize term expr performance (#45671)
  internal/core/src/exec/expression/Element.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TermExpr.cpp
Due: Core

updated multiple places where the expr copies the input values in every loop
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/Element.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/TermExpr.cpp
Due: Core

test: add e2e-amd for v2 config
  tests/scripts/ci_e2e_with_restful.sh
Due: none

add a new build target which generates a so that can be used by c++ to parse expr string into plan proto; remove the old exprparser tool
  Makefile
  cmd/tools/exprparser/main.go
  internal/parser/planparserv2/cwrapper/milvus_plan_parser.cpp
  internal/parser/planparserv2/cwrapper/milvus_plan_parser.h
  internal/parser/planparserv2/cwrapper/wrapper.go
Due: Go

enhance: updated multiple places where the expr copies the input values in every loop (#45680)
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/Element.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/TermExpr.cpp
Due: Core

plan parser is now embedded into milvus core so
  Makefile
  internal/core/src/CMakeLists.txt
  internal/core/src/plan/CMakeLists.txt
  internal/core/src/plan/milvus_plan_parser.cpp
  internal/core/src/plan/milvus_plan_parser.h
Due: Core

fix: inconsistent proxy cache when multiple DDL is executing with DML (#45698)
  internal/proxy/meta_cache.go
Due: Go

enhance: remove useless code(#30376)
  internal/util/exprutil/expr_checker.go
  internal/util/exprutil/expr_checker_test.go
Due: Go

[automated] Bump milvus version to v2.5.23 (#45704)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

fix: Fix json indices can not be loaded (#45620)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

fix: panic when streaming coord shutdown but query coord still work (#45695)
  internal/coordinator/snmanager/streaming_node_manager.go
Due: Go

Only big vector index exclusives the worker
  internal/datacoord/task_index.go
Due: Go

Update task exclusive worker
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_mix.go
  internal/datacoord/import_task_import.go
  internal/datacoord/import_task_preimport.go
  internal/datacoord/index_inspector.go
  internal/datacoord/task/global_scheduler.go
  internal/datacoord/task/mock_task.go
  internal/datacoord/task/task.go
  internal/datacoord/task_analyze.go
  internal/datacoord/task_index.go
  internal/datacoord/task_stats.go
  internal/proxy/validate_util_test.go
Due: Go

test: Increase PyMilvus version to 2.7.0rc64
  tests/python_client/requirements.txt
Due: none

update task latency bucket
  pkg/metrics/metrics.go
Due: Go

moved query optimization to proxy, added various optimizations
  internal/core/src/exec/expression/Expr.cpp
  internal/core/unittest/test_exec.cpp
  internal/parser/planparserv2/plan_parser_v2.go
  internal/parser/planparserv2/rewriter/README.md
  internal/parser/planparserv2/rewriter/entry.go
  internal/parser/planparserv2/rewriter/range.go
  internal/parser/planparserv2/rewriter/range_binary_test.go
  internal/parser/planparserv2/rewriter/range_json_test.go
  internal/parser/planparserv2/rewriter/range_test.go
  internal/parser/planparserv2/rewriter/term_in.go
  internal/parser/planparserv2/rewriter/term_in_test.go
  internal/parser/planparserv2/rewriter/text_match.go
  internal/parser/planparserv2/rewriter/text_match_test.go
  internal/parser/planparserv2/rewriter/util.go
  internal/proxy/task_search_test.go
  internal/util/exprutil/expr_checker_test.go
  pkg/util/paramtable/component_param.go
  tests/go_client/testcases/delete_test.go
  tests/python_client/testcases/test_delete.py
Due: Core, Go

fix: protect tbb concurrent_map emplace to avoid race condition deadlock (#45681)
  internal/core/src/storage/StorageV2FSCache.cpp
Due: Core

test: refactor checker to using milvus client (#45524)
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/constants.py
  tests/python_client/chaos/testcases/test_single_request_operation.py
  tests/python_client/common/common_func.py
  tests/python_client/common/common_type.py
  tests/python_client/milvus_client/test_milvus_client_partial_update.py
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
  tests/python_client/pytest.ini
Due: none

fix: panic when streaming coord shutdown but query coord still work (#45696)
  internal/coordinator/snmanager/streaming_node_manager.go
Due: Go

Revert "fix: inconsistent proxy cache when multiple DDL is executing with DML (#45698)"
  internal/proxy/meta_cache.go
Due: Go

enhance: Remove large segment ID arrays from QueryNode logs
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/segments/segment_loader.go
Due: Go

test: add e2e-v2 helm for amd (#45621)
  tests/_helm/values/e2e-amd/distributed-pulsar
  tests/_helm/values/e2e-amd/standalone
  tests/_helm/values/e2e-amd/standalone-kafka-mmap
  tests/_helm/values/e2e-amd/standalone-one-pod
  tests/python_client/pytest.ini
  tests/restful_client/pytest.ini
  tests/restful_client_v2/pytest.ini
  tests/scripts/ci_e2e_4am_without_restful.sh
  tests/scripts/ci_e2e_with_restful.sh
Due: none

enhance: updated multiple places where the expr copies the input values in every loop (#45712)
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/Element.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/TermExpr.cpp
Due: Core

fix: [2.6] protect tbb concurrent_map emplace to avoid race condition deadlock (#45682)
  internal/core/src/storage/StorageV2FSCache.cpp
Due: Core

feat: add configurable batch factor and runtime check bypass for embedding functions
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  internal/datacoord/server.go
  internal/datacoord/server_test.go
  internal/proxy/database_interceptor.go
  internal/proxy/database_interceptor_test.go
  internal/proxy/function_task.go
  internal/proxy/task.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/util/function/embedding/ali_embedding_provider.go
  internal/util/function/embedding/bedrock_embedding_provider.go
  internal/util/function/embedding/bedrock_text_embedding_provider_test.go
  internal/util/function/embedding/cohere_embedding_provider.go
  internal/util/function/embedding/cohere_embedding_provider_test.go
  internal/util/function/embedding/openai_embedding_provider.go
  internal/util/function/embedding/siliconflow_embedding_provider.go
  internal/util/function/embedding/siliconflow_embedding_provider_test.go
  internal/util/function/embedding/tei_embedding_provider.go
  internal/util/function/embedding/tei_embedding_provider_test.go
  internal/util/function/embedding/text_embedding_function.go
  internal/util/function/embedding/vertexai_embedding_provider.go
  internal/util/function/embedding/vertexai_embedding_provider_test.go
  internal/util/function/embedding/voyageai_embedding_provider.go
  internal/util/function/embedding/voyageai_embedding_provider_test.go
  internal/util/function/embedding/zilliz_embedding_provider.go
  internal/util/function/embedding/zilliz_embedding_provider_test.go
  internal/util/function/models/common.go
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/util/paramtable/function_param.go
  pkg/util/paramtable/function_param_test.go
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix: use latest timetick to expire cache
  internal/proxy/impl.go
  internal/proxy/meta_cache.go
  internal/proxy/meta_cache_test.go
  internal/proxy/mock_cache.go
  internal/proxy/task_test.go
  internal/rootcoord/ddl_callbacks.go
  internal/rootcoord/ddl_callbacks_alter_alias.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_database.go
  internal/rootcoord/ddl_callbacks_create_collection.go
  internal/rootcoord/ddl_callbacks_create_database.go
  internal/rootcoord/ddl_callbacks_create_partition.go
  internal/rootcoord/ddl_callbacks_drop_alias.go
  internal/rootcoord/ddl_callbacks_drop_collection.go
  internal/rootcoord/ddl_callbacks_drop_database.go
  internal/rootcoord/ddl_callbacks_drop_partition.go
Due: Go

fix: remove the too frequent metric collect of tokenizer
  internal/core/src/segcore/token_stream_c.cpp
  internal/core/src/segcore/tokenizer_c.cpp
Due: Core

fix: Set replica field in balance plans to prevent panic
  internal/querycoordv2/balance/multi_target_balance.go
  tests/integration/balance/balance_test.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
