Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: Failed to rolling upgrade from v2.5.6 to new 2.5 version when enable JsonKeyStats (#40661)
  configs/milvus.yaml
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/src/common/Consts.h
  internal/core/src/common/FieldMeta.cpp
  internal/core/src/common/FieldMeta.h
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/JsonKeyStatsInvertedIndex.cpp
  internal/core/src/index/JsonKeyStatsInvertedIndex.h
  internal/core/src/indexbuilder/index_c.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_json_key_stats_index.cpp
  internal/datacoord/job_manager.go
  internal/datacoord/task_stats.go
  internal/indexnode/task_stats.go
  internal/querycoordv2/checkers/index_checker.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/server.go
  pkg/metrics/indexnode_metrics.go
  pkg/proto/index_cgo_msg.proto
  pkg/proto/indexcgopb/index_cgo_msg.pb.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
  pkg/util/paramtable/component_param.go
  pkg/util/typeutil/field_schema.go
Due: Core, Go

test: add concurrent index creation verification
  tests/restful_client_v2/testcases/test_index_operation.py
Due: none

fix seek error
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_id.go
Due: Go

enhance: remain raw token for audit log (#40637)
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/service.go
  internal/proxy/accesslog/info/restful_info.go
Due: Go

fix: Continue synchronizing segments but skip loading Bloom Filters
  internal/datacoord/server.go
  internal/datanode/services.go
  internal/flushcommon/writebuffer/write_buffer.go
Due: Go

enhance: Bump milvus & proto version to v2.5.7
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix:[2.5]fix growing index ut (#40724)
  internal/core/unittest/test_growing_index.cpp
Due: Core

fix: [2.5] Remove lag targets after main dispatcher (#40717)
  pkg/mq/msgdispatcher/manager.go
Due: Go

enhance: Add buffer forwarder for stream delta loading (#40559)
  configs/milvus.yaml
  internal/querynodev2/delegator/buffered_forwarder.go
  internal/querynodev2/delegator/buffered_forwarder_test.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/deletebuffer/list_delete_buffer.go
  internal/querynodev2/delegator/delta_forward.go
  internal/querynodev2/delegator/delta_forward_test.go
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
  internal/storage/delta_data.go
  internal/storage/primary_keys.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/util/paramtable/component_param.go
Due: Go

Fix branching logic diff
  internal/querynodev2/delegator/delegator_data.go
Due: Go

test: remove case label not needed
  tests/python_client/text_embedding/test_text_embedding_function.py
Due: none

Do not delete the centroids file when sampling fails instead wait GC
  internal/core/src/clustering/KmeansClustering.cpp
Due: Core

fix checker
  internal/core/src/clustering/KmeansClustering.cpp
Due: Core

fix: mmap properties failed to apply when creating collection(#40511)
  internal/distributed/proxy/httpserver/handler_v2.go
Due: Go

improve sparse query nnz metric: add query type and field id label; add for hybrid search
  internal/proxy/task_search.go
  internal/querynodev2/delegator/delegator_data.go
  pkg/metrics/metrics.go
  pkg/metrics/proxy_metrics.go
  pkg/metrics/querynode_metrics.go
  pkg/util/typeutil/schema.go
Due: Go

enhance: Bump milvus & proto version to v2.5.7 (#40728)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

enhance: enable memory prof based on jemalloc
  Makefile
  build/docker/milvus/amazonlinux2023/Dockerfile
  build/docker/milvus/gpu/ubuntu20.04/Dockerfile
  build/docker/milvus/gpu/ubuntu22.04/Dockerfile
  build/docker/milvus/rockylinux8/Dockerfile
  build/docker/milvus/ubuntu20.04/Dockerfile
  build/docker/milvus/ubuntu22.04/Dockerfile
  go.mod
  go.sum
  internal/core/thirdparty/jemalloc/CMakeLists.txt
  pkg/go.mod
  pkg/go.sum
  scripts/start_cluster.sh
  scripts/start_standalone.sh
Due: Core, Go

fix jsonstats negative filter
  internal/core/src/index/JsonKeyStatsInvertedIndex.h
Due: Core

fix: Fix messages loss during seek
  pkg/mq/msgstream/mq_msgstream.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_consumer.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_id.go
Due: Go

update
  internal/datanode/services.go
Due: Go

fix
  internal/core/src/index/JsonKeyStatsInvertedIndex.h
Due: Core

add log
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_consumer.go
Due: Go

fix: [2.5] Fix messages loss during seek (#40736)
  pkg/mq/msgstream/mq_msgstream.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_consumer.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_id.go
Due: Go

fix: [2.5] Do not delete the centroids file when sampling fails instead wait GC (#40702)
  internal/core/src/clustering/KmeansClustering.cpp
Due: Core

fix: mmap properties failed to apply when creating collection(#40511) (#40515)
  internal/distributed/proxy/httpserver/handler_v2.go
Due: Go

fix: jsonstats Negative numbers cannot be filtered out (#40734)
  internal/core/src/index/JsonKeyStatsInvertedIndex.h
Due: Core

use NewInsertDataWithFunctionOutputField when importing binlog file
  internal/util/importutilv2/binlog/reader.go
Due: Go

fix: [2.5] use NewInsertDataWithFunctionOutputField when importing binlog file (#40742)
  internal/util/importutilv2/binlog/reader.go
Due: Go

doc: Add README for go milvusclient (#40630)
  client/README.md
Due: Client

enhance: [skip e2e][GoSDK] Add client example for common usage (#40643)
  client/milvusclient/index_example_test.go
  client/milvusclient/maintenance_example_test.go
  client/milvusclient/read_example_test.go
  client/milvusclient/resource_group_example_test.go
  client/milvusclient/write_example_test.go
Due: Client

enhance: Add UTF-8 string validation for import
  internal/util/importutilv2/common/util.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/json/row_parser_test.go
  internal/util/importutilv2/numpy/field_reader_test.go
  internal/util/importutilv2/parquet/field_reader.go
  internal/util/importutilv2/parquet/field_reader_test.go
  internal/util/importutilv2/parquet/util.go
  pkg/util/typeutil/string_util.go
Due: Go

enhance: [2.5] Add buffer forwarder for stream delta loading (#40559) (#40699)
  configs/milvus.yaml
  internal/querynodev2/delegator/buffered_forwarder.go
  internal/querynodev2/delegator/buffered_forwarder_test.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/deletebuffer/list_delete_buffer.go
  internal/querynodev2/delegator/delta_forward.go
  internal/querynodev2/delegator/delta_forward_test.go
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
  internal/storage/delta_data.go
  internal/storage/primary_keys.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: use NewInsertDataWithFunctionOutputField when importing binlog file (#40741)
  internal/util/importutilv2/binlog/reader.go
Due: Go

enhance: add wal access mode options (#40617)
  internal/streamingcoord/server/balancer/channel/pchannel.go
  internal/streamingnode/server/wal/adaptor/opener.go
  internal/streamingnode/server/wal/adaptor/ro_wal_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_switchable.go
  internal/streamingnode/server/wal/adaptor/wal_adaptor.go
  internal/streamingnode/server/wal/adaptor/wal_adaptor_test.go
  internal/streamingnode/server/wal/adaptor/wal_test.go
  internal/streamingnode/server/wal/wal.go
  internal/streamingnode/server/walmanager/manager_impl.go
  pkg/streaming/util/types/pchannel_info.go
  pkg/streaming/util/types/pchannel_info_test.go
  pkg/streaming/util/types/responses_test.go
  pkg/streaming/util/types/streaming_node_test.go
Due: Go

test: Split test_search and refactor on test class to share collections (#40677)
  tests/_helm/values/e2e/standalone-kafka-mmap
  tests/python_client/base/client_v2_base.py
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/milvus_client_v2/test_milvus_client_alias_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_e2e.py
  tests/python_client/milvus_client_v2/test_milvus_client_hybrid_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_range_search.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_array.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_diskann.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_dsl.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_group_by.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_invalid.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_iterator_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_json.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_load.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_none_default.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_string.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_text_match.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_sparse_search.py
  tests/python_client/testcases/test_search.py
  tests/restful_client_v2/pytest.ini
Due: none

Support slot for index task and stats task
  configs/milvus.yaml
  internal/datacoord/index_service.go
  internal/datacoord/job_manager.go
  internal/datacoord/session/indexnode_manager.go
  internal/datacoord/session/indexnode_manager_test.go
  internal/datacoord/session/mock_worker_manager.go
  internal/datacoord/task_analyze.go
  internal/datacoord/task_index.go
  internal/datacoord/task_scheduler.go
  internal/datacoord/task_scheduler_test.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
  internal/datacoord/types.go
  internal/datacoord/util.go
  internal/indexnode/indexnode.go
  internal/indexnode/indexnode_service.go
  internal/indexnode/indexnode_test.go
  internal/indexnode/task.go
  internal/indexnode/task_analyze.go
  internal/indexnode/task_index.go
  internal/indexnode/task_scheduler.go
  internal/indexnode/task_scheduler_test.go
  internal/indexnode/task_stats.go
  internal/indexnode/util.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
  pkg/util/merr/errors.go
  pkg/util/merr/utils.go
  pkg/util/paramtable/component_param.go
  tests/_helm/values/e2e/distributed
  tests/_helm/values/e2e/distributed-streaming-service
  tests/_helm/values/e2e/standalone
  tests/_helm/values/e2e/standalone-kafka-mmap
  tests/_helm/values/e2e/standalone-one-pod
Due: Go
