Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

enhance: centralize bitmap statistics in owners
  docs/design-docs/design_docs/20261005-readonly-bitmap-views-and-statistics.md
  internal/core/src/bitset/BitsetTest.cpp
  internal/core/src/bitset/README.md
  internal/core/src/bitset/bitset.h
  internal/core/src/bitset/tests/header_only.cpp
Due: Core

fix: return the replicate configuration of an unconfigured cluster instead of blocking
  internal/cdc/replication/replicatestream/replicate_stream_client_impl.go
  internal/cdc/replication/replicatestream/replicate_stream_client_impl_test.go
  internal/distributed/streaming/replicate_service.go
  internal/distributed/streaming/replicate_service_test.go
  internal/streamingcoord/client/assignment/assignment_test.go
  internal/streamingcoord/client/assignment/watcher.go
  pkg/util/replicateutil/config_helper.go
Due: Go

enhance: add per-collection deltalog observability metrics
  internal/datacoord/meta.go
  internal/datacoord/metrics_deltalog.go
  internal/datacoord/metrics_deltalog_test.go
  pkg/metrics/datacoord_metrics.go
Due: Go

enhance: address deltalog metrics review (level label, sort-once, L0 short-circuit)
  internal/datacoord/metrics_deltalog.go
  internal/datacoord/metrics_deltalog_test.go
  pkg/metrics/datacoord_metrics.go
Due: Go

fix: address review on deltalog observability metrics
  internal/datacoord/meta.go
  internal/datacoord/metrics_deltalog.go
  internal/datacoord/metrics_deltalog_test.go
  pkg/metrics/datacoord_metrics.go
Due: Go

fix: make the known-loaded check node-aware and strengthen its tests
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
Due: Go

fix: let the delegator refuse to release a segment it is still serving
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/delegator/distribution_test.go
Due: Go

fix: release segments from the delegator's reported serving set, not from target-version arithmetic
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/dist/dist_handler.go
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/delegator/distribution_test.go
  internal/querynodev2/delegator/mock_delegator.go
  internal/querynodev2/services.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Go

fix: treat a release candidate as in use only when it is known loaded
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
Due: Go

test: cover the decisive delegator-reported release path; deep-copy view fields in Clone
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/meta/channel_dist_manager.go
Due: Go

fix: remove stale collection schema metadata on alter (#50387)
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
Due: Go

fix: avoid panic in tombstoneScheduler.AddPending during shutdown (#50550)
  internal/streamingcoord/server/broadcaster/tombstone_scheduler.go
Due: Go

fix: let a replicate configuration read from the cluster be written back (#52735)
  internal/streamingcoord/server/service/assignment.go
  internal/streamingcoord/server/service/assignment_test.go
  pkg/util/replicateutil/sanitize.go
  pkg/util/replicateutil/sanitize_test.go
Due: Go

fix: ignore topology changes that predate a replication task (#52728)
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/cdc/replication/replicatemanager/channel_replicator_test.go
  internal/cdc/util/util.go
  internal/cdc/util/util_test.go
Due: Go

enhance: preserve Boolean regex conditions for FMIndex
  docs/design-docs/design_docs/20261004-fmindex-regex-candidates.md
  internal/core/src/common/RegexLiteral.cpp
  internal/core/src/common/RegexQuery.h
  internal/core/src/common/RegexRequiredPrefixTest.cpp
  internal/core/src/index/FMIndex.cpp
  internal/core/src/index/FMIndex.h
  internal/core/src/index/FMIndexTest.cpp
Due: Core

doc: align regex and FMIndex designs with candidate filtering
  docs/design-docs/design_docs/20260409-regex_filter.md
  docs/design-docs/design_docs/20260708-fm_index_scalar_index.md
Due: none

enhance: preserve sorted membership diagnostics
  internal/core/src/index/SortedMembership.h
  internal/core/src/index/SortedMembershipTest.cpp
Due: Core

fix: give snapshot restore's CreateCollection/CreatePartition their own broker timeout
  configs/milvus.yaml
  internal/datacoord/broker/coordinator_broker.go
  internal/datacoord/broker/coordinator_broker_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: use snapshot restore broker timeout for restore-rollback DropCollection
  configs/milvus.yaml
  internal/datacoord/broker/coordinator_broker.go
  internal/datacoord/broker/coordinator_broker_test.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: optimize sorted scalar membership lookups (#53901)
  docs/design-docs/design_docs/20260929-sorted-int64-membership.md
  internal/core/benchmark/CMakeLists.txt
  internal/core/benchmark/SortedInt64LookupBenchmark.cpp
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/index/ScalarIndexSortTest.cpp
  internal/core/src/index/SortedMembership.h
  internal/core/src/index/SortedMembershipTest.cpp
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/index/StringIndexSort.h
  internal/core/src/index/StringIndexSortTest.cpp
Due: Core

fix: prevent NaN values in sorted scalar indexes
  internal/core/src/common/JsonCastFunction.cpp
  internal/core/src/index/JsonPathIndexTest.cpp
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/index/ScalarIndexSortTest.cpp
  internal/proxy/fieldvalidator/validate_array_nan_test.go
  internal/proxy/fieldvalidator/validate_util.go
Due: Core, Go

fix: use binary lookup for small sorted membership lists
  docs/design-docs/design_docs/20260929-sorted-int64-membership.md
  internal/core/benchmark/SortedInt64LookupBenchmark.cpp
  internal/core/src/index/SortedMembership.h
  internal/core/src/index/SortedMembershipTest.cpp
Due: Core

test: expect NotServingSealedSegments on the mock delegators in the querynode service tests
  internal/querynodev2/services_test.go
Due: Go

fix: preserve bitset statistics across batch writes
  docs/design-docs/design_docs/20261005-readonly-bitmap-views-and-statistics.md
  internal/core/src/index/Utils.h
  internal/core/src/index/UtilsTest.cpp
  internal/core/src/segcore/DeletedRecord.h
  internal/core/src/segcore/DeletedRecordTest.cpp
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/InsertRecordOffsetOrderedArrayTest.cpp
Due: Core

doc: record rebased bitmap validation
  docs/design-docs/design_docs/20261005-readonly-bitmap-views-and-statistics.md
Due: none

fix: refresh target server ID for each gRPC request
  internal/util/grpcclient/client.go
  internal/util/grpcclient/client_test.go
  pkg/util/interceptor/server_id_interceptor.go
  pkg/util/interceptor/server_id_interceptor_test.go
Due: Go

fix: treat an HTTP 200 DeleteObject response as a successful delete
  internal/storage/minio_object_storage.go
  internal/storage/minio_object_storage_test.go
Due: Go

fix: compare replicate configurations without tokens while a secondary waits for the primary
  internal/streamingcoord/server/service/assignment.go
  internal/streamingcoord/server/service/assignment_test.go
Due: Go

enhance: de-synchronize and rate-limit delete-triggered single compaction
  internal/datacoord/compaction_admission.go
  internal/datacoord/compaction_admission_test.go
  internal/datacoord/compaction_inspector.go
  internal/datacoord/compaction_policy_single.go
  internal/datacoord/compaction_policy_single_test.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/compaction_trigger_v2_test.go
  internal/datacoord/mock_compaction_inspector.go
  pkg/metrics/datacoord_metrics.go
  pkg/metrics/metrics.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: [cp3.0] Defer JSON stats initialization until first use (#53888)
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/storagev2translator/JsonStatsTranslator.cpp
  internal/core/src/segcore/storagev2translator/JsonStatsTranslator.h
  internal/core/unittest/test_json_stats/test_json_key_stats.cpp
Due: Core

enhance: address the admission review on single compaction fairness and accounting
  internal/datacoord/compaction_admission.go
  internal/datacoord/compaction_admission_test.go
  internal/datacoord/compaction_policy_single.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/compaction_trigger_v2.go
  pkg/metrics/datacoord_metrics.go
  pkg/metrics/metrics.go
Due: Go

enhance: Reduce verbose QueryNode loading logs (#53439)
  internal/core/src/index/ScalarIndex.cpp
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/Collection.cpp
  internal/core/src/segcore/load_index_c.cpp
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/segcore/storagev1translator/SealedIndexTranslator.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
  internal/querynodev2/segments/collection.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_loader.go
  internal/storagev2/packed/packed_reader_ffi.go
  internal/util/segcore/segment.go
Due: Core, Go

feat: define cluster compaction layout contracts
  configs/milvus.yaml
  internal/datacoord/task_analyze.go
  internal/datacoord/task_analyze_test.go
  internal/util/clustercompaction/artifact.go
  internal/util/clustercompaction/artifact_test.go
  internal/util/clustercompaction/layout_plan.go
  internal/util/clustercompaction/layout_plan_test.go
  internal/util/clustering/clustering.go
  internal/util/clustering/clustering_test.go
  pkg/proto/clustering.proto
  pkg/proto/clusteringpb/clustering.pb.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Go

refactor: unify per-segment clustering assignment
  internal/core/src/clustering/KmeansClustering.cpp
  internal/core/src/clustering/KmeansClustering.h
  internal/core/src/clustering/KmeansClusteringTest.cpp
Due: Core

feat: persist clustering assignment distances
  configs/milvus.yaml
  internal/core/src/clustering/KmeansClustering.cpp
  internal/core/src/clustering/KmeansClustering.h
  internal/core/src/clustering/KmeansClusteringTest.cpp
  internal/core/src/clustering/analyze_c.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_storage_v2_index_raw_data.cpp
  internal/datanode/index/task_analyze.go
  internal/datanode/index/task_test.go
  internal/datanode/index_services_test.go
  pkg/proto/clustering.proto
  pkg/proto/clusteringpb/clustering.pb.go
  pkg/util/paramtable/knowhere_param.go
  pkg/util/paramtable/knowhere_param_test.go
Due: Core, Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
