Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

test: retry search readiness errors in add_function_field polling loops (#52317)
  tests/python_client/milvus_client/test_add_function_field_feature.py
Due: none

fix: restore sort compaction input visibility after terminal cleanup
  internal/datacoord/compaction_inspector.go
  internal/datacoord/compaction_inspector_test.go
  internal/datacoord/compaction_task.go
  internal/datacoord/compaction_task_bump_schema_version.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_clustering_test.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_l0_test.go
  internal/datacoord/compaction_task_mix.go
  internal/datacoord/compaction_task_mix_test.go
  internal/datacoord/compaction_task_test.go
  internal/datacoord/index_inspector_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/server.go
  internal/datacoord/server_test.go
  internal/datacoord/stats_inspector_test.go
  internal/datacoord/task/global_scheduler.go
  internal/datacoord/task/global_scheduler_test.go
  internal/datacoord/task/mock_global_scheduler.go
  internal/datanode/compactor/executor.go
  internal/datanode/compactor/executor_test.go
Due: Go

test: Increase PyMilvus version to 3.1.0rc82
  tests/python_client/requirements.txt
Due: none

adding timestamoz and row_ids to test_decimal_segcore.cpp
  internal/core/unittest/test_decimal_segcore.cpp
  pkg/util/funcutil/func.go
  pkg/util/funcutil/func_test.go
Due: Core, Go

test: fix TestCreateCollection mock call budget after adding UUID quick-create case
  internal/distributed/proxy/httpserver/handler_v2_test.go
Due: Go

fix: key proxy shard leader cache by collection id to close alias repoint race (#51779)
  internal/proxy/impl.go
  internal/proxy/shardclient/README.md
  internal/proxy/shardclient/manager.go
  internal/proxy/shardclient/manager_test.go
  internal/proxy/shardclient/mock_shardclient_manager.go
  internal/proxy/shardclient/shard_client_test.go
  internal/proxy/task_query.go
  internal/proxy/task_query_test.go
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
  internal/proxy/task_statistic.go
  internal/proxy/task_statistic_test.go
Due: Go

fix: stream large REST search responses
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_stream_test.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/json_render.go
  internal/distributed/proxy/httpserver/json_render_test.go
  internal/distributed/proxy/httpserver/query_response_rows_test.go
  internal/distributed/proxy/httpserver/rest_large_topk_benchmark_test.go
  internal/distributed/proxy/httpserver/timeout_middleware.go
  internal/distributed/proxy/httpserver/timeout_middleware_stream_test.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  internal/distributed/proxy/service.go
Due: Go

go fmt on func_test.go
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  pkg/util/funcutil/func_test.go
Due: Core, Go

auto: support release design doc references
  .github/scripts/check_design_doc_policy.py
  .github/scripts/test_check_design_doc_policy.py
  CONTRIBUTING.md
  docs/design-docs/README.md
  docs/dev/repository_governance.md
Due: none

enhance: harden bump partial-backfill materialization (#51649)
  internal/datanode/compactor/bump_schema_version_compactor.go
  internal/datanode/compactor/bump_schema_version_compactor_test.go
  internal/datanode/compactor/record_materializer.go
  internal/datanode/compactor/record_materializer_test.go
  internal/storage/record_writer.go
Due: Go

auto: enforce Prow approval labels
  .github/mergify.yml
  .github/scripts/check_design_doc_policy.py
  .github/scripts/test_check_design_doc_policy.py
  .github/workflows/design-doc-policy-review-signal.yml
  .github/workflows/design-doc-policy.yml
  CODE_REVIEW.md
  CONTRIBUTING.md
  docs/design-docs/README.md
  docs/dev/repository_governance.md
Due: none

clang and fmt applied to all files
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

fix: avoid probing absent TTL during schema bump
  internal/datanode/compactor/bump_schema_version_compactor.go
  internal/datanode/compactor/bump_schema_version_compactor_test.go
Due: Go

build(deps): address Go CVEs in runtime images
  go.mod
  go.sum
  internal/datacoord/snapshot_test.go
  internal/snapshotio/snapshot.go
  internal/snapshotio/snapshot_test.go
  pkg/go.mod
  pkg/go.sum
  scripts/build_plan_parser.sh
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Go

fix: refund delegator bloom filters on load failure
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
Due: Go

insertion path Decimal added
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

fix: stop one unresponsive DataNode from stalling task dispatch for 10 minutes
  internal/datanode/index_services.go
  internal/datanode/services.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: resolve Apple build failures in Conan and go-m1cpu
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  scripts/3rdparty_build.sh
Due: Go

fix: collapse per-alias shard cache evictions into a single call
  internal/proxy/impl.go
  internal/proxy/impl_test.go
Due: Go

auto: preserve non-doc approval behavior
  .github/mergify.yml
  .github/scripts/check_design_doc_policy.py
  .github/scripts/test_check_design_doc_policy.py
  .github/workflows/design-doc-policy.yml
  docs/dev/repository_governance.md
Due: none

fix: pin py for pytest-html to unbreak every e2e pipeline
  tests/python_client/requirements.txt
  tests/restful_client/requirements.txt
Due: none

fix: fence shard cache refresh publication by id
  internal/proxy/shardclient/README.md
  internal/proxy/shardclient/manager.go
  internal/proxy/shardclient/manager_lifecycle_test.go
  internal/proxy/shardclient/shard_client_test.go
Due: Go

fix: stream large REST search responses
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_stream_test.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/json_render.go
  internal/distributed/proxy/httpserver/json_render_test.go
  internal/distributed/proxy/httpserver/query_response_rows_test.go
  internal/distributed/proxy/httpserver/rest_large_topk_benchmark_test.go
  internal/distributed/proxy/httpserver/timeout_middleware.go
  internal/distributed/proxy/httpserver/timeout_middleware_stream_test.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  internal/distributed/proxy/service.go
  internal/proxy/util.go
  internal/proxy/util_test.go
Due: Go

fix: pin py for pytest-html to unbreak every e2e pipeline (#52336)
  tests/python_client/requirements.txt
  tests/restful_client/requirements.txt
Due: none

enhance: avoid fmt for querynode column names
  internal/querynodev2/tasks/boost_score.go
  internal/querynodev2/tasks/group_by_columns.go
Due: Go

test: make E2E cases compatible with small segment boundaries (#52280)
  tests/go_client/testcases/groupby_search_test.go
  tests/python_client/common/milvus_sys.py
  tests/python_client/milvus_client/test_milvus_client_force_merge.py
  tests/python_client/milvus_client/test_milvus_client_query.py
  tests/python_client/testcases/test_index.py
Due: none

test: cover REST v2 Struct Array element offsets
  tests/restful_client_v2/testcases/test_vector_operations.py
Due: none

fix: preserve element offsets in REST v2 search results
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

fix: validate REST search result conversion
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

fix: validate REST element offset responses
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

fix: reject REST element offset field collisions
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

fix: sync proto version for go client modules
  client/go.mod
  client/go.sum
  client/milvusclient/mock_milvus_server_test.go
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client
