Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

test: Split gosdk cases into different packages and add rg cases (#39694)
  tests/go_client/README.md
  tests/go_client/base/milvus_client.go
  tests/go_client/common/response_checker.go
  tests/go_client/testcases/advcases/main_test.go
  tests/go_client/testcases/advcases/resource_group_test.go
  tests/go_client/testcases/client_test.go
  tests/go_client/testcases/collection_test.go
  tests/go_client/testcases/database_test.go
  tests/go_client/testcases/delete_test.go
  tests/go_client/testcases/full_text_search_test.go
  tests/go_client/testcases/groupby_search_test.go
  tests/go_client/testcases/helper/helper.go
  tests/go_client/testcases/helper/read_helper.go
  tests/go_client/testcases/helper/test_setup.go
  tests/go_client/testcases/hybrid_search_test.go
  tests/go_client/testcases/index_test.go
  tests/go_client/testcases/insert_test.go
  tests/go_client/testcases/load_release_test.go
  tests/go_client/testcases/partition_test.go
  tests/go_client/testcases/query_test.go
  tests/go_client/testcases/search_test.go
  tests/go_client/testcases/upsert_test.go
Due: none

enhance: [2.4] Add trigger interval config for auto balance (#39154) (#39925)
  configs/milvus.yaml
  internal/querycoordv2/checkers/balance_checker.go
  internal/querycoordv2/checkers/balance_checker_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

enhance: Remove hardcoded partition num in restful handler (#40112)
  internal/distributed/proxy/httpserver/handler_v2.go
Due: Go

test: Update search iterator result check for dup ids (#40190)
  tests/python_client/check/func_check.py
  tests/python_client/milvus_client/test_milvus_client_search_iterator.py
  tests/python_client/testcases/test_search.py
Due: none

fixing IT by correcting buffer size
  internal/datacoord/compaction_task_clustering.go
  internal/datanode/compaction/clustering_compactor.go
  internal/datanode/compaction/mix_compactor.go
  internal/datanode/compaction/segment_writer.go
  internal/storage/serde_events.go
  internal/storage/stats.go
  tests/integration/compaction/clustering_compaction_null_data_test.go
Due: Go

remove log
  internal/datacoord/job_manager_test.go
  internal/querycoordv2/checkers/index_checker_test.go
  internal/querynodev2/services.go
  internal/util/segcore/plan.go
Due: Go

enhance: add params to force load raw data
  configs/milvus.yaml
  internal/core/src/common/Common.cpp
  internal/core/src/common/Common.h
  internal/core/src/common/Consts.h
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/index/BitmapIndex.h
  internal/core/src/index/ScalarIndexSort.h
  internal/querynodev2/server.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: [2.4] Remove hardcoded partition num in restful handler (#40112) (#40213)
  internal/distributed/proxy/httpserver/handler_v2.go
Due: Go

enhance: [skip e2e] change nightly running time[2.4]
  ci/jenkins/Nightly2.groovy
Due: none

enhance: [skip e2e] change nightly running time[2.5]
  ci/jenkins/Nightly2.groovy
Due: none

enhance: [skip e2e] change nightly running time
  ci/jenkins/Nightly2.groovy
Due: none

fix: use the different msg type for the OperatePrivilegeV2 api
  client/go.mod
  client/go.sum
  client/milvusclient/mock_milvus_server_test.go
  go.mod
  go.sum
  internal/mocks/mock_proxy.go
  internal/proxy/impl.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

enhance: [skip e2e] change nightly running time[2.4] (#40217)
  ci/jenkins/Nightly2.groovy
Due: none

enhance: [skip e2e] change nightly running time[2.5] (#40218)
  ci/jenkins/Nightly2.groovy
Due: none

enhance: [skip e2e] change nightly running time (#40219)
  ci/jenkins/Nightly2.groovy
Due: none

Support TEI serving and support int8 embedding
  internal/proxy/util.go
  internal/util/function/ali_embedding_provider.go
  internal/util/function/bedrock_embedding_provider.go
  internal/util/function/bedrock_text_embedding_provider_test.go
  internal/util/function/cohere_embedding_provider.go
  internal/util/function/cohere_embedding_provider_test.go
  internal/util/function/common.go
  internal/util/function/function_executor.go
  internal/util/function/function_executor_test.go
  internal/util/function/mock_embedding_service.go
  internal/util/function/models/cohere/cohere_text_embedding.go
  internal/util/function/models/tei/tei.go
  internal/util/function/models/tei/tei_test.go
  internal/util/function/models/utils/embedding_util.go
  internal/util/function/models/voyageai/voyageai_text_embedding.go
  internal/util/function/models/voyageai/voyageai_text_embedding_test.go
  internal/util/function/openai_embedding_provider.go
  internal/util/function/openai_text_embedding_provider_test.go
  internal/util/function/siliconflow_embedding_provider.go
  internal/util/function/siliconflow_embedding_provider_test.go
  internal/util/function/tei_embedding_provider.go
  internal/util/function/tei_embedding_provider_test.go
  internal/util/function/text_embedding_function.go
  internal/util/function/text_embedding_function_test.go
  internal/util/function/vertexai_embedding_provider.go
  internal/util/function/vertexai_embedding_provider_test.go
  internal/util/function/voyageai_embedding_provider.go
  internal/util/function/voyageai_embedding_provider_test.go
  pkg/util/funcutil/placeholdergroup.go
Due: Go

fix: [2.5] use the different msg type for the OperatePrivilegeV2 api
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  internal/proxy/impl.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
  tests/integration/import/import_test.go
Due: Client, Go

add more test
  pkg/mq/msgdispatcher/client_test.go
  pkg/mq/msgdispatcher/manager_test.go
  pkg/mq/msgdispatcher/mock_test.go
Due: Go

enhance: Remove QueryCoord's scheduling of L0 segments (#39552)
  internal/datacoord/handler.go
  internal/querycoordv2/checkers/index_checker.go
  internal/querycoordv2/checkers/leader_checker.go
  internal/querycoordv2/checkers/leader_checker_test.go
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/dist/dist_handler.go
  internal/querycoordv2/meta/target_manager.go
  internal/querycoordv2/meta/target_manager_test.go
  internal/querycoordv2/observers/target_observer.go
  internal/querycoordv2/task/task_test.go
  internal/querycoordv2/utils/util.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/delegator/deletebuffer/delete_buffer.go
  internal/querynodev2/delegator/deletebuffer/delete_buffer_test.go
  internal/querynodev2/delegator/deletebuffer/list_delete_buffer.go
  internal/querynodev2/delegator/deletebuffer/list_delete_buffer_test.go
  internal/querynodev2/delegator/delta_forward.go
  internal/querynodev2/delegator/delta_forward_test.go
  internal/querynodev2/delegator/mock_delegator.go
  internal/querynodev2/handlers.go
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  tests/integration/balance/balance_test.go
Due: Go

fix: [2.4] use the different msg type for the OperatePrivilegeV2 api (#40195)
  go.mod
  go.sum
  internal/proxy/impl.go
  pkg/go.mod
  pkg/go.sum
Due: Go

[automated] Update Knowhere Commit (#40223)
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

Update search iterator test vector gen func
  tests/python_client/base/client_v2_base.py
  tests/python_client/milvus_client/test_milvus_client_search_interator.py
  tests/python_client/testcases/test_search.py
Due: none

enhance: reorder sub expr for conjunct expr
  internal/core/src/common/Types.h
  internal/core/src/exec/expression/AlwaysTrueExpr.cpp
  internal/core/src/exec/expression/AlwaysTrueExpr.h
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/CallExpr.h
  internal/core/src/exec/expression/ColumnExpr.h
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/ConjunctExpr.cpp
  internal/core/src/exec/expression/ConjunctExpr.h
  internal/core/src/exec/expression/EvalCtx.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.h
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/LogicalBinaryExpr.h
  internal/core/src/exec/expression/LogicalUnaryExpr.h
  internal/core/src/exec/expression/NullExpr.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/exec/expression/ValueExpr.h
  internal/core/unittest/test_exec.cpp
Due: Core

fix dup task id
  internal/querycoordv2/task/scheduler.go
Due: Go

[automated] Bump milvus version to v2.5.5 (#40224)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

[automated] Bump milvus version to v2.5.5 (#40225)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

enhance: Unify milvus version def
  cmd/milvus/run.go
  pkg/common/version.go
Due: Go

enhance: clean shard location cache after collection released
  internal/querycoordv2/job/job_release.go
  internal/querycoordv2/job/job_test.go
  internal/querycoordv2/services_test.go
Due: Go

refine ut
  pkg/mq/msgdispatcher/client_test.go
  pkg/mq/msgdispatcher/manager.go
  pkg/mq/msgdispatcher/manager_test.go
  pkg/mq/msgdispatcher/mock_test.go
Due: Go

enhance: Unify milvus version def
  cmd/milvus/run.go
Due: none

enhance: bump etcd version to 3.5.18
  deployments/docker/dev/docker-compose-apple-silicon.yml
  deployments/docker/dev/docker-compose.yml
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

enhance: bump etcd version to 3.5.18 (#40230)
  deployments/docker/dev/docker-compose-apple-silicon.yml
  deployments/docker/dev/docker-compose.yml
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

enhance: bump etcd version to 3.5.18 (#40231)
  deployments/docker/dev/docker-compose-apple-silicon.yml
  deployments/docker/dev/docker-compose.yml
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

enhance: Unify milvus version def (#40227)
  cmd/milvus/run.go
  pkg/common/version.go
Due: Go

enhance: add more metrics for async cgo component
  internal/core/src/futures/Executor.cpp
  internal/core/src/futures/Future.h
  internal/core/src/futures/future_c.cpp
  internal/core/src/monitor/prometheus_client.cpp
  internal/core/src/monitor/prometheus_client.h
Due: Core

enhance: [2.5] Unify milvus version def (#40229)
  cmd/milvus/run.go
Due: none

fix: use the different msg type for the OperatePrivilegeV2 api (#40192)
  client/go.mod
  client/go.sum
  client/milvusclient/mock_milvus_server_test.go
  go.mod
  go.sum
  internal/mocks/mock_proxy.go
  internal/proxy/impl.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

test: fix duplicate import file names in tests
  tests/python_client/common/bulk_insert_data.py
Due: none

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
