Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

Remove comment
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

reset concurrency processing task
  internal/datacoord/task_scheduler.go
Due: Go

enhance: [2.5]intermin index support different index type and more data type(fp16/bf16) (#39180)
  configs/milvus.yaml
  internal/core/src/common/type_c.h
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/index/VectorMemIndex.h
  internal/core/src/mmap/ChunkVector.h
  internal/core/src/query/SearchOnGrowing.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ConcurrentVector.h
  internal/core/src/segcore/FieldIndexing.cpp
  internal/core/src/segcore/FieldIndexing.h
  internal/core/src/segcore/IndexConfigGenerator.cpp
  internal/core/src/segcore/IndexConfigGenerator.h
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/src/segcore/vector_index_c.cpp
  internal/core/src/storage/Types.h
  internal/core/src/storage/storage_c.cpp
  internal/core/unittest/test_binlog_index.cpp
  internal/core/unittest/test_growing_index.cpp
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/server.go
  internal/util/initcore/init_core.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Core, Go

fix: [2.4] remove the mmap.enable param in the type param when creating index (#39805)
  internal/datacoord/index_meta.go
  internal/datacoord/index_meta_test.go
  internal/datacoord/index_service.go
Due: Go

fix:[2.5] remove the mmap.enable param in the type param when creating index (#39806)
  internal/datacoord/index_meta.go
  internal/datacoord/index_meta_test.go
  internal/datacoord/index_service.go
Due: Go

fix: Segments return both growing&sealed result (#39787)
  internal/querynodev2/segments/manager.go
Due: Go

fix: root check the role list if `rootShouldBindRole` is true
  configs/milvus.yaml
  internal/rootcoord/list_db_task.go
  internal/rootcoord/list_db_task_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  internal/rootcoord/show_collection_task.go
  internal/rootcoord/show_collection_task_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: remove the mmap.enable param in the type param when creating index (#39803)
  internal/datacoord/index_meta.go
  internal/datacoord/index_meta_test.go
  internal/datacoord/index_service.go
Due: Go

enhance: dump pprof info if component stop progress timeout
  cmd/components/util.go
  configs/milvus.yaml
  internal/distributed/utils/util.go
  pkg/util/paramtable/grpc_param.go
  pkg/util/paramtable/grpc_param_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

enhance: [GoSDK] Add WithEnableMatch syntactic sugar
  client/entity/field.go
  client/entity/field_test.go
  client/entity/schema.go
Due: Client

add ut
  internal/datacoord/index_service.go
  internal/datacoord/index_service_test.go
Due: Go

test: add go-sdk cases for hybrid search (#39579)
  tests/go_client/base/milvus_client.go
  tests/go_client/testcases/database_test.go
  tests/go_client/testcases/delete_test.go
  tests/go_client/testcases/hybrid_search_test.go
Due: none

enhance: iterative download data during compaction to reduce memory cost (#39724)
  internal/datanode/compaction/clustering_compactor.go
  internal/datanode/compaction/compactor_common.go
  internal/datanode/compaction/mix_compactor.go
  internal/datanode/compaction/mix_compactor_test.go
  internal/indexnode/task_stats.go
  internal/storage/binlog_iterator_test.go
  internal/storage/serde_events.go
  internal/storage/serde_events_test.go
  internal/storage/serde_events_v2_test.go
  internal/storage/serde_test.go
  internal/storage/sort_test.go
Due: Go

test: add phrase match testcases in restful client
  tests/restful_client_v2/testcases/test_vector_operations.py
Due: none

fix ut
  cmd/components/util.go
  internal/distributed/proxy/service_test.go
Due: Go

test: add go-sdk cases for database properties (#39484)
  client/milvusclient/database.go
  client/milvusclient/database_test.go
  tests/go_client/base/milvus_client.go
  tests/go_client/common/consts.go
  tests/go_client/testcases/database_test.go
  tests/go_client/testcases/helper/helper.go
  tests/go_client/testcases/main_test.go
Due: Client

test: add go-sdk cases for collection related APIs (#39537)
  tests/go_client/base/milvus_client.go
  tests/go_client/common/consts.go
  tests/go_client/common/utils.go
  tests/go_client/testcases/client_test.go
  tests/go_client/testcases/collection_test.go
  tests/go_client/testcases/groupby_search_test.go
  tests/go_client/testcases/helper/collection_helper.go
  tests/go_client/testcases/helper/data_helper.go
  tests/go_client/testcases/helper/helper.go
  tests/go_client/testcases/insert_test.go
Due: none

test: add go-sdk cases for full text search (#39570)
  tests/go_client/README.md
  tests/go_client/common/consts.go
  tests/go_client/common/utils.go
  tests/go_client/testcases/full_text_search_test.go
  tests/go_client/testcases/helper/data_helper.go
  tests/go_client/testcases/helper/field_helper.go
  tests/go_client/testcases/helper/function_helper.go
  tests/go_client/testcases/helper/helper.go
  tests/go_client/testcases/helper/index_helper.go
  tests/go_client/testcases/helper/read_helper.go
  tests/go_client/testcases/helper/schema_helper.go
Due: none

test: supplementary json expr go-sdk test cases (#39824)
  tests/go_client/testcases/helper/data_helper.go
  tests/go_client/testcases/index_test.go
  tests/go_client/testcases/query_test.go
  tests/go_client/testcases/search_test.go
Due: none

fix: Remove dispatcher tasks before cleaning up targets
  internal/querycoordv2/observers/target_observer.go
  internal/querycoordv2/observers/task_dispatcher.go
Due: Go

test: add some async cases (#39706)
  tests/python_client/base/async_milvus_client_wrapper.py
  tests/python_client/milvus_client/test_milvus_client_database.py
  tests/python_client/testcases/async_milvus_client/test_collection_async.py
  tests/python_client/testcases/async_milvus_client/test_index_async.py
  tests/python_client/testcases/async_milvus_client/test_partition_async.py
Due: none

support singleton arrow filesystem
  internal/core/src/common/type_c.h
  internal/core/src/segcore/arrow_fs_c.cpp
  internal/core/src/segcore/arrow_fs_c.h
  internal/core/src/segcore/packed_reader_c.cpp
  internal/core/src/segcore/packed_reader_c.h
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/src/segcore/packed_writer_c.h
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/metastore/kv/binlog/binlog_test.go
  internal/storage/serde_events_v2.go
  internal/storagev2/packed/packed_reader.go
  internal/storagev2/packed/packed_writer.go
Due: Core, Go

fix: [2.4] Remove load field & schema column size check (#39834)
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

fix: [2.5] Remove load field & schema column size check #39834 (#39835)
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

Add primary field in check items
  tests/python_client/testcases/async_milvus_client/test_e2e_async.py
Due: none

fix: data race in load test
  tests/integration/replicas/load/load_test.go
Due: none

Use double check meta logic instead
  internal/querycoordv2/observers/target_observer.go
  internal/querycoordv2/observers/task_dispatcher.go
Due: Go

code complete
  internal/core/src/bitset/common.h
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/array.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/docid_collector.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/lib.rs
Due: Core

Resolve branching conflict
  internal/querycoordv2/observers/target_observer.go
Due: Go

enhance: [2.5] dump pprof info if component stop progress timeout (#39760)
  cmd/components/util.go
  configs/milvus.yaml
  internal/distributed/proxy/service_test.go
  internal/distributed/utils/util.go
  pkg/util/paramtable/grpc_param.go
  pkg/util/paramtable/grpc_param_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

enhance: dump pprof info if component stop progress timeout (#39726)
  cmd/components/util.go
  configs/milvus.yaml
  internal/distributed/proxy/service_test.go
  internal/distributed/utils/util.go
  pkg/util/paramtable/grpc_param.go
  pkg/util/paramtable/grpc_param_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
