Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

add prewarm rest api
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
Due: Go

enhance: enqueue index events after segment mutations
  internal/datacoord/compaction_task_bump_schema_version.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_clustering_test.go
  internal/datacoord/compaction_task_mix.go
  internal/datacoord/ddl_callbacks_batch_update_manifest.go
  internal/datacoord/go_channel_singleton.go
  internal/datacoord/import_checker.go
  internal/datacoord/import_checker_test.go
  internal/datacoord/index_event_test.go
  internal/datacoord/server.go
  internal/datacoord/server_test.go
  internal/datacoord/services_test.go
  internal/datacoord/task_stats.go
  internal/datacoord/task_stats_test.go
Due: Go

remove local cache metric impl
  internal/core/src/cachinglayer/CacheShardDiskUsageTest.cpp
  internal/core/src/monitor/CachingLayerMetrics.cpp
Due: Core

complete prewarm task api
  client/go.mod
  client/go.sum
  client/milvusclient/maintenance.go
  client/milvusclient/maintenance_options.go
  client/milvusclient/maintenance_test.go
  client/milvusclient/mock_milvus_server_test.go
  go.sum
  internal/coordinator/mix_coord.go
  internal/datacoord/mock_test.go
  internal/distributed/mixcoord/client/client.go
  internal/distributed/mixcoord/service.go
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/mocks/mock_mixcoord.go
  internal/mocks/mock_mixcoord_client.go
  internal/mocks/mock_querycoord.go
  internal/mocks/mock_querycoord_client.go
  internal/proxy/impl.go
  internal/proxy/meta_cache_test.go
  internal/proxy/rate_limit_interceptor_test.go
  internal/proxy/rootcoord_mock_test.go
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/proxy/util.go
  internal/querycoordv2/job_prewarm.go
  internal/querycoordv2/prewarm_task_store.go
  internal/querycoordv2/server.go
  internal/querycoordv2/services.go
  internal/querycoordv2/services_test.go
  internal/util/mock/grpc_querycoord_client.go
  pkg/go.sum
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/proto/querypb/query_coord_grpc.pb.go
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

limit prewarm to server
  client/go.mod
  client/go.sum
  client/milvusclient/maintenance.go
  client/milvusclient/maintenance_options.go
  client/milvusclient/maintenance_test.go
  client/milvusclient/mock_milvus_server_test.go
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix: address index inspector review feedback
  internal/datacoord/go_channel_singleton.go
  internal/datacoord/index_event_test.go
  internal/datacoord/index_inspector.go
  internal/datacoord/index_meta.go
  internal/datacoord/index_meta_test.go
  internal/datacoord/server.go
  internal/datacoord/server_test.go
Due: Go

enhance: reduce index inspector segment scans
  internal/datacoord/index_inspector.go
  internal/datacoord/index_inspector_test.go
Due: Go

add cache stats to distribution
  internal/core/src/monitor/monitor_c.cpp
  internal/core/src/monitor/monitor_c.h
  internal/core/src/segcore/storagev1translator/ChunkTranslator.h
  internal/querycoordv2/dist/dist_handler.go
  internal/querycoordv2/dist/dist_handler_test.go
  internal/querycoordv2/ops_service_test.go
  internal/querycoordv2/ops_services.go
  internal/querycoordv2/session/node_manager_test.go
  internal/querycoordv2/session/stats.go
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
  internal/util/metrics/cache_shard_disk_usage.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Core, Go

complete prewarm public API
  client/go.mod
  client/go.sum
  client/milvusclient/maintenance.go
  client/milvusclient/maintenance_options.go
  client/milvusclient/maintenance_test.go
  client/milvusclient/mock_milvus_server_test.go
  go.sum
  internal/proxy/database_interceptor.go
  internal/proxy/impl.go
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/proxy/util.go
  internal/querycoordv2/services.go
  internal/querycoordv2/services_test.go
  pkg/go.sum
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/util/funcutil/policy_test.go
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix e2e test
  tests/python_client/milvus_client/test_milvus_client_external_table.py
Due: none

enhance: batch unindexed segment checks
  internal/datacoord/index_meta.go
  internal/datacoord/index_meta_test.go
Due: Go

fix prewarm ci
  client/milvusclient/maintenance_options.go
  client/milvusclient/maintenance_test.go
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/querycoordv2/services.go
  internal/querycoordv2/services_test.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Client, Go

fix: enqueue refreshed segment indexing
  internal/datacoord/external_collection_refresh_manager_test.go
  internal/datacoord/task_refresh_external_collection.go
Due: Go

add cache stats to distribution
  internal/core/src/index/json_stats/JsonKeyStats.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/storagev1translator/ChunkTranslator.h
  internal/util/metrics/cache_shard_disk_usage.go
Due: Core, Go

enhance: skip non-indexable segments before index checks
  internal/datacoord/index_inspector.go
  internal/datacoord/index_inspector_filter_test.go
  internal/datacoord/index_service_test.go
Due: Go

refine prewarm orchestration
  internal/querycoordv2/job_prewarm.go
  internal/querycoordv2/services.go
  internal/querycoordv2/services_test.go
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Go

test: stabilize datacoord index event checks
  internal/datacoord/import_checker_test.go
  internal/datacoord/server_test.go
Due: Go

enhance: balance partition shards by disk
  internal/querycoordv2/balance/balancer_factory.go
  internal/querycoordv2/balance/channel_level_score_balancer.go
  internal/querycoordv2/balance/multi_target_balance.go
  internal/querycoordv2/balance/score_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer_test.go
  internal/querycoordv2/balance/shard_disk_balancer.go
  internal/querycoordv2/balance/shard_disk_balancer_test.go
  internal/querycoordv2/server.go
  internal/querycoordv2/task/scheduler.go
Due: Go

fix: wait for external table index
  tests/python_client/milvus_client/test_milvus_client_external_table.py
Due: none

fix datacoord compile
  internal/datacoord/index_inspector.go
Due: Go

fix: stabilize post flush test
  internal/datacoord/server_test.go
Due: Go

fix generated proto
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/proto/messagespb/messages.pb.go
  pkg/proto/querypb/query_coord.pb.go
Due: Go

fix PR stack updates
  client/go.mod
  client/go.sum
  client/milvusclient/mock_milvus_server_test.go
  internal/core/src/monitor/monitor_c.cpp
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Core

tidy client proto deps
  client/go.mod
  client/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client

update client mock
  client/milvusclient/mock_milvus_server_test.go
Due: none

fix external refresh tests
  internal/datacoord/task_refresh_external_collection_test.go
Due: Go

feat: add bump_defence atomic gate (proxy-side) for backfilled fields
  internal/coordinator/backfill_gate_adapters.go
  internal/coordinator/backfill_gate_observer.go
  internal/coordinator/backfill_gate_observer_test.go
  internal/coordinator/backfill_gate_readiness.go
  internal/coordinator/backfill_gate_readiness_test.go
  internal/coordinator/backfill_gate_registrar.go
  internal/coordinator/backfill_gate_registry.go
  internal/coordinator/backfill_gate_registry_test.go
  internal/coordinator/backfill_gate_scope.go
  internal/coordinator/mix_coord.go
  internal/datacoord/server.go
  internal/datacoord/services_commit_backfill.go
  internal/proxy/impl.go
  internal/proxy/meta_cache.go
  internal/proxy/task_search.go
  internal/querycoordv2/server.go
  internal/rootcoord/ddl_callbacks_alter_collection_add_field.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema.go
  internal/rootcoord/root_coord.go
  pkg/proto/proxy.proto
  pkg/proto/proxypb/proxy.pb.go
  pkg/util/merr/errors.go
  pkg/util/merr/utils.go
Due: Go

enhance: clean up core unused warnings
  internal/core/src/common/ArrayOffsets.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/CacheCompressor.cpp
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/NgramInvertedIndex.cpp
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/minhash/MinHashHook.cpp
  internal/core/src/segcore/segment_c.cpp
Due: Core

fix: avoid null expr index path recursion
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/ExprArrayTest.cpp
  internal/core/src/exec/expression/NullExpr.cpp
Due: Core

feat(objectstorage): tag S3 user-agent for attribution
  internal/proxy/accesslog/minio_handler.go
  pkg/objectstorage/util.go
Due: Go

Fix load segment build
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/querynodev2/segments/pool.go
Due: Core, Go

fix: deep-copy geometry value to avoid double-free in Geometry
  internal/core/src/common/Geometry.h
  internal/core/src/common/GeometryTest.cpp
Due: Core

fix: guard growing geometry coarse bitmap bounds
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
Due: Core

fix: handle geometry without a computable envelope in RTree wrapper
  internal/core/src/index/RTreeIndexWrapper.cpp
  internal/core/src/index/RTreeIndexWrapper.h
  internal/core/src/index/RTreeIndexWrapperTest.cpp
Due: Core

fix: format RTreeIndex.cpp with clang-format-15
  internal/core/src/index/RTreeIndex.cpp
Due: Core

fix: bounds-check nullable valid_data in growing geometry indexing
  internal/core/src/segcore/FieldIndexing.cpp
Due: Core

fix: make growing geometry RTree index thread-safe
  internal/core/src/index/RTreeIndex.cpp
  internal/core/src/index/RTreeIndex.h
  internal/core/src/index/RTreeIndexTest.cpp
  internal/core/src/index/RTreeIndexWrapper.cpp
Due: Core

fix: harden growing geometry RTree index for concurrent writers
  internal/core/src/index/RTreeIndex.cpp
  internal/core/src/index/RTreeIndexTest.cpp
Due: Core

fix: keep geometry cache alive for in-flight readers and own its context
  internal/core/src/common/GeometryCache.h
  internal/core/src/common/GeometryCacheTest.cpp
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core
