Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: [2.6] reject compaction requests without params instead of falling back to defaults (#48571) (#48596)
  internal/compaction/params.go
  internal/compaction/params_test.go
  internal/datanode/compactor/l0_compactor_test.go
  internal/datanode/services_test.go
Due: Go

fix: [hotfix] add missing GEOMETRY case in DefaultValueChunkTranslator::value_size() (#48556) (#48576)
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.cpp
Due: Core

fix(rootcoord): validate resource groups in AlterCollection and AlterDatabase to avoid infinite retry or hung
  internal/rootcoord/broker.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties_test.go
  internal/rootcoord/ddl_callbacks_alter_database.go
  internal/rootcoord/ddl_callbacks_alter_database_test.go
  internal/rootcoord/mock_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
Due: Go

test(rootcoord): cover broker rg and stop-retry branches
  internal/rootcoord/broker_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties_test.go
  internal/rootcoord/ddl_callbacks_alter_database_test.go
Due: Go

fix: increase test timer intervals to prevent flaky failures on slow CI
  internal/streamingnode/server/wal/interceptors/wab/pending_queue_test.go
  pkg/streaming/util/ratelimit/adaptive_rate_limit_controller_test.go
Due: Go

fix: increase pending queue TTL margin from 1.5x to 5x
  internal/streamingnode/server/wal/interceptors/wab/pending_queue_test.go
Due: Go

fix: switch gRPC to shared linking and exclude unsecure variants (#48458)
  internal/core/conanfile.py
  internal/core/lsan_suppressions.txt
Due: Core

test: add t.Cleanup to collection_test and nullable_default_value_test
  tests/go_client/testcases/collection_test.go
  tests/go_client/testcases/nullable_default_value_test.go
Due: none

enhance: bump milvus-storage to align 3.0
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
Due: Core

test: fix minhash bulk import negative test assertion for updated error message
  tests/python_client/milvus_client/test_milvus_client_minhash.py
Due: none

fix: reduce TestSnapshotRestoreWithMultiSegment overhead
  tests/go_client/testcases/snapshot_test.go
Due: none

fix: auto-disable etcd auth for embedded etcd
  internal/kv/etcd/embed_etcd_config_test.go
  internal/kv/etcd/embed_etcd_kv_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

fix: suppress gosec G204 in test helper runShellCommand
  tests/go_client/testcases/external_table_refresh_test.go
Due: none

update
  internal/proxy/task_test.go
  pkg/util/paramtable/autoindex_param.go
Due: Go

fix decode rmq earliest id error
  pkg/streaming/walimpls/impls/rmq/message_id.go
Due: Go

test: fix flaky TTL test cases by adding search retry logic
  tests/python_client/milvus_client_v2/test_milvus_client_ttl.py
Due: none

test: add upsert TTL overwrite test and remove skipped alter test
  tests/python_client/milvus_client_v2/test_milvus_client_ttl.py
Due: none

fix: suppress gosec G204 in test helper runShellCommand (#48611)
  tests/go_client/testcases/external_table_refresh_test.go
Due: none

fix: resolve race in adaptive rate limit controller notify ordering
  pkg/streaming/util/ratelimit/adaptive_rate_limit_controller.go
Due: Go

fix: [cp2.6] force promote RPC hangs forever due to missing doAckCallback invocation
  internal/streamingcoord/server/broadcaster/ack_callback_scheduler.go
  internal/streamingcoord/server/service/assignment.go
  internal/streamingcoord/server/service/assignment_test.go
Due: Go

fix: upgrade grpc to v1.79.3 and quic-go to v0.54.1 for CVE-2026-33186, CVE-2025-59530
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix: Set useCRC32C default config to false (#48580)
  configs/milvus.yaml
  pkg/util/paramtable/service_param.go
Due: Go

enhance: add GetCollectionName() to RESTful request types for metrics (#48465)
  internal/distributed/proxy/httpserver/request_v2.go
  internal/distributed/proxy/httpserver/request_v2_test.go
Due: Go

fix: use correct CI builder image tag matching master
  .env
Due: none

fix: update build env image tag to 20260318-5e6b883
  .env
Due: none

fix: upgrade gotestsum to v1.13.0 for Go 1.25 compatibility
  Makefile
  tests/go_client/Dockerfile
Due: none

fix: upgrade grpc to v1.79.3 for CVE-2026-33186
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix: upgrade Go to 1.25.8 for CVE-2025-68121, CVE-2026-27142, CVE-2026-25679
  build/docker/builder/cpu/amazonlinux2023/Dockerfile
  build/docker/builder/cpu/rockylinux8/Dockerfile
  build/docker/builder/cpu/ubuntu20.04/Dockerfile
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/gpu/ubuntu20.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
  client/go.mod
  go.mod
  pkg/go.mod
  tests/go_client/Dockerfile
  tests/go_client/go.mod
Due: Client, Go

fix: upgrade golangci-lint to v2.11.3 for Go 1.25 compatibility
  .golangci.yml
  Makefile
  client/.golangci.yml
  tests/go_client/.golangci.yml
Due: Client

fix: add back ruleguard failOnError and disable govet printf analyzer
  .golangci.yml
  client/.golangci.yml
  tests/go_client/.golangci.yml
Due: Client

fix: backport golangci-lint v2 exclusion rules and misspelling fixes from master
  .golangci.yml
  Makefile
  client/.golangci.yml
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/service_param.go
  tests/go_client/.golangci.yml
  tests/integration/README.md
  tests/integration/cluster/cluster.go
Due: Client, Go

test: add unit tests for analyze task CreateTaskOnWorker branches
  internal/datacoord/task_analyze_test.go
Due: Go

test: fix flaky TTL test by removing Eventually consistency assertion
  tests/python_client/milvus_client_v2/test_milvus_client_ttl.py
Due: none

enhance: increase force merge memory safety factor from 1/3 to 1/4 (#48474)
  pkg/util/paramtable/component_param.go
Due: Go

Resolve branching
  internal/core/src/indexbuilder/index_c.cpp
  internal/storagev2/packed/stats_resolver.go
Due: Core, Go

Fix lint & unittest
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/querynodev2/segments/segment_loader.go
  internal/storagev2/packed/stats_resolver.go
  internal/util/segcore/segment.go
Due: Core, Go

Fix lint
  internal/datacoord/garbage_collector.go
  internal/datacoord/handler.go
  internal/datanode/index/task_stats.go
  internal/querynodev2/segments/segment_loader.go
  internal/util/segcore/segment.go
  pkg/util/metautil/binlog.go
Due: Go
