Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: complete CI test fix for googleapi 403 error mapping
  internal/storage/remote_chunk_manager_test.go
Due: Go

address comments
  internal/core/src/exec/operator/ElementFilterNode.cpp
  internal/core/src/exec/operator/ElementFilterNode.h
  internal/core/src/exec/operator/Utils.h
  internal/core/src/query/ExecPlanNodeVisitor.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/InsertRecordOffsetOrderedArrayTest.cpp
  internal/core/src/segcore/InsertRecordOffsetOrderedMapTest.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/unittest/CMakeLists.txt
  internal/querynodev2/segments/result.go
Due: Core, Go

fix: [2.6] set ValidData on user-provided $meta before partial update merge (#48085)
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_test.go
  tests/go_client/testcases/update_test.go
Due: Go

test: Migrate partition key test cases from v1 ORM to v2 MilvusClient (#48182)
  tests/python_client/common/common_func.py
  tests/python_client/milvus_client/test_milvus_client_partition.py
  tests/python_client/milvus_client/test_milvus_client_partition_key.py
  tests/python_client/milvus_client/test_milvus_client_partition_key_isolation.py
  tests/python_client/testcases/test_partition_key.py
  tests/python_client/testcases/test_partition_key_isolation.py
Due: none

enhance : [2.6]Add gemini embedding
  configs/milvus.yaml
  internal/util/function/embedding/gemini_embedding_provider.go
  internal/util/function/embedding/gemini_embedding_provider_test.go
  internal/util/function/embedding/mock_embedding_service.go
  internal/util/function/embedding/text_embedding_function.go
  internal/util/function/embedding/vertexai_embedding_provider.go
  internal/util/function/embedding/vertexai_embedding_provider_test.go
  internal/util/function/models/common.go
  internal/util/function/models/gemini/gemini_client.go
  internal/util/function/models/vertexai/vertexai_client.go
  pkg/util/paramtable/function_param.go
Due: Go

fix: skip TLS hostname verification for internal proxy-to-proxy forwarding during upgrade
  internal/distributed/streaming/forward.go
Due: Go

address comments
  internal/core/src/exec/operator/search-groupby/SearchGroupByOperator.cpp
  internal/core/unittest/test_element_filter.cpp
Due: Core

enhance: skip multi-batch execute when all indexed expr
  internal/core/src/exec/expression/AlwaysTrueExpr.h
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/CallExpr.h
  internal/core/src/exec/expression/ColumnExpr.h
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/ConjunctExpr.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.h
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/exec/expression/GISFunctionFilterExpr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/LikeConjunctExpr.h
  internal/core/src/exec/expression/LogicalBinaryExpr.h
  internal/core/src/exec/expression/LogicalUnaryExpr.h
  internal/core/src/exec/expression/MatchExpr.h
  internal/core/src/exec/expression/NullExpr.cpp
  internal/core/src/exec/expression/NullExpr.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/exec/expression/ValueExpr.h
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_determine_use_index.cpp
Due: Core

fix: add shard-aware bucket names to storage unit tests for parallel safety
  internal/core/src/storage/RemoteChunkManagerTest.cpp
  internal/core/src/storage/azure/AzureChunkManagerTest.cpp
  internal/core/src/storage/gcp-native-storage/GcpNativeChunkManagerTest.cpp
  internal/core/src/storage/minio/MinioChunkManagerTest.cpp
Due: Core

enhance: Log level for varchar length validation error should be warning instead of info
  internal/proxy/impl.go
Due: Go

fix: use separate root_path for V3SegmentTestData to correctly resolve file paths under TestLocalPath
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslatorTest.cpp
  internal/core/unittest/test_utils/ManifestTestUtil.h
Due: Core

add more tests
  internal/core/unittest/test_element_filter.cpp
Due: Core

fix: Guard vector normalization to external fields only in ManifestGroupTranslator
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
Due: Core

enhance: address review feedback — hoist matcher/vector, add state API
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/unittest/bench_array_contains_all.cpp
Due: Core

enhance: [ExternalTable Part7] support take() fast path for retrieve and search
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_external_take.cpp
  tests/go_client/testcases/external_table_benchmark_test.go
  tests/go_client/testcases/external_table_refresh_test.go
Due: Core

test: Increase PyMilvus version to 2.6.10rc13
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.7.0rc154
  tests/python_client/requirements.txt
Due: none

enhance: [loon] route index checker tasks through LoadDiff-based reopen pipeline (#48206)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
  internal/querycoordv2/checkers/index_checker.go
  internal/querycoordv2/checkers/index_checker_test.go
  internal/querycoordv2/task/utils.go
  internal/querynodev2/delegator/delegator_data.go
Due: Core, Go

enhance: improve HuaweiCloud credential provider robustness and observability (#48045)
  internal/core/src/storage/HuaweiCloudCredentialsProvider.cpp
  internal/core/src/storage/HuaweiCloudCredentialsProvider.h
  internal/core/src/storage/HuaweiCloudCredentialsProviderTest.cpp
  internal/core/src/storage/HuaweiCloudSTSClient.cpp
  pkg/objectstorage/huawei/huawei.go
  pkg/objectstorage/huawei/huawei_test.go
Due: Core, Go

enhance: improve HuaweiCloud credential provider robustness and observability (#48045)
  internal/core/src/storage/huawei/HuaweiCloudCredentialsProvider.cpp
  internal/core/src/storage/huawei/HuaweiCloudCredentialsProvider.h
  internal/core/src/storage/huawei/HuaweiCloudSTSClient.cpp
  pkg/objectstorage/huawei/huawei.go
  pkg/objectstorage/huawei/huawei_test.go
Due: Core, Go

enhance: remove benchmark file from PR
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/bench_array_contains_all.cpp
Due: Core

update
  internal/querynodev2/local_worker_test.go
  internal/querynodev2/segments/mock_loader.go
  internal/storage/binary_stats_test.go
  internal/storage/stats.go
  internal/util/bloomfilter/mmap_manager.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: Fix force promote unit tests and integration tests
  internal/mocks/streamingcoord/server/mock_broadcaster/mock_Broadcaster.go
  internal/streamingcoord/server/balancer/channel/manager_test.go
  internal/streamingcoord/server/broadcaster/broadcaster.go
  internal/streamingcoord/server/service/assignment.go
  internal/streamingcoord/server/service/assignment_test.go
  tests/integration/replication/force_promote_test.go
Due: Go

fix: Fix non-deterministic vchannel ordering in TestSortByControlChannelTimeTick
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

fix: add missing GetClusterChannels mock to prevent test timeout
  internal/streamingcoord/server/service/assignment_test.go
Due: Go

feat(salvage): implement data salvage feature for force failover
  go.mod
  internal/distributed/proxy/service.go
  internal/distributed/streaming/replicate_service.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/test_streaming.go
  internal/metastore/catalog.go
  internal/metastore/kv/streamingnode/constant.go
  internal/metastore/kv/streamingnode/kv_catalog.go
  internal/proxy/dump_messages_test.go
  internal/proxy/impl.go
  internal/streamingnode/client/handler/handler_client.go
  internal/streamingnode/client/handler/handler_client_impl.go
  internal/streamingnode/server/wal/adaptor/opener.go
  internal/streamingnode/server/wal/adaptor/ro_wal_adaptor.go
  internal/streamingnode/server/wal/adaptor/wal_adaptor.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/impl.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/manager.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/manager_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/wal.go
  pkg/go.mod
  tests/integration/replication/data_salvage_test.go
Due: Go

test: Add unit tests for WithSecondaryClusterResourceKey and broadcast singleton
  internal/streamingcoord/server/broadcaster/broadcast/singleton_test.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

test: Add unit tests to improve coverage for force promote PR
  client/milvusclient/replicate_builder_test.go
  internal/distributed/streaming/replicate_service_test.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/balancer/channel/manager_test.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
  internal/streamingcoord/server/service/assignment_test.go
  internal/streamingnode/server/wal/interceptors/txn/session_test.go
  pkg/util/replicateutil/util_test.go
Due: Client, Go

fix: Remove non-deterministic vchannel ordering assertion in TestPendingBroadcastMessages
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

build: update proto to include data salvage API changes
  go.mod
  pkg/go.mod
  pkg/go.sum
Due: Go

refactor: Remove unused GetPendingBroadcastMessages from Broadcaster interface
  internal/mocks/streamingcoord/server/mock_broadcaster/mock_Broadcaster.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/broadcaster.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

test: Add unit tests for FixIncompleteBroadcastsForForcePromote
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

test: Add unit tests to improve broadcaster code coverage
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

fix: Fix data race in singleton_test.go by using snmanager.ResetStreamingNodeManager
  internal/streamingcoord/server/broadcaster/broadcast/singleton_test.go
Due: Go

fix: add missing imports after rebase conflict resolution
  internal/streamingcoord/server/service/assignment.go
Due: Go

fix: regenerate proto files with correct protoc version and fix go.sum
  cmd/tools/migration/backend/backup_header.pb.go
  go.sum
  pkg/eventlog/event_log.pb.go
  pkg/eventlog/event_log_grpc.pb.go
  pkg/proto/cgopb/cgo_msg.pb.go
  pkg/proto/clusteringpb/clustering.pb.go
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/datapb/data_coord_grpc.pb.go
  pkg/proto/etcdpb/etcd_meta.pb.go
  pkg/proto/indexcgopb/index_cgo_msg.pb.go
  pkg/proto/indexpb/index_coord.pb.go
  pkg/proto/indexpb/index_coord_grpc.pb.go
  pkg/proto/internalpb/internal.pb.go
  pkg/proto/messagespb/messages.pb.go
  pkg/proto/modelservicepb/model_service.pb.go
  pkg/proto/modelservicepb/model_service_grpc.pb.go
  pkg/proto/planpb/plan.pb.go
  pkg/proto/proxypb/proxy.pb.go
  pkg/proto/proxypb/proxy_grpc.pb.go
  pkg/proto/querypb/query_coord.pb.go
  pkg/proto/querypb/query_coord_grpc.pb.go
  pkg/proto/rootcoordpb/root_coord.pb.go
  pkg/proto/rootcoordpb/root_coord_grpc.pb.go
  pkg/proto/segcorepb/segcore.pb.go
  pkg/proto/streamingpb/streaming.pb.go
  pkg/proto/streamingpb/streaming_grpc.pb.go
  pkg/proto/workerpb/worker.pb.go
  pkg/proto/workerpb/worker_grpc.pb.go
Due: none

fix: Fix ut and code-check for force promote PR
  failover-implementation-plan.md
Due: none

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
