Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix offsets calculation with nullable bitmaps
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
Due: Core

enhance: mmap once for each group chunk
  internal/core/src/common/ChunkTarget.cpp
  internal/core/src/common/ChunkTarget.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/common/VectorArrayChunkTest.cpp
  internal/core/src/segcore/storagev1translator/ChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
Due: Core

ut fix
  internal/core/src/common/Chunk.h
  internal/core/src/common/ChunkWriter.cpp
Due: Core

enhance: add a group chunk type to distinguish different group chunks
  internal/core/src/common/GroupChunk.h
  internal/core/src/index/json_stats/JsonKeyStats.cpp
  internal/core/src/index/json_stats/parquet_writer.h
  internal/core/src/mmap/Types.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/storagev1translator/ChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
Due: Core

address comment
  internal/core/src/common/ChunkTarget.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslatorTest.cpp
Due: Core

fix: [2.5]Fix target segment marked dropped for save stats result twice (#45480)
  ci/jenkins/PR.groovy
  internal/datacoord/compaction_trigger.go
  internal/datacoord/meta.go
  internal/datacoord/task_scheduler.go
  internal/datacoord/task_scheduler_test.go
Due: Go

enhance: Bump milvus & proto to v2.5.22 (#45498)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

enhance: refactor SN wal retention
  configs/milvus.yaml
  go.mod
  go.sum
  internal/streamingnode/server/wal/recovery/config.go
  internal/streamingnode/server/wal/recovery/config_test.go
  internal/streamingnode/server/wal/recovery/metrics.go
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/wal_truncator.go
  internal/streamingnode/server/wal/recovery/wal_truncator_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/metrics/streaming_service_metrics.go
  pkg/streaming/walimpls/impls/pulsar/opener.go
  pkg/streaming/walimpls/impls/pulsar/wal.go
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

fix: failed to get raw data for hybrid index(#45318) (#45411)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

enhance: add robust handle etcd servercrash (#45304)
  .gitignore
  cmd/milvus/mck.go
  cmd/tools/migration/backend/etcd.go
  cmd/tools/migration/migration/runner.go
  cmd/tools/migration/mmap/tool/main.go
  configs/milvus.yaml
  internal/distributed/datanode/service.go
  internal/distributed/mixcoord/service.go
  internal/distributed/proxy/service.go
  internal/distributed/querynode/service.go
  internal/kv/etcd/metakv_factory.go
  internal/util/dependency/kv/kv_client_handler.go
  internal/util/sessionutil/session_util.go
  internal/util/sessionutil/session_util_test.go
  pkg/streaming/walimpls/impls/wp/builder.go
  pkg/util/etcd/etcd_util.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/service_param.go
Due: Go

fix: [cp26]store database event if the key is invalid (#45348)
  internal/rootcoord/meta_table.go
Due: Go

fix: [cp26]Set schema properties before broadcast alter collection (#45502)
  internal/rootcoord/broker.go
Due: Go

fix check code
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
Due: Go

enhance: [2.6] prevent panic by adding null pointer check when clearing InsertRecord _pk2offset_ (#45442)
  internal/core/src/segcore/InsertRecord.h
Due: Core

Apply indexparam modification before create segment
  internal/querynodev2/segments/segment_loader.go
Due: Go

fix bucket name related issue
  internal/querynodev2/segments/segment_loader.go
Due: Go

Ignore compaction task when from segment is not healthy
  internal/datacoord/compaction_trigger.go
  internal/datacoord/meta.go
Due: Go

test: Increase PyMilvus version to 2.6.4rc4
  tests/python_client/requirements.txt
Due: none

fix: Fix bulkimport bug for Struct field (#45474)
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/parquet/struct_field_reader.go
  internal/util/testutil/test_util.go
Due: Go

Fix bulkimport bug for Struct field
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/parquet/struct_field_reader.go
  internal/util/testutil/test_util.go
Due: Go

test: Increase PyMilvus version to 2.5.17 for 2.5 branch (#45440)
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.7.0rc56 for master branch (#45515)
  tests/python_client/requirements.txt
Due: none

add a unified guard for shared mmap region
  internal/core/src/common/Chunk.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/mmap/ChunkedColumnTest.cpp
  internal/core/src/query/CachedSearchIteratorTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedTest.cpp
Due: Core

enhance: add param 'common.preferIPv6Address' to support cluster deployed in mixed environments consisting of IPv4/IPv6 dual-stack and IPv6-only nodes
  configs/milvus.yaml
  internal/distributed/datanode/service.go
  internal/distributed/mixcoord/service.go
  internal/distributed/proxy/listener_manager.go
  internal/distributed/querynode/service.go
  internal/distributed/streamingnode/service.go
  pkg/util/funcutil/func.go
  pkg/util/funcutil/func_test.go
  pkg/util/netutil/listener.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/paramtable/grpc_param.go
Due: Go

fix not make
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
Due: Core

fix: [2.6] Retain collection early to prevent it from being released before query completion. (#45415)
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
Due: Go

fix: fix index compatibility after upgrade (#45373)
  internal/core/src/index/IndexFactory.cpp
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_utils/indexbuilder_test_utils.h
  internal/proxy/task_index_test.go
  internal/util/indexcgowrapper/codec_index_test.go
Due: Core, Go

add concurrency protection for collection schema updates.
  internal/core/src/common/Schema.h
  internal/core/src/segcore/Collection.cpp
  internal/core/src/segcore/Collection.h
Due: Core

Querynode collection meta cache protection
  internal/querynodev2/segments/collection.go
  internal/querynodev2/segments/collection_test.go
  internal/util/segcore/collection.go
  internal/util/segcore/collection_test.go
Due: Go

enhance: support max_connections config for remote storage (#45225)
  internal/core/src/clustering/analyze_c.cpp
  internal/core/src/common/type_c.h
  internal/core/src/segcore/arrow_fs_c.cpp
  internal/core/src/segcore/packed_reader_c.cpp
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/src/storage/ChunkManager.cpp
  internal/core/src/storage/MinioChunkManager.cpp
  internal/core/src/storage/StorageV2FSCache.cpp
  internal/core/src/storage/StorageV2FSCache.h
  internal/core/src/storage/Types.h
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/loon_ffi/util.cpp
  internal/core/src/storage/loon_ffi/util.h
  internal/core/src/storage/storage_c.cpp
  internal/core/unittest/test_storage.cpp
  internal/storagev2/packed/packed_reader.go
  internal/storagev2/packed/packed_reader_ffi.go
  internal/storagev2/packed/packed_writer.go
  internal/storagev2/packed/util.go
  internal/util/initcore/init_core.go
  pkg/proto/clustering.proto
  pkg/proto/clusteringpb/clustering.pb.go
  pkg/proto/index_cgo_msg.proto
  pkg/proto/index_coord.proto
  pkg/proto/indexcgopb/index_cgo_msg.pb.go
  pkg/proto/indexpb/index_coord.pb.go
  pkg/util/paramtable/base_table.go
  pkg/util/paramtable/service_param.go
Due: Core, Go

enhance: [2.6] support max_connection config for remote storage (#45364)
  internal/core/src/clustering/analyze_c.cpp
  internal/core/src/common/type_c.h
  internal/core/src/segcore/arrow_fs_c.cpp
  internal/core/src/segcore/packed_reader_c.cpp
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/src/storage/ChunkManager.cpp
  internal/core/src/storage/MinioChunkManager.cpp
  internal/core/src/storage/StorageV2FSCache.cpp
  internal/core/src/storage/StorageV2FSCache.h
  internal/core/src/storage/Types.h
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/storage_c.cpp
  internal/core/unittest/test_storage.cpp
  internal/storagev2/packed/packed_reader.go
  internal/storagev2/packed/packed_writer.go
  internal/storagev2/packed/util.go
  internal/util/initcore/init_core.go
  pkg/proto/clustering.proto
  pkg/proto/clusteringpb/clustering.pb.go
  pkg/proto/index_cgo_msg.proto
  pkg/proto/index_coord.proto
  pkg/proto/indexcgopb/index_cgo_msg.pb.go
  pkg/proto/indexpb/index_coord.pb.go
  pkg/util/paramtable/base_table.go
  pkg/util/paramtable/service_param.go
Due: Core, Go

enhance: update maxConnections config version
  pkg/util/paramtable/service_param.go
Due: Go

support use synonym filter
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/filter.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/mod.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/synonym_filter.rs
Due: Core

lint fix
  internal/proxy/search_pipeline.go
  internal/proxy/task.go
  internal/proxy/task_search_test.go
Due: Go

update highlight task field
  internal/proxy/search_pipeline.go
  internal/proxy/task_search.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/services_test.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Go
