Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: [2.6] add missing fmt import in datacoord task_index.go (#50765)
  internal/datacoord/task_index.go
Due: Go

doc: add verification gate and C++ error-chain audit to CLAUDE.md
  CLAUDE.md
Due: none

fix: create marisa string index temp directory
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/StringIndexTest.cpp
Due: Core

enhance: isolate function runner lifecycle keys (#50604)
  internal/flushcommon/pipeline/flow_graph_write_node.go
  internal/flushcommon/writebuffer/write_buffer_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/pipeline/insert_node.go
  internal/streamingnode/server/wal/interceptors/shard/function_materializer.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_collection.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_test.go
  internal/util/function/local_store.go
  internal/util/function/manager.go
  internal/util/function/manager_test.go
Due: Go

enhance: wait for segment distribution before finishing task
  internal/querycoordv2/task/action.go
  internal/querycoordv2/task/scheduler.go
  internal/querycoordv2/task/task_test.go
Due: Go

fix: address segment delta rebase followups
  internal/querycoordv2/assign/assign_policy_roundrobin_test.go
  internal/querycoordv2/assign/assign_policy_rowcount_test.go
  internal/querycoordv2/task/scheduler.go
Due: Go

fix: sort round robin segment assign by segment count
  internal/querycoordv2/assign/assign_policy_roundrobin.go
  internal/querycoordv2/assign/assign_policy_roundrobin_test.go
  internal/querycoordv2/balance/balance_test.go
Due: Go

enhance: make balance workload delta dist aware
  internal/querycoordv2/assign/assign_policy_roundrobin.go
  internal/querycoordv2/assign/assign_policy_roundrobin_test.go
  internal/querycoordv2/assign/assign_policy_rowcount.go
  internal/querycoordv2/assign/assign_policy_rowcount_test.go
  internal/querycoordv2/assign/assign_policy_score.go
  internal/querycoordv2/assign/assign_policy_score_test.go
  internal/querycoordv2/balance/balance_test.go
  internal/querycoordv2/balance/channel_level_score_balancer_test.go
  internal/querycoordv2/balance/rowcount_based_balancer_test.go
  internal/querycoordv2/balance/score_based_balancer_test.go
  internal/querycoordv2/checkers/controller_test.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/ops_service_test.go
  internal/querycoordv2/services_test.go
  internal/querycoordv2/task/mock_scheduler.go
  internal/querycoordv2/task/scheduler.go
  internal/querycoordv2/task/task_test.go
Due: Go

fix: wait for streaming segment dist before finish
  internal/querycoordv2/assign/assign_policy_score.go
  internal/querycoordv2/task/action.go
  internal/querycoordv2/task/scheduler.go
  internal/querycoordv2/task/task_test.go
Due: Go

enhance: address segment delta review comments
  internal/querycoordv2/task/scheduler.go
  internal/querycoordv2/task/task_test.go
Due: Go

test: improve QueryCoord segment delta coverage
  internal/querycoordv2/assign/assign_policy_score_test.go
  internal/querycoordv2/task/task_test.go
Due: Go

Fix race & lint
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/segments/segment_loader_test.go
Due: Go

enhance: decouple querycoord dispatch from dist pull
  configs/milvus.yaml
  internal/querycoordv2/dist/dist_handler.go
  internal/querycoordv2/dist/dist_handler_test.go
  pkg/util/paramtable/component_param.go
Due: Go

refactor: remove dispatch flag from querycoord dist handler
  internal/querycoordv2/dist/dist_controller.go
  internal/querycoordv2/dist/dist_controller_test.go
  internal/querycoordv2/dist/dist_handler.go
  internal/querycoordv2/dist/dist_handler_test.go
Due: Go

test: Add sparse inverted invalid parameter checks
  tests/python_client/milvus_client/test_milvus_client_sparse_inverted_index.py
Due: none

test: Increase PyMilvus version to 3.0.1rc48
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.6.16
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 3.0.1rc44
  tests/python_client/requirements.txt
Due: none

enhance: route partition namespace requests
  internal/proxy/rate_limit_interceptor.go
  internal/proxy/rate_limit_interceptor_test.go
  internal/proxy/search_pipeline.go
  internal/proxy/search_util.go
  internal/proxy/task_delete.go
  internal/proxy/task_delete_test.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
  internal/proxy/task_upsert.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/create_collection_task_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties_test.go
  pkg/common/common.go
  pkg/common/common_test.go
Due: Go

test: update python client test expectations (#50642)
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/milvus_client/test_milvus_client_insert.py
  tests/python_client/milvus_client/test_milvus_client_upsert.py
  tests/python_client/testcases/test_text_embedding_function_e2e.py
Due: none

enhance: use routing table for proxy hash routing
  internal/proxy/routing_table_hash_test.go
  internal/proxy/task_delete.go
  internal/proxy/task_insert_streaming.go
  internal/proxy/util.go
  internal/util/typeutil/hash.go
  internal/util/typeutil/hash_test.go
  pkg/util/typeutil/hash.go
  pkg/util/typeutil/hash_test.go
  tests/integration/util_insert_test.go
Due: Go

test: add function field e2e coverage
  tests/python_client/milvus_client/test_add_function_field_feature.py
  tests/python_client/milvus_client/test_drop_field_feature.py
Due: none

fix: validate REST v2 collection TTL properties (#49843)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
Due: Go

feat: impl StructArray -- support csv/json import on more types of vector array (#50753)
  internal/util/importutilv2/common/vector_array.go
  internal/util/importutilv2/common/vector_array_test.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/json/row_parser_test.go
Due: Go

fix: preserve text lob metadata in merge-sort compaction (#50754)
  internal/datanode/compactor/clustering_compactor_storage_v3_test.go
  internal/datanode/compactor/merge_sort.go
  internal/datanode/compactor/mix_compactor.go
Due: Go

fix: keep streaming segment delta until dist catches up
  internal/querycoordv2/task/action.go
  internal/querycoordv2/task/scheduler.go
  internal/querycoordv2/task/task_test.go
Due: Go

doc: add verification gate and C++ error-chain audit to CLAUDE.md (#50769)
  CLAUDE.md
Due: none

test: refine schema evolution e2e coverage
  tests/python_client/milvus_client/test_add_function_field_feature.py
  tests/python_client/milvus_client/test_drop_field_feature.py
Due: none

fix: support dropping and re-adding BM25 function field (#50729)
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/delegator/idf_oracle.go
  internal/querynodev2/delegator/idf_oracle_test.go
Due: Go

enhance: optimize segment dist lookup by segment id
  internal/querycoordv2/meta/segment_dist_manager.go
  internal/querycoordv2/meta/segment_dist_manager_test.go
Due: Go

enhance: [2.6] move embedding function execution before WAL append (#49717)
  internal/flushcommon/pipeline/data_sync_service.go
  internal/flushcommon/pipeline/flow_graph_embedding_node.go
  internal/flushcommon/pipeline/flow_graph_embedding_node_test.go
  internal/flushcommon/pipeline/flow_graph_write_node.go
  internal/flushcommon/writebuffer/write_buffer.go
  internal/flushcommon/writebuffer/write_buffer_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/delegator/function_runtime_state.go
  internal/querynodev2/delegator/idf_oracle.go
  internal/querynodev2/pipeline/embedding_node.go
  internal/querynodev2/pipeline/embedding_node_test.go
  internal/querynodev2/pipeline/insert_node.go
  internal/querynodev2/pipeline/insert_node_test.go
  internal/querynodev2/pipeline/message.go
  internal/querynodev2/pipeline/pipeline.go
  internal/storage/utils.go
  internal/storage/utils_test.go
  internal/streamingnode/server/wal/interceptors/shard/builder.go
  internal/streamingnode/server/wal/interceptors/shard/function_materializer.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_collection.go
  internal/util/function/manager.go
  internal/util/function/manager_test.go
  pkg/streaming/util/message/message_test.go
  pkg/streaming/util/message/specialized_message.go
  pkg/util/typeutil/schema.go
Due: Go

test: Increase PyMilvus version to 3.1.0rc49
  tests/python_client/requirements.txt
Due: none

enhance: remove macos checker from ci gate
  .github/mergify.yml
Due: none

fix: Avoid blocking compactor executor slot queries
  internal/datanode/compactor/executor.go
  internal/datanode/compactor/executor_test.go
Due: Go

test: bump pymilvus to 3.1.0rc49
  tests/python_client/requirements.txt
Due: none

test: remove macos checker from ci gate (#50791)
  .github/mergify.yml
Due: none

fix: re-watch etcd on auth-token errors instead of panicking (#50614)
  internal/util/proxyutil/proxy_watcher.go
  internal/util/proxyutil/proxy_watcher_test.go
  internal/util/sessionutil/session_util.go
  internal/util/sessionutil/session_util_test.go
  pkg/util/etcd/etcd_util.go
  pkg/util/etcd/etcd_util_test.go
Due: Go

test: Add sparse inverted invalid parameter checks (#50775)
  tests/python_client/milvus_client/test_milvus_client_sparse_inverted_index.py
Due: none

fix: keep streaming segment delta until distribution catches up
  internal/querycoordv2/task/action.go
  internal/querycoordv2/task/scheduler.go
  internal/querycoordv2/task/task_test.go
Due: Go
