Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: slice compact nullable struct subcolumns
  client/column/generic_base.go
  client/column/struct_test.go
Due: Client

fix: preflight nullable struct null appends
  client/column/struct.go
  client/column/struct_test.go
Due: Client

test: cover empty nullable struct search results
  tests/go_client/testcases/struct_array_test.go
Due: none

test: cover struct array mutation recovery
  tests/go_client/testcases/struct_array_test.go
Due: none

test: cover empty nullable struct queries end to end
  tests/go_client/testcases/struct_array_test.go
Due: none

fix: preserve varchar array type when slicing
  client/column/array.go
  client/column/array_test.go
Due: Client

fix: reject nil fields in non-null struct rows
  client/column/struct.go
  client/milvusclient/write_option_test.go
Due: Client

fix: restore nullable state for empty search results
  client/milvusclient/read.go
  client/milvusclient/read_test.go
Due: Client

fix: restore missing empty struct output columns
  client/milvusclient/read.go
  client/milvusclient/read_test.go
Due: Client

fix: reuse REST struct array row accessors
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

test: cover wholly empty nullable struct search results
  tests/go_client/testcases/struct_array_test.go
Due: none

fix: preserve nullable state for empty struct arrays
  client/column/columns.go
  client/column/struct_test.go
Due: Client

fix: restore empty struct subfield results
  client/milvusclient/read.go
  client/milvusclient/read_test.go
Due: Client

fix: restore requested struct columns for empty queries
  client/milvusclient/read.go
  client/milvusclient/read_test.go
Due: Client

test: cover empty struct subfield results
  tests/go_client/testcases/struct_array_test.go
Due: none

fix: preserve vector array types when slicing
  client/column/struct_test.go
  client/column/vector_array.go
  client/column/vector_array_test.go
Due: Client

fix: preserve nullable struct array alignment
  client/column/columns.go
  client/column/generic_base.go
  client/column/struct.go
  client/column/struct_test.go
Due: Client

fix: preserve nullable state for empty struct slices
  client/column/columns.go
  client/column/struct_test.go
Due: Client

fix: preserve empty dynamic query results
  client/milvusclient/read.go
  client/milvusclient/read_test.go
Due: Client

test: avoid flat indexes in struct array REST cases
  tests/restful_client_v2/testcases/test_struct_array_nullable.py
Due: none

fix: change UUID FieldDataColumn to StringData (VarChar-backed)
  client/column/columns.go
  client/column/columns_test.go
  client/column/conversion.go
Due: Client

fix: reap leftover idempotency window chunks on drop and bootstrap
  internal/streamingnode/server/wal/recovery/window_cleaner.go
  internal/streamingnode/server/wal/recovery/window_recovery_gate_test.go
  internal/streamingnode/server/wal/recovery/window_store_persist.go
  internal/streamingnode/server/wal/recovery/window_store_recover.go
Due: Go

fix: include insert destination in auto idempotency key
  internal/proxy/task_insert_idempotency.go
  internal/proxy/task_insert_idempotency_test.go
Due: Go

enhance: classify idempotency proxy errors through merr
  internal/proxy/task_insert_idempotency.go
  internal/proxy/task_insert_idempotency_autoid.go
Due: Go

fix: keep chMgr vchannel order as the PK routing base for idempotent auto-ID inserts
  internal/proxy/task_insert_idempotency_autoid.go
  internal/proxy/task_insert_idempotency_autoid_test.go
Due: Go

enhance: address remaining idempotency window review findings
  internal/streamingnode/server/wal/interceptors/idempotency/window.go
  internal/streamingnode/server/wal/interceptors/idempotency/window_test.go
  internal/streamingnode/server/wal/recovery/recovery_stream.go
  internal/streamingnode/server/wal/recovery/window_manager.go
  internal/streamingnode/server/wal/recovery/window_store_record.go
  internal/streamingnode/server/wal/recovery/window_vchannel_state.go
  internal/streamingnode/server/wal/recovery/window_vchannel_state_test.go
Due: Go

fix: harden idempotency recovery config and disabled-mode checkpointing
  internal/metastore/kv/streamingnode/kv_catalog.go
  internal/metastore/streamingnode_catalog.go
  internal/mocks/mock_metastore/mock_StreamingNodeCataLog.go
  internal/streamingnode/server/wal/interceptors/idempotency/builder.go
  internal/streamingnode/server/wal/recovery/config.go
  internal/streamingnode/server/wal/recovery/config_test.go
  internal/streamingnode/server/wal/recovery/window_checkpoint.go
  internal/streamingnode/server/wal/recovery/window_checkpoint_test.go
  internal/streamingnode/server/wal/recovery/window_cleaner.go
  internal/streamingnode/server/wal/recovery/window_recovery_gate_test.go
  internal/streamingnode/server/wal/recovery/window_store_recover.go
  internal/streamingnode/server/wal/recovery/window_vchannel_state_test.go
Due: Go

fix: reclaim the retried txn buffer when the idempotent commit wait fails
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor_test.go
Due: Go

fix: keep idempotency window commit order sorted by commit timetick
  internal/streamingnode/server/wal/interceptors/idempotency/window.go
  internal/streamingnode/server/wal/interceptors/idempotency/window_test.go
Due: Go

fix: harden idempotency window store crash consistency and split-brain fencing
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/window.go
  internal/streamingnode/server/wal/interceptors/idempotency/window_test.go
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/salvage_checkpoint_test.go
  internal/streamingnode/server/wal/recovery/window_background_task.go
  internal/streamingnode/server/wal/recovery/window_cleaner.go
  internal/streamingnode/server/wal/recovery/window_cleaner_test.go
  internal/streamingnode/server/wal/recovery/window_manager.go
  internal/streamingnode/server/wal/recovery/window_manager_test.go
  internal/streamingnode/server/wal/recovery/window_store_codec.go
  internal/streamingnode/server/wal/recovery/window_store_codec_raw_checksum_test.go
  internal/streamingnode/server/wal/recovery/window_store_errors.go
  internal/streamingnode/server/wal/recovery/window_store_fencing_test.go
  internal/streamingnode/server/wal/recovery/window_store_persist.go
  internal/streamingnode/server/wal/recovery/window_store_recover.go
  internal/streamingnode/server/wal/recovery/window_vchannel_state_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: Go

fix: harden idempotent txn commits and interceptor window lifecycle
  internal/proxy/task_insert_idempotency_autoid.go
  internal/proxy/task_insert_streaming.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/metrics.go
  internal/streamingnode/server/wal/interceptors/idempotency/metrics_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/utils/txn_insert_result_builder.go
  internal/streamingnode/server/wal/interceptors/idempotency/window.go
  internal/streamingnode/server/wal/interceptors/idempotency/window_test.go
  pkg/common/common.go
Due: Go

fix: bound idempotency window memory and close remaining review gaps
  internal/streamingnode/server/wal/interceptors/idempotency/builder.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor.go
  internal/streamingnode/server/wal/interceptors/idempotency/window.go
  internal/streamingnode/server/wal/interceptors/idempotency/window_test.go
  internal/streamingnode/server/wal/recovery/config.go
  internal/streamingnode/server/wal/recovery/config_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/window_background_task.go
  internal/streamingnode/server/wal/recovery/window_manager.go
  internal/streamingnode/server/wal/recovery/window_manager_test.go
  internal/streamingnode/server/wal/recovery/window_store_recover.go
  internal/streamingnode/server/wal/recovery/window_vchannel_state.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: fail WAL open on referenced idempotency window chunk corruption
  internal/streamingnode/server/wal/recovery/window_recovery_gate_test.go
  internal/streamingnode/server/wal/recovery/window_store_recover.go
Due: Go

fix: clamp WAL truncation by the durable window source checkpoint
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  internal/streamingnode/server/wal/recovery/window_checkpoint.go
  internal/streamingnode/server/wal/recovery/window_checkpoint_test.go
Due: Go

fix: end idempotency duplicate visibility at TTL on every shard
  internal/proxy/task_insert_idempotency.go
  internal/proxy/task_insert_streaming.go
  internal/streamingnode/server/wal/interceptors/idempotency/window.go
  internal/streamingnode/server/wal/interceptors/idempotency/window_test.go
Due: Go

fix: honor the retention ledger in the persisted window meta projection
  internal/streamingnode/server/wal/recovery/window_vchannel_state.go
  internal/streamingnode/server/wal/recovery/window_vchannel_state_test.go
Due: Go

fix: address adversarial review round five on idempotency durability and semantics
  internal/metastore/kv/streamingnode/kv_catalog.go
  internal/proxy/task.go
  internal/proxy/task_insert_idempotency.go
  internal/proxy/task_insert_idempotency_autoid_test.go
  internal/proxy/task_insert_streaming.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor_test.go
  internal/streamingnode/server/wal/adaptor/wal_adaptor_trace_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/window.go
  internal/streamingnode/server/wal/interceptors/idempotency/window_test.go
  internal/streamingnode/server/wal/recovery/config_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/recovery_storage_test.go
  internal/streamingnode/server/wal/recovery/window_background_task.go
  internal/streamingnode/server/wal/recovery/window_cleaner_test.go
  internal/streamingnode/server/wal/recovery/window_manager.go
  internal/streamingnode/server/wal/recovery/window_recovery_gate_test.go
  internal/streamingnode/server/wal/recovery/window_store_codec.go
  internal/streamingnode/server/wal/recovery/window_store_errors.go
  internal/streamingnode/server/wal/recovery/window_store_persist.go
  internal/streamingnode/server/wal/recovery/window_store_recover.go
  internal/streamingnode/server/wal/recovery/window_vchannel_state.go
  internal/streamingnode/server/wal/recovery/window_vchannel_state_test.go
  internal/streamingnode/server/wal/utility/reorder_buffer.go
  internal/streamingnode/server/wal/utility/reorder_buffer_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: address idempotent write review gaps
  client/milvusclient/write.go
  client/milvusclient/write_options.go
  client/milvusclient/write_test.go
  internal/distributed/streaming/wal_test.go
  internal/proxy/task_insert_idempotency.go
  internal/proxy/task_insert_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/window.go
  internal/streamingnode/server/wal/interceptors/idempotency/window_test.go
  internal/streamingnode/server/wal/recovery/window_store_persist.go
  pkg/util/paramtable/component_param.go
Due: Client, Go

fix: address idempotent write review comments
  client/milvusclient/write_options.go
  internal/proxy/task_insert_idempotency.go
  internal/proxy/task_insert_idempotency_autoid_test.go
  internal/streamingnode/server/wal/recovery/config_test.go
  internal/streamingnode/server/wal/recovery/recovery_drop_collection_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_test.go
  internal/streamingnode/server/wal/recovery/window_background_task.go
  internal/streamingnode/server/wal/recovery/window_checkpoint_test.go
  internal/streamingnode/server/wal/recovery/window_lock_concurrency_test.go
  internal/streamingnode/server/wal/recovery/window_recovery_gate_test.go
  internal/streamingnode/server/wal/recovery/window_vchannel_state_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Client, Go

fix: harden idempotency window persistence
  internal/metastore/kv/streamingnode/kv_catalog.go
  internal/metastore/kv/streamingnode/kv_catalog_test.go
  internal/streamingnode/server/wal/adaptor/opener.go
  internal/streamingnode/server/wal/adaptor/wal_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor.go
  internal/streamingnode/server/wal/interceptors/idempotency/idempotency_interceptor_test.go
  internal/streamingnode/server/wal/interceptors/idempotency/utils/txn_insert_results_buffer.go
  internal/streamingnode/server/wal/interceptors/idempotency/utils/txn_insert_results_buffer_test.go
  internal/streamingnode/server/wal/recovery/checkpoint_util.go
  internal/streamingnode/server/wal/recovery/checkpoint_util_test.go
  internal/streamingnode/server/wal/recovery/window_background_task.go
  internal/streamingnode/server/wal/recovery/window_cleaner.go
  internal/streamingnode/server/wal/recovery/window_cleaner_test.go
  internal/streamingnode/server/wal/recovery/window_store_fencing_test.go
  internal/streamingnode/server/wal/recovery/window_store_manifest.go
  internal/streamingnode/server/wal/recovery/window_store_persist.go
  internal/streamingnode/server/wal/recovery/window_store_recover.go
  internal/streamingnode/server/wal/recovery/window_vchannel_state_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
Due: Go
