Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix: treat missing json arithmetic operands as unknown
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/ExprArithOpTest.cpp
Due: Core

fix: honor json path index unknown values
  internal/core/src/exec/expression/ExprJsonIndexTest.cpp
  internal/core/src/index/JsonHybridScalarIndex.h
  internal/core/src/index/JsonIndexTest.cpp
  internal/core/src/index/JsonPathIndexTest.cpp
  internal/core/src/index/JsonScalarIndexWrapper.h
Due: Core

fix: honor json flat index unknown values
  internal/core/src/exec/expression/Expr.h
  internal/core/src/index/JsonFlatIndex.h
  internal/core/src/index/JsonFlatIndexTest.cpp
Due: Core

test: fix go sdk empty json array path
  tests/go_client/testcases/query_test.go
Due: none

test: align json arithmetic unknown expectation
  internal/core/src/exec/expression/ExprArithOpTest.cpp
Due: Core

fix: [2.6] preserve segment insert log paths for text index (#50959) (#51002)
  internal/datanode/util/util.go
  internal/datanode/util/util_test.go
Due: Go

fix: make max_edit_distance a soft keyword and simplify fuzzy query (#51077)
  docs/design-docs/design_docs/20260702-text_match_fuzzy.md
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text.rs
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Core, Go

fix: [cp2.6]preserve null semantics in filter execution (#50722)
  internal/core/src/exec/expression/ConjunctExpr.cpp
  internal/core/src/exec/expression/ConjunctExprTest.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/ExprJsonAdvancedTest.cpp
  internal/core/src/exec/expression/ExprJsonRangeTest.cpp
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/index/TextMatchIndexTest.cpp
Due: Core

fix: [cp 2.6] ignore stale replicated txn body (#50849)
  internal/streamingnode/server/wal/interceptors/replicate/replicates/impl.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/manager_test.go
Due: Go

fix: [2.6] create marisa string index temp directory (#50772)
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/StringIndexTest.cpp
Due: Core

fix: propagate json stats parquet close errors (#50870)
  internal/core/src/index/json_stats/JsonKeyStats.cpp
  internal/core/src/index/json_stats/parquet_writer.cpp
  internal/core/src/index/json_stats/parquet_writer.h
  internal/core/unittest/test_json_stats/test_parquet_writer.cpp
Due: Core

fix: [2.6] drain index entry futures after errors (#50937)
  internal/core/src/storage/IndexEntryReader.cpp
  internal/core/src/storage/IndexEntryWriterTest.cpp
Due: Core

fix: [cp2.6]preserve unknown semantics for json path predicates (#50723)
  internal/core/src/common/Json.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/parser/planparserv2/rewriter/range_json_test.go
  internal/parser/planparserv2/rewriter/util.go
Due: Core, Go

fix: clear datacoord backoff entry on terminal state during dispatch
  internal/datacoord/task/global_scheduler.go
  internal/datacoord/task/global_scheduler_test.go
Due: Go

fix: [2.6.19] preserve segment insert log paths for text index (#50959) (#51090)
  internal/datanode/util/util.go
  internal/datanode/util/util_test.go
Due: Go

Address comment
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/unittest/test_sealed.cpp
Due: Core

test: align regex array missing element unknown
  tests/python_client/milvus_client/test_milvus_client_regex_filter.py
Due: none

enhance: de-synchronize and rate-limit delete-triggered single compaction
  internal/datacoord/compaction_admission.go
  internal/datacoord/compaction_admission_test.go
  internal/datacoord/compaction_policy_single.go
  internal/datacoord/compaction_policy_single_test.go
  internal/datacoord/compaction_trigger.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: add per-collection deltalog observability metrics
  internal/datacoord/meta.go
  internal/datacoord/metrics_deltalog.go
  internal/datacoord/metrics_deltalog_test.go
  pkg/metrics/datacoord_metrics.go
Due: Go

fix: update getFailMap to include status for failed get operations
  internal/core/src/monitor/Monitor.cpp
Due: Core

enhance: speed up sealed varchar primary key fill (#51031)
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
Due: Core

fix: skip index raw data for array output
  internal/core/src/index/BitmapIndexArrayTest.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/ScalarIndexSort.cpp
  internal/core/src/index/ScalarIndexSort.h
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/index/StringIndexSort.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/unittest/test_sealed.cpp
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
  tests/python_client/milvus_client/test_milvus_client_struct_array_element_query.py
  tests/python_client/milvus_client/test_milvus_client_struct_array_nullable.py
Due: Core

fix: skip null bitmap work for all-valid filters (#51050)
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/exec/operator/FilterBitsNode.h
  internal/core/src/exec/operator/FilterBitsNodeTest.cpp
Due: Core

fix: handle text lob refs and flush pressure accounting (#51079)
  internal/flushcommon/metacache/flush_source.go
  internal/flushcommon/pipeline/data_sync_service.go
  internal/flushcommon/util/util.go
  internal/flushcommon/writebuffer/options.go
  internal/flushcommon/writebuffer/write_buffer.go
  internal/flushcommon/writebuffer/write_buffer_test.go
  internal/storage/serde.go
  internal/storage/serde_events.go
  internal/storage/serde_events_test.go
  internal/streamingnode/server/flusher/flusherimpl/flusher_components.go
  internal/streamingnode/server/wal/interceptors/shard/shards/segment_manager.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_segment.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_test.go
  internal/streamingnode/server/wal/interceptors/shard/stats/metrics.go
  internal/streamingnode/server/wal/interceptors/shard/stats/stats_manager.go
  internal/streamingnode/server/wal/interceptors/shard/stats/stats_manager_test.go
  internal/streamingnode/server/wal/interceptors/shard/utils/math.go
  internal/streamingnode/server/wal/interceptors/shard/utils/stats.go
  pkg/metrics/streaming_service_metrics.go
Due: Go

enhance: [2.6] speed up sealed varchar primary key fill (#51063)
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
Due: Core

fix: [2.6] skip null bitmap work for all-valid filters (#51067)
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/exec/operator/FilterBitsNode.h
  internal/core/src/exec/operator/FilterBitsNodeTest.cpp
Due: Core

fix: reserve index entry futures before submit (#51035)
  internal/core/src/storage/IndexEntryReader.cpp
  internal/core/src/storage/IndexEntryReader.h
Due: Core

fix: clear datacoord backoff entry on terminal state during dispatch (#51092)
  internal/datacoord/task/global_scheduler.go
  internal/datacoord/task/global_scheduler_test.go
Due: Go

fix: address review on deltalog observability metrics
  internal/datacoord/meta.go
  internal/datacoord/metrics_deltalog.go
  internal/datacoord/metrics_deltalog_test.go
  pkg/metrics/datacoord_metrics.go
Due: Go

fix: [2.6] keep Tencent STS JsonValue alive during response parsing (#51015) (#51075)
  internal/core/src/storage/TencentCloudSTSClient.cpp
  internal/core/src/storage/TencentCloudSTSClient.h
  internal/core/src/storage/TencentCloudSTSClientTest.cpp
Due: Core

fix: reject bare NULL literal in expressions instead of misparsing it as a field (#50889)
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_add_struct_field.go
  pkg/common/keywords.go
  pkg/common/keywords_test.go
  tests/python_client/milvus_client/test_milvus_client_three_valued_logic.py
Due: Go

fix: [cp2.6]correct the CDC replication lag metric
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/cdc/replication/replicatestream/metrics.go
  internal/cdc/replication/replicatestream/metrics_test.go
Due: Go

enhance: load json stats shredding with chunk reader
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/core/src/index/json_stats/JsonKeyStats.cpp
Due: Core

test: cover json stats multi-file shredding load
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
Due: Core

enhance: build sealed tantivy indexes as a single segment
  internal/core/src/index/TextMatchIndex.cpp
  internal/core/src/index/TextMatchIndex.h
  internal/core/src/index/TextMatchIndexTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_ngram_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_text_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/index_writer_json_key_stats.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/index_writer_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v7/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v7/index_writer_json_key_stats.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v7/index_writer_text.rs
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
Due: Core

enhance: avoid duplicate json stats metadata read
  internal/core/src/index/json_stats/JsonKeyStats.cpp
Due: Core

fix: map json stats parquet columns to field ids
  internal/core/src/index/json_stats/JsonKeyStats.cpp
Due: Core

fix: validate array element plans and json i64 ranges
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/ExprArrayTest.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/index/JsonFlatIndex.h
  internal/core/src/index/JsonFlatIndexTest.cpp
Due: Core

test: Add TEXT LOB Python client coverage (#50563)
  tests/python_client/bulk_insert/test_bulk_insert_api.py
  tests/python_client/milvus_client/test_milvus_client_external_table.py
  tests/python_client/milvus_client/test_milvus_client_text_lob.py
Due: none
