Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

enhance: two stage search for better autoindex optimization
  internal/core/src/common/QueryResult.h
  internal/core/src/query/ExecPlanNodeVisitor.cpp
  internal/core/src/query/ExecPlanNodeVisitor.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/PlanProto.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/unittest/test_exec.cpp
  internal/core/unittest/test_storage.cpp
  internal/core/unittest/test_utils/c_api_test_utils.h
  internal/core/unittest/test_utils/storage_test_utils.h
  internal/proxy/search_util.go
  internal/proxy/task_search.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_twostage.go
  internal/querynodev2/delegator/delegator_twostage_test.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_interface.go
  internal/querynodev2/services.go
  internal/querynodev2/tasks/search_task.go
  internal/querynodev2/tasks/search_task_test.go
  internal/util/searchutil/optimizers/query_hook.go
  internal/util/searchutil/optimizers/query_hook_test.go
  internal/util/segcore/plan.go
  internal/util/segcore/responses.go
  internal/util/segcore/segment.go
  internal/util/segcore/segment_interface.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/util/paramtable/autoindex_param.go
  pkg/util/paramtable/autoindex_param_test.go
Due: Core, Go

update
  internal/core/src/query/ExecPlanNodeVisitor.cpp
  internal/querynodev2/delegator/delegator.go
Due: Core, Go

fix: fix TOCTOU race condition in checkpoint updater task management (#47396)
  internal/flushcommon/util/checkpoint_updater.go
  tools/mgit.py
Due: Go

optimize CleanupQueryNodeCollectionMetrics
  internal/querynodev2/segments/collection.go
  pkg/metrics/querynode_metrics.go
Due: Go

enhance: remove manual GC calls during segment loading
  internal/querynodev2/segments/segment_loader.go
Due: Go

feat: configurable hybrid index types with version 3 compatibility
  internal/core/src/common/Consts.h
  internal/core/src/index/HybridScalarIndex.cpp
  internal/core/src/index/HybridScalarIndex.h
  internal/core/src/index/Meta.h
  internal/core/src/index/ScalarIndex.h
  internal/core/src/index/Utils.cpp
  internal/core/src/index/Utils.h
  internal/proxy/task_index.go
  internal/proxy/task_index_test.go
  internal/util/indexparamcheck/hybrid_checker_test.go
  internal/util/indexparamcheck/hybrid_index_checker.go
  pkg/common/common.go
  pkg/util/paramtable/autoindex_param.go
  pkg/util/paramtable/component_param.go
  tests/go_client/testcases/index_test.go
Due: Core, Go

fix: Restore AllocTimestamp mock expectations for AssembleImportRequest tests
  internal/datacoord/import_scheduler_test.go
  internal/datacoord/import_util_test.go
Due: Go

fix: preserve ValidData for nullable fields in GROUP BY aggregation
  internal/agg/aggregate_nullable_test.go
  internal/agg/aggregate_reducer.go
  internal/agg/aggregate_util.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Go

fix: add disk space reservation to prevent concurrent index build race
  configs/milvus.yaml
  internal/datanode/index/task_index.go
  internal/datanode/index/task_test.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: Bump milvus & proto version to v2.6.10 (#47385)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

enhance: Add LoadWithStrategyAsync for true I/O pipelining in StorageV2
  internal/core/src/segcore/memory_planner.cpp
  internal/core/src/segcore/memory_planner.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/storage/Util.h
Due: Core

update
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/querycoordv2/task/utils.go
Due: Core, Go

fix: correct mock properties in CMEK compatibility test
  internal/datacoord/snapshot_manager_test.go
Due: Go

update ut
  internal/querynodev2/segments/collection_test.go
  pkg/metrics/metrics_test.go
Due: Go

fix
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
Due: Go

enhance: add session version requirement for storage version upgrade compaction (#47376)
  internal/datacoord/compaction_policy_storage_version.go
  internal/datacoord/compaction_policy_storage_version_test.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/compaction_trigger_v2_test.go
  internal/datacoord/index_engine_version_manager.go
  internal/datacoord/index_engine_version_manager_test.go
  internal/datacoord/mock_index_engine_version_manager.go
  internal/datacoord/server.go
  pkg/util/paramtable/component_param.go
Due: Go

test: Increase PyMilvus version to 2.6.9rc1
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.7.0rc132
  tests/python_client/requirements.txt
Due: none

fix: Fill log & memory size in TextIndexStats meta
  internal/datanode/compactor/sort_compaction.go
  internal/datanode/index/task_stats.go
Due: Go

refactor: align import with DDL/DCL pattern and remove cross-RPC broadcast
  .gitignore
  internal/datacoord/import_callbacks.go
  internal/datacoord/import_callbacks_test.go
  internal/datacoord/import_refactoring_test.go
  internal/datacoord/server.go
  internal/datacoord/server_test.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/distributed/streaming/broadcast.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/streaming_test.go
  internal/distributed/streaming/wal_test.go
  internal/mocks/distributed/mock_streaming/mock_Broadcast.go
  internal/mocks/flushcommon/mock_util/mock_MsgHandler.go
  internal/mocks/streamingnode/server/wal/mock_recovery/mock_RecoveryStorage.go
  internal/proxy/impl_test.go
  internal/proxy/proxy_test.go
  internal/proxy/task_import.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/registry/check_message_callback.go
  internal/streamingcoord/server/broadcaster/registry/check_message_callback_test.go
  internal/streamingcoord/server/broadcaster/registry/specialized_callback.go
  internal/streamingcoord/server/broadcaster/registry/test_utility.go
  internal/streamingcoord/server/service/broadcast.go
Due: Go

enhance: [2.6] make DefaultValueChunk multi-cells to save memory usage
  internal/core/src/common/ChunkTest.cpp
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/common/VectorArrayChunkTest.cpp
  internal/core/src/mmap/ChunkedColumnGroupTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/storagev1translator/ChunkTranslator.cpp
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.cpp
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.h
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslatorTest.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
Due: Core

fix: fix DefaultValueChunk bugs for variable-length types and vectors
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.cpp
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.h
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslatorTest.cpp
Due: Core

enhance: [2.6] add caching layer resource management for streaming node
  internal/core/src/segcore/DeletedRecord.h
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/Record.h
  internal/core/src/segcore/SegcoreConfig.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentGrowingTest.cpp
  internal/core/src/segcore/TimestampIndex.h
  internal/core/src/segcore/load_index_c.cpp
  internal/core/src/segcore/load_index_c.h
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/thirdparty/jemalloc/CMakeLists.txt
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/pkoracle/bloom_filter_set.go
  internal/querynodev2/pkoracle/bloom_filter_set_test.go
  internal/querynodev2/pkoracle/pk_oracle.go
  internal/querynodev2/pkoracle/pk_oracle_test.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_loader.go
  internal/util/initcore/init_core.go
Due: Core, Go

fix: ut
  internal/datacoord/import_callbacks_test.go
  internal/datacoord/import_services_test.go
  internal/proxy/task_import_test.go
Due: Go

enhance: [2.6] Reduce memory allocations and copies in data loading (#47088)
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/common/FieldData.cpp
  internal/core/src/common/FieldDataInterface.h
  internal/core/src/common/IndexMeta.cpp
  internal/core/src/common/Schema.cpp
  internal/core/src/common/Slice.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/function/FunctionFactory.cpp
  internal/core/src/exec/expression/function/FunctionFactory.h
  internal/core/src/exec/operator/RescoresNode.cpp
  internal/core/src/index/IndexStats.cpp
  internal/core/src/index/JsonFlatIndex.cpp
  internal/core/src/index/json_stats/bson_inverted.cpp
  internal/core/src/index/json_stats/parquet_writer.cpp
  internal/core/src/index/json_stats/utils.cpp
  internal/core/src/index/json_stats/utils.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/SubSearchResult.cpp
  internal/core/src/segcore/ReduceUtils.cpp
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/storage/DataCodecTest.cpp
  internal/core/src/storage/RemoteInputStream.cpp
Due: Core

fix: Fix etcd watch and session lifecycle issues in session_util
  internal/util/sessionutil/session_util.go
  internal/util/sessionutil/session_util_test.go
  pkg/util/syncutil/context_condition_variable_test.go
Due: Go

enhance: SemanticHighligh supports dynamic field
  internal/proxy/highlighter.go
  internal/proxy/search_pipeline_test.go
  internal/proxy/task_search.go
  internal/util/function/highlight/semantic_highlight.go
  internal/util/function/highlight/semantic_highlight_test.go
Due: Go

[automated] Bump milvus version to v2.6.10 (#47443)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

fix: assemble validity map for query aggregation result on segcore side(#47350) │
  internal/core/src/query/ExecPlanNodeVisitor.cpp
Due: Core

fix: handle validity map on go agg reducer(#47350)
  internal/agg/aggregate.go
  internal/agg/aggregate_reducer.go
  internal/agg/aggregate_util.go
  internal/agg/operators.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
