Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

update ut
  internal/querynodev2/delegator/idf_oracle.go
  internal/querynodev2/delegator/idf_oracle_test.go
Due: Go

fix file not close when flush or serialize fetch error
  internal/querynodev2/delegator/idf_oracle.go
Due: Go

support preload sealed segment bm25 stats and optimize bm25 stats serialize
  internal/querynodev2/delegator/idf_oracle.go
  internal/storage/stats.go
Due: Go

add some annotation and deactivate unreable segment
  internal/querynodev2/delegator/idf_oracle.go
Due: Go

fix: add more unttest
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/balancer/channel/pchannel.go
  internal/streamingcoord/server/balancer/channel/pchannel_test.go
  internal/streamingcoord/server/service/assignment_test.go
  internal/streamingcoord/server/service/broadcast_test.go
Due: Go

fix: Fix compaction task blocking due to executor loop exit (#44543)
  internal/datanode/compactor/executor.go
  internal/datanode/compactor/executor_test.go
  internal/datanode/compactor/pool.go
  internal/datanode/compactor/pool_test.go
  internal/datanode/compactor/priority_queue.go
  internal/datanode/compactor/priority_queue_test.go
  internal/datanode/services.go
  internal/datanode/services_test.go
  internal/flushcommon/pipeline/data_sync_service.go
  internal/flushcommon/pipeline/flow_graph_dd_node.go
  internal/flushcommon/pipeline/flow_graph_dd_node_test.go
  internal/flushcommon/util/util.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: Fix remove metadata of large segments failed
  configs/milvus.yaml
  internal/metastore/kv/datacoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/metastore/kv/rootcoord/suffix_snapshot.go
  internal/metastore/kv/streamingcoord/kv_catalog.go
  internal/metastore/kv/streamingnode/kv_catalog.go
  pkg/util/constant.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

fix: Alter allow_insert_autoid via AlterCollection (#44530)
  internal/proxy/task.go
  internal/proxy/task_test.go
Due: Go

support use nullable varchar as bm25 function input field
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/util/function/bm25_function.go
  internal/util/function/multi_analyzer_bm25_function.go
  tests/go_client/testcases/nullable_default_value_test.go
  tests/python_client/testcases/test_full_text_search.py
Due: Go

add text embedding function nullable check
  internal/proxy/util.go
  internal/util/function/embedding/text_embedding_function.go
  tests/go_client/testcases/nullable_default_value_test.go
Due: Go

test: Increase PyMilvus version to 2.7.0rc38
  tests/python_client/requirements.txt
Due: none

fix
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  tests/go_client/testcases/helper/data_helper.go
Due: Core

format
  internal/core/src/segcore/ReduceUtils.cpp
Due: Core

rm rtree tmp
  internal/core/unittest/test_rtree_index.cpp
Due: Core

enhance: [go-sdk]allow users to insert pk data if autoid is enabled (#44561)
  client/milvusclient/write_options.go
  client/row/data.go
  client/row/data_test.go
  tests/go_client/testcases/insert_test.go
Due: Client

enhance: add storage usage for delete and upsert
  internal/proxy/impl.go
  internal/proxy/task_delete.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_test.go
Due: Go

fix: remove redundant initialization of storage v2
  internal/querynodev2/server.go
  internal/streamingnode/server/server.go
  internal/util/initcore/query_node.go
Due: Go

Support JSONL/NDJSON files for bulkinsert
  internal/util/importutilv2/json/reader.go
  internal/util/importutilv2/json/reader_test.go
  internal/util/importutilv2/reader.go
  internal/util/importutilv2/reader_test.go
  internal/util/importutilv2/util.go
Due: Go

test: mergify support ci-v2/code-check
  .github/mergify.yml
Due: none

fix: Fix bulk import with autoid
  internal/datanode/importv2/util.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/json/row_parser.go
Due: Go

enhance: [2.5] Refactor balance checker with priority queue (#43992) (#44588)
  internal/querycoordv2/balance/priority_queue.go
  internal/querycoordv2/balance/priority_queue_test.go
  internal/querycoordv2/balance/rowcount_based_balancer.go
  internal/querycoordv2/balance/score_based_balancer.go
  internal/querycoordv2/checkers/balance_checker.go
  internal/querycoordv2/checkers/balance_checker_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: Fix bulk import with autoid
  configs/milvus.yaml
  internal/datanode/importv2/util.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/json/row_parser.go
Due: Go

Skip empty loop for process growing segment
  internal/core/src/exec/expression/Expr.h
Due: Core

fix
  configs/milvus.yaml
Due: none

fix: Fix CDC OOM due to high buffer size
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/cdc/replication/replicatestream/msg_queue.go
  internal/cdc/replication/replicatestream/msg_queue_test.go
  internal/cdc/replication/replicatestream/replicate_stream_client_impl.go
Due: Go

enhance: support batch set bitset
  internal/core/src/bitset/BitsetTest.cpp
  internal/core/src/bitset/detail/platform/arm/neon-decl.h
  internal/core/src/bitset/detail/platform/arm/neon-impl.h
  internal/core/src/bitset/detail/platform/arm/neon-inst.cpp
  internal/core/src/bitset/detail/platform/arm/sve-decl.h
  internal/core/src/bitset/detail/platform/arm/sve-impl.h
  internal/core/src/bitset/detail/platform/arm/sve-inst.cpp
  internal/core/src/bitset/detail/platform/dynamic.cpp
  internal/core/src/bitset/detail/platform/dynamic.h
  internal/core/src/bitset/detail/platform/x86/avx2-decl.h
  internal/core/src/bitset/detail/platform/x86/avx2-impl.h
  internal/core/src/bitset/detail/platform/x86/avx2-inst.cpp
  internal/core/src/bitset/detail/platform/x86/avx512-decl.h
  internal/core/src/bitset/detail/platform/x86/avx512-impl.h
  internal/core/src/bitset/detail/platform/x86/avx512-inst.cpp
Due: Core

rename hnsw for emb_list fom EMB_LIST_HNSW to HNSW, add MAX_SIM_IP/L2/COSINE support
  internal/core/src/common/Types.h
  internal/core/src/common/VectorArrayStorageV2Test.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/query/SearchBruteForce.cpp
  internal/core/src/query/SearchOnSealed.cpp
  internal/core/src/segcore/SegmentGrowingTest.cpp
  internal/core/thirdparty/knowhere/CMakeLists.txt
  internal/core/unittest/test_sealed.cpp
  internal/proxy/proxy_test.go
  internal/proxy/task_index.go
  internal/proxy/task_index_test.go
  internal/util/indexparamcheck/constraints.go
  internal/util/indexparamcheck/vector_index_checker.go
  pkg/util/metric/metric_type.go
Due: Core, Go

fix: Get R-Tree index correct for growing segment
  internal/core/src/segcore/SegmentGrowingImpl.h
Due: Core

update
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/proxy/util.go
  internal/proxy/util_test.go
Due: Go

enhance: add support for Google CloudStorage and Azure Blob Storage in wp
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/streaming/walimpls/impls/wp/builder.go
Due: Go

enhance: add support for Azure Blob Storage in wp (#44592)
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/streaming/walimpls/impls/wp/builder.go
Due: Go

fix: remove redundant initialization of storage v2 (#44597)
  internal/querynodev2/server.go
  internal/streamingnode/server/server.go
  internal/util/initcore/query_node.go
Due: Go

enhance: support use nullable field as bm25 function input field (#44586)
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/util/function/bm25_function.go
  internal/util/function/embedding/text_embedding_function.go
  internal/util/function/multi_analyzer_bm25_function.go
  tests/go_client/testcases/nullable_default_value_test.go
  tests/python_client/testcases/test_full_text_search.py
Due: Go

enhance: Add refine logs for task scheduler in QueryCoord
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querycoordv2/task/scheduler.go
Due: Go

test: Increase PyMilvus version to 2.7.0rc38 for master branch (#44579)
  tests/python_client/requirements.txt
Due: none

enhance: [go-sdk]allow users to insert pk data if autoid is enabled (#44562)
  client/milvusclient/write_options.go
  client/row/data.go
  client/row/data_test.go
  tests/go_client/testcases/insert_test.go
Due: Client

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
