Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: Reorder worker proto fields to ensure compatibility (#43735)
  configs/milvus.yaml
  internal/datanode/index_services.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: Bump milvus & proto version to v2.6.0 (#43704)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

[automated] Bump milvus version to v2.5.16 (#43739)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

[automated] Bump milvus version to v2.5.16 (#43738)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

[automated] Bump milvus version to v2.5.16 (#43740)
  scripts/standalone_embed.sh
Due: none

enhance: Add test target to Makefile and test script (#43730)
  Makefile
  scripts/run_go_unittest.sh
Due: none

enhance: [GoSDK] Support limit for search iterator (#43732)
  client/milvusclient/iterator.go
  client/milvusclient/iterator_option.go
  client/milvusclient/iterator_test.go
  client/milvusclient/results.go
Due: Client

optimize access log format when print kv params
  internal/proxy/accesslog/info/util.go
Due: Go

Hanlde system field
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

test: Upgrade pymilvus version to rc169
  tests/python_client/requirements.txt
Due: none

complete check
  internal/rootcoord/util.go
Due: Go

enhance: Utilize `search_batch_pks` for `search_ids` of PkTerm
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/DeletedRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/unittest/test_delete_record.cpp
  internal/core/unittest/test_utils.cpp
Due: Core

remove used resource at ListNode destruction
  internal/core/src/cachinglayer/lrucache/DList.cpp
  internal/core/src/cachinglayer/lrucache/DList.h
  internal/core/src/cachinglayer/lrucache/ListNode.cpp
Due: Core

resolve conflicts in test
  internal/proxy/proxy_test.go
  internal/proxy/task_query_test.go
  internal/proxy/task_search_test.go
  internal/proxy/util_test.go
  tests/integration/compaction/mix_compaction_test.go
  tests/integration/datanode/struct_array_test.go
Due: Go

enhance: Add timestamp filtering support to L0Reader
  internal/datanode/data_node_test.go
  internal/datanode/importv2/task_l0_import.go
  internal/datanode/importv2/task_l0_preimport.go
  internal/util/importutilv2/binlog/filter.go
  internal/util/importutilv2/binlog/l0_reader.go
  internal/util/importutilv2/binlog/l0_reader_test.go
Due: Go

enhance: Add assertion preventing reload same field (#43736)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

enhance: Fix parquet import OOM
  internal/util/importutilv2/parquet/reader.go
Due: Go

enhance: [2.5] Fix parquet import OOM
  internal/util/importutilv2/parquet/reader.go
Due: Go

[automated] Bump milvus version to v2.6.0 (#43753)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

[automated] Bump milvus version to v2.6.0 (#43754)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

fix test
  internal/util/indexparamcheck/scalar_index_checker_test.go
  internal/util/indexparamcheck/trie_checker_test.go
Due: Go

[automated] Bump milvus version to v2.6.0 (#43758)
  scripts/standalone_embed.sh
Due: none

upgrade to 2.6.0rc170
  tests/python_client/requirements.txt
Due: none

enhance: add disk file writer with Direct IO support (#42665)
  configs/milvus.yaml
  internal/core/src/common/ChunkTarget.cpp
  internal/core/src/common/ChunkTarget.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/common/File.h
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/BitmapIndex.h
  internal/core/src/index/HybridScalarIndex.h
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/monitor/prometheus_client.cpp
  internal/core/src/monitor/prometheus_client.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/core/src/segcore/Utils.cpp
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/storage/ChunkCache.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/DiskFileManagerImpl.h
  internal/core/src/storage/FileWriter.cpp
  internal/core/src/storage/FileWriter.h
  internal/core/src/storage/storage_c.cpp
  internal/core/src/storage/storage_c.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_chunk.cpp
  internal/core/unittest/test_chunked_segment.cpp
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_file_writer.cpp
  internal/core/unittest/test_sealed.cpp
  internal/querynodev2/server.go
  internal/util/initcore/init_core.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

delete redundant cases & add some new ones
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/testcases/test_collection.py
Due: none

delete redundant cases & add some new ones
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: none

format
  internal/core/src/exec/expression/UnaryExpr.cpp
Due: Core

small modification
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: none

complement test
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/remove_punct_filter.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/lindera_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/util.rs
Due: Core

fix: call IntoMessageProto instead of Payload when rpc (#43678)
  internal/streamingcoord/client/broadcast/broadcast_impl.go
  internal/streamingcoord/server/broadcaster/broadcast_task.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
  internal/streamingnode/client/handler/consumer/consumer_test.go
  internal/streamingnode/client/handler/producer/produce_grpc_client.go
  internal/streamingnode/server/service/handler/consumer/consume_server.go
  internal/streamingnode/server/service/handler/consumer/consume_server_test.go
  internal/streamingnode/server/wal/adaptor/old_version_message.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  pkg/.mockery_pkg.yaml
  pkg/mocks/streaming/util/mock_message/mock_BroadcastMutableMessage.go
  pkg/mocks/streaming/util/mock_message/mock_ImmutableMessage.go
  pkg/mocks/streaming/util/mock_message/mock_ImmutableTxnMessage.go
  pkg/mocks/streaming/util/mock_message/mock_MutableMessage.go
  pkg/mocks/streaming/util/mock_message/mock_RProperties.go
  pkg/streaming/util/message/message.go
  pkg/streaming/util/message/message_impl.go
  pkg/streaming/walimpls/impls/kafka/wal.go
  pkg/streaming/walimpls/impls/pulsar/wal.go
  pkg/streaming/walimpls/impls/rmq/wal.go
  pkg/streaming/walimpls/impls/walimplstest/message_log.go
  pkg/streaming/walimpls/impls/wp/wal.go
Due: Go

Add research reports on geographic systems
  docs/design_docs/geometry.md
Due: none

feat: support use cipher hook when create message
  internal/proxy/task_delete_streaming.go
  internal/proxy/task_insert.go
  internal/proxy/task_insert_streaming.go
  internal/proxy/task_upsert_streaming.go
  internal/util/hookutil/cipher.go
Due: Go

test: add create collection V2 cases for milvus client (#43684)
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/testcases/test_collection.py
Due: none

Remove unused returned pks
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/DeletedRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/unittest/test_delete_record.cpp
  internal/core/unittest/test_utils.cpp
Due: Core

migrate some cases
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/testcases/test_collection.py
Due: none

enhance: Add timestamp filtering support to L0Reader (#43747)
  internal/datanode/data_node_test.go
  internal/datanode/importv2/task_l0_import.go
  internal/datanode/importv2/task_l0_preimport.go
  internal/util/importutilv2/binlog/filter.go
  internal/util/importutilv2/binlog/l0_reader.go
  internal/util/importutilv2/binlog/l0_reader_test.go
Due: Go

enhance: Improve delegator serviceable check logic in PinReadableSegments
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/delegator/distribution_test.go
Due: Go

test: bump standalone_embed.bat
  .github/workflows/bump-version-only-for-standalone-embed-milvus.yaml
Due: none

test: Upgrade pymilvus version to rc169 (#43746)
  tests/python_client/requirements.txt
Due: none

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
