Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

enhance: test pymilvus correct(#38436)
  tests/python_client/requirements.txt
Due: none

fix: Remove cached null expr result (#42818)
  internal/core/src/exec/expression/NullExpr.cpp
  internal/core/src/exec/expression/NullExpr.h
Due: Core

fix:fix wrong use return error for parse unsupported arith (#42729)
  internal/parser/planparserv2/operators.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

fix
  internal/metastore/kv/rootcoord/kv_catalog_test.go
Due: Go

Skip modify field meta when rename collection or rename dbName
  internal/metastore/catalog.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/metastore/mocks/mock_datacoord_catalog.go
  internal/metastore/mocks/mock_querycoord_catalog.go
  internal/metastore/mocks/mock_rootcoord_catalog.go
  internal/rootcoord/alter_collection_task.go
  internal/rootcoord/alter_collection_task_test.go
  internal/rootcoord/constrant_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/mock_test.go
  internal/rootcoord/mocks/meta_table.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/step.go
Due: Go

add AlterCollectionDB interface
  internal/metastore/catalog.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/metastore/mocks/mock_rootcoord_catalog.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
Due: Go

fix
  cmd/tools/migration/mmap/mmap_230_240.go
Due: none

fix name
  internal/rootcoord/meta_table.go
Due: Go

fix aliases
  tests/python_client/testcases/test_utility.py
Due: none

enhance: Fill dbName for `OperatePrivilegeV2Request` in interceptor
  internal/proxy/database_interceptor.go
Due: Go

fix:reject div or mod by zero for binaryarith expr (#42691)
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/parser/planparserv2/utils.go
Due: Go

fix:fix incorrect use of class member
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
Due: Core

fix: [AddField] Fill default value in serde logic when field missing (#42891)
  internal/storage/arrow_util.go
  internal/storage/arrow_util_test.go
  internal/storage/serde_events.go
Due: Go

test: add data correctness verification
  tests/python_client/data_verify/multi_thread_checker.py
  tests/python_client/data_verify/requirements.txt
  tests/python_client/data_verify/verify.py
Due: none

add comments
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/util.go
  internal/storage/data_codec_test.go
  internal/storage/payload.go
  pkg/util/typeutil/schema.go
Due: Go

enhance: [GoSDK]support run analyzer by collection field (#42642) (#42812)
  client/milvusclient/collection_example_test.go
  client/milvusclient/read_options.go
  tests/go_client/testcases/query_test.go
Due: Client

fix: Remove cached null expr result (#42783)
  internal/core/src/exec/expression/NullExpr.cpp
  internal/core/src/exec/expression/NullExpr.h
Due: Core

enhance: Skip modify field meta when rename collection or rename dbName (#42875)
  cmd/tools/migration/mmap/mmap_230_240.go
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/metastore/catalog.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/metastore/mocks/mock_datacoord_catalog.go
  internal/metastore/mocks/mock_querycoord_catalog.go
  internal/metastore/mocks/mock_rootcoord_catalog.go
  internal/rootcoord/add_field_task_test.go
  internal/rootcoord/alter_collection_task.go
  internal/rootcoord/alter_collection_task_test.go
  internal/rootcoord/constrant_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/mock_test.go
  internal/rootcoord/mocks/meta_table.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/step.go
Due: Core, Go

enhance: Fill dbName for `OperatePrivilegeV2Request` in interceptor (#42898)
  internal/proxy/database_interceptor.go
Due: Go

enhance: [2.5] Skip modify field meta when rename collection or rename dbName (#42876)
  cmd/tools/migration/mmap/mmap_230_240.go
  internal/metastore/catalog.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/metastore/mocks/mock_datacoord_catalog.go
  internal/metastore/mocks/mock_querycoord_catalog.go
  internal/metastore/mocks/mock_rootcoord_catalog.go
  internal/rootcoord/alter_collection_task.go
  internal/rootcoord/alter_collection_task_test.go
  internal/rootcoord/constrant_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/mock_test.go
  internal/rootcoord/mocks/meta_table.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/step.go
Due: Go

test: [cp2.5]add negative import case (#42883)
  tests/python_client/testcases/test_bulk_insert.py
Due: none

test: update nightly script (#42868)
  tests/scripts/ci_e2e.sh
  tests/scripts/ci_e2e_4am.sh
Due: none

remove redundant test
  internal/rootcoord/create_collection_task_test.go
Due: Go

make slice more robust
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v7/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/util.rs
Due: Core

enhance: refine compaction log(#41336)
  internal/datanode/compaction/clustering_compactor.go
  internal/datanode/compaction/compactor_common.go
  internal/datanode/compaction/merge_sort.go
  internal/datanode/compaction/mix_compactor.go
  internal/datanode/compaction/mix_compactor_test.go
  internal/datanode/compaction/segment_writer.go
  internal/datanode/importv2/util.go
Due: Go

fix and split bitset fn
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/JsonFlatIndex.h
  internal/core/src/index/JsonInvertedIndex.h
  internal/core/src/index/JsonKeyStatsInvertedIndex.cpp
  internal/core/src/index/JsonKeyStatsInvertedIndex.h
  internal/core/src/index/TextMatchIndex.cpp
  internal/core/src/index/TextMatchIndex.h
  internal/core/src/index/Utils.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
  internal/core/unittest/test_json_key_stats_index.cpp
  internal/core/unittest/test_text_match.cpp
Due: Core

print as storage size unit MB with 2 digits only, so the log is easier to read
  internal/flushcommon/writebuffer/manager.go
  internal/querynodev2/segments/segment_loader.go
  pkg/util/gc/gc_tuner.go
  pkg/util/logutil/logutil.go
  pkg/util/merr/utils.go
Due: Go

fix test
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_json_flat_index.cpp
  internal/core/unittest/test_json_index.cpp
Due: Core

Update all contributors
  README.md
  README_CN.md
Due: none

fix test
  internal/core/thirdparty/tantivy/jieba_demo.cpp
  internal/core/thirdparty/tantivy/text_demo.cpp
Due: Core

cp done
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/JsonInvertedIndex.h
  internal/core/src/index/JsonKeyStatsInvertedIndex.cpp
  internal/core/src/index/JsonKeyStatsInvertedIndex.h
  internal/core/src/index/TextMatchIndex.cpp
  internal/core/src/index/TextMatchIndex.h
  internal/core/src/index/Utils.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/thirdparty/tantivy/jieba_demo.cpp
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/util.rs
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
  internal/core/thirdparty/tantivy/text_demo.cpp
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_json_index.cpp
  internal/core/unittest/test_json_key_stats_index.cpp
  internal/core/unittest/test_text_match.cpp
Due: Core

fix:reject div or mod by zero for binaryarith expr (#42691) (#42887)
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/parser/planparserv2/utils.go
Due: Go

fix:fix incorrect use of class member (#42885)
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
Due: Core

fix:fix wrong use return error for parse unsupported arith (#42729) (#42890)
  internal/parser/planparserv2/operators.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

fix: OR binary expr is prunable only when both children are prunable
  internal/util/exprutil/expr_checker.go
  internal/util/exprutil/expr_checker_test.go
Due: Go

fix: OR binary expr is prunable only when both children are prunable (#42912)
  internal/util/exprutil/expr_checker.go
  internal/util/exprutil/expr_checker_test.go
Due: Go
