Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

enhance: pin sealed read-snapshot view reads through frozen column
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/operator/SearchGroupByNode.cpp
  internal/core/src/exec/operator/SearchGroupByNode.h
  internal/core/src/exec/operator/search-groupby/SearchGroupByOperator.cpp
  internal/core/src/exec/operator/search-groupby/SearchGroupByOperator.h
  internal/core/src/exec/operator/search-groupby/StrictGroupFilteredSearch.cpp
  internal/core/src/segcore/SegmentChunkReader.cpp
  internal/core/src/segcore/SegmentChunkReader.h
Due: Core

fix: send VoyageAI embedding truncation=false instead of dropping it
  internal/util/function/embedding/voyageai_embedding_provider.go
  internal/util/function/models/voyageai/voyageai_client.go
  internal/util/function/models/voyageai/voyageai_client_test.go
Due: Go

enhance: align QueryCoord resource precheck with Milvus 2.6
  configs/milvus.yaml
  docs/design-docs/design_docs/20260721-querycoord-autoscale-load-resource-precheck.md
  internal/core/src/segcore/load_index_c.cpp
  internal/core/unittest/test_loading.cpp
  internal/querycoordv2/autoscale/resource_test.go
  internal/querycoordv2/autoscale_precheck.go
  internal/querycoordv2/autoscale_precheck_test.go
  internal/querynodev2/metrics_info.go
  internal/querynodev2/metrics_info_test.go
  internal/querynodev2/segments/mock_loader.go
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/segments/segment_loader_test.go
  internal/querynodev2/segments/segment_test.go
  internal/util/segcore/loadresource/index_test.go
  internal/util/segcore/loadresource/segment.go
  internal/util/segcore/loadresource/segment_test.go
  pkg/metrics/metrics_test.go
  pkg/util/metricsinfo/metrics_info.go
  pkg/util/metricsinfo/metrics_info_test.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: update Knowhere to 16e873b1
  internal/core/conanfile.py
  internal/core/src/common/Utils.h
  internal/core/thirdparty/knowhere/CMakeLists.txt
  internal/core/unittest/test_knowhere_status_mapping.cpp
Due: Core

enhance: [3.0] update Knowhere to v3.0.15
  internal/core/conanfile.py
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

enhance: re-enable dml upsert tests and drop dead dml helpers in root
  internal/proxy/dml/insert_fields_test.go
  internal/proxy/dml/task_upsert_test.go
  internal/proxy/util.go
  internal/proxy/util_test.go
Due: Go

enhance: add opt-in ANN fusing search diagnostics
  internal/core/src/exec/FilterDiagnostics.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/OffsetExpressionCallback.cpp
  internal/core/src/exec/expression/OffsetExpressionCallback.h
  internal/core/src/exec/expression/OffsetExpressionEvaluator.cpp
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/exec/operator/FilterBitsNode.h
  internal/core/unittest/test_offset_reader_original.cpp
  internal/core/unittest/test_scalar_index_lookup_views.cpp
Due: Core

enhance: remove unused view RPC and streaming assignment extensions (#53664)
  internal/views/coord/coordview/syncer/view_sync_client_test.go
  internal/views/coord/loadmgr/manager.go
  internal/views/coord/loadmgr/manager_test.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/proto/view.proto
  pkg/proto/viewpb/view.pb.go
  pkg/proto/viewpb/view_grpc.pb.go
  pkg/streaming/util/types/streaming_node.go
Due: Go

enhance: extract query view balancer cache into a subpackage (#53664)
  docs/design-docs/design_docs/qviews/balancer_cache.md
  docs/design-docs/design_docs/qviews/balancer_design.md
  internal/views/coord/balancer/api/config.go
  internal/views/coord/balancer/api/node.go
  internal/views/coord/balancer/api/trigger.go
  internal/views/coord/balancer/balancer.go
  internal/views/coord/balancer/balancer_test.go
  internal/views/coord/balancer/cache/cache.go
  internal/views/coord/balancer/cache/cache_index.go
  internal/views/coord/balancer/cache/cache_test.go
  internal/views/coord/balancer/cache/doc.go
  internal/views/coord/balancer/cache/row_stats.go
  internal/views/coord/balancer/cache_compat_test.go
  internal/views/coord/balancer/cache_test.go
  internal/views/coord/balancer/config.go
  internal/views/coord/balancer/legacy_snapshot_test.go
  internal/views/coord/balancer/planning_context.go
  internal/views/coord/balancer/policy.go
  internal/views/coord/balancer/policy_impl.go
  internal/views/coord/balancer/providers.go
  internal/views/coord/balancer/providers_test.go
  internal/views/coord/balancer/trigger.go
  internal/views/coord/nodeview/querynode_publisher.go
  internal/views/coord/nodeview/querynode_publisher_test.go
Due: Go

feat: implement native DataView snapshot for balancer (#52537)
  internal/datacoord/dataview_adapter.go
  internal/views/coord/balancer/allocate.go
  internal/views/coord/balancer/api/dataview.go
  internal/views/coord/balancer/balancer_test.go
  internal/views/coord/balancer/classify_test.go
  internal/views/coord/balancer/policy_impl.go
  internal/views/coord/balancer/policy_impl_test.go
  internal/views/coord/balancer/providers.go
  internal/views/coord/balancer/scoring.go
  internal/views/coord/balancer/scoring_test.go
  internal/views/coord/balancer/segment_snapshot_test.go
  internal/views/coord/balancer/snapshot.go
  internal/views/coord/balancer/snapshot_builder.go
  internal/views/coord/balancer/snapshot_builder_test.go
  internal/views/coord/balancer/trigger.go
  internal/views/coord/balancer/trigger_test.go
Due: Go

test: make query view recovery rollback independent of map order (#53664)
  internal/views/coord/coordview/shard_view_registry_test.go
Due: Go

feat: connect query view interfaces to DataView manager (#52537)
  docs/design-docs/design_docs/qviews/balancer_design.md
  docs/design-docs/design_docs/qviews/data_view.md
  internal/datacoord/dataview_adapter.go
  internal/dataview/manager.go
  internal/dataview/snapshot_test.go
  internal/views/coord/balancer/api/dataview.go
  internal/views/coord/balancer/policy_impl_test.go
  internal/views/coord/balancer/providers_test.go
  internal/views/coord/balancer/row_stats_test.go
  internal/views/coord/balancer/scoring_test.go
  internal/views/coord/balancer/snapshot_builder.go
  internal/views/coord/balancer/snapshot_builder_test.go
  internal/views/coord/coordview/dataview_integration_test.go
  internal/views/coord/coordview/dirty_view_flush_scheduler_test.go
  internal/views/coord/coordview/shard_stats.go
  internal/views/coord/coordview/shard_view_manager.go
  internal/views/coord/coordview/shard_view_manager_test.go
  internal/views/coord/coordview/shard_view_registry.go
  internal/views/coord/coordview/shard_view_registry_test.go
  internal/views/coord/coordview/state_machine.go
  internal/views/coord/coordview/state_machine_test.go
  internal/views/qviews/utils.go
Due: Go

doc: pick balancer and collection load manager design doc from qv branch (#52537)
  docs/design-docs/design_docs/qviews/balancer_design.md
Due: none

enhance: document balancer cache reconciliation design (#53664)
  docs/design-docs/design_docs/qviews/README.md
  docs/design-docs/design_docs/qviews/balancer_cache.md
  docs/design-docs/design_docs/qviews/balancer_design.md
  docs/design-docs/design_docs/qviews/data_view.md
  docs/design-docs/design_docs/qviews/shard_view_management.md
Due: none

enhance: reconcile query view balancing from a resident cache (#53664)
  docs/design-docs/design_docs/qviews/README.md
  docs/design-docs/design_docs/qviews/balancer_cache.md
  docs/design-docs/design_docs/qviews/balancer_design.md
  docs/design-docs/design_docs/qviews/data_view.md
  docs/design-docs/design_docs/qviews/shard_view_management.md
  go.mod
  internal/dataview/manager.go
  internal/dataview/publication_test.go
  internal/views/coord/balancer/allocate.go
  internal/views/coord/balancer/api/dataview.go
  internal/views/coord/balancer/api/dataview_test.go
  internal/views/coord/balancer/balancer.go
  internal/views/coord/balancer/balancer_test.go
  internal/views/coord/balancer/cache.go
  internal/views/coord/balancer/cache_compat_test.go
  internal/views/coord/balancer/cache_index.go
  internal/views/coord/balancer/cache_test.go
  internal/views/coord/balancer/classify.go
  internal/views/coord/balancer/config.go
  internal/views/coord/balancer/legacy_policy_test.go
  internal/views/coord/balancer/legacy_snapshot_builder_test.go
  internal/views/coord/balancer/legacy_snapshot_test.go
  internal/views/coord/balancer/legacy_trigger_test.go
  internal/views/coord/balancer/planning_context.go
  internal/views/coord/balancer/policy.go
  internal/views/coord/balancer/policy_impl.go
  internal/views/coord/balancer/providers.go
  internal/views/coord/balancer/providers_test.go
  internal/views/coord/balancer/row_stats.go
  internal/views/coord/balancer/scoring.go
  internal/views/coord/balancer/trigger.go
  internal/views/coord/coordview/shard_view_registry.go
  internal/views/coord/coordview/shard_view_registry_test.go
  internal/views/coord/loadmgr/load_config_store.go
  internal/views/coord/loadmgr/publication_test.go
  internal/views/coord/nodeview/querynode_publisher.go
  internal/views/coord/nodeview/querynode_publisher_test.go
Due: Go

test: add numerical query view balance simulation matrix (#53664)
  internal/views/coord/balancer/simulation_matrix_test.go
  internal/views/coord/balancer/simulation_model_test.go
Due: Go

feat: configure query view balancing dynamically through paramtable (#53664)
  configs/milvus.yaml
  docs/design-docs/design_docs/qviews/balancer_cache.md
  docs/design-docs/design_docs/qviews/balancer_design.md
  internal/views/coord/balancer/api/config.go
  internal/views/coord/balancer/auto_balance_test.go
  internal/views/coord/balancer/balancer.go
  internal/views/coord/balancer/balancer_test.go
  internal/views/coord/balancer/cache/cache.go
  internal/views/coord/balancer/cache/config_test.go
  internal/views/coord/balancer/config_source.go
  internal/views/coord/balancer/config_source_test.go
  internal/views/coord/balancer/policy_impl.go
  internal/views/coord/balancer/policy_impl_test.go
  internal/views/coord/balancer/readiness_test.go
  pkg/util/paramtable/base_table.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/query_view_param.go
  pkg/util/paramtable/query_view_param_test.go
Due: Go

fix: wait for balancer cache readiness before reconciling (#53664)
  docs/design-docs/design_docs/qviews/balancer_cache.md
  docs/design-docs/design_docs/qviews/balancer_design.md
  internal/views/coord/balancer/balancer.go
  internal/views/coord/balancer/cache/cache.go
  internal/views/coord/balancer/cache/readiness_test.go
  internal/views/coord/balancer/cache_test.go
  internal/views/coord/balancer/readiness_test.go
Due: Go

enhance: document incremental score-based balancing design (#53664)
  docs/design-docs/design_docs/qviews/README.md
  docs/design-docs/design_docs/qviews/balancer_cache.md
  docs/design-docs/design_docs/qviews/balancer_design.md
  docs/design-docs/design_docs/qviews/balancer_scoring.md
  docs/design-docs/design_docs/qviews/query_view_handler.md
  docs/design-docs/design_docs/qviews/replica_placement.md
  docs/design-docs/design_docs/qviews/shard_view_management.md
Due: none

feat: balance query view replicas with stable node layouts (#53664)
  docs/design-docs/design_docs/qviews/README.md
  docs/design-docs/design_docs/qviews/balancer_cache.md
  docs/design-docs/design_docs/qviews/balancer_design.md
  docs/design-docs/design_docs/qviews/replica_placement.md
  internal/views/coord/balancer/allocate.go
  internal/views/coord/balancer/balancer.go
  internal/views/coord/balancer/balancer_test.go
  internal/views/coord/balancer/cache/cache.go
  internal/views/coord/balancer/cache/placement.go
  internal/views/coord/balancer/cache/placement_test.go
  internal/views/coord/balancer/cache_test.go
  internal/views/coord/balancer/classify.go
  internal/views/coord/balancer/classify_test.go
  internal/views/coord/balancer/controller_helpers_test.go
  internal/views/coord/balancer/discovery.go
  internal/views/coord/balancer/layout.go
  internal/views/coord/balancer/layout_test.go
  internal/views/coord/balancer/planning_context.go
  internal/views/coord/balancer/policy.go
  internal/views/coord/balancer/policy_impl.go
  internal/views/coord/balancer/replica_integration_test.go
  internal/views/coord/coordview/shard_stats.go
  internal/views/coord/coordview/shard_view_manager.go
  internal/views/coord/loadmgr/discovery.go
  internal/views/coord/loadmgr/discovery_test.go
  internal/views/coord/loadmgr/manager.go
Due: Go

fix: keep replica suspension internal to balancer (#53664)
  docs/design-docs/design_docs/qviews/README.md
  docs/design-docs/design_docs/qviews/balancer_design.md
  docs/design-docs/design_docs/qviews/replica_placement.md
  internal/views/coord/balancer/balancer.go
  internal/views/coord/balancer/discovery.go
  internal/views/coord/balancer/layout_test.go
  internal/views/coord/balancer/policy.go
  internal/views/coord/balancer/policy_impl.go
  internal/views/coord/balancer/replica_integration_test.go
  internal/views/coord/loadmgr/discovery.go
  internal/views/coord/loadmgr/discovery_test.go
  internal/views/coord/loadmgr/manager.go
  internal/views/coord/loadmgr/manager_test.go
Due: Go

enhance: translate replica placement design into English (#53664)
  docs/design-docs/design_docs/qviews/replica_placement.md
Due: none

enhance: implement incremental query view balance scoring (#53664)
  configs/milvus.yaml
  docs/design-docs/design_docs/qviews/README.md
  docs/design-docs/design_docs/qviews/balancer_cache.md
  docs/design-docs/design_docs/qviews/balancer_design.md
  docs/design-docs/design_docs/qviews/balancer_scoring.md
  docs/design-docs/design_docs/qviews/query_view_handler.md
  docs/design-docs/design_docs/qviews/replica_placement.md
  docs/design-docs/design_docs/qviews/shard_view_management.md
  internal/querynodev2/qnview/handler_test.go
  internal/querynodev2/qnview/segment_manager.go
  internal/views/coord/balancer/allocate.go
  internal/views/coord/balancer/api/config.go
  internal/views/coord/balancer/api/config_test.go
  internal/views/coord/balancer/api/dataview.go
  internal/views/coord/balancer/auto_balance_test.go
  internal/views/coord/balancer/balancer.go
  internal/views/coord/balancer/cache/cache.go
  internal/views/coord/balancer/cache/config_test.go
  internal/views/coord/balancer/cache/target.go
  internal/views/coord/balancer/cache/target_test.go
  internal/views/coord/balancer/cache_test.go
  internal/views/coord/balancer/classify.go
  internal/views/coord/balancer/classify_test.go
  internal/views/coord/balancer/config_source.go
  internal/views/coord/balancer/config_source_test.go
  internal/views/coord/balancer/fixtures_test.go
  internal/views/coord/balancer/incremental_test.go
  internal/views/coord/balancer/layout.go
  internal/views/coord/balancer/layout_test.go
  internal/views/coord/balancer/planning_context.go
  internal/views/coord/balancer/policy.go
  internal/views/coord/balancer/policy_impl.go
  internal/views/coord/balancer/policy_impl_test.go
  internal/views/coord/balancer/scoring.go
  internal/views/coord/balancer/scoring_test.go
  internal/views/coord/coordview/partial_reuse_test.go
  internal/views/coord/coordview/shard_stats.go
  internal/views/coord/coordview/shard_view_manager.go
  pkg/util/paramtable/query_view_param.go
  pkg/util/paramtable/query_view_param_test.go
Due: Go

enhance: remove obsolete balancer snapshot pull paths (#53664)
  docs/design-docs/design_docs/qviews/balancer_cache.md
  docs/design-docs/design_docs/qviews/balancer_design.md
  docs/design-docs/design_docs/qviews/data_view.md
  internal/dataview/manager.go
  internal/dataview/publication_test.go
  internal/dataview/snapshot_test.go
  internal/views/coord/balancer/api/dataview.go
  internal/views/coord/balancer/api/dataview_test.go
  internal/views/coord/balancer/providers.go
  internal/views/coord/coordview/dataview_integration_test.go
  internal/views/coord/nodeview/querynode_provider.go
  internal/views/coord/nodeview/querynode_provider_test.go
  internal/views/coord/nodeview/querynode_publisher.go
  internal/views/coord/nodeview/querynode_publisher_test.go
Due: Go

test: replace legacy balancer fixtures with cache publications (#53664)
  docs/design-docs/design_docs/qviews/balancer_cache.md
  internal/views/coord/balancer/balancer_test.go
  internal/views/coord/balancer/cache/row_stats_test.go
  internal/views/coord/balancer/cache_compat_test.go
  internal/views/coord/balancer/cache_test.go
  internal/views/coord/balancer/classify_test.go
  internal/views/coord/balancer/controller_helpers_test.go
  internal/views/coord/balancer/fixtures_test.go
  internal/views/coord/balancer/legacy_policy_test.go
  internal/views/coord/balancer/legacy_snapshot_builder_test.go
  internal/views/coord/balancer/legacy_snapshot_test.go
  internal/views/coord/balancer/legacy_trigger_test.go
  internal/views/coord/balancer/policy_impl_test.go
  internal/views/coord/balancer/providers_test.go
  internal/views/coord/balancer/row_stats_test.go
  internal/views/coord/balancer/segment_snapshot_test.go
  internal/views/coord/balancer/snapshot_accessors_test.go
  internal/views/coord/balancer/snapshot_builder_test.go
  internal/views/coord/balancer/trigger_test.go
Due: Go

enhance: remove unused query view balance attributes (#53664)
  internal/views/qviews/balance_attr.go
  internal/views/qviews/balance_attr_test.go
  internal/views/qviews/node.go
  pkg/proto/view.proto
  pkg/proto/viewpb/view.pb.go
Due: Go

enhance: batch manifest index migration and stop idle scans
  configs/milvus.yaml
  docs/design-docs/design_docs/20260901-storagev3-manifest-index-backfill.md
  internal/datacoord/copy_segment_task_test.go
  internal/datacoord/index_meta.go
  internal/datacoord/manifest_index_backfill.go
  internal/datacoord/manifest_index_backfill_lifecycle_test.go
  internal/datacoord/manifest_index_backfill_test.go
  internal/datacoord/manifest_index_rollback.go
  internal/datacoord/manifest_index_rollback_lifecycle_test.go
  internal/datacoord/manifest_index_rollback_test.go
  internal/datacoord/segment_manifest_commit.go
  internal/datacoord/server.go
  pkg/metrics/datacoord_metrics.go
  pkg/util/paramtable/component_param.go
Due: Go

test: declare py dependency for REST parallel tests (#53906)
  tests/restful_client_v2/requirements.txt
Due: none

test: [3.0] declare py dependency for REST parallel tests (#53907)
  tests/restful_client_v2/requirements.txt
Due: none

test: add continuous streaming data integrity draft (#53307)
  docs/design-docs/design_docs/continuous_streaming_data_integrity_e2e_design.md
  tests/python_client/milvus_client/compaction_integrity_helper_tests.py
  tests/python_client/milvus_client/test_milvus_client_continuous_data_integrity.py
  tests/python_client/milvus_client/test_milvus_client_data_integrity.py
  tests/scripts/ci_compaction_integrity.sh
  tests/scripts/test_compaction_integrity_ci.py
Due: none

enhance: adapt RLS enforcement for the dml package after master rebase
  internal/proxy/dml/partition_key_test.go
  internal/proxy/dml/task_delete.go
  internal/proxy/dml/task_insert_idempotency_test.go
  internal/proxy/dml/task_insert_test.go
  internal/proxy/dml/task_rls_enforcement_test.go
  internal/proxy/dml/task_upsert_test.go
  internal/proxy/dml/testutil_test.go
  internal/proxy/dql/task_query.go
  internal/proxy/dql/task_query_namespace_test.go
  internal/proxy/dql/task_search_namespace_test.go
  internal/proxy/impl_test.go
Due: Go

fix: preserve index task initialization during metadata insertion
  internal/datacoord/index_inspector_test.go
  internal/datacoord/index_meta.go
  internal/datacoord/manifest_index_rollback_test.go
Due: Go

enhance: update Knowhere to 16e873b1 (#53914)
  internal/core/conanfile.py
  internal/core/src/common/Utils.h
  internal/core/thirdparty/knowhere/CMakeLists.txt
  internal/core/unittest/test_knowhere_status_mapping.cpp
Due: Core

enhance: [3.0] update Knowhere to v3.0.15 (#53915)
  internal/core/conanfile.py
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

Fix lint
  internal/proxy/dml/task_delete.go
Due: Go

test: add continuous streaming data integrity draft (#53307) (#53868)
  docs/design-docs/design_docs/continuous_streaming_data_integrity_e2e_design.md
  tests/python_client/milvus_client/compaction_integrity_helper_tests.py
  tests/python_client/milvus_client/test_milvus_client_continuous_data_integrity.py
  tests/python_client/milvus_client/test_milvus_client_data_integrity.py
  tests/scripts/ci_compaction_integrity.sh
  tests/scripts/test_compaction_integrity_ci.py
Due: none
