Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: [2.6] avoid access log trace id panic (#50223) (#50565)
  internal/proxy/accesslog/formater_test.go
  internal/proxy/accesslog/info/grpc_info.go
Due: Go

fix: remove stale collection schema metadata on alter (#50387)
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
Due: Go

fix: [2.6] describe_user returns ghost empty role names after repeated grant/revoke (#50058) (#50544)
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
Due: Go

fix: [2.6] avoid panic for non-point WKT validation (#49719) (#50205)
  internal/parser/planparserv2/utils.go
  internal/parser/planparserv2/utils_test.go
Due: Go

fix: [cp 2.6] ignore stale replicated txn body (#50849)
  internal/streamingnode/server/wal/interceptors/replicate/replicates/impl.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/manager_test.go
Due: Go

fix: [2.6] preserve nullable expr rewrite semantics (#50627)
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/rewriter/README.md
  internal/parser/planparserv2/rewriter/entry.go
  internal/parser/planparserv2/rewriter/range.go
  internal/parser/planparserv2/rewriter/range_json_test.go
  internal/parser/planparserv2/rewriter/range_test.go
  internal/parser/planparserv2/rewriter/term_in.go
  internal/parser/planparserv2/rewriter/term_in_test.go
  internal/parser/planparserv2/rewriter/util.go
Due: Go

fix: [poc_2.6.17] guard AND-contradiction folds with missing-path semantics
  internal/parser/planparserv2/rewriter/range.go
  internal/parser/planparserv2/rewriter/term_in.go
  internal/parser/planparserv2/rewriter/util.go
Due: Go

test: [poc_2.6.17] cover non-nullable missing-path AND-contradiction folds
  internal/parser/planparserv2/rewriter/range_json_test.go
  internal/parser/planparserv2/rewriter/term_in_test.go
Due: Go

enhance: [poc_2.6.17] add per-collection deltalog observability metrics (#51432)
  internal/datacoord/meta.go
  internal/datacoord/metrics_deltalog.go
  internal/datacoord/metrics_deltalog_test.go
  pkg/metrics/datacoord_metrics.go
Due: Go

enhance: normalize db in partition-cache paths and guard id-lookup caching
  internal/proxy/meta_cache.go
  internal/proxy/meta_cache_test.go
Due: Go

enhance: harden single-compaction admission against starvation and misconfig
  internal/datacoord/compaction_admission.go
  internal/datacoord/compaction_admission_test.go
  internal/datacoord/compaction_policy_single.go
  internal/datacoord/compaction_trigger.go
Due: Go

fix: [poc_2.6.17] backport 10 CDC + stability/correctness fixes (#51429)
  go.mod
  go.sum
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/rewriter/README.md
  internal/parser/planparserv2/rewriter/entry.go
  internal/parser/planparserv2/rewriter/range.go
  internal/parser/planparserv2/rewriter/range_json_test.go
  internal/parser/planparserv2/rewriter/range_test.go
  internal/parser/planparserv2/rewriter/term_in.go
  internal/parser/planparserv2/rewriter/term_in_test.go
  internal/parser/planparserv2/rewriter/util.go
  internal/parser/planparserv2/utils.go
  internal/parser/planparserv2/utils_test.go
  internal/proxy/accesslog/formater_test.go
  internal/proxy/accesslog/info/grpc_info.go
  internal/proxy/impl.go
  internal/proxy/replicate_info_test.go
  internal/storage/gcp_native_object_storage.go
  internal/storage/local_chunk_manager.go
  internal/storage/minio_object_storage.go
  internal/storage/remote_chunk_manager.go
  internal/streamingcoord/server/broadcaster/tombstone_scheduler.go
  internal/streamingnode/client/handler/handler_client_impl.go
  internal/streamingnode/client/handler/handler_client_test.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/impl.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/manager_test.go
  internal/util/importutilv2/common/mock_reader.go
  internal/util/importutilv2/common/retryable_reader.go
  internal/util/importutilv2/common/retryable_reader_test.go
  internal/util/importutilv2/csv/reader.go
  internal/util/importutilv2/csv/reader_test.go
  internal/util/importutilv2/json/reader.go
  internal/util/importutilv2/json/reader_test.go
  internal/util/importutilv2/numpy/reader_test.go
  internal/util/importutilv2/numpy/util.go
  pkg/go.mod
  pkg/go.sum
Due: Go

fix: make the known-loaded check node-aware and strengthen its tests
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
Due: Go

fix: [poc_2.6.17] release segments from the delegator's reported serving set
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/dist/dist_handler.go
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/delegator/mock_delegator.go
  internal/querynodev2/services.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Go

test: cover the decisive delegator-reported release path; deep-copy view fields in Clone
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/meta/channel_dist_manager.go
Due: Go

fix: invalidate real-name partition cache for alias DDL during rolling upgrade
  internal/proxy/meta_cache.go
  internal/proxy/meta_cache_test.go
Due: Go

test: add cache-correctness tests for rename, alias re-point, drop, and concurrency
  internal/proxy/meta_cache_test.go
Due: Go

fix: [poc_2.6.17] release segments from the delegator's reported serving set (#51433)
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querycoordv2/dist/dist_handler.go
  internal/querycoordv2/meta/channel_dist_manager.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/delegator/mock_delegator.go
  internal/querynodev2/services.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Go

test: strengthen rename/concurrency assertions and add cache-isolation tests
  internal/proxy/meta_cache_test.go
Due: Go

fix: avoid double rounding advanced search scores
  internal/core/unittest/test_indexing.cpp
  internal/core/unittest/test_query.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/proxy/search_pipeline.go
  internal/proxy/search_pipeline_test.go
Due: Core, Go

fix: keep round_decimal from changing search order
  internal/core/src/index/VectorDiskIndex.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/query/CachedSearchIterator.cpp
  internal/core/src/query/CachedSearchIterator.h
  internal/core/src/query/SearchBruteForce.cpp
  internal/core/src/query/SearchOnSealed.cpp
  internal/core/src/query/SubSearchResultTest.cpp
  internal/proxy/search_pipeline.go
  internal/proxy/search_pipeline_test.go
  internal/util/function/chain/rerank_builder_test.go
Due: Core, Go

fix: round aggregation hit scores at terminal step
  internal/core/unittest/test_utils/DataGen.h
  internal/proxy/search_pipeline.go
  internal/proxy/search_pipeline_test.go
Due: Core, Go

enhance: [poc_2.6.17] de-synchronize and rate-limit delete-triggered single compaction
  internal/datacoord/compaction_admission.go
  internal/datacoord/compaction_admission_test.go
  internal/datacoord/compaction_policy_single.go
  internal/datacoord/compaction_policy_single_test.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/compaction_trigger_v2_test.go
  pkg/util/paramtable/component_param.go
Due: Go

test: strengthen compaction review coverage
  internal/datacoord/server_test.go
  tests/python_client/milvus_client/test_milvus_client_force_merge.py
  tests/python_client/milvus_client/test_milvus_client_optimize.py
Due: Go

test: format force merge Python tests
  tests/python_client/milvus_client/test_milvus_client_force_merge.py
  tests/python_client/milvus_client/test_milvus_client_optimize.py
Due: none

test: format async Milvus client wrapper
  tests/python_client/base/async_milvus_client_wrapper.py
Due: none

test: improve force merge target size coverage
  internal/datacoord/compaction_view_forcemerge_test.go
  tests/python_client/base/async_milvus_client_wrapper.py
  tests/python_client/milvus_client/test_milvus_client_force_merge.py
  tests/python_client/milvus_client/test_milvus_client_optimize.py
  tests/python_client/requirements.txt
Due: Go

test: [skip e2e] remove fixed search order xfail
  tests/python_client/milvus_client/test_milvus_client_search_order.py
Due: none

enhance: [poc_2.6.17] de-synchronize and rate-limit delete-triggered single compaction (#51434)
  internal/datacoord/compaction_admission.go
  internal/datacoord/compaction_admission_test.go
  internal/datacoord/compaction_policy_single.go
  internal/datacoord/compaction_policy_single_test.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/compaction_trigger_v2_test.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: [2.6] backport supported StructArray capabilities (#51398)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  tests/python_client/base/client_v2_base.py
  tests/python_client/chaos/checker.py
  tests/python_client/milvus_client/test_milvus_client_partial_update.py
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
  tests/python_client/milvus_client/test_milvus_client_struct_array_element_search.py
  tests/python_client/requirements.txt
  tests/restful_client_v2/testcases/test_collection_operations.py
Due: Go

fix: avoid DataNode panic when a binlog is missing during sort compaction (#51121)
  internal/storage/record_reader.go
  internal/storage/record_reader_test.go
Due: Go

fix: [cp2.6]correct the CDC replication lag metric (#51365)
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/cdc/replication/replicatemanager/channel_replicator_test.go
  internal/cdc/replication/replicatemanager/replicate_manager.go
  internal/cdc/replication/replicatemanager/replicate_manager_test.go
  internal/cdc/replication/replicatestream/metrics.go
  internal/cdc/replication/replicatestream/metrics_test.go
Due: Go

test: Fix CDC force-promote cleanup before final diff (#50326)
  tests/python_client/cdc/testcases/test_force_promote.py
  tests/python_client/cdc/testcases/test_force_promote_cleanup.py
Due: none

fix(tikv): scope build retry aborts
  internal/kv/tikv/txn_tikv.go
  internal/kv/tikv/txn_tikv_test.go
Due: Go

fix: avoid aws-chunked uploads for compatible object stores (#51349)
  internal/storage/minio_object_storage.go
  internal/storage/minio_object_storage_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

enhance: record and expose DataNode task cost_time / cost_cpu_num via QueryTask
  internal/datanode/index/scheduler.go
  internal/datanode/index/scheduler_test.go
  internal/datanode/index/task_manager.go
  internal/datanode/index/task_manager_test.go
  internal/datanode/services.go
  internal/datanode/services_test.go
  internal/datanode/taskcost/cost.go
  internal/datanode/taskcost/cost_test.go
  pkg/taskcommon/properties.go
  pkg/taskcommon/properties_test.go
Due: Go

fix: gate growing-source flush on StorageV3
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentGrowingIndexTest.cpp
  internal/core/unittest/test_utils/SegcoreConfigUtils.h
  internal/datacoord/meta.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/flushcommon/syncmgr/growing_source.go
  internal/flushcommon/syncmgr/growing_source_test.go
  internal/flushcommon/syncmgr/meta_writer.go
  internal/flushcommon/syncmgr/meta_writer_test.go
  internal/flushcommon/writebuffer/l0_write_buffer.go
  internal/flushcommon/writebuffer/l0_write_buffer_test.go
  internal/flushcommon/writebuffer/manager.go
  internal/flushcommon/writebuffer/manager_test.go
  internal/flushcommon/writebuffer/mock_manager.go
  internal/flushcommon/writebuffer/mock_write_buffer.go
  internal/flushcommon/writebuffer/write_buffer.go
  internal/flushcommon/writebuffer/write_buffer_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_test.go
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl.go
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl_test.go
  internal/streamingnode/server/service/handler_test.go
  internal/streamingnode/server/service/release_manual_flush_preparer.go
  internal/streamingnode/server/wal/interceptors/shard/shards/partition_manager.go
  internal/streamingnode/server/wal/interceptors/shard/shards/segment_alloc_worker.go
  internal/streamingnode/server/wal/interceptors/shard/shards/segment_workers_test.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_segment.go
  internal/streamingnode/server/wal/interceptors/shard/shards/shard_manager_test.go
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_test.go
Due: Core, Go

enhance: [3.0] update delegator timestamp helper calls
  internal/querynodev2/delegator/delegator_test.go
Due: Go

Fix lint
  client/internal/merr/merr.go
  client/internal/merr/merr_test.go
  client/internal/retry/retry.go
  client/milvusclient/collection_example_test.go
  client/milvusclient/collection_test.go
  client/milvusclient/write_options.go
Due: Client

test: Increase PyMilvus version to 2.6.17rc12
  tests/python_client/requirements.txt
Due: none

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
