Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

enhance: [GoSDK] fix client telemetry correctness gaps and add request ID propagation
  client/milvusclient/interceptors.go
  client/milvusclient/interceptors_test.go
  client/milvusclient/telemetry.go
  client/milvusclient/telemetry_integration_test.go
  client/milvusclient/telemetry_test.go
Due: Client

fix: make storage cost reporting complete and stable
  internal/core/src/common/Schema.cpp
  internal/core/src/common/SchemaTest.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/search_result_export_c.cpp
  internal/core/src/segcore/search_result_export_c.h
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/proxy/impl.go
  internal/proxy/search_pipeline.go
  internal/proxy/task_delete.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/segments/ignore_non_pk_ops.go
  internal/querynodev2/segments/query_pipeline.go
  internal/querynodev2/segments/query_pipeline_test.go
  internal/querynodev2/segments/result.go
  internal/querynodev2/segments/result_test.go
  internal/querynodev2/segments/retrieve.go
  internal/querynodev2/tasks/query_stream_task.go
  internal/querynodev2/tasks/query_task.go
  internal/querynodev2/tasks/search_task.go
  internal/querynodev2/tasks/search_task_go_reduce.go
  internal/util/segcore/reduce.go
  internal/util/segcore/responses.go
  internal/util/segcore/search_result_arrow.go
  internal/util/streamrpc/streamer.go
  internal/util/streamrpc/streamer_test.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/proto/segcore.proto
  pkg/proto/segcorepb/segcore.pb.go
  pkg/util/fastpb/proto_contract_test.go
  pkg/util/fastpb/query_insert.go
  pkg/util/fastpb/query_insert_test.go
Due: Core, Go

fix: client_request_id no longer disables trace sampling
  pkg/tracer/client_request_id_propagator.go
  pkg/tracer/sampler.go
  pkg/tracer/sampler_test.go
  pkg/tracer/stats_handler.go
  pkg/tracer/tracer.go
Due: Go

doc: refresh client telemetry MEP to match the implementation
  docs/design-docs/design_docs/20260131-client_side_telemetry.md
Due: none

fix: avoid OpenMP overhead in vector test data generation (#51959)
  internal/core/unittest/test_utils/DataGen.h
Due: Core

doc: refresh balance epoch MEP for the master rebase
  docs/design-docs/design_docs/20260712-resource-group-balance-epoch.md
Due: none

enhance: add a command-reply endpoint and synchronous mode to the telemetry API
  internal/http/router.go
  internal/proxy/impl.go
  internal/proxy/telemetry_command_reply.go
  internal/proxy/telemetry_command_reply_test.go
  internal/proxy/telemetry_http_handler.go
Due: Go

enhance: align the bundled telemetry and tracing changes with each other
  client/milvusclient/interceptors.go
  docs/design-docs/design_docs/20260131-client_side_telemetry.md
Due: Client

test: remove stale broadcaster cancellation test (#51955)
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

fix: avoid duplicate external loading resource reservation
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/segments/segment_loader_test.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: increase default maximum field count to 256
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  tests/go_client/common/consts.go
  tests/go_client/testcases/add_field_test.go
  tests/python_client/chaos/checker.py
  tests/python_client/common/common_type.py
  tests/python_client/milvus_client/test_add_field_feature.py
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: Go

fix: classify NGRAM as a scalar index (#51910)
  internal/datacoord/index_meta_test.go
  internal/util/indexparamcheck/index_type.go
  internal/util/indexparamcheck/index_type_test.go
Due: Go

doc: track the per-RG runtime retention commit
  docs/design-docs/design_docs/20260712-resource-group-balance-epoch.md
Due: none

doc: surface the convergence argument and the ungated surface in the MEP
  docs/design-docs/design_docs/20260712-resource-group-balance-epoch.md
Due: none

enhance: give one-time telemetry commands a default TTL
  docs/design-docs/design_docs/20260131-client_side_telemetry.md
  internal/proxy/telemetry_http_handler.go
  internal/rootcoord/telemetry/command_store.go
  internal/rootcoord/telemetry/command_store_test.go
Due: Go

enhance: client-scoped telemetry configs are one-time, not persistent
  internal/http/webui/telemetry.html
  internal/rootcoord/telemetry/command_store.go
  internal/rootcoord/telemetry/command_store_test.go
Due: Go

feat: target telemetry config at a workload label
  client/milvusclient/telemetry.go
  client/milvusclient/telemetry_test.go
  docs/design-docs/design_docs/20260131-client_side_telemetry.md
  go.mod
  go.sum
  internal/http/webui/telemetry.html
  internal/proxy/telemetry_http_handler.go
  internal/rootcoord/telemetry/command_store.go
  internal/rootcoord/telemetry/command_store_test.go
  internal/rootcoord/telemetry/manager.go
  internal/rootcoord/telemetry/manager_test.go
Due: Client, Go

fix: keep file resource sync retryable on analyzer failure (#51838)
  internal/util/fileresource/manager.go
  internal/util/fileresource/manager_test.go
Due: Go

fix: gate segment load on delegator schema version
  internal/querycoordv2/task/executor.go
  internal/querycoordv2/task/task_test.go
  internal/querycoordv2/task/utils.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delegator_test.go
  pkg/util/merr/errors_test.go
  pkg/util/merr/utils.go
Due: Go

Address comment
  internal/querynodev2/pipeline/delete_node.go
  internal/querynodev2/pipeline/delete_node_test.go
  internal/util/pipeline/node.go
  internal/util/pipeline/pipeline.go
  internal/util/pipeline/stream_pipeline.go
  internal/util/pipeline/stream_pipeline_test.go
Due: Go

Address comment
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/pipeline/delete_node.go
  internal/querynodev2/pipeline/delete_node_test.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/segments/segment_loader_test.go
Due: Go

Adress comment
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/pipeline/delete_node.go
  internal/querynodev2/pipeline/delete_node_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties_test.go
Due: Go

Address comment
  internal/querycoordv2/task/task_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/pipeline/delete_node.go
  internal/querynodev2/pipeline/delete_node_test.go
  internal/querynodev2/pipeline/filter_node.go
  internal/querynodev2/pipeline/filter_node_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties.go
  internal/rootcoord/ddl_callbacks_alter_collection_properties_test.go
Due: Go

Fix lint
  internal/querynodev2/pipeline/delete_node.go
  internal/querynodev2/pipeline/delete_node_test.go
Due: Go

Fix lint
  internal/querynodev2/pipeline/delete_node.go
Due: Go

Address comment
  internal/querycoordv2/task/executor.go
  internal/querycoordv2/task/task_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/handlers.go
  internal/querynodev2/pipeline/delete_node.go
  internal/querynodev2/segments/collection.go
  internal/querynodev2/segments/collection_test.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/segments/segment_loader_test.go
  internal/querynodev2/server.go
  internal/querynodev2/services.go
Due: Go

enhance: add query view design review metadata (#40451)
  docs/design-docs/design_docs/qviews/README.md
  docs/design-docs/design_docs/qviews/query_view_state_machine.md
Due: none

docker builder supports pyudf
  Makefile
  build/docker/builder/cpu/amazonlinux2023/Dockerfile
  build/docker/builder/cpu/rockylinux9/Dockerfile
  build/docker/builder/cpu/ubuntu20.04/Dockerfile
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/cpu/ubuntu24.04/Dockerfile
  build/docker/builder/gpu/ubuntu20.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
  build/docker/milvus/amazonlinux2023/Dockerfile
  build/docker/milvus/gpu/ubuntu20.04/Dockerfile
  build/docker/milvus/gpu/ubuntu22.04/Dockerfile
  build/docker/milvus/rockylinux9/Dockerfile
  build/docker/milvus/ubuntu20.04/Dockerfile
  build/docker/milvus/ubuntu22.04/Dockerfile
  docs/design-docs/design_docs/20260722-pyudf-function-chain.md
  internal/core/src/pyudf/python/pyproject.toml
  scripts/core_build.sh
  scripts/install_milvus.sh
  tests/python_client/milvus_client/test_milvus_client_pyudf.py
  tests/scripts/values/ci/pr-4am.yaml
Due: Core

enhance: [2.6] Enable storage version compaction by default (#51946)
  pkg/util/paramtable/component_param.go
Due: Go

enhance: increase default maximum field count to 256 (#51935)
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  tests/go_client/common/consts.go
  tests/go_client/testcases/add_field_test.go
  tests/python_client/chaos/checker.py
  tests/python_client/common/common_type.py
  tests/python_client/milvus_client/test_add_field_feature.py
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: Go

fix: avoid duplicate external loading resource reservation (#51944)
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/segments/segment_loader_test.go
  pkg/util/paramtable/component_param.go
Due: Go

fix: stabilize growing nullable bitset snapshot
  internal/core/src/common/OffsetMapping.cpp
  internal/core/src/query/SearchOnGrowing.cpp
  internal/core/src/segcore/UtilsTest.cpp
Due: Core

enhance: [3.0] increase default maximum field count to 256 (#51936)
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  tests/go_client/common/consts.go
  tests/go_client/testcases/add_field_test.go
  tests/python_client/chaos/checker.py
  tests/python_client/common/common_type.py
  tests/python_client/milvus_client/test_add_field_feature.py
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: Go

enhance: add first-class orderByFields/groupByFields params to RESTful v2
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/proxy/search_pipeline_test.go
  internal/proxy/search_util.go
Due: Go

fix: [3.0] avoid duplicate external loading resource reservation (#51945)
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/segments/segment_loader_test.go
  pkg/util/paramtable/component_param.go
Due: Go

test: Update PyMilvus to 3.0.1rc74
  tests/python_client/milvus_client/test_drop_field_feature.py
  tests/python_client/milvus_client/test_milvus_client_external_table.py
  tests/python_client/milvus_client/test_milvus_client_timestamptz.py
  tests/python_client/requirements.txt
  tests/python_client/testcases/test_text_embedding_function_e2e.py
Due: none

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
