Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

CreateDatabaseTaskName might have been mistakenly written as CreateCollectionTask.
  internal/proxy/task.go
Due: Go

fix: just test aws node
  .github/workflows/main.yaml
  scripts/install_milvus.sh
Due: none

enhance: limit the gc concurrency when cpu is high (#43059)
  configs/milvus.yaml
  internal/datacoord/garbage_collector.go
  internal/streamingnode/server/wal/interceptors/shard/stats/stats_seal_worker.go
  pkg/util/hardware/listener.go
  pkg/util/hardware/listener_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  tests/integration/sealpolicies/seal_by_total_growing_test.go
Due: Go

fix: lost dropping collection when upgrading
  internal/rootcoord/meta_table.go
  internal/streamingnode/server/wal/recovery/recovery_persisted.go
  internal/streamingnode/server/wal/recovery/recovery_persisted_test.go
  pkg/proto/root_coord.proto
  pkg/proto/rootcoordpb/root_coord.pb.go
Due: Go

fix: panic when DropPartition happen after DropCollection
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  tests/integration/balance/balance_test.go
Due: Go

fix: make the ack of broadcaster idompotent
  internal/streamingcoord/server/broadcaster/broadcast_task.go
  internal/streamingcoord/server/broadcaster/broadcaster_test.go
Due: Go

fix: panic when logging a old message should be skipped
  internal/streamingnode/server/wal/adaptor/scanner_switchable.go
Due: Go

Enable Json Flat index support in tests
  tests/python_client/milvus_client/test_milvus_client_alter.py
  tests/python_client/milvus_client/test_milvus_client_compact.py
  tests/python_client/milvus_client/test_milvus_client_delete.py
  tests/python_client/milvus_client/test_milvus_client_hybrid_search.py
  tests/python_client/milvus_client/test_milvus_client_index.py
  tests/python_client/milvus_client/test_milvus_client_insert.py
  tests/python_client/milvus_client/test_milvus_client_query.py
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/milvus_client/test_milvus_client_search_iterator.py
Due: none

enhance: init v2 ci pipelines policy 2 (#42853)
  .github/mergify.yml
Due: none

test: add text embedding function restful api test (#42977)
  tests/python_client/text_embedding/test_text_embedding_function.py
  tests/restful_client_v2/conftest.py
  tests/restful_client_v2/testcases/test_text_embedding_search.py
Due: none

test: add model rerank testcases (#42657)
  tests/python_client/conftest.py
  tests/python_client/milvus_client/test_milvus_client_search.py
Due: none

fix: [StorageV2] end to end minor issues for sync, stats, and load (#42948)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/Utils.cpp
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/core/unittest/test_group_chunk_translator.cpp
  internal/core/unittest/test_growing_storage_v2.cpp
  internal/datanode/index/task_stats.go
  internal/flushcommon/syncmgr/pack_writer_v2.go
  internal/storage/serde.go
  internal/storage/serde_events_v2.go
  internal/storage/serde_test.go
  internal/storagecommon/column_group_splitter.go
Due: Core, Go

enhance: [StorageV2] Release record and close reader (#42983)
  internal/core/src/segcore/packed_reader_c.cpp
  internal/datanode/index/task_stats.go
  internal/storage/sort.go
Due: Core, Go

fix: Add json cast type for flat index (#42970)
  internal/util/indexparamcheck/inverted_checker.go
Due: Go

fix: set 72h for wal retention (#42910)
  configs/milvus.yaml
  internal/streamingnode/server/wal/recovery/config_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: Revert "enhance: Enable mergeSort by default starting from version 2.6.0 (#42981)" (#43046)
  configs/milvus.yaml
  internal/datanode/compactor/mix_compactor.go
  pkg/util/paramtable/component_param.go
  tests/python_client/testcases/test_compaction.py
Due: Go

enhance: Enable mergeSort by default starting from version 2.6.0 (#42981)
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
  tests/python_client/testcases/test_compaction.py
Due: Go

[automated] Bump milvus version to v2.5.14 (#43005)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

enhance: update minio to RELEASE.2024-05-28T17-19-04Z (#43063)
  deployments/docker/cluster-distributed-deployment/roles/deploy-minio/tasks/main.yml
  deployments/docker/dev/docker-compose-apple-silicon.yml
  deployments/docker/dev/docker-compose.yml
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
  docker-compose.yml
  tests/python_client/deploy/cluster/docker-compose.yml
  tests/python_client/deploy/standalone/docker-compose.yml
Due: none

[automated] Bump milvus version to v2.5.14 (#43012)
  scripts/standalone_embed.sh
Due: none

test: [skip e2e]update helm to fix kafka image update (#42993)
  ci/jenkins/Nightly2.groovy
  ci/jenkins/PR-Arm.groovy
  ci/jenkins/PR-for-go-sdk.groovy
  ci/jenkins/PR.groovy
  ci/jenkins/PRGPU.groovy
  ci/jenkins/UT-CPP.groovy
Due: none

test: update nightly test cases (#42991)
  tests/python_client/milvus_client_v2/test_milvus_client_search_pagination.py
  tests/python_client/testcases/test_query.py
Due: none

enhance: Remove not inused BuildIndexInfo (#42926)
  internal/core/src/indexbuilder/index_c.cpp
  internal/core/src/indexbuilder/index_c.h
  internal/core/src/indexbuilder/type_c.h
  internal/util/indexcgowrapper/build_index_info.go
Due: Core, Go

fix: [StorageV2] Check writer nil when closing not written one (#43056)
  internal/storage/serde_events_v2.go
Due: Go

fix: enable tls integration test after tls fixed at streaming arch (#43025)
  tests/integration/README.md
  tests/integration/cluster/cluster.go
  tests/integration/cluster/process/milvus_process.go
  tests/integration/internaltls/internaltls_test.go
  tests/integration/suite.go
Due: none

enhance: add disk file writer with Direct IO support (#42665)
  configs/milvus.yaml
  internal/core/src/common/ChunkTarget.cpp
  internal/core/src/common/ChunkTarget.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/src/common/File.h
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/BitmapIndex.h
  internal/core/src/index/HybridScalarIndex.h
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/mmap/Utils.h
  internal/core/src/monitor/prometheus_client.cpp
  internal/core/src/monitor/prometheus_client.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/Utils.cpp
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/storagev1translator/ChunkTranslator.cpp
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/DiskFileManagerImpl.h
  internal/core/src/storage/FileWriter.cpp
  internal/core/src/storage/FileWriter.h
  internal/core/src/storage/storage_c.cpp
  internal/core/src/storage/storage_c.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_chunk.cpp
  internal/core/unittest/test_chunked_column_group.cpp
  internal/core/unittest/test_chunked_segment.cpp
  internal/core/unittest/test_chunked_segment_storage_v2.cpp
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_file_writer.cpp
  internal/core/unittest/test_sealed.cpp
  internal/querynodev2/server.go
  internal/util/initcore/init_core.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: Master updatecmake zhikun (#43023)
  .env
  .github/workflows/publish-gpu-builder.yaml
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
Due: none

test: Add tests for partition key filter issue and ttl eventually search (#43052)
  tests/python_client/check/func_check.py
  tests/python_client/check/param_check.py
  tests/python_client/common/common_func.py
  tests/python_client/milvus_client/test_milvus_client_data_integrity.py
  tests/python_client/milvus_client/test_milvus_client_search_iterator.py
  tests/python_client/milvus_client_v2/test_milvus_client_e2e.py
  tests/python_client/milvus_client_v2/test_milvus_client_range_search.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2.py
  tests/python_client/milvus_client_v2/test_milvus_client_search_v2_new.py
  tests/python_client/milvus_client_v2/test_milvus_client_ttl.py
  tests/python_client/requirements.txt
  tests/python_client/testcases/indexes/idx_ivf_rabitq.py
  tests/python_client/testcases/indexes/test_ivf_rabitq.py
  tests/python_client/testcases/test_partition_key.py
Due: none

enhance: add logs for count(*) (#43001)
  internal/proxy/impl.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/segments/retrieve.go
Due: Go

fix: [AddField] Prevent concurrent load during UpdateSchema (#43043)
  internal/querycoordv2/task/executor.go
  internal/querycoordv2/task/utils.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/segments/collection.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Go

enhance: Optimize channel node balancing for uneven QN distribution (#42786)
  internal/querycoordv2/meta/replica.go
  internal/querycoordv2/meta/replica_manager.go
  internal/querycoordv2/meta/replica_test.go
  internal/querycoordv2/observers/replica_observer.go
Due: Go

feat: optimize `Like` query with n-gram (#41803)
  internal/core/src/common/Consts.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/exec/expression/Utils.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexFactory.h
  internal/core/src/index/IndexInfo.h
  internal/core/src/index/JsonKeyStatsInvertedIndex.cpp
  internal/core/src/index/Meta.h
  internal/core/src/index/NgramInvertedIndex.cpp
  internal/core/src/index/NgramInvertedIndex.h
  internal/core/src/indexbuilder/ScalarIndexCreator.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/load_index_c.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/DiskFileManagerImpl.h
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_ngram_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_ngram_writer_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/lib.rs
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_ngram_query.cpp
  internal/datacoord/stats_inspector.go
  internal/proxy/task_index_test.go
  internal/querynodev2/segments/segment_loader.go
  internal/util/indexparamcheck/conf_adapter_mgr.go
  internal/util/indexparamcheck/index_type.go
  internal/util/indexparamcheck/ngram_index_checker.go
Due: Core, Go

test: add restful case for add field (#43044)
  tests/restful_client_v2/api/milvus.py
  tests/restful_client_v2/pytest.ini
  tests/restful_client_v2/requirements.txt
  tests/restful_client_v2/testcases/test_collection_operations.py
Due: none

enhance: Improve delegator serviceable check with coordinator sync state (#42975)
  go.mod
  go.sum
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/delegator/distribution_test.go
Due: Go

fix: use impl and remove the close method of broadcast service (#42992)
  internal/mocks/streamingcoord/mock_client/mock_BroadcastService.go
  internal/streamingcoord/client/broadcast/broadcast_impl.go
  internal/streamingcoord/client/broadcast/broadcast_test.go
  internal/streamingcoord/client/client.go
  internal/streamingcoord/client/client_impl.go
Due: Go

fix: Fix querynode crash caused by json index (#42982)
  internal/core/src/segcore/SegmentSealed.h
Due: Core

fix: streamingcoord and streamingnode client support internal tls (#42685)
  internal/distributed/streamingnode/service.go
  internal/streamingcoord/client/client.go
  internal/streamingnode/client/handler/handler_client.go
  internal/streamingnode/client/manager/manager_client.go
  pkg/util/paramtable/grpc_param.go
Due: Go

test: add group by for fts hybrid search (#43037)
  tests/python_client/pytest.ini
  tests/python_client/testcases/test_full_text_search.py
Due: none

fix: [StorageV2] Use correct template typename for `cache_raw_data_to_disk_common` (#43104)
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/DiskFileManagerImpl.h
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
