Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 77%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

[automated] Bump milvus version to v2.4.17 (#37937)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

enhance: do not log out the full req
  internal/distributed/proxy/httpserver/handler_v2.go
Due: Go

enhance: Reduce segmentManager lock granularity
  internal/datacoord/mock_segment_manager.go
  internal/datacoord/segment_manager.go
  internal/datacoord/segment_manager_test.go
  internal/datacoord/server_test.go
  internal/datacoord/services.go
  internal/datacoord/services_test.go
Due: Go

enhance: error msg (#37901)
  internal/distributed/proxy/httpserver/utils.go
Due: Go

enhance: [skip e2e]2.4 update workflow macos to 13 (#37942)
  .github/workflows/mac.yaml
Due: none

enhance: Bump milvus & proto version to v2.5.0-beta (#37938)
  client/common/version.go
  client/go.mod
  client/go.sum
  client/milvusclient/mock_milvus_server_test.go
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix: Use correct policy merging growing&l0 and add unit tests
  internal/querynodev2/delegator/delta_forward.go
  internal/querynodev2/delegator/delta_forward_test.go
Due: Go

enhance: [GoSDK] Add Slice method for Vector Columns
  client/column/sparse.go
  client/column/sparse_test.go
  client/column/vector.go
  client/column/vector_test.go
  client/go.mod
  client/go.sum
  client/milvusclient/mock_milvus_server_test.go
Due: Client

Fix gci
  internal/querynodev2/delegator/delta_forward_test.go
Due: Go

fix: fix grant v2 service (#37945)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/service.go
Due: Go

Remove math/rand/v2
  internal/querynodev2/delegator/delta_forward_test.go
Due: Go

[automated] Bump milvus version to v2.5.0-beta (#37953)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

[automated] Bump milvus version to v2.5.0-beta (#37954)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

enhance: make all index operation async scheduled by tokio
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.toml
Due: Core

enhance: remove the rpc layer of coordinator when enabling standalone or mixcoord
  cmd/milvus/util.go
  go.mod
  go.sum
  internal/coordinator/coordclient/registry.go
  internal/coordinator/coordclient/registry_test.go
  internal/datacoord/server.go
  internal/distributed/datacoord/service.go
  internal/distributed/querycoord/service.go
  internal/distributed/rootcoord/service.go
  internal/distributed/rootcoord/service_test.go
  pkg/util/syncutil/future.go
Due: Go

fix: use localclient
  go.mod
  go.sum
  internal/coordinator/coordclient/registry.go
  internal/util/grpcclient/local_grpc_client.go
  internal/util/grpcclient/local_grpc_client_test.go
Due: Go

enhance: remove the rpc layer of coordinator when enabling standalone or mixcoord (#37815)
  cmd/milvus/util.go
  internal/coordinator/coordclient/registry.go
  internal/coordinator/coordclient/registry_test.go
  internal/datacoord/server.go
  internal/distributed/datacoord/service.go
  internal/distributed/querycoord/service.go
  internal/distributed/rootcoord/service.go
  internal/distributed/rootcoord/service_test.go
  internal/util/grpcclient/local_grpc_client.go
  internal/util/grpcclient/local_grpc_client_test.go
  pkg/util/syncutil/future.go
Due: Go

[automated] Bump milvus version to v2.5.0-beta (#37961)
  scripts/standalone_embed.sh
Due: none

RBAC built in privilege group level adjustment
  internal/rootcoord/root_coord.go
  pkg/util/constant.go
  tests/integration/rbac/privilege_group_test.go
Due: Go

RBAC built in privilege groups and grant v2
  configs/milvus.yaml
  go.mod
  go.sum
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/mocks/mock_proxy.go
  internal/proxy/impl.go
  internal/proxy/privilege_interceptor.go
  internal/proxy/privilege_interceptor_test.go
  internal/proxy/proxy_test.go
  internal/proxy/util.go
  internal/rootcoord/mock_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/util/constant.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/rbac_config_test.go
  pkg/util/paramtable/rbac_param.go
  tests/integration/rbac/privilege_group_test.go
  tests/integration/rbac/rbac_backup_test.go
Due: Go

enhance: [GoSDK] Add Slice method for Vector Columns (#37951)
  client/column/sparse.go
  client/column/sparse_test.go
  client/column/vector.go
  client/column/vector_test.go
  client/go.mod
  client/go.sum
  client/milvusclient/mock_milvus_server_test.go
Due: Client

fix: Use correct policy merging growing&l0 and add unit tests (#37950)
  internal/querynodev2/delegator/delta_forward.go
  internal/querynodev2/delegator/delta_forward_test.go
Due: Go

fix: change search latency metric from us unit to ms unit (#37806)
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/exec/operator/GroupByNode.cpp
  internal/core/src/exec/operator/VectorSearchNode.cpp
Due: Core

feat: fp32 vector to fp16/bf16 vector conversion for RESTful API (#37556)
  internal/distributed/proxy/httpserver/handler_v1_test.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_bench_serialize_vectors_test.go
  internal/distributed/proxy/httpserver/utils_test.go
  internal/distributed/proxy/httpserver/wrap_request.go
  internal/distributed/proxy/httpserver/wrap_request_test.go
  internal/json/sonic.go
  pkg/util/typeutil/convension.go
  pkg/util/typeutil/conversion_test.go
  tests/restful_client/testcases/test_restful_sdk_mix_use_scenario.py
  tests/restful_client_v2/testcases/test_vector_operations.py
  tests/scripts/e2e-restful.sh
  tests/scripts/restful-data/create-collection.json
  tests/scripts/restful-data/insert-data.json
  tests/scripts/restful-data/search-book-intro.json
Due: Go

[automated] Update Knowhere Commit (#37965)
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

enhance: remove the rpc layer of coordinator when enabling standalone or mixcoord (#37959)
  cmd/milvus/util.go
  internal/coordinator/coordclient/registry.go
  internal/coordinator/coordclient/registry_test.go
  internal/datacoord/server.go
  internal/distributed/datacoord/service.go
  internal/distributed/querycoord/service.go
  internal/distributed/rootcoord/service.go
  internal/distributed/rootcoord/service_test.go
  internal/util/grpcclient/local_grpc_client.go
  internal/util/grpcclient/local_grpc_client_test.go
  pkg/util/syncutil/future.go
Due: Go

enhance: make all index operation async scheduled by tokio (#37946)
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.toml
Due: Core

enhance: Refine Replica manager colle2Replicas secondary index (#37906)
  internal/querycoordv2/meta/replica_manager.go
Due: Go

enhance: make all index operation async scheduled by tokio (#37958)
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.toml
Due: Core

fix wrong warning log when idf orf oracle lack L0 segment
  internal/querynodev2/delegator/idf_oracle.go
Due: Go

test: add testcases contain growing segments (#37262)
  tests/python_client/testcases/test_full_text_search.py
  tests/python_client/testcases/test_query.py
Due: none

fix: [skip e2e] unstable ut TestResourceManager (#37761) (#37936)
  pkg/util/resource/resource_manager_test.go
Due: Go

enhance: [2.4] RBAC built in privilege groups and grant v2 (#37787)
  configs/milvus.yaml
  go.mod
  go.sum
  internal/distributed/proxy/httpserver/constant.go
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/mocks/mock_proxy.go
  internal/proxy/impl.go
  internal/proxy/privilege_interceptor.go
  internal/proxy/privilege_interceptor_test.go
  internal/proxy/proxy_test.go
  internal/proxy/util.go
  internal/rootcoord/mock_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/util/constant.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/rbac_config_test.go
  pkg/util/paramtable/rbac_param.go
  tests/integration/rbac/privilege_group_test.go
  tests/integration/rbac/rbac_backup_test.go
Due: Go

fix: Channel may be released after balance (#37862) (#37940)
  internal/querycoordv2/dist/dist_handler.go
Due: Go

enhance: Remove unnecessary stack trace in error (#37816) (#37941)
  internal/util/mock/grpcclient.go
Due: Go
