Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: Fix compaction failed due to ID exhausted (#43699)
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

revoke retry connect
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/restful_client/base/testbase.py
  tests/restful_client_v2/base/testbase.py
Due: none

Change some function from async to sync
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/cc_cedict.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/fetch.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/ipadic.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/ipadic_neologd.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/ko_dic.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/unidic.rs
Due: Core

fix: apply load config changes failed after restart (#43554)
  internal/querycoordv2/server.go
  internal/querycoordv2/server_test.go
  internal/querycoordv2/services.go
Due: Go

fix: apply load config changes failed after restart (#43555)
  internal/querycoordv2/server.go
  internal/querycoordv2/server_test.go
  internal/querycoordv2/services.go
Due: Go

enhance: Bump milvus & proto version to v2.6.0
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix: added more comprehensive container limit detection (#43693)
  internal/core/src/cachinglayer/Utils.cpp
  internal/core/src/cachinglayer/lrucache/DList.cpp
Due: Core

fix: try to get span raw data for variable length data type(#43544)
  internal/core/src/common/Chunk.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/mmap/Column.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/querynodev2/segments/segment.go
Due: Core, Go

fix: GroupChunkTranslator to correctly identify vector field; added more logs
  internal/core/src/cachinglayer/CacheSlot.h
  internal/core/src/cachinglayer/Manager.cpp
  internal/core/src/cachinglayer/Utils.h
  internal/core/src/cachinglayer/lrucache/DList.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
Due: Core

enhance: tiered storage: estimate segment loading resource usage while considering eviction (#43323)
  configs/milvus.yaml
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/segments/manager.go
  internal/querynodev2/segments/manager_test.go
  internal/querynodev2/segments/mock_segment_manager.go
  internal/querynodev2/segments/retrieve_test.go
  internal/querynodev2/segments/search_test.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/segments/segment_test.go
  internal/querynodev2/server_test.go
  pkg/util/paramtable/component_param.go
Due: Go

Fix unittest
  internal/core/unittest/bench/bench_applyhits.cpp
  internal/core/unittest/bench/bench_filewrite.cpp
  internal/core/unittest/bench/bench_findfirst.cpp
  internal/core/unittest/bench/bench_search_pk.cpp
  internal/core/unittest/test_chunked_segment.cpp
  internal/core/unittest/test_delete_record.cpp
  internal/core/unittest/test_utils.cpp
Due: Core

fix: try to get span raw data for variable length data type(#43544)
  internal/core/src/common/Chunk.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/querynodev2/segments/segment.go
Due: Core, Go

fix: make json path index non exists offsets compatible with 2.5 (#43691)
  internal/core/src/exec/expression/ExistsExpr.h
  internal/core/src/index/JsonInvertedIndex.cpp
Due: Core

fix: GroupChunkTranslator to correctly identify vector field (#43706)
  internal/core/src/cachinglayer/CacheSlot.h
  internal/core/src/cachinglayer/Manager.cpp
  internal/core/src/cachinglayer/Utils.h
  internal/core/src/cachinglayer/lrucache/DList.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
Due: Core

enhance: add internal writer without session lock (#43675)
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
Due: Go

remove serialization in clustering compaction
  internal/datanode/compactor/clustering_compactor.go
  internal/storage/arrow_util.go
  internal/storage/serde_events.go
  internal/storage/serde_events_v2.go
  internal/storage/serde_events_v2_test.go
  internal/storage/stats.go
  tests/integration/compaction/clustering_compaction_test.go
Due: Go

enhance: Pass callback in search batch pks to void large result (#43695)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/DeletedRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/unittest/bench/bench_applyhits.cpp
  internal/core/unittest/bench/bench_filewrite.cpp
  internal/core/unittest/bench/bench_findfirst.cpp
  internal/core/unittest/bench/bench_search_pk.cpp
  internal/core/unittest/test_chunked_segment.cpp
  internal/core/unittest/test_delete_record.cpp
  internal/core/unittest/test_utils.cpp
Due: Core

feat: insert by writing timestamptz data to wal
  internal/proxy/validate_util.go
  pkg/util/typeutil/schema.go
Due: Go

feat: sync proto
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
Due: Client, Go

feat: support datatype_timestamptz like datatype_int64
  internal/datacoord/services.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/wrap_request.go
  internal/proxy/impl.go
  internal/proxy/task_query.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/services.go
  internal/rootcoord/util.go
  internal/storage/field_value.go
  internal/storage/insert_data.go
  internal/storage/utils.go
  internal/util/function/rerank/decay_function.go
  internal/util/function/rerank/util.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/numpy/field_reader.go
  internal/util/importutilv2/numpy/util.go
  internal/util/importutilv2/parquet/field_reader.go
  internal/util/importutilv2/parquet/util.go
Due: Go

feat: support datatype::timestamptz(segcore) like datatype_int64
  internal/core/src/common/Types.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/operator/groupby/SearchGroupByOperator.cpp
  internal/core/src/segcore/Collection.cpp
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/Utils.cpp
Due: Core

fix: merge error
  client/go.mod
  go.mod
  go.sum
  internal/proxy/validate_util.go
  internal/storage/serde.go
  pkg/go.mod
Due: Client, Go

test: add unit tests for segcore
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_chunk.cpp
  internal/core/unittest/test_chunk_vector.cpp
  internal/core/unittest/test_data_codec.cpp
  internal/core/unittest/test_group_by.cpp
  internal/core/unittest/test_growing.cpp
  internal/core/unittest/test_storage.cpp
  internal/core/unittest/test_utils/DataGen.h
Due: Core

feat: sync proto to add datatype schema
  client/go.mod
  go.mod
  go.sum
  pkg/go.mod
Due: Client, Go

fix null pointer error
  internal/storage/serde_events.go
Due: Go

fix type casting error
  internal/datanode/compactor/clustering_compactor.go
Due: Go

fix: increment offset for invalid data rows in JsonKeyStatsInvertedIndex (#43688)
  internal/core/src/index/JsonKeyStatsInvertedIndex.cpp
Due: Core

fix flush error
  internal/datanode/compactor/clustering_compactor.go
Due: Go

test: add hybrid search offset testcase in restful api (#43646)
  tests/restful_client_v2/testcases/test_vector_operations.py
Due: none

enhance: support set lindera dict build dir and download url in yaml (#43541)
  configs/milvus.yaml
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.toml
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/analyzer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/cc_cedict.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/fetch.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/ipadic.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/ipadic_neologd.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/ko_dic.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/dict/lindera/unidic.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/util.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/lindera_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/analyzer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/tokenizers/tokenizer.rs
  internal/util/ctokenizer/c_tokenizer_factory.go
  internal/util/ctokenizer/c_tokenizer_test.go
  pkg/util/paramtable/function_param.go
  tests/go_client/testcases/query_test.go
Due: Core, Go

enhance: [2.5] Remove collection name validation from DescribeCollection (#43300)
  internal/proxy/task.go
  internal/proxy/task_test.go
  tests/go_client/testcases/search_test.go
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/milvus_client/test_milvus_client_insert.py
Due: Go

release loading memory when the inevictable cache cell is loaded
  internal/core/src/cachinglayer/CacheSlot.h
  internal/core/src/cachinglayer/lrucache/ListNode.cpp
  internal/core/src/cachinglayer/lrucache/ListNode.h
  internal/core/unittest/test_cachinglayer/mock_list_node.h
Due: Core

fix: try to get span raw data for variable length data type(#43544) (#43705)
  internal/core/src/common/Chunk.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/mmap/ChunkedColumnInterface.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/querynodev2/segments/segment.go
Due: Core, Go

test: add more testcase for analyzer (#43367)
  tests/python_client/milvus_client/test_milvus_client_analyzer.py
Due: none

fix: try to get span raw data for variable length data type(#43544) (#43703)
  internal/core/src/common/Chunk.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/mmap/ChunkedColumn.h
  internal/core/src/mmap/Column.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/querynodev2/segments/segment.go
Due: Core, Go

enhance: Bump milvus & proto version to v2.5.16 (#43686)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

add a load collection with index case
  tests/python_client/milvus_client/test_milvus_client_collection.py
Due: none

delete test_load_collection_after_index in testcases
  tests/python_client/testcases/test_collection.py
Due: none

enhance: [StorageV2] Update enablev2 default param value
  pkg/util/paramtable/component_param.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
