Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

Restore the compaction task correctly to ensure it can be properly cleaned up
  internal/datacoord/compaction_inspector.go
  internal/datacoord/compaction_util.go
Due: Go

fix: [2.5] etcd RPC size limit exceeded when dropping collection
  internal/datacoord/garbage_collector.go
  internal/datacoord/meta.go
  internal/indexnode/task_stats.go
  internal/querynodev2/segments/segment.go
  pkg/util/metautil/binlog.go
  pkg/util/metautil/binlog_test.go
Due: Go

enhance: add file mmap support for DefaultValueChunk
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.cpp
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslator.h
  internal/core/src/segcore/storagev1translator/DefaultValueChunkTranslatorTest.cpp
Due: Core

add group chunk test
  internal/core/src/common/ChunkTest.cpp
Due: Core

enhance: revert mmap configs
  configs/milvus.yaml
Due: none

impl nested index; adjust match expression for nested index
  internal/core/src/common/ArrayOffsets.cpp
  internal/core/src/common/ArrayOffsets.h
  internal/core/src/common/Utils.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/exec/expression/MatchExpr.cpp
  internal/core/src/exec/expression/MatchExpr.h
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexFactory.h
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/InvertedIndexTantivy.h
  internal/core/src/index/ScalarIndex.h
  internal/core/unittest/CMakeLists.txt
Due: Core

enhance: [hotfix-2.6.7] add delegator catching up streaming data state tracking (#46553)
  internal/querycoordv2/utils/util.go
  internal/querycoordv2/utils/util_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/delegator/mock_delegator.go
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

enhance: move jemalloc_stats from pkg to internal/util/segcore (#46560)
  internal/querynodev2/metrics_info.go
  internal/util/segcore/jemalloc_stats.go
  internal/util/segcore/jemalloc_stats_test.go
Due: Go

enhance: update highlight ci (#46573)
  tests/python_client/milvus_client/test_milvus_client_highlighter.py
  tests/python_client/requirements.txt
Due: none

fix:add json stats version because previous change #46130 (#46467)
  internal/core/src/common/Consts.h
  internal/datanode/index/task_stats.go
  internal/querynodev2/segments/segment.go
  pkg/common/common.go
Due: Core, Go

fix:add json stats version because previous change #46130 (#46529)
  internal/core/src/common/Consts.h
  internal/datanode/index/task_stats.go
  internal/querynodev2/segments/segment.go
  pkg/common/common.go
Due: Core, Go

address comments
  internal/core/src/exec/expression/MatchExpr.cpp
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Core, Go

address comments
  internal/parser/planparserv2/parser_visitor.go
Due: Go

enhance: Use milvusStorageV2 to support various cloudstorage
  go.mod
  go.sum
  internal/core/src/segcore/arrow_fs_c.cpp
  internal/core/src/segcore/arrow_fs_c.h
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  pkg/go.mod
  pkg/go.sum
  pkg/streaming/walimpls/impls/wp/builder.go
Due: Core, Go

fix: failed to check invalid timestamptz default value
  internal/datacoord/compaction_policy_forcemerge.go
  internal/datacoord/compaction_view_forcemerge.go
  internal/datacoord/compaction_view_forcemerge_test.go
  internal/proxy/task_search.go
  internal/rootcoord/ddl_callbacks_alter_collection_add_field.go
  pkg/util/timestamptz/timestamptz.go
Due: Go

enhance: STL_SORT to support LIKE operator (#46534)
  internal/core/src/common/RegexQuery.cpp
  internal/core/src/common/RegexQuery.h
  internal/core/src/common/RegexQueryUtilTest.cpp
  internal/core/src/index/StringIndexSort.cpp
  internal/core/src/index/StringIndexSort.h
  internal/core/src/index/StringIndexSortTest.cpp
Due: Core

enhance: Add expr template values logging to access log
  internal/proxy/accesslog/info/grpc_info.go
  internal/proxy/accesslog/info/grpc_info_test.go
  internal/proxy/accesslog/info/info.go
  internal/proxy/accesslog/info/restful_info.go
  internal/proxy/accesslog/info/restful_info_test.go
Due: Go

fix code check
  internal/proxy/accesslog/info/restful_info.go
Due: Go

enable diskann option by default
  Makefile
Due: none

next to impl ProcessDataChunksForElementLevel
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
Due: Core

fix: [2.6]Restore the compaction task correctly to ensure it can be properly cleaned up (#46578)
  internal/datacoord/compaction_inspector.go
  internal/datacoord/compaction_util.go
Due: Go

enhance: [2.6] map multi row groups into one cache cell (#46542)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/storagev2translator/GroupCTMeta.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslatorTest.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.h
Due: Core

enhance: [26]revert mmap configs (#46582)
  configs/milvus.yaml
Due: none

Disabke VCS and fix tests in pkg dir
  Makefile
  internal/datacoord/compaction_policy_forcemerge.go
  internal/datacoord/compaction_view_forcemerge.go
  internal/datacoord/compaction_view_forcemerge_test.go
  pkg/mq/msgstream/mq_kafka_msgstream_test.go
  pkg/mq/msgstream/mq_msgstream_test.go
  pkg/mq/msgstream/mq_rocksmq_msgstream_test.go
  pkg/mq/msgstream/mqwrapper/kafka/kafka_client_test.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_client.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_client_test.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_consumer_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/timestamptz/timestamptz_test.go
  scripts/run_go_codecov.sh
Due: Go

enhance: [cp26]Set latestDeletePos from L0 segments to bound L1 selection (#46532)
  configs/milvus.yaml
  internal/datacoord/compaction_inspector.go
  internal/datacoord/compaction_inspector_test.go
  internal/datacoord/compaction_l0_view.go
  internal/datacoord/compaction_l0_view_test.go
  internal/datacoord/compaction_policy_l0.go
  internal/datacoord/compaction_policy_l0_test.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/compaction_trigger_v2_test.go
  pkg/util/paramtable/component_param.go
Due: Go

enhance: Explicitly set StartMessageIDInclusive to true for pulsar consumer
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_client.go
Due: Go

test: Increase PyMilvus version to 2.6.6rc9
  tests/python_client/requirements.txt
Due: none

enhance: [2.6] Support delaying scanner startup (#46563)
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/cdc/replication/replicatestream/replicate_stream_client_impl_test.go
  internal/datacoord/services.go
  internal/distributed/streaming/internal/consumer/consumer.go
  internal/distributed/streaming/internal/consumer/consumer_impl.go
  internal/distributed/streaming/streaming.go
  internal/distributed/streaming/wal.go
  internal/proxy/impl.go
  internal/streamingnode/client/handler/consumer/consumer_impl.go
  internal/streamingnode/client/handler/handler_client.go
  internal/streamingnode/client/handler/handler_client_impl.go
  internal/streamingnode/server/service/handler/consumer/consume_server.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor.go
  internal/streamingnode/server/wal/adaptor/scanner_adaptor_test.go
  internal/streamingnode/server/wal/metricsutil/wal_scan.go
  internal/streamingnode/server/wal/scanner.go
  pkg/config/manager.go
  pkg/log/fields.go
  pkg/metrics/streaming_service_metrics.go
  pkg/proto/streaming.proto
  pkg/proto/streamingpb/streaming.pb.go
  pkg/streaming/util/message/builder.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: Disable VCS to allow pkg tests to run (#46501)
  Makefile
  internal/datacoord/compaction_policy_forcemerge.go
  internal/datacoord/compaction_view_forcemerge.go
  internal/datacoord/compaction_view_forcemerge_test.go
  pkg/mq/msgstream/mq_kafka_msgstream_test.go
  pkg/mq/msgstream/mq_msgstream_test.go
  pkg/mq/msgstream/mq_rocksmq_msgstream_test.go
  pkg/mq/msgstream/mqwrapper/kafka/kafka_client_test.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_client.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_client_test.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_consumer_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/timestamptz/timestamptz_test.go
  scripts/run_go_codecov.sh
Due: Go

fix: remove EnableStorageV2 override in TestProxy (#46594)
  internal/proxy/proxy_test.go
Due: Go

enhance: Explicitly set StartMessageIDInclusive to true for pulsar consumer (#46591)
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_client.go
Due: Go

Add HNSW_PQ test cases and update HNSW_SQ
  tests/python_client/testcases/indexes/idx_hnsw_pq.py
  tests/python_client/testcases/indexes/test_hnsw_pq.py
Due: none

fix: [2.6] Disabke VCS and fix tests in pkg dir (#46590)
  Makefile
  internal/datacoord/compaction_policy_forcemerge.go
  internal/datacoord/compaction_view_forcemerge.go
  internal/datacoord/compaction_view_forcemerge_test.go
  pkg/mq/msgstream/mq_kafka_msgstream_test.go
  pkg/mq/msgstream/mq_msgstream_test.go
  pkg/mq/msgstream/mq_rocksmq_msgstream_test.go
  pkg/mq/msgstream/mqwrapper/kafka/kafka_client_test.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_client.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_client_test.go
  pkg/mq/msgstream/mqwrapper/pulsar/pulsar_consumer_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/timestamptz/timestamptz_test.go
  scripts/run_go_codecov.sh
Due: Go

some fixes and more tests
  internal/core/src/common/Utils.h
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/MatchExpr.cpp
  internal/core/src/exec/expression/MatchExprTest.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
