Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

enhance: enable default json stats
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
Due: Go

fix: cachinglayer: avoid eviction during json handling
  internal/core/src/segcore/SegmentInterface.h
Due: Core

fix: expr filter return wrong result when skipped (#44778)
  internal/core/src/exec/expression/Expr.h
Due: Core

fix: avoid concurrent Reset/Add operations on DataCoord metrics (#44789)
  internal/datacoord/meta.go
Due: Go

fix:fix json_contains(path, int) bug
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  tests/python_client/common/common_func.py
  tests/python_client/milvus_client/test_milvus_client_query.py
Due: Core

fix:[2.6] expr filter return wrong result when skipped (#44779)
  internal/core/src/exec/expression/Expr.h
Due: Core

enhance: [2.6] update knowhere version (#44765)
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

test: support e2e on arm
  tests/_helm/values/e2e-arm/standalone
Due: none

fix tests
  internal/core/src/common/ChunkWriter.h
  internal/core/src/common/Types.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/VectorMemIndex.cpp
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/query/Plan.cpp
  internal/core/src/segcore/Utils.cpp
  internal/core/unittest/test_sealed.cpp
  internal/proxy/cgo_util_test.go
  internal/proxy/proxy_test.go
  internal/proxy/task_index_test.go
  tests/integration/datanode/struct_array_test.go
  tests/integration/getvector/array_struct_test.go
  tests/integration/import/binlog_test.go
  tests/integration/import/vector_array_test.go
  tests/integration/util_index.go
Due: Core, Go

enhance:[2.5] Introduce sparse filter in query (#44347)
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/pkoracle/bloom_filter_set.go
  internal/querynodev2/segments/mock_loader.go
  internal/querynodev2/segments/mock_segment.go
  internal/querynodev2/segments/retrieve.go
  internal/querynodev2/segments/retrieve_test.go
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_filter.go
  internal/querynodev2/segments/segment_interface.go
  internal/querynodev2/segments/segment_loader.go
  internal/querynodev2/segments/segment_loader_test.go
  internal/querynodev2/segments/validate.go
  internal/querynodev2/tasks/query_task.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: Disk encryption config missing
  internal/util/hookutil/cipher.go
  pkg/util/paramtable/cipher_config.go
Due: Go

enhance: Make GetReplicateInfo API work at the pchannel level
  client/go.mod
  client/go.sum
  client/milvusclient/replicate.go
  client/milvusclient/replicate_example_test.go
  go.mod
  go.sum
  internal/cdc/cluster/milvus_client.go
  internal/cdc/cluster/mock_milvus_client.go
  internal/cdc/replication/replicatemanager/channel_replicator.go
  internal/cdc/replication/replicatemanager/channel_replicator_test.go
  internal/proxy/impl.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

enhance: enable default json stats (#44810)
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
Due: Go

fix: cachinglayer: avoid eviction during json handling (#44812)
  internal/core/src/segcore/SegmentInterface.h
Due: Core

fix: cachinglayer: [2.6] avoid eviction during json handling (#44813)
  internal/core/src/segcore/SegmentInterface.h
Due: Core

enhance: cachinglayer: add mmap and eviction support for TextMatchIndex
  internal/core/src/index/TextMatchIndex.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/storagev1translator/TextMatchIndexTranslator.cpp
Due: Core

enhance: add cachinglayer management for TextMatchIndex
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/TextMatchIndex.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/storagev1translator/TextMatchIndexTranslator.cpp
  internal/core/src/segcore/storagev1translator/TextMatchIndexTranslator.h
  internal/querynodev2/segments/segment.go
  pkg/proto/index_cgo_msg.proto
  pkg/proto/indexcgopb/index_cgo_msg.pb.go
Due: Core, Go

enhance: add a size getter for tantivy inverted index (#44609)
  internal/core/src/index/InvertedIndexTantivy.h
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/array.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/direct_bitset_collector.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_c.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/util.rs
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
Due: Core

fix:fix json_contains(path, int) bug (#44814)
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  tests/python_client/common/common_func.py
  tests/python_client/milvus_client/test_milvus_client_query.py
Due: Core

fix:fix json_contains(path, int) bug (#44818)
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  tests/python_client/common/common_func.py
  tests/python_client/milvus_client/test_milvus_client_query.py
Due: Core

Addresses PR feedback -removes the min should match as request params and adds it in textmatch
  go.mod
  go.sum
  internal/core/src/common/QueryInfo.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/TextMatchIndex.cpp
  internal/core/src/index/TextMatchIndex.h
  internal/core/src/query/PlanProto.cpp
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_base_listener.go
  internal/parser/planparserv2/generated/plan_base_visitor.go
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_listener.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/generated/plan_visitor.go
  internal/parser/planparserv2/parser_visitor.go
  internal/proxy/search_util.go
  pkg/proto/plan.proto
Due: Core, Go

cleanup -removed min should read from param and plumbing
  client/milvusclient/read_option_test.go
  client/milvusclient/read_options.go
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
Due: Client, Core

format fix
  internal/core/src/exec/expression/UnaryExpr.h
Due: Core

fix [2.6]: disable using shredding for json_path contains digital (#44808)
  internal/core/src/common/Utils.h
  internal/core/src/common/bson_view.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
Due: Core

go sum cleanup
  go.sum
Due: none

Add more cpu for datanode
  tests/_helm/values/e2e/distributed-pulsar
Due: none

fix:[2.6]remove the limit of deduplicate case when disable autoindex
  internal/proxy/task_index.go
  internal/proxy/task_index_test.go
Due: Go

fix:remove the limit of deduplicate case when disable autoindex
  internal/proxy/task_index.go
  internal/proxy/task_index_test.go
Due: Go

Support inport geometry data by json/csv
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/json/row_parser_test.go
  internal/util/importutilv2/parquet/field_reader.go
  internal/util/importutilv2/parquet/reader_test.go
Due: Go

fix tests
  internal/storage/arrow_util.go
  internal/storage/payload_reader.go
  tests/integration/util_index.go
Due: Go

enhance: [skip e2e]Enable nightly test for the 2.6 branch
  ci/jenkins/Nightly2.groovy
Due: none

enhance: optimize the performace of bitmap reverse lookup (#44804)
  internal/core/src/index/BitmapIndex.cpp
Due: Core

fix
  internal/core/src/index/NgramInvertedIndex.cpp
Due: Core
