Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

test: add REST import 2PC coverage
  tests/restful_client_v2/api/milvus.py
  tests/restful_client_v2/conftest.py
  tests/restful_client_v2/testcases/test_import_2pc_operation.py
Due: none

test: link import compaction xfail issue
  tests/restful_client_v2/testcases/test_import_2pc_operation.py
Due: none

test: format REST import 2PC tests
  tests/restful_client_v2/api/milvus.py
  tests/restful_client_v2/conftest.py
  tests/restful_client_v2/testcases/test_import_2pc_operation.py
Due: none

test: add import 2pc infra coverage
  tests/restful_client_v2/pytest.ini
  tests/restful_client_v2/testcases/test_import_2pc_infra_dependent.py
  tests/restful_client_v2/testcases/test_import_2pc_operation.py
Due: none

test: document import 2pc validation coverage
  docs/test_plans/deployments/import-2pc-chaos-and-cdc.yaml
  docs/test_plans/import-2pc-execution.md
  docs/test_plans/import-2pc-test-plan.md
  docs/test_plans/import-2pc-test-report.md
  tests/restful_client_v2/testcases/test_import_2pc_operation.py
Due: none

test: keep import 2pc context docs local
  docs/test_plans/deployments/import-2pc-chaos-and-cdc.yaml
  docs/test_plans/import-2pc-execution.md
  docs/test_plans/import-2pc-test-plan.md
  docs/test_plans/import-2pc-test-report.md
Due: none

test: add import 2pc e2e coverage
  tests/python_client/cdc/conftest.py
  tests/python_client/cdc/stablity/test_concurrent_operation.py
  tests/python_client/cdc/stablity/test_single_request_operation.py
  tests/python_client/cdc/testcases/test_import_2pc.py
  tests/python_client/chaos/checker.py
  tests/restful_client_v2/conftest.py
  tests/restful_client_v2/testcases/test_import_2pc_infra_dependent.py
Due: none

test: handle REST compact no-op response
  tests/restful_client_v2/testcases/test_collection_operations.py
Due: none

test: fix REST compact state lookup
  tests/restful_client_v2/testcases/test_collection_operations.py
Due: none

test: fix REST collection operation cases
  tests/restful_client_v2/testcases/test_collection_operations.py
Due: none

chore: Format external vector array normalization test
  internal/core/src/storage/DataCodecTest.cpp
Due: Core

fix: create marisa string index temp directory
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/StringIndexTest.cpp
Due: Core

test: format REST import 2PC test
  tests/restful_client_v2/testcases/test_import_2pc_operation.py
Due: none

fix: recognize BM25 stats for external index coverage
  internal/datacoord/index_service.go
  internal/datacoord/index_service_test.go
  internal/datacoord/snapshot_test.go
  internal/querycoordv2/checkers/index_checker.go
  internal/querycoordv2/checkers/index_checker_test.go
  internal/util/externalmaterialization/coverage.go
  internal/util/externalmaterialization/coverage_test.go
Due: Go

fix: route external schema errors through merr
  internal/datacoord/external_collection_refresh_manager.go
  internal/datacoord/external_collection_refresh_manager_test.go
  internal/datanode/external/function_executor.go
  internal/datanode/external/task_update_test.go
  internal/querynodev2/segments/external_materialization.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema_test.go
Due: Go

fix: persist external BM25 statslog metadata
  internal/datanode/external/function_executor.go
  internal/datanode/external/task_update.go
  internal/datanode/external/task_update_test.go
  pkg/util/paramtable/component_param.go
Due: Go

feat: enforce external materialization before serving
  configs/milvus.yaml
  internal/core/src/segcore/ChunkedSegmentSealedTest.cpp
  internal/core/src/segcore/SegmentLoadInfoTest.cpp
  internal/datacoord/compaction_trigger_v2_test.go
  internal/datacoord/index_service.go
  internal/datacoord/index_service_test.go
  internal/datacoord/snapshot.go
  internal/datacoord/snapshot_test.go
  internal/proxy/task_test.go
  internal/querycoordv2/checkers/index_checker.go
  internal/querycoordv2/checkers/index_checker_test.go
  internal/querycoordv2/checkers/segment_checker_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/segments/external_materialization.go
  internal/querynodev2/segments/external_materialization_test.go
  internal/querynodev2/segments/retrieve.go
  internal/querynodev2/segments/search.go
  internal/querynodev2/segments/search_test.go
  internal/querynodev2/segments/segment_test.go
  internal/querynodev2/tasks/search_task.go
  internal/util/externalmaterialization/coverage.go
  internal/util/externalmaterialization/coverage_test.go
  tests/go_client/testcases/external_table_function_test.go
Due: Core, Go

feat: support loaded external schema evolution
  client/milvusclient/external_table.go
  client/milvusclient/external_table_options.go
  client/milvusclient/external_table_test.go
  configs/milvus.yaml
  docs/design-docs/design_docs/20260605-external-table-schema-evolution.md
  internal/datacoord/compaction_policy_bump_schema_version.go
  internal/datacoord/compaction_policy_bump_schema_version_test.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/compaction_trigger_v2_test.go
  internal/datacoord/external_collection_refresh_manager.go
  internal/datacoord/external_collection_refresh_manager_test.go
  internal/datacoord/external_collection_refresh_meta_test.go
  internal/datacoord/task_refresh_external_collection.go
  internal/datacoord/task_refresh_external_collection_test.go
  internal/datanode/external/task_update.go
  internal/datanode/external/task_update_test.go
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema.go
  internal/rootcoord/ddl_callbacks_alter_collection_schema_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Client, Go

doc: switch shard split to fence-first ordering
  docs/design-docs/design_docs/20260610-shard_split.md
Due: none

doc: correct write-availability framing for fence-first
  docs/design-docs/design_docs/20260610-shard_split.md
Due: none

test: Increase PyMilvus version to 3.0.1rc36
  tests/python_client/requirements.txt
Due: none

fix: guard chunk data raw lookup access
  internal/core/src/exec/expression/ColumnExpr.cpp
  internal/core/src/exec/expression/ColumnExpr.h
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
  internal/core/src/segcore/SegmentChunkReader.cpp
  internal/core/src/segcore/SegmentChunkReader.h
Due: Core

fix: avoid macos openmp structured binding capture
  internal/core/src/segcore/SegmentChunkReader.cpp
Due: Core

fix: format storage v2 raw data test
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
Due: Core

fix: align expression cursor with scalar index raw data
  internal/core/src/exec/expression/ColumnExpr.cpp
  internal/core/src/exec/expression/ColumnExpr.h
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/mmap/ChunkedColumnGroup.h
  internal/core/src/segcore/SegmentChunkReader.cpp
  internal/core/src/segcore/SegmentChunkReader.h
Due: Core

test: cover scalar index raw data cursor alignment
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
Due: Core

refactor: Pass external column mapping through file managers
  internal/core/src/common/Schema.cpp
  internal/core/src/common/Schema.h
  internal/core/src/indexbuilder/index_c.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/FileManager.h
  internal/core/src/storage/MemFileManagerImpl.cpp
  internal/core/src/storage/Types.h
  internal/core/src/storage/Util.cpp
  internal/core/src/storage/Util.h
  internal/querynodev2/segments/segment_loader_test.go
  internal/storagev2/packed/explore_ffi.go
  internal/storagev2/packed/packed_reader.go
  internal/storagev2/packed/utils.go
Due: Core, Go

doc: fix first mermaid diagram failing to render on GitHub
  docs/design-docs/design_docs/20260610-shard_split.md
Due: none

fix: [Proxy] skip length check for unchanged AlterCollection description
  internal/proxy/task.go
  internal/proxy/task_test.go
Due: Go

feat: add predicate delete producer path (#50433)
  configs/milvus.yaml
  go.mod
  go.sum
  internal/flushcommon/metacache/actions.go
  internal/flushcommon/metacache/segment.go
  internal/flushcommon/metacache/segment_test.go
  internal/proxy/task_delete.go
  internal/proxy/task_delete_streaming.go
  internal/proxy/task_delete_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: preserve grouped binlog child field ids in sealed load path
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedStorageV2Test.cpp
Due: Core

fix: use rustup channel for vortex toolchain
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
Due: Core

feat: [2.6][RBAC] support user description in credentials (#50186) (#50526)
  client/Makefile
  client/entity/rbac.go
  client/go.mod
  client/go.sum
  client/milvusclient/mock_milvus_server_test.go
  client/milvusclient/rbac.go
  client/milvusclient/rbac_options.go
  client/milvusclient/rbac_test.go
  docs/design_docs/20260601-rbac-user-description.md
  go.mod
  go.sum
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/metastore/catalog.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/metastore/model/credential.go
  internal/metastore/model/credential_test.go
  internal/mocks/mock_proxy.go
  internal/proxy/credential_description_test.go
  internal/proxy/impl.go
  internal/proxy/util.go
  internal/rootcoord/ddl_callbacks_rbac_credential.go
  internal/rootcoord/ddl_callbacks_rbac_credential_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/root_coord.go
  pkg/go.mod
  pkg/go.sum
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  tests/go_client/go.mod
  tests/go_client/go.sum
  tests/integration/rbac/rbac_basic_test.go
Due: Client, Go

doc: fix sequence diagram parse error (semicolon as statement separator)
  docs/design-docs/design_docs/20260610-shard_split.md
Due: none

feat: handle the import x split interaction in shard split redistribution
  internal/datacoord/server.go
  internal/datacoord/shard_split_executor.go
  internal/datacoord/shard_split_executor_test.go
  internal/datacoord/shard_split_manager.go
Due: Go

enhance: default the shard split check interval to 3600s
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
Due: Go

feat: add the CreateVChannel WAL message type for fence-first shard split
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/streaming/util/message/codegen/reflect_info.json
  pkg/streaming/util/message/message_type.go
  pkg/streaming/util/message/reflect_info.go
Due: Go

doc: update RLS design document
  docs/design-docs/design_docs/20250610-rls_design.md
Due: none

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
