Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

[automated] Bump milvus version to v2.5.11 (#41582)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

enhance: Expose configs Manager
  pkg/util/paramtable/base_table.go
  pkg/util/paramtable/service_param.go
Due: Go

enhance: [GoSDK] support compact&sparse mode nullable column (#41576)
  client/column/columns.go
  client/column/generic_base.go
  client/column/generic_base_test.go
  client/column/nullable.go
  client/column/nullable_test.go
  client/milvusclient/write_options.go
Due: Client

test: add run_analyzer api test and lindera tokenizer test (#41487)
  tests/python_client/common/phrase_match_generator.py
  tests/python_client/milvus_client/test_milvus_client_analyzer.py
  tests/python_client/requirements.txt
  tests/python_client/testcases/test_query.py
Due: none

[automated] Bump milvus version to v2.5.11 (#41584)
  scripts/standalone_embed.sh
Due: none

feat: Http interface supports rerank (#41486)
  configs/milvus.yaml
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
  internal/util/credentials/credentials.go
  internal/util/function/ali_embedding_provider.go
  internal/util/function/alitext_embedding_provider_test.go
  internal/util/function/bedrock_embedding_provider.go
  internal/util/function/bedrock_text_embedding_provider_test.go
  internal/util/function/cohere_embedding_provider.go
  internal/util/function/cohere_embedding_provider_test.go
  internal/util/function/common.go
  internal/util/function/openai_embedding_provider.go
  internal/util/function/openai_text_embedding_provider_test.go
  internal/util/function/rerank/decay_function.go
  internal/util/function/rerank/decay_function_test.go
  internal/util/function/rerank/util.go
  internal/util/function/siliconflow_embedding_provider.go
  internal/util/function/siliconflow_embedding_provider_test.go
  internal/util/function/tei_embedding_provider.go
  internal/util/function/tei_embedding_provider_test.go
  internal/util/function/text_embedding_function.go
  internal/util/function/text_embedding_function_test.go
  internal/util/function/vertexai_embedding_provider.go
  internal/util/function/vertexai_embedding_provider_test.go
  internal/util/function/voyageai_embedding_provider.go
  internal/util/function/voyageai_embedding_provider_test.go
Due: Go

enhance: remove support of embeded nats mq (#41565)
  cmd/roles/roles.go
  cmd/tools/config/generate.go
  configs/milvus.yaml
  go.mod
  go.sum
  internal/util/dependency/factory.go
  internal/util/dependency/factory_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/mq/msgstream/factory_test.go
  pkg/mq/msgstream/mq_factory.go
  pkg/mq/msgstream/mqwrapper/nmq/nmq_client.go
  pkg/mq/msgstream/mqwrapper/nmq/nmq_client_test.go
  pkg/mq/msgstream/mqwrapper/nmq/nmq_consumer.go
  pkg/mq/msgstream/mqwrapper/nmq/nmq_consumer_test.go
  pkg/mq/msgstream/mqwrapper/nmq/nmq_id.go
  pkg/mq/msgstream/mqwrapper/nmq/nmq_id_test.go
  pkg/mq/msgstream/mqwrapper/nmq/nmq_message.go
  pkg/mq/msgstream/mqwrapper/nmq/nmq_message_test.go
  pkg/mq/msgstream/mqwrapper/nmq/nmq_producer.go
  pkg/mq/msgstream/mqwrapper/nmq/nmq_producer_test.go
  pkg/mq/msgstream/mqwrapper/nmq/nmq_server.go
  pkg/mq/msgstream/mqwrapper/nmq/nmq_server_test.go
  pkg/mq/msgstream/mqwrapper/rmq/rmq_client.go
  pkg/mq/msgstream/stream_bench_test.go
  pkg/util/paramtable/service_param.go
  tests/python_client/chaos/nats-standalone-values.yaml
Due: Go

fix: Upgrade dependcies to fix CVEs
  go.mod
  go.sum
Due: none

enhance: Implement OperatePrivilegeV2 message handling and unmarshal support
  internal/proxy/impl.go
  internal/proxy/util.go
  pkg/mq/msgstream/msg_for_user_role.go
  pkg/mq/msgstream/msg_for_user_role_test.go
  pkg/mq/msgstream/unmarshal.go
Due: Go

enhance: Skip disk quota check for l0 import (#41571)
  internal/util/importutilv2/option.go
  internal/util/importutilv2/option_test.go
Due: Go

enhance: [2.5] Skip disk quota check for l0 import (#41572)
  internal/util/importutilv2/option.go
  internal/util/importutilv2/option_test.go
Due: Go

fixed
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v7/index_writer.rs
Due: Core

feat: Add json index support for json contains expr
  internal/core/src/common/JsonCastType.cpp
  internal/core/src/common/JsonCastType.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/Utils.h
  internal/core/src/index/Index.h
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexInfo.h
  internal/core/src/index/InvertedIndexTantivy.cpp
  internal/core/src/index/JsonInvertedIndex.cpp
  internal/core/src/index/JsonInvertedIndex.h
  internal/core/src/indexbuilder/ScalarIndexCreator.cpp
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/load_index_c.cpp
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_json_index.cpp
Due: Core

fix format
  internal/core/src/exec/expression/JsonContainsExpr.cpp
Due: Core

remove logs
  internal/core/src/index/InvertedIndexTantivy.cpp
Due: Core

update tantivy
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
Due: Core

enhance: [AddField] Trigger check schema in retrieve as well
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/segment_c.cpp
Due: Core

enhance: Update to the latest CipherPlugin API
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/mocks/github.com/milvus-io/milvus-proto/go-api/v2/mock_hook/mock_Cipher.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/cipher.go
  pkg/streaming/util/message/message_impl.go
  pkg/streaming/util/message/message_test.go
Due: Go

fix: fix arm64 compile issue (#41593)
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v7/index_writer.rs
Due: Core

fix: update tantivy to fix tantivy doc out of order when merge (#41596)
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
Due: Core

enhance: [AddField] Trigger check schema in retrieve as well (#41598)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/segment_c.cpp
Due: Core

add str update ts in describecollection
  go.mod
  go.sum
  internal/proxy/task.go
  internal/rootcoord/root_coord.go
  pkg/go.mod
  pkg/go.sum
Due: Go

enhance: Add Truncate Interface to WALImpls for Log Retention Control (#41517)
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/mocks/streaming/mock_walimpls/mock_WALImpls.go
  pkg/streaming/walimpls/impls/kafka/wal.go
  pkg/streaming/walimpls/impls/pulsar/wal.go
  pkg/streaming/walimpls/impls/rmq/wal.go
  pkg/streaming/walimpls/impls/walimplstest/wal.go
  pkg/streaming/walimpls/impls/wp/wal.go
  pkg/streaming/walimpls/wal.go
Due: Go

enhance: [hotfix-2.5.10] Accelerate delete filtering during binlog import (#41553)
  internal/util/importutilv2/binlog/filter.go
  internal/util/importutilv2/binlog/reader.go
Due: Go

enhance: Update to the latest CipherPlugin API (#41599)
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/mocks/github.com/milvus-io/milvus-proto/go-api/v2/mock_hook/mock_Cipher.go
  pkg/proto/messages.proto
  pkg/proto/messagespb/messages.pb.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/cipher.go
  pkg/streaming/util/message/message_impl.go
  pkg/streaming/util/message/message_test.go
Due: Go

enhance: [GoSDK] Make all valid normal column compactible with nullable
  client/milvusclient/read_options.go
  client/milvusclient/write_option_test.go
  client/milvusclient/write_options.go
Due: Client

enhance: [2.5] add timeout for message reception in mqMsgStream
  pkg/mq/msgstream/mq_msgstream.go
Due: Go

enhance: add timeout for message reception in mqMsgStream
  pkg/mq/msgstream/mq_msgstream.go
Due: Go

DataNode no need to wait mixcoord healthy in stream mode
  internal/distributed/datanode/service.go
Due: Go

fix: stop worknode concurrently
  cmd/roles/roles.go
  internal/rootcoord/meta_table.go
Due: Go

fix
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v7/index_writer_json_key_stats.rs
Due: Core

enhance: Upgrade dependcies to fix CVEs (#41590)
  go.mod
  go.sum
Due: none

fix: 1
  go.mod
  go.sum
  internal/streamingnode/server/wal/interceptors/segment/manager/seal_queue.go
  internal/streamingnode/server/wal/recovery/recovery_background_task.go
  pkg/go.mod
  pkg/go.sum
  pkg/proto/messagespb/messages.pb.go
Due: Go

enhance: add force rebuild index configuration (#41473)
  configs/milvus.yaml
  internal/core/src/config/ConfigKnowhere.cpp
  internal/core/src/config/ConfigKnowhere.h
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/thirdparty/knowhere/CMakeLists.txt
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/task_index.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

feat: add string type ts in describecollection
  go.sum
  internal/proxy/task.go
  internal/rootcoord/root_coord.go
  pkg/go.sum
Due: Go

enhance: add expr filter ratio monitor params (#41402)
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/monitor/prometheus_client.cpp
  internal/core/src/monitor/prometheus_client.h
Due: Core

enhance: Expose configs Manager (#41586)
  pkg/util/paramtable/base_table.go
  pkg/util/paramtable/service_param.go
Due: Go
