Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

polish code
  internal/datanode/index/task_index.go
  internal/datanode/index/util.go
  internal/datanode/index/util_test.go
Due: Go

fix(client): format mol client changes
  client/entity/function.go
  client/row/data_test.go
Due: Client

test: add query/hybrid_search coverage for query_mode=large_topk (#48896)
  tests/python_client/testcases/test_large_topk.py
Due: none

test: [cp3.0]relax limit assertion for HNSW_SQ params48 (M=2,efConstruction=1) to fix flaky test (#48848)
  tests/python_client/testcases/indexes/idx_hnsw_sq.py
  tests/python_client/testcases/indexes/test_hnsw_sq.py
Due: none

test: [cp3.0]rewrite scalar expression filtering tests with eval ground truth and bug regression (#48851)
  tests/python_client/common/common_func.py
  tests/python_client/milvus_client/expressions/test_milvus_client_scalar_filtering.py
Due: none

test: [cp2.6]relax limit assertion for HNSW_SQ params48 (M=2,efConstruction=1) to fix flaky test (#48847)
  tests/python_client/testcases/indexes/idx_hnsw_sq.py
  tests/python_client/testcases/indexes/test_hnsw_sq.py
Due: none

test: Consolidate RBAC tests from ORM to MilvusClient style
  tests/python_client/milvus_client/test_milvus_client_rbac.py
  tests/python_client/testcases/test_connection.py
  tests/python_client/testcases/test_utility.py
Due: none

test: Add 49 RBAC privilege verification and edge case tests
  tests/python_client/milvus_client/test_milvus_client_rbac.py
Due: none

test: Remove obsolete TODO comments for fixed issue #44843
  tests/python_client/milvus_client/test_milvus_client_rbac.py
Due: none

update
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

fix: stabilize json offset slice regression test
  internal/core/src/index/JsonInvertedIndexTest.cpp
Due: Core

fix: fix corruption of offsets between milvus and knowhere [2.6] (#48837)
  internal/core/src/common/TypeTraits.h
  internal/core/src/index/VectorDiskIndex.cpp
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/unittest/test_indexing.cpp
Due: Core

fix: implement PatternMatch for StringIndexMarisa to fix LIKE prefix performance regression
  internal/core/src/index/StringIndexMarisa.cpp
  internal/core/src/index/StringIndexMarisa.h
Due: Core

fix: prevent ChunkManagerWrapper destructor crash on parallel test teardown (#48832)
  internal/core/src/index/InvertedIndexTest.cpp
  internal/core/src/index/JsonFlatIndexTest.cpp
  internal/core/unittest/test_utils/storage_test_utils.h
Due: Core

fix: [2.6] self-heal compaction segment positions and add L0 force-select bypass
  internal/datacoord/compaction_l0_view.go
  internal/datacoord/compaction_l0_view_test.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  pkg/util/paramtable/component_param.go
Due: Go

test: Increase PyMilvus version to 2.6.12
  tests/python_client/requirements.txt
Due: none

fix test
  internal/datanode/index/task_index.go
Due: Go

test: reduce redundant debug logging in geometry client tests
  tests/python_client/milvus_client/test_milvus_client_geometry.py
Due: none

enhance: remove SuffixSnapshot mechanism from RootCoord metadata storage (#47960)
  Makefile
  cmd/tools/migration/mmap/tool/main.go
  configs/milvus.yaml
  internal/kv/mock_snapshot_kv.go
  internal/kv/mock_snapshot_kv_test.go
  internal/kv/mocks/snapshot_kv.go
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/kv_catalog_test.go
  internal/metastore/kv/rootcoord/legacy_snapshot_gc.go
  internal/metastore/kv/rootcoord/legacy_snapshot_gc_test.go
  internal/metastore/kv/rootcoord/rootcoord_constant.go
  internal/metastore/kv/rootcoord/suffix_snapshot.go
  internal/metastore/kv/rootcoord/suffix_snapshot_test.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  pkg/kv/kv.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

fix coding style
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
Due: Go

fix: [2.5] Set replica field in balance plans to prevent panic (#45722) (#48642)
  internal/querycoordv2/balance/multi_target_balance.go
  tests/integration/balance/balance_test.go
Due: Go

test: add multi-replica chaos test with resource group based injection (#48817)
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/conftest.py
  tests/python_client/chaos/test_chaos_apply_multi_replicas.py
  tests/python_client/chaos/test_chaos_multi_replicas.py
Due: none

test: [cp2.6]add multi-replica chaos test with resource group based injection (#48825)
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/conftest.py
  tests/python_client/chaos/test_chaos_apply_multi_replicas.py
  tests/python_client/chaos/test_chaos_multi_replicas.py
Due: none

test: fix add_field error message assertions to match updated Milvus responses
  tests/python_client/milvus_client/test_add_field_feature.py
Due: none

fix: [cp2.6]skip segment dist existence check during preProcess to avoid canceling in-flight RPCs (#48723)
  internal/querycoordv2/task/scheduler.go
Due: Go

enhance: [3.0] update Nightly2 cron to trigger on 3.0 branch at 23:00 CST
  ci/jenkins/Nightly2.groovy
Due: none

enhance: [skip e2e] [3.0] update Nightly2 cron to trigger on 3.0 branch at 23:00 CST (#48923)
  ci/jenkins/Nightly2.groovy
Due: none

test: replace hardcoded nb=3000 with constant.default_nb in restful_client_v2 testcases
  tests/restful_client_v2/testcases/test_collection_operations.py
  tests/restful_client_v2/testcases/test_embedding_rerank_function.py
  tests/restful_client_v2/testcases/test_geometry_operations.py
  tests/restful_client_v2/testcases/test_restful_sdk_mix_use_scenario.py
  tests/restful_client_v2/testcases/test_vector_operations.py
Due: none

test: use direct import for restful_client_v2 constants
  tests/restful_client_v2/testcases/test_collection_operations.py
  tests/restful_client_v2/testcases/test_embedding_rerank_function.py
  tests/restful_client_v2/testcases/test_geometry_operations.py
  tests/restful_client_v2/testcases/test_restful_sdk_mix_use_scenario.py
  tests/restful_client_v2/testcases/test_vector_operations.py
Due: none

fix: revert nb to 100 for embedding function test to avoid API limits
  tests/restful_client_v2/testcases/test_embedding_rerank_function.py
Due: none

fix: update hardcoded nb-dependent values in test assertions
  tests/python_client/milvus_client/test_add_field_feature.py
  tests/python_client/milvus_client/test_milvus_client_partial_update.py
Due: none

enhance: reject woodpecker with local storage in cluster mode (#48485)
  internal/util/streamingutil/util/wal_selector.go
  internal/util/streamingutil/util/wal_selector_test.go
  pkg/util/paramtable/service_param.go
  pkg/util/paramtable/service_param_test.go
Due: Go

enhance: eliminate JSON double-parse fallback and pass expression functor args by const ref (#48766)
  internal/core/src/common/Json.h
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/ExprJsonUint64Test.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/index/json_stats/bson_builder.cpp
  internal/core/unittest/CMakeLists.txt
Due: Core

fix: fix buildID handling for text/JSON indexes in snapshot restore (#48796)
  internal/datacoord/copy_segment_task.go
  internal/datacoord/copy_segment_task_test.go
  internal/datacoord/snapshot_meta.go
  internal/datacoord/snapshot_meta_test.go
  tests/go_client/testcases/snapshot_test.go
Due: Go

enhance: optimize TermExpr IN with SIMD batch filter for numeric types (#48608)
  internal/core/src/common/SimdUtil.h
  internal/core/src/exec/CMakeLists.txt
  internal/core/src/exec/HashTable.cpp
  internal/core/src/exec/expression/Element.h
  internal/core/src/exec/expression/ElementTest.cpp
  internal/core/src/exec/expression/ExprTermTest.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/SimdFilter.cpp
  internal/core/src/exec/expression/SimdFilter.h
  internal/core/src/exec/expression/SimdFilterAvx2.cpp
  internal/core/src/exec/expression/SimdFilterAvx512.cpp
  internal/core/src/exec/expression/SimdFilterImpl.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/parser/planparserv2/rewriter/entry.go
  internal/parser/planparserv2/rewriter/term_in.go
  internal/parser/planparserv2/rewriter/term_in_test.go
  internal/parser/planparserv2/rewriter/util.go
  internal/util/exprutil/expr_checker_test.go
  tests/integration/hellomilvus/partition_key_test.go
Due: Core, Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
