Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

enhance: fix GC walk file count logging
  internal/datacoord/garbage_collector.go
Due: Go

test: Increase PyMilvus version to 3.0.1rc46
  tests/python_client/requirements.txt
Due: none

test: [cp2.6]Add RBAC description coverage (#50677)
  tests/go_client/testcases/advcases/rbac_test.go
  tests/integration/rbac/rbac_backup_test.go
  tests/restful_client_v2/testcases/test_role_operation.py
  tests/restful_client_v2/testcases/test_user_operation.py
Due: none

fix(querynode): avoid panic in deleteRequestStringer.String() on empty keys/timestamps
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
Due: Go

impl nested index for bitmap index
  internal/core/src/exec/expression/NullExpr.cpp
  internal/core/src/exec/expression/NullExpr.h
  internal/core/src/index/BitmapIndex.cpp
  internal/core/src/index/BitmapIndex.h
  internal/core/src/index/BitmapIndexArrayTest.cpp
  internal/core/src/index/IndexFactory.cpp
  internal/core/src/index/IndexFactory.h
Due: Core

fix format
  internal/core/src/index/BitmapIndexArrayTest.cpp
Due: Core

cp done
  internal/datacoord/task_index.go
  internal/datacoord/task_index_test.go
Due: Go

docs: add scalar index replacement design
  docs/design-docs/design_docs/20260618-scalar-index-replacement.md
Due: none

fix static check
  internal/datacoord/task_index.go
  internal/datacoord/task_index_test.go
Due: Go

fix: return parameter error for invalid exprParams
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

support non-float on 2.6
  internal/core/src/segcore/Utils.cpp
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/util/importutilv2/parquet/field_reader_test.go
  internal/util/importutilv2/parquet/struct_field_reader.go
  internal/util/importutilv2/parquet/util.go
  internal/util/testutil/test_util.go
  pkg/util/testutils/gen_data.go
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
Due: Core, Go

enhance: Bump milvus & proto version to v2.6.19
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

enhance: fix GC walk file count logging (#50636)
  internal/datacoord/garbage_collector.go
Due: Go

enhance: avoid result aggregation for search task execution
  internal/core/src/query/ExecPlanNodeVisitor.cpp
  internal/core/src/query/ExecPlanNodeVisitor.h
Due: Core

enhance: batch the per-row chunk lock in growing-segment string bulk_subscript
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingTest.cpp
Due: Core

enhance: [2.6] batch the per-row chunk lock in growing-segment string bulk_subscript (#50717)
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingTest.cpp
Due: Core

fix: align REST access log with gRPC and log multi-collection requests
  internal/proxy/accesslog/info/grpc_info.go
  internal/proxy/accesslog/info/grpc_info_test.go
  internal/proxy/accesslog/info/restful_info.go
  internal/proxy/accesslog/info/restful_info_test.go
  pkg/util/requestutil/getter.go
Due: Go

enhance: [2.6] zero-copy search result passing (#48648) (#50713)
  configs/milvus.yaml
  internal/proxy/search_pipeline.go
  internal/proxy/search_reduce_util.go
  internal/proxy/search_reduce_util_test.go
  internal/querynodev2/local_worker.go
  internal/querynodev2/local_worker_test.go
  internal/querynodev2/segments/result.go
  internal/querynodev2/segments/result_test.go
  internal/querynodev2/tasks/search_task.go
  internal/util/segcore/plan.go
  pkg/proto/internal.proto
  pkg/proto/internalpb/internal.pb.go
  pkg/proto/internalpb/msg_pinnable_impl.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/resource/msg_pinnable.go
  pkg/util/resource/pinned_ref.go
  pkg/util/resource/pinned_ref_test.go
  pkg/util/resource/pinned_resource_manager.go
  pkg/util/resource/release_codec.go
  pkg/util/resource/release_codec_test.go
Due: Go

fix: preserve null semantics in filter execution
  internal/core/src/exec/expression/ConjunctExpr.cpp
  internal/core/src/exec/expression/ConjunctExprTest.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/ExprJsonAdvancedTest.cpp
  internal/core/src/exec/expression/ExprJsonRangeTest.cpp
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/index/TextMatchIndexTest.cpp
Due: Core

doc: update logging guide entry (#50094)
  CLAUDE.md
Due: none

doc: update logging guide entry (#50747)
  CLAUDE.md
Due: none

fix: validate REST import auto_commit option
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
Due: Go

test: enable REST import null auto_commit validation
  tests/restful_client_v2/testcases/test_import_2pc_operation.py
Due: none

fix: preserve REST import option compatibility
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
Due: Go

test: reject invalid REST import auto_commit option
  tests/restful_client_v2/testcases/test_import_2pc_operation.py
Due: none

fix: guard growing segment field maps against concurrent rehash (#50377) (#50437)
  internal/core/src/segcore/InsertRecord.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_growing_concurrent_reopen.cpp
Due: Core

test: cover mixcompaction inline text index
  internal/datanode/compactor/mix_compactor_text_index_test.go
Due: Go

enhance: plumb FileResources and scalar index version to namespace clustering
  internal/datacoord/compaction_inspector.go
  internal/datacoord/compaction_inspector_test.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_clustering_test.go
Due: Go

enhance: build text index inline in mixcompaction
  internal/datanode/compactor/clustering_compactor_storage_v3_test.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/mix_compactor_test.go
  internal/datanode/compactor/namespace_compactor.go
  internal/datanode/compactor/namespace_compactor_test.go
  internal/datanode/services.go
Due: Go

enhance: plumb FileResources to mixcompaction text-index build
  internal/datacoord/compaction_task_mix.go
  internal/datacoord/compaction_task_mix_test.go
Due: Go

fix: validate REST v2 collection TTL properties (#49843)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
Due: Go

fix yaml
  configs/milvus.yaml
Due: none

enhance: prefetch data before execution
  configs/milvus.yaml
  internal/core/src/exec/Driver.cpp
  internal/core/src/exec/Driver.h
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/GISFunctionFilterExpr.cpp
  internal/core/src/exec/expression/GISFunctionFilterExpr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/NullExpr.cpp
  internal/core/src/exec/expression/NullExpr.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.cpp
  internal/core/src/exec/expression/TimestamptzArithCompareExpr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/exec/operator/ElementFilterBitsNode.cpp
  internal/core/src/exec/operator/ElementFilterBitsNode.h
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/exec/operator/FilterBitsNode.h
  internal/core/src/exec/operator/MvccNode.cpp
  internal/core/src/exec/operator/MvccNode.h
  internal/core/src/exec/operator/Operator.h
  internal/core/src/exec/operator/VectorSearchNode.cpp
  internal/core/src/exec/operator/VectorSearchNode.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/storage/PrefetchThreadPool.h
  internal/util/cgo/pool.go
Due: Core, Go

fix: avoid recursive prefetch locking
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

fix: determine prefetch state explicitly
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/operator/MvccNode.h
  internal/core/src/exec/operator/VectorSearchNode.h
Due: Core

fix prefetch review comments
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/operator/MvccNode.h
  internal/core/src/exec/operator/VectorSearchNode.h
  internal/core/src/segcore/segcore_init_c.cpp
  internal/core/src/segcore/segcore_init_c.h
  internal/core/src/storage/PrefetchThreadPool.h
  internal/util/cgo/executor.go
Due: Core, Go

enhance: Bump milvus & proto version to v2.6.19 (#50737)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix: sync target after delegators ready (#48903)
  internal/querycoordv2/observers/target_observer.go
  internal/querycoordv2/observers/target_observer_test.go
Due: Go
