Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix unittest buffer size
  internal/storagev2/packed/packed_test.go
Due: Go

enhance: [2.5] Enhance import integration tests and logs (#42696)
  internal/datacoord/import_checker.go
  internal/datacoord/import_checker_test.go
  internal/datanode/importv2/task_import.go
  internal/datanode/importv2/task_l0_import.go
  internal/datanode/importv2/task_l0_preimport.go
  internal/datanode/importv2/task_preimport.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  tests/integration/import/auto_id_test.go
  tests/integration/import/binlog_test.go
  tests/integration/import/dynamic_field_test.go
  tests/integration/import/import_test.go
  tests/integration/import/multi_vector_test.go
  tests/integration/import/partition_key_test.go
Due: Go

ChunkManager is no longer created during datanode initialization
  internal/compaction/params.go
  internal/datacoord/import_util.go
  internal/datanode/data_node.go
  internal/datanode/importv2/task_import.go
  internal/datanode/importv2/task_l0_import.go
  internal/datanode/services.go
  internal/flushcommon/syncmgr/sync_manager.go
  internal/flushcommon/writebuffer/write_buffer.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

add char group tokenizer
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.lock
  internal/core/thirdparty/tantivy/tantivy-binding/Cargo.toml
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/char_group_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/mod.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/tokenizer.rs
Due: Core

fix ut
  internal/compaction/params.go
  internal/datanode/data_node_test.go
  internal/datanode/importv2/scheduler_test.go
  internal/datanode/importv2/task_l0_import_test.go
  internal/datanode/index_services_test.go
  internal/datanode/services_test.go
  internal/flushcommon/broker/mock_broker.go
  internal/flushcommon/syncmgr/mock_meta_writer.go
  internal/flushcommon/syncmgr/mock_pack_writer.go
  internal/flushcommon/syncmgr/mock_sync_manager.go
  internal/flushcommon/syncmgr/mock_task.go
Due: Go

fix: oom bookie when applying test (#42776)
  tests/_helm/values/e2e/distributed-pulsar
  tests/_helm/values/nightly/distributed-pulsar-mmap
Due: none

fix: Fix exclude nodes clearing logic position in load balancer retry (#42577)
  internal/proxy/lb_policy.go
  internal/proxy/lb_policy_test.go
  internal/proxy/meta_cache.go
  internal/proxy/meta_cache_test.go
  internal/proxy/mock_cache.go
  internal/proxy/task_search_test.go
Due: Go

test: fix connection errror of BulkInsert nightly
  tests/python_client/base/client_base.py
Due: none

fix: [AddField] Remove load list check on querycoord (#42736)
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/job/job_test.go
Due: Go

fix: [StorageV2] Use correct offset filling null bitmap (#42774)
  internal/core/src/common/FieldData.cpp
  internal/core/src/common/FieldDataInterface.h
  internal/core/src/storage/Util.cpp
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/core/unittest/test_array_bitmap_index.cpp
  internal/core/unittest/test_bitmap_index.cpp
  internal/core/unittest/test_chunk.cpp
  internal/core/unittest/test_data_codec.cpp
  internal/core/unittest/test_hybrid_index.cpp
  internal/core/unittest/test_inverted_index.cpp
  internal/core/unittest/test_json_key_stats_index.cpp
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/storage/rw.go
  internal/storagev2/packed/constant.go
  internal/storagev2/packed/packed_test.go
Due: Core, Go

fix:fix wrong use return error for parse unsupported arith (#42729)
  internal/parser/planparserv2/operators.go
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

fix:reject div or mod by zero for binaryarith expr (#42691)
  internal/parser/planparserv2/plan_parser_v2_test.go
  internal/parser/planparserv2/utils.go
Due: Go

fix:fix arith mod bug for big int (#42699)
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_utils/DataGen.h
Due: Core

enhance: Print out-of-date schema ts when returning ErrSchemaMismatch (#42790)
  internal/proxy/task_insert.go
  internal/proxy/task_upsert.go
Due: Go

enhance: refine delegator state checking error msg (#42673)
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_test.go
Due: Go

fix
  internal/compaction/params_test.go
  internal/datanode/data_node.go
  internal/datanode/data_node_test.go
  internal/datanode/importv2/task_import.go
  internal/datanode/importv2/task_l0_import.go
  internal/datanode/index_services_test.go
  internal/datanode/services.go
  internal/datanode/services_test.go
  internal/flushcommon/syncmgr/mock_sync_manager.go
  internal/flushcommon/syncmgr/sync_manager.go
  internal/flushcommon/writebuffer/write_buffer.go
Due: Go

enhance: [skip e2e]fix legacy mergify config (#41693)
  .github/mergify.yml
Due: none

test: [skip e2e]remove tls connection
  tests/python_client/chaos/test_chaos_apply_to_coord.py
  tests/python_client/chaos/test_chaos_apply_to_determined_pod.py
Due: none

fix load vector raw data by mistake
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Due: Core

test:[skip e2e][cp2.5]remove tls connection
  tests/python_client/chaos/test_chaos_apply.py
  tests/python_client/chaos/test_chaos_apply_to_coord.py
  tests/python_client/chaos/test_chaos_apply_to_determined_pod.py
Due: none

enhance: add test for new parameters in access log (#42546)
  internal/proxy/accesslog/info/grpc_info_test.go
  internal/proxy/accesslog/info/restful_info_test.go
Due: Go

enhance: [GoSDK]support run analyzer by collection field (#42642)
  client/milvusclient/collection_example_test.go
  client/milvusclient/read_options.go
  tests/go_client/testcases/query_test.go
Due: Client

improve WP parallel sync
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
Due: Go

fix ut
  internal/datanode/importv2/scheduler_test.go
  internal/datanode/importv2/task_l0_import_test.go
Due: Go

forbid regex filter clone regex for each streamer
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/regex_filter.rs
Due: Core

test:[skip e2e][cp2.5]remove tls connection
  tests/python_client/chaos/testcases/test_all_checker_operation.py
  tests/python_client/chaos/testcases/test_concurrent_operation.py
  tests/python_client/chaos/testcases/test_single_request_operation.py
  tests/python_client/chaos/testcases/test_single_request_operation_for_rolling_update.py
  tests/python_client/chaos/testcases/test_single_request_operation_for_standby.py
  tests/python_client/chaos/testcases/test_verify_all_collections.py
  tests/python_client/testcases/test_concurrent.py
Due: none

test:[skip e2e]remove tls connection
  tests/python_client/chaos/testcases/test_all_checker_operation.py
  tests/python_client/chaos/testcases/test_concurrent_operation.py
  tests/python_client/chaos/testcases/test_single_request_operation.py
  tests/python_client/chaos/testcases/test_single_request_operation_for_rolling_update.py
  tests/python_client/chaos/testcases/test_single_request_operation_for_standby.py
  tests/python_client/chaos/testcases/test_verify_all_collections.py
  tests/python_client/testcases/test_concurrent.py
Due: none

Refactor to avoid using `tokio::runtime::block_on`
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/gen/milvus.proto.tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/grpc_tokenizer.rs
Due: Core

address comments
  internal/core/src/storage/DiskFileManagerImpl.cpp
  internal/core/src/storage/Util.cpp
Due: Core

Add and run rust fmt command in makefile
  Makefile
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/build_in_analyzer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/mod.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/filter/regex_filter.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/jieba_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/analyzer/tokenizers/lang_ident_tokenizer.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_writer_v5/analyzer/stop_words.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/token_stream_c.rs
  scripts/run_cargo_format.sh
Due: Core

fix: [2.5] flow graph should free function resource after all node close (#42731) (#42775)
  internal/flushcommon/pipeline/flow_graph_embedding_node.go
  internal/flushcommon/pipeline/flow_graph_embedding_node_test.go
  internal/querynodev2/pipeline/pipeline.go
  internal/util/flowgraph/flow_graph.go
  internal/util/flowgraph/node.go
Due: Go

Reduce task slot for standalone to 1/4 of normal datanode
  internal/datanode/index/util.go
Due: Go

fix: Consider fields number when preallocating ids for import
  internal/datacoord/import_util.go
Due: Go

enhance: avoid using threadpool when column is ready in chunk cache(#42803)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/storage/ChunkCache.cpp
  internal/core/src/storage/ChunkCache.h
Due: Core

test: fix connection errror of BulkInsert nightly (#42796)
  tests/python_client/base/client_base.py
Due: none

fix flaky test cased by hard code dir
  internal/core/unittest/test_storage.cpp
Due: Core

clean some unused code
  internal/core/src/common/File.h
  internal/core/src/mmap/Utils.h
  internal/core/src/segcore/Utils.cpp
Due: Core

remove unused TEST_skip_index_for_retrieve param in CreateSealedSegment
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/unittest/test_chunked_segment.cpp
  internal/core/unittest/test_chunked_segment_storage_v2.cpp
  internal/core/unittest/test_expr.cpp
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
