Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

enhance: update some annotations (#44769)
  internal/querynodev2/delegator/delegator_data.go
Due: Go

fix done
  internal/proxy/util.go
  internal/proxy/util_test.go
Due: Go

enhance: support database with WAL-based DDL framework (#44822)
  internal/rootcoord/alter_database_task.go
  internal/rootcoord/alter_database_task_test.go
  internal/rootcoord/create_db_task.go
  internal/rootcoord/create_db_task_test.go
  internal/rootcoord/ddl_callbacks.go
  internal/rootcoord/ddl_callbacks_alter_database.go
  internal/rootcoord/ddl_callbacks_create_database.go
  internal/rootcoord/ddl_callbacks_database_test.go
  internal/rootcoord/ddl_callbacks_drop_database.go
  internal/rootcoord/drop_db_task.go
  internal/rootcoord/drop_db_task_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/mocks/meta_table.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  internal/rootcoord/step.go
  internal/rootcoord/task_test.go
Due: Go

fix:unified json exists path semantic (#44916)
  internal/core/src/common/bson_view.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/index/json_stats/JsonKeyStats.h
  tests/python_client/milvus_client/test_milvus_client_query.py
Due: Core

cp done
  internal/proxy/util.go
  internal/proxy/util_test.go
Due: Go

fix: rerank before requery if reranker didn't use field data
  internal/proxy/search_pipeline.go
  internal/proxy/search_pipeline_test.go
Due: Go

enhance: support alias with wal
  internal/rootcoord/alter_alias_task.go
  internal/rootcoord/alter_alias_task_test.go
  internal/rootcoord/create_alias_task.go
  internal/rootcoord/create_alias_task_test.go
  internal/rootcoord/ddl_callbacks.go
  internal/rootcoord/ddl_callbacks_alias_test.go
  internal/rootcoord/ddl_callbacks_alter_alias.go
  internal/rootcoord/ddl_callbacks_drop_alias.go
  internal/rootcoord/drop_alias_task.go
  internal/rootcoord/drop_alias_task_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/mock_test.go
  internal/rootcoord/mocks/meta_table.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  internal/rootcoord/task_test.go
  internal/streamingcoord/server/broadcaster/resource_key_locker.go
  internal/streamingcoord/server/broadcaster/resource_key_locker_test.go
Due: Go

fix format
  internal/core/src/index/ScalarIndexTest.cpp
Due: Core

enhance: Support import geometry data by json/csv (#44826)
  internal/storage/insert_data.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/json/row_parser_test.go
  internal/util/importutilv2/parquet/field_reader.go
  internal/util/importutilv2/parquet/reader_test.go
  internal/util/testutil/test_util.go
Due: Go

fix: Fix the geometry return POINT(0 0) when growing mmap is enabled (#44889)
  internal/core/src/mmap/ChunkData.h
Due: Core

fix: Fix return EOF when geometry enable null (#44911)
  internal/proxy/validate_util.go
Due: Go

enhance: [2.6]Support import geometry data by json/csv (#44827)
  internal/storage/insert_data.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/json/row_parser_test.go
  internal/util/importutilv2/parquet/field_reader.go
  internal/util/importutilv2/parquet/reader_test.go
  internal/util/testutil/test_util.go
Due: Go

fix: [2.6]Fix the geometry return POINT(0 0) when growing mmap is enabled (#44890)
  internal/core/src/mmap/ChunkData.h
Due: Core

enhance: [2.5]Support import geometry data by json/csv (#44828)
  internal/storage/insert_data.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/parquet/field_reader.go
  internal/util/importutilv2/parquet/reader_test.go
  internal/util/testutil/test_util.go
Due: Go

fix: [2.6] Fix return EOF when geometry enable null (#44913)
  internal/proxy/validate_util.go
Due: Go

fix: [2.5] Fix the geometry return POINT(0 0) when growing mmap is enabled (#44891)
  internal/core/src/mmap/ChunkData.h
Due: Core

fix:remove duplicated '/' in jsonstats path
  internal/core/src/index/json_stats/bson_inverted.cpp
Due: Core

test: add struct array testcases
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
  tests/python_client/requirements.txt
Due: none

test: add geometry datatype testcases
  tests/python_client/milvus_client/test_milvus_client_geometry.py
  tests/python_client/requirements.txt
  tests/scripts/ci_e2e_4am.sh
Due: none

fix: wrong execution order of DDL/DCL on secondary
  internal/distributed/streaming/replicate_service_test.go
  internal/distributed/streaming/streaming_test.go
  internal/proxy/replicate/replicate_stream_server.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/broadcaster/ack_callback_scheduler.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/broadcast_scheduler.go
  internal/streamingcoord/server/broadcaster/broadcast_task.go
  internal/streamingcoord/server/service/assignment.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/manager_test.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/txn.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/txn/session_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/replicate_checkpoint_test.go
  pkg/mocks/streaming/util/mock_message/mock_MutableMessage.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/builder_test.go
  pkg/streaming/util/message/message.go
  pkg/streaming/util/message/message_impl.go
  pkg/util/funcutil/func.go
Due: Go

fix: typo in asan opts
  scripts/run_cpp_unittest.sh
  scripts/run_go_unittest.sh
Due: none

fix: rollback the txn if begin txn message is repeated
  internal/streamingnode/server/wal/utility/txn_buffer.go
Due: Go

support search bm25 with highlight
  go.mod
  go.sum
  internal/distributed/querynode/client/client.go
  internal/distributed/querynode/service.go
  internal/mocks/mock_proxy.go
  internal/mocks/mock_querynode.go
  internal/mocks/mock_querynode_client.go
  internal/proxy/search_pipeline.go
  internal/proxy/task.go
  internal/proxy/task_search.go
  internal/proxy/util.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/services.go
  internal/util/mock/grpc_querynode_client.go
  internal/util/wrappers/qn_wrapper.go
  pkg/go.mod
  pkg/go.sum
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/proto/querypb/query_coord_grpc.pb.go
Due: Go

fix: Fix exists expr for json flat index
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/index/JsonFlatIndex.cpp
  internal/core/src/index/JsonFlatIndex.h
  internal/core/src/index/JsonFlatIndexTest.cpp
Due: Core

test: add geometry datatype testcases
  tests/python_client/geometry_comprehensive_test.py
  tests/python_client/milvus_client/test_milvus_client_geometry.py
  tests/python_client/requirements.txt
Due: none

test: add geometry datatype in checker
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/testcases/test_concurrent_operation.py
  tests/python_client/chaos/testcases/test_single_request_operation.py
  tests/python_client/common/common_func.py
  tests/python_client/common/common_type.py
Due: none

fix: support JSON default value in `CreateArrowScalarFromDefaultValue` (#44912)
  internal/core/src/storage/Util.cpp
Due: Core

update
  tests/python_client/milvus_client/test_milvus_client_struct_array.py
Due: none

fix: ut
  internal/querycoordv2/ddl_callbacks.go
  internal/querycoordv2/ddl_callbacks_resource_group.go
  internal/querycoordv2/meta/resource_manager.go
  internal/querycoordv2/meta/resource_manager_test.go
  internal/querycoordv2/services.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/proto/querypb/query_coord_grpc.pb.go
Due: Go

enhance: make ddl for resource group
  internal/querycoordv2/ddl_callbacks.go
  internal/querycoordv2/ddl_callbacks_resource_group.go
  internal/querycoordv2/meta/resource_group.go
  internal/querycoordv2/meta/resource_manager.go
  internal/querycoordv2/server.go
  internal/querycoordv2/services.go
Due: Go

test: Increase PyMilvus version to 2.6.3rc12
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.7.0rc46
  tests/python_client/requirements.txt
Due: none

test: update cases for binary vectors support HNSW (#44928)
  tests/python_client/testcases/indexes/idx_hnsw.py
  tests/python_client/testcases/test_index.py
Due: none

enhance: support alias with WAL-based DDL framework (#44865)
  internal/rootcoord/alter_alias_task.go
  internal/rootcoord/alter_alias_task_test.go
  internal/rootcoord/create_alias_task.go
  internal/rootcoord/create_alias_task_test.go
  internal/rootcoord/ddl_callbacks.go
  internal/rootcoord/ddl_callbacks_alias_test.go
  internal/rootcoord/ddl_callbacks_alter_alias.go
  internal/rootcoord/ddl_callbacks_drop_alias.go
  internal/rootcoord/drop_alias_task.go
  internal/rootcoord/drop_alias_task_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/mock_test.go
  internal/rootcoord/mocks/meta_table.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  internal/rootcoord/task_test.go
  internal/streamingcoord/server/broadcaster/resource_key_locker.go
  internal/streamingcoord/server/broadcaster/resource_key_locker_test.go
Due: Go

fix: redundant wp sync error log message caused by storage not writable (#44934)
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
Due: Go

add testcase for loadedDiskQuota
  internal/querynodev2/segments/manager_test.go
  internal/rootcoord/quota_center_test.go
Due: Go

enhance: add a disk quota for the loaded binlog size to prevent load failures of querynode
  configs/milvus.yaml
  internal/querynodev2/metrics_info.go
  internal/querynodev2/segments/manager.go
  internal/querynodev2/segments/mock_segment_manager.go
  internal/querynodev2/segments/segment.go
  internal/rootcoord/quota_center.go
  pkg/util/metricsinfo/quota_metric.go
  pkg/util/paramtable/quota_param.go
Due: Go
