Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

feat: encode cluster id in auto id
  internal/proxy/util_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix
  configs/milvus.yaml
Due: none

enhance: Utilize group split info to estimate usage
  internal/querynodev2/segments/segment_loader.go
Due: Go

test: migrate test_query V2 cases for milvus client (#44238)
  tests/python_client/milvus_client/test_milvus_client_query.py
  tests/python_client/testcases/test_query.py
Due: none

fix: milvus-common commits update
  internal/core/thirdparty/milvus-common/CMakeLists.txt
Due: Core

Fix nil schema handling logci
  internal/querynodev2/segments/segment_loader.go
Due: Go

fix idf oracle use wrong dir
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/idf_oracle.go
  internal/querynodev2/delegator/idf_oracle_test.go
Due: Go

enhance: update rust version (#44322)
  build/docker/builder/cpu/amazonlinux2023/Dockerfile
  build/docker/builder/cpu/rockylinux8/Dockerfile
  build/docker/builder/cpu/ubuntu20.04/Dockerfile
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/gpu/ubuntu20.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
  internal/core/thirdparty/opendal/CMakeLists.txt
  internal/core/thirdparty/tantivy/CMakeLists.txt
  scripts/3rdparty_build.sh
  scripts/install_deps.sh
Due: Core

test: Increase PyMilvus version to 2.7.0rc29
  tests/python_client/requirements.txt
Due: none

forbid build analyzer at proxy
  internal/coordinator/mix_coord.go
  internal/datacoord/mock_test.go
  internal/datacoord/session/mock_node_manager.go
  internal/distributed/mixcoord/client/client.go
  internal/distributed/mixcoord/service.go
  internal/distributed/querynode/client/client.go
  internal/distributed/querynode/service.go
  internal/mocks/mock_mixcoord.go
  internal/mocks/mock_mixcoord_client.go
  internal/mocks/mock_querycoord.go
  internal/mocks/mock_querycoord_client.go
  internal/mocks/mock_querynode.go
  internal/mocks/mock_querynode_client.go
  internal/proxy/impl.go
  internal/proxy/impl_test.go
  internal/proxy/lb_policy.go
  internal/proxy/rootcoord_mock_test.go
  internal/proxy/util.go
  internal/proxy/validate_util.go
  internal/querycoordv2/mocks/mock_querynode.go
  internal/querycoordv2/server.go
  internal/querycoordv2/services.go
  internal/querycoordv2/session/cluster.go
  internal/querycoordv2/session/mock_cluster.go
  internal/querynodev2/services.go
  internal/rootcoord/create_collection_task.go
  internal/util/mock/grpc_querycoord_client.go
  internal/util/mock/grpc_querynode_client.go
  internal/util/wrappers/qn_wrapper.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/proto/querypb/query_coord_grpc.pb.go
Due: Go

enhance: add namespace for query and search request
  go.mod
  go.sum
  internal/core/src/common/Consts.h
  internal/core/src/query/PlanProto.cpp
  internal/proxy/search_pipeline.go
  internal/proxy/task_query.go
  internal/proxy/task_search.go
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_test.go
  internal/proxy/util.go
  pkg/common/common.go
  pkg/proto/plan.proto
  pkg/proto/planpb/plan.pb.go
Due: Core, Go

add test
  internal/proxy/task_query_namespace_test.go
  internal/proxy/task_search_namespace_test.go
Due: Go

fix: milvus-common commits update (#44339)
  internal/core/thirdparty/milvus-common/CMakeLists.txt
Due: Core

enhance: Add granular flush targets support for FlushAll operation
  go.mod
  go.sum
  internal/datacoord/services.go
  internal/datacoord/services_test.go
  internal/proxy/impl.go
  internal/proxy/task_flush_all.go
  internal/proxy/task_flush_all_streaming.go
  internal/proxy/task_flush_all_streaming_test.go
  internal/proxy/task_flush_streaming.go
  pkg/go.mod
  pkg/go.sum
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  scripts/run_go_unittest.sh
Due: Go

fix: Check if ArrayData is nil to prevent panic (#44332)
  internal/proxy/util.go
Due: Go

test: fix macos runner image to lower version
  .github/workflows/mac.yaml
Due: none

fix: Fix initialize timestamp index concurrently (#44317)
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
Due: Core

fix: Fix invalid pre-allocated segment IDs
  internal/datacoord/compaction_task_meta.go
Due: Go

fix: [2.5] Check if ArrayData is nil to prevent panic (#44333)
  internal/proxy/util.go
Due: Go

enhance: Utilize group split info to estimate usage (#44338)
  internal/querynodev2/segments/segment_loader.go
Due: Go

[StorageV2] enable build with azure
  internal/core/conanfile.py
  internal/core/src/storage/azure/AzureChunkManagerTest.cpp
  scripts/azure_lsan.supp
  scripts/core_build.sh
  scripts/run_cpp_codecov.sh
  scripts/run_cpp_unittest.sh
Due: Core

fix: fix json_contains bug for stats
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/JsonContainsByStatsTest.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/query/PlanProto.cpp
Due: Core

test: add case about enable dynamic schema
  tests/python_client/milvus_client/test_add_field_feature.py
  tests/python_client/milvus_client/test_milvus_client_alter.py
  tests/python_client/milvus_client/test_milvus_client_index.py
Due: none

fix check
  internal/datacoord/compaction_task_l0.go
Due: Go

remove all compaction tasks timeout
  internal/datacoord/compaction_inspector_test.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_mix.go
  internal/datacoord/compaction_task_mix_test.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/import_util.go
  internal/datanode/compactor/sort_compaction.go
  internal/datanode/compactor/sort_compaction_test.go
Due: Go

Remove timeout for compaction task
  internal/datacoord/compaction_task.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_clustering_test.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_mix.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_test.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datanode/compactor/clustering_compactor_test.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/mix_compactor_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/util/paramtable/component_param.go
Due: Go

fix test message assert
  internal/rootcoord/rename_collection_task.go
  tests/python_client/testcases/test_utility.py
Due: Go

test: fix macos runner image to lower version (#44348)
  .github/workflows/mac.yaml
Due: none

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
