Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

enhance: add index_store_path_version field to SegmentIndex proto
  pkg/proto/index_coord.proto
  pkg/proto/indexpb/index_coord.pb.go
Due: none

enhance: set IndexStorePathVersion=1 for all new indexes
  internal/datacoord/copy_segment_task.go
  internal/datacoord/index_inspector.go
Due: Go

enhance: update GC to handle both v0 and v1 index path formats
  internal/datacoord/garbage_collector.go
  internal/datacoord/index_meta.go
Due: Go

test: add tests for HasCollectionWithPathVersion and GetDeletedIndexesWithPathVersion
  internal/datacoord/index_meta_test.go
Due: Go

enhance: migrate all callers to IndexPathBuilder
  internal/datacoord/garbage_collector.go
  internal/datacoord/handler.go
  internal/datacoord/index_service.go
Due: Go

enhance: add IndexPathBuilder for type-safe index path construction
  pkg/util/metautil/segment_index.go
  pkg/util/metautil/segment_index_test.go
Due: Go

test: add GC tests for v0/v1 index path handling
  internal/datacoord/garbage_collector_test.go
Due: Go

test: add v1 path format tests for generateTargetIndexPath
  internal/datanode/importv2/copy_segment_utils_test.go
Due: Go

enhance: support new index path format in copy segment path transform
  internal/datanode/importv2/copy_segment_utils.go
Due: Go

enhance: add IndexStorePathVersion to model.SegmentIndex
  internal/metastore/model/segment_index.go
  internal/metastore/model/segment_index_test.go
Due: Go

fix: initialize collection_id in segcore LoadIndexInfo conversion
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/core/src/segcore/Types.h
Due: Core

fix: propagate index store path version in index load path
  internal/core/src/segcore/Types.h
  internal/core/src/segcore/Utils.cpp
  internal/core/src/segcore/load_index_c.cpp
  internal/datacoord/index_service.go
  internal/querycoordv2/meta/coordinator_broker.go
  internal/querycoordv2/meta/coordinator_broker_test.go
  internal/querynodev2/segments/segment.go
  pkg/proto/cgo_msg.proto
  pkg/proto/cgopb/cgo_msg.pb.go
  pkg/proto/index_coord.proto
  pkg/proto/indexpb/index_coord.pb.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Core, Go

enhance: add v1 path format support to index file construction
  internal/core/src/indexbuilder/index_c.cpp
  internal/core/src/storage/FileManager.h
  internal/core/src/storage/Types.h
  internal/datacoord/task_index.go
  internal/datanode/index/task_index.go
  pkg/proto/index_cgo_msg.proto
  pkg/proto/indexcgopb/index_cgo_msg.pb.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
Due: Core, Go

fix: generate missing C++ proto headers for build
  scripts/generate_proto.sh
Due: none

chore: regenerate proto pb.go after rebase
  pkg/proto/querypb/query_coord.pb.go
  pkg/proto/segcorepb/segcore.pb.go
Due: none

fix: apply buildID mapping at correct offset for v1 vector/scalar index path
  internal/datanode/importv2/copy_segment_utils.go
  internal/datanode/importv2/copy_segment_utils_test.go
Due: Go

enhance: reference IndexStorePathVersion enum in BuildIndexInfo
  pkg/proto/index_cgo_msg.proto
Due: none

enhance: add index_store_path_versions map to CopySegmentSource
  pkg/proto/data_coord.proto
Due: none

fix: handle nil segmentBuildInfo and apply gofmt
  internal/datacoord/index_inspector.go
  internal/datacoord/index_meta.go
Due: Go

fix: apply clang-format-12 to FileManager.h
  internal/core/src/storage/FileManager.h
Due: Core

fix: remove unused data_coord proto change and regenerate index cgo pb
  pkg/proto/data_coord.proto
  pkg/proto/indexcgopb/index_cgo_msg.pb.go
Due: none

fix: format segcore segment test fields
  internal/util/segcore/segment_test.go
Due: Go

enhance: define IndexStorePathVersion proto enum (source only)
  pkg/proto/index_coord.proto
Due: none

enhance: migrate C++ IndexStorePathVersion to enum type
  internal/core/src/storage/FileManager.h
  internal/core/src/storage/Types.h
Due: Core

fix: align index path version tests with enum type
  internal/core/unittest/test_index_wrapper.cpp
  internal/metastore/model/segment_index_test.go
Due: Core, Go

fix: preserve index store path version in segcore load path
  internal/core/src/segcore/SegmentLoadInfo.cpp
  internal/util/segcore/segment.go
  internal/util/segcore/segment_test.go
  pkg/proto/segcore.proto
  pkg/proto/segcorepb/segcore.pb.go
Due: Core, Go

fix: declare buildIDOffset without redundant initial value
  internal/datanode/importv2/copy_segment_utils.go
Due: Go

fix: fix mock expectation in recycleUnusedIndexFilesV1 skip test
  internal/datacoord/garbage_collector_test.go
Due: Go

enhance: migrate Go IndexStorePathVersion from int32 to enum
  internal/datacoord/copy_segment_task.go
  internal/datacoord/garbage_collector.go
  internal/datacoord/index_inspector.go
  internal/datacoord/index_meta.go
  internal/metastore/model/segment_index.go
  pkg/proto/worker.proto
  pkg/proto/workerpb/worker.pb.go
  pkg/util/metautil/segment_index.go
Due: Go

test: add unit tests for updateIndexRowsProgressMetrics and fix gofmt alignment
  internal/datacoord/index_meta_test.go
Due: Go

test: add coverage tests for IndexRowsProgress metric and cleanup function
  pkg/metrics/datacoord_metrics_test.go
Due: Go

test(cdc): make is_check fixture tolerant of bool vs str
  tests/python_client/cdc/conftest.py
Due: none

Address comment
  internal/datacoord/meta.go
  internal/datacoord/services_commit_backfill.go
  internal/datacoord/services_test.go
Due: Go

fix: [3.0] [RBAC] stop shipping built-in privilege groups in yaml to eliminate drift (#49277)
  configs/milvus.yaml
  pkg/util/paramtable/rbac_config_test.go
  pkg/util/paramtable/rbac_param.go
Due: Go

fix: [2.6] [RBAC] stop shipping built-in privilege groups in yaml to eliminate drift (#49276)
  configs/milvus.yaml
  pkg/util/paramtable/rbac_config_test.go
  pkg/util/paramtable/rbac_param.go
Due: Go

test: add L2 coverage for add nullable vector field with non-float types and index/insert orderings (#49287)
  tests/python_client/chaos/checker.py
  tests/python_client/milvus_client/test_add_field_feature.py
Due: none

feat: [3.0] support ARRAY_APPEND/ARRAY_REMOVE partial update ops for Array fields
  client/go.mod
  client/go.sum
  client/milvusclient/write_options.go
  client/milvusclient/write_options_partial_op_test.go
  go.mod
  go.sum
  internal/proxy/task_upsert.go
  internal/proxy/task_upsert_partial_op.go
  internal/proxy/task_upsert_partial_op_test.go
  pkg/go.mod
  pkg/go.sum
  pkg/util/typeutil/schema.go
  pkg/util/typeutil/schema_partial_op_test.go
  tests/go_client/go.mod
  tests/go_client/go.sum
  tests/go_client/testcases/upsert_array_partial_op_test.go
Due: Client, Go

enhance: [3.0] fold calculate_size and write_to_target passes for variable-length chunk writers
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
Due: Core

enhance: [3.0] configurable byte-size threshold for storage v2 cell packing
  configs/milvus.yaml
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/segcore/storagev2translator/GroupCTMeta.h
  internal/core/src/segcore/storagev2translator/GroupChunkTranslator.cpp
  internal/core/src/segcore/storagev2translator/GroupChunkTranslatorTest.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslator.cpp
  internal/core/src/segcore/storagev2translator/ManifestGroupTranslatorTest.cpp
  internal/querynodev2/server.go
  internal/util/initcore/query_node.go
  internal/util/initcore/util.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

enhance: fold calculate_size and write_to_target passes for variable-length chunk writers
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
Due: Core

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
