Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

enhance: [10kcp] Refine Replica manager colle2Replicas secondary index (#37907)
  internal/querycoordv2/meta/replica_manager.go
Due: Go

update
  internal/core/src/common/Chunk.cpp
  internal/core/src/common/Chunk.h
  internal/core/src/common/Consts.h
  internal/core/src/query/PlanProto.cpp
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/proto/plan.proto
  internal/proxy/search_util.go
  pkg/common/common.go
Due: Core, Go

update
  internal/core/unittest/test_iterative_filter.cpp
Due: Core

upgrade go client grpc version
  client/go.mod
  client/go.sum
Due: Client

enhance: Unify querycoord meta metrics
  internal/querycoordv2/job/job_release.go
  internal/querycoordv2/meta/collection_manager.go
Due: Go

update
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
Due: Core

test: relax the checks on range search (#36542)
  tests/restful_client_v2/testcases/test_vector_operations.py
  tests/restful_client_v2/utils/utils.py
Due: none

update
  internal/core/src/query/PlanProto.cpp
Due: Core

enhance: [2.4] Fill version for load delta request (#38212) (#38228)
  internal/querynodev2/delegator/delta_forward.go
Due: Go

report info to hook
  go.mod
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/service.go
  internal/proxy/authentication_interceptor.go
  internal/proxy/task_test.go
  pkg/go.mod
  pkg/go.sum
Due: Go

fix: invalid rate limit for time tick delay (#38218)
  internal/datanode/flow_graph_write_node.go
Due: Go

enhance: support templates for expression in Restful api(#38040) (#38161)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/request_v2.go
  internal/distributed/proxy/httpserver/utils.go
  internal/distributed/proxy/httpserver/utils_test.go
Due: Go

test: relax the checks on range search (#36542) (#38234)
  tests/restful_client_v2/testcases/test_vector_operations.py
  tests/restful_client_v2/utils/utils.py
Due: none

enhance: refactor delete mvcc function
  internal/core/src/common/Utils.h
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/src/segcore/DeletedRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/core/src/segcore/Utils.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_delete_record.cpp
  internal/core/unittest/test_growing.cpp
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_utils.cpp
Due: Core

fix coding style
  internal/datacoord/handler_test.go
  tests/integration/levelzero/delete_partition_key_test.go
Due: Go

fix coding style
  tests/integration/levelzero/delete_partition_key_test.go
Due: none

fix: fix crash when enable standby and streaming
  internal/datacoord/server.go
  internal/streamingcoord/server/builder.go
  internal/streamingcoord/server/server.go
  internal/streamingcoord/server/service/assignment.go
Due: Go

enhance: Unify querycoord meta metrics (#38233)
  internal/querycoordv2/job/job_release.go
  internal/querycoordv2/meta/collection_manager.go
Due: Go

fix: grant ManualCompact api doesn't work (#38096) (#38168)
  client/go.mod
  client/go.sum
  client/mock_milvus_server_test.go
  go.mod
  go.sum
  internal/proxy/database_interceptor.go
  internal/proxy/database_interceptor_test.go
  internal/proxy/impl.go
  pkg/go.mod
  pkg/go.sum
Due: Client, Go

enhance: Make dynamic load/release partition follow targets (#38059)
  internal/querycoordv2/job/job_load.go
  internal/querycoordv2/job/job_release.go
  internal/querycoordv2/job/job_sync.go
  internal/querycoordv2/job/job_test.go
  internal/querycoordv2/job/undo.go
  internal/querycoordv2/job/utils.go
  internal/querycoordv2/meta/mock_target_manager.go
  internal/querycoordv2/meta/target_manager.go
  internal/querycoordv2/observers/collection_observer_test.go
  internal/querycoordv2/observers/target_observer.go
  internal/querycoordv2/services.go
  internal/querycoordv2/services_test.go
  internal/querycoordv2/task/executor.go
  internal/querycoordv2/utils/meta.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/delegator/delta_forward_test.go
  internal/querynodev2/delegator/distribution.go
  internal/querynodev2/delegator/distribution_test.go
  internal/querynodev2/delegator/mock_delegator.go
  internal/querynodev2/delegator/snapshot.go
  internal/querynodev2/segments/validate.go
  internal/querynodev2/services.go
  internal/querynodev2/services_test.go
Due: Go

fix: querycoord collection num metric (#36471)
  internal/querycoordv2/meta/collection_manager.go
Due: Go

Revert "enhance: [10kcp] remove the rpc level of coordinator (#37984)"
  cmd/milvus/util.go
  go.mod
  go.sum
  internal/coordinator/coordclient/registry.go
  internal/coordinator/coordclient/registry_test.go
  internal/datacoord/server.go
  internal/distributed/datacoord/service.go
  internal/distributed/querycoord/service.go
  internal/distributed/rootcoord/service.go
  internal/distributed/rootcoord/service_test.go
  pkg/util/syncutil/future.go
  pkg/util/syncutil/future_test.go
Due: Go

enhance: remove the rpc layer of coordinator when enabling standalone or mixcoord
  cmd/roles/roles.go
  configs/milvus.yaml
  internal/coordinator/coordclient/registry.go
  internal/coordinator/coordclient/registry_test.go
  internal/datacoord/server.go
  internal/distributed/datacoord/service.go
  internal/distributed/querycoord/service.go
  internal/distributed/rootcoord/service.go
  internal/distributed/rootcoord/service_test.go
  internal/util/grpcclient/local_grpc_client.go
  internal/util/grpcclient/local_grpc_client_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  pkg/util/syncutil/future.go
  pkg/util/syncutil/future_test.go
Due: Go

fix: move health check into init
  internal/distributed/querycoord/service.go
  internal/querycoordv2/server.go
Due: Go

enhance: [2.4] filter the fields instead of create a new response obj
  internal/proxy/meta_cache.go
  internal/proxy/meta_cache_test.go
Due: Go

enhance: [2.4] improve the lock key of the create/drop collection task
  internal/http/static/index.html
  internal/rootcoord/create_collection_task.go
  internal/rootcoord/drop_collection_task.go
  internal/rootcoord/task_test.go
Due: Go

fix: [2.4] add the request ctx for stream pipeline interface
  internal/querynodev2/pipeline/manager_test.go
  internal/querynodev2/pipeline/pipeline_test.go
  internal/querynodev2/services.go
  internal/util/pipeline/stream_pipeline.go
  internal/util/pipeline/stream_pipeline_test.go
Due: Go

fix: [2.4] use the default partition for the limit quota when the request partition name is empty
  internal/proxy/meta_cache.go
  internal/proxy/rate_limit_interceptor.go
  internal/proxy/rate_limit_interceptor_test.go
  internal/proxy/task_insert.go
  internal/proxy/task_test.go
  internal/proxy/task_upsert.go
Due: Go

enhance: [2.4] add retry termination log
  pkg/util/retry/retry.go
Due: Go

fix: [2.4] the too long default root password does not take effect
  cmd/tools/config/generate.go
  configs/milvus.yaml
  internal/rootcoord/root_coord.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

enhance: [2.4] remove the collectionBasicInfo class in the proxy metacache
  internal/proxy/meta_cache.go
  internal/proxy/mock_cache.go
  internal/proxy/task_query_test.go
  internal/proxy/task_scheduler_test.go
  internal/proxy/task_search_test.go
Due: Go

fix: [2.4] add the db information in the dml message
  internal/proxy/meta_cache.go
  internal/proxy/msg_pack.go
  internal/proxy/task_delete.go
Due: Go

enhance: [2.4] support to config the default db properties
  internal/metastore/model/database.go
  internal/metastore/model/database_test.go
  internal/rootcoord/create_collection_task_test.go
  internal/rootcoord/create_db_task_test.go
  internal/rootcoord/describe_db_task_test.go
  internal/rootcoord/list_db_task_test.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  pkg/util/funcutil/func.go
  pkg/util/funcutil/func_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

enhance: remove the rpc layer of coordinator when enabling standalone or mixcoord (#38246)
  cmd/milvus/util.go
  cmd/roles/roles.go
  configs/milvus.yaml
  go.mod
  go.sum
  internal/coordinator/coordclient/registry.go
  internal/coordinator/coordclient/registry_test.go
  internal/distributed/querycoord/service.go
  internal/querycoordv2/server.go
  internal/util/grpcclient/local_grpc_client.go
  internal/util/grpcclient/local_grpc_client_test.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Due: Go

fix: Fix init rootcoord meta timeout
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/suffix_snapshot.go
Due: Go

fix: [10kcp] Fix init rootcoord meta timeout (#38249)
  internal/metastore/kv/rootcoord/kv_catalog.go
  internal/metastore/kv/rootcoord/suffix_snapshot.go
Due: Go

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
