Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

test: fix text match
  tests/python_client/chaos/testcases/test_all_collections_after_chaos.py
  tests/python_client/common/common_func.py
Due: none

enhance: Balance the collection with the largest row count first
  internal/querycoordv2/checkers/balance_checker.go
  internal/querycoordv2/checkers/balance_checker_test.go
  internal/querycoordv2/meta/mock_target_manager.go
  internal/querycoordv2/meta/target.go
  internal/querycoordv2/meta/target_manager.go
  internal/querycoordv2/meta/target_manager_test.go
Due: Go

fix commit
  pkg/mq/msgdispatcher/manager.go
Due: Go

enhance: Bump milvus & proto version to v2.5.6 (#40293)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/common/version.go
  pkg/go.mod
  pkg/go.sum
  tests/go_client/go.mod
  tests/go_client/go.sum
Due: Client, Go

fix asan
  internal/core/src/index/JsonFlatIndex.cpp
Due: Core

Add search iterator with external filter func neg tests
  tests/python_client/base/client_v2_base.py
  tests/python_client/check/func_check.py
  tests/python_client/milvus_client/test_milvus_client_alias.py
  tests/python_client/milvus_client/test_milvus_client_search_interator.py
  tests/python_client/testcases/test_search.py
Due: none

fix ut
  pkg/mq/msgdispatcher/dispatcher.go
  pkg/mq/msgdispatcher/manager.go
Due: Go

fix: [GoSDK] Return role without grants (#40284)
  client/milvusclient/database_options.go
  client/milvusclient/rbac.go
  client/milvusclient/rbac_options.go
  client/milvusclient/rbac_test.go
Due: Client

Remove iterators in datanode
  internal/compaction/common.go
  internal/compaction/entity_filter.go
  internal/compaction/entity_filter_test.go
  internal/compaction/load_stats.go
  internal/datanode/compactor/clustering_compactor.go
  internal/datanode/compactor/clustering_compactor_test.go
  internal/datanode/compactor/compactor.go
  internal/datanode/compactor/compactor_common.go
  internal/datanode/compactor/executor.go
  internal/datanode/compactor/executor_test.go
  internal/datanode/compactor/l0_compactor.go
  internal/datanode/compactor/l0_compactor_test.go
  internal/datanode/compactor/merge_sort.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/mix_compactor_test.go
  internal/datanode/compactor/mock_compactor.go
  internal/datanode/compactor/priority_queue.go
  internal/datanode/compactor/priority_queue_test.go
  internal/datanode/compactor/segment_record_reader.go
  internal/datanode/compactor/segment_writer.go
  internal/datanode/compactor/segment_writer_bench_test.go
  internal/datanode/compactor/segment_writer_test.go
  internal/datanode/data_node.go
  internal/datanode/iterators/deltalog_iterator.go
  internal/datanode/iterators/deltalog_iterator_test.go
  internal/datanode/iterators/iterator.go
  internal/datanode/services.go
  internal/datanode/services_test.go
  internal/flushcommon/pipeline/data_sync_service.go
  internal/flushcommon/pipeline/flow_graph_dd_node.go
  internal/flushcommon/pipeline/flow_graph_dd_node_test.go
  internal/flushcommon/util/util.go
  internal/indexnode/task_stats.go
  internal/indexnode/task_stats_test.go
Due: Go

Fix a crash issue of bulkinsert
  internal/util/importutilv2/parquet/util.go
Due: Go

fix ut
  internal/flushcommon/pipeline/data_sync_service_test.go
Due: Go

Fix a typo
  tests/python_client/testcases/test_search.py
Due: none

fix storage v2 cgo mem leak
  internal/storagev2/packed/packed_reader.go
  internal/storagev2/packed/packed_writer.go
Due: Go

fix
  Makefile
  internal/datacoord/task_scheduler_test.go
  scripts/run_docker.sh
  scripts/run_go_unittest.sh
  tests/_helm/values/e2e/distributed
  tests/_helm/values/e2e/standalone
  tests/scripts/values/ci/pr-4am.yaml
  tests/scripts/values/ci/pr-arm.yaml
  tests/scripts/values/ci/pr-gpu.yaml
  tests/scripts/values/ci/pr.yaml
  tests/scripts/values/pr.yaml
  tests/scripts/values/qa/pr.yaml
Due: Go

test: [cherry-pick]fix text match (#40296)
  tests/python_client/chaos/testcases/test_all_collections_after_chaos.py
  tests/python_client/common/common_func.py
Due: none

test: fix text match (#40295)
  tests/python_client/chaos/testcases/test_all_collections_after_chaos.py
  tests/python_client/common/common_func.py
Due: none

Update the check for iterator time
  tests/python_client/check/func_check.py
Due: none

enhance: reorder sub expr for conjunct expr
  internal/core/src/common/Types.h
  internal/core/src/exec/expression/AlwaysTrueExpr.cpp
  internal/core/src/exec/expression/AlwaysTrueExpr.h
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.cpp
  internal/core/src/exec/expression/BinaryArithOpEvalRangeExpr.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/CallExpr.h
  internal/core/src/exec/expression/ColumnExpr.h
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/CompareExpr.h
  internal/core/src/exec/expression/ConjunctExpr.cpp
  internal/core/src/exec/expression/ConjunctExpr.h
  internal/core/src/exec/expression/EvalCtx.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/ExistsExpr.h
  internal/core/src/exec/expression/Expr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/JsonContainsExpr.h
  internal/core/src/exec/expression/LogicalBinaryExpr.h
  internal/core/src/exec/expression/LogicalUnaryExpr.h
  internal/core/src/exec/expression/NullExpr.h
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/src/exec/expression/ValueExpr.h
  internal/core/unittest/test_exec.cpp
Due: Core

fix: correct memory size estimation on arrays
  internal/storage/serde.go
  internal/storage/serde_events.go
  internal/storage/serde_events_test.go
Due: Go

enhance: Log start position of delete msgs
  internal/flushcommon/pipeline/flow_graph_dd_node.go
Due: Go

fix: Add duplication param check for create index (#40254)
  internal/proxy/task_index.go
  internal/proxy/task_index_test.go
Due: Go

Update get index params method
  tests/python_client/common/common_func.py
  tests/python_client/common/common_type.py
  tests/python_client/conftest.py
  tests/python_client/load/test_workload.py
  tests/python_client/milvus_client/test_milvus_client_index.py
  tests/python_client/testcases/test_collection.py
  tests/python_client/testcases/test_index.py
  tests/python_client/testcases/test_partition.py
  tests/python_client/testcases/test_search.py
  tests/python_client/utils/util_pymilvus.py
Due: none

enhance: make json path index support term filter (#40140)
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/TermExpr.h
  internal/core/src/segcore/arrow_fs_c.cpp
  internal/core/src/segcore/arrow_fs_c.h
  internal/core/src/segcore/column_groups_c.cpp
  internal/core/src/segcore/column_groups_c.h
  internal/core/src/segcore/packed_reader_c.cpp
  internal/core/src/segcore/packed_writer_c.cpp
  internal/core/unittest/test_column_groups_c.cpp
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_packed_c.cpp
Due: Core

fix UT
  internal/flushcommon/syncmgr/pack_writer_test.go
Due: Go

fix: duplicate consuming from stream for invisble segment
  internal/datacoord/handler.go
Due: Go

enhance: Remove iterators in datanode (#40301)
  internal/compaction/common.go
  internal/compaction/entity_filter.go
  internal/compaction/entity_filter_test.go
  internal/compaction/load_stats.go
  internal/datanode/compactor/clustering_compactor.go
  internal/datanode/compactor/clustering_compactor_test.go
  internal/datanode/compactor/compactor.go
  internal/datanode/compactor/compactor_common.go
  internal/datanode/compactor/executor.go
  internal/datanode/compactor/executor_test.go
  internal/datanode/compactor/l0_compactor.go
  internal/datanode/compactor/l0_compactor_test.go
  internal/datanode/compactor/merge_sort.go
  internal/datanode/compactor/mix_compactor.go
  internal/datanode/compactor/mix_compactor_test.go
  internal/datanode/compactor/mock_compactor.go
  internal/datanode/compactor/priority_queue.go
  internal/datanode/compactor/priority_queue_test.go
  internal/datanode/compactor/segment_record_reader.go
  internal/datanode/compactor/segment_writer.go
  internal/datanode/compactor/segment_writer_bench_test.go
  internal/datanode/compactor/segment_writer_test.go
  internal/datanode/data_node.go
  internal/datanode/iterators/deltalog_iterator.go
  internal/datanode/iterators/deltalog_iterator_test.go
  internal/datanode/iterators/iterator.go
  internal/datanode/services.go
  internal/datanode/services_test.go
  internal/flushcommon/pipeline/data_sync_service.go
  internal/flushcommon/pipeline/flow_graph_dd_node.go
  internal/flushcommon/pipeline/flow_graph_dd_node_test.go
  internal/flushcommon/util/util.go
  internal/indexnode/task_stats.go
  internal/indexnode/task_stats_test.go
Due: Go

enhance: upgrade rust version to 1.83 (#39295)
  build/docker/builder/cpu/amazonlinux2023/Dockerfile
  build/docker/builder/cpu/rockylinux8/Dockerfile
  build/docker/builder/cpu/ubuntu20.04/Dockerfile
  build/docker/builder/cpu/ubuntu22.04/Dockerfile
  build/docker/builder/gpu/ubuntu20.04/Dockerfile
  build/docker/builder/gpu/ubuntu22.04/Dockerfile
  internal/core/thirdparty/opendal/CMakeLists.txt
  scripts/3rdparty_build.sh
  scripts/install_deps.sh
Due: Core

fix UT
  internal/storage/serde.go
Due: Go

ok
  internal/flushcommon/pipeline/flow_graph_dd_node_test.go
Due: Go

fix: fix storage v2 cgo mem leak (#40305)
  internal/storagev2/packed/packed_reader.go
  internal/storagev2/packed/packed_writer.go
Due: Go

add some logs
  internal/querynodev2/delegator/delegator_data.go
Due: Go

enhance: Add metrics for l0 segment rowNum and memSize
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/deletebuffer/list_delete_buffer.go
  internal/querynodev2/segments/segment_l0.go
  pkg/metrics/metrics.go
  pkg/metrics/querynode_metrics.go
Due: Go

Use Flat for stable assertion
  tests/python_client/testcases/test_partition_key.py
Due: none

feature: Add CMEK encryption plugin
  configs/cipher.yaml
  go.mod
  go.sum
  internal/util/hookutil/cipher.go
  internal/util/hookutil/cipher_test.go
  internal/util/hookutil/default.go
  pkg/.mockery_pkg.yaml
  pkg/util/paramtable/cipher_config.go
  pkg/util/paramtable/hook_config.go
  pkg/util/paramtable/runtime.go
Due: Go

adding additional test on array of string
  internal/storage/serde_events_test.go
Due: Go

fix
  internal/core/unittest/bench/bench_json_expr.cpp
  internal/core/unittest/bench/bench_search.cpp
Due: Core

test: update test cases
  tests/python_client/milvus_client/test_milvus_client_collection.py
  tests/python_client/milvus_client/test_milvus_client_search.py
  tests/python_client/testcases/test_collection.py
  tests/python_client/testcases/test_partition.py
  tests/python_client/testcases/test_utility.py
Due: none

fix: [GoSDK] Pass only valid data for nullable column
  client/column/array.go
  client/column/generic_base.go
  client/column/nullable.go
  client/column/nullable_test.go
  client/entity/field.go
Due: Client

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
