Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

fix: keep group-by values aligned with PKs when sorting equal scores
  internal/core/src/segcore/reduce/Reduce.cpp
  tests/python_client/milvus_client_v2/test_milvus_client_search_group_by.py
Due: Core

fix: keep group-by values aligned with PKs when sorting equal scores
  internal/core/src/segcore/reduce/Reduce.cpp
Due: Core

chore: upgrade knowhere to v3.0.4
  internal/core/conanfile.py
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

test: migrate stale err_code in async_milvus_client and indexes dirs
  tests/python_client/testcases/async_milvus_client/test_collection_async.py
  tests/python_client/testcases/async_milvus_client/test_index_async.py
  tests/python_client/testcases/async_milvus_client/test_partition_async.py
  tests/python_client/testcases/indexes/idx_hnsw_pq.py
  tests/python_client/testcases/indexes/idx_hnsw_sq.py
  tests/python_client/testcases/indexes/test_faiss.py
Due: none

test: drop stale xfail on drop_collection_function CRUD tests
  tests/python_client/testcases/test_text_embedding_function_e2e.py
Due: none

feat: add result cache function for expr (#48873)
  configs/milvus.yaml
  docs/design-docs/design_docs/20260602-expression-result-cache.md
  internal/core/src/common/init_c.cpp
  internal/core/src/common/init_c.h
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/CacheCompressor.cpp
  internal/core/src/exec/expression/CacheCompressor.h
  internal/core/src/exec/expression/DiskSlotFile.cpp
  internal/core/src/exec/expression/DiskSlotFile.h
  internal/core/src/exec/expression/EntryPool.cpp
  internal/core/src/exec/expression/EntryPool.h
  internal/core/src/exec/expression/ExistsExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/ExprCache.cpp
  internal/core/src/exec/expression/ExprCache.h
  internal/core/src/exec/expression/ExprCacheHelper.h
  internal/core/src/exec/expression/ExprCacheTest.cpp
  internal/core/src/exec/expression/JsonContainsExpr.cpp
  internal/core/src/exec/expression/TermExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/operator/FilterBitsNode.cpp
  internal/core/src/index/TextMatchIndexTest.cpp
  internal/util/initcore/init_core.go
  internal/util/initcore/query_node.go
  internal/util/initcore/util.go
  internal/util/pathutil/path_util.go
  pkg/util/paramtable/component_param.go
Due: Core, Go

fix: preserve nullable expr rewrite semantics
  internal/parser/planparserv2/rewriter/README.md
  internal/parser/planparserv2/rewriter/entry.go
  internal/parser/planparserv2/rewriter/range.go
  internal/parser/planparserv2/rewriter/range_test.go
  internal/parser/planparserv2/rewriter/term_in.go
  internal/parser/planparserv2/rewriter/term_in_test.go
  internal/parser/planparserv2/rewriter/util.go
Due: Go

fix: preserve path nullable rewrite semantics
  internal/parser/planparserv2/parser_visitor.go
  internal/parser/planparserv2/rewriter/README.md
  internal/parser/planparserv2/rewriter/entry.go
  internal/parser/planparserv2/rewriter/range_json_test.go
  internal/parser/planparserv2/rewriter/range_test.go
  internal/parser/planparserv2/rewriter/term_in.go
  internal/parser/planparserv2/rewriter/term_in_test.go
  internal/parser/planparserv2/rewriter/util.go
Due: Go

fix: guard json array missing path rewrites
  internal/parser/planparserv2/rewriter/entry.go
  internal/parser/planparserv2/rewriter/range_json_test.go
  internal/parser/planparserv2/rewriter/term_in.go
  internal/parser/planparserv2/rewriter/util.go
Due: Go

fix: adapt nullable expr optimizer backport to 2.6
  internal/parser/planparserv2/rewriter/util.go
Due: Go

test: Enable vortex storage in Helm test values (#50442)
  tests/_helm/values/e2e-amd/distributed-pulsar
  tests/_helm/values/e2e-amd/standalone
  tests/_helm/values/e2e-arm/distributed-pulsar
  tests/_helm/values/e2e-arm/standalone
  tests/_helm/values/e2e/distributed-pulsar
  tests/_helm/values/e2e/standalone
  tests/_helm/values/nightly/distributed-woodpecker
  tests/_helm/values/nightly/distributed-woodpecker-service
Due: none

reject insert when dim and element count are not valid
  internal/proxy/util.go
  internal/proxy/util_test.go
  internal/proxy/validate_util.go
  internal/proxy/validate_util_test.go
Due: Go

fix: reject search iterator v2 in hybrid search
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
Due: Go

fix: [cp2.6] avoid double-joining full textlog paths in datacoord GC
  internal/datacoord/garbage_collector.go
  internal/datacoord/garbage_collector_test.go
  pkg/util/metautil/binlog.go
  pkg/util/metautil/binlog_test.go
Due: Go

fix: tighten DQL backpressure scheduling (#49707)
  internal/proxy/dql_backpressure_controller.go
  internal/proxy/dql_backpressure_controller_test.go
  internal/proxy/task_scheduler.go
  internal/proxy/task_scheduler_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/execute_sub_tasks_test.go
Due: Go

feat: gate the shard split redistribution drain on the fence-flush checkpoint
  internal/datacoord/shard_split_executor.go
  internal/datacoord/shard_split_executor_test.go
  internal/datacoord/shard_split_manager.go
  internal/datacoord/shard_split_manager_test.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
Due: Go

fix: [2.6] avoid access log trace id panic (#50223) (#50565)
  internal/proxy/accesslog/formater_test.go
  internal/proxy/accesslog/info/grpc_info.go
Due: Go

enhance: skip search requery for namespace partition mode (#50596)
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
Due: Go

fix float64 data is not imported
  internal/util/importutilv2/parquet/field_reader_test.go
  internal/util/importutilv2/parquet/struct_field_reader.go
Due: Go

fix test
  internal/proxy/util.go
  internal/proxy/util_test.go
Due: Go

update
  tests/restful_client_v2/testcases/test_jobs_operation.py
Due: none

fix: reject unrefreshed external fields
  internal/core/src/segcore/ChunkedSegmentSealedImpl.cpp
  internal/core/src/segcore/ChunkedSegmentSealedImpl.h
  internal/core/unittest/test_external_take.cpp
  tests/python_client/milvus_client/test_milvus_client_external_table.py
Due: Core

address comment
  internal/util/importutilv2/parquet/field_reader_test.go
  internal/util/importutilv2/parquet/struct_field_reader.go
Due: Go

refactor: model the per-shard routing predicate as a oneof of range/hash lists
  internal/datacoord/shard_split_executor.go
  internal/datacoord/shard_split_executor_test.go
  internal/datacoord/shard_split_planner.go
  internal/metastore/model/collection.go
  internal/metastore/model/collection_routing_test.go
  internal/proxy/meta_cache.go
  internal/proxy/range_routing_test.go
  internal/rootcoord/ddl_callbacks_commit_shard_split_routing_test.go
  internal/rootcoord/root_coord.go
Due: Go

fix: recheck read task deadline before execution (#49707)
  internal/util/searchutil/scheduler/concurrent_safe_scheduler.go
  internal/util/searchutil/scheduler/concurrent_safe_scheduler_test.go
Due: Go

fix: check read task deadline before pre-execute (#49707)
  internal/util/searchutil/scheduler/concurrent_safe_scheduler.go
  internal/util/searchutil/scheduler/concurrent_safe_scheduler_test.go
Due: Go

fix: [2.6] avoid double-joining full textlog paths in datacoord GC (#50629)
  internal/datacoord/garbage_collector.go
  internal/datacoord/garbage_collector_test.go
  pkg/util/metautil/binlog.go
  pkg/util/metautil/binlog_test.go
Due: Go

fix: keep empty highlight results for nullable strings
  internal/proxy/highlighter.go
  internal/proxy/search_pipeline_test.go
Due: Go

fix import issue
  internal/util/importutilv2/parquet/field_reader_test.go
  internal/util/importutilv2/parquet/struct_field_reader.go
Due: Go

fix: correct parquet sparse vector dimension
  internal/util/importutilv2/parquet/field_reader.go
  internal/util/importutilv2/parquet/field_reader_test.go
Due: Go

enhance: [2.6] update knowhere version (#50611)
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

enhance: upgrade knowhere to v3.0.4 (#50612)
  internal/core/conanfile.py
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

test: add REST import 2PC coverage (#50462)
  tests/python_client/cdc/conftest.py
  tests/python_client/cdc/stablity/test_concurrent_operation.py
  tests/python_client/cdc/stablity/test_single_request_operation.py
  tests/python_client/cdc/testcases/test_import_2pc.py
  tests/python_client/chaos/checker.py
  tests/restful_client_v2/README.md
  tests/restful_client_v2/api/milvus.py
  tests/restful_client_v2/base/testbase.py
  tests/restful_client_v2/config/log_config.py
  tests/restful_client_v2/conftest.py
  tests/restful_client_v2/pytest.ini
  tests/restful_client_v2/requirements.txt
  tests/restful_client_v2/testcases/test_alias_operation.py
  tests/restful_client_v2/testcases/test_collection_operations.py
  tests/restful_client_v2/testcases/test_database_operation.py
  tests/restful_client_v2/testcases/test_embedding_rerank_function.py
  tests/restful_client_v2/testcases/test_external_collection_operations.py
  tests/restful_client_v2/testcases/test_geometry_operations.py
  tests/restful_client_v2/testcases/test_import_2pc_infra_dependent.py
  tests/restful_client_v2/testcases/test_import_2pc_operation.py
  tests/restful_client_v2/testcases/test_index_operation.py
  tests/restful_client_v2/testcases/test_jobs_operation.py
  tests/restful_client_v2/testcases/test_partial_update.py
  tests/restful_client_v2/testcases/test_partition_operation.py
  tests/restful_client_v2/testcases/test_restful_sdk_mix_use_scenario.py
  tests/restful_client_v2/testcases/test_role_operation.py
  tests/restful_client_v2/testcases/test_timestamptz.py
  tests/restful_client_v2/testcases/test_user_operation.py
  tests/restful_client_v2/testcases/test_vector_operations.py
  tests/restful_client_v2/utils/constant.py
  tests/restful_client_v2/utils/util_log.py
  tests/scripts/ci_e2e_4am.sh
  tests/scripts/ci_e2e_with_restful.sh
Due: none

feat: flush the fence-sealed segments when the flusher consumes SplitShard
  internal/flushcommon/pipeline/flow_graph_dd_node.go
  internal/flushcommon/util/msg_handler.go
  internal/mocks/flushcommon/mock_util/mock_MsgHandler.go
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl.go
  internal/streamingnode/server/flusher/flusherimpl/msg_handler_impl_test.go
  pkg/streaming/util/message/adaptor/message.go
  pkg/streaming/util/message/adaptor/message_test.go
  pkg/streaming/util/message/adaptor/message_type.go
  pkg/streaming/util/message/adaptor/ts_msg_newer.go
Due: Go

fix: [2.6] keep group-by values aligned with PKs when sorting equal scores (#50621)
  internal/core/src/segcore/reduce/Reduce.cpp
  tests/python_client/milvus_client_v2/test_milvus_client_search_group_by.py
Due: Core

fix: [poc_2.6.17] keep group-by values aligned with PKs when sorting equal scores (#50623)
  internal/core/src/segcore/reduce/Reduce.cpp
Due: Core

test: skip err_code 0 placeholder in func_check code assertion
  tests/python_client/check/func_check.py
Due: none

fix: resolve flaky TestWait in vralloc due to missed cond signal
  pkg/util/vralloc/alloc_test.go
Due: Go

test: remove stale xfail on TextEmbedding drop-function e2e tests
  tests/python_client/testcases/test_text_embedding_function_e2e.py
Due: none

Path conditions:
  Client: any of: client/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Core: any of: internal/core/**, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
  Go: any of: pkg/**, internal/**, but not: internal/core/**, LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, internal/metastore/db/dbmodel/mocks/.*, **/mock_*.go
