Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 77%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

fix
  internal/core/src/common/QueryResult.h
  internal/core/src/query/SearchOnGrowing.cpp
  internal/core/src/query/SearchOnSealed.cpp
Due: Core

test: fix iter search assert
  tests/python_client/testcases/test_full_text_search.py
Due: none

test: update pymilvus version and test cases
  tests/python_client/requirements.txt
  tests/python_client/testcases/test_query.py
Due: none

test: Add a test for iterator enhancement (#37296)
  tests/python_client/requirements.txt
  tests/python_client/testcases/test_alias.py
  tests/python_client/testcases/test_mix_scenes.py
  tests/python_client/testcases/test_query_iterator.py
Due: none

cp iterator enhancement tests
  tests/python_client/requirements.txt
  tests/python_client/testcases/test_alias.py
  tests/python_client/testcases/test_mix_scenes.py
  tests/python_client/testcases/test_query_iterator.py
Due: none

fix: fix wrong method is called to fetch variable valid data
  internal/core/src/exec/expression/ColumnExpr.cpp
  internal/core/src/segcore/SegmentChunkReader.cpp
Due: Core

test: add fts beir test
  tests/python_client/perf_test/full_text_search_perf/conftest.py
  tests/python_client/perf_test/full_text_search_perf/testcases/test_benchmark.py
Due: none

test: add fts beir test
  tests/python_client/perf_test/full_text_search_perf/testcases/test_benchmark.py
Due: none

fix: Rectify `OffsetOrderedArray` contain logic
  internal/core/src/segcore/InsertRecord.h
Due: Core

fix: [cp24]l0RowCount metrics value always empty
  internal/datacoord/segment_info.go
Due: Go

enhance: load deltalogs on demand when doing compactions
  internal/datanode/compaction/clustering_compactor.go
  internal/datanode/compaction/compactor_common.go
  internal/datanode/compaction/merge_sort.go
  internal/datanode/compaction/mix_compactor.go
  internal/datanode/compaction/mix_compactor_test.go
Due: Go

Set current partition stats version to 0 by default when not present
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/partition_stats_meta.go
  internal/datacoord/partition_stats_meta_test.go
  internal/metastore/kv/datacoord/kv_catalog.go
Due: Go

fix hasCollection response has no status
  internal/proxy/task.go
  internal/proxy/task_test.go
Due: Go

fix: [2.4] Rectify `OffsetOrderedArray` contain logic (#37309)
  internal/core/src/segcore/InsertRecord.h
Due: Core

fix: Rectify `OffsetOrderedArray` contain logic (#37305)
  internal/core/src/segcore/InsertRecord.h
Due: Core

Update Knowhere version
  internal/core/thirdparty/knowhere/CMakeLists.txt
Due: Core

fix: make sure alias is cached
  internal/proxy/meta_cache.go
Due: Go

test: update pymilvus version and test cases (#37301)
  tests/python_client/requirements.txt
  tests/python_client/testcases/test_query.py
Due: none

test: update checker (#37275)
  tests/python_client/chaos/checker.py
  tests/python_client/chaos/testcases/test_get_collections.py
  tests/python_client/common/common_func.py
  tests/python_client/testcases/test_full_text_search.py
Due: none

enhance: reserve vector space to reduce reallocate cost in Views() and StringViews() (#37182)
  internal/core/src/mmap/Column.h
Due: Core

enhance: [2.5] reserve vector space to reduce reallocate cost in Views() and StringViews() (#37212)
  internal/core/src/mmap/Column.h
Due: Core

enhance: [2.4] Release compacted growing segment if in dropped list (#37245) (#37266)
  internal/querycoordv2/checkers/segment_checker.go
  internal/querycoordv2/checkers/segment_checker_test.go
Due: Go

fix: [2.5] Rectify `OffsetOrderedArray` contain logic (#37305) (#37316)
  internal/core/src/segcore/InsertRecord.h
Due: Core

fix: crash when startup if the milvus volume is on-operation concurrently
  internal/core/src/storage/LocalChunkManager.cpp
Due: Core

fix: Skip mark compaction timeout for mix and l0 compaction (#37118) (#37194)
  configs/milvus.yaml
  internal/datacoord/compaction.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_l0_test.go
  internal/datacoord/compaction_task_mix.go
  internal/datacoord/compaction_task_mix_test.go
  internal/datacoord/compaction_test.go
  pkg/util/paramtable/component_param.go
Due: Go

test: add fts beir test
  tests/python_client/perf_test/full_text_search_perf/milvus_locust.py
Due: none

fix: mask with valid data when preCheckOverflow(#37221) (#37222)
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/unittest/test_expr.cpp
Due: Core

fix: mask with valid data when preCheckOverflow (#37221)
  internal/core/src/exec/expression/BinaryRangeExpr.cpp
  internal/core/src/exec/expression/BinaryRangeExpr.h
  internal/core/src/exec/expression/Expr.h
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/exec/expression/UnaryExpr.h
  internal/core/unittest/test_expr.cpp
Due: Core

enhance: refactor createIndex in RESTful API(#37235)
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/utils.go
  tests/restful_client_v2/testcases/test_index_operation.py
Due: Go

enhance: refactor createIndex in RESTful API
  internal/distributed/proxy/httpserver/handler_v2.go
  internal/distributed/proxy/httpserver/handler_v2_test.go
  internal/distributed/proxy/httpserver/utils.go
  tests/restful_client_v2/testcases/test_index_operation.py
Due: Go

test: add restful cases for full text search and some minor fix
  tests/restful_client_v2/api/milvus.py
  tests/restful_client_v2/base/testbase.py
  tests/restful_client_v2/testcases/test_collection_operations.py
  tests/restful_client_v2/testcases/test_index_operation.py
  tests/restful_client_v2/testcases/test_vector_operations.py
  tests/restful_client_v2/utils/utils.py
Due: none

test: update index params
  tests/restful_client_v2/testcases/test_index_operation.py
Due: none

update
  tests/restful_client_v2/testcases/test_jobs_operation.py
Due: none

fix: Search/Query may failed during updating delegator cache
  internal/proxy/lb_policy.go
  internal/proxy/meta_cache.go
  internal/proxy/shard_client.go
Due: Go

fix: [cp25]Saperate L0 and Mix trigger interval
  configs/milvus.yaml
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_v2.go
  pkg/util/paramtable/component_param.go
  tests/integration/compaction/compaction_test.go
  tests/integration/compaction/l2_single_compaction_test.go
Due: Go

fix: [25]Exlude L0 compaction when clustering is executing (#37141) (#37230)
  internal/datacoord/compaction.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_l0_test.go
Due: Go

test: fix
  tests/python_client/perf_test/full_text_search_perf/milvus_locust.py
Due: none
