Repository milvus-io/milvus: changes, and which Codecov flags are due for each by the changed paths.
All: Client, Core, Go

codecov.yml:

# Configuration File for CodeCov
codecov:
  require_ci_to_pass: no
  notify:
    require_ci_to_pass: no
    wait_for_ci: false
  ci:
    - jenkins.milvus.io:18080
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 69%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 80%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore

comment:
  layout: "reach, diff, flags, components, files"
  behavior: default
  require_changes: false
  branches: # branch names that can post comment
    - master
 
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: client
      name: Client
      paths:
        - client/**

    - component_id: core
      name: Core
      paths:
        - internal/core/**


    - component_id: go
      name: Go
      paths:
        - pkg/**
        - internal/**
        - "!internal/core/**"  # Exclude core component

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "internal/metastore/db/dbmodel/mocks/.*"
  - "**/mock_*.go"

Update all contributors
  README.md
  README_CN.md
Due: none

fix: Fix Fix replication txn data loss during chaos
  internal/proxy/replicate/replicate_stream_server.go
Due: Go

Adds support for `minimum_should_match` in the text_match function, text-match examples and godoc.
  client/milvusclient/read_example_test.go
  client/milvusclient/read_test.go
  go.mod
  go.sum
  internal/core/src/exec/expression/UnaryExpr.cpp
  internal/core/src/index/TextMatchIndex.cpp
  internal/core/src/index/TextMatchIndex.h
  internal/core/src/index/TextMatchIndexTest.cpp
  internal/core/thirdparty/tantivy/tantivy-binding/include/tantivy-binding.h
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text.rs
  internal/core/thirdparty/tantivy/tantivy-binding/src/index_reader_text_c.rs
  internal/core/thirdparty/tantivy/tantivy-wrapper.h
  internal/parser/planparserv2/Plan.g4
  internal/parser/planparserv2/generated/Plan.interp
  internal/parser/planparserv2/generated/Plan.tokens
  internal/parser/planparserv2/generated/PlanLexer.interp
  internal/parser/planparserv2/generated/PlanLexer.tokens
  internal/parser/planparserv2/generated/plan_base_visitor.go
  internal/parser/planparserv2/generated/plan_lexer.go
  internal/parser/planparserv2/generated/plan_parser.go
  internal/parser/planparserv2/generated/plan_visitor.go
  internal/parser/planparserv2/parser_visitor.go
  tests/go_client/testcases/full_text_search_test.go
Due: Client, Core, Go

fix: Ensure fulfill promise when CreateArrowFileSystem throw an exception (#44975)
  internal/core/src/storage/StorageV2FSCache.cpp
Due: Core

Fixes: golang test TestTextMatchMinimumShouldMatch
  tests/go_client/testcases/full_text_search_test.go
Due: none

Fix: Removes linter changes that were inadvertently added by the editor
  internal/core/src/exec/expression/UnaryExpr.cpp
Due: Core

Adds a test to increase coverage and cover changes to parser_visitor
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

fix: Handle empty FieldsData in reduce/rerank for requery scenario
  internal/proxy/search_reduce_util.go
  internal/proxy/search_reduce_util_test.go
Due: Go

fix: Fix bug for gis function to filter geometry (#44966)
  internal/core/src/exec/expression/GISFunctionFilterExpr.h
  internal/core/src/segcore/FieldIndexing.cpp
Due: Core

enhance: support resource group with WAL-based DDL framework (#44874)
  internal/querycoordv2/ddl_callbacks.go
  internal/querycoordv2/ddl_callbacks_alter_resource_group.go
  internal/querycoordv2/ddl_callbacks_drop_resource_group.go
  internal/querycoordv2/meta/resource_group.go
  internal/querycoordv2/meta/resource_manager.go
  internal/querycoordv2/meta/resource_manager_test.go
  internal/querycoordv2/server.go
  internal/querycoordv2/server_test.go
  internal/querycoordv2/services.go
  internal/querycoordv2/services_test.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
  pkg/proto/querypb/query_coord_grpc.pb.go
Due: Go

Additional testcase to increase coverage.
  internal/parser/planparserv2/plan_parser_v2_test.go
Due: Go

fix: wrong execution order of DDL/DCL on secondary
  internal/distributed/streaming/replicate_service_test.go
  internal/distributed/streaming/streaming_test.go
  internal/proxy/replicate/replicate_stream_server.go
  internal/streamingcoord/server/balancer/channel/manager.go
  internal/streamingcoord/server/broadcaster/ack_callback_scheduler.go
  internal/streamingcoord/server/broadcaster/broadcast_manager.go
  internal/streamingcoord/server/broadcaster/broadcast_scheduler.go
  internal/streamingcoord/server/broadcaster/broadcast_task.go
  internal/streamingcoord/server/service/assignment.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/manager_test.go
  internal/streamingnode/server/wal/interceptors/replicate/replicates/txn.go
  internal/streamingnode/server/wal/interceptors/shard/shard_interceptor.go
  internal/streamingnode/server/wal/interceptors/txn/session_test.go
  internal/streamingnode/server/wal/recovery/recovery_storage_impl.go
  internal/streamingnode/server/wal/recovery/replicate_checkpoint_test.go
  pkg/mocks/streaming/util/mock_message/mock_MutableMessage.go
  pkg/streaming/util/message/builder.go
  pkg/streaming/util/message/builder_test.go
  pkg/streaming/util/message/message.go
  pkg/streaming/util/message/message_impl.go
  pkg/util/funcutil/func.go
Due: Go

fix: rollback the txn if begin txn message is repeated
  internal/streamingnode/server/wal/utility/txn_buffer.go
Due: Go

fix: [2.6]Ensure fulfill promise when CreateArrowFileSystem throw an exception (#44976)
  internal/core/src/storage/StorageV2FSCache.cpp
Due: Core

fix:fix valid ut test of TestUnaryRangeJsonNullable
  internal/core/src/exec/expression/ExprTest.cpp
Due: Core

fix: fix "at most one distinct index is allowed per field" in STRUCT index [2.6] (#44970)
  internal/datacoord/index_service.go
Due: Go

fix:fix valid ut test of TestUnaryRangeJsonNullable (#44990)
  internal/core/src/exec/expression/ExprTest.cpp
Due: Core

fix: [2.6][skip e2e]use eventual assertion for pending message check in replicate stream test (#44972) (#44987)
  internal/cdc/replication/replicatestream/replicate_stream_client_impl_test.go
Due: Go

enhance: [StorageV2] add manifest path support for FFI integration
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/services.go
  internal/flushcommon/metacache/segment.go
  internal/flushcommon/syncmgr/meta_writer.go
  internal/flushcommon/syncmgr/task.go
  internal/querycoordv2/utils/types.go
  pkg/proto/data_coord.proto
  pkg/proto/datapb/data_coord.pb.go
  pkg/proto/query_coord.proto
  pkg/proto/querypb/query_coord.pb.go
Due: Go

test: Increase PyMilvus version to 2.7.0rc47
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.6.3rc13
  tests/python_client/requirements.txt
Due: none

test: Increase PyMilvus version to 2.5.17rc2
  tests/python_client/requirements.txt
Due: none

enhance: [StorageV2] Integrate FFI reader to packed reader API
  internal/core/src/storage/CMakeLists.txt
  internal/core/src/storage/StorageV2FSCache.cpp
  internal/core/src/storage/ffi/CMakeLists.txt
  internal/core/src/storage/ffi/ffi_reader_c.cpp
  internal/core/src/storage/ffi/ffi_reader_c.h
  internal/core/src/storage/ffi/util.cpp
  internal/core/src/storage/ffi/util.h
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
  internal/storage/rw.go
  internal/storage/serde_events_v2.go
  internal/storage/serde_events_v2_test.go
  internal/storagev2/packed/packed_reader_ffi.go
  internal/storagev2/packed/type.go
Due: Core, Go

Update comments
  internal/core/src/storage/ffi/ffi_reader_c.h
Due: Core

fix: fix not equal not include None
  internal/core/src/exec/expression/ExprTest.cpp
  internal/core/src/exec/expression/UnaryExpr.cpp
Due: Core

enhance: update delta log serialization APIs to integrate storage V2
  internal/flushcommon/syncmgr/pack_writer.go
  internal/flushcommon/syncmgr/pack_writer_test.go
  internal/flushcommon/syncmgr/pack_writer_v2.go
  internal/flushcommon/syncmgr/storage_serializer.go
  internal/flushcommon/syncmgr/storage_serializer_test.go
  internal/storage/rw.go
  internal/storage/serde.go
  internal/storage/serde_delta.go
  internal/storage/serde_delta_test.go
  internal/storage/serde_events.go
  internal/storage/serde_events_v2.go
  internal/storage/serde_events_v2_test.go
  internal/storage/sort_test.go
  internal/storage/stats_collector.go
  internal/storage/stats_collector_test.go
Due: Go

fix done
  internal/querycoordv2/task/utils.go
Due: Go

Update commit
  internal/core/thirdparty/milvus-storage/CMakeLists.txt
Due: Core

fix: ut
  internal/streamingcoord/server/service/assignment.go
  internal/streamingcoord/server/service/assignment_test.go
  internal/streamingnode/server/wal/utility/txn_buffer.go
Due: Go

fix: Handle JSON field default values in storage layer
  internal/storage/utils.go
  internal/storage/utils_test.go
Due: Go

test: add geometry datatype testcases
  tests/python_client/geometry_comprehensive_test.py
  tests/python_client/milvus_client/test_milvus_client_geometry.py
  tests/python_client/requirements.txt
Due: none

impl done
  internal/proxy/proxy_test.go
  internal/proxy/util.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/json/row_parser.go
  internal/util/importutilv2/json/row_parser_test.go
  pkg/util/typeutil/schema.go
  tests/integration/datanode/struct_array_test.go
  tests/integration/getvector/array_struct_test.go
  tests/integration/import/binlog_test.go
  tests/integration/import/vector_array_test.go
Due: Go

fix: Fix Fix replication txn data loss during chaos (#44963)
  internal/proxy/replicate/replicate_stream_server.go
Due: Go

enhance: optimize the performace of bitmap reverse lookup (#44804) (#44958)
  internal/core/src/index/BitmapIndex.cpp
Due: Core

fix:fix ut of not equal for null
  internal/core/src/exec/expression/ExprTest.cpp
Due: Core

[automated] Bump milvus version to v2.6.4 (#45004)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

[automated] Bump milvus version to v2.6.4 (#45005)
  deployments/binary/README.md
  deployments/docker/cluster-distributed-deployment/inventory.ini
  deployments/docker/gpu/standalone/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Due: none

fix: Handle JSON field default values in storage layer (#44999)
  internal/storage/utils.go
  internal/storage/utils_test.go
Due: Go
